@import "../../block.less";
html{
	.h(80%);
}
body{
	.h(80%);
}
.main{
	.w(100%);
	.h(100%);
	background:url("@{pic_url}/images/activity/music_festival/question_bg.jpg") no-repeat;
	background-size: 100%;
	.logo{
		.w(18%);
		.mt(4%);
		.ml(9%);
	}
	.center{
		.block();
		margin-right: auto;
		margin-left: auto;
	}
	.question-title{
		.w(63%);
		.mt(8%);
	}
	.tab{
		.w(84%);
		.mt(4%);
		.tab_menu { 
			.w(100%);
			clear:both;
		}
		.tab_menu li { 
			.w(19%);
		 	.left();
		 	.f(30*@px);
		 	.l(40px);
		 	.c();
		 	list-style:none; 
		 	.mr(1%);
		 	.bgc(#ff32a8); 
		 	.fc(#fff);
		 }
		.tab_menu li.selected { 
			.fc(#000);
			.bgc(#ff84cb);
		}
		.tab_box { 
			.w(98.2%);
			.h(35%);
			clear:both; 
			border:1px solid #ff84cb; 
			.c();
			.people{
				.f(48*@px);
				.fc(#fff);
				.mt(40px);
				.mb(20px);
				span{
					.f(58*@px);
					.fc(#ff32a8);
				}
			}
			.data{
				.f(60*@px);
				.fc(#fff);
				.mb(20px);
				span{
					.f(88*@px);
					.fc(#ff32a8);
				}
			}
			.month{
				.f(62*@px);
				.fc(#fff);
				.mt(40px);
				.mb(28px);
				span{
					.f(78*@px);
					.fc(#ff32a8);
				}
			}
			.ticket-text{
				.f(62*@px);
				.fc(#fff);
				.mb(23px);
			}
		}
		.hide{
			display:none
		}
	}
	.list-button{
		.mt(4%);
	}
	.share-button{
		.mt(2%);
	}

	.button{
		.w(58%);
	}
	.inter-button{
		.w(62%);
		.mt(8%);
	}
	.popwin{
		.pa();
		visibility: hidden;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background:url("@{pic_url}/images/activity/music_festival/popwin_bg.png") no-repeat;
		background-size: 100%;
		.know{
			.pa();
			.w(62%);
			top: 54%;
			bottom: 0;
			left: 19%;
			right: 0;
		}
	}
	
	
}

/* 分享 */
.starBox { .star_box;}