@import "../../block.less";

html,body { .h(100%);}
body { .bgc(#1c1c22);}
img { .w(100%); .block;}


.wrap {
	.h(100%);
	background: url("http://d01.res.meilishuo.net/pic/_o/58/2e/8c8c1a55d2ed14fda3493dc47350_640_1136.cg.jpg") no-repeat;
	background-size: 100% 100%;

	.circle { 
		.w(75%); .mt(15%); .auto; .pr;
		a { .block; .pa; bottom: 5%; .h(20%); left: 0; .w(100%);}
	}
	.shareBtn { .w(70%); .mt(10%); .auto;}
}

/* 分享 */
.starBox {  .star_box; .hidden;}

.appshare{ .none; .pf; bottom: 0; left: 0; right: 0; }

/*dialog*/
.dialog();
.dialog {
	#maskLayer { background:rgba(0 ,0 ,0 , 0.8);}
	#dialogLayer { 
		background: none;
		box-shadow: none;
		.dialogTitle { .none;}
	}
}
.dialog_share {
	.share_pic {
		.w(445*@px); .h(323*@px); .i_block; .bgc(#331621);
		background: url("http://d05.res.meilishuo.net/pic/_o/e5/1b/a7f31171a013499aea390cf2f38f_445_323.cf.png");
		background-size: 100% 100%;
	}
}