@import "../../block.less";
body { .bgc(#1c1c22);}
img { .w(100%); .block; }

.wrap { 
	.h(100%); .pl(8%); .pr(8%); .pt(10%); .pb(10%);
	background: url("http://d01.res.meilishuo.net/pic/_o/58/2e/8c8c1a55d2ed14fda3493dc47350_640_1136.cg.jpg") no-repeat;
	background-size: 100% 100%;

	.logo { .w(50%); }
	h1 { .fc(#797a88); .f(28*@px); .pt(5%); .l(38*@px);}
	.info {
		.mt(10%); .pt(15%); .pb(10%); .w(70%); .auto; .pl(10%); .pr(10%);
		background: rgba(22, 23, 31, 0.7);
		h2 { .fc(#ff579d); .f(30*@px); border-bottom: 2px solid #ff579d; .pb(16*@px); .mb(2px);}
		h3 { .pt(20px); .c;}
		p {
			border-bottom: 1px solid #ff579d;.pt(20*@px);
			&:nth-child(2) { border-top: 1px solid #ff579d; }
		}
		label { .i_block; .vm; .w(20*@px); .h(26*@px);}
		.name { 
			background: url("http://d03.res.meilishuo.net/pic/_o/de/4d/2561bbf978842a040c70cec4a69b_20_25.cf.png") no-repeat;
			background-size: 100% 100%;
		}
		.tel {
			background: url("http://d03.res.meilishuo.net/pic/_o/fa/e4/5619830bba1eaa68cd77e9db7fc9_17_25.cg.png") no-repeat;
			background-size: 100% 100%;
		}
		.address {
			background: url("http://d03.res.meilishuo.net/pic/_o/a1/6c/0e05ab998bafbc368ce53de57c82_19_24.cf.png") no-repeat;
			background-size: 100% 100%;
		}
		.txt { .f(26*@px); .border-n; background: none; .pl(8*@px); .fc(#a9a9a9); .h(30px); .l(30*@px);}
	}
	.submit { .w(88%); .block; .auto; .bgc(#ff75af); .border-r(10*@px); .l(80*@px); .f(38*@px); .fc(#27272c); .c; .border-n; .mt(12%); .fb; }
	dl {
		.pt(10%); .w(88%); .auto;
		dt { 
			.fc(#747686); .f(30*@px); .fb; .l(40*@px); .pl(36*@px);
			background: url("http://d03.res.meilishuo.net/pic/_o/2c/3d/7d8e993153d8d98b4470b301796c_18_18.cg.png") left center no-repeat;
			background-size: 4% 55%;
		}
		dd { .fc(#646678); .f(24*@px); .l(40*@px); .pl(36*@px);}
	}
}
