@import "../common/block.less";
@import "../common/window.less";
@import "../common/dootablock";
@import "../common/block/steps.less";
.steps;
.doota;
.doota > .icon;
.title_icon{background:url("@{pic_url}/images/doota/refund_apply_icon.png") no-repeat;}
.icon_info{.w(978px);.auto;
	.h_icon{.title_icon;.w(164px);.h(34px);.mt(23px);.mb(22px);}
}

.container{
	.count_time{.red}
	.refund_status_bar{
		.mb(10px);
		border:1px solid #e6e6e6;
		.bgwhite;
		padding:20px;
		.flowStep{
			.mt(20px);
		}
		.status_text{
			text-align:center;
			padding:2px;
			margin:20px;
			.btn{
				font-size:14px;
				padding:8px 18px;
			}
			.btn.gray{background:silver;color:black; .ml(25px);}
        }
        .refund_deny{border-top:1px dotted #e6e6e6; .pt(20px);
        	.fc_gray{ .fc(#e6e6e6);}
        }
        
	}
	.refund_info{
		.btn{padding:0 10px;.i_block;}
		.mb(10px);
		border:1px solid #e6e6e6;
		.l(24px);
		.bgwhite;
		padding:20px;
		h4{
			font-size:14px;
			.h(30px);
			.l(30px);
			border-bottom:1px solid #e6e6e6;
		}
		p.t{
			padding:15px 0;
		}
		.l{
			float:left;
		}
		div{
			overflow:hidden;
		}
		.current{
			color:#e60;
		}
		a.red{
			color:@red;
			.ml(20px);
			text-decoration:underline;
		}
		a img{
			.i_block;
			.w(98px);
			.h(98px);
			.mr(9px);
			border:1px solid #e6e6e6;
		}

		.buyer_express,.seller_info{
			border-top:1px dotted #e6e6e6;
		}
		.seller_express,.buyer_express,.buyer_info,.seller_info{
			padding-bottom:10px;
			margin-top:10px;
		}
	}
	.express_form{
		table{width:auto;}
		.mb(10px);
		border:1px solid #e6e6e6;
		.bgwhite;
		.seller_info{
			padding:20px;
			border-bottom:1px solid #e6e6e6;
		}
		.form{
			padding:20px;
			border:0;
			.l(30px);
			td{
				padding:5px 0;
			}
			input.text,input.ipt{
				.h(24px);
				.l(24px);
				.w(220px);
				border:1px solid #e6e6e6;

			}
		}
		.btns{
			.c;
			padding:35px 0;
			.btn{
				color:white;
				.i_block;
				font-size:16px;
				.w(96px);
				.h(30px);
				.l(30px);
				.mr(18px);
			}
			.btn.gray{
				color:black;
				background:silver;
			}
		}
	}

	.w(978px);
	margin:auto;
	.list{
		.bgwhite;
		border:1px solid #e6e6e6;
		border-top:0;
		li{
			padding:20px;
			border-top:1px solid #e6e6e6;
		}
	}
	.icon{
		background:url("@{pic_url}/images/doota/refund_icon.png");
		.w(125px);
		.h(34px);
		margin:20px 0;
	}
	p.title{
		padding:20px 0 10px 0;
	}
	.goods_list{
		ul{
			li{padding:14px 20px;border-top:1px solid #ddd;border-bottom:1px solid #ddd;overflow:hidden;.bgwhite;
				p{
					span{.i_block;.mr(40px);}	
					.first{.ml(0px);}
					.last{.mr(0px);}
				}
			}
		}
		border-top:2px solid @red;
		table{
			tbody.t tr td{
				padding:15px;
				border-bottom:1px solid #e6e6e6;
			}
			td.b{
				border-right:1px solid #e6e6e6;
			}
			td.c{
				text-align:center;
			}
			td,th{.bgwhite;}
			.w(100%);
			.goods td{
				.c;
			}
			.getserviceqq{
				background: url("@{pic_url}/images/serviceqq/service_qq.gif") no-repeat;
				padding: 6px 42px; .ml(5px);
				.indent;
			}
			td.content{
				padding:10px 0;
				span{
					.left;
				}
				img{
					.w(68px);
					.h(68px);
					border:1px solid #e6e6e6;
				}
				a.img_info{
					.left;
					.mr(18px);
					.ml(30px);
				}
				span.t{
					text-align:left;
					.w(230px);
					.l(20px);
					.h(53px);
				}
				span.props{
					.w(230px);
					.gray;
					span{
						.mr(26px);
					}
				}
			}
			tbody.shop td,thead th,tr.goods td,tfoot td,tr.txt td{
				&.first{
					border-left:1px solid #e6e6e6 !important;
				}
				&.last{
					border-right:1px solid #e6e6e6 !important;
				}
			}
			tbody.shop td{
				padding:20px 0 10px 0;
				border-bottom:1px solid #e6e6e6;
			}
			tr.goods td{
				border-bottom:1px dotted #bfbfbf;
			}
			tr.goods td.first,tr.goods td.last{
				border-bottom:0;
			}
			tr.goods.first td,tfoot td{
				border-top:1px solid #e6e6e6;
			}
			tr.goods.last td,tfoot td,tr.last.txt td{
				border-bottom:1px solid #e6e6e6 !important;
			}
			tr.goods td,tr.txt td{
				.pt(20px);
				.pb(20px);
				.border-bd2(dotted);
				vertical-align:middle;
				img{
					.border-d2;
				}
			}
			th{
				.fn;
				border-bottom:1px solid #e6e6e6;
				.p15_0;
			}
			td.result{
				span.l{
					.left;
				}
				span.ml{
					.ml(50px);
				}
				span.total{
					.right;
					.mr(20px);
				}
			}
		}
	}
	.form,.wait_for_check,.wait{
		.mt(10px);
		border:1px solid #e6e6e6;
		padding:20px;
		padding-bottom:60px;
		.bgwhite;
		.l_ipt{
			margin:12px 0 20px 0;
			height:73px;
			.w(890px);

		}
		a{
			.red;
		}
		.cancel{.i_block;.ml(24px);.mt(40px);.common_button; .common_button > .grayBtn; .border-n; .f(16px);padding:0; .w(96px);.l(30px);.h(30px);}
		a.cancel{.dgray}
		.lh{.l(20px);}
		
	}
	.amount{
		.w(36px);
		.h(19px);
		.l(19px);
		.c;
		padding:0;
		margin:0;
		border:1px solid #d2d2d2;
		outline:0;
	}
	.minus,.add{
		.cursor;
		.w(19px);
		.h(19px);
		border:1px solid #d2d2d2;
		.i_block();
		background:url("@{pic_url}/images/doota/add-minus1.png");
		&.disabled{
			background-image:url("@{pic_url}/images/doota/add-minus-gray2.png");
		}
	}
	.minus,.add,.amount{
		float:left;
	}
	.minus{
		.ml(25px);
		border-right:0;
	}
	.add{
		background-position:-19px 0;
		border-left:0;
	}
	.wait_for_check,.wait{
		padding:0;
		padding-bottom:40px;
		.l(20px);
		.mr{
			.mr(50px);
		}
		.no_b{
			border-bottom:0;
			padding-bottom:0;
		}
		div{
			border-bottom:1px solid #e6e6e6;
			padding:20px;
			.l(20px);
			&.alipay_info{
				padding: 0;
				border: 0;
				line-height: 34px;
			}
		};
		.text{
			border:1px solid #e6e6e6;
			.w(218px);
			.h(23px);
			.l(23px);
			padding:0 2px;
		}
		.inputs{
			padding:10px 0;
		}
	}
	.con,.msg{
		.gray;
		a{.red;}
		.w(978px);
		border:1px solid #e6e6e6;
		.bgwhite;
		padding:50px 20px;
		margin:auto;
		.f(18px);
		.mb(20px);
		div.c{
			width:320px;
			margin:auto;
			overflow:hidden;
			div{
				.block;
/*				.left;*/
				.l(42px);
			}
			.txt{
				.pl(62px);
			}
			position:relative;
		}
		div.l{
			.c;
			.money{
				.f(20px);
			}
		}
		.success{
			background:url("@{pic_url}/images/doota/refund_icon.png");
			.w(40px);
			.h(40px);
			.mr(20px);
		}
		.cancel{.ml(24px);.mt(40px);.common_button; .common_button > .grayBtn; .border-n; .f(16px);padding:0; .w(96px);.l(30px);.i_block;.dgray;}
		.i{.i_block;.ml(366px);.mr(24px)}
		.b{.block;margin-left:auto;margin-right:auto}
	}
	.money{
		.red;
		.f(16px);
	}
	.button{.i_block;.ml(348px);.mt(40px);.common_button; .common_button > .redBtn; .border-n; .f(16px);padding:0; .w(96px);.l(30px);text-align:center;color:white !important;.h(30px);}
	.order_c{
		.c;
		.l(42px);
		.ico{
			.i_block;
			background: url("@{pic_url}/images/doota/status_icon.jpg") no-repeat 0 -105px;
			.w(42px);.h(42px);
		}
		.txt{
			padding-top:;
		}
	}
}

.footer();
