@import "../common/block.less";
@import "../common/window.less";
@import "../common/dootablock.less";
@import "../common/block/steps.less";
.bread_crumbs;
.container {.w(978px);.auto;}
.refundGoodsInfo();
.bought_goods{
	border-top:2px solid #F69;.mt(15px);
}
.type_title{.h(42px);.l(42px);.pl(20px);.bgc(#ebe8e8);}
.type_select{.bgwhite;.border-1(#e6e6e6);
	.t_left{.w(472px);border-right: 1px solid #e6e6e6;}
	.t_right{.w(473px);}
	.t_left,.t_right{.left;padding: 50px 0; 
		.select_btn{.pr;.block;.auto;.w(200px);.h(100px);.l(100px);.c;.red;.f(18px);border: 3px solid #f69;.mb(40px);.cursor;
			&:hover{.bgred;.white;}
		}
	    .select_ntb:hover{border: 3px solid #999;.bggray;.white;cursor:text;}
	    #tooltip{.border-1; .pa; .w(250px);background-color:#f7edb5; color:#000;/*top:20px; left:20px;*/}
		p{.l(24px);margin: 0 20px;
			&.title{.f(14px);.mt(10px);.mb(10px);}
			span{.red;}
		}
	}
}
.footer();