@import "../common/block.less";
@import "../common/window.less";
@import "../common/dootablock.less";
@import "../common/block/steps.less";
.steps;
.form_top;
.bread_crumbs;
.flow_step;
.flowStep {
		.flowStep_4 {.w(468px);
			.redline {.w(140px);}
			p {.ml(-140px);}
			.last {.mr(-140px);}
		}
		.flowStep_6 {.w(622px);
			.redline {.w(110px);}
			p {.ml(-110px);}
			.last {.mr(-110px);}
		}
}
.strong-color{
	padding: 0 10px;
	margin-left: 10px;
}
.current_status {.w(936px);.auto;.form_box;padding:20px;
	.cur_txt {.mb(20px);}
}
.slider_tab {.w(978px);.h(36px);.auto;.mt(10px);
		li {.c;.bgwhite;.f(14px);.fb;.left;}
		a {.w(112px);.h(36px);.l(36px);.block;.red;.cursor;}
		.active {.bgred;
			a {.white;}
		}
	}
.container {.w(978px);.auto;border-top:2px solid #F69;.mt(15px);}
.refundGoodsInfo();
.refund_info {.form_box;.mt(10px);padding:20px;
	ul {.pb(20px);border-bottom:1px dotted #CCC;}
	li {.mb(10px);.l(28px);.hidden;.clearfix();
		input.txt {.w(110px);.h(23px);.l(23px);.border-1(@color:#d2d2d2);padding:0 5px;color:#666;}
	}
	label {.w(70px);.tr;.left;}
	textarea {.w(810px);.border-1(@color:#d2d2d2);color:#666;.f(12px);.h(60px);padding:5px;}
	.reason-tip{.left();}
	.yuan {padding:0 10px;}
	.upload_btn {.w(90px);.h(28px);.l(28px);.mr(10px);.c;.bgc(#f2f2f2);.border-1(@color:#c5c5c5);.border-r(@radius:3px);.left;}
	.imgUpload {.left;.w(98px);.h(98px);.border-1(@color:#ccc);margin:10px 0 0 10px;
		img {.w(98px);.h(98px);}
	}
	.submit,.cancel {.border-r(@radius:3px);margin:20px 10px 0;.f(16px);.cursor;}
	.submit {.w(96px);.h(30px);border:0;.bgred;.white;}
	.cancel {.w(94px);.h(28px);.border-1(@color:#c5c5c5);.bgc(#f2f2f2);color:#666;}
}
.must {.red;.mr(5px);vertical-align:-2px;}
.img_wrapper{.mt(-20px);.mb(20px);
	.imgUpload {.left;.w(98px);.h(98px);.border-1(@color:#e6e6e6);.mr(9px);position:relative;
		.close{position:absolute;top:0;right:0;z-index:3;.w(18px);.h(18px);.i_block;background:url("@{pic_url}/images/doota/remove_pic.png")}
		img,a {.w(98px);.h(98px);.block;.cursor;}
	}
}
.img_wrapper.no-mt{
	.mt(0px);
}
.footer();
.appealtimes_tip{
	color: #F69;
}