@import "./block.less";
img{ .block; .w(100%); }

html {
  font-size : 62.5%; /* 10/16 = 62.5% */
}

@media (-webkit-min-device-pixel-ratio : 1.5) {
  html {
    font-size : 50%; /* 8/16 = 50% */
  }
}

@media (-webkit-min-device-pixel-ratio : 2) {
  html {
    font-size : 43.75%; /* 7/16 = 43.75% */
  }
}

@media (-webkit-min-device-pixel-ratio : 3) {
  html {
    font-size : 43.75%; /* 5/16 = 31.25% */
  }
}
html,body{
    .bgc(#fff);
}
.circle-box{
    .c;
    .mt(2.5rem);
    .ml(2.0rem);
    .mr(2.0rem);
    .pt(2.5rem);
    .pb(2.5rem);
    .bgc(#f8f8f8);
    border: solid 1px #efefef;
    border-radius: 4px;
    .portrait{
        .block;
        .w(7rem);
        margin: 0 auto;
        img{
            border-radius: 50%;
            .w(7rem);
            .h(7rem);
        }
    }
    .title{
        .f(2.2rem);
        .block;
        .mt(1.3rem);
    }
    .master-name{
        .block;
        .f(1.7rem);
        .mt(.5rem);
        .mb(1.3rem);
    }
    .desc{
        .w(80%);
        .f(1.7rem);
        margin: 0 auto;
        .fc(#aca4a9);
        .l(2.0rem);
    }
    p{
        word-break: break-all;
        .c;
    }
}
.tip{
    .mt(4rem);
    .c;
    .f(2.2rem);
    .fc(#b3acb0);
}
.share-box{
    .c;
    .mt(1.5rem);
    a{
        .w(180 / 640 * 100%);
        padding:15px 13px 15px 37px;
        .f(1.9rem);
        .i_block;
        .mr(.6rem);
        .ml(.6rem);
        border-radius: 4px;
        .fc(#fff);
       
    }
    a:nth-child(1){
        
        background: #64cc7c url('http://d05.res.meilishuo.net/pic/_o/64/b5/898c5c0dbd319f66580ef259b340_60_60.cf.png') no-repeat 10px;
        background-size: 34px;
    }
    a:nth-child(2){
        
        background: #b3dd88 url('http://d05.res.meilishuo.net/pic/_o/2f/77/81ee154651c391ca909ea8f86a92_60_60.ch.png') no-repeat 6px;
        background-size: 34px;

    }
}
