<%# head.html%>
<% var question = this.question %>
	<div class="wrap">
		<div class="main">
		<% question.forEach(function(item,index){ %> 
			<div class="page p<%= index %>" style="display:none;background-image:url('<%= item.bgimage %>')">
				<div class="empty"></div>
				<ul class="option_wrap" data-choosed = "false">
				<% var options = item.option %>
				<% for( var i = 0; i < 4 ; i ++ ){
					var code = String.fromCharCode(65+i); 
				%>
					<li class="item" data-page=<%=(index)%>>
						<div class="img" style="background-image:url('<%= options[i].img %>')">
						</div>
						<p class="desc"><span><%=code%></span><%=options[i].desc%></p>
					</li>
				<%};%>
				</ul>
			</div>
		<% }); %>
			
		</div>
	</div>

<script>
	fml.vars.quesList = <%= JSON.stringify(this.question)%>;
</script>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
fml.use('wap/page/activity/amazingTest/style_new');
_use:", this._JSstack , this._JSmods ); %>
<%#foot_simple.html%>