<!--
/**
 * @fileoverview 首页 － 韩国馆三期
 * @requires zepto
 * @author kehuang@meilishuo.com
 * @date 2015-02-04
 */
-->

<%#head.html%>
<%
	var listData = this.list;
	var hotData = this.hot.data;
	var pageData = this.pageData;
	var globalInfo = listData.tInfo.globalInfo;
	var twitterInfo = listData.tInfo.twitterInfo;
%>

<div class="main">
	<div class="current_box active_box">
		<div class="pullUp" status="loading"></div>
		<div class="error_msg">
			<p>Sorry，页面奋力加载失败了</p>
			<div class="js_reload error_reload"><span>重新加载</span></div>
		</div>

		<%= requireFn('wapShare.html')({
			'share' : this.share,
			'shareTitle' : '选择分享到',
			'_JSstack' : this._JSstack,
			'_JSmods' : this._JSmods
		}); %>
	</div>

	<div class="gotop_wrap" style="bottom:40px">
		<a class="gotop">
			<img src="<%= this.PICTURE_URL%>images/wap/korea/gotop.png" />
		</a>
	</div>
</div>

<script type="text/html" id="rec_banner_tpl">
	<?
		var bannersData = this.data.banners || [],
			bannersLen = bannersData.length;

		if (bannersLen > 0) {
	?>
	<div class="pro-title rec_banner_title"><p>韩国顶尖品牌直邮旗舰店</p></div>

	<div class="rec_banner_box">
		<ul class="<?= (bannersLen % 2) == 0 ? 'even' : 'odd' ?>">
			<?
				$.each(bannersData, function(index, banner){
					var shop_url = 'javascript:void(0);',
						shop_id = banner.shop_id || '',
						img_src = banner.img_src || '',
						img_title = banner.img_title || '';

        			if (shop_id != '') {
        				var param = {'shop_id': shop_id};

        				shop_url = 'meilishuo://shop.meilishuo?json_params=' + encodeURIComponent(JSON.stringify(param));
        			}
			?>
			<li>
				<a href="<?= shop_url ?>">
					<img src="<?= img_src ?>" alt="<?= img_title ?>">
				</a>
			</li>
			<?
				});
			?>
		</ul>
	</div>
	<?
		}
	?>
</script>

<script type="text/html" id="goods_units">
	<?
		var goodsData = this.goods;

		if (goodsData.length > 0) {
	?>
	<div class="pro-title"><p>最新商品<br><span class="des">최신 상품</span></p></div>

	<div class="goods_units">
	<%
		var isStart = new Date(globalInfo.start_time) < new Date();
	%>
	<?
		var globalData = this.global;

		$.each(goodsData, function(index, goods){
			var goods_stock = goods.inventory,
				goods_id = goods.twitter_id || '',
				goods_desc = goods.info || '',
				goods_price = goods.price || '',
				korea_price = goods.korea_price || '',
				origin_price = goods.origin_price || '',
				goods_type = goods.tag.type || '';
	?>
		<a class="goods_item" href="<?= getAppLink(goods_id) ?>">
			<?
				if ((goods_type == 'sold') || ((goods_stock != '') && (goods_stock == 0))) {
			?>
			<div class="soldout" style="background-image:url(<?= globalData.sellout || '' ?>);"></div>
			<?
				}

				if ((goods_type != 'sold') && (goods_stock !== 0)) {
					var img_url = '';

					switch (goods_type) {
						case 'new':
							img_url = '<%= this.PICTURE_URL%>images/wap/korea/new4.png';
							break;
						case 'hot':
							img_url = '<%= this.PICTURE_URL%>images/wap/korea/hot3.png';
							break;
						case 'sale':
							img_url = globalData.discount || '';
							break;
						default:
							img_url = '';
							break;
					}
			?>
			<div class="new_goods" style="background-image:url(<?= img_url ?>);"></div>
			<? 
				}

				if (index == 0) {
			?>
			<div class="lazy_pic" data-shown="1" style="opacity: 1;background-image: url(<?= goods.pics[0] ?>);"></div>
			<?
				} else {
			?>
			<div class="lazy_pic" asrc="<?= goods.pics[0] ?>"></div>
			<?
				}
			?>
			<div class="pic_mask"></div>
			<?
				if ((goods_type != 'sold') && (goods_stock != '') && (goods_stock != 0)) {
			?>
			<div class="sale_status">库存紧张 最后<?= goods_stock ?>件</div>
			<?
				} else {
			?>
			<%
				if (!isStart) {
			%>
			<div class="sale_start">10点开售 敬请期待</div>
			<%
				}
			%>
			<?
				}
			?>
			<div class="goods_status">
				<span class="view"><?= goods.viewNum ?></span>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<span class="like"><?= goods.likeNum ?></span>
			</div>
		</a>

		<?
			if (goods_desc != '') {
		?>
		<p class="goods_desc"><?= goods_desc ?></p>
		<?
			}
		?>
		<p class="goods_price">
			<?
				if (goods_price != '') {
			?>
			<span class="price"><?= goods_price ?></span>
			<?
				}

				if (origin_price != '') {
			?>
			&nbsp;<del><?= origin_price ?></del>
			<?
				}

				if (korea_price != '') {
			?>
			&nbsp;<span>(<?= korea_price ?>)</span>
			<?
				}
			?>
		</p>
	<?
		});
	?>
	</div>
	<?
		}
	?>
</script>

<script type="text/html" id="goods_hot">
	<?
		var hotData = this.goods;

		if (hotData.length > 0) {
	?>
	<div class="pro-title hot-goods-title"><p>精选热销款<br><span class="des">정선 배색</span></p></div>

	<div class="hot-box">
		<ul class="<?= (this.goods.length % 2) == 0 ? 'even' : 'odd' ?>">
			<?
				$.each(hotData, function(index, goods){
			?>
			<li>
				<a href="<?= getAppLink(goods.twitter_id) ?>">
					<img class="lazy_pic" asrc="<?= goods.pic_url ?>" alt="">
					<p class="price">
						<? if (goods.price) { ?>
							<span><?= goods.price ?></span>
						<? } ?>
						<? if (goods.origin_price) { ?>
							<del><?= goods.origin_price ?></del>
						<? } ?>
					</p>
					<p class="goods_title"><?= goods.title ?></p>
					<p class="goods_sales">总销量：<?= goods.sale_num ?></p>
				</a>
			</li>
			<?
				});
			?>
		</ul>
	</div>
	<?
		}
	?>
</script>

<script>
	fml.vars.hot_data = <%= JSON.stringify(hotData) %>;
	fml.vars.page_data = <%= JSON.stringify(pageData) %>;
	fml.vars.goods_data = <%= JSON.stringify(twitterInfo) %>;
	fml.vars.global_data = <%= JSON.stringify(globalInfo) %>;

	function getAppLink(tid){
		if (!Meilishuo.config.os.mlsApp) {
			link = '/share/item/' + tid;
		} else {
			link = 'meilishuo://twitter_single.meilishuo?json_params=' + encodeURIComponent(JSON.stringify({'twitter_info': {'twitter_id': tid, 'is_doota': 1}, 'r': Meilishuo.config.r}));
		}

		return link;
	}
</script>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use("wap/page/korea/index3");
_use:", this._JSstack, this._JSmods); %>

<%#foot_simple.html%>
