<%#head.html%>
<div class="banner"></div>
<div class="content">
	<h4>一、什么是韩国馆？</h4>
	<p>
		韩国馆致力于为爱美丽的中国女性带来当季流行、时尚、最前沿的韩国商品。所有时尚单品均经美丽说时尚买手团队精心挑选，通过方便快捷的国际物流服务由韩国直邮国内，让广大爱美丽们即刻享受全新的海淘购物体验！
	</p><br/>
	<h4>二、服务承诺</h4>
	<div class="part part1">
		<p>
			<b>100%韩国正品</b><br/>
			韩国馆所出售商品均为韩国正品，美丽说承诺提供"正品品质保障"服务，一旦被发现有非韩国正品商品，我们将对买家进行赔付。
		</p><br/>
	</div>
	<div class="part part2">
		<p>
			<b>韩国属地直邮</b><br/>
			韩国馆所出售的每件商品均由美丽说国际物流方式发出，且有物流公司提供的从商家发货地到消费者目的地之间完整物流状态信息，直至商品安全送达您手中。
		</p><br/>
	</div><br/>
	<!-- <div class="part part3">
		<p>
			<b>海关试点合作单位</b><br/>
			作为全新的海外商品快速清关试点合作单位，所有韩国馆商品将优先完成报关、清关流程，缩短入关时间。
		</p><br/>
	</div>
	<div class="part part4">
		<p>
			<b>人民币快捷支付</b><br/>
			韩国馆使用中国银联及财付通支付，使用人民币付款，方便快捷。
		</p><br/>
	</div>
	<div class="part part5">
		<p>
			<b>国内首家退货保障</b><br/>
			商品出现破损等，只需退到美丽说指定中国仓库即可，仓库收货后美丽说按相关约定先行退款。后续跨境退货等皆由美丽说自行负责。
		</p><br/>
	</div><br/>
	<a name="a_one"></a>-->
	<a name="a_one"></a>
	<h3>如何购买韩国馆商品？</h3><br/>
	<p>当您确认购买韩国馆商品并成功支付代购所需相应款项后，我们将启动如下处理流程：</p>
	<p>1、确认库存；<br/>由于海外商品的特殊性，每款商品的库存存在一定的不可控因素。一旦发生库存不足的情况，美丽说客服人员将会主动联系您进行缺货商品的撤单、退款处理。</p>
	<p>2、商品质检并包装；</p>
	<p>3、国际物流公司取货并发出；</p>
	<p>4、国际物流公司运输；</p>
	<p>5、您签收包裹；</p><br/>

	<h3>常见问题</h3><br/>
	<p>
		<b>1、运费说明</b><br/>
		韩国馆商品按每笔订单的实际包裹重量收取国际物流费用。该费用为直接从韩国发货至您指定的收到货品的国际物流费用。
	</p><br/>
	<p>
		国际物流运输起始重量为3公斤，每公斤9000韩币。之后按照每公斤7500韩币的价格递增，如不足一公斤按一公斤计。
	</p>
	<p>
		计算公式如下：
	</p>
	<p>
		如包裹重量为1.3KG，运费为2*9000韩元。
	</p>
	<p>
		如包裹重量为4.9KG，运费为3*9000+2*7500韩元
	</p>
	<p>
		展示运费均以人民币为基准，我们将根据当天中韩的汇率标准计算出买家所需支付的人民币金额。
	</p>
	<p>
		运费计算后，若金额为小位数，则进一取整。
	</p><br/>

	<p>
		<b>2、订单支付时效性说明</b><br/>
		在您提交订单后，您须在30分钟内付款，超过30分钟则需重新提交订单。
	</p><br/>

	<p>
		<b>3、发货时间与物流速度？是否可以进行物流跟踪？</b><br/>
	</p>
	<p>
		1）发货时间统一为您成功付款后的次日，届时我们将进行配货及订单的包装，然后交由国际物流公司上门取货后发往您指定的收货地址。商品配送周期一般为5-20天，具体以物流跟踪结果为准；
	</p>
	<p>
		2）当国际物流公司取走货物后，我们将发货单号录入至交易系统，您可在“我的订单”中查询物流进度，进行跟踪。
	</p><br/>

	<p>
		<b>4、如何退款/退货？</b><br/>
	</p>
	<p>
		1）韩国直购商品暂不支持7天无理由退换货；
	</p>
	<p>
		2）缺货怎么办？我们将提供缺货退款保障；<br/>
		由于海外商品的特殊性，每款商品的库存存在一定的不可控因素。一旦发生库存不足的情况，美丽说客服人员将会主动联系您进行缺货商品的撤单、退款处理。该订单商品的全部费用将会退回到您的支付账户。
	</p>
	<p>
		3）收到的货物与订单不符、破损、少货或丢件如何处理？<br/>
		当您您签收后发现货品与订单不符、存在破损或您一直未收到商品可能存在丢件等情况，请及时与我们取得联系。<br/>
		联系方式为：4000800577<br/>
		美丽说将确保消费者的合法权益，及时妥善处理售后工作。<br/>
		如有证据证明存在人为损坏、通过不当方式或其它异常情况的，美丽说有权驳回退货退换要求。
	</p>
	<p>
		4）为何收到的商品显示为“MADE IN CHINA”？是否可以退货？<br/>
		韩国馆所售商品均为韩国本地所出售的商品、实际采购地也均为韩国。但并不意味着此类商品均由韩国生产，可能来自不同的生产国，这其中也包含中国。但商品均符合韩国规定的各项标准，因此基于该理由不支持退换货。
	</p>
	<!-- <h3>如何购买韩国馆商品？</h3><br/>
	<p>
		<b>预订款说明</b><br/>
		韩国馆中的部分商品为预订款，即在您付款后，韩国工厂将根据您的订单定制生产，生产过程需要5-10天。故预定款衣服收货时间较慢，请耐心等待。
	</p><br/>
	<p>
		<b>库存确认</b><br/>
		由于海外商品库存存在不可控因素，若发生库存不足，美丽说客服人员将会主动联系您进行缺货商品的撤单、退款处理。
	</p><br/>
	<p>
		<b>身份证登记</b><br/>
		跨境商品在通过中国海关时，海关需要收货人姓名及身份证号码，故请准确填写收货人真实姓名及对应身份证号码。此类问题导致的清关延时、无法清关等问题将由您承担。
	</p><br/>
	<p>
		<b>关税说明</b><br/>
		服装类商品总价超过250元人民币，需要缴纳商品总价20%的关税。该笔费用由美丽说先行收取。
	</p><br/>
	<p>
		<b>运费说明</b><br/>
		美丽说韩国馆商品按每订单45元人民币收取运费。该费用包含从韩国发货开始至您收到包裹全过程所有国际、国内物流费用。
	</p><br/>
	<p>
		<b>支付说明</b><br/>
		在您提交订单后，您须在24小时内付款，超过24小时则需要您重新提交订单。<br/>
		您支付时的商品价格以您下单时的金额为准。在您下单成功到订单关闭前，若韩国商品因汇率出现价格变化，美丽说亦不会找您收取差价或补偿差价。
	</p><br/><br/>

	<h3>发货时间与速度怎样？ 可以进行物流跟踪吗？</h3><br/>
	<p>
		<b>非预订款商品</b><br/>
		自下单日起20天内发出国内快递，以订单中显示的物流信息为准。超过20天美丽说承担全部运费。
	</p><br/>
	<p>
		<b>预订款商品</b><br/>
		自下单日起25天内发出国内快递，以订单中显示的物流信息为准。超过25天美丽说承担全部运费。
	</p><br/>
	<p>
		<b>您的韩国馆商品包裹在运输过程中总共经历以下4个时间段：</b><br/>
	</p><br/>
	<ul>
		<li>
	   		<span class="step">1</span>韩国发货－美丽说韩国仓收货<br/>
   			韩国馆商品统一由韩国供应商发货到美丽说指定的韩国仓库。<br/>		
		</li>
		<li>
			<span class="step">2</span>美丽说打包运回国内<br/>
   			在美丽说韩国仓库收到商品后，美丽说负责将商品以航空等方式运回国内，同时告知您转运物流单号，此时您可随时跟踪物流信息。<br/>
		</li>
		<li>
	   		<span class="step">3</span>中国海关清关<br/>
   			在韩国馆商品在抵达中国境内后，由美丽说报关，中国海关清关。<br/>		
		</li>
		<li>
	   		<span class="step">4</span>美丽说分拣包装－国内快递配送<br/>
   			在清关完成后，美丽说分拣中心会根据您的实际海外包裹数进行统一包装，交由国内顺丰或圆通等快递公司予以配送（举例：您的同一订单共产生2个海外包裹，则美丽说会将这2个海外包裹打包为1个包裹快递给您）。		
		</li>
	</ul><br/><br/>

	<h3>如何退款/退货？</h3><br/>
	<p>
		<b>取消订单须知</b><br/>
		在您下单支付后到被美丽说进行处理之前（订单状态显示待确认），如果您发现订单有误，可对您的订单进行取消订单操作。<br/>
		当您的订单被美丽说进行处理时（订单状态显示处理中），将不支持取消订单的操作。<br/>
		特殊情况：当您在美丽说下单后，韩国品牌商发生库存不足的情况时，美丽说客服人员将主动联系您取消该缺货商品，并针对该商品进行退款处理。
	</p><br/>
	<p>		
		<b>退换货须知</b><br/>
		由于海外商品库存不可控，以及关税、物流时间过长等原因，美丽说韩国馆商品不支持换货。您如果对商品不满意，可选择退货。		
	</p><br/>
	<div class="line"></div><br/>

	<b>由发货、运输过程发生的以下问题可经协商后退货：</b><br/>
	<p class="item">
	
		    <span class="dot">·&nbsp;</span>到手商品与订单商品样式、尺码、颜色等规格不符<br/>
		    <span class="dot">·&nbsp;</span>到手商品发生破损、缺失等质量问题影响正常使用<br/>
			<span class="dot">·&nbsp;</span>在运输过程中发生商品遗失、破损<br/>
	</p><br/>

	<b>出现以上情况时，您可以在收到货物后的2天内申请退货。请注意：</b><br/>
	<p class="item">			
   			<span class="dot">·&nbsp;</span>请将商品及附带的全部资料/配件予以退回。<br/>
			<span class="dot">·&nbsp;</span>退货产生的运费，以及初始运费由美丽说承担。<br/>
   			<span class="dot">·&nbsp;</span>买家自行寄回途中出现的破损、丢失，以及仓库在收到货物后核实与当时买家提交退货申请货物不一致，仓库有权拒绝签收且此种情况美丽说有权驳回买家退货退款要求。
	</p><br/>
	<div class="line"></div><br/>

	<b>由主观判断等产生的以下问题可经协商后退货：</b><br/>	
	<p class="item">			
   			<span class="dot">·&nbsp;</span>由于运输过程中的不可阻抗因素，商品出现轻微磨损但不影响正常使用。<br/>
   			<span class="dot">·&nbsp;</span>到手商品与订单规格相符但尺码不合适或者样式不喜欢。<br/>
	</p><br/>

	<b>出现以上问题时，您可以在收到货物后的2天内申请退货。请注意：</b><br/>
	<p class="item">			
   			<span class="dot">·&nbsp;</span>请将商品及附带的全部资料/配件予以退回。<br/>
   			<span class="dot">·&nbsp;</span>退货产生的运费，以及初始运费由您承担。<br/>
	</p><br/>
	<div class="line"></div><br/>	

	<b>以下问题不能予以退货：</b><br/>	
	<p class="item">			
   			<span class="dot">·&nbsp;</span>用户人为的非正常使用或保管不当导致的质量问题。<br/>  
   			<span class="dot">·&nbsp;</span>退换货时资料/配件不全（如包装、吊牌、购物小票、配件等）。<br/>
   			<span class="dot">·&nbsp;</span>衣服标签被拆等发生商品已使用情况。<br/>
   			<span class="dot">·&nbsp;</span>内衣等私密物品。<br/>
   			<span class="dot">·&nbsp;</span>其他问题。<br/>
	</p><br/>
	<p>	
		在您签收后发现货品与订单不符、破损及丢件等情况，美丽说本着服务买家的态度将与买家共同承担相关责任。（但有3次以上签收后事故的买家，美丽说有权驳回退货要求）。故在此我们强烈建议您签收快递时先确认商品再进行签收。
	</p> -->
</div>
<%#foot.html%>