<div class="groupBox">
	<div class="groupCon">
		<a target="_blank" href="/group/<%= this.group_id%>?frm=guang_fav" class="imgBox" style="margin-top:0;width:226px;height:auto;">
			<img src="<%= this.mixpic%>" class="maxpic" style="width:226px;margin-top:0;height:auto;"/>
			<div class="clear_f"></div>
		</a>
		<div class="infoBox c_f" style="margin-top:0;">
			<a class="red_follow" target="_blank" href="/group/<%= this.group_id%>?frm=guang_fav">进入>></a>
			<div class="clear_f"></div>
		</div>
	</div>
</div>
