<div id="mob_reg" class="reg_mls">
	<form id="registerForm" method="post" onsubmit="return false" action="">
		<fieldset>
			<div class="reg_box">
				<div class="item">
					<input id="mobile" name="mobile" type="text" placeholder="手机号" autocomplete="off" />
					<span></span>
				</div>
				<div class="item hide">
					<input id="email" name="email" type="text" placeholder="电子邮箱" novalid="true" />
					<span></span>
				</div>
				<div class="item">
					<input id="nickname" name="nickname" type="text" placeholder="昵称" autocomplete="off" />
					<span></span>
				</div>
				<div class="item item_pw">
					<input class="none_f" id="password" name="password" type="password" placeholder="密码" autocomplete="off" />
					<input id="vmpassword" name="" type="text" value="" placeholder="密码" autocomplete="off" />
					<span></span>
				</div>
				<div class="pw_safe">
					<span class="txt">安全程度</span>
					<div class="pw_strength pw_weak pw_medium pw_strong">
						<div class="pw_bar"></div>
						<div class="pw_letter">
							<span class="strength_l">弱</span>
							<span class="strength_m">中</span>
							<span class="strength_h">强</span>
						</div>
					</div>
				</div>
				<div class="item item_hid">
					<input class="none_f" id="confirm_password" name="confirm_password" type="password" placeholder="确认密码" autocomplete="off" />
					<input id="vmconfirm_password" name="" type="text" value="" placeholder="确认密码" autocomplete="off" />
					<span></span>
				</div>
				<div class="item item_hid item_code">
					<input id="code" name="code" class="enter_code"  type="text" placeholder="短信验证码" maxlength="6" />
					<input id="get_code" class="get_code" value="获取短信验证码" />
					<span></span>
				</div>
				<div class="regErrorMessage"></div>
				<div class="big_btn reg_mob_btn">
					<em class="big_btnr"></em>
					<input type="submit" value="立即注册"  />
				</div>
				<div name="agreement" class="agree">
					<input type="checkbox" checked="checked" id="agreement" name="agreement">
					<label for="agreement">同意</label><a target="_blank" href="/agree">美丽说注册条款</a>
					<span></span>
				</div>
			</div>
			<!-- <div class="reg_box hide">
				<div class="item">
					<input type="text" placeholder="手机号">
				</div>
				<div class="item">
					<input type="text" placeholder="昵称">
				</div>
				<div class="item">
					<input type="text" placeholder="密码">
				</div>
				<div class="big_btn">
					<em class="big_btnr"></em>
					<input type="submit" value="立即注册">
				</div>
				<div class="agree">
					<input type="checkbox" name="agreement" value="agreement" checked="checked">
					<label for="agreement">同意</label><a href="/agree" target="_blank">美丽说注册条款</a>
				</div>
			</div> -->
		</fieldset>
	</form>
</div>