<%# head.html%>
<%# head_share.html%>
<div class="order_area">
<%if(this.order_list && this.order_list.info){%>
	<% if(this.order_list.info.length != 0){%>
	<ul class="order_list_list">
	<%
		this.order_list.info && this.order_list.info.map(function(data){
		var order = data.order
			, goods = data.goods[0]
			, len = data.goods.length
	%>
		<li>
			<div class="order_info">
				<span>商家：<%= order.shop_name%></span>
			</div>
			<ul class="order_goods_list">
				<li>
					<a href="/order/detail/?order_id=<%= order.order_id%>">
						<img class="pic" src="<%= goods.b_pic_url%>"/>
						<div class="middle">
							<p class="title"><%= goods.goods_title%></p>
							<p class="price">实付款：<%= order.total_price%></p>
							<p class="num">共<strong><%= len %></strong>件</p>
							<p class="statue"><%= order.status_text %></p>
						</div>
					</a>
				</li>
			</ul>
			<div class="btn_box">
				<%if(order.status == '10'){%>
					<a class="list_btn" href="/order/pay/?order_id=<%= order.order_id %>&total_price=<%= order.total_price %>">付款</a>
				<%}else if(order.status == '30'){%>
					<a class="list_btn" href="/order/detail/?order_id=<%= order.order_id%>">确认收货</a>
				<%}%>
			</div>
		</li>
		<%});%>
	</ul>
	<%}else{%>
	<div class="none">
		<%if(this.order_list.order_num != '0'){%>
		<div class="none_info">
			<p>很抱歉，没有找到相关的订单！</p>
			<a class="btn" href="/order/">查看全部订单</a>
		</div>
		<%}else{%>
		<div class="none_info">
			<p>您还没有在美丽说下过订单呢</p>
			<p>美物这么多，快去看看吧～</p>
			<a class="btn" href="/guang/hot">去逛逛</a>
		</div>
		<%}%>
	</div>
	<%}%>
<%}%>
</div>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/doota/orderList');
_use:", this._JSstack , this._JSmods ); %>
<%# foot.html%>
