<%#head.html%>
<section class="container">
	<div class="addressee">
		<span class="name"><i></i>收件人：张三</span>
		<span class="tel"><i></i>电话：13521452365</span>
		<div class="address">收货地址：北京北京市海淀区中关村大街19号新中关购物中心A座7层</div>
	</div>
	<div class="mail_btm"></div>
	<div class="payment">
		<label><i></i>支付方式：</label><span class="red_f">支付宝</span>
	</div>
	<div class="order_status">
		<span class="txt"><i></i>订单状态：<span class="red_f">卖家已发货</span></span>
		<div class="grayLine"></div>
	</div>
	<div class="status_txt">
		商家已发货，您可以在 2013-11-30 20:12:12 前自行“确认收货”，之后系统将自动确认收货
	</div>
	<div class="order_detail">
		<div class="shop_info">
			<span class="r">共3件</span>
			<div class="name"><i></i>店铺：<span class="red_f">蛋挞家</span></div>
			<a class="contact_QQ" href="#" target="_blank">
				<span><i></i>联系客服</span>
			</a>
			<a class="enter_shop" href="#" target="_blank">
				<span><i></i>进入商户</span>
			</a>
			<div class="clear_f"></div>
		</div>
		<div class="order_list">
			<table>
				<tbody>
					<tr>
						<td class="pic">
							<a href="#" target="_blank">
								<img src="http://i.meilishuo.net/css/images/header/qrcode_meilishuo.jpg" alt="" />
							</a>
						</td>
						<td class="info">
							<div class="title">
								<a href="#" target="_blank">
									蛋挞家 轻复古 精品均码毛针织衫修身 韩国代购
								</a>
							</div>
							<div class="spec">
								<span>尺码：M</span>
								<span>价格：￥168.00</span>
								<span>颜色：黑白条纹</span>
								<span>数量：1</span>
							</div>
						</td>
						<td class="last">
							<a class="gray_btn" href="#" target="_blank">退款</a>
							<a class="gray_btn" href="#" target="_blank">退款详情</a>
							<a href="#" target="_blank">退款成功</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="total">
			<div class="total_count">合计：<span class="red_f">￥504.00</span></div>
			<div class="fare"><i></i>运费：<span class="red_f">免运费</span></div>
		</div>
		<div class="buyer_message">
			<span>购买留言：</span>请帮忙检查好再发货哈，帮忙检查好~非常感谢 非常感谢，太感谢啦，非常好啊，感谢！
		</div>
	</div>
</section>
<%#foot_simple.html%>
