<% var data = this.hdshop;%>
	<%
	for(var v in data){
		var shop_url = _extFn.getAppLink('shop', {'shop_id' : data[v].shop_id}, this.os, this.r);
	%>
	<section class="list-item">
		<div class="shop-intro">
			<div class="shop-info">
				<div class="sp-wrap">
					<div class="shop-logo">
						<a href="<%=shop_url%>"><img src="<%= data[v].shop_face_img%>"/></a>
					</div>
					<div class="shop-word">
						<p><%=data[v].shop_nick%></p>
						<p><%=data[v].shop_desc%></p>
					</div>
				</div>

			</div>
			<!-- <div class="discount-info">限时全场6折</div> -->
		</div>
		<div class="shop-item">
			<div class="item-box"> 
				<% data[v] && data[v].twitter_list && data[v].twitter_list.map(function(i){%>
<%var db_url= _extFn.getAppLink('twitter_single', {'twitter_info' : {'twitter_id' : i.twitter_id, 'is_doota' : 1}}, this.os, this.r);%>
					<a href="<%=db_url%>">
						<span class="lazy_pic" asrc ="<%=i.twitter_img%>"></span>	
							<!-- <div class="promotion"></div> -->
							<%if(i.campaign_price==''){%>
								<div class="price"><span>￥<%=i.twitter_price%></span></div>
							<%}else if(!i.campaign_price){%>
							<%}else{%>	
								<div class="price"><span>￥<%=i.campaign_price%></span><del>￥<%=i.twitter_price%></del></div>
							<%}%>
					</a>
				<%});%>
			</div>	
		</div>

</section>
<%}%>


<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use("wap/page/hdstreet/index");
_use:", this._JSstack , this._JSmods ); %>