<%# wx_new/header.html%>
<div id="cart">
	
</div>
<% var recom = this.recom_goods && this.recom_goods.tInfo; %>
<% if( recom && recom.length ){%>
<section class="like-box">
	<h3 class="box-name">猜你喜欢</h3>
	<ul class="list">
		<% recom.forEach(function(data){ %>
			<li class="item">
				<a style="background-image:url(<%=data.goods_img %>);" href="/wx/detail?tid=<%=data.twitter_id %>" class="a-img"></a>
				<p class="title"><%=data.goods_title %></p>
				<span class="price"> <%=data.discount_price %></span>
			</li>
		<% }); %>
	</ul>
</section>
<%};%>


<script type="text/html" id="noThings">
<div class="cart_null">
	<img class="shoppingCart" src="http://i.meilishuo.net/css/images/wap/web/sq/cart/shoppingCart.png" alt="">
	<p class="content">您的购物车内还没有商品!</p>
	<a href="/wx/daily">
		<div class="goMallButton">
			<p class="buttonContent">立即逛逛</p>
		</div>
	</a>
</div>
</script>

<script type="text/html" id="cartThing">
<?
var splitStr = function(str, num){
	return (str.length > num) ? (str.substr(0,num - 1) + "…") : str;
};
?>
<div class="cart">
	<?var list_over = [];?>
	<? info && info.map(function(list, index){?>
	<?	var list_num = 0,
			list_total = 0,
			_list = list.goods;
		_list && _list.map(function(thingsInfo, thingsIndex){
			if(thingsInfo.shelf === "1" && thingsInfo.stock != 0){
				list_num ++;
				list_total += +(thingsInfo.goods_activity_price) * thingsInfo.amount;
			}else{
				list_over.push(thingsInfo);
				list.count --;
			}
		});
		if(list_num){
	?>
	<div class="shopThings" data-shopid="<?= list.shop_id?>">
		<div class="shop-info">
			<div class="select-all right"></div>
			<p>商家：<a href="/wx/shop/index/?shop_id=<?=list.shop_id?>" class="s_name" ><?= list.shop_name ?></a></p>
		</div>
		<div class="line"></div>
		<? list.goods && list.goods.map(function(thingsInfo, thingsIndex){?>
		<?if(thingsInfo.shelf === "1" && thingsInfo.stock != 0){?>
		<li class="singleThing" sid="<?= thingsInfo.sid?>">
			<div class="select null" sid="<?= thingsInfo.sid?>"></div>
			<a href="/wx/detail?tid=<?= thingsInfo.twitter_id?>">
			<img src="<?= thingsInfo.b_pic_url?>" alt="">
			</a>
			<div class="thingInfo">
			<a href="/wx/detail?tid=<?= thingsInfo.twitter_id?>">
				<p class="thingName"><?= splitStr(thingsInfo.goods_title, 9) ?><span class="floatRight">￥<?= thingsInfo.goods_activity_price?></span></p></a>
				<div>
					<span class="thingOther otherOne"><?= splitStr(thingsInfo.prop[0].name + "：" + thingsInfo.prop[0].value + " " + thingsInfo.prop[1].name + "：" +  thingsInfo.prop[1].value, 10)?></span>
					<span class="thingOther otherTwo">￥<?= thingsInfo.goods_price_origial?></span>
				</div>
				<div class="secondLine">
					<div class="otherFour">
						<p class="numBox">								
							<span class="minus disabled">-</span>								
							<span  class="amount nums" sid="<?= thingsInfo.sid?>" data-ori="1" data-stock="<?= thingsInfo.stock?>" ><?= thingsInfo.amount?>
							</span>			

							<span class="add plus">+</span>
						</p>
						<span class="del floatRight" data-sid="<?= thingsInfo.sid?>"></span>
					</div>
				</div>
			</div>
		</li>
		<div class="line"></div>
		<?}?>
		<?});?>
		<div class="bt-main">
			<span class="shop-num">共<?= list_num?>件商品</span>
			<span class="floatRight shop-total">本店合计：<span>￥<?= list_total .toFixed(2)?></span></span>
		</div>
	</div>
	<?}?>
	<?});?>
	
	<?if(list_over.length){?>
	<?var sids = [];?>
	<div class="shopThings shopThings-del">
		<?list_over.map(function(thingsInfo, thingsIndex){?>
		<? sids.push(thingsInfo.sid);?>
		<li class="singleThing" sid="<?= thingsInfo.sid?>">

			<img src="<?= thingsInfo.b_pic_url?>" alt="">

			<div class="thingInfo">

				<p class="thingName"><?= splitStr(thingsInfo.goods_title, 9) ?></p>

				<div>
					<span class="thingOther otherOne"><?= splitStr(thingsInfo.prop[0].name + "：" + thingsInfo.prop[0].value + " " + thingsInfo.prop[1].name + "：" +  thingsInfo.prop[1].value, 10)?></span>
				</div>
				<div class="secondLine">
					<div class="otherFour">
						<span class="del floatRight" data-sid="<?= thingsInfo.sid?>"></span>
					</div>
				</div>
			</div>
		</li>
		<div class="line"></div>
		<?});?>
		<div class="del-all" data-sid="<?= sids?>">清除失效宝贝</div>
	</div>
	<?}?>

	<div class="clear_f"></div>
	
	<div class="float_ctrl">
		<ul>
			<li class="selectBtn selectAll cancleAll">全选</li>
			<li>
				<p>合计:￥<span class="total">0.00</span></p>
				<p>节省:￥<span class="total-all">0.00</span></p>
			</li>
			<li class="go_buy"><a>去结算</a></li>
		</ul>
	</div>
</div>
</script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/wx_new/cart');
_use:", this._JSstack , this._JSmods ); %>
<%# wx_new/footer.html%>