<div class="m50"></div>
<nav class="nav-c">
	<a href="/wx/daily/" class="option" >
		<span class="bg <%if(this.index === 1){%> active <%}%> "></span>
		<p>精选</p>
	</a>
	<a href="/wx/newclass/index/?channel=weixin_catalog" class="option"  >
		<span class="bg <%if(this.index === 2){%> active <%}%> "></span>
		<p>分类</p>
	</a>
	<a href="/wx/cart/" class="option"  >
		<span class="bg <%if(this.index === 3){%> active <%}%> "></span>
		<p>购物车</p>
	</a>
	<a href="/wx/user/index/?is_list=1&status=0&uid=<%=this.user_id %>" class="option"  >
		<span class="bg <%if(this.index === 4){%> active <%}%> "></span>
		<p>我</p>
	</a>
</nav>