@import "../mainapp/recommend.less";

.pt {
  margin-top: 30*@px;
}

.cat {
	font-size: 28*@px;
	color: #999;
	padding: 16*@px 30*@px;
	.more-btn {
		float: right;
		.more {
		color: #999;
		margin-right: 10*@px;
		}
	.go-icon {
		display: inline-block;
		width: 13*@px;
		height: 26*@px;
		background-image: url('http://d05.res.meilishuo.net/pic/_o/77/bb/dbd7ad7f864ff1e044ba4be189c8_13_26.ch.png');
		vertical-align: middle;
		background-size: contain;
		background-repeat: no-repeat;
		}
	}
}

.normal .list {
	margin-bottom: 0;
}