.item() {
  .item-wrap {
    .mb(20*@w);
    .bgwhite;

    .list_title {
      font-size   : 22*@px;
      color       : #666;
      height      : 28*@px;
      line-height : 28*@px;
      .hidden;
      .ellipsis;
    }

    img {
      width : 100%;
    }
  }

  .item-img-wrap {
    background: center no-repeat;
    background-size: cover;
  }

  .list_info {
    padding : 10*@px 8*@px;
  }

  .list_cost { .pt(20*@px); .pb(10*@px); }

  .money_now { .f(20*@px); .pr(10*@px); .fc(#f66); }

  .normal_lick,
  .repin_num,
  .sale_num { .f(20*@px); .fc(#999); background-repeat : no-repeat; background-position : 2px center; padding-left : 13%; background-size : auto 80%; }

  .normal_lick { .mr(30*@px); background-image : url('//d04.res.meilishuo.net/pic/_o/0b/af/01f834bdf72c210229a9d6277440_27_24.cg.jpg'); }

  .repin_num { .mr(30*@px); background-image : url('//d02.res.meilishuo.net/pic/_o/3c/8d/225ac2deabd161d991437083fb85_21_21.cg.png'); }

  .sale_num { background-image : url('//d04.res.meilishuo.net/pic/_o/f5/7d/438dcf9d5b2e943e558478c74968_22_23.cg.png'); }

  .money_normal { .f(22*@px); .t-through; }

  .goods_type { .pa; top : 0; left : 10*@px; .w(70*@px); .h(34*@px); .l(34*@px); .white; .c; .border-r(0 0 6*@px 6*@px); }

  .two_type { left : 90*@px; }

  .new { .bgc(#ff96b9); }

  .hot { .bgc(#ff6f80); }

  .tag {
    position      : absolute;
    top           : 10*@px;
    right         : 10*@px;
    background    : rgba(0, 0, 0, .2);
    padding       : 6*@px 8*@px;
    border-radius : 4*@px;
    .tag-icon {
      display         : inline-block;
      width           : 24*@px;
      height          : 24*@px;
      background      : url('//d05.res.meilishuo.net/pic/_o/71/aa/5bd6a03108bc571c2038e7f55303_23_23.cf.png') no-repeat center;
      background-size : contain;
      vertical-align  : middle;
    }
    .num {
      color          : #fff;
      font-size      : 24*@px;
      vertical-align : middle;
    }
  }
}
