<!doctype html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <title>商品详情页</title>
        <style>
            html,body,iframe{margin:0;padding:0;border:0;}
            html,body{overflow:hidden;height:100%;}
        </style>
    </head>
    <body>
        <iframe height="100%" width="100%" id="page" scrolling="vertical"></iframe>
        <script type="text/javascript" src="http://qzonestyle.gtimg.cn/open/shopping/js/detail.js"></script>
    </body>
</html><!--[if !IE]>|xGv00|6596450c308d7c7872384b5a71c9862f<![endif]-->
