@import "../../block.less";

body {
	.bgc(#0093dd);
	.pr();
}
span{
	.pa();
	transition: bottom 2s ease-in;
	background: url(http://i.meilishuo.net/css//images/lark/bubble/bubble.png);
	background-size: contain;
}
.banner{
	.pa();
	bottom: 0;
	left: 0;
	.w(100%);
	.h(100px);
	.bgc(#fff);
	.c();
	.f(40px);
	z-index: 3;
}
.banner div{
	.w(32%);
	.h(100%);
	.pt(5%);
}
.start{
	.left();
	border-right: 3px solid #ccc;
}
.time{
	.left();
}
.count{
	.left();
	border-right: 3px solid #ccc;
}