@import "../../block.less";
@import "../footer.less";
html,body{
	.w(100%);
	.h(100%);
	background: #fff;
	overflow: hidden;
}
#panel{
	.w(100%);
	.h(100%);
	.pr();
	.c();
}
.time-block{
	.mt(5%);
	span{.ml(5%);}
}
#show{
	.mt(24%);
	.w(100%);
	.mb(24%);
	// .l(40%);
	.f(5em);
}
.tip-block{
	margin: 0 auto;
	.w(60%);
}
#select{
	.mt(15%);
	.f(2em);
	span{
		.ml(2%);
	}
}
#mask{
	.w(100%);
	.h(100%);
	.pa();
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.6);
	z-index: 100;
	.none(); 
	.c();

	font-size: 2em;
}
#restart{
	.block();
	.mt(64%);
	color: #fff;
}
.red{color: red;}
.green{color: green;}
.blue{color: blue;}
.black{color: black;}
.yellow{color: orange;}