@import "../../block.less";

body{
	.pr();
}
.main{
	.w(100%);
	.pr();
}
.ball{
	.w(10%);
	.pa();
	.bgc(#000);
	.border-r(50%);
	bottom: 0;
	left: 0;
	z-index: 3;
}
.end{
	.w(13%);
	.pa();
	.bgc(#ff0000);
}
.obstacles{
	.w(85%);
	.h(50px);
	.bgc(#ff0000);
	.pa();
}
.obstacles-1{
	top: 200px;
	left: 0;
}
.obstacles-2{
	top: 400px;
	right: 0;
}