@import "../block.less";
body{
	.bgc(@white);
	.mb(100px);
}
#head{
	.border-1(@black);
	.bgc(@lightGray);
	.w(200px);
	.h(300px);
	z-index:100;
	.auto();
	.pa;
	top:150px;
	left:50%;
	.ml(-100px);

}

a{
	.white();
}
#list li{
	.bgc(@black);
	.w(100px);
	.h(30px);
	.border-r(10px);
	.l(30px);
	.c;
	.cursor;
	.f(12px);
	margin:15px auto;
	


}
.box{
	border-bottom: 1px solid #000;
	.pr;
	.none;
}
img{
	.w(100%);
	.h(100%);
}
.pic{
	.w(20px);
	.h(28px);
	.pr();
	left: 20px;
	.none;
}
#timeEnd{
	border:1px solid #000;
	.w(70px);
	.h(30px);
	.pa;		
	top:5px;
	right:10px;
	.c;
	.l(30px);
	z-index: 200;
	.bgc(@lightGray)

}
.barrier{
	.pa;
	.bgc(@black);
}
