@import "../../block.less";
body{
	background:url("@{pic_url}/images/lark/cookie/bg2.png") no-repeat;
	background-size: cover;
}
.main{
	.w(100%);
	.pr();
	top: 0;
	// background:url("@{pic_url}/images/lark/cookie/bg-main.jpg") no-repeat;
	// background-size: 100%;
	img{
		.w(40%);
		.pa();
		left: 0;
		top: 0;
		z-index: 10;
	}
}
.down{
	.pa();
	bottom: 0;
	left: 0;
	.w(100%);
	.h(10%);
	background:url("@{pic_url}/images/lark/cookie/plate.png") no-repeat;
	background-size: 100%;
}
.number{
	background:url("@{pic_url}/images/lark/cookie/count1.png") no-repeat;
	background-size: 100%;
	.pf();
	.w(22%);
	.h(10%);
	top: 2%;
	left: 3%;
	z-index: 1;
	p{
		.block();
		.mt(21%);
		// .ml(26%);
		.c();
		.f(14px);
		.fc(#a13e02);
	}
}
.rules{
	background:url("@{pic_url}/images/lark/cookie/rules.png") no-repeat;
	background-size: 100%;
	.pf();
	.w(28%);
	.h(10%);
	top: 5%;
	right: 3%;
	z-index: 1;
}
.gestures{
	background:url("@{pic_url}/images/lark/cookie/gestures1.png") no-repeat;
	background-size: 100%;
	.pf();
	.w(18%);
	.h(18%);
	top: 70%;
	right: 7%;
	z-index: 1;
}
.bg-some{
	background:url("@{pic_url}/images/lark/cookie/bg-some.png") no-repeat;
	background-size: 100%;
	.pf();
	.w(100%);
	.h(24%);
	top: 18%;
	left: 0;
	z-index: 1;
}