<div class="f_box">
	<div class="pic"></div>
	<div class="person">
		<a href="javascript:" class="per1"></a>
		<a href="javascript:" class="per2"></a>
		<a href="javascript:" class="per3"></a>
		<a href="javascript:" class="per4"></a>
		<a href="javascript:" class="per5 act5"></a>
		<a href="javascript:" class="per6"></a>
		<a href="javascript:" class="per7"></a>
		<a href="javascript:" class="per8"></a>
	</div>
	<p class="txt4" id="text"></p>
</div>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
     fml.use('page/huodong/jianling_firstp');
_use:", this._JSstack , this._JSmods ); %>
