
<div class="pc_to_mob">
	<a href="javascript:;" class="min_logo" style="display:none"></a>
	<div class="extend_bg" style="display:none">
		<div class="wrapper">	
            <img class="red_bag" src="http://d01.res.meilishuo.net/pic/_o/12/77/ee46100575edcb1e46f80ddb2a1e_271_262.ch.png" alt="红包">
            <img class="desc30" src="http://d04.res.meilishuo.net/pic/_o/6c/3a/c18d09a48111bea95838e49252a5_552_98.cf.png" alt="最高减50" >
            <img class="notice" src="http://d01.res.meilishuo.net/pic/_o/fb/68/6196dfcbc73605c85e4975e4d8f6_163_91.cf.png" alt="提示气泡">
            <div class="qr_content">
            	<p>扫描下载美丽说APP</p>
            	<img src="http://d05.res.meilishuo.net/pic/_o/a1/3c/cf2ae7153b5d4d0a821752753fbe_120_120.cf.jpg" alt="二维码">
            </div>
            <a href="javascript:;" class="close_btn">
            	<img src="http://d04.res.meilishuo.net/pic/_o/69/02/415376c536fd60071113f99b43ad_30_31.cg.png" alt="">
           	</a>
		</div>
	</div>
</div>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/pc_to_mob');
_use:", this._JSstack , this._JSmods ); %>