@import "../beauty_sale/bs_base.less";

.top_bannar{.mb(20*@w);.hidden;.block;}
.seckill_goods{
	.mb(20*@w);.pr;
	.timeStamp_wrap{.pa;top: 0;right: 20*@w;.f(1.2rem);}
	.act_over{
		.pa;top: -10%;left: 0;.w(100%);.h(100%);
		background: url("@{pic_url}/images/wap/activity/all/bs_end.png") no-repeat center;background-size: 120*@w;}
}
.poster_tab{
	background: no-repeat center;background-size: 100%;.hidden;padding: 0 20*@w;
	a{.left;.w(25%);.pt(120*@w);}
	.tab_bwrap{.left;.w(100%);.pr;.pt(20*@w);border-bottom: 1px solid #e1e1e1;}
	.tab_choosed{.w(20%);.h(2px);.pa;bottom: 0;}
	.tab0{.bgc(#ffa0c0);left: 3%;}
	.tab1{.bgc(#feba95);left: 28%;}
	.tab2{.bgc(#fcd78e);left: 52%;}
	.tab3{.bgc(#8cdbbf);left: 77%;}
}

.goods_show;