<?
var identity;
if (identity){
	if(identity.pinkV){?>
	<span class="mls_special" title="<?= identity.pinkV?>">&nbsp;</span>
<?}if(identity.editorV){?>
	<a class="mls_editor" title="<?= identity.editorV?>" href="http://www.meilishuo.com/super_editor" target="_blank">&nbsp;</a>
<?}if(identity.blueV){?>
	<span class="mls_lv" title="<?= identity.blueV?>">&nbsp;</span>
<?}if(identity.purpleV){?>
	<span class="mls_zv" title="<?= identity.purpleV?>">&nbsp;</span>
<?}if(identity.heart_buyer){?>
	<span class="mls_buyer" title="<?= identity.heart_buyer?>">&nbsp;</span>
<?}if(identity.diamond_buyer){?>
	<span class="mls_diamond" title="<?= identity.diamond_buyer?>">&nbsp;</span>
<?}
}?>
