<%#head.html%>
<div class="result">
	<h1><span></span>如何更好的玩转群，获得编辑推荐？</h1>
</div>


<div class="question">
	<h2>常见问题</h2>
	<div class="ques-list">
		<div class="list-item">
			<div class="item-title"><h3>如何知道我成功申请了美丽群？</h3><span></span></div>
			<ul>
				<li>成功申请的群主会收到小美的短信和站内信通知，站内信里会一并附上美丽群链接供亲查看哦。</li>
			</ul>
		</div>
		
		<div class="list-item">
			<div class="item-title"><h3>在哪里找到我的群？</h3><span></span></div>
			<ul>
				<li>请在“首页顶部”切换至“美丽群”-“我的”-第一个就是你自己的群了</li>
			</ul>
		</div>

		<div class="list-item">
			<div class="item-title"><h3>之前明明通过了，怎么又没有了？</h3><span></span></div>
			<ul>
				<li>美丽群建立后，发送了不良言语或虚假信息，被小编妹子取消了。</li>
			</ul>
		</div>

		<div class="list-item">
			<div class="item-title"><h3>所申请美丽群未通过审核的原因？</h3><span></span></div>
			<ul>
				淡定~主要是以下原因哈：
				<li>1）背景图涉黄涉暴；</li>
				<li>2）定位不在“时装、搭配、彩妆、生活趣味”等类目里；</li>
				<li>3）美丽群简介与群名不协调，或简介内容还有待丰富；</li>
				<li>4）属微信招商等广告性质；</li>
			</ul>
		</div>

		<div class="list-item">
			<div class="item-title"><h3>什么是“精华”？</h3><span></span></div>
			<ul>
		    	<li>1）精华可以是群简介，文字、图片皆可；</li>
				<li>2）可以是关于我的介绍，让粉丝了解美丽群背后真实可爱的你，文字、图片皆可；</li>
				<li>3）可以是与我的美丽群相关的商品展示、姿势帖、科普文、晒单贴；</li>
			</ul>
		</div>
		<div class="list-item">
			<div class="item-title"><h3>如何加“精华”？</h3><span></span></div>
			<ul>
		    	<li>进入“讨论区“，发布文字or图片后，长按内容！出现”加精“按钮后即可操作；</li>
				
			</ul>
		</div>
		<div class="list-item">
			<div class="item-title"><h3>美丽群如何才能被推荐？</h3><span></span></div>
			<ul>
		    	<li>1）开通美丽群微店，有好东东分享售卖，是否开店是最重要的考评标准哦～</li>
		    	<li>2）保持活跃：经常与粉丝互动、发布内容、加精华、剔除小广告操作等，更喜欢聊聊美丽群主题相关的话题，人气旺。</li>
		    	<li>3）美丽群名称、简介相符，有格调有feel（总之就是有品啦，你懂的~）</li>
				<li>4）美丽群背景图一定要灰常美腻，大家要避免图片水印、logo、大头贴等；</li>
			<li>5）不要在群里发布个人其他联系方式，为了创建一个安全的购物环境，微信QQ也是不允许的呢～</li>
			</ul>
		</div>


		<div class="list-item">
			<div class="item-title"><h3>为何我的美丽群粉丝数少？</h3><span></span></div>
			<ul>
		    	<li>被推荐的美丽群才会获得大量粉丝的关注哦~通往成功的路上，贵在坚持哦~经营美丽群，马上开始发布精华、积极发言互动吧~</li>
				
			</ul>
		</div>
		<div class="list-item">
			<div class="item-title"><h3>如何增加我的美丽群粉丝数上限？</h3><span></span></div>
			<ul>
		    	<li>目前只有工作人员有权限哦，我们会根据活跃度、精华的质量，每天发的消息和图文质量等综合调整亲的美丽群粉丝数上限；</li>
				
			</ul>
		</div>

		<div class="list-item">
			<div class="item-title"><h3>如何开店？</h3><span></span></div>
			<ul>
		    	<li>1）在您第一次申请美丽群时，第二步即可开店</li>
		    	<li>2）用最新版本美丽说APP－进入到“我的群”－点击右上角“i”－开通店铺功能即可开店－成功后右上角显示“店”字样</li>
		    	<li>3）在讨论组里面，就可以点击“+”进行商品发布。</li>
			</ul>
		</div>


		<div class="list-item">
			<div class="item-title"><h3>在哪里查询商品以及进行订单管理呢？</h3><span></span></div>
			<ul>
		    	<li>开通微店后，点击“i”－查看商品及已售订单管理，里面可以看到订单，发货，商品，店铺，交易等信息；</li>
			</ul>
		</div>

		<div class="list-item">
			<div class="item-title"><h3>如何给买家退换货？</h3><span></span></div>
			<ul>
		    	<li>自行联系买家进行；</li>
			</ul>
		</div>

		<div class="list-item">
			<div class="item-title"><h3>银行如何结算？</h3><span></span></div>
			<ul>
		    	<li>每月1日，6日，11日，16日，21日，26日会在结算后生成一笔结算单，您需要核对结算单内的金额，点击确认结算单按钮进行结算。如不申请，将一直展示；</li>
			</ul>
		</div>

		<div class="list-item">
			<div class="item-title"><h3>投诉与咨询</h3><span></span></div>
			<ul>
		    	<li>客服电话：4000800577</li>
			</ul>
		</div>
	</div>
</div>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('circle/page/suc');
_use:", this._JSstack , this._JSmods ); %>
<%#foot_simple.html%>
