<div class="nav_right">
	<div class="nav_main">
		<a href="/promotion/sale_141220/act1225/" target="_blank" class="nav_a1"></a>
		<a href="/promotion/sale_141220/act_list/?cid=5171&pid=512&hdtrc=main24pc_new512"  target="_blank" class="nav_a2"></a>
		<a href="/promotion/sale_141220/act_list/?cid=5155&pid=496&hdtrc=main24pc_yifu496"   target="_blank" class="nav_a3"></a>
		<a href="/promotion/sale_141220/act_list/?cid=5157&pid=498&hdtrc=main24pc_dadi498"  target="_blank" class="nav_a4"></a>
		<a href="/promotion/sale_141220/act_list/?cid=5159&pid=500&hdtrc=main24pc_qunzi500"  target="_blank" class="nav_a5"></a>
		<a href="/promotion/sale_141220/act_list/?cid=5161&pid=502&hdtrc=main24pc_shoes502" target="_blank"  class="nav_a6"></a>
		<a href="/promotion/sale_141220/act_list/?cid=5163&pid=504&hdtrc=main24pc_bag504" target="_blank" class="nav_a7"></a>
		<a href="/promotion/sale_141220/act_list/?cid=5165&pid=506&hdtrc=main24pc_peishi506" target="_blank" class="nav_a8"></a>
		<a href="/promotion/sale_141220/act_list/?cid=5167&pid=508&hdtrc=main24pc_jiaju508" target="_blank"  class="nav_a9"></a>
		<a href="http://www.meilishuo.com/biz/beauty/saleDay/?cid=4947&hdtrc=mz1222_4947_welcomefocusbanner" target="_blank"  class="nav_a10"></a>
		<a href="http://www.meilishuo.com/activity/tuan/tg512/?event_id=1315&hdtrc=tuan1315_topBanner" target="_blank"  class="nav_a11"></a>
		<a href="/promotion/sale_141220/act1225/#coupon_rg"  target="_blank" class="nav_a12"></a>
		<a href="http://order.meilishuo.com/coupon/" target="_blank"  class="nav_a13"></a>
	</div>
	<a href="javascript:;" class="go_top"></a>
</div>