<%
var query = this._Request_query;
var getLink = _extFn.getLink;
%>
<%if(this.isShow){%>
	<span class="left_f f14_f">排序：</span>
	<ul class="category">
		<li><a class="<%if(query.section == 'hot' || !query.section){%>active<%}%> first" href="<%=getLink({'section' : 'hot' , 'page' : '0'} , query)%>">流行</a></li>
		<li><a class="<%if(query.section == 'boom'){%>active<%}%>" href="<%=getLink({'section' : 'boom' , 'page' : '0'} , query)%>">热销</a></li>
		<li><a class="<%if(query.section == 'new'){%>active<%}%> last" href="<%=getLink({'section' : 'new' , 'page' : '0'} , query)%>">上新</a></li>
	</ul>
<%}%>
<%if(this.showAttr){%>
<span class="left_f f14_f">热门：</span>
<ul class="category">
	<% var len = this.attr_style.length; %>
	<li><a class="<%if(!query.filterword){%>active<%}%> <%if(len == 0){%>all<%}else{%>first<%}%>" href="<%=getLink({'section' : 'hot' , 'page' : '0' , 'price' : 'all' , 'filterword' : null} , query)%>">全部<%= this.attr_title_keywords.word_name%></a></li>
	<% this.attr_style && this.attr_style.map(function(data, index){%>
		<li><a class="<%if(query.filterword == data.word_name){%>active<%}%><%if(index == len - 1){%> last<%}%>" href="<%if(data.isBrand){%>/guang/brand/<%= data.word_name%><%}else{%>/guang/attr/<%== query.word%><%=getLink({'section' : 'hot' , 'page' : '0' , 'price' : 'all' , 'filterword' : data.word_name} , query)%><%};%>" target="_self"><%= data.word_name%></a></li>
	<%});%>
</ul>
<%}%>
<%if(!(this.isCatalogTwo)){%>
<span class="left_f f14_f">价格：</span>
<ul class="category left_f">
	<li><a class="<%if(query.price == 'all' || !query.price){%>active<%}%> first" href="<%=getLink({'price' : 'all' ,'section' : 'hot' , 'page' : '0' ,} , query)%>">全部</a></li>
	<li><a <%if(query.price == '0~100'){%>class="active"<%}%> href="<%=getLink({'price' : '0~100' , 'section' : 'hot' , 'page' : '0' ,} , query)%>">0~100</a></li>
	<li><a <%if(query.price == '101~200'){%>class="active"<%}%> href="<%=getLink({'price' : '101~200' , 'section' : 'hot' , 'page' : '0' ,} , query)%>">101~200</a></li>
	<li><a <%if(query.price == '201~500'){%>class="active"<%}%> href="<%=getLink({'price' : '201~500' , 'section' : 'hot' , 'page' : '0' ,} , query)%>">201~500</a></li>
	<li><a class="<%if(query.price == '501~10000'){%>active<%}%> last" href="<%=getLink({'price' : '501~10000' , 'section' : 'hot' , 'page' : '0' ,} , query)%>">500元以上</a></li>
</ul>
<%}%>

