<div class="top_100">
	<div class="top_con">
		<a class="t_hot" href="/goods?frm=book_section1" target="_blank">今日最热</a>
		<a class="dress" href="/guang/catalog/dress?nid=11&cata_id=2000000000000&frm=book_section1" target="_blank">衣服榜</a>
		<a class="shoes" href="/guang/catalog/shoes?nid=13&cata_id=6000000000000&frm=book_section1" target="_blank">鞋子榜</a>
		<a class="bag" href="/guang/catalog/bag?nid=15&cata_id=5000000000000&frm=book_section1" target="_blank">包包榜</a>
		<a class="access" href="/guang/catalog/access?cata_id=7000000000000&frm=book_section1" target="_blank">配饰榜</a>
		<a class="beauty" href="/guang/catalog/beauty?cata_id=8000000000000&frm=book_section1" target="_blank">美容榜</a>
		<a class="jiaju" href="/guang/catalog/jiaju?cata_id=9000000000000&frm=book_section1" target="_blank">家居榜</a>
	</div>
</div>

