.order_detail{.w(920px);.border-1(#e6e6e6);.auto;.mt(-1px); padding: 20px 19px; .bgwhite;
	.o_title{.mb(20px);}
	table{border-collapse: collapse;.border-1(#e6e6e6);.w(100%);
		th{.bgc(#f2f0f0);.h(48px);border-bottom: 1px #e6e6e6 solid;}
		td{padding: 20px;.c;}
		.goods_td{.w(274px);
			.img_a,.info_div{.left;}
			.img_a{
				img{.w(60px);.h(60px);.mr(20px);.border-1(#e6e6e6);}
			}
			.info_div{.w(192px);.l(18px);text-align: left;
				.goods_name{.h(36px);}
				.goods_detail_info{.mt(10px);.fc(#999);}
				span{.mr(25px);}
			}
		}
	}
}