@import "storeAtom.less";

.flow_step;

.refund_info {.border-1(@color:#e6e6e6);.bgwhite;.mt(-1px);
	h3 {.bgwhite;.h(52px);.l(52px);.ml(20px);}
	.info_con {margin:0 12px;.pt(20px);.pb(20px);border-top:1px dotted #bfbfbf;}
	h6 {.left;.l(24px);.pl(10px);.f(12px);.fn;}
	.info_des {.left;.w(600px);.l(24px);}
	p {.pb(10px);}
	.imgUpload {.left;.w(98px);.h(98px);.border-1(@color:#e6e6e6);.mr(10px);
		img,a {.w(98px);.h(98px);.block;.cursor;}
		}
}
.order_detail{.w(920px);.border-1(#e6e6e6);.auto;.mt(-1px); padding: 20px 19px; .bgwhite;
	.o_title{.mb(20px);}
	table{border-collapse: collapse;.border-1(#e6e6e6);.w(100%);
		th{.bgc(#f2f0f0);.h(48px);border-bottom: 1px #e6e6e6 solid;}
		td{padding: 20px;.c;}
		.goods_td{.w(274px);
			.img_a,.info_div{.left;}
			.img_a{
				img{.w(60px);.h(60px);.mr(20px);.border-1(#e6e6e6);}
			}
			.info_div{.w(192px);.l(18px);text-align: left;
				.goods_name{.h(36px);}
				.goods_detail_info{.mt(10px);.fc(#999);}
				span{.mr(25px);}
			}
		}
	}
}

.express{ .w(918px); .border-1(#e6e6e6); .auto; .bgwhite; padding: 20px; .mt(-1px);
	.title{.pt(20px);.pb(20px);.mt(20px);.border-tc(dotted);}
	td{.pb(10px);}
	.last_line td{.pb(0px);}
	.express_info{
		p{.mb(10px);}
		.last_exp{.mb(0px);.red;}
	}
}
.vtop{
	vertical-align: top;
}

.buyer_info{
	.w(918px); .border-1(#e6e6e6); .auto; .bgwhite; padding: 20px; .mt(-1px);
	.b_title{.mb(13px);}
	table{
		td{.l(22px);vertical-align: top;}
	}
}
.prove_content {.border-1(@color:#e6e6e6);.bgwhite;.mb(10px);
	h3 {.h3_title;border-bottom:1px solid #e6e6e6;}
	}
.flowStep_4 {.w(680px);.auto;
	li {.w(165px);}
	.status_des {clear:both;.c;.l(20px);}
	}
.prove_info {margin:0 12px;
	ul {border:1px dotted #bfbfbf;border-width:1px 0;.pt(15px);.mb(20px);}
	li {.mb(20px);
		.info_input {.w(140px);.h(23px);.left;.mr(20px);.border-1(@color:#e6e6e6);padding:0 5px;}
	}
	label {.left;.l(24px);.pl(8px);.pr(5px);}
	.left_name{.w(73px);}
	select {.w(160px);}
	textarea {.w(580px);.h(80px);.f(12px);padding:5px 10px;}
	.submit_btn {.c;
		input {.redBtn;.h(35px);.l(35px);border:0;.f(14px);.auto;.mb(20px);.cursor;}
		}
	}
.upload_proof {.left;.w(600px);
	.upload {.redBtn;.w(102px);.left;.c;.mr(20px);.mb(20px);.cursor;padding: 0;}
	.txt {.l(24px);}
}
.wrong_tip{.red;}
.last_time{.red;.ml(8px);.mr(8px);}
.img_wrapper{.mb(20px);
	.imgUpload {.left;.w(98px);.h(98px);.border-1(@color:#e6e6e6);.mr(9px);position:relative;
		.close{position:absolute;top:0;right:0;z-index:3;.w(18px);.h(18px);.i_block;background:url("@{pic_url}/images/doota/remove_pic.png")}
		img,a {.w(98px);.h(98px);.block;.cursor;}
	}
}
.img_wrapper.no-mt{
	.mt(0px);
}
.arbitrate_info {.border-1(@color:#e6e6e6);.bgwhite;.pl(20px);.pr(20px);.pb(20px);
	h3 {.mt(20px);.bgwhite;.f(14px);.mb(10px);}
	table{
		.w(100%);
		td{vertical-align: top;.l(22px);}
		.l_name{.w(60px);}
	}

}
.status {.border-1(@color:#e6e6e6);.bgwhite;.mb(10px);
	h3 {.h3_title;border-bottom:1px solid #e6e6e6;}
}