@import "storeAtom.less";
@bds: 1px solid #e6e6e6;

.nav_bar;
.page;
.pageNav{ .page > .pageRed; }


.content{.w(780px);.left;
	.shop_title{.border-1(#e6e6e6);.fb;.h3_title;.mb(-1px);}
	.shop_table{padding: 20px;.bgc(#fff);.border-1(#e6e6e6); .l(38px);.mb(10px);
		p {.l(30px); .pt(5px); .pb(5px);
			.query_select { .w(150px); .border-1(#D2D2D2);}
		}
	}
	.goods_num, .goods_title{.w(146px);.h(22px);.border-1(#d2d2d2);.pl(8px);.mr(20px);}
	.goods_title{.w(302px);.mr(10px);}
	.submit ,.suitable_btn{padding: 6px 22px;.border-r(2px);.bgc(#f69);.fc(#fff);.cursor;.c;.border-n; .ml(25px);}
	.d_list{
		thead{ 
			tr{border:1px solid #e6e6e6; }
			
		}
		tbody{
			tr{ border:1px solid #e6e6e6; }
			td{ .l(20px); padding:10px 0; }
		}
	}
	.odd{.bgc(#f7f6f6);}
	ul{
		.hidden;
		.mt(10px);.mb(10px);
		li{
			.pr;
			border:1px solid #e6e6e6;
			.left;
			.w(95px);
			.h(93px);
			.mr(17px);
			.l(93px);
			.c;
			img{
				.w(95px);
				.h(93px);
			}
			div{
				background:rgba(0,0,0,0.6);
				.pa;
				.h(23px);
				.w(100%);
				bottom:0;
				span{
					.h(10px);
					.left;
					.mt(8px);
					background:url("@{pic_url}/images/store/gallery_icon.png");
					cursor:pointer;
				}
				.move_left{.w(13px);.ml(6px);background-position:-13px 0;}
				.move_right{.w(13px);.ml(9px);}
				.del_pic{.w(10px);.ml(33px);background-position:-26px 0;}
			}
		}
	}

}


.combine_cont{padding: 18px 24px;
	.combine_info{ .auto; .w(100%); .l(26px); .mb(20px); .f(14px); .c; .red;}
	.suc_close{ .border-n; .h(26px); .bgred; .l(26px); .w(60px); .c;.border-r(@radius:3px); .cursor; padding: 0;}
	.c_f{.c;}
}