@import "storeAtom.less";
@bds: 1px solid #e6e6e6;
.datepicker;
.nav_bar;
.page;
.pageNav{.page > .pageRed; }
.page_title {.h3_title;.fb;border-bottom:@bds;.mb(10px)}
.content{.bgwhite;border:@bds;.mb(10px);
	p{padding: 10px;}
	.empty_tip_detail{padding: 10px 20px;.mt(10px); border-top: 1px dotted #e6e6e6;}
}
th{white-space: nowrap;}
table tr td{padding:10px;
	&.c{
		.c;
	}
}
.op_wrapper{
	a{.mr(4px);white-space: nowrap;.l(18px);}
}
input.text{border:@bds;.h(22px);.l(22px);padding:0 4px;.w(120px);}
.btn(){
	padding:5px 15px;.i_block;.c;
}
.red_btn,.gray_btn{
	.l(12px);.white;.f(12px);.btn;border:0;border-radius:2px;.bgred;.cursor;
}
.gray_btn{
	.bggray;
}
.mr2{
	.mr(20px);
}
.r{text-align:right;.pr(10px)}
.coupon_list,.coupon_detail_list{
	padding:15px;
	table{
		.w(100%);
		border-spacing:1px !important;
		border-collapse:separate;
		background-color:#e6e6e6;
		td,th{
			vertical-align:top;
			padding:10px;
			.bgwhite;
			.c;
		}
		tr.odd td{
			background-color:#f6f6f6;
		}
	}
}
.coupon_detail_list{
	padding:0;
	.pt(20px);
	.pb(10px);
	border-top:1px dotted #e6e6e6;
	margin:10px
}
.coupon_new{
	overflow:hidden;
	.l(24px);
	.pt(10px);
	input.short{.w(40px)}
	.short_input{
		input.text{.w(108px);}
		input.short{.w(78px);}
	}
	.left{
		.w(380px);
		border-right:1px dotted #e6e6e6;
		float:left;
		.mr(20px);
	}
	.right{
		float:left;
		.w(355px);
	}
	th,td{
		padding:5px 10px;
	}
	td{
		vertical-align:top;
	}
	td:first-child{
		text-align:right;
	}
	textarea{
		.w(300px);.h(80px);
		border:@bds;
	}
	span.detail{
		color:silver;
		.ml(10px)
	}	
}
.coupon_show_btn{
	margin:10px;
	.pt(10px);
	border-top:1px dotted #e6e6e6;
	.c;
}
.empty_tip{.pl(10px);.pb(10px);}
.send_detail{.pl(20px);
	span{.mr(20px);.l(36px);}
}
.search_wrapper{
	.pl(20px);
	input{.mr(20px);}
	.search_btn{.bgred;border: none;.white;padding: 5px 10px;.border-r(3px);}
}
.coupon_out{.cursor;}
.coupon_textarea{.w(270px);.h(40px);}
.select_all{.cursor;}
