@import "storeAtom.less";
.nav_bar;
.page;
.pageNav{ .page > .pageRed; }
.datepicker;

.page_title {.h3_title;.fb;.border-1(@color:#e6e6e6);}
.op_content {.bgwhite;padding:0 20px;.mb(10px);.border-1(@color:#e6e6e6);border-top:0;}
.refundCon {border-bottom:1px dotted #e6e6e6;padding: 5px 0;
	span {.l(25px);.pr(10px);}
	input {.w(118px);}
	.order_status {
		select {.w(148px);color:#333;}
	}
}
.applyCon {padding: 5px 0;
	input {.w(118px);}
	.btn_query {.ml(10px);.right;
		input{.redBtn; border: none;.cursor; .w(80px);.left;.mr(10px);}
		.batch-export{.redBtn; border: none;.cursor;.left;}
		.batch-send{.redBtn; border: none;.cursor;.left;.ml(10px);}
	}
	.spac {padding:0 10px;}
}
.refund_wrap {.bgwhite;.border-1(@color:#e6e6e6);padding:19px;
	.refund_title {.mb(10px);.c;.border-1(@color:#e6e6e6);
		td {padding:20px 0;.fb;}
	}
	.goods_name {.w(240px);}
	.quantity {.w(55px);}
	.goods_code {.w(110px);}
	.delivery_address {.w(200px);}
	.order_status {.w(85px);}
	.operate {.w(76px);
		a {.red;.cursor;}
	}
	.delivery_list {.mb(20px);
		td {.border-1(@color:#e6e6e6);.c;}
		.delivery_info {.h(48px);.l(48px);background:#f2f0f0;.pl(20px);.tl;
			span {.pr(30px);}
			}
		.delivery_address {.tl;.w(180px);padding:0 10px;.l(18px);}
		table{border: 1px solid #e6e6e6;}
		.blank_row, .blank_row_1{.w(20px);border-top: none;border-bottom: none;}
		.blank_row{border-right: none;}
		.blank_row_1{border-left: none;}
		.goods_name, .quantity, .goods_code{border-left: none;border-right: none;border-top-style: dashed;border-bottom-style: dashed;}
		}
	.goods_des {.l(18px);.tl;padding:10px 0;
		img {.left;.w(60px);.h(60px);.mr(10px);.border-1(@color:#e6e6e6);}
		.txt {.left;.w(140px);}
		.title {.h(36px);.hidden;}
		.property {.gray;.mt(10px);
			span {.mr(5px);}
		}
		.remark {padding:10px;}
	}
}
.ml10{.ml(10px);}
.no_orders{
	.f(12px);.bgc(#fff);.pl(20px);.l(40px);
}
.remark{
	.pb(20px);.pt(4px);
	.seller{.ml(20px);.left;}
	p{text-align: left;.pl(80px);}
}
