@import "storeAtom.less";
@import "../block.less";
.flow_step;
.flowStep {
	.flowStep_4{ .pl(70px); .mt(26px);
		li { .w(175px); }
	}
}
.order_detail {.border-1(@color:#e6e6e6);.bgwhite;.mb(10px);
	h3 {.h3_title;border-bottom:1px solid #e6e6e6;}	
	.detailCon {.border-bc(dotted);.h(52px);.l(52px);.ml(20px);.mr(20px);
		.order_num {.left;.w(150px);.mr(40px);}
		.order_time {.left;.w(210px);.mr(40px);}
		.suc_time {.left;.w(210px);.mr(40px);}
		.buyer {.left;.w(210px);}
		.date {.mr(14px);}
	}
	.tips {.c;.h(52px);.l(52px);}
}
.detail_tle { .f(14px); .pb(10px); }
.info { .l(22px); .border-1(#e6e6e6);.bgwhite; padding: 10px 20px 20px; border-top: none;
	.modify { .f(16px); .border-1; .bgc(#f2f2f2); .border-r(3px); .i_block; .c;
		.h(28px); .l(28px);.mt(5px); .pl(15px); .pr(15px); 
	}
	>div{overflow:hidden}
	.express_company { .h(23px);.w(100px); }
	.ipt_nums { .border-1; .h(28px); .l(28px); .p05; .w(260px); }
	.m_express {.ml(20px);.red;cursor:pointer}
	.l{.left}
	li.current{font-weight:bolder;color:#FF6699}
}
.order_wrap{
	.border-1(#e6e6e6); .bgwhite; padding: 15px 20px;border-bottom: none;
}
.choose_wrap input{ .left; .mt(22px); .mr(8px); }
.cancel_box{ .vhidden; }


.order_table .o_items_desc{ margin: 0 10px 0 110px}
.buyer_info{.mb(10px);.border-bc(solid);
	table{.mb(10px);
		td{.l(28px);
			&.t_tle{white-space: nowrap;vertical-align: top;}
		}
	}
}