@import "storeAtom.less";
@bds: 1px solid #e6e6e6;
.main {
	border: @bds;
	.bgc(#ffffff);
	.w(960px);
	.top {
		.clearfix();
		.p20();
		.img_wrapper {
			.hidden();
			.h(130px);
			.hidden();
			img {
				.w(130px);
			}
			.left();
		}
		.goods_info {
			.left();
			.mt(5px);
			.ml(20px);
			.h(130px);
			.goods_info_wrap {
				.mt(10px);
				color: #999999
			}
			;
			.goods_title {
				.mb(20px)
			}
			.radio_buttons {
				font-size: 14px;
				.mt(58px);
				.right_radio {
					.ml(10px)
				}
				;
			}
		}
		input,label { vertical-align:middle;font-family: verdana}
	}
	.table_wrap {
		.pb(20px);
		.pl(20px);
		.pr(20px);
	}
	table,th,td{.tl();text-align:center;border-top: @bds;border-bottom:@bds}
	th{border-left:@bds;border-right:@bds;font-family:Arial;font-style: normal;font-weight: normal}
	thead{.bgc(#f7f6f6);tr{.h(45px)}}
	table{.w(100%);}
	tbody tr{.h(32px);border-top:@bds;td{border-left:@bds;border-right:@bds;font-weight: normal}}
	.pc_table {
	}
	.mob_table {
		.none();
	}
}