@import "storeAtom.less";
  .nav_bar;
.page_title {.h3_title;.fb;.border-1(@color:#e6e6e6);}

.use_help{float:right;margin-right:40px;cursor:pointer;font-size:13px;line-height:47px ;font-weight:normal;}
.use_help img {vertical-align:middle;}
.user_help_p{vertical-align:middle;display:inline;}

.download_wrapper{.pr;
	padding:1px 1px 20px;.border-1(#e6e6e6);.mt(-1px);background:#ffffff;
	.download_btn{
		.hidden;.indent;.pa;right:210px;top:280px;.w(257px);.h(94px);
		background:url("http://i.meilishuo.net/css/images/downloadstore/download_btn.png") no-repeat;
	};
}