@import "storeAtom.less";
@bds: 1px solid #e6e6e6;

.nav_bar;
.page;
.pageNav{ .page > .pageRed; }
.datepicker;
.mt20{.mt(20px);}
.btn{padding:5px 15px 6px;}
.l_dotted_b{border-bottom: 1px dotted #BFBFBF;}

.op-table{.w(778px); border: 1px solid #e6e6e6;.auto;.mb(10px);}
.op-title{.fb;border-bottom: 1px solid #e6e6e6;.h3_title;}
.op-content{.bgc(#fff); .hidden;padding: 20px;.l(200%);}
.op-content span{.pr(40px);}

.info {.l(22px); .border-1(#e6e6e6);.bgwhite; padding: 15px 20px;
	.recent_clearing_info{.pb(15px);}
	p span{.pr(40px);}
	a{.w(95px); .mr(25px); border: none; &:hover{.cursor}}
}
.recent_clearing{.mb(15px);}
.recent_clearing_btn{.c;.pt(15px);.h(26px);}

.order_wrap{
	.w(738px);.bgc(#fff);.border-1(#e6e6e6);padding: 20px;
	h3{.pb(20px);}
	form{.pt(15px);.pb(15px);}
}
.order_status, .apply_time, .btn_query{.left;}
.order_status{.w(135px);
	select{border: 1px solid #d2d2d2;.h(23px);}
}
.apply_time{.w(345px);
	input{.w(120px);.h(19px);}
}
.btn_query{.w(150px);
	.query{border: none;margin: 0 5px 0 0;}
}

.list_table{
	.w(100%);.c;
	thead,td{.border-1(#e6e6e6);}
	th{height: 48px;}
	td{height: 40px;}
}

#maskLayer, .maskLayer, .transmaskLayer{
	.bgc(#000);
}
#maskLayer, .maskLayer{
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.unset_pay_wrap{
	.bgc(#fff);
	table{.w(100%);.c;}
	th,td{.border-1(#e6e6e6);}
	th{height: 48px;.fb;}
	td{height: 40px;}
}
#dialogLayer{overflow: scroll;
	#dialogContent{min-height: 100%;}
}
