@import "storeAtom.less";
.page;
.pageNav{ .page > .pageRed; }
.nav_bar;
.page_title {.h3_title;.fb;.border-1(#e6e6e6);
	span {.left;}
	.query { margin: 10px 15px; .f(12px); .h(25px); .l(25px); .right; .bgc(#ff679a); .fc(#fff); .c; .none; .border-r;.w(65px); border: none; 
		&:hover{.cursor}}
}
.search_wrapper{.w(738px);.bgc(#fff);.border-1(#e6e6e6);.mt(-1px);padding: 20px;
	.to_help{.left;.red;.l(24px);}
	.search_div{.right;
		.search_input{.mr(20px);}
		.search_sub{.w(70px);.h(25px);.bgred;.white;border: 0;.border-r;.cursor;}
	}
}
.group_list{.w(738px);.bgc(#fff);.border-1(#e6e6e6);padding: 20px;.mt(11px);
	.list_table{.w(100%);border-collapse: collapse;
		tr{.border-1(#e6e6e6);
			&:hover{.get_detail{.bgc(#f69);}}
		}
		.title_tr{.h(48px);}
		.blank_tr{border: 0;
			td{.h(10px);}
		}
		.odd_tr{.bgc(#f6f6f6);}
		.goods_td{.w(215px);.c;.pt(19px);.pb(19px);.pl(25px);.l(22px);
			div{.vm;.hidden;}
			img{.w(60px);.h(60px);.left;}
			span{.w(120px);.tl;.ml(9px);.pt(8px);.left;}
		}
		.price_td,.stock_td,.sales_td{.fb;.c;}
		.status_td{.c;.fb;.w(140px);}
		.op_td{.c;.w(180px);
			.get_detail{.w(48px);.grayBtn;.i_block;.cursor;.border-r;}
		}
		.recommend_td{.w(40px);.c;vertical-align: top;
			.recommend{.bgred;.white;padding: 5px;.l(22px); .mt(5px); .border-r(0 0 5px 5px);}
		}
	}
}