@import "storeAtom.less";
.nav_bar;
.page_title {.h3_title;.fb;.border-1(#e6e6e6);
	span {.left;}
	.query { margin: 10px 15px; .f(12px); .h(25px); .l(25px); .right; .bgc(#ff679a); .fc(#fff); .c; .none; .border-r;.w(65px); border: none; 
		&:hover{.cursor}}
}
.post_form{.w(738px);.bgc(#fff);.border-1(#e6e6e6);padding: 20px;.mt(-1px);
	.post_table{.w(100%);
		td{.l(32px);
			&.groupon_info_tip{.l(20px);
				.mls_groupon_title,.mls_groupon_content{.mb(10px);.red;}
			}
		}
		.title_td{.w(80px);}
		.b_price_td{
			span{.ml(10px);.fc(#9a9a9a);}
		}
		.sub_wrapper{.fc(#999);.mt(15px);
			.sub_btn{.w(100px);.h(35px);.c;.bgc(#f69);.fc(#fff);.cursor;border: 0;.border-r;.mr(10px);.f(14px);}
		}
	}
	.origin_price_tip{.red;.ml(10px);}
}
.g_wrapper{.border-1(#e6e6e6);
	h4{.h(36px);.l(36px);.bgc(#f7f7f7);.pl(10px);.border-bc(solid);
		b{.f(14px);}
		.t_intro{.ml(10px);.red;}
	}
	.g_item{padding:10px 20px;.mt(-1px);border-top: 1px dotted #e6e6e6;
		.img_wrapper,.content_wrapper{.left;}
		.img_wrapper{.w(110px);
			a{.block;.w(98px);.h(98px);border: 1px solid #e6e6e6;.mb(10px);}
			img{.w(100%);.h(100%);}
			.upload_btn{.w(100px);.h(25px);.l(25px);.c;.bgc(#f69);.fc(#fff);.cursor;.border-r;}
			p{.fc(#9a9a9a);.mt(10px);}
		}
		.content_wrapper{.ml(20px);.w(560px);
			.discount{.ml(20px);}
			.detail_title{vertical-align: top;}
			.desc{.w(490px);.h(80px);padding: 10px;}
			.price{margin: 0;padding:0;}
			div{.mt(10px);}
		}
	}
}
.maga_suc{word-break: break-all;width: 500px;}