@import "storeAtom.less";
@import "../block.less";
.main { background: url("@{pic_url}/images/store/login.jpg") no-repeat top center;
	.topbox { .auto; .hidden; .pt(20px); .pb(20px); .w(948px);
		.login_box {.common_shadowBox; .right; .w(300px);
			h2{ .c; .red; .f(20px); .l(56px); .pt(5px); }
			fieldset { .border-tc(dotted); padding: 0 28px 8px;
				label{ .left; .h(18px); .pt(6px); .mr(10px); .w(40px); text-align:justify; 
					em { .i_block; .pl(100%); }
				}
				.list, .checkBox { .hidden; .mt(20px); }
				.l_ipt { .f(12px); .gray; .border-1; .h(22px); .l(22px); .p05; .w(180px); }
				.checkBox{
					.l_ipt{.w(52px);}
				}
				.checkImage{
					.pa;.inline;.w(148px); .ml(8px);
					span{.left;.l(24px);.h(24px);.mr(8px);.cursor;}	
				}
				.msg_txt { .h(30px); .l(30px); .red; }
				.btnBox { .pb(16px);  
					.btn, .reg { .h(40px); .c; .block; .l(40px); .f(16px); .fb; .w(100%); }
					.btn { .common_button; .common_button > .redBtn; .border-n; }
					.reg { .common_button; .common_button > .pinkBtn; }
				}
			}	
		}
	}
}
.detailBox { .bgwhite; .hidden; .pb(30px); }
.detail { .w(948px); .auto; .hidden;
	.pic_bg { background: url("@{pic_url}/images/store/login_ico.png") no-repeat center; .h(165px); .mt(65px); }
	.con { 
		li { .left; .w(180px); .pl(76px); .pr(50px);
			.tle { .f(16px); .c; .h(80px); .l(80px); }
			p { .l(26px); }
		}	
	}
}
.zszc{.w(948px); .auto;.mt(36px);.pt(36px);.border-tc;
    h5{.c;.f(24px);.fc(#333);.l(28px);}
	h3 {.f(14px);}
	td {padding:10px;.border-1(@color:#d2d2d2);}
	div {.mb(10px);}
	ul {.mb(10px);}
	h6 {.f(16px);.fn;.l(40px);}
    .con{.bgc(#f5f5f5);.box-shadow;padding:20px;.mt(20px);
        .f(14px);.l(22px);
    }
}
