@import "storeAtom.less";
@bds: 1px solid #e6e6e6;
.nav_bar;
.page;
.pageNav{ .page > .pageRed; }
.datepicker;

.op-table{.w(778px); border: 1px solid #e6e6e6;.auto;.mb(10px);}
.op-title{.fb;border-bottom: 1px solid #e6e6e6;.h3_title;}
.opo-title{.fb;.h3_title;}
.op-content{.bgc(#fff); .hidden;}
.op-con-line-f, .op-con-line{.pt(5px); .pb(5px); .mr(20px); .ml(20px); .hidden;}
.op-con-line-p{ .mr(20px); .ml(20px); .hidden; .pb(10px);
	input{.w(118px); border: 1px solid #d2d2d2;}
}
.op-con-line{border-top: 1px dotted #bfbfbf;}
.oder-status, .buyer-name, .order-id, .trans-time, .op-btns{
	.h(25px); .left; .mr(25px);
	span{.pt(5px); .pb(5px);}
}
.oder-status{
	select{}
}
.buyer-name, .order-id, .trans-time{
	input{.w(118px); border: 1px solid #d2d2d2;}
	.dao{.pl(8px); .pr(8px);}
}
.op-btns{.hidden;
	.query, .batch-export{.h(25px); .l(25px); .left; .bgc(#ff679a); .fc(#fff); .c; .border-r;}
	.query{.w(95px); .mr(25px); border: none; &:hover{.cursor}}
	.batch-export{.w(109px); &:hover{.cursor}}
}

.order_wrap{
	.w(738px);.bgc(#fff);.border-1(#e6e6e6);padding: 20px;
    .nco_o{ .right; .pb(10px);
         a{.red};}
}

