@import "storeAtom.less";
@import "appeal_buyer.import.less";
@import "appeal_express.import.less";
@import "appeal_order.import.less";
@import "appeal_refund_info.import.less";

.set_default{.ml(10px);.red;}
.address_radio{.mr(10px);}
.wrong_tip{.red;}
.count_time{.red;.ml(5px);.mr(5px);}
.refund_detail {.border-1(@color:#e6e6e6);.bgwhite;.pb(20px);.mb(10px);
	h3 {.h3_title;border-bottom:1px solid #e6e6e6;}
}
.detailCon {.h(52px);.l(52px);margin:0 20px;border-bottom:1px dotted #c0c0c0;
	span {.mr(35px);}
	}
.status {.pt(20px);.c;margin:0 20px;
	.cur_txt {.tl;.f(14px);.mb(20px);
		span {.red;}
	}
	ul { .pt(10px);display:inline-block;
		li {.left;.c;.gray;}
		span {.w(12px);.h(12px);.left;.mt(-5px);
				background:url('@{pic_url}/images/store/mls_store131110_1.png') no-repeat -109px -48px;
		}
	}
	.redline {.h(2px);.bgc(#F69);.left;.w(140px);}
	p {.mt(15px);.ml(-140px);}
	.current {.red;
		span {.bp(-92px,-48px);}
	}
	.last {.mr(-140px);}
	.tips {.pt(20px);}
}
.button_refund {border-top:1px dotted #c0c0c0;.c;.pt(20px);margin:20px 20px 0;.f(14px);
	.btn {.h(35px);.l(35px);.border-r(@radius:2px);display:inline-block;.white;margin:0 20px;.cursor;.pl(20px);.pr(20px);}
	.red_btn {.bgred;.btn;}
	.gray_btn {.bgc(#cbcbcb);.btn;}
	input { border:0;.w(100px);.h(35px);.border-r(@radius:2px);.f(14px);.white;.cursor;}
}
.refuseForm {.border-1(@color:#e6e6e6);.bgwhite;.mt(10px);.mb(10px);.pt(20px);.pb(20px);
	table {margin:0 20px;}
	td,th {vertical-align:top;padding:10px 0;.l(24px);}
	th {.w(90px);.tl;}
	textarea {.w(600px);.h(80px);.border-1(@color:#d2d2d2);color:#666;padding:5px;.f(12px);}
	.uploadImg {.redBtn;.w(100px);.left;.c;padding:0;.mr(10px);}
	.pic_list {clear:both;.mt(20px);
		div.imgUpload{float:left;position:relative;.mr(10px);
			.close{position:absolute;top:0;right:0;z-index:3;.w(18px);.h(18px);.i_block;background:url("@{pic_url}/images/doota/remove_pic.png")}
			img {.w(98px);.h(98px);.border-1(@color:#d2d2d2);}
		}
		
	}
}
.return_address {.border-1(@color:#e6e6e6);.bgwhite;.mt(10px);.mb(10px);padding:20px 0;
	h6 {.f(14px);.pl(20px);.mb(20px);}
	ul {padding:0 20px;}
	li {.mb(10px);
		span {.ml(10px);}
	}
	.add {.pl(20px);}
	}
.add_address_wrapper{.ml(20px);
	p{.l(26px);}
	label{.w(80px);display: inline-block;}
	#addressBtn{.w(100px);.h(26px);border:0;.bgc(#f69);.fc(#fff);.border-r(3px);.cursor;}
	.addressErrorMessage{.red;.ml(10px);display: inline-block;}
}

.dialog_expressNo{padding: 20px 30px; .l(20px);
	.sure{ padding: 5px 16px;}
	.expreCancel{.ml(16px);}
}
