@import "storeAtom.less";
@bds: 1px solid #e6e6e6;

.nav_bar;
.page;
.pageNav{ .page > .pageRed; }
.datepicker;

.page_title {.h3_title;.fb;.border-1(@color:#e6e6e6);}
.op_content {.bgwhite;padding:0 20px;.mb(10px);.border-1(@color:#e6e6e6);border-top:0;}
.refundCon {padding: 5px 0;
	span {.l(25px);.pr(10px);}
	input {.w(118px);}
	.order_status {
		select {.w(148px);}
		}
	}
.buyerCon {.pt(5px);.pb(5px);border-top:1px dotted #e6e6e6;
	input {.w(118px);}
	.buyer_name {.w(240px);.h(25px);}
	.btn{.ml(10px);.l(23px);.h(23px);.white; border: none;.cursor;.w(auto);padding: 0 25px;}
	.spac {padding:0 10px;}
}
.ml10{.ml(10px);};
.refund_wrap {.bgwhite;.border-1(@color:#e6e6e6);padding:19px;
	.refund_title {.mb(10px);.c;.border-1(@color:#e6e6e6);
		td {padding:20px 0;.fb;}
	}
	.operate {
		a {.red;.cursor;}
	}
	.refund_list {.mb(20px);
		.refund_info {.h(48px);.l(48px);background:#f2f0f0;.pl(20px);.tl;
			span {.pr(30px);}
		}
		.goods_name, .amount, .refund_amount{border-left: none;border-right: none;border-top-style: dashed;border-bottom-style: dashed;}
		.mark{
			padding: 20px;text-align: left;
		}
		.remarkBox ul{.pl(60px);}
	}
	.goods_des {.l(18px);.tl;padding:10px 0;
		img {.left;.w(60px);.h(60px);.mr(10px);.border-1(@color:#e6e6e6);}
		.txt {.left;.w(140px);}
		.title {.h(36px);.hidden;}
		.property {.gray;.mt(10px);
			span {.mr(5px);}
			}
		}
}
.no_orders{
	.f(12px);.bgc(#fff);.pl(20px);.l(40px);
}


/*part share style*/
.o_sep{.h(14px);}
.blank_row, .blank_row_1{.w(20px);}
/* end */
.order_table{
	.w(100%);.bgc(#fff);border-spacing: 0;border-collapse: collapse;.c;
	tbody{border: @bds;}
	tfoot{border: none;}
	th,td{.border-1(#e6e6e6);}
	th{.l(48px);}

	thead th{border-left: none;border-right: none;}
		.th_first{border-left: @bds;}
		.th_last{border-right: @bds;}

	.o_con{
		.blank_row{border-bottom: none;border-top: none;}
	}
	.o_remark{
		td{text-align: left;}
		.mark{padding: 20px;.pl(0);border-left: none;}
	}

	tfoot{
		td{border: none;}
	}
	.blank_row{border-right: none;}
	.blank_row_1{border: none;}
}
