@import "storeAtom.less";
.nav_bar;
.page_title {.h3_title;.fb;.border-1(@color:#e6e6e6);}
.detail{.bgwhite;padding: 10px;.border-1(@color:#e6e6e6);.mt(-1px);
	.wrapper1{.hidden;.border-1(#e6e6e6);padding: 10px;
		.img_wrapper,.info{.left;}
		.img_wrapper{.w(140px);.c;border-right: 1px dotted #ddd;
			img{.w(100px);.h(100px);}
			p{.l(20px);.c;.mt(10px);padding: 0 10px;
				a{.f(14px);}
			}
		}
		.info{
			.list_today{.w(580px);.hidden;.ml(15px);.mt(10px);
				li{.left;.w(220px);.l(200%);.pl(20px);}
			}
			.list_ready{.w(580px);.hidden;.ml(15px);.mt(20px);
				li{.left;border-right: 1px dotted #ddd;.w(150px);.l(200%);.pl(20px);
					&.last{border:none;}
				}
			}
		}
	}
	.wrapper2{.hidden;.mt(5px);
		.l{.left;.w(534px);
			.post{.moduleCommon();
				.m_con{
					.post_line{.l(32px);border-top: 1px dotted #e6e6e6;.mt(-1px);}
				}
			}
			.goods_rank{
				.moduleCommon();
				.m_con{
					table{.w(100%);.mt(-1px);
						th,td{.c;border-top: 1px solid #e6e6e6;}
						th{white-space: nowrap;.l(24px);}
						td{padding:6px 0;}
						.goods_detail{.w(280px);.hidden;.tl;
							img{.w(60px);.h(60px);.left;.border-1(#e6e6e6);}
							.goods_title{.l(18px);.left;.ml(10px);.w(180px);.mt(5px);}
						}
					}
				}
			}
		}
		.r{.right;.w(220px);
			.health{.moduleCommon();
				.m_con{
					.l(32px);
				}
			}
			.statistics{.moduleCommon();
				.m_con{
					.l(32px);
					.up{.right;.red;}
					.down{.right;.fc(blue);}
					.fair{.right;}
				}
			}
			.service{.moduleCommon();
				.m_con{
					table{.w(100%);
						td{.l(32px);vertical-align: top;}
					}
				}
			}
			.suggestion{.moduleCommon();
				.m_con{
					.l(24px);
				}
			}
		}
	}
}
.moduleCommon(){.border-1(#e6e6e6);.mt(5px);.hidden();
	h3{.l(32px);.pl(10px);.border-bc(solid);.bgc(#f7f6f6);
		.more{.right;.mr(10px);.f(12px);}
	}
	.m_con{padding:0 10px;}
}