@import "wx.less";
.goTop();

.pageNav1{ .page > .pageRed; .c; margin: 30px auto; }

.piciture {
	.border-bd9;
	.pic_wrap { .w(640*@w); .c; .block; .border-bd9;}
	.name {
		.padding-20; .clearfix; .bgwhite;
		h2 { .f(30*@px); .l(40*@px); .left;.mb(20*@px); .w(100%); font-weight: normal;}
		// .price { .right;}
		.now { .f(36*@px); .pb(10*@px);.mr(10*@px); }
		.normal { .t-through; .tr; .wx_grey; }
	}
	.name_fixed {
		.module_info; .pf; border-bottom:0; bottom: 112*@px; .w(580*@w); .pt(18*@w); .pb(18*@w); .pl(30*@w); .pr(30*@w); .clearfix;
	}
}

.sale {
	.padding-20; .module_info; 
	.time { .clearfix; .c; .h(56*@px);}
	.detail_time { .wx_icon; .w(30*@px); .h(30*@px); .f(30*@px);}
	.countdown { .i_block; .f(30*@px);}
	.detail_line { .w(80*@w);}
	.sale_info {
		.clearfix;
		li { 
			.left; .w(180/560*100%); .border-ld9; .c;
			span { .block; .pt(20*@px);}
		}
		.baoyou { .border-n;}
	}
}

.goods_info {
	.padding-20; .module_info;
	.type { .left; }
	.info { .ml(70/560*100%);}
	.info_list {
		.border-bd9; .pb(10*@px); .pt(10*@px);
	}
	.pdtop { .pt(30*@px); .pb(10*@px);}
	.info_list, .amount{.l(60*@px);}
	li{
		.i_block;
		.mb(20*@px); .mr(20*@px);
		span {
			.block;.c; .break-word;min-width: 10px; .fc(#797979);
			.pl(40*@px); .pr(40*@px);
			.border-d9; .border-r(8*@px);
			.l(60*@px);
			&.active{ .bgc(#ff80a9);.white; border-color:#ff80a9;}
			&.out_of_stock { .border-1(#d6d6d6); .fc(#d6d6d6);}
		}
	}
	.colorShow{.none;.h(200*@px);.w(142*@px);background-size:100%;.ml(180/560*100%);background-repeat:no-repeat;}
	.num {
		.pt(30*@w);
		.color { .mr(10*@w);}
		.handle { .pl(20/560*100%); .pr(20/560*100%);}
	}
	.beauty_num { .pt(0);}

	.amount{
		.now_num {.gray;.ml(10*@px);}
		.numBox {.left;.c;
			.minus, .plus {
				.hidden;.border-r(8*@px);.red;.border-1(#ff80a9);.w(60*@px); .f(30*@px);
			}
			.minus { .left;}
			.plus { .right; }
			.nums { .c; .left; .hidden; padding:0px;margin:0px 10*@px;.border-d9; .border-r(8*@px); .l(60*@px);.w(100*@px); .h(60*@px); .fc(#797979);}
		}
	}
}

.like {
	.padding-20; .module_info; 
	.user {.clearfix; .pb(20*@px);}
	p { .l(32*@px);}
	.user_pic { .w(100/560*100%); .h(100/560*100%); .left;}
	.tuijian { .left; .f(24*@px);}
	.user_info { 
		.ml(120/560*100%); .pt(20*@w);
		h3 { .pb(20*@w);}
	}
	.love { .right; .fc(#666);}
	.like_icon { .wx_icon; .w(26*@px); .h(24*@px); .mr(6*@px);}
}

.promise {
	.padding-20; .module_info; .clearfix; .pb(0);
	li { .left; .w(280/560*100%); .l(32*@px); .pb(20*@px);}
	.pro_icon { .wx_icon; .w(30*@px); .h(32*@px); .mr(10*@px);}
}


.goods_detail {
	.padding-30; .module_info; .mb(65px);
	.nav {
		.l(58*@px); .w(580/600*100%); .mb(60*@px);
		li { 
			.c;.w(49%); .fc(#f69); .left; .l(58*@px); border: 1px solid #f69; border-right: none; 
			span { .gray; .pl(4*@px);}
			&:first-of-type{
				border-radius: 10*@px 0 0 10*@px;
			}
			&:last-of-type{
				border-right: 1px solid #f69; border-radius: 0 10*@px 10*@px 0; .vm;
			}
		}
		.cur { 
			.bgc(#f69); .white;
			span { .white;}
		}
	}
	.beauty{
		li{
			.w(190/580*100%);
			
		}
	}
	.norms {
		.pt(40*@px);
		h3 { .f(28*@px); font-weight: normal; .border-bd9; .l(36*@px); .pb(10*@px); .fc(#333);}
	}
	.norms_type { 
		p { .pt(20*@px); .l(36*@px); .fc(#666); .f(24*@px);}
		.last { .border-n;}
		span { .w(260/560*100%); .l(40*@px); .i_block; }
		b { font-weight: normal;}
	}
	.norm_tab {
		.w(100%);
		td{
			.l(60*@px); .border-bd9;
		}
	}
	.img_wrap { .border-bd9;  }
	.norms_img { .w(560/560*100%); .pb(20*@w); .block; .c;}
	.more { .f(28*@px); .pt(40*@w);.block; .c; .l(16*@px);}
	.eva_more { .l(26*@px);}
	.xiala_icon { .w(28*@px); .h(16*@px); .i_block;}
	.next_icon { .h(24*@px); .w(16*@px); .i_block;}
	
	.user_picture { .wx_icon; .w(60*@px); .h(60*@px); .i_block; .left;}
	.public_info { 
	 .ml(80*@px); .border-bd9; .pb(30*@px);
	 p { .l(32*@px);}
	}
	.pub_right { .right;}
	.content { .pt(4*@px);}
	.good_info { .pt(36*@px); .fc(#999);}
	.comment_time { .pt(12*@px); .fc(#999);}
	.star, .star b { .h(12px); .left; }
	.star { .mr(5px);.mt(1px);}
	.star b { .w(14px);.fn;}
	.star .open { background: url("@{pic_url}/images/wap/web/wx/open.png") no-repeat;}
	.star .shut { background: url("@{pic_url}/images/wap/web/wx/shut.png") no-repeat;}

	.evaluate {
		li { 
			.pt(30*@w);
		}
	}

	.public {
		li {
			.pt(30*@px); .f(24*@px); 
		}
		.beacuse { .pt(20*@px);}
	}
	.pro_txt { .pb(10px); .l(24px); }
}
.mz_mb { .mb(44px);}
.my_mb { .mb(65px);}
.buy {
	.module_info; .pr; bottom: 0; .c; .pf; .w(560/560*100%); .pt(20*@px); .pb(20*@px); .pl(0); .pr(0);
	.buy_btn { .wx_btn; .w(320/560*100%); .l(68*@px);}
	.still_buy_btn { .wx_btn; .w(320/560*100%); .l(68*@px);}
	.non_buy {.buy_btn; .bgc(#999);}
}
