@import "wx.less";


.ios_simple;
.sliderBanner;
.banner-slider-point{.none;}

.pullUp{
	.pullUpDown > .common;.pullUpDown > .loading;
	&:before{
		.nowrap;
		.ml(-10px);
	}
	&[status="tap"]{
		background:0 none;	
		/*
		&:before{
			content:"上拉看更多..."	
		}
		*/
	}
	&[status="stop"]{
		background:0 none;	
		.h(2px);
		/*
		&:before{
			content:"木有了...";	
		}
		*/
	}
}




.dialog();
#dialogContent {
	.list { .h(124px); overflow-y: scroll;}
}

.goTop();
.icon-gohome{.none !important;}

.nav_top {
	.pr; .h(58*@px); .l(58*@px); .p10_0; border-bottom: 1px solid #d6d6d6; .bgc(#f7f7f7);
	.nav_box {
		.pr;.mr(20*@px); .ml(20*@px); .clearfix;
		.goods { .w(525/600*100%);}
		.discount_nav { .w(600/600*100%);}
		li {
			.left; .w(172/525*100%);.c; border: 1px solid #f69; border-right: none;
			a { .red; .i_block; .cursor; .w(100%);}
			&:first-of-type{
				border-radius: 10*@px 0 0 10*@px;
			}
			&:last-of-type{
				border-right: 1px solid #f69; border-radius: 0 10*@px 10*@px 0; .vm;
			}
		}
		.discount_nav li{ .w(197/600*100%);}
		.active {
			.bgc(#f69); .white;
			a {.white;}
		}
		.logisticIcon {.i_block; .w(36*@px); .pa; top: 20*@px; right: 15*@px;}
	}
	.change {
		.none; z-index: 22; .w(640*@w); left: 0px; .pa; top: 98*@px; .border-1(#d9d9d9); border-left: 0; border-right: 0; .f(28*@px); .bgc(#fff); 
		&:before {
			content: ""; .pa; .w(10px); .h(10px); top: -6px; right: 12px; .bgc(#fff);transform: rotate(45deg);-webkit-transform: rotate(45deg); border-top: 1px solid #d9d9d9;border-left: 1px solid #d9d9d9;
		}
		p { border-bottom: 1px solid #d9d9d9; .pb(10*@px);.pt(20*@px); .pr(30*@px); .pl(30*@px);}
		.set { .block; .pt(10*@px); .pb(20*@px); .pr(30*@px); .pl(30*@px);}
	}

}
.discount_top { .bgc(#f0edee); border-bottom: none;}

.content_daily {
	.ml(20*@px); .mr(20*@px); 
	.daily_title {
		.ellipsis;
		.clearfix; .l(36*@px);
		.pt(30*@px); .pb(24*@px);
		//.word { .block;}
		.money_icon {.i_block; .w(146*@px); .h(32*@px); .vm; .left; .mt(1px);}
		.daily_type { .f(28*@px); color: #787878; .pl(8*@px); .left;}
		.daily_banner { .fc(#666); .l(36*@px); .border-r(6*@px); .i_block; .pl(2px); .vm; .f(24*@px);}
		.daily_none { float: none;}
	}

	.pd6 { .pb(12*@px); }
	.mb10 { .mb(20*@px);}

	figure {
		.border-1(#d9d9d9); .bgwhite;
	}
	.show_img {.w(600*@w); .h(300*@px); .c;
		img { .border-bd9; }
	}
	.goods_info{
		.pt(20*@px); .pl(20*@px); .pb(20*@px); .pr(20*@px);
		.goods_title { .f(28*@px); .l(28*@px); .fc(#333); .pb(12*@px);}
		.goods_data {.f(22*@px); .l(22*@px); .fc(#666); .pr(20*@px);}
		.goods_cost {.pt(14*@px); .gray; .l(56*@px)}
		.now_cost {.f(42*@px);}
		.normal_cost {.f(32*@px); .t-through;}
		.goods_btn {.right; .w(180*@px); .h(60*@px); .f(28*@px); .l(60px*@px); .c; .white; .bgc(#F69); .cursor;}
		.not_buy {.bgc(#999); cursor: default;}
	}
	
}
.frame{
	.pr;
}
.new_goods{
	.clearfix;
	.ml(20*@px);.mr(20*@px);
	.goods_li{
		.pa;
		.w(50%);
		.hidden;
		.li_border{
			.ml(10*@w);
			.mr(10*@w);
		}
	}
	.li_border {
		.pr;.border-1(#d9d9d9);.mb(20*@w); .bgwhite;
		.list_img {.block;background-size:100%;.hidden;
		}
		.list_title {.f(24*@px);.fc(#666); .l(32*@px);.hidden;}
	}
	.img_bt { border-bottom: 1px solid #ddd;}
	.list_info { .pt(20*@px); .pl(20*@px); .pb(20*@px); .pr(20*@px);}
	.list_cost {.pt(20*@px); .pb(10*@px);}
	.money_now {.f(30*@px); .pr(10*@px);}
	.money_normal {.f(22*@px); .t-through;}
	.goods_type {.pa; top: 0; left: 10*@px; .w(70*@px); .h(34*@px); .l(34*@px); .white; .c; .border-r(0 0 6*@px 6*@px);}
	.two_type { left: 90*@px;}
	.new {.bgc(#ff96b9);}
	.hot {.bgc(#ff6f80);}
}
.like {
	.pt(30*@px); .pb(30*@px); .mr(20*@px); .ml(20*@px); 
	p{.l(36*@px); .f(24*@px); .c;}
}
.download {
	.block;
	.pl(20*@px); .pr(20*@px); .bgc(#fbfafb); .pt(14*@px); .pb(6*@px);
	.download_icon { .w(388*@px); .h(82*@px); .left; }
	.downBtn { .mt(14*@px); .right; .l(50*@px); .w(150*@px); .vm; .bgred; .c;  .white; .f(24*@px); .h(50*@px); .block;}
}
