<%
	/**
 	 * @fileoverview 下载提示页－会员中心
     * @requires zepto
     * @author kehuang@meilishuo.com
     * @date 2015-08-06
     */
%>

<%#head.html%>
<div class="page_bg">
	<img src="http://d05.res.meilishuo.net/pic/_o/6b/f0/9ee1595eec90300585107fcd3f0f_640_1026.cg.png" alt="下载美丽说">
</div>

<script>
	fml.vars.isAndroid = <%= this.isAndroid %>;
</script>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/member/download');
_use:", this._JSstack, this._JSmods); %>
<%#foot_simple.html%>
