<%# wx_new/header.html%>
<header class="search">
	<form action="" id="form_search" method="post">
		<input class="ipt" type="search" autocomplete="off" placeholder="搜你想要的商品">
		<span class="btn_cancel">取消</span>
	</form>
</header>
<% var getLink = _extFn.getLink %>

<% this.info.map(function(data,idx){ 
	var tag_info = data.tag_info || {};
	var shops = data.shops || [];
	var goods = data.goods || [];
	%>
	<figure class="list">
	<a class="title" href="/wx/qun/?dr_id=<%=tag_info.tag_id %>" style="background-image: url(<%= tag_info.tag_pic %>);" >
		<h2><%=tag_info.tag_name %></h2>
		<p>
			<% shops.map(function(shop,i){%>
				<img src="<%=shop.shop_face_img %>" class="u_head" alt="">
			<%});%>
			<span class="num"><%= data.shop_num %>达人</span>
		</p>
	</a>
	<div class="goods_box">
		<% goods.map(function(gds){%>
			<%
			var url = gds.type == "c_shop" ? '/mainapp/detail/' + gds.msg_id : '/wx/detail?tid=' + gds.twitter_id + '&page_name=circle'
			%>
			<a href="<%=url %>" class="goods"><img src="<%=gds.goods_img %>" alt=""></a>
		<%});%>
	</div>
	</figure>
<% });%>

<script>
fml.vars.isShare = true;
</script>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/wx_new/class');
	fml.use('wap/page/wx_new/global');
_use:", this._JSstack , this._JSmods ); %>
<%# wx_new/footer.html%>
