<%
var goodsInfo = this.goods_info || {}
%>
<ul class="promise">
	<%if(goodsInfo.is_cosmetic){%>
	<li>
		<span class="pro_icon">
			<img src="<%=this.PICTURE_URL%>images/doota/service/ico_service_real_new.png" />
		</span>
		100%正品
	</li>
	<li>
		<span class="pro_icon">
			<img src="<%=this.PICTURE_URL%>images/doota/service/ic_seven_new.png" />
		</span>
		7天无理由退货
	</li>
	<li>
		<span class="pro_icon">
			<img src="<%=this.PICTURE_URL%>images/doota/service/ic_fan_new.png" />
		</span>
		退货补贴运费
	</li>
	<li>
		<span class="pro_icon">
			<img src="<%=this.PICTURE_URL%>images/doota/service/ic_send.png" />
		</span>
		极速发货
	</li>
	<%} else {%>
	<li>
		<span class="pro_icon">
			<img src="<%=this.PICTURE_URL%>images/doota/service/ic_send.png" />
		</span>
		极速发货
	</li>
	<li>
		<span class="pro_icon">
			<img src="<%=this.PICTURE_URL%>images/doota/service/ic_seven_new.png" />
		</span>
		7天无理由退货
	</li>
	<li>
		<span class="pro_icon">
			<img src="<%=this.PICTURE_URL%>images/doota/service/ic_pei_new.png" />
		</span>
		先行赔付
	</li>
	<li>
		<span class="pro_icon">
			<img src="<%=this.PICTURE_URL%>images/doota/service/ic_fan_new.png" />
		</span>
		退货补贴运费
	</li>
	<%}%>
</ul>