@import "md.less";
@import "home.less";

.rank_list{
	h6{.c;.l(110*@px);.fc(#262626);.f(36*@px);background: url("@{pic_url}/images/md/top_l.png") no-repeat #fff 21% center;background-size: 5.5%;
	.top_r{.w(28px);.h(27px);background: url("@{pic_url}/images/md/top_r.png") no-repeat;.pa;top:20px;right:16%;background-size: 63%;}
	}
	a{.block;background:#fafafa url("@{pic_url}/images/wap/wd/next@2x.png") no-repeat 97% center;background-size: 5%;
		&:nth-child(odd){background:#fff url("@{pic_url}/images/wap/wd/next@2x.png") no-repeat 97% center;background-size: 5%;}
	}
	dl{.mod_pd2_3;min-height:74px;.pb(0px);overflow: hidden;.pr;.f(24*@px);
		dt{.i_block;.left;.w(7%);.pa;top:34%;.c;}
		.top_num{.w(23px);.fc(#fff);.c;.h(20px);.l(20px);background: url("@{pic_url}/images/md/top_red.png") no-repeat center;.pa;background-size: 85%;}
		dd{.i_block;.left;}
		.mar_l{.ml(60/600*100%);.w(100/600*100%);.pt(4*@px);}
		.mark_det{.w(378/600*100%);.pb(20*@px);.ml(18/600*100%);
			p{
				.rig{.right;.fc(#d22626);}
			}
			.pad_b24{.pb(26*@px);}
		}
	}
}


.test_wrapper{.mod_pd3_2;.bgwhite;
	.title{.fc(#262626);}
	.mar_tb{.mt(30*@px);.mb(30*@px);}	
}
.show_big{.bgwhite;
			a{.wd_btn_red; .h(68*@px); .l(68*@px); .w(320/600*100%);.border-r(6*@px);.ml(140/600*100%)}
			div{.w(100%);}
			.gray{background: #ccc;}
			.warning{.block; text-align: center; .f(24*@px); color: rgba(38,38,38,.75); .pt(30*@px);}
		}

.remark_wrap{.bgwhite;.mt(20*@px);border-top: 1px solid #dcd7d4;.pl(30*@px);margin-bottom: 72px;
	h6{.l(67*@px);.border-bd9;.fc(#262626);.f(24*@px);}
	dl{.fc(#757575);.pt(30*@px);.pb(30*@px);.pr(30*@px);.border-bd9;.f(24*@px);
		&:last-child{border: 0;}
		dt{.left;.w(15%);
			img{.border-r(50%);.i_block;}
		}
		dd{.ml(18%);.clearfix;
			p{
				&:first-child{.pb(20*@px);
					i{font-style: normal;.right;.fc(#d22626);}
				}
				&:nth-child(2){.l(28*@px);}
			}
		}
	}
	.img_cla{.pt(70*@px);.pb(220*@px);.pr(30*@px)}
}


.test_btn_wrapper{.bgwhite;.pt(20*@px);.pb(24*@px);.pr(45*@px);.pl(45*@px);min-height:36px;border-top:1px solid #ccc;.pf; bottom: 0;.w(90%);
	a{.block;.w(45%);.left;.wd_btn_red; .h(68*@px); .l(68*@px);.border-r(6*@px);
		&:nth-child(2){.ml(30*@px);}
	}
}

.bg_w{.bgwhite;
	h6{.mod_pd3_2;.fc(#262626);.f(36*@px);}
	.mar_lr{.ml(20*@px);.mr(20*@px);}
}

.mark_wrap{.pl(20*@px);.fc(#262626);.f(28*@px);
	p{.l(87*@px);}
	ul{border-bottom: 1px solid #e9e9e9;border-top: 1px solid #e9e9e9;min-height:89px;.pr;
		li{.left;.w(115/598*100%);.pl(30px);.l(82*@px);background: url("@{pic_url}/images/md/uncho.png") no-repeat left center;background-size: 22%;
			&.black{background: url("@{pic_url}/images/md/cho.png") no-repeat left center;background-size: 22%;}
			&:nth-child(4){.pa;top:0;right:0;background-size: 41%;.w(18px);.l(82*@px);}
			&:nth-child(6){background-size: 11%;.w(150px);}
		}
	}
}

.mark_des_wrap{clear: both;.fc(#262626);.f(28*@px);.pl(20*@px);
	p{.l(96*@px);}
	ul{.pb(20*@px);.pr(20*@px);
		li{.pt(27*@px);.pb(20*@px);.pl(52*@px);.l(30*@px);background: url("@{pic_url}/images/md/uncho.png") no-repeat left 13px;background-size: 6%;
			&.checked{background: url("@{pic_url}/images/md/cho.png") no-repeat left 13px;background-size: 6%;}
		}
	}
}


.msg_wrap{.pl(20*@px);
	.leamsg{.border-d9; padding: 10*@px; .l(30*@px); color: rgba(38, 38, 38, 0.8); .bgwhite;.w(565/600*100%); .h(118*@px);.f(26*@px);}
}

.mar_tb_32{.mt(60*@px);.mb(30*@px);}

.remind_wrap{.pt(40*@px);.pl(30*@px);.pr(35*@px);.pb(40*@px);.bgwhite;.mt(20*@px);border-top: 1px solid #dcd7d4;border-bottom: 1px solid #dcd7d4;
	p{ .f(26*@px);.fc(#262626);.l(30*@px);
		&:first-child{.pb(20*@px);}
	}
}

.no_bor{.border-n;}


.retest_btn_wrapper{.bgwhite;.pf; bottom: 0;.w(100%);.pt(20*@px);.pb(20*@px);border-top:1px solid #ccc;
	a{.wd_btn_red; .h(68*@px); .l(68*@px); .w(580/620*100%);.border-r(6*@px);.ml(20*@px)}
}

.dialog();

#dialogLayer{
	background: url("@{pic_url}/images/md/know.png") no-repeat top center;
	background-size: contain;.border-r(0px);padding: 0px;box-shadow:none;
}

#dialogLayer .dialogTitle .close{
	.pa;top:0;left: 0;.border-n;box-shadow:none;.w(100%);.h(100%);background: transparent;
}

#loading{
	background: url("@{pic_url}/images/group/g_loading1.gif") no-repeat;width: 100%;
	min-height: 600px;
}

.goods_img { .left; .w(220/560*100%); .block; .border-r(4*@px);}
.goods_info_wrap { .pr;.pb(60*@w);.pt(60*@w); .clearfix;.pl(106*@px);.pr(54*@px);background: url("@{pic_url}/images/md/top_bg1.png") no-repeat #fff;background-size: 100%;}
.goods_info {.f(22*@px);position: absolute;top: 29%;right: 3%;
	.ml(250/560*100%); .clearfix;
	.score_red{.f(70*@px);.fc(#d22626);.mb(28*@px);}
	.red{.fc(#d22626);}
	p { .l(36*@px);} 
	.goods_title { .f(28*@px); .l(36*@px); .pb(30*@px);}
}
.pad_l{
	.pl(50*@px);
	.goods_info{top:23%;
		p{
			&:nth-child(2){color:rgba(38, 38, 38, 0.75)}
		}
		.score_red{.c;}
	}
}
.no_tank{
	.pt(40px);.c;.f(16px);
	.link_btn { .block; .l(60px); .f(20px); .fc(#d22626); }
}

.white_black{.bgwhite;.pt(60*@px);.pb(24*@px);.pr(45*@px);.pl(45*@px);min-height:36px;.w(86%);
	a{.block;.w(47%);.left;.wd_btn_red; .h(68*@px); .l(68*@px);.border-r(6*@px);
		&:nth-child(2){.ml(30*@px);.bgblack;}
	}
}












