@import "../store/storeAtom.less";
@import "../store/post.less";

.nav_bar;
.page;
.pageNav{ .page > .pageRed; }

.content{
	.page_title{.border-1(#e6e6e6);.fb;.h3_title;.mb(-1px);}
    .page_table{padding: 20px;.bgc(#fff);.border-1(#e6e6e6);.mb(10px);.pr; .clearfix;}
    .media { .f(14px); 
		      li{.l(45px);.h(45px);.border-bc2;
			   a:hover{color:#ff6699;}
			   span{.right;}}
	        }
    .p_Spread{.pa;top:-22px;left:120px;.f(14px);}
    .description{.pa; top: 30px; right: 20px; .w(290px); .l(14px);}
    .notice{ .right; .w(400px); .mt(8px);}
    .toplist{.left;}
    .tabSpread{.w(108px);background:#d1d1d1;padding:5px 20px;border-top-left-radius:6px;border-top-right-radius:6px;.border-1(#d1d1d1);.mr(10px); }
    a.tabSpread.active{background:#ffffff; border-bottom: 1px solid white; .fc(@red);}
	.query_goods{ padding: 10px 0; .h(25px);}
	.sort_goods, .catalog_goods, .sp_goods, .tp_goods{ .w(97px); .mr(20px);}
	.link_info{ .w(80px); .mr(15px);}
	.link_txt{ .w(286px); .h(23px); .l(23px); .border-1(#d2d2d2);.mr(20px); padding: 0 0 0 8px;}
	.btn{.l(23px);.h(23px);.white; border: none;.cursor;.w(auto);padding: 0 25px;}

	.order_table{.w(100%); border-collapse: collapse;}
	.o_sep{.h(10px);}
	th,td{.c;}
	th{.fb;.l(35px);}
	.goods_pic{ .w(85px);}
	.img_wrap{.left;.w(60px);.h(60px);margin:10px; .border-1(#e6e6e6);
		img{ .w(60px); .h(60px);}
	}
	.goods_tle {.tl; .w(200px);}
	.shop_tle{ .tl; background: url("@{pic_url}/images/shop/shop_tle.png") no-repeat;.bp(0,32px); .pl(26px);}
	.goods_pro{ .w(150px);}
	.spread{padding: 7px 10px;}
	.o_items{ .w(300px);}
	.o_items_desc{
			text-align: left; .ml(82px); .mt(10px); 
			.goods_name{.hidden;}
		}
	.o_items_desc .goods_desc{.l(12px);.pt(12px);.fc(#999);.h(auto);}
}
#spread_con{.w(240px);.pa;border:1px solid #e6e6e6;display:none;
	.title{background:#eee;.h(24px);.l(24px);border-bottom:1px solid #e6e6e6;.pl(5px)}
	.con{.bgwhite;
		textarea{.w(210px);.h(80px);margin:10px 10px 10px 10px;}
	}
	#close{.pa;right:5px;top:5px;}
}

.autopromote{ margin: 15px; .l(20px); 
	dt, dd{.pt(10px); .pb(10px);}
	dt{ .left;}
	dd{ .ml(86px);}
	.aimUrl{ .w(298px);}
	.fburl{.w(150px);}
	.Feedback_label{.pr;
	.Question{.pa; top:-30px; left:247px; .cursor;}
	#Feedback{.pa; top:-32px; left:273px;.w(192px);.border-1c;.border-r(10px);.l(13px);padding:5px;}}
	.Prompt{.pl(90px);}
	textarea{.w(298px);.h(80px);}
	.autoSub{.h(28px); .l(28px); padding: 0 10px;}
}
