@import "../store/storeAtom.less";
.nav_bar;
.page;
.pageNav{ .page > .pageRed; }
.datepicker;
.footer{.mt(10px);}

.content{
	.page_title{.border-1(#e6e6e6);.fb;.h3_title;.mb(-1px);}
	.page_table{padding: 20px;.bgc(#fff);.border-1(#e6e6e6);.mb(10px); 
		.s_load { .ml(600px);}
}
	.Collect { .right; .w(210px); .h(73px); .l(35px); border-left:1px solid #ccc;
			h2 { .ml(20px);}
}
		.order_table{ .w(100%); border-collapse: collapse;}
	.o_sep{.h(10px);}
	.draw_con{.f(16px);}
	.draw{ .w(190px);
		span{.left;}
		.btn{.ml(20px); .f(12px); .left; .l(14px);}
	}
	.query_goods{ .pb(4px);
		.query-data{ .w(150px);}
		.link_info{.w(80px); .mr(20px);}
		.link_txt{ .w(310px); .mr(30px);}
		.link_info, .query-data, .link_txt{border: 1px solid #d2d2d2; .h(20px);}
	}
	.btn{padding: 6px 12px; border: 0;}
	.draw_status{ .w(100px); border: 1px solid #d2d2d2; .mr(15px);}
	.new_date{.w(90px); .pb(8px); .pt(8px); .c;}
	.goods_pic{.w(110px); .pt(8px); .pb(8px);
		.img_wrap{.i_block; .border-1(#e6e6e6);}
		img{.w(70px); .h(70px);}
	}
	.goods_tle{.w(140px); .tl;}
	.or_status{ .fc(#2fb425);}
	.txt_cent{ .c;}
	.finace_list td,.finace_list th{padding:10px;}
}