/*================================ old style ... before 2013 05 28 =========================================*/

/**逛、类目页和属性页左侧导航**/
.guang_cata_nav(){
	.cate(){
		.category {
			.pt(6px); .nowrap; width: 100%;
			a { .border-r(2px); .left; .nowrap; .h(18px); .l(18px); .mr(6px); .mb(6px); _line-height: 19px; padding: 0 6px; .dgray; background: @lightGrayBg; border:1px solid @lightGrayBd;
				&:hover { border:1px solid @lightGrayBdhover; }
			}
			.ishot {
				.red; background: @lightPinkBg; border-color: @lightPinkBd;
				&:hover { border-color: @lightPinkBdhover; }
			}
			a.active {
				.white; background: @lightRedBg; border-color: @lightRedBd;
			}
		}
	}
	.attr(){
		.common_shadowBox; .mt(14px); .hidden; .w(200px); padding: 0px 13px 13px; 
		h2,p { .f(14px);.l(20px);.zoom;.pr;margin:10px 2px 0px 2px; }
		.cate;
	}
	.catalog(){
		.mt(14px);.common_shadowBox; .w(200px); padding: 0 13px 13px;
		h2 { .f(14px);.l(20px);.pl(42px);.pt(8px);.zoom;.pr;margin:0px 2px; border-bottom:1px solid #FAFAFA;
			span{
				background: url("@{pic_url}/images/catalog/catalogicon1115.jpg") no-repeat; 
				.pa;.w(38px);.h(32px);left:0px;top:-2px;
			}
		} 
		.cate;
		.catacon{.w(200px);.hidden;.pt(6px);}
		.category{border-top:1px solid #F4F4F4;}
	}
	.catalogTwo(){
		.nav_list {
			li { .border-bc; .hidden; .pt(13px); .pb(13px); .w(100%); 
				span { .red; .left; .f(14px); .l(24px); .w(35px); }
				p { .left; .w(162px);
					a { .left; .nowrap; .l(20px); .mt(2px); .mb(2px); .pl(6px); .pr(6px); }
					.active { .white; .bgred; }
				}
			}	
		}	
	}
	//不变的地方
	.last { .border-n; }
    .cate_ser { .h(22px); .pt(10px);
        .text { .left; .h(22px); .hidden; .w(140px);
			input{ .border-1; .left; .h(18px); .l(18px); .gray; .w(136px); }
		}
        .btn { .left; .ml(6px); .h(22px); .w(52px); 
			input { .bgnone; .border-n; .white; .cursor; .h(22px); }
		}
    }
}
/**catalog and attr title**/
.cata_attr_title() {	
	.h(26px); .l(26px); .mt(14px); .pl(6px); .pr(6px); .hidden;	
	h1, h2 { .f(24px); .fb; .left; .mr(10px); }	
	.category { .left; .h(26px); .l(24px); .hidden; .mr(20px);
		li {.left; 
			a {.bgwhite;border-left:1px solid #FCBCD2;border-top:1px solid #FCBCD2;border-bottom:1px solid #FCBCD2;.red;.left;.h(24px);.pl(6px);.pr(6px);
				&:hover{background-color:@lightPinkBg;}
			}
			a.active { background: @lightRedBg;border-color:@lightRedBg; .white; }
			a.first { .border-r(4px 0px 0px 4px); }
			a.last { border-right:1px solid #FCBCD2;.border-r(0px 4px 4px 0px); }
			a.all { border-right:1px solid @lightRedBg;.border-r(4px); }
		}
	}
}

/*attr属性词*/
.attrwords(){
	.w_attr {
		.attr_con { .auto; .w(922px); }
	}
	.n_attr { .w(922px); }
    .attr_word { .common_shadowBox; .mt(14px); .auto; .p13; 
		.list { .left;  
			.attr_list{ 
				border-right: 1px dashed #ccc; .mr(22px); .inline; .left; .mt(10px); .pr(10px);
				ul { .left; .l(18px); .pr(20px); }
			}
			.last { .border-n; }
		}
	}
}
