.doota(){
	.validate(){

	}
	table{
		border-collapse: collapse;
		border-spacing: 0;
		.w(100%);
		.l(18px);
	}
	.route{
		.w(978px);.auto;.mt(14px);.h(28px);
		samp{.ml(2px);.mr(2px);}
		&_bread{.left;.l(15px);.pt(6px);.pb(6px);.l(15px);.h(15px);}
	}
	.area(){
		&_area{
			.w(978px);.auto;.mt(14px);
		}
	}
	.doota_nav{
		.w(134px);.left;
		li{
			.hidden;
			.pt(20px);.pb(20px);
			.pl(20px);
			border-top:1px solid #ddd;
			&.first{.border-n;}
			&.selected{
				list-style:disc inside;
				.fc(@red);
				a{.fc(#666);}
			}
			a{.l(18px);.gray;}
		}
	}
	.frame(){
		.area;
		&_area{
			border-top:2px solid @red;
		}
		&_content{
			.ml(134px);
			&_box{
				.ml(20px);
				.bgwhite;
				.search{
					input{.h(20px);.l(20px);border:1px solid #d2d2d2;.w(128px);.mr(20px);padding:0;}
					.btn{border: 0;.l(28px);.h(28px);.w(70px);}
					padding:20px;
					border-bottom:1px solid #ddd;
				}
			}
		}
	}
	.list(){
		thead th{ .h(44px); border-bottom:1px solid #ddd;}
		.order_info{
			td{ .tl;.h(22px);.pt(14px);.pb(6px);
				span{.ml(20px);}
			}
		}
		th.last,td.last{
			border-right:1px solid #ddd;
		}
		th.first,td.first{
			border-left:1px solid #ddd;
		}
		.order_goods_list{
			td{ .c; .pt(14px);.pb(14px); }
			.order_goods_goods{.tl;.pl(20px);
				.goods_detail{
					.pr();.block();.clearfix();
				}
				.goods_detail_presale{
					min-height:88px;
				}
				.pic{.left;.w(70px);.h(70px);border:1px solid #eee;}
				.title{.ml(80px);.l(18px);.h(54px);.hidden;}
				.prop{.ml(80px);.gray;
					span.order_detail_prop{.left;}
				}
				.presale-btn{
					.pa();.block();.h(16px);.w(72px);.bgc(#ff6699);.c();.l(16px);.fc(#ffffff);
					top:72px;
					left:0px;
				}
			}
			.br{ border-left:1px solid #ddd;}
			.bb{border-top:1px dotted #ddd;}
			.bts{border-top:1px solid #ddd;}
		}
		.order_none{ .c;
			&_info{.tl;.mt(100px);.h(280px);.inline;.i_block;
				p{.f(18px);.l(42px);.ml(60px);}
				a{.red;.ml(60px);}
				.btn{.f(14px);.block;.auto;.white;.mt(30px);.w(100px);.l(28px);}
			}
		}
	}
	.icon(){
		.status_icon{
			&1, &2, &3, &4{
				.pa;
				background: url("@{pic_url}/images/doota/status_icon0.jpg") no-repeat;
			}
			&1, &2, &3{
				.w(42px);.h(42px);
			}
			&1{.bp(0px,0px);}
			&2{.bp(0px,-104px);}
			&3{.bp(0px,-52px);}
			&4{.bp(0px,-148px);.w(49px);.h(48px);}
		}
		.qq_btn{
			background: url("@{pic_url}/images/doota/order_logo2.png") no-repeat 0px -42px;
			.w(92px);.h(28px);.i_block;.border-1c;
			.indent;
		}
	}
}
