/**
* 定义group类
**/
.group(){
	/**
	* 九宫格样式
	**/
	.9GG(){
		.common_shadowBox; .mt(14px); .w(226px); .pr;
		.gc_title {
			.h(18px); .l(18px); .hidden; padding: 10px 13px 0;
			h4{ .f(14px); .left; .ellipsis; .w(140px); }
			p{ .f(14px); .gray; .right; }
		}
		.s_tle { .h(56px); .l(56px); .ellipsis; .w(175px); .ml(13px);.f(14px);
			background: url("@{pic_url}/images/shop/shop_tle.png") no-repeat 0 20px; .pl(25px); 
		}
		.btn,.followed{ .right; .h(20px); .l(20px); .w(64px); }
		.picBox { .mt(10px); .block; .auto; .w(200px); }
		.imgBox{
			.mt(5px); .block; .w(200px); .auto; .h(204px); background: url("@{pic_url}/images/person/pg_bg1.png") no-repeat bottom;
			.minpic,span{.avatar64;.mr(4px);.mt(4px);}
			.maxpic{ .mt(4px); .h(200px); .w(200px); }
		}
		.infoBox{ background: #FFECEF; .mt(8px); .hidden; padding: 8px 13px; }
		.lookBox{
			.h(20px); .p13;
			.tex { .gray; .l(20px); }
		}
		.oldBox{
			.h(24px);padding:11px 13px;
			.tex { .l(24px); .ml(6px);}
			.btn,.followed{ .right; .l(20px); }
			img {.left;}
		}
	}
}

/*页面右侧分享到站外小按钮*/
.share_group_btn() { 
	.common_shadowBox; .pf; .l(16px); .h(130px); padding: 8px 12px 8px 8px; _position: absolute; right: -4px; top: 150px; width: 22px; z-index: 500; 
	p { .gray; .ml(6px); width: 14px; }
	ul li { .border-1; .common_button; .left; .mt(5px); .hidden; .h(16px); padding: 2px; width: 16px; 
		span { .left; .h(16px); padding: 0; width: 16px; }
	}
}

