.poster(){
	.poster_wall{ .pa;left:-2000px;top:0;}
	.poster_grid{ .common_box;
		.new_poster{ .common_shadowBox;.mt(14px); .w(226px);  
			.np_pic{ .c; .w(226px); .pr; }
			.pic_load { background: url("@{pic_url}/images/group/g_loading1.gif") no-repeat center; .block; .w(100%); }
			.price{ .bgwhite; .h(18px); .l(18px); .p05; .pa; bottom: 0; right: 0; opacity: 0.8; filter:alpha(opacity=80); }
			.wuyougou { background: url("@{pic_url}/images/doota/wuyou.png") no-repeat; .left; .h(59px); .w(59px);
				.pa; left: -2px; top: -2px;
				_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/doota/wuyou.png', sizingMethod='scale'); _background-image:none;
			}
			.title, .comm_num, .promotion { padding: 10px 10px 0; }
			.title { .l(20px); 
				.p { .hidden; max-height: 40px; }
			}
			.comm_num{ .l(22px); .clearfix; .pr; 
				.pl{ .gray; .right; }
			}
			.btn { .right; .p05; }
			.origin_price { .gray; .t-through; .ml(5px); }
			.facetableSetxy { .h(10px); .ml(2px); .mr(2px); .w(10px); }
			.np_share, .comm_share, .discuss_one{ .gray; .hidden; }
			.np_share { .border-tc(dotted); .p10_0; margin: 10px 10px 0; }
			.comm_share, .discuss_one{ padding: 0 10px 10px; }
			.np_share span, .np_share a, .comm_share a, .comm_share span, .issue_box a, .issue_box span, .comm_issue p a, .comm_issue p span { .mr(4px); }
			.botcomm_num { .bgc(#f9f9f9); .h(32px); .l(32px); .gray; .c; }
			.ml42_f{.ml(42px);}
			.t_idt { .ml(42px); .l(20px); .pt(4px); }
			.love_pro { background: url("@{pic_url}/images/goods/love_pro.png") no-repeat; .red; .left; .c; .h(30px); .l(25px); .w(130px); .pa; top: -20px; left: 0; }
			//new poster
			.comm_issue, .discuss_two { background: #f9f9f9; border-bottom: 1px solid #ddd; padding: 3px 13px; .gray; .l(18px); .hidden;
				.small_ava { .left; .h(20px); .w(20px); 
					img { .h(20px); .w(20px); }
				}
				p { .ml(28px); }
			}
			.more_comm { background: #f9f9f9; border-bottom: 1px solid #ddd; .c; .h(26px); .l(24px); }
			.cmt_r{ .ml(40px);
				textarea{ .bgwhite;.border-1; .f(12px); .gray; .left; .h(22px); .hidden; padding: 4px; .w(150px); }
			}
			.comment_reply { .red; .nowrap; .l(16px); }
			.discuss{ .h(25px); .l(20px); .pt(5px);
				.pl_btn{ background: url("@{pic_url}/images/header/@{mls_ico}") no-repeat -172px -112px; .c; .cursor; .h(22px); .l(22px); .right; .w(52px); }
			}
		}
	}
	.trans07 { .border-1; opacity:0.7;filter:Alpha(Opacity=70); 
		&:hover { opacity:1.0;filter:Alpha(Opacity=100); }
	}
}

/**
*定义海报相关icons
**/
.poster_icons(){
	.online, .notonline { background: url("@{pic_url}/images/person/person_icon3.gif") no-repeat; padding: 1px 4px 1px 20px; }
	.online { .bp(0,-83px); }
	.notonline { .bp(0,-58px); }
	.lm_love, .lm_love2, .lm_comm, .lm_shouji, .lm_like, .lm_liked { background: url("@{pic_url}/images/header/@{mls_ico}") no-repeat; .h(12px); }
	.lm_love { .bp(0,-259px); padding: 0 5px 0 6px; } 
	.lm_comm { .bp(-16px,-260px); padding: 0 4px 0 5px; }
	.lm_shouji { .bp(-158px,-68px); padding: 0 6px; }
	.lm_love2 { .bp(-53px,-259px); padding: 0 5px 0 6px; }
	.lm_like { .bp(-101px,-67px); padding: 1px 6px; }
	.lm_liked { .bp(-127px,-67px); padding: 1px 6px; }
	.like_merge{ .h(32px); .pa; .none; .hidden; left: 6px; top: 6px; .w(218px); 
		.poster_comment, .poster_forward, .poster_likes, .poster_del, .poster_dellike { .border-r; .c; .cursor; .f(14px);; .h(30px); .l(30px); .hidden; .p05; .box-linear; .border-1(#d6d6d1); .mr(2px); }
		.line_num { border-left: 1px solid #d6d6d1; .i_block; .pl(5px); }
		.poster_forward:hover { 
			.lm_shouji {.bp(-188px,-68px); }
		}
		
	}
	.likes { .cursor; .h(22px); .l(22px);
		.likes_status { .bgc(#FF74A1); .white; .left; .c; .mr(6px); .h(20px); .l(20px); .w(50px);.border-r(2px); .border-1(#FA5B90);.fn; }
	}
	.mark { .w(220px); .pa; left:5px; top:-1px;
		.m_ico { .left; .white; .c; .hidden; .mr(1px); }
	}
}

/**宽屏layout**/
.fluid(){
	.content_fluid { .auto; .hidden; }
	.corner_notic { .common_box; }
	.corner_stamp{ .right; .ml(6px); .inline; .w(228px); }
	.goods_wall{width:100%;}
}

