@import "../block.less";
.auto_box(){
	.w(980px);
	.auto;
}
.userModule(){
	.user_module { .auto; .mt(30px); .w(978px);
		.all_goods { .hidden;
			li { .left; .inline; .h(423px); .w(228px); .hidden; .mt(10px); .mb(2px); .mr(12px); .ml(0); .tl; 
				.hover_pic { .hidden; .c; .h(328px); .w(228px); .pr; 
					.price{ .bgwhite; .h(18px); .l(18px); .p05; .pa; bottom: 0; right: 0; opacity: 0.8; filter:alpha(opacity=80); }
				}
				.tle { .hidden; .break-word; .h(44px); .l(22px); .p5_10;  }
				.comm_num { .l(22px); .p5_10; }
			}
		}
	}
}

.show_case(){
	.showcase{.pr; .auto_box; .h(411px); .mt(20px);
		.big1,.big2,.item1,.item2{.w(220px); .h(380px);}
		.small1,.small2,.small3,.small4,.item3,.item4,.item5,.item6{.w(220px); .h(184px);}
		.big1,.big2,.small1,.small2,.small3,.small4,.item1,.item2,.item3,.item4,.item5,.item6{ .pa;
			&:hover{ .s_hat{.block;}}
		}
		.s_hat{.none; .pa; .w(100%); .h(100%); top:0; left:0; background:rgba(102,102,102,0.5); filter:~"progid:DXImageTransform.Microsoft.gradient(startcolorstr=#70666666,endcolorstr=#70666666)"; z-index: 1;
			b{.fc(#fff); .pa; .ellipsis; .f(14px); .h(26px); .l(26px); .w(210px); left: 10px;}
			.s_title{bottom: 34px;}
			.s_price{bottom: 9px;}
		}
		.big1,.item1{left: 16px; top: 15px;}
		.big2,.item2{left: 480px; top: 15px;}
		.small1,.item3{left: 248px; top: 15px;}
		.small2,.item4{left: 248px; top: 211px;}
		.small3,.item5{left: 712px; top: 15px;}
		.small4,.item6{left: 712px; top: 211px;}
	}
}
