<%#head.html%>
<div class="main">
	<div class="show-main">
		<img src="http://img.meilishuo.net/css/images/wap/activity/draw/back-3.jpg" />
		<div class="show-banner">
			<img src="http://img.meilishuo.net/css/images/wap/activity/draw/code_big.jpg" />
		</div>
	</div>
</div>
<div class="feature">
		<div class="fture_l">
			<h3 class="f20_f">特性</h3>
			<ul class="list">
				<li>掌握时尚，流行款式随便看</li>
				<li>热门榜单，24小时不间断更新</li>
				<li>精选分类，轻松淘到至IN单品</li>
			</ul>
			<h4 class="f14_f">星光粉彩版更新</h4>
			<ul class="update">
				<li>- 专为女生设计的星光粉彩界面</li>
				<li>- 全新整理的专题频道，可分类<br />&nbsp;&nbsp;查看时尚专题</li>
				<li>- 时尚酵母每日播报流行，为你<br />&nbsp;&nbsp;讲解T台时尚</li>
			</ul>
		</div>
		<div class="fture_r">
			<h3 class="f20_f left_f">马上安装</h3>
			<span class="prompt">已有<strong class="red_f">2500万</strong>位mm正在使用！</span>
			<div class="clear_f"></div>
			<div class="way">
				<h4 class="f18_f">方法一</h4>
				<ul class="update">
					<li>
					<img class="left_f" alt="二维码" src="<%= this.PICTURE_URL%>images/wap/activity/draw/code_small.jpg">
						<p>打开手机</p>
						<p>使用<span class="red_f">二维码工具</span></p>
						<p>进行扫描</p>
					</li>
				</ul>
			</div>
			<div class="way" style="width: 165px;">
				<h4 class="f18_f">方法二</h4>
				<ul class="update">
					<li>1、手机上打开<span class="red_f">“安卓市场appstore”</span></li>
					<li>2、搜索找到<span class="red_f">“美丽说”</span></li>
					<li>3、进行下载安装</li>
				</ul>
			</div>
		</div>
		<div class="clear_f"></div>
	</div>

<%#foot.html%>
