<%#head.html%>
<div class="main">
	<img class="top-banner" src="<%=this.PICTURE_URL%>/images/activity/merchants_bank/top-banner-new.png" />
	<img src="<%=this.PICTURE_URL%>/images/activity/merchants_bank/pic1.png" />
	<div class="join">
		<p class="txt-blod">参与方式</p>
		<img class="pic-charts" src="<%=this.PICTURE_URL%>/images/activity/merchants_bank/chart.png" />
		<p class="txt-blod">活动细则</p>
		<p class="rules">
			a.本活动仅适用于活动前从未绑定过招商银行信用卡微信支付的持卡人参加。
		</p>
		<p class="rules">
   			b.持卡人需通过美丽说进行微信支付时首次绑定招商银行信用卡，通过其他第三方商户进行绑定无效。
   		</p> 
   		<p class="rules">
   			c.每日前2000名达标的持卡人可获得一个微信红包，活动期间每位持卡人仅限获得一个微信红包。
   		</p>
   		<p class="rules">
   			d.微信红包在用户完成支付后10分钟内发放，通过微信公众号“微信红包”派送，用户需在收到消息后的3天内拆红包领取奖金；若3天内未拆红包领取奖金，红包将会退回并无法再领取，并视为放弃本活动的奖励。
   		</p>
   		<p class="rules">
   			e.微信红包为现金红包，用户可用于无门槛消费提现，领取后可以在微信“我”-“钱包”-“钱包”-“零钱“中查看。
   		</p>
		<a class="btn">买新衣抢红包，GO！</a>
		<img class="logo" src="<%=this.PICTURE_URL%>/images/activity/merchants_bank/logo.png" />
	</div>
	<img class="logo" src="<%=this.PICTURE_URL%>/images/activity/merchants_bank/bottom-banner.png" />
</div>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/huodong/merchants_bank');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>