@import "../block.less";
.main_nav{
    .w(100%);
    .h(49px);
    .bgc(#ffffff);
    border-top: 1px solid #CCCCCC;
    position: fixed;
    bottom: 0;
    ul{
        .h(100%);
        .w(100%);
        li{
            display: inline-block;
            .w(33.333333%);
            .h(100%);
            float: left;
            .c;
            a{
                .block;
                .w(100%);
                .h(100%);
            }
        }
        li.index_cur{
            background: url("@{pic_url}/images/m_welfare/wlf_icon_index.jpg") no-repeat center center ;
            background-size: 106px 50px;
        }
        li.index{
            background: url("@{pic_url}/images/m_welfare/wlf_icon_un_index.jpg") no-repeat center center ;
            background-size: 106px 50px;
        }
        li.sec_cur{
            background: url("@{pic_url}/images/m_welfare/wlf_icon_two_check.jpg") no-repeat center center ;
            background-size: 106px 50px;
        }
        li.sec{
            background: url("@{pic_url}/images/m_welfare/wlf_icon_un_two.jpg") no-repeat center center ;
            background-size: 106px 50px;
        }
        li.thr{
            background: url("@{pic_url}/images/m_welfare/wlf_icon_un_three.jpg") no-repeat center center ;
            background-size: 106px 50px;
        }
    }
}
/*列表样式*/
.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.big_title{
    .block;
    .ml(5px);
    .f(14px);
    .fc(#333333);
    .l(14px); 
    padding: 10px 0;
    .wlf_hot{
        display: inline-block;
        .w(24px);
        .h(10px);
        .ml(2px);
        background: url("@{pic_url}/images/m_welfare/wlf_icon_hot.png") no-repeat;
        background-size:100% 100%;
    }
}
.content{
    background: #FFFFFF;
    .mt(10px);
    .pl(6px);
    .wlf_box{
        margin-bottom: 0!important;
        border-bottom: 1px solid rgba(51, 51, 51, 0.1);
        padding: 10px 0!important;
        .myWlf_link{
            .w(66.7%);
            .wlf_img{
                left: 0!important;
            }
        }
        .text_content{
            margin-right: 2%!important;
        }
    }
    .wlf_state{
        .w(33.3%)!important;
    }
}
.new_wlf_box{
    .left;
    .w(50%);
    .mb(6px);
    .mini_warp{
        .block;
        margin: 0 3px 0 3px;
        background: #FFFFFF;
    }
    .link_box{
        .block;
        //margin: 0 3px 0px 3px;
    }
    figure{
        .pr;
        span.bs_load_img{
            .block;
            opacity: .75;
            .w(100%);
            .pt(100%);
            background-image:url("@{pic_url}/images/huodong/tuan/pre1.png") ;
            background-size:cover;
        }
        .wlf_no_tips{
            .block;
            .w(100%);
            .pt(173%);
            background: red;
        }
    }
    div.wlf_applyNo{
        //.bgc(#ffffff);
       // margin: 0 3px 0 3px;
       .h(94px);
       .block;
       figure{
           .w(96%);
           .auto;
       }
        .wlf_title{
            .l(14px);
            .f(13px);
            .h(28px);
            .fc(#333333);
            .pt(5px);
            .pb(2px);
            overflow: hidden;
            font-weight: 100;
        }
        .wlf_info{
            white-space: nowrap;
            overflow: hidden;
        }
        .wlf_info>span{
            .f(10px);
            .fc(#666666);
            b{
                font-weight: 100;
            }
            .apply_no{
                .fc(#666666);
                padding: 0 2px;
            }
            .trynumber{
                .fc(#ff6666);
                padding: 0 2px;
            }
        }
        .nowApply{
            .mt(10px);
            .auto;
            .block;
            .w(54%);
            .h(25px);
            .l(25px);
            .f(11px);
            .fc(#666666);
            .c;
            border-radius: 3px;
        }
        .yellow{
            .bgc(#fce44e);
        }
        .yellow:active{
          background: rgba(252,228,78,.4);
        }
        .gray{
            .bgc(#cccccc);
        }
        .gray:active{
             background: rgba(204,204,204,.4);
        }
    }
    
}
/*my_wlf_apply style*/
.nav_wap{
    .mt(10px);
}
@media screen and (min-width: 360px){
    .user_photo{
        top:18%;
    }
}
.top_banner{
    .pr;
    .w(100%);
    .pt(32%);
    background: url("@{pic_url}/images/m_welfare/wlf_user_info_bg.jpg") no-repeat;
    background-size:100% 100%;
    .level_box{
        .w(100%);
        .pa;
        top:10%;
        left: 0;
    }
    .user_photo{
        margin: auto;
        .w(47px);
        .h(47px);
        border-radius: 50%;
        overflow: hidden;
        img{
            .w(100%);
        }
    }
    .user_level{
        .w(100%);
        .h(20px);
        .l(20px);
        .mt(3%);
        text-align: center;
        span{
            .f(12px);
            .fc(#ffffff);
        }
        .user_level_tips{
            display: inline-block;
            .w(45px);
            .h(20px);
            .ml(5px);
            .pl(15px);
            .f(9px);
            background: url("@{pic_url}/images/m_welfare/wlf_user_level_bg.png") no-repeat;
            background-size:100% 100%;
            font-weight:100;
        }
     }
}
.goindex{
    .block;
    z-index: 100;
    .w(10%);
    right:20px;
    position:fixed;
    z-index: 100;
    img{
        .block;
        .w(100%);
    }
}
/*apply_end style*/
.apply_end_tips{
    padding: 25px 0;
    .wlf_end_flower{
        .w(100%);
    }
    .tips_p{
        .w(100%);
        text-align: center;
        .f(13px);
        .fc(#666666);
        .l(40px);
        span{
            .fc(#ff7a9a);
        }
    }
    .first_link{
        .w(80px);
        .h(30px);
        .l(30px);
        border: 1px solid #ff7a9a;
        .fc(#ff7a9a);
        .f(13px);
        .block;
        margin: auto;
        border-radius: 4px;
        text-align: center;
    }
}
.productBox .proPrice{
    .h(20px);
}
.coupon_warp{
    .bgc(#ffffff);
    .coupon_item{
        .mt(10px);
        .mb(10px);
        float: left;
        .ml(1.75%);
        .w(31%);
        .pr;
        .coupon_bg{
            .w(100%);
        }
        .coupon_info{
            .pa;
            top:0;
            .w(65%);
            .h(100%);
            .fc(#ffffff);
            text-align: center;
            .cp_money{
                display: -webkit-box;
                -webkit-box-align: center;
                -webkit-box-pack: center;
                .h(60%);
                .f(15px);
                font-weight: 100;
                strong{
                    .f(22px);
                    font-weight: 100;
                }
            }
            .cp_limit{
                .block;
                .f(8px);
            }
        }
    }
}
.shop_hot{
    .f(14px);
    .h(45px);
    .l(45px);
    .fc(#333333);
    text-align: center;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
.wlf_share_dialog{
    .w(100%);
    .h(100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(255,255,255,0.95);
    .share_tips{
        .w(100%);
        .block;
        text-align: center;
        margin-top:155px;
        .f(13px);
        .fc(#333333);
        strong{
            .block;
            .pt(15px);
            .f(14px);
            .fc(#999999);
            font-weight: 100;
            .l(18px);
        }
    }
    .dialog_appshare_box{
            .mt(50px);
            float: left;
            width: 25%;
            overflow: hidden;
    }
    .shareBut{
         display: inline-block;
         img{
             .block;
             .w(65%);
             margin: auto;
         }
    }
    .close_share_btn{
        .block;
        .pa;
        .w(18px);
        bottom: 30px;
        margin: auto;
        left: 0;
        right: 0;
        img{
            .w(100%);
        }
    }
}
/*wx dialog*/
.wx_share_dialog{
    .w(100%);
    .h(100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0,0,0,0.8);
    img{
        .w(100%);
    }
}
