<%#head.html%>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<div class="wrap">
	<img src="http://d01.res.meilishuo.net/pic/_o/b4/40/5f32b0221526463bbf39687c784f_640_375.cf.jpg" class="head_bg"/>
	<header>
		<img src="http://d04.res.meilishuo.net/pic/_o/c0/2a/9bc1508f5fe6dc0c651c67264161_136_136.ch.png" class="avatar"/>
		<h2>让我看看你的牙</h2>
		<div class="want_list">
			
		</div>
	</header>
	<p class="intro">
		快把这些新款送给你的好友，</br>
		就可以领取现金红包，<span>100%</span>中奖！
	</p>
	<div class="shareBtn">
		<img src="http://d02.res.meilishuo.net/pic/_o/b5/07/412b32c8dacc9b90174b00dbefee_570_102.cg.png" />
	</div>
</div>

<script type="text/html" id="shareLead">
	<div class="dialog_box">
		<span class="share_pic"></span>
	</div>
</script>

<script>
	fml.vars.mlsHost = '<%= this.mlsHost %>';
</script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/redPaper/share');
_use:", this._JSstack, this._JSmods); %>

<%# foot.html%>