@import "block.less";
@import "window.less";
.beauty {.w(948px); .auto;}
.rec_nav { .guang_cata_nav; .guang_cata_nav > .catalog;.border-r(0);}
.sideBar { .left; .break-word; .w(228px); }
.beauty_con { .right; .w(707px); .mt(14px);}
.beauty_banner{ .block; .w(706px); .h(240px); }
.beauty_box { box-shadow:0 1px 2px rgba(34,25,25,0.2);-webkit-box-shadow:rgba(34,25,25,0.2) 0 1px 3px;border:1px solid #DDD\9;}
.brand_logo {.beauty_box;.bgwhite; .w(707px);border-top:0px\9; .h(49px); .hidden;.pr;
	a { .left;.w(116px);.mt(10px);.mb(10px); }
	img {.block;.auto;}
	span { .h(24px);.w(1px);.right;border-right:1px solid #DDD;.mt(5px);
		&.last{ .border-n; }
		}
}
.arrow_up, .arrow_down, .slider li.active {background:url("@{pic_url}/images/beauty/arrow3.gif") no-repeat 0 0; }
.arrow_up, .arrow_down {.w(48px);.h(20px);.block;.auto;}
.arrow_up {.bp(0,0); }
.arrow_down {.bp(right,0); }
.use_best { .beauty_box;.bgwhite; .w(707px); .mt(14px); }
.score { 
	em, i {background:url("@{pic_url}/images/beauty/s_heart_9_9.png") no-repeat;.h(9px);.i_block;vertical-align:baseline;_vertical-align:middle;}
		em {.bp(0,0);.w(58px);*margin-top:-12px;_margin-top:1px;.ml(4px);}
		i {.bp (0,-25px); }
	}
.useNum {
	b { .red; }	
}
.bestCon {.score; .left; .w(235px);border-right:1px solid #DDD;border-bottom:1px solid #DDD;.pt(14px);
	span { .gray; }
	.com { .p0_13;
		img {.block; .auto; .w(200px); .h(200px);}	
	}
	h3 { .f(14px);.c;.mt(10px);.mb(5px); .ellipsis; .w(200px); .l(16px);
		a { .dgray; }
	}
	.u_num { .useNum;.right;}
	.daren_rec { background:#F9F9F9;.h(56px);padding:10px 13px;.mt(10px);}
	.des { .l(18px); .h(56px); .hidden;
	span {.gray; }
	}
}
.star_rec {.beauty_box;.bgwhite;.p13;.pr; 
	.ico {.w(79px);.h(78px);background:url("@{pic_url}/images/beauty/beauty_f.png");_background:none;
		_filter:~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/beauty/beauty_f.png', sizingMethod='scale')"; .pa; top:-3px; left:-3px;}
	.pic { .left;.w(180px);.h(180px);.block; 
		img {.w(180px); .h(180px);}
	}
}
.r_com {.score; .right; .w(490px);
	h3 {.left;.f(16px);.mr(15px);.mb(5px);}
	span { .gray;.l(20px); }
	em {.mr(20px); }
	.u_num {.useNum;}
	.u_com {border-bottom:1px solid #DDD;.p10_0;.l(18px);
	.name { .f(14px);.red;.fb; }
	div {.h(60px);.hidden;}
	img { .left; .mr(10px); }
	}
	.pros { .f(14px);.l(20px);
		p { .pt(5px); }
	}
}
.brand_title {.h(26px);.l(26px);.mt(14px); 
	h2 {.f(24px); }	
}
.brandInfo { .beauty_box;.bgwhite;.mt(14px);.pt(13px);.pb(13px);
	img { .block;.auto; }
	.bigbutton {.w(200px);.h(38px);.l(38px);.block; .f(14px);.fb;.c;.auto;.mt(14px);.white;background:url("@{pic_url}/images/beauty/bigBtn.png") no-repeat 0 0; }
}
.bty_auto { .w(960px); .auto; }
.groupBox{ .break-word; .w(228px);.left;.ml(6px); .mr(6px);.inline; }
.groupCon{.score; .beauty_box; .bgwhite;.mt(14px);.pt(10px);
	.picBox {
		img { .block; .auto;.border-1; .w(200px); .h(200px); }
		}
	h3 { .f(14px);.c;.mt(10px);.mb(5px); .w(200px);.ellipsis;.pl(13px);}
	.u_num { .useNum;.right;}
	.u_like { .p0_13;.pb(10px);.gray; }
	.u_com {
		background:#f9f9f9;.p0_13;.l(18px);.pt(10px);.pb(10px);
		p { .h(36px);.hidden;
			span { .gray; }
		}
	}
}
.com_title { .mt(14px);.mb(14px);
	h2 { .f(16px); }	
}
.com_con { .score;border:1px solid #EEE; padding:12px; .pr;.w(572px);.right;.mb(14px); 
	.arrow { .h(20px); .pa; top:10px; left:-10px;.w(10px); background:url("@{pic_url}/images/group/twitter_ico.gif") no-repeat 0 -20px; }
	.name {  .f(14px);.fb;.mb(10px);
		a { .red; }
	}
	span { .gray; }
	.time { .mt(14px);.block; }
	.u_com { .f(14px);.l(20px); .mt(14px); }
}
.sliderBg { .h(49px);background:@lightPinkBg;border-bottom:1px solid #F3DCE4;.pr; }
.slider li a:hover, .slider li.active span {background:url("@{pic_url}/images/beauty/pinkLine.gif") repeat-x 0 0; }
.slider { .f(16px); .fb;.pa;top:-4px;
	ul { .pl(12px); }
	li {.left;margin:0 5px;.h(46px);.l(46px);.pb(18px);
		a {.cursor;.red;
		&:hover { .bp(left,bottom);.left;.pb(4px); }
		  }
		span { .left;.p010;.pt(3px);}
			&.active { .bp(center,bottom);.h(64px);.pb(0);
				span { background-color:#FF76A3;.bp(0,0);.border-r(4px);.left;.h(54px);.pt(3px);.white; }
				a {
					&:hover { background:none; }
					}
			}
		}
}
.cataH {.f(24px); .fb; .mt(14px); }
/*分页*/
.rec_pager { .c; .mt(10px);
	.small_btn { .w(140px); }
}
.pageNav{.page > .pageRed; }
