@import "block.less";
@import "window.less";
.page;
.pageNav{ .page > .pageRed; }
.redline();
.userinfo { .user_info; .pt(0); 
	.avatar { .pt(20px); }
}
.sec_nav{.second_nav > .brandSec; }
.top_box { .auto; .hidden; .h(400px); .mt(14px); .w(948px); .pr; }
.auto_box { .common_shadowBox; .auto; .mt(14px); .pl(12px); .w(936px); 
	.brand_tit{ .mt(20px); .mb(20px); .mr(12px); .clearfix;
		.bd_tle { 
			&1, &2, &3 , &4 , &5 , &6{	background: url("@{pic_url}/images/brand/brand_f5.png") no-repeat; .hidden; .indent; .h(32px); .left; .w(380px); }
			&2 { .bp(0, -41px); }
			&3 { .bp(0, -87px); }
			&4 { .bp(0, -127px); }
			&5 { .bp(0 , -165px); }
			&6 { .bp(0 , -203px); }
		}
		.more{ .right; .mt(16px); color:#999999; }
	}
	.looks { 
		li { .left; .inline; .h(252px); .ml(2px); .mr(11px); .w(220px);
			.pic { .block; .h(200px); .w(220px);
				img { .h(200px); .w(220px); }
			}
			.list { .h(40px); color: @lightGray; padding: 6px 13px;
				dt{ .right; .tr; .l(40px); .w(60px); }
				dd{ .left; .ellipsis; .h(20px); .l(20px); .w(134px); }
			}
		}	
	}
	.e_pic { .left; .mb(12px); .mr(12px); .w(300px); 
		p{ .f(14px); .l(28px); }
		img { .h(180px); .w(300px); }
	}
	.tle_line { background: url("@{pic_url}/images/brand/bd_line.gif") repeat-x 0 9px; .h(20px); .l(20px); .mt(10px); .mr(12px); .pb(12px); .w(924px);  
		.top_tle { .bgwhite; .auto; .fn; .c; .f(14px); .w(170px); }
	}
}
.tb_pic { .hidden; .w(100%);
	li{ .left; .inline; .mr(12px); .mb(12px); .pr;
		a { .c; .cursor; .left; .hidden; .h(90px); .w(175px); 
			img { .h(60px); }
			span { .left; .ellipsis; .h(28px); .l(28px); .w(175px); border-top: 1px dashed #fff; }
		}
		.hoverpic { background: #f1efef;
			&:hover { color: @darkGray;  }
		}
		.onpic { .cursor; .c; .white; .left; .pa; background:rgba(255,102,153,0.9); filter:~"progid:DXImageTransform.Microsoft.gradient(startcolorstr=#80ff6699,endcolorstr=#80ff6699)"; left: 0; top: 0; z-index: 1;
			&:hover { .white; }
			b { .left; .ellipsis; .h(26px); .l(26px); .w(175px); }
		}
	}
}
.con_box { .auto; .w(948px);
	.brand_l { .left; .w(708px);
		.banner { .common_shadowBox; .h(300px); .mt(14px); .w(706px);
			img { .h(300px); .w(706px); }
		}
		.list_box { .common_shadowBox; .mt(14px); .pl(12px); .w(694px); 
			.c_tle { .yahei; .f(32px); .fn; .pt(12px); .pb(12px); }
			.list { .hidden;
				a { .left; .cursor; .hidden; .h(240px); .mr(11px); .w(220px); 
					img { .h(200px); .w(220px); }
					span { .c; .left; .ellipsis; .h(40px); .l(40px); .w(220px); }
				}	
			}
		}
		.more { .c; .pt(10px); .pb(20px); }
	}
	.brand_r { .right; .w(228px); 
		.bd_info { .common_shadowBox; .hidden; .mt(14px); padding: 0 13px 13px;
			p { .l(20px); .hidden; }
			.fold { .cursor; .tr; .red; }
			.tb_pic a { .ml(12px); }
		}	
	}
}
/*编辑精选*/
ul.brand_accordion{  .w(920px); .auto; .pr; .clearfix; margin:0 2px 12px 0;
	li{ .left; .pr; .h(400px); .w(230px); .hidden;
		a{ .left; }
	}
	.focus_text{ .w(406px); background:rgba(0,0,0,0.75); filter:~"progid:DXImageTransform.Microsoft.gradient(startcolorstr=#75000000,endcolorstr=#75000000)"; color:#ffffff; padding:10px 12px; .l(22px); .h(60px); .pa; bottom:0;left:0; .none;}
}
/*时尚杂志*/
.brand_group{ .clearfix; .mb(14px);
	.groupBox{ .common_box(); .w(220px); margin:0 11px 0 2px;  }

}
.groupCon{ .group > .9GG; .w(218px); } 
.solidbtn;
.solidbtn > .small_red;
.solidbtn > .small_pink;

.wlc_heart{ background: url("@{pic_url}/images/welcome/heart.png") no-repeat 0 4px; padding:2px 8px;}


.brand_pop { .h(400px); .l(20px); .pl(20px); .pr(20px); .w(530px); overflow-y: scroll;
	p { .mt(20px); .mb(20px);  }
}
.page;
.pageNav{.page > .pageRed; }

.out-mz{
	.w(910px);
	.ml(6px);
	.mr(20px);
	.h(189px);
	.pb(30px);
	div{
		.left;
	}
	a{
		.block;
		.left;
		cursor: pointer;
	}
	.left-mz{
		.w(40px);
		.h(189px);
		background: url('http://i.meilishuo.net/css/images/catalog/ltrt.gif') no-repeat 20px 65px;
	}
	.right-mz{
		.w(40px);
		.h(189px);
		background: url('http://i.meilishuo.net/css/images/catalog/ltrt.gif') no-repeat -10px 65px
	}
	.in-mz{
		position: relative;
		overflow: hidden;
		.w(830px);
		.h(192px);
		div{
			position: absolute;
			.w(2712px);
			.h(192px);
			left: 0px;
			a{
				.mr(74px);
			}
			p{
				text-align: center;
				.mt(5px);
				.red;
			}
		}
	}
}

@import "footer.less";
