@import "block.less";
body { .bgc(#fff); }

.nav_box{ .w(100%); .h(89px); background-color: #fff; z-index: 999; opacity: 0.95;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.2);
	box-shadow: 0 1px 1px rgba(0,0,0,.2);
	.nav{ .w(1200px); .h(89px); .auto; 
		a{ .mt(19px); }
	}
}
.nav_pa{  .pa; top:-89px; transition:all .6s ease; }
.nav_fixed { position:fixed; top:0;  transition:top .6s ease;  }
.top_box{ .w(100%); .h(599px); background:url("http://d05.res.meilishuo.net/img/_o/2d/c9/d90efd2ea58fb464b7618c79b78a_2000_599.cg.jpg") no-repeat center center;
	.inner{ .w(1200px); .h(599px); .auto; .pr;
		.code{ .w(50px); .h(50px);  .pa; bottom: 112px; right:1002px; background:url("http://d03.res.meilishuo.net/img/_o/3d/e2/b2ab162cfbcf5cc413d51f9bea72_50_50.cg.png") no-repeat; 
			&:hover{ .w(120px); .h(120px);  background:url("http://d03.res.meilishuo.net/pic/_o/85/27/ab7c68c7d71e78c8f59b809c6b07_120_120.ch.jpg") no-repeat;   }
		}
		.android{ .pa; .w(170px); .h(50px); left:414px; bottom:112px; }
		.apple{ .pa; .w(170px); .h(50px); left:224px; bottom:112px; }
	}
}
.item_box1{ .w(1200px); .h(551px); .auto; background:url("http://d03.res.meilishuo.net/img/_o/16/5f/a7c979b506fdddd587a6540b08d3_1200_551.ch.jpg") no-repeat; .pr;
	li{ .pa; opacity: 0;}
	.head1{ .w(85px); .h(84px); background:url("http://d06.res.meilishuo.net/img/_o/0b/8a/029597773a8cf4924e85ea7f419e_85_84.ch.png") no-repeat; left:0px; top:308px;}
	.head2{ .w(137px); .h(136px); background:url("http://d03.res.meilishuo.net/img/_o/bd/23/32e98e2ccd1d683719ae8f7706dd_137_136.cf.png") no-repeat; left:356px; top:97px; }
	.head3{ .w(82px); .h(82px); background:url("http://d04.res.meilishuo.net/img/_o/de/4d/fa3ecc6e43167abd598faa3c0cbc_82_82.ch.png") no-repeat; left:434px; top:347px;  }
	.head4{ .w(117px); .h(113px); background:url("http://d02.res.meilishuo.net/img/_o/f0/bb/ee647eec0fcda299d34834a89748_117_113.cf.png") no-repeat; left:32px; top:188px;  }
	.head5{ .w(91px); .h(91px); background:url("http://d06.res.meilishuo.net/img/_o/ec/21/935fef19a13aa2309d22d7a322fb_91_91.ch.png") no-repeat; left:474px; top:240px; }
} 
@keyframes avatar {
    0% { opacity: 0; transform:scale(1.3) }
    100% { opacity: 1; transform:scale(1.0) }
}
@-webkit-keyframes avatar {
    0% { opacity: 0; transform:scale(1.3) }
    100% { opacity: 1; transform:scale(1.0) }
}
.item_box2{ .w(1200px); .h(575px); .auto; background:url("http://d06.res.meilishuo.net/img/_o/61/d3/485a80a875cf730e7500d329bc55_1200_575.ch.jpg") no-repeat; .pr; 
	p{ .pa; opacity: 0;}
	.talk1{ .w(237px); .h(71px);  background:url("http://d02.res.meilishuo.net/img/_o/19/3d/071934455959b767a5d2f3f130b1_237_71.cg.png") no-repeat; left:510px; top:169px; }
	.talk2{ .w(239px); .h(71px);  background:url("http://d05.res.meilishuo.net/img/_o/df/8e/7a1d7dbb5a49af9030d51f31b8fe_239_71.ch.png") no-repeat; right:18px; top:349px; }
	.talk3{ .w(197px); .h(61px);  background:url("http://d04.res.meilishuo.net/img/_o/43/3d/5d5b4136d198eab89e1e34013e72_197_61.ch.png") no-repeat; left:571px; top:423px; }
}
@keyframes talk0 {
    0% { opacity: 0; left:510px; }
    100% { opacity: 1; left:610px; }
}
@-webkit-keyframes talk0 {
    0% { opacity: 0; left:510px; }
    100% { opacity: 1; left:610px; }
}
@keyframes talk1 {
    0% { opacity: 0; right:18px; }
    100% { opacity: 1; right:118px; }
}
@-webkit-keyframes talk1 {
    0% { opacity: 0; right:18px; }
    100% { opacity: 1; right:118px; }
}
@keyframes talk2 {
    0% { opacity: 0; left:571px; }
    100% { opacity: 1; left:671px; }
}
@-webkit-keyframes talk2 {
    0% { opacity: 0; left:571px; }
    100% { opacity: 1; left:671px; }
}
.item_box3{ .w(1200px); .h(641px); .auto; background:url("http://d05.res.meilishuo.net/img/_o/cc/08/87a3dd75a391fc46d1783b6a4acb_1200_641.cg.jpg") no-repeat; .pr; 
	p{ .pa; opacity: 0;  }
	.page1{ .w(294px); .h(508px); background:url("@{pic_url}/images/huodong/a6.png") no-repeat; left:270px; top:77px;  }
	.page2{ .w(353px); .h(612px); background:url("http://d06.res.meilishuo.net/img/_o/bd/10/77fd9bdb7e5256a5b4edb678c5a3_353_612.ch.png") no-repeat; left:86px; top:27px;  }
}
@keyframes page {
    0% { opacity: 0;  }
    100% { opacity: 1;  }
}
@-webkit-keyframes page {
    0% { opacity: 0;  }
    100% { opacity: 1;  }
}
.item_box4{ .w(1200px); .h(705px); .auto; background:url("http://d05.res.meilishuo.net/img/_o/ba/ea/91040ad0c7113b45850db0024ce5_1200_705.cf.jpg") no-repeat; .pr; 
	p{ .pa; opacity: 0;  }
	.step1{ .w(142px); .h(200px); background:url("http://d03.res.meilishuo.net/img/_o/9e/1d/e73ae463aa8f6415b8f90982f524_142_200.ch.png") no-repeat; right:484px; top:7px; }
	.step2{ .w(152px); .h(171px); background:url("http://d06.res.meilishuo.net/img/_o/f0/34/df3b34e965da2d965880999916cb_152_171.cf.png") no-repeat; right:0; top:249px; }
	.step3{ .w(115px); .h(82px); background:url("http://d03.res.meilishuo.net/img/_o/1b/5a/cd82672ab8562a2c42fc1a9406d0_115_82.cf.png") no-repeat; right:534px; top:400px; }
}
@keyframes step {
    0% { opacity: 0;  }
    100% { opacity: 1;  }
}
@-webkit-keyframes step {
    0% { opacity: 0;  }
    100% { opacity: 1;  }
}
.item_box5{ .w(1200px); .h(745px); .auto; background:url("http://d02.res.meilishuo.net/img/_o/67/95/bb6c236ec3b0625cd290a09c5ddf_1200_745.cf.jpg") no-repeat; .pr; 
	p{ .pa; opacity: 0; }
	.codepic1{ .w(418px); .h(600px); background:url("@{pic_url}/images/june_code2.png") no-repeat; left:140px; top:10px; }
	.codepic2{ .w(305px); .h(304px); background:url("@{pic_url}/images/june_code1.png") no-repeat; left:54px; top:373px; }
}
@keyframes two_code0 {
    0% { opacity: 0;  }
    100% { opacity: 1;  }
}
@-webkit-keyframes two_code0 {
    0% { opacity: 0;  }
    100% { opacity: 1;  }
}
@keyframes two_code1 {
    0% { opacity: 0; transform:scale(.1); }
    100% { opacity: 1; transform:scale(1.0); }
}
@-webkit-keyframes two_code1 {
    0% { opacity: 0; transform:scale(.1); }
    100% { opacity: 1; transform:scale(1.0); }
}
.bottom{ .w(100%); .h(544px); background-color: #f7f7f7; .c;
	img{ .mt(75px); }
}

.footer{ .mt(0); }

