@import "block.less";
@import "window.less";
.sec_nav{.second_nav > .brandSec; }
/*主体布局样式*/
.wapper_d { .w(960px); .auto; .pr; .mt(14px);}
.content { .w(720px); .left; }
.siderbar { .common_box; .right; 
	.bar { .w(200px); .mt(14px); .p13; .common_shadowBox; }
}
/*明星达人*/
.daren_t { .l(22px); .f(16px); .fb;}
.star { .box-shadow; .bgwhite; .w(948px); .auto; .pr;
	.ranking { .left; .mt(10px); .pl(13px); .w(282px);
		.items_pop { .itemspop;
			li { 
				a { 
					.num1 { .w(40px); .fn; }	
				}	
			}
		}
	}
}
.more { .right; .f(12px); .fn; }
.star_d { .left; .w(220px); .h(330px); .pt(13px); .pb(13px); .pl(13px); .pr;
	.attent { .w(64px); .h(20px); .l(19px); .pa; right:10px; bottom:83px; .cursor;
		span { .block; }
	}
}
.star_img { .w(218px); .h(328px); .pr; border:1px solid #ffffff;
	a { .i_block; .w(218px); .h(328px); .hidden;}
	
}
.redborder_dr { border:1px solid #f69; }
.daren_bnr {  .w(640px); .h(240px); .left; .pr; .hidden; }
.daren_tag { background: url("@{pic_url}/images/findfs/daren_tag121401.png") no-repeat 0px 0px; left: 3px; .h(85px); .w(85px); .pa; top: -2px;z-index:30; }

.apply { .w(262px); .h(76px); background-color:#f2f0f0; .mt(5px); .p10; .l(18px); .hidden; }
.solidbtn;
.solidbtn > .small;
.small_btn { .w(113px); .h(35px); .right; .mt(-6px); }

/*daren tab*/
.daren_nav { .w(708px); }
.daren_tab,.daren_tab ul { .box-inset;} 
.daren_tab { .mt(14px); .ml(6px); _display:inline; _zoom:1; .w(708px); .h(52px); .f(20px); .fb; padding:2px 0; 
	ul { .h(24px); .l(24px); padding:13px 3px; }
	li { border-right:1px solid #DDD; .left; padding:0 18px; }
	li.first { .pl(0px); }
	li.last { border-right:0; .pr(0px); }
}

/*小红心榜 勋章*/
.heartlist{
	li { .border-bc; .p10_0; width:100%; .h(64px); .left; .hidden; }	
}
.heartlist {
	.avatar64_f { padding:0 8px; }	
	.pb5 { .pb(5px); }
}
.charts_red , .charts_gray { .white; .w(20px); .l(20px); .c; .fb; .f(14px); .i_block; .border-r(2px); }
.charts_red { .bgred; }
.charts_gray {.common_button > .grayBtn; }
.medal_got { .w(45px); .h(45px); .hidden; }
.big_love { background: url("@{pic_url}/images/twitter/ILikeit.gif") no-repeat; .i_block; .w(16px); .h(15px); }
.cut { .w(100px); .hidden; .break-word; .nowrap; text-overflow:ellipsis; }
.cut1 { .w(105px); .hidden;.break-word; .nowrap; text-overflow:ellipsis; }
.sidefollow { .w(64px); .h(20px); .l(19px); .cursor; .fn; .f(12px); .mt(5px);
	span { .block; }
}

/*poster*/
.poster_wall{ .pa;left:-2000px;top:0;}
.poster_grid{ .common_box;
	.dr_poster { .common_shadowBox;.mt(14px); .w(200px); .p13;  
		h4 { .l(24px); .clearfix; .mt(10px);
			span { .block; }	
			.dr_follow { .w(64px); .h(20px); .l(19px); .cursor; .fn; .f(12px); .right; }
		}
		h5 { .f(12px); .fn; padding:2px 0; .l(24px); }
		p { .l(20px); }
		
	}
}
.drPoster_pic { .c; .w(200px); .block; .hidden;
	img { .block; .w(200px); .hidden; }
}
.redborder_po{ .redborder; }

/*浮窗引*/
.face_pop { .window > .head_float; }
.poster_icons;

.approve;
/*分页*/
.rec_pager { .c; .mt(10px);
	.small_btn { .w(140px); }
}
.pageNav{.page > .pageRed; }

