@import "block.less";


.main{
	.w(880px);
	.h(800px);
	.mt(20px);
	.pl(40px);
	.pr(40px);
	.bgc(#fff);
	.auto;
	h2{
		.h(50px);
		.l(50px);
		.f(20px);
		color:#f69;
		border-bottom:1px solid #e2e2e2;
	}
	p{
		.mt(30px);
	}
	.checkBox{
		.mt(20px);	
		.mls-txt{
			.w(150px);
			.h(34px);
			.left;
			.f(16px);
			border:1px solid #e2e2e2;
		}
		.checkImage{
			.h(60px);
			.cursor;
		}
		.btn{
			padding:6px 24px;
		}
	}
	.box{
		img{
			.w(880px);
			.h(650px);
		}
	}

}
