@import "block.less";
@import "window.less";

.minisite_wapper { .w(100%); .pt(14px); }
.minisite_box{ .w(948px); .auto; .clearfix; background:#F2F0F0; padding:6px; .border-r(@radius:5px);
	.minisite_bnr{ .w(708px); .h(330px); .pr; .hidden; .border-r(@radius:4px); }
}
.italk{ .right; .red; .mt(14px); }
.minisite_left{ .w(708px); .left();
	.mini_mainbox{ .common_shadowBox(); .p13(); .clearfix(); }
	.editorbg { .window > .publishor;}
	.window > .replyBox;
}
.dashedline{ border-bottom:1px dashed #dddddd; }
.minisite_sider { .w(228px); .right();
	.groupBox{ margin:0; }
}
.mini_sidebox{ .common_shadowBox(); .p13(); .mt(14px);
	.title_r{ .right(); .mt(2px); }
}
.approve;
.mini_userinfo { .user_info(); .mt(0); }
.dashedline { .border-bc(); .mt(14px); }
.sharegroup { margin:10px 0 0 14px; color: #999; .h(24px); .l(24px); .clearfix;
	p{ .left; .mr(6px); }
	ul li{ .border-1; .common_button; .left; .hidden; .h(16px); padding: 2px; width: 16px; .mr(6px); }
	span { .i_block(); .w(16px); .h(16px); vertical-align:middle; padding:0; .left; }
}
.fans_face{ .w(32px); .h(32px); .left(); margin:10px 4px 0; .hidden();
	img{ .w(32px); .h(32px); }
}
.shesay{ .mt(8px); 
	li , p{ .l(20px); .w(680px); .hidden; .break-word; .nowrap; .ellipsis; }
	img{ width:12px!important; height:12px!important; }
	a{ color:#ff6699; }
}
.hot_topic{ .mt(8px);
	li{ .l(20px); .pl(10px); .w(330px); .hidden; .break-word; .nowrap; .ellipsis; }
}
.groupBox{ .common_box();  }
.groupCon{ .group > .9GG; }
.solidbtn;
.solidbtn > .small_red;
.solidbtn > .small_pink;

.poster;
.poster_grid{ .ml(0); }
.poster_icons;
.face_pop { .window > .head_float; }
.fluid;
.page;
.pageNav{.page > .pageRed; }

/*分页*/
.pageNav{.page > .pageRed; }
