@import "block.less";
.contain{
	width: 936px;
	.h(400px);
	margin: 13px auto;
	border: 1px solid #E2E0E0;
	background-color: white;
	padding: 30px 38px;
	border-radius: 6px;
	.f24{
		font-size: 24px;
		margin-bottom: 20px;
	}
	.use_left{
		.step{
			font-size: 18px;
			.mb(20px);
		}
		.ml72{
			.c;
			padding: 107px 0;
			.w(430px);
			.mt(25px);
			float: left;
			border-right: 1px dashed #ccc;
			.f16n{
				font-size: 16px;
			}
			.mt10{
				.mt(15px);
				.pickup_tool{
					display: block;
					background: url(http://stc-tx.meiliworks.com/css/images/goods/btn_pickup.png) repeat 0 0;
					width: 172px;
					height: 40px;
					text-indent: -999em;
					margin:0 123px;
				}
			}	
		}
		.ml14{
			float: left;
			.c;
			.w(430px);
			.mt(25px);
		}
	}
}
