@import "block.less";
@import "window.less";
.redline();
.common_title;
.poster_icons;

.auto_box { .auto; .w(948px); }
.top_bnr { .h(250px); .box-shadow; .mt(14px); }
.s_p_tabs { .sp_tabs; .w(948px); margin: 14px auto; 
	h2 { .f(20px); .c; }
}
.shop_l { .left; .w(228px); }
.shop_info { .shopinfo(); }
.cata_list { 
	li { .border-tc; .c; .h(52px); .l(52px); }
	.first { .border-n; }
}

.shop_r { .right; .w(708px);
	.right_box { .common_shadowBox; .hidden; .mb(14px); .pl(13px); .pb(13px);  
		.onpic { .cursor; .white; .left; .pa; .h(60px); .pt(124px); .w(220px); background:rgba(102,102,102,0.5); filter:~"progid:DXImageTransform.Microsoft.gradient(startcolorstr=#70666666,endcolorstr=#70666666)"; left: 0; top: 0; z-index: 1; 
			b { .left; .ellipsis; .f(14px); .h(26px); .l(26px); .pl(10px); .w(210px); }
		}
		.ad_bnr { .left; .hidden; .h(380px); .mt(13px); .w(220px); .pr;
			img { .h(380px); .w(220px); }
		}
		.wins { .left; .w(460px);
			li { .left; .inline; .hidden; .h(184px); .ml(10px); .mt(13px); .w(220px); .pr;
				img { .h(184px); .w(220px); }
			}
		}
		.all_goods { .hidden; .pb(10px); 
			li { .left; .inline; .h(410px); .w(220px); .hidden; .pr; margin: 14px 10px 10px 0; 
				img { .h(330px); .w(220px); }
				.tle { .hidden; .break-word; .h(44px); .l(22px); .pt(5px); .pb(5px);  }
			}
			.last { .omega; }
		}
	}
}

.other { .common_shadowBox; .hidden; .p13;
	.list { .border-tc; .h(50px); .mt(14px); .pt(14px);
		a { .left; .h(50px); .mr(10px); .hidden; .w(50px); }
		a.omega { .omega; }
	}
}

.page;
.pageNav{.page > .pageRed; .border-tc; .pt(14px); .mr(10px); }

@import "footer.less";
