@import "../../block.less";
@pic_root_url: "@{pic_url}/images/wap/activity/promotion/1220/main_venue_2";
html{.f(10*@f);}
body {background-color: #f8eff4;}

figure { a {.block; .pr; }}

.banner {
  .pr;
  padding-top: 90%;
  background: url("@{pic_root_url}/banner.jpg") no-repeat top center;
  background-size: 100%;
  .go-coupon {
    .block;
    .pa;
    top:72%;
    left:22%;
    .w(56%);
    .pt(16%);
  }
  .bannerText {
    .mb(1%);
    .f(13px);
    .fc(#fff);
    font-weight: bold;
  }
  .countdown {
    .pa; top:0%; .w(100%);  text-align: center;
    background: url("@{pic_root_url}/cdBg.png") no-repeat top center; background-size: 100%;
    .timerArea {.ml(25%); .w(50%); .pr; .pt(6%); vertical-align: middle;
      background: url("@{pic_root_url}/timerBg2.png") no-repeat top center; background-size: 100%;}
    dl dd {.pa; top:20%;}
    dl dd span{.f(14px); .fc(#9e1a19)}
    #day0 { left:14.6%}
    #day1 {left:19%}
    #hour0 {left:36%}
    #hour1 {left:39.5%}
    #minute0 {left:62.5%}
    #minute1 {left:67%}
    #seconds0 {left:83.5%}
    #seconds1 {left:87.5%}
  }
  .rule {.pa;z-index: 1;.pt(10%);.w(18%); top:10%;right:2%; border: 0px solid red;}
}


.postWall {

  .clearfix;
  .poster { .pr;.w(47%);.ml(2%); .mt(2.2%);float: left; .f(11px);
  }

  .bs_load_img{.block;.w(100%);}
}


.loadingImg {background: url("@{pic_url}/images/wap/activity/promotion/11/meet/g_loading1.png") no-repeat center center;}
figure a { .w(100%)}

.gotop{
  .none;
  .pf;
  right: 20px;
  .w(80*@w);
  img{
    .w(100%);
  }
}

.barrage {
  .block;
  .w(95%);
  .pt(27%);
  .ml(2.5%);
}

.barrage1 {
  background: url("@{pic_root_url}/ndanmu.jpg") no-repeat top center;
  background-size: 100%;
}

.barrage2 {
  background: url("@{pic_root_url}/danmu2.jpg") no-repeat top center;
  background-size: 100%;
}

.barrage3 {
  background: url("@{pic_root_url}/danmu3.jpg") no-repeat top center;
  background-size: 100%;
}

.jigsaw {
  .block;
  .w(95%);
  .ml(2.5%);
  .pt(28%);
  background: url("@{pic_root_url}/pintu1.jpg") no-repeat top center;
  background-size: 100%;
}




.sidebar_btn {
  .pf;
  .pt(20%);
  .w(20%);
  top:61%;
  right:0;
  background: url("@{pic_url}/images/wap/activity/promotion/1220/sidebar/sidebar.png") no-repeat center center;background-size: 100%;

  transition: right 1s;
  -webkit-transition: right 1s;	/* Safari 和 Chrome */
}

.sidebar_data {
  .pf;
  .w(28%);
  top:7%;
  right:-30%;
  z-index: 100;
  transition: right 1s;
  -webkit-transition: right 1s;	/* Safari 和 Chrome */
  img {
    .block; .w(100%);
  }

}

.sidebar_shade, .shade{.pf;top:0;left:0;z-index:10;.w(100%);.h(100%);background:rgba(0,0,0,.5);}

.rule_dialog {
  .pf;
  z-index: 100;
  top:4%;
  .w(90%);
  left:7%;
  .pt(117%);
  background: url("@{pic_root_url}/rule.png") no-repeat top center;background-size: 100%;
}
.rule_dialog_btn {
  .pa;
  .pt(16%);
  .w(100%);
  bottom: 0%;
}
.rule_close_btn {
  .pa;
  .w(15%);
  top:-3%;
  right:-4%;
  height: 10%;
  img {.w(60%); .mt(10%); .ml(20%);}
}


/*分享*/
.starBox{ .star_box; .mt(2%);}