@import "../block.less";
img{ .block; .w(100%); }

html {
  font-size : 62.5%; /* 10/16 = 62.5% */
}
@media (-webkit-min-device-pixel-ratio : 1.5), (min-resolution: 1.5dppx) {
  html {
    font-size : 50%; /* 8/16 = 50% */
  }
}

@media (-webkit-min-device-pixel-ratio : 2), (min-resolution: 2dppx) {
  html {
    font-size: 31.25%; /* 5/16 = 31.25% */
  }
}

@media (-webkit-min-device-pixel-ratio : 3), (min-resolution: 3dppx) {
  html {
    font-size : 31.25%; /* 3/16 = 18.25% */
  }
}

body{background: #d42d01;}

.jqz{.block;.w(100%);;.pf;bottom: 0;
  img{position:absolute;bottom: 0;}
}

.lpic{.mb(25%)}

/* confirm 提示框 */
.windowDrive {
  .dialog {
    width: 60%;
  }

  .dialog-con {
    font-size: 2.8rem;
  }

  .dialog-btn {
    font-size: 2.6rem;
  }
}
