/*0.5的水平线*/
.line-h05(@lw){
	background-color: rgb(213, 213, 213);
	width: @lw;
	height: 1px;
	-webkit-transform: scaleY(.5);
}
/*0.5的垂直线*/
.line-v05(@lh, @lt){
	position: absolute;
	top: @lt;
	right: 0px;
	width: 1px;
	height: @lh;
	background-color: rgb(213, 213, 213);
	-webkit-transform: scaleX(.5);
}