<%# head_simple.html%>
</head>
<body>
<img src="http://d05.res.meilishuo.net/pic/_o/28/b3/678b1051958821924a5f8a157696_34_34.cg.jpg" style="display:none;">
<img class="share-main" src="http://d03.res.meilishuo.net/pic/_o/cb/22/f3a1e6259f2c45826e3cc04c1272_340_130.ch.png">
<div class="main">

	<div class="content">
		<img src="http://d01.res.meilishuo.net/pic/_o/ca/f1/95707ef6285ac83e167c9374c050_640_947.cg.png"/>
		<img src="http://d03.res.meilishuo.net/pic/_o/54/08/8387cd0d6e879694fe69be1a2107_640_394.cf.jpg"/>
		<img src="http://d05.res.meilishuo.net/pic/_o/a1/12/676b3e292670c0ce173bb8edc443_640_573.cf.png"/>
		<img src="http://d02.res.meilishuo.net/pic/_o/bf/e4/b220e8762d400ae0f7d821140679_640_539.ch.png"/>
	</div>
	
</div>
<div class="shake">
	<img class="swimg" src="http://d04.res.meilishuo.net/pic/_o/7e/d2/5b484c65b748abf3ea94e6581bf4_259_414.cg.png"/>    
</div>
<div class="mask">
	<img src="http://i.meilishuo.net/css/images/wap/activity/baoyang/shareLead.png" />
</div>
<div class="mask-bottom"></div>
<div class="login">
	<img src="http://d02.res.meilishuo.net/pic/_o/53/dd/4351824b967d39e5311bc68b2c58_511_372.cg.png" />
</div>
<div class="rogerT-1">
	<img src="http://d02.res.meilishuo.net/pic/_o/8e/9d/2a7de5c90f831e9445208eeca728_511_712.cf.png" />
</div>
<div class="rogerT-2">
	<img src="http://d05.res.meilishuo.net/pic/_o/ec/a9/114b11b407644e01137645188bce_511_712.cf.png" />
</div>
<div class="rogerT-3">
	<img src="http://d05.res.meilishuo.net/pic/_o/a3/9c/dc635b3759d4a10ff8d39f924c03_511_712.cg.png" class="th-1"/>
	<img src="http://d05.res.meilishuo.net/pic/_o/c4/6c/45d29cfbeb28caf1cb6559f6ec76_511_712.ch.png" class="th-2"/>
	<div class="mask-sub">
		<a class="mast-btn btn-1">
			<img src="http://d01.res.meilishuo.net/pic/_o/3b/b4/9c0da9959c7a17db3951fcaa5d82_200_74.cg.png" />
		</a>
		<a class="mast-btn btn-2">
			<img src="http://d03.res.meilishuo.net/pic/_o/30/22/eb4b8774f046bc8b02bfb92684f5_200_74.cg.png" />
		</a>
	</div>
</div>
<div class="rogerT-4">
	<img src="http://d04.res.meilishuo.net/pic/_o/21/b8/95ad3a3ae30727bc6c5dd76e819d_511_712.cf.png" class="app-1 app-all" />
	<img src="http://d03.res.meilishuo.net/pic/_o/8f/d4/e816137782dfe3a010a01f1cfcbb_511_712.ch.png" class="app-2 app-all" />
	<img src="http://d03.res.meilishuo.net/pic/_o/70/b3/4743d18f68eb14b1fc231f2f35e5_511_712.ch.png" class="app-3 app-all" />
	<img src="http://d01.res.meilishuo.net/pic/_o/90/08/03b341e0d9197f6436e1d2e1f0b2_511_712.cf.png" class="app-4 app-all" />
	<img src="http://d03.res.meilishuo.net/pic/_o/0e/26/109cba689b007b9978d68b0164fa_511_712.cg.png" class="app-5 app-all" />
	<div class="mask-sub">
		<a class="mast-btn btn-1">
			<img src="http://d01.res.meilishuo.net/pic/_o/3b/b4/9c0da9959c7a17db3951fcaa5d82_200_74.cg.png" />
		</a>
		<a class="mast-btn btn-2">
			<img src="http://d03.res.meilishuo.net/pic/_o/30/22/eb4b8774f046bc8b02bfb92684f5_200_74.cg.png" />
		</a>
	</div>
</div>
<div class="rogerT-5">
	<img src="http://d04.res.meilishuo.net/pic/_o/26/59/1c4afeb63dbfb8bd23ad1d52a7e3_511_712.ch.png" class="wx-1 wx-all" />
	<img src="http://d03.res.meilishuo.net/pic/_o/9f/08/bec4e8e3c5a5966b434280e06673_511_712.cf.png" class="wx-2 wx-all" />
	<img src="http://d03.res.meilishuo.net/pic/_o/66/88/e20fe24c4c1b08e142fb853507be_511_712.cg.png" class="wx-3 wx-all" />
	<img src="http://d02.res.meilishuo.net/pic/_o/76/b3/b69b29d7ca3db0dfdf2048e0f2c9_511_712.cf.png" class="wx-4 wx-all" />
	<img src="http://d02.res.meilishuo.net/pic/_o/7d/ad/e04a072b7dd28cfdaa0a8c529ff7_511_712.cg.png" class="wx-5 wx-all" />
	<div class="mask-sub">
		<a class="mast-btn btn-3">
			<img src="http://d01.res.meilishuo.net/pic/_o/73/59/9f436deba0dd15a2fb77ecd64cb1_200_74.ch.png" />
		</a>
		<a class="mast-btn btn-2">
			<img src="http://d03.res.meilishuo.net/pic/_o/30/22/eb4b8774f046bc8b02bfb92684f5_200_74.cg.png" />
		</a>
	</div>
</div>
<div class="rogerT-6">
	<img src="http://d02.res.meilishuo.net/pic/_o/94/02/6d5fd129265ead857e2783542b6c_511_712.cf.png" />
	<div class="mask-msg">
		<div class="mask-msg-inner">
			<label>收件人：</label>
			<input id="name" type="text" />
		</div>
		<div class="mask-msg-inner">
			<label>地&nbsp;&nbsp;址：</label>
			<input id="addr" type="text" class="addr" />
		</div>
		<div class="mask-msg-inner">
			<label>手机号：</label>
			<input id="tel" type="text" />
		</div>
	</div>
	<div class="mask-sub">
		<a class="mask-btn-one">
			<img src="http://d04.res.meilishuo.net/pic/_o/6e/12/9bb9f9e3f6c1a56eedd6dfd2087d_330_74.ch.png" />
		</a>
	</div>
</div>
<div class="rogerT-7" id="good-ret">
	<% var _msg = this.shake_msg.data;%>
	<img src="http://d01.res.meilishuo.net/pic/_o/98/2d/06d979dd6219753af6a952f837aa_511_712.cf.png" />
	<div class="mask-good">
		<div class="mask-good-inner" id="good-del">
			<a href="<%=_msg.url%>">
				<img class="mask-good-img" src="<%=_msg.img%>">
			</a>
			<div class="mask-good-tag" id="good-tag">
				<img src="<%=_msg.shop.avater%>">
				<span><%=_msg.shop.title%></span>
			</div>
		</div>
		<p>
			<a href="<%=_msg.url%>"><%=_msg.title%></a>
		</p>
		<p>
			<a href="<%=_msg.url%>"><span>￥<%=_msg.price%></span></a>
		</p>
	</div>
	<div class="mask-sub">
		<a class="mast-btn btn-4">
			<img src="http://d04.res.meilishuo.net/pic/_o/4e/9f/30ed0a0698f5f651b93fe199797b_200_74.ch.png" />
		</a>
		<a class="mast-btn btn-2">
			<img src="http://d03.res.meilishuo.net/pic/_o/30/22/eb4b8774f046bc8b02bfb92684f5_200_74.cg.png" />
		</a>
	</div>
</div>
<script>
	fml.vars.isLogin= <%= this.isLogin || false; %>
	fml.vars.CONFIG_SHARE = {
		'text' : '【急】50台手机发不出去了，快帮我领一个',
		'src' : 'http://m.meilishuo.com/wx/shake/',
		'title' : '【急】50台手机发不出去了，快帮我领一个'
	}
	fml.vars.isWx = <%= this.isWx%>;
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/wx_new/shake');
_use:", this._JSstack , this._JSmods ); %>

<%# foot.html%>
