<%# head_simple.html%>
<div class="wrap">
		<img src="<%=this.PICTURE_URL%>/images/wap/web/wx/survey/ques3-bg.jpg">
		<section id="index-1" style="display:none;">
			<p>1/5</p>
			<h2>HI , 您的状态是哪种？</h2>
			<label><input type="radio" name="1" value="1A">上班族</label>
			<label><input type="radio" name="1" value="1B">学生</label>
			<label><input type="radio" name="1" value="1C">家庭主妇</label>
			<label><input type="radio" name="1" value="1D">自由职业</label>
			<a href="/wx/survey#index-2" class="next">下一题</a>
		</section>
		<section id="index-2" style="display:none;">
			<p>2/5</p>
			<h2>对自己的时尚度，你够自信吗？</h2>
			<label><input type="radio" name="2" value="2A">很有自信，朋友圈里的时尚icon</label>
			<label><input type="radio" name="2" value="2B">比较自信，穿搭有一手</label>
			<label><input type="radio" name="2" value="2C">没自信，苦恼ing</label>
			<a href="/wx/survey#index-3" class="next">下一题</a>
		</section>
		<section id="index-3" style="display:none;">
			<p>3/5</p>
			<h2>看到明星穿着，很想模仿吗？</h2>
			<img src="<%=this.PICTURE_URL%>/images/wap/web/wx/survey/pic1.jpg">
			<label><input type="radio" name="3" value="3A">很喜欢，马上搜同款</label>
			<label><input type="radio" name="3" value="3B"><span>比较喜欢，购物时偶尔会尝试寻找相同风格</span></label>
			<label><input type="radio" name="3" value="3C">不理会，他们与我无关</label>
			<a href="/wx/survey#index-4" class="next">下一题</a>
		</section>
		<section id="index-4" style="display:none;">
			<p>4/5</p>
			<h2>你追逐时尚吗？</h2>
			<label><input type="radio" name="4" value="4A">必须热衷，随时follow！</label>
			<label><input type="radio" name="4" value="4B">常关注，但很不痴迷</label>
			<label><input type="radio" name="4" value="4C">偶尔关注</label>
			<label><input type="radio" name="4" value="4D">从不关注，看不懂</label>
			<a href="/wx/survey#index-5" class="next">下一题</a>
		</section>
		<section id="index-5" style="display:none;">
			<p>5/5</p>
			<h2>哪种着装风格，你向往？</h2>
			<label><input type="radio" name="5" value="5A"></label>
			<label><input type="radio" name="5" value="5B"></label>
			<label><input type="radio" name="5" value="5C"></label>
			<label><input type="radio" name="5" value="5D"></label>
			<span class="last">查看你的时尚风格</span>
		</section>
</div>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/wx/survey');
_use:", this._JSstack , this._JSmods ); %>
<%# foot.html%>