<%#head.html%>

<%
	pageSettings = this.pageData;
	var is_begin = new Date() - new Date(pageSettings.page.start) > 0;
%>
<div class="main">
	<% pageSettings.m_head.forEach(function(bannar, index){ %>
		<div class="top_bannar"><img src="<%= bannar.img_src %>"></div>
	<% }); %>

	<div class="poster_tab">
		<div id="tab_position"></div>
		<div class="inner">
			<% pageSettings.nav.forEach(function(data, index){ %>
				<a href="/biz/beauty/mz520/?cid=8915&nav_index=<%= index %>#tab_position" class="js_tab <%= index == this.nav_index ? 'p_tab_active' : '' %>" <%= data.w ? 'style="width:' + data.w + '"' : '' %> data-r="<%= data.r %>" data-nid="<%= data.nid %>" data-id="<%= index %>" data-name="<%= data.name %>" data-type="<%= data.type || 0 %>"><span class="line"></span><span class="word"><%= data.name %></span></a>
			<% }); %>
		</div>
	</div>

	<div class="poster">
		<div class="goods_wall goods_units"></div>
		<div class="pullUp" status="loading"></div>
	</div>

	<div class="fixed_wrap">
		<div class="bs_tab">
			<div class="inner">
				<% pageSettings.nav.forEach(function(data, index){ %>
					<a href="/biz/beauty/mz520/?cid=8915&nav_index=<%= index %>#tab_position" class="js_tab <%= index == this.nav_index ? 'p_tab_active' : '' %>" <%= data.w ? 'style="width:' + data.w + '"' : '' %> data-r="<%= data.r %>" data-id="<%= index %>" data-name="<%= data.name %>" data-nid="<%= data.nid %>" data-type="<%= data.type || 0 %>"><span class="line"></span><span class="word"><%= data.name %></span></a>
				<% }); %>
			</div>
		</div>
	</div>
</div>

<script type="text/html" id="posterWall">
	<?
		function getStringLengthArr(s , len){
			var w = 0;
			var time = 0;
			for(length=s.length; time<length; ){
				if(/[^\x00-\xff]/.test(s[time])){
					w+=2;
				}else{
					w+=1;
				}	
				time ++;
				if(w >= (len*2)){
					break;
				}
			}
			return time;
		}
		function getAppLink(tid){
			if(!<%= this.os.mlsApp ? true : false %>){
				return '/share/item/'+tid;
			} else {
				return 'meilishuo://twitter_single.meilishuo?json_params='+encodeURIComponent(JSON.stringify({"twitter_info" : {"twitter_id":tid, "is_doota":1}, "r":'<%= this.r %>'}));
			}
		}
		function mSubstr(str , len , pad){
			if (!str || 0 == str.length) return '';
			if (undefined == pad ) pad = '...';
			len = getStringLengthArr(str , len);
			return str.substr( 0 , len) + ((pad && str.length> len) ? pad : '');
		}
		var colWidth = this.posterSettings.colWidth;
		var scale = this.posterSettings.scale;
		this.data.tInfo && this.data.tInfo.forEach(function(data){
			var pic_height = data.poster_height * scale;
			var link= getAppLink(data.twitter_id);
			var img_height = data.poster_height * (colWidth * 270 / 320) / data.poster_width;
	?>
		<div class="goods_box"  style="width:<?= colWidth ?>px;" poster_height="<?= pic_height+42 ?>">
			<a class="goods_img" href="<?=link?>" style="height: <?= img_height ?>px;">
				<span class="bs_load_img" asrc="<?= data.show_pic ?>"></span>
				<?if(data.horizontal_mark && data.horizontal_mark[0]){
						var _l = 0; var style = '';
						data.horizontal_mark.forEach(function(marks_data, index){
							if(index > 1) return;
					?>
							<div class="Farm" style="<?= style ?>">
								<img class="Standard" src="<?= marks_data.img_url?>" style="width:<?= marks_data.img_width/1.3 ?>px;"/>
							</div>
					<?		style = 'left: ' + (parseInt(marks_data.img_width/1.3) + 6) + 'px;';
					});
				} ?>
			</a>
			<div class="desc_box">
				<p class="desc"><a href="<?= link ?>"><?= mSubstr(data.ginfo.goods_title, 20, '...') ?></a></p>
				<p class="price"><span class="red_f now_price"><?= data.ginfo.goods_price ?></span><? if(data.ginfo.origin_price){ ?><span class="sequence"><del><?= data.ginfo.origin_price ?></del></span><span class="discount_num"><?= data.ginfo.discount ?></span><? } ?></p>
				<a href="<?= link ?>"><div class="cart">立即抢购</div></a>
			</div>
		</div>
	<? }); ?>
</script>

<script type="text/html" id="posterWallPro">
	<?
		function getStringLengthArr(s , len){
			var w = 0;
			var time = 0;
			for(length=s.length; time<length; ){
				if(/[^\x00-\xff]/.test(s[time])){
					w+=2;
				}else{
					w+=1;
				}	
				time ++;
				if(w >= (len*2)){
					break;
				}
			}
			return time;
		}
		function mSubstr(str , len , pad){
			if (!str || 0 == str.length) return '';
			if (undefined == pad ) pad = '...';
			len = getStringLengthArr(str , len);
			return str.substr( 0 , len) + ((pad && str.length> len) ? pad : '');
		}
		function getAppLink(protocol,param , os , r ,wapHref ,extra){
			if (!protocol || !param) return false;
			if (!os) return wapHref || '###noapp';
			if (r) param.r = r;
			var link = 'meilishuo';
			if (os && os.ipad) link = 'meilishuohd';
			link += '://'+ protocol +'.meilishuo?json_params='+ encodeURIComponent(JSON.stringify(param));
			if(extra) link += '&source=' + extra;

			return link;
		}
		var r = this.r;

		this.data && this.data.forEach(function(data){
			var stutas_class = '';
			var goods_url = getAppLink('twitter_single', {'twitter_info' : {'twitter_id' : data.twitter_id, 'is_doota' : 1}}, <%= this.os && this.os.mlsApp %>, r, '/share/item/'+data.twitter_id);
	?>
		<div class="goods_box" style="position: relative;">
			<a class="goods_img" href="<?= goods_url ?>">
				<span class="bs_load_bg_img" asrc="<?= data.image ?>"></span>
				<? if(stutas_class){ ?>
					<span class="goods_status <?= stutas_class ?>"></span>
				<? } else if(data.marks && data.marks[0]){
						var _l = 0; var style = '';
						data.marks.forEach(function(marks_data, index){
							if(index > 1) return;
					?>
							<div class="Farm" style="<?= style ?>">
								<img class="Standard" src="<?= marks_data.img_url?>" style="width:<?= marks_data.img_width/1.3 ?>px;"/>
							</div>
					<?		style = 'left: ' + (parseInt(marks_data.img_width/1.3) + 6) + 'px;';
					});
				} ?>
			</a>
			<div class="desc_box">
				<p class="desc"><a href="<?= goods_url ?>"><?= mSubstr(data.goods_title, 20, '...') ?></a></p>
				<?
					var discount_num = Math.round(data.price/data.original_price*100)/10;
					if(discount_num > 10 || data.original_price > 1000){
						discount_num = '';
					} else {
						if(discount_num.toString().indexOf('.')<0){
							discount_num += '.0';
						}
						discount_num += '折';
					}
				?>
				<p class="price"><span class="red_f now_price">¥<?= data.price ?></span><? if(data.original_price && discount_num != '10.0'){ ?><span class="sequence">￥<del><?= data.original_price ?></del></span><span class="discount_num"><?= discount_num ?></span><? } ?></p>
				<a href="<?= goods_url ?>"><div class="cart">立即抢购</div></a>
			</div>
		</div>
	<? }); ?>
</script>

<%= requireFn('wapShare.html')({
	'share' : this.share
	, 'shareTitle' : '选择分享到'
	, '_JSstack' : this._JSstack
	, '_JSmods' : this._JSmods
}); %>

<script>
	fml.vars.shareCouponKey = 'promotion_150520_mob';
</script>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/biz/mz520');
_use:", this._JSstack , this._JSmods ); %>

<%#foot_simple.html%>