<%# head.html %>

<div id="main">
    <img id="header" src="http://d05.res.meilishuo.net/pic/_o/3a/de/39c5303f776467d4539acfe11338_720_543.ch.png">
    <a id="anchor-1" class="anchor"></a>
    <img id="sec-1" src="http://d04.res.meilishuo.net/pic/_o/82/d8/5e0dfa0a196f1f8a2bee4f28a4f3_659_976.cf.png">
    <a id="anchor-2" class="anchor"></a>
    <img id="sec-2" src="http://d05.res.meilishuo.net/pic/_o/b7/a8/91bee716b375728855a02bbe6dae_659_2649.ch.png">
    <a id="anchor-3" class="anchor"></a>
    <img id="sec-3" src="http://d01.res.meilishuo.net/pic/_o/99/16/c20d68178f4005177d9b980c3a2e_659_1140.ch.png">
    <a id="anchor-4" class="anchor"></a>
    <img id="sec-4-1" class="layer-3" src="http://d05.res.meilishuo.net/pic/_o/c4/7b/361b55789caf747d6fb673310edb_659_1642.cf.png">
    <img id="sec-4-2" class="layer-3" src="http://d02.res.meilishuo.net/pic/_o/ca/19/0c7421344147934b7fd00038ba91_659_1591.cf.png">
    <img id="sec-4-3" class="layer-3" src="http://d01.res.meilishuo.net/pic/_o/cd/7d/245d007302659a43267439c2dd4a_659_1130.ch.png">
    <a id="btn"><img src="http://d01.res.meilishuo.net/pic/_o/31/ca/7e8341eeb7861c4f93f421b79e58_720_126.ch.png"></a>
</div>
<nav id="nav" class="hide">
    <a href="#anchor-1" class="cur">开始卖货</a>
    <a href="#anchor-2">获得流量</a>
    <a href="#anchor-3">提升留存</a>
    <a href="#anchor-4">拍照秘籍</a>
</nav>

<a id="tutorial"><img src="http://d04.res.meilishuo.net/pic/_o/6e/00/fdc340d5dfe719af0581bbc2047a_81_81.ch.png"></a>
<a id="gotop"><img src="http://d05.res.meilishuo.net/pic/_o/02/97/6b9f08ed11e2658500b6b07ff687_81_81.cf.png"></a>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
    fml.use('wap/page/mainapp/intro');
_use:", this._JSstack , this._JSmods ); %>
<%# foot_simple.html%>
