@import "sq.less";

html, body { 
	.bgc(#efefef); 
	.f(.24rem);
	.h(100%);
}

h2 {
	.f(.3rem);
}

.question-menu {
	.mt(.18rem);
	.pb(.1rem);
	.bgwhite;
	&:first-child {
		.mt(0);
	}
}

.title-of-question-list {
	.pl(.3rem);
	.pb(.24rem);
	.pt(.38rem);
	.fn;
	border-bottom: 1px solid #ccc;
}

.question-list {
	.flexbox;
}

.question-list-item {
	.flex(1);
	.pt(.28rem);
	.pb(.24rem);
	.c;
	.icon {
		.block;
		.w(.55rem);
		.h(.55rem);
		margin: 0 auto .2rem auto;
		.cover(contain);
	}
}

article {
	min-height: 100%;
	.bgwhite;
	padding: 0 .2rem .2rem;
	.question {
		.mt(.4rem);
		&:first-child { .mt(0); }
		.question-title {
			.l(.85rem);
		}
	}
	p {
		.pt(.1rem);
		.l(150%);
	}
}

