<header class="header" id="header" status="normal">

	<nav class="nav_ban" id="navBan">
		<h1><a class="logo" href="/welcome"></a></h1>
		<span class="icon-person" id="personBtn"></span>
	</nav>
	<%if(this.userInfo.user_id){%>
	<div class="personArea" id="personArea" isShow="0">
		<div class="userInfo">
			<img src="<%= this.userInfo.avatar_c %>"/><span><%= this.userInfo.nickname%></span>
		</div>
		<ul>
			<li><a href="/order/">我的订单</a></li>
			<li><a href="/address/">我的地址</a></li>
		</ul>
	</div>
	<%}%>

	<div class="nav_top" id="navTop">
		<nav class="nav_box">
		<ul class="goods">
			<li class="active"><a href="/welcome">首页</a></li>
			<li><a href="/guang/selected">流行</a></li>
			<li><a href="/guang/hot">最热</a></li>
			<li><a href="/guang/new">最新</a></li>
		</ul>
		</nav>
	</div>

</header>
