<%#head_simple.html%>
	<script>
	Meilishuo.config.qq_userInfo = {
		isFans : '<%= this.qq_userInfo.isFans %>',
		isValid : '<%= this.qq_userInfo.isValid %>',
		userInfo : {}
    };
	</script>
</head>
<body>
<div class="qqwelfare">
	<div class="top_box"></div>
	<div class="commingsoon_box"></div>
	<div class="record">版权所有&nbsp;©&nbsp;美丽说&nbsp;联系QQ：1789096599</div>
</div>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/app/qqwelfare');
_use:", this._JSstack , this._JSmods); %>
<%#foot_simple.html%>
