@import "md.less";

.receiver {
	 .pr; .bgwhite; .mt(20*@px); .pt(0); .pb(0); .mb(20*@px);
	.receiver_line { .h(6*@px); background: url("@{pic_url}/images/wap/wd/boder_bg.png") repeat-x;}
	.receiver_info { 
		 .clearfix; .f(24*@px); .mod_pd30;
		p { 
			.l(36*@px); .pt(4*@px); .pb(4*@px); .clearfix;
			span{ .left; .ellipsis;.w(50%);}
		}
		.user_icon { .w(26*@px); .h(26*@px); .wd_icon;} 
		.tel_icon { .w(24*@px); .h(26*@px); .mt(4*@px); .wd_icon;}
	}
	
}

.goods {
	.mod_pd30;.clearfix; .mod_info; .pr;.pr(20*@px);
	.goods_next { top: 30/120*100%;right:4.25%;}
	.goods_img { .left; .w(120/560*100%); .block; .border-d9;}
	.goods_info_wrap { .pb(20*@w);.pt(20*@w); .clearfix;}
	.goods_des{.pr(10*@px);}
	.goods_info {
		.ml(150/560*100%);.clearfix;
		p { .l(36*@px);} 
		.goods_title { .f(28*@px); .l(36*@px); .pb(30*@px);}
		.goods_size {
			.left;.f(20*@px);.fc(#959595); .w(100%);
			span {.i_block;.left;
				&:first-child{padding-right: 62/255*100%;}
			}
		}
	}
	.mar_r{.mr(65/560*100%);}
	.leavemsg { .border-d9; padding: 10*@px; .l(30*@px); .fc(#666); .bgwhite; margin: 0; .border-r(10*@px); .w(565/600*100%); .mt(20*@px); .h(100*@px);}
}

.pre_pay_wrap{
	.bgwhite;.mb(20*@px);.pt(20*@px);.border-td9;.border-bd9;
	.plat_form{
		dl{
			.w(90%);.l(60*@px);.ml(30*@px);.pb(10*@px);.mb(20*@px);.border-bd9;background: url("@{pic_url}/images/md/uncho@2x.png") no-repeat center right;background-size: 6%;
			&:last-child{border:none;}
			dt{
				img{.w(50/560*100%);.left; .block; .border-d9;.mt(6*@px);.mb(6*@px);.mr(16*@px);.pl(4*@px);.pr(4*@px);.pt(4*@px);.pb(4*@px);}
			   }
			dd{.ml(50/560*100%);
				p{.l(40*@px);
					&:nth-child(2){.fc(#969696);}
				}
			}
		}
		.checked{background: url("@{pic_url}/images/md/cho@2x.png") no-repeat center right;background-size: 6%;}
	}
}

.order_confirm{
	.border-td9; .c; .mod_pd20; .bgwhite; .pf; bottom: 0; .w(100%);
	.go_char{.wd_btn_red; .h(68*@px); .l(68*@px); .w(320/600*100%);.bgc(#f69);}
}

.pay_ment{
	h6{.l(25px);}
	.bgwhite;.mb(20*@px);.border-td9;.border-bd9;.l(82*@px);.pl(30*@px)
}

.more { .f(28*@px); .pt(40*@w);.pb(40*@w);.block; .c; .l(16*@px);}
.eva_more { .l(26*@px);}
.xiala_icon { .w(28*@px); .h(16*@px); .i_block;}



.popup {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, .85);
}
.popup .title
{
	margin: 20px 10px;
	color: white;
	font-size: 20px;
}
.popup input[type=text] {
	height: 25px;
	margin: 5px 10px;
	border: 1px solid gray;
	padding: 5px;
	font-size: 14px;
	display: block;
	width: 90%;
}
.popup input[type=button] {
	display: inline-block;
	border: 0;
	font-size: 16px;
	color: white;
	padding: 10px 50px;
	margin: 20px 0 0 10px;
	background: #d22626;
}
