@import "../common/block.less";
@import "../common/window.less";
@import "../common/dootablock";

@bStyle: 1px solid #ddd;

.doota;
.complain{
	.doota > .frame;
	&_content{
		&_box{.bgc(#f2f0f0);
			h3{.bgc(#ece8e9); .mb(20px); .tl; .l(44px); .h(44px); .pl(18px); .fn; border:@bStyle;}
		}
	}
	&_list{.bgwhite;
		thead th{ .h(44px); border-bottom:@bStyle; .bgc(#ece8e9); border-top: @bStyle;}
		th.first, td.first{ border-left:@bStyle;}
		th.last , td.last{ border-right:@bStyle;}
		td{ border-bottom:@bStyle;  border-top: @bStyle; .c; .h(44px); }
	}
}
.page;
.pageNav{.page > .pageRed; }
.paging_panel{.pt(10px);.pb(30px);}



.footer();