@import "../block.less";
@import "../footer.less";
@import "help-block.less";

.help-title;
.common-problems;
.contact-robot;
.contact-mail;
.suggest-dialog;

.main{ .w(950px); .auto; .pt(14px); .pb(6px);}
.help-list-box, .contact-customer-box{ .w(888px); .border-1(#e6e6e6); .pl(30px); .pr(30px); .bgwhite;
	.list-head{ .f(20px); .red; font-weight: normal; .yahei; .mb(2px);}
	.list-head-sub{ .fc(#999); border-bottom: 1px dotted #e6e6e6; .pb(8px); .fn;}
}
.help-list-box{
	.help-txt{ .l(24px); .fc(#333); .pt(20px); .pb(50px);}
	.common-problem-tit{ .border-n; .mb(20px); .pb(0);}
	.list-cont{ .clearfix; .mb(50px); .pt(30px);
		a.qa-type{ .left; .w(82px); .c; .mr(90px);
			span{ .block; .f(16px); .fc(#333); .yahei; }
			.qa-icon{ .w(80px); .h(80px); .mb(20px); .border-r(40px); .border-1(#e6e6e6); .cursor; background: url("@{pic_url}/images/doota/help/help-center-0528.png") #f1f1f1 no-repeat;}
			.order-qa-icon{ .bp(10px, -54px);}
			.express-qa-icon{ .bp(-58px, -51px);}
			.coupon-qa-icon{ .bp(-133px, -50px);}
			.security-qa-icon{ .bp(-208px, -56px);}
			.aftersale-qa-icon{ .bp(-280px, -61px);}
		}
		.qa-type.last{ .mr(0);}
		.qa-type.first{ .ml(60px);}
		a.qa-type.active{
			.qa-icon{ .bgc(#ffa3c2); .border-1(#ffa3c2);}
			.order-qa-icon{ .bp(10px, 11px);}
			.express-qa-icon{ .bp(-58px, 14px);}
			.coupon-qa-icon{ .bp(-133px, 14px);}
			.security-qa-icon{ .bp(-208px, 11px);}
			.aftersale-qa-icon{ .bp(-280px, 9px);}
			span{ .red;}
		}
		li{ .left; .w(50%); .l(30px); list-style-type:disc; list-style-position:inside;}
	}
	ul.list-cont{ .pt(16px);}
	.common-problems{ .border-1(#e6e6e6); .mb(30px);
		.problems-th{ .bgc(#f4f5f6); .h(44px); .l(44px); .f(14); .fc(#333); .clearfix;
			a{ .left; .w(20%); .c; border-bottom: 1px solid #f4f5f6; .f(14px);}
			a.active{ border-bottom: 1px solid #f69; .red;}
		}
		.problems-td{
			ul{ .clearfix; .pt(14px); .pb(20px);}
			li{ .left; .w(50%); .l(30px);
				a{ .ml(14px);}
			}
		}
	}
}

.contact-customer-box{ .mt(20px); padding: 0; .w(948px);
	.btn{ .w(86px); .h(28px); .c; .border-r(0); }
	.contact-robot{ padding: 30px;
	}
	.contact-mail-b{ .clearfix; padding: 15px 30px; .bgwhite;}
	.contact-mail-a{ .clearfix; padding: 30px 30px 40px; .bgwhite; border-top: 1px solid #e6e6e6;}
}