.act_poster(){
	figure { .border-r(10*@px); .border-1(#cecccb); 
		.pic_load { border-radius: 10*@px 10*@px 0 0; .block; .hidden; .pr;
			background:#fff url("@{pic_url}/images/group/g_loading1.gif") no-repeat center;background-size:64*@px 64*@px;
			img { border-radius: 10*@px 10*@px 0 0; .pa;top:0px;.w(100%); }
		}
		figcaption { padding: (20*@px); }
	}
}
