.countDown(){
	.countTime{ .w(96%); .auto; .f(24*@px); .clearfix; .mt(10px);
		dt{ .left; .l(51*@px); }
		.time{ .c; .w(224px); .auto; }
		.bigmao{ .f(20px); .fb; .l(20px); margin:0 2px; }
		.line{ .w(30px); border-top:1px solid #9f9a9c; .mt(12px); }
		dd{ .left; margin:0 2px; .w(30*@px); .h(50*@px); .l(50*@px); .f(28*@px); color:#fff; background:url('@{pic_url}/images/wap/activity/summer_match/timebg.png') no-repeat; background-size:100%; }
		.over{ .w(78%); .l(25px); .auto; .c; .i_block;  }
	}
	.move {
		    -webkit-transition:all 400ms ease;  
			    transition:all 400ms ease;  
	}
	.modeX {
		    -webkit-transform:rotateX(360deg);  
			    transform:rotateX(360deg); 
	}
}
