.slide(){
	.qianqian,.footBanner, .slideOpen{
		.none;
		.w(100%);.pf;bottom:0px;left:0px;
		.close{
			.h(32*@px);.w(44*@px);.pa;top:-32*@px;
			background-image: url("@{pic_url}/images/wap/web/openSlide/close.png");
			background-size: 100% 100%;
		}	
	}
	.qianqian,.footBanner{
		.pt(100/640 *100%);
		.slider{
			background-image: url("@{pic_url}/images/wap/web/footBanner1406061.png");
			background-size: 100% 100%;
			.h(100%);.w(100%);
			.pa;top:0px;left:0px;
		}
	}
	.slideOpen{
		.gpu;
		.pt(142*@w);
		z-index:1000;
		background-image: url("@{pic_url}/images/wap/web/openSlide/track.png");
		background-size: 100% 100%;
		.track{.pa;top:(28 + 6)/142 * 100%;left:(40 + 9)*@w;.w((446 - 106)*@w);.pt(76*@w);
			.slider{
				.h(100%);.w(106/(446 - 106)*100%);
				.pa;top:0px;left:0px;
				background-image: url("@{pic_url}/images/wap/web/openSlide/slide.png");
				background-size: 100% 100%;
				&[status="drop"]{
					-webkit-transition:margin 0.1s ease-out 0s;
				}
			}
		}
	}
	.appWelcome {
		.w(100%); .h(100%); .pa; .bgwhite;
		img { .w(100%); .block;}
		.closeApp { .fc(#444); .f(30*@px); .block; .h(60*@px);  .l(60*@px); .c; .bgwhite;}
	}	
}

