<%#head.html%>
<style>
img {width:100%;display:block;}
</style>
<% if(this.ios == 'iPhone'){ %>
<img src="http://i.meilishuo.net/css/images/wap/activity/notice131101_01.jpg">
<a href="http://itunes.apple.com/cn/app/meilishuo/id431023686">
<img src="http://i.meilishuo.net/css/images/wap/activity/notice_btn131011.jpg">
</a>
<% } else if(this.ios == 'iPad') { %>
<img src="http://i.meilishuo.net/css/images/wap/activity/notice131101_01.jpg">
<a href="http://itunes.apple.com/cn/app/id492006720">
<img src="http://i.meilishuo.net/css/images/wap/activity/notice_btn131011.jpg">
</a>
<% } else { %>
<img src="http://i.meilishuo.net/css/images/wap/activity/notice131101_011.jpg">
<img src="http://i.meilishuo.net/css/images/wap/activity/notice131101_02.jpg">
<img src="http://i.meilishuo.net/css/images/wap/activity/notice131101_03.jpg">
<% } %>

<%#foot.html%>
