@import "../block.less";
.mp_coupon{
	.w(950px);.auto;
	.h(200px); 
	background:url("@{pic_url}/images/biz/phonepriv/618_coup.jpg") no-repeat top center;

	.coupon{ .w(430px); .h(142px); .pr; float:left; .ml(18px); .mb(19px);
		a.coupon_btn,.text{ 
			font-size:18px; .l(26px); text-indent:0; .pa; left:249px; top:88px; .w(163px); .h(26px);
			border-radius:5px; background:#fff49a; color:@red; text-align:center;
		}
		//立即领取
		a.coup_{
			.bgc(#fff49a);color:@red;
		}
		//已领完
		a.coup_have{
			.bgc(#fdd6e1);
		}
		//已领完
		a.coup_none{
			.bgc(#c32754);.fc(#fff);
		}
		.text{ font-size:14px; top:150px; left: 0; .w(420px); .fc(#fff); background: none;  }
	}
	.coupon.odd{ .ml(48px);  }
	.full_link{ .w(100%); .h(100%); .block; .bgwhite; opacity:0; filter:alpha(opacity=0); }
}
