@import "../block.less";
@import "../atom.less";
@import "820coupon.less";
@import "../page_guang.less";

.mp_top{.pr;.w(100%);.h(532px);background:#fff url("@{pic_url}/images/biz/phonepriv/820815_banner.jpg") no-repeat top center;}
.clock_main{.w(950px);.h(80px);.auto;
	.clock{ .auto;.h(60px);.w(320px);color:#fff; font-size:30px;.pt(10px);.pl(90px); font-weight:bolder; .l(40px);
		#remainDay{margin:0 2px;.fc(#f00);}
	}
}
.t_main{.w(100%);.pr;.bgc(#fff);
	
	.t_mid{.w(950px);.auto;.pr;
		a.act_{.i_block;.indent;}
	}	
	.bgred{.bgc(#ffe25e);}
	.t_center{.w(950px);.auto;.hidden;
		.mp_special{.h(250px);.mt(20px);background:#fff url("@{pic_url}/images/biz/phonepriv/mp_special.jpg") no-repeat top center;
			a{.w(314px);.h(200px);}
		}
	}
	.mp_firlook{.auto;.w(100%);.h(129px);background:#fff url("@{pic_url}/images/biz/phonepriv/act820_04.jpg") no-repeat top center}

	.rignav{.none;.pf;.w(162px);.h(294px);right: 0px; top: 150px;
		background:url("@{pic_url}/images/biz/phonepriv/820_rnav.png") no-repeat top center;
		.rlink{.indent;.block;.pr;.h(42px);top:75px;.mt(4px);}
		.gotop{.h(35px);.mt(0)}
	}
}

.links{
	.content{.w(985px);.pr;background:url("@{pic_url}/images/biz/phonepriv/820_menu.jpg") no-repeat;
		.auto;.block;.h(142px);
		a.a_li{
			display:block;.left;.c;.f(20px);.fc(#fff);
			text-indent: 0;
			.w(123px);.h(142px);
			&:hover{}
		}
		a.li0{
			&:hover{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat 0 0;}
			&.current{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat 0 0;}
		}
		a.li1{
			&:hover{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -123px 0;}
			&.current{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -123px 0;}
		}
		a.li2{
			&:hover{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -246px 0;}
			&.current{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -246px 0;}
		}
		a.li3{
			&:hover{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -369px 0;}
			&.current{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -369px 0;}
		}
		a.li4{
			&:hover{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -492px 0;}
			&.current{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -492px 0;}
		}
		a.li5{
			&:hover{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -615px 0;}
			&.current{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -615px 0;}
		}
		a.li6{
			&:hover{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -738px 0;}
			&.current{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -738px 0;}
		}
		a.li7{
			&:hover{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -861px 0;}
			&.current{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -861px 0;}
		}
		// a.current{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat}
		a.current0{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat 0 0}
		a.current1{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -123px 0}
		a.current2{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -246px 0}
		a.current3{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -369px 0}
		a.current4{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -492px 0}
		a.current5{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -615px 0}
		a.current6{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -738px 0}
		a.current7{background:url("@{pic_url}/images/biz/phonepriv/820_menu_hover.jpg") no-repeat -861px 0}

		a.btn_tuan{
			text-indent: 0;
			.w(132px);
			.c;.pa;right: 0;
			.fc(#fff);.f(20px);.mt(5px);
			.pt(6px);.pb(5px);.i_block;.border-r(30px);
		}
		a.end{border-right:none}

	}
}
