@import "../block.less";
@import "../atom.less";
@import "916coupon.less";
@import "../page_guang.less";

.mp_top{.pr;.w(100%);.h(430px);background:#fff url("@{pic_url}/images/biz/salePrice/banner916.jpg") no-repeat top center;}
.clock_main{.pr;top:370px;.w(980px);.h(80px);.auto;
	.clock{ .auto;.h(60px);.w(500px);color:#000; font-size:22px; font-weight:bold;.l(52px);
		b{font-weight: normal;
			background:url("@{pic_url}/images/biz/salePrice/clockBg.png") no-repeat right 0;text-indent:10px;*text-indent:5px;
			.i_block; .w(41px);margin:0 3px;padding-right:5px;*padding-right:0;.h(53px);.f(28px);color:white; margin:0 3px;
		}
	}
}
.t_main{.w(100%);.pr;.bgc(#fff);
	
	.t_mid{.w(950px);.auto;.pr;
		a.act_{.i_block;.indent;}
	}	
	.bgred{.bgc(#cb3432);}
	.t_center{.w(950px);.auto;.hidden;
		.mp_special{.h(250px);.mt(20px);
			a{.w(314px);.h(200px);}
		}
	}
	.mp_firlook{.auto;.w(100%);.h(129px);}

	.rignav{.none;.pf;.w(139px);.h(372px);right: 0px; top: 150px;background:url("@{pic_url}/images/biz/salePrice/916nav.png") no-repeat top center;
		.rlink{.indent;.block;.pr;.h(42px);top:150px;.mt(4px);}
		.gotop{.h(40px);.mt(0)}
	}
}
.bannerMob{.pr;.w(100%);.h(411px);background:#fff url("@{pic_url}/images/biz/salePrice/pc916_03.jpg") no-repeat top center;}
.links{
	.content{.w(985px);.pr;
		.auto;.h(60px);
		a.a_li{
			.i_block;.c;.f(22px);.fc(#fff);
			text-indent: 0;
			.pt(17px);.pb(17px);.pl(20px);.pr(20px);
			&:hover{.bgc(#b62f2d);}
		}
		a.current{.bgc(#b62f2d);}
		a.btn_tuan{
			text-indent: 0;
			.w(132px);
			.c;.pa;right: 0;
			.fc(#fff);.f(24px);.mt(12px);
			.pt(4px);.pb(3px);.i_block;.border-r(30px);
			background: #d55d5b url("@{pic_url}/images/biz/phonepriv/618_jt.png") no-repeat 110px 14px;
		}


	}
}
