@import "../block.less";

.main{background:url("@{pic_url}/images/biz/airAsia/bg_repeat_1.jpg") repeat;}
.vote_{
	&1{.h(177px);background: url("@{pic_url}/images/biz/airAsia/vote_1.jpg") no-repeat center;}
	&2{.h(324px);background: url("@{pic_url}/images/biz/airAsia/vote_2.jpg") no-repeat center;}
	&3{.h(119px);background: url("@{pic_url}/images/biz/airAsia/vote_3.jpg") no-repeat center;}
}
.vote_con{
	.w(640px);.auto;.hidden;.pr;
	img{.left;.mr(50px);}
	p{font-size: 14px;color: #000;.mt(55px);.l(28px);.w(333px);.left;}
	.vote_btn{.pa;bottom: 26px;right: 230px;.l(46px);.w(138px);.indent;}
	.to_welcome{.pa;bottom: 26px;right: 0;.l(46px);.w(204px);.indent;}
	.has_vote{.pa;bottom: 26px;right: 230px;.l(46px);.w(138px);.border-r(10px);.bgc(#9e9e9e);.f(25px);.fc(#fcf9f3);.c;cursor: default;}
}