@import "../atom.less";
.self_bg(@url){
	background:url("@{url}") no-repeat center;
}
body{.bgc(#f1f2f5);}
.head_top{.h(351px);.w(100%);background:url("@{pic_url}/images/huodong/aupres_415/head_bg.jpg") no-repeat center;}
.main{.w(1202px);.auto;}
.aupres{
	&1{.h(446px); background:url("@{pic_url}/images/huodong/aupres_415/pic0.jpg") no-repeat center;}
	&2{.w(950px); .h(339px); .auto; background:url("@{pic_url}/images/huodong/aupres_415/bgbox22.png") no-repeat center;
		a{ .i_block; .w(309px); .h(93px); .mr(5px); .mt(245px); }
	}
	&3{.h(371px); background:url("@{pic_url}/images/huodong/aupres_415/bg_3.jpg") no-repeat center;}
	&4{.h(546px); background:url("@{pic_url}/images/huodong/aupres_415/bg_4.jpg") no-repeat center;}
	&5{.h(559px); background:url("@{pic_url}/images/huodong/aupres_415/bg_5.jpg") no-repeat center;}
	&6{.h(212px); background:url("@{pic_url}/images/huodong/aupres_415/bg_6.jpg") no-repeat center;}
	&7{.h(319px); background:url("@{pic_url}/images/huodong/aupres_415/bg_7.jpg") no-repeat center;}
	&8{.h(444px); background:url("@{pic_url}/images/huodong/aupres_415/bg_8.jpg") no-repeat center;}
	&9{.h(415px); background:url("@{pic_url}/images/huodong/aupres_415/bg_9.jpg") no-repeat center;}
	&10{.h(852px); background:url("@{pic_url}/images/huodong/aupres_415/bg_10.jpg") no-repeat center;}
}

.sign{.w(220px);.h(89px);margin: 62px 0 0 828px;background:url("@{pic_url}/images/huodong/aupres_415/sign.png") no-repeat center;.cursor;}
.signed{.w(220px);.h(89px);margin: 62px 0 0 828px;background:url("@{pic_url}/images/huodong/aupres_415/signed_1.png") no-repeat center;}
.over{ .w(220px);.h(89px);margin: 62px 0 0 828px;background:url("@{pic_url}/images/huodong/aupres_415/over.png") no-repeat center; }
.home_link{
	background:url("@{pic_url}/images/huodong/aupres_415/home_link.png") no-repeat center;
	.block;.h(62px);.w(592px);.auto;.indent;.mt(36px);
}

.aupres1, .aupres3, .aupres5, .aupres8, .aupres6{.hidden;}
.wf_wrap{.ml(236px);.mt(200px);}
.aupres1 a{.block;.w(200px);.h(200px);.ml(500px);.mt(100px);}

.status, .choose, .end_0, .end_1{.w(100%);.h(100%);.hidden;}
.choose, .end_0, .end_1{.none;}
.start{.self_bg("@{pic_url}/images/huodong/aupres_415/1_f.png");}
.next_1{.self_bg("@{pic_url}/images/huodong/aupres_415/2.png");}
.next_2{.self_bg("@{pic_url}/images/huodong/aupres_415/3_f3.png");}
.end_0{.self_bg("@{pic_url}/images/huodong/aupres_415/4_f.png");}
.end_1{.self_bg("@{pic_url}/images/huodong/aupres_415/5.png");}

.choose{
	.none;
	.ans{.w(800px);.ml(232px);.mt(214px);.hidden;}
	a{.left;.indent;.w(156px);.h(140px);margin: 0 16px;}
	a:hover{.self_bg("@{pic_url}/images/huodong/aupres_415/hover.png");}
	.choose_btn{.w(266px);.h(67px);cursor: pointer;.mt(67px);.ml(480px);}
}
.start a{.w(266px);.h(67px);cursor: pointer;.mt(416px);.ml(656px);.block;}
.next_1 a{.w(357px);.h(67px);cursor: pointer;.mt(420px);.ml(191px);.block;}
.end_0 a{.w(266px);.h(67px);cursor: pointer;.mt(398px);.ml(762px);.block;}
.end_1 a{.w(266px);.h(67px);cursor: pointer;.mt(346px);.ml(464px);.block;}

.aupres6 a{.block;.w(204px);.h(200px);.ml(850px);.mt(30px);}
.aupres8 a{.block;.w(137px);.h(44px);.mt(342px);.ml(286px);}
.aupres10{.pr;}
.link_{
	&1, &2, &3, &4{.pa;}
	&1{.w(300px);.h(150px);top: 200px;left: 400px;}
	&2{.w(300px);.h(140px);top: 350px;left: 667px;}
	&3{.w(300px);.h(300px);top: 340px;left: 187px;}
	&4{.w(300px);.h(160px);top: 514px;left: 600px;}
}

