@import "../block.less";
@import "../doota/shareact_bs_goods.less";

.main{.bgc(#fff);.mb(-14px);}

.head_bg{background-position: center;background-repeat: no-repeat;}
.top_bannar, .seckill{.w(946px);.auto;}

.sec_nav_wrap{.h(60px);.mt(5px);}
.tab_wrap{.bgc(#f23172);.h(60px);.w(100%);}
.bs_tab_wrap{
	.w(960px);.hidden;.auto;background: url('http://d05.res.meilishuo.net/img/_o/6f/b5/b9f4e3f96223638317e214558fb1_1_60.ch.png') no-repeat left;.pl(1px);
	div{
		.w(160px);.left;
		.c;.fc(#fff);.f(23px);.l(60px);
		.cursor;-webkit-transition: background-color .6s ease-out;background: url('http://d05.res.meilishuo.net/img/_o/6f/b5/b9f4e3f96223638317e214558fb1_1_60.ch.png') no-repeat right;
		&:hover{.bgc(#ff649a);}
	}
	.p_tab_active{.bgc(#ff649a);}
}
.three_tab div{.w(320px);}


.foot_bannar{
	.w(960px);.auto;.hidden;.pb(20px);
	a{.left;border: 1px solid #b7b7b7;.w(958px);.hidden;}
	a:hover{border-color: @red;}
}

.poster{
	.hidden;.w(970px);.auto;.pb(20px);min-height: 350px;
	.bs_tab{.ml(22px);.w(960px);}
	.fx_hidden{.none;.h(52px);.w(100%);}
	.fx_tab{
		.pf;top: 30px;left: 0;.bgc(rgba(0,0,0,.2));z-index: 100;.w(100%);
		.bs_tab{.pr;left: 50%;.ml(-463px);}
	}
	.spinner{.mt(50px);}
}
.goods_unit();
