@import "../block.less";
.dis1{.w(100%);.h(574px);background:url('@{pic_url}/images/huodong/shopJoin/des6_01.jpg') no-repeat top center;}
.dis2{.w(100%);.h(384px);background:url('@{pic_url}/images/huodong/shopJoin/des6_02.jpg') no-repeat top center;}
.dis3{.w(100%);.h(450px);background:url('@{pic_url}/images/huodong/shopJoin/des6_03.jpg') no-repeat top center;}
.dis4{.w(100%);.h(768px);background:url('@{pic_url}/images/huodong/shopJoin/des6_044.jpg') no-repeat top center;
	.apply_btn{.w(820px);.h(100%);.cursor;.auto}
}
.dis5{.w(100%);.h(627px);background:url('@{pic_url}/images/huodong/shopJoin/des6_05.jpg') no-repeat top center;}
.dis6{.w(100%);.h(315px);background:url('@{pic_url}/images/huodong/shopJoin/des6_06.png') no-repeat top center;
	.apply_btn{.w(820px);.h(100%);.cursor;.auto}
}
.dis7{.w(100%);.h(400px);background:url('@{pic_url}/images/huodong/shopJoin/des6_07.jpg') no-repeat top center;}
.dis8{.w(100%);.h(504px);background:url('@{pic_url}/images/huodong/shopJoin/des66_01.jpg') no-repeat top center;}
.dis9{.w(100%);.h(597px);background:url('@{pic_url}/images/huodong/shopJoin/des66_022.jpg') no-repeat top center;}



.overblack{.bgc(#000);}
.layer_main{.pr;.h(600px);background:url('@{pic_url}/images/huodong/shopJoin/d_winbg.jpg') no-repeat top center;
	.close_apply{.pa;right:40px;top:40px;.w(40px);.h(30px);.cursor}
	.layer_form{.pa;top:190px;left:3%;.w(94%);.h(400px);
		.form_li{.pr;.mt(10px);.pb(3px);.w(100%);.h(28px);.hidden;.f(16px);
			.add_text{.i_block;.ml(34%);.w(150px);.f(16px);.h(22px);.pt(3px);border:1px solid #d5d5d5;color:#acacac;.bgc(#fff);.pl(5px);}
			.tip{.i_block;.ml(2%);.w(200px);color:#ed3349;.hidden;.f(14px)}
			.add_shop{.add_text;.w(250px);}
			.tip_shop{.i_block;.ml(1%);.w(100px);color:#ed3349;.hidden;.f(14px)}
		}
		.submit_btn{.pa;top:230px;left:34%;.cursor;background:url('@{pic_url}/images/huodong/shopJoin/d_btn.png') no-repeat;.w(156px);.h(52px);}
		.tip_text{.pa;left:65px;top:329px;.f(14px);color:#acacac;.c}
	}
}
