@import "../block.less";
.main{
	.w(950px);
	.ml(auto);
	.mr(auto);
	.h(1111px);
	.mt(30px);
	.wrap{
		.w(100%);
		.h(405px);
		overflow: hidden;
		.erwei{
			.w(203px);
			.h(202px);
			.mt(98px);
			.ml(731px);
		}
		p{
			.f(18px);
			.ml(195px);
			.mt(57px);
			color: white;
			font-family: 'yahei';
		}
		.timeStamp{
			color: #999999;
		}
		.timeStamp span{
			color: #f86194;
		}
	}
	.wrap2{
		.w(100%);
		.h(368px);
		overflow: hidden;
		background: url("http://img.meilishuo.net/css/images/huodong/dot99/back-2.png") center top;
	}
	.wrap3{
		.w(100%);
		.h(215px);
		overflow: hidden;
		background: url("http://img.meilishuo.net/css/images/huodong/dot99/back-3.png") center top;
		a{
			.block;
			.left;
			.mr(14px);
		}
		.down{
			.mt(140px);
			.ml(460px);
		}
	}
	.wrap4{
		.w(100%);
		.h(121px);
		.mt(10px);
		overflow: hidden;
		background: url("http://img.meilishuo.net/css/images/huodong/dot99/back-4.png") center top;
	}
	.wrap-base{
		background: url("http://img.meilishuo.net/css/images/huodong/dot99/back-6.png") center top;
	}
	.wrap-change{
		background: url("http://img.meilishuo.net/css/images/huodong/dot99/back-7.png") center top;
	}
}
@import "../footer.less";