.exo_bottom(){
.box3{ .w(950px); .h(54px); .auto; background:url('@{pic_url}/images/huodong/exo/pic2.jpg') no-repeat;  }
.box4{ .w(960px); .auto; .clearfix;
        li{ .left;  .w(240px); .h(297px); }
}
.box5{ .w(950px); .h(327px); .auto; background:url('@{pic_url}/images/huodong/exo/pic3.jpg') no-repeat; .pr;
        .ido{ .pa; .w(303px); .h(60px); left:324px; top:10px; }
        .qzone{ .pa; .w(297px); .h(80px); left:0; bottom:50px;}
        .weibo{ .pa; .w(352px); .h(80px); left:298px; bottom:50px; }
        .erweima{ .pa; .w(297px); .h(80px); right:0; bottom:50px; }
        .wei2{ .pa; .w(224px); .h(280px); right:5px; bottom:114px; background:url('@{pic_url}/images/huodong/exo/2wei1.png') no-repeat; .none; }
}
}
