@import "../block.less";
@import "./exo_bottom.less";
.exo_bottom;
.firstPage{ .w(100%); .h(421px); .pr;}
/*fuide start*/
.item1{ .w(960px); .auto;
	.tit{ .clearfix; .mt(14px);
		h2{ .f(20px); .red; .left; .pl(6px); }
		.more{ .right; .f(14px); .pt(8px); .pr(6px); }
	}
	.shop{ .clearfix; .shopItem();
		.groupBox{
			.groupCon{ .mt(14px); }
		}
	}
	.before{ .clearfix;
		li{ .left;
			a{ .block; margin:14px 6px 0 6px; .w(228px); .h(134px); .hidden;
				img{ .w(228px); .h(134px); }
			}
		}
	}
	.img_tit{ padding:0 6px; margin:14px 0; .block; }
}
.goods_box{ .w(960px); .auto; .clearfix;
	.firstPic{ .left; .w(226px); .h(425px); .border-1(@color:#e6e6e6); margin:0 6px 12px 6px;
		img{ .w(226px); .h(423px); }
	}
	.goodsCon{ .left;.w(226px); .h(425px); .border-1(@color:#e6e6e6); margin:0 6px 12px 6px; background:#fff; .hidden; .pr;
		.mark { .w(220px); .pa; left:5px; top:-1px;
			.m_ico { .left; .mr(1px); }
		}
		.pic{ .block; .w(226px); .h(328px); .hidden; border-bottom:1px solid #e6e6e6;
			img{ .w(226px); .h(328px); }
		}
		.goods_tit{ padding:4px 10px; .h(40px); .l(20px); .hidden; .block; }
		.goods_price{ padding:0 10px; .h(14px); .hidden;
			span{ .f(14px); }
			del{ color:#999999; .pl(6px); }
		}
		.likebuy{ .clearfix; padding:10px; .h(15px); .hidden; 
			img{ .mt(-1px); }
		}
	}
}
/*fuide end*/
.top{ z-index:5;top:40px; .w(240px); .h(340px); .pa; left:50%; .ml(233px); box-shadow:rgba(0,0,0,.25) 0 0 3px; 
	.inner{ .w(240px); .h(420px); .auto; .pr; .c; 
		.date{color:#ff8800; .pa; top:88px; .c; .f(26px); .w(100%);}
		#follow_num{ .c; .f(26px); .pa; left:29px;top:163px; 
			label{display:none}
			span{ .i_block;.w(24px);.h(35px);background:url('@{pic_url}/images/huodong/exo/num_bg1.png'); .mr(2px); color:white;.l(35px)}	
		}
	}
}
.title1{.mt(20px);.w(950px);.h(32px);background:url('@{pic_url}/images/huodong/exo/title1.png') top center no-repeat;.auto};
.title2{.mt(20px);.w(950px);.h(50px);background:url('@{pic_url}/images/huodong/exo/title4.png') top center no-repeat;.auto};
.news{.w(950px);.h(240px);.pr;background:url('@{pic_url}/images/huodong/exo/news_bar.png') 0 163px no-repeat;overflow:hidden;.auto;
	a{.pa;.w(30px);.h(30px);.block;top:163px;}
	#left{left:1px;}
	#right{right:1px;}
	.c{.w(887px);.ml(23px);overflow:hidden;.pr;.h(185px);left:0;top:30px;
		.mask{.w(20000px); .pa;}
		.tag{float:left;.w(280px);.ml(15px);.pr;.h(185px);background:url('@{pic_url}/images/huodong/exo/exo_tag.png') top center no-repeat;
			a{.bgwhite;opacity:0;filter:alpha(opacity=0);.block;.w(100%);.h(126px);.pa;left:0;top:0;z-index:1;}
			img{.w(100px);.h(100px);.pa;top:11px;left:11px;}
			.content{color:#3b3b3b;.w(150px);.h(100px);.pa;top:11px;left:121px}
			.date{.c;.pa;bottom:0;.w(100%)}
			&:hover{background:url('@{pic_url}/images/huodong/exo/exo_tag_hover.png') top center no-repeat;
				.date{color:@red;}
			}
		}
	}
	.tag1{margin-left:335px}
	.tag2{margin-left:628px}
}
.fight{.i_block;.pa;top:260px;left:20px;.w(200px);.h(58px);.mt(4px);.cursor; }
.fight.available{background:none;}
.magazine{ overflow:hidden; .w(960px); .auto; }
.groupBox { .left; margin:0 6px; .w(228px);
	.groupCon { .group > .9GG; .hidden; }
}
.top_bnr { .bgc(#f7f7f7); .h(421px); .hidden; .w(100%); .auto; .pa; top:0; left:0; z-index:4;
	.banner { .h(421px); .w(100%);
		li { .left; .w(100%);
			.pic { .block; .h(421px); .w(100%); }
		}
	}
	.round { .w(280px); .pa; bottom: 30px; left:50%; .ml(-475px); z-index:2;
		.adType{ .tl;
			a { .bgwhite; .border-r(10px); .cursor; .i_block; .mr(22px); .h(10px); .w(10px); }
			a.current { .bgnone; border: 3px solid #fff; .mb(-4px); .h(12px); .w(12px); }
		}
	}
}
#popup{
	display:none;
	.pa; left:50%; .ml(-267px); .w(534px);.h(709px); top:30px;z-index:501;
	a{display:block;.pa;}
	#close_popup{.w(56px);.h(56px);top:37px;right:3px;}
	#share_sina,#share_qqzone,#share_qqwb{.w(74px);.h(103px);top:606px;left:104px;}
	#share_qqzone{left:231px;}
	#share_qqwb{left:357px}
	#coupon_link{ width: 360px; height: 210px; right: 30px;  top: 290px; }
}
.masker,#masker{
	display:none;.w(100%); z-index:10; .h(100%); .bgwhite; opacity:.9; filter:alpha(opacity=90); position:fixed; top:0; left:0;
}
#masker{
	background:black;
	opacity:.7;
	filter:alpha(opacity=70);
	z-index:500;
}

.join{.auto;.h(82px);.pr;background:url('@{pic_url}/images/huodong/exo/join_icon.png') left center no-repeat; font-size:16px;.l(82px);.tr; .w(950px);
	span{ color:@red; font-weight:bolder; font-size:24px; }
}
.footer{.mt(0);}
.exo_user{ .auto; .w(948px); .mb(20px); border-bottom:1px solid #e6e6e6; overflow:hidden;padding:20px 0;
	.head_img,.user_info{ float:left; }
	.user_info{
		p{ font-size:14px; .l(30px);
			span{ .mr(5px); color:@red; font-size:30px; }
		}
		.name{
			font-size:16px;
		}
	}
	.head_img{ .w(59px); .h(59px); border:1px solid #e6e6e6; .mr(20px);
		img{ .w(50px); .h(50px); margin:4px; }
	}
	.buy_more{ .pt(40px); float:right;
		a{ color:@red; font-size:14px; }
	}
}
#video{
	position:fixed;
	top:80px;
	display:none;
	z-index:501;
	.bgwhite;
	a#close{
		.w(42px);.h(42px);
		.block;
		.pa;
		background:url('@{pic_url}/images/huodong/exo/close.png') left center no-repeat;
		right:-21px;
		top:-21px;
	}
}
