@import "../block.less";
@import "../window.less";

.garnier { width:100%; .pb(20px); background:#dbefdf url('@{pic_url}/images/huodong/garnier/ga_topbg3.jpg') repeat-x top center; }
.dlinks { .pa; top:340px; left:429px; .w(150px); .h(30px); }
.ga_topbg { background:url('@{pic_url}/images/huodong/garnier/ga_top1.jpg') no-repeat; .w(948px); .pt(424px); .auto; .pr; }
.ga_intro {background:url('@{pic_url}/images/huodong/garnier/ga_intro2.jpg') no-repeat;.h(242px);}
.ga_detail {.pa;top:308px;left:440px;.w(308px);.h(120px);}
.gapop { .p20; .clearfix; }
.ga_jifen {
	padding:40px; background-color:#f8fefa;.c;.l(18px);
	.jifen_title{.f(18px);.fb;.l(82px);color:#89b264;}
	.ga_continue{.i_block;.w(148px); .h(44px);.mt(62px);background:url('@{pic_url}/images/huodong/garnier/ga_link1.png') no-repeat 0px -114px;.cursor;}
}
.goods_gaimg { .left; .w(222px); .h(222px);.border-1c;
	img { .w(222px); .h(222px); }
}
.ga_title {.f(14px); .fb; .l(22px); .mb(20px);}
.ga_look { .left; .pl(20px); .w(344px);
	dt { .f(14px); .fb; .l(28px); }
}
.ga_select {.h(126px);.l(26px);
	img {border:1px solid #b9dc81;}
	p{.inline;.left;.ml(10px);.mr(10px);.w(90px);.c;
		.ga_link { .block;.w(90px); .h(90px);background:#59990a url('@{pic_url}/images/huodong/garnier/ga_link1.png') no-repeat;}	
	}
}
.lg{ .l(20px); .f(14px); }
.gaurl { .border-1c; .w(254px); .h(18px); .l(18px); .left;}
.gasure { background:#59990a url('@{pic_url}/images/huodong/garnier/ga_link1.png') no-repeat 0px -90px;.left;.w(56px); .h(22px);.l(22px); .white; .fb; .f(14px); .cursor;.ml(6px);}
.gasub { border:0; background-color:#ccc; .w(94px); .h(30px); .border-r(4px); .fb; .f(14px); }
.gasub1 { border:0; background-color:#59990a; .w(94px); .h(30px); .border-r(4px); .white; .fb; .f(14px); .cursor; }
.sub { .tr; .mt(20px); }
.gamsg  { color:#d20009; }
.preview { padding:4px 0;.h(22px); }
#linkMessageTips{
	span { color:#d20009; }
}
.ga { .pa; top:240px; left:770px; .w(179px); .h(183px); .block; background:url('@{pic_url}/images/huodong/dangdang/trans.png') no-repeat; .cursor; }
.share_group {
	 .common_shadowBox; .pf; .l(16px); .h(130px); padding: 8px 12px 8px 8px; _position: absolute; right: -4px; top: 150px; width:22px; z-index:20;
	p { .gray; .ml(6px); width: 14px; }
	ul li { .border-1; .common_button; .left; .mt(5px); .hidden; .h(16px); padding: 2px; width: 16px;
	span { .left; .h(16px); padding: 0; width: 16px; }
	}
}
.garnier_wall{.w(960px);.auto;}
.fluid;
.solidbtn;
.solidbtn > .small_red;
.solidbtn > .small_pink;
.groupBox{ .common_box; }
.groupCon{ .group > .9GG; }
.page;
.pageNav{.page > .pageRed; }


@import "../footer.less";
