@import "../block.less";
.greenleaf-bg{.w(100%);background-color:#fee8ed;
	.top1{.h(606px);background:url("@{pic_url}/images/activity/greenleaf/top1.png") no-repeat center center;
	}
	.video-area{.w(1074px);.h(606px);.auto;.pr;
		.video{
			.h(270px);.w(380px);.pa;right:212px;bottom:53px;
		}
	}
	.top2{.h(144px);background:url("@{pic_url}/images/activity/greenleaf/top2.png") no-repeat center center;}
	.cont{.w(950px);.auto;.clearfix;.pr(20px);.pt(15px);
		a{
			.i_block;.right;
			&.coupon1{.w(178px);.h(115px);
			}
			&.coupon2{.w(209px);.h(115px);
			}
		}
	}
	.main-wrap{.w(1074px);.auto;
		a{.i_block;}
		.main1{.pr;.h(491px);background:url("@{pic_url}/images/activity/greenleaf/main1.png") no-repeat center center;
			.product-area{
				.w(440px);.h(315px);.pa;right:79px;bottom: 56px;
			}
		}
		.main2{.pr;.h(173px);background:url("@{pic_url}/images/activity/greenleaf/main2.jpg") no-repeat center center;}
		.main3{.pr;.h(403px);background:url("@{pic_url}/images/activity/greenleaf/main3.png") no-repeat center center;
			.product-area{
				.w(415px);.h(290px);.pa;right:64px;bottom: 50px;
			}
		}
		.main4{.pr;.h(504px);background:url("@{pic_url}/images/activity/greenleaf/main4.jpg") no-repeat center center;
			.product-area1{
				.w(350px);.h(120px);.pa;left:140px;top: 374px;
			}
			.product-area2{
				.w(350px);.h(120px);.pa;right:112px;bottom: 10px;
			}
		}
		.main5{.pr;.h(207px);background:url("@{pic_url}/images/activity/greenleaf/main5.jpg") no-repeat center center;}
		.main6{.pr;.h(623px);background:url("@{pic_url}/images/activity/greenleaf/main6.jpg") no-repeat center center;
			.product-area1{
				.w(350px);.h(120px);.pa;left:140px;top: 472px;
			}
			.product-area2{
				.w(350px);.h(120px);.pa;right:112px;bottom: 32px;
			}
		}
		.main7{.pr;.h(199px);background:url("@{pic_url}/images/activity/greenleaf/main7.jpg") no-repeat center center;}
		.main8{.pr;.h(569px);background:url("@{pic_url}/images/activity/greenleaf/main8.jpg") no-repeat center center;
			.product-area{
				.w(370px);.h(140px);.pa;left:545px;top: 100px;
			}
		}
		.main9{.pr;.h(400px);background:url("@{pic_url}/images/activity/greenleaf/main9.jpg") no-repeat center center;
			.product-area{
				.w(410px);.h(275px);.pa;right:50px;bottom: 80px;
			}
		}
	}
	.line{.h(47px);background:url("@{pic_url}/images/activity/greenleaf/line.png") no-repeat center center;}
	.main10{.h(473px);.w(1074px);.pr;.auto;background:url("@{pic_url}/images/activity/greenleaf/main10.jpg") no-repeat center center;
			a{.i_block;}
			.product-area1{
				.w(350px);.h(120px);.pa;left:140px;top: 337px;
			}
			.product-area2{
				.w(350px);.h(120px);.pa;right:112px;bottom: 15px;
			}
	}

	.leaf-bt{.h(201px);background:url("@{pic_url}/images/activity/greenleaf/bottom.jpg") no-repeat center center;}

	.top3{.h(327px);background:url("@{pic_url}/images/activity/greenleaf/top3.png") no-repeat center center;}
}


#fixWidget{display:none;}