@import "../block.less";
@import "../block/common_sale.less";
.promiseBox;
body{
	.bgc(white);
}
.poster;
.top{
	.h(90px);
}
.main,.bottom{
	.w(948px); .auto;
}
.banner{
	.w(100%);
	background: no-repeat top center #fec836 url('@{pic_url}/images/huodong/newbuy/banner-ch.jpg');
	.h(380px);
}
.tab{
	.mb(30px);
	.w(100%);
	.bgc(#ff9c01);
	.h(60px);
	border-top: #9e2bff solid 3px;
	.tab-inner{
		.auto;
		.pl(30px);
		.h(60px);
		.w(948px);
		img{
			.mt(12px);
			.auto;
			.block;
		}
		.img-1{
			.block;
		}
		.img-2{
			.none;
			.mt(20px);
		}
		a{
			.w(153px);
			.h(60px);
			.block;
			.left;
			border-right: solid 1px #ffce80;
			.cursor;
		}
		a.last{
			border-right: none;
		}
		a.choice{
			background: url('@{pic_url}/images/huodong/newbuy/tab-new.png');
			.h(80px);
			.w(169px);
			.pr;
			top: -10px;
			border-right: none;
			.ml(-9px);
			.img-2{
				.block;
			}
			.img-1{
				.none;
			}
		}
	}
}
.perbuyer{ .w(950px); .auto;
	.buyerCon{.w(906px); .h(285px); .auto; background: no-repeat; .pr;
		.audio_box{
			.fc(white);.l(36px);.f(26px);.block; .h(34px); .w(130px); top:32px; left: 480px; .cursor; .pa;
			.audio_info{
				.pr;
				.audio_duration{
					.pa;
					right: 70px;
					.time{
						.f(24px);
					}
				}
			}
		}
		.buyertxt{.pl(207px); .pt(132px); .l(26px); .w(406px);}
		a.choice{
			background: url('@{pic_url}/images/huodong/newbuy/tab.png');
			.h(87px);
			.w(167px);
			.pr;
			top: -10px;
			border-right: none;
			margin-left: -1px;
			.img-2{
				.block;
			}
			.img-1{
				.none;
			}
		}
	}
}

.list{ .w(928px); .auto; .clearfix; .hidden; .pb(10px);
	.todayPoster{ .inline; .mr(11px); .ml(11px); .break-word; .left; .w(210px);
		.tPosterCon{ .w(208px); .mt(20px); .common_shadowBox;
			.tpPic{ .pr; .w(208px); .c;
				.img_load{ .block; .w(100%);
					.goods_pic{
						.w(208px);
						.h(290px);
					}
				}
				.mergeLay{ .h(28px); .pa; .hidden; left: 6px; top: 6px; .w(200px); .none;
					.grymag, .grypeach{background:url("@{pic_url}/images/activity/addMbg.png") repeat-x; .border-r; .c; .cursor; .fb; .h(26px); .l(26px); .hidden; padding: 0 8px; .border-1c; .mr(4px); .gray;
						.addM{ background:url("@{pic_url}/images/activity/addM.gif") no-repeat; .h(13px); padding: 0 6px; .mr(4px);}
						.dellike{background:url("@{pic_url}/images/activity/like.png") no-repeat 0 1px; .h(12px); padding:0 5px 0 6px;}
						.addlike{ background:url("@{pic_url}/images/activity/nolike.gif") no-repeat 0 1px; .h(12px); padding:0 5px 0 6px;}
					}
				}
			}
			.tpInfo{ border-top:1px solid #e6e6e6; padding:10px 10px 4px;
				.tptit{ .l(20px); .pb(10px);.h(30px);}
				.tpsale{ .pb(10px);
					.mr8{ .mr(8px);}
				}
				.likebuy{ .clearfix;
					.likeBtn, .saleNum{.nowrap;}
				}
				.like_ico{background: url("@{pic_url}/images/twitter/ILikeit.gif") no-repeat; .pl(16px);}
			}
			.tpshare{ .ml(10px); .mr(10px); .pt(10px); .pb(10px); border-top: 1px dotted #e6e6e6;
				.ml42_f{ .ml(42px);}
				.imgbrd{.border-1; opacity:0.7;filter:Alpha(Opacity=70);}
				.tphead{
					.h(16px);.hidden;
				}
				.tpdel{
					.h(60px);.hidden;
				}
			}
			.fcg{ .l(20px); .fc(#999);}
		}

		.tPosterCon:hover{
			.mergeLay{
				.block;
			}
		}
	}
}
.groundInfo{ .w(906px); .auto;
	.grd_line{background: url("@{pic_url}/images/activity/orgline.gif") repeat-x 0 11px; .mt(10px); .pb(20px);  
		.grd_tle {.auto; .h(22px); padding: 0 46px; background: url("@{pic_url}/images/activity/theEigtpic.png") no-repeat top center #fff;}
		.grd_tle1{.w(118px); .bp(42px,-24px);}
		.grd_tle2{.w(240px); .bp(42px,0);}
		.grd_tle3{.w(166px); .bp(42px,-48px);}
		.grd_tle4{.w(222px); .bp(42px,-73px);}
	}
	.popwrd{.pb(20px);}
	.poptxt{ .pr(20px); .mr(20px); .border-rc(solid);}
	.exbuyer{ .w(774px); .h(375px); .mt(-14px); .mb(40px); background: url("@{pic_url}/images/activity/exbuyerr.jpg") no-repeat; .pr;
		.wedo, .makyou{ .pa; .w(190px); left:596px;}
		.wedo{top:140px;}
		.makyou{ top:240px;}
	}
	.inspect{.w(906px); .h(214px); .mb(40px); .mt(-11px); background: url("@{pic_url}/images/activity/inspegds.gif") no-repeat;}
	.wxpay{
		.wxpic{.w(400px); .h(237px); background: url("@{pic_url}/images/activity/wxpay.jpg") no-repeat;}
		.savmony{ .ml(50px);
			.forsav{ .w(370px); .h(22px); .mt(40px); .mb(20px); background: url("@{pic_url}/images/activity/theEigtpic.png") no-repeat 0 -104px;}
			.forsvtxt{}
		}
	}
}
.pd30{
	.pt(30px);
}
.pd20{
	 .pb(20px);
}
.footer{.mt(0px);}
.page;
.pageNav1{ .page > .pageRed; .c; margin: 30px auto; }
@import "../footer.less";