@import "../block.less";
@import "../window.less";
.beauty {.w(948px); .auto;}
textarea{
	.w(10px);
	font-size: 18px;
	margin: 40px auto;
	display: block;
	height: 200px;
}
button{
	font-size: 14px;
	margin: 0px auto;
	display: block;
}
