@import "../block.less";
.hr_wrap{background-color: #fff;.hidden;.pb(14px);}
.hr_main{.w(1044px);.auto;.pr;.hidden;}
.hr_nav{
	.mt(133px);.w(160px);.h(442px);.left;background:url('@{pic_url}/images/huodong/heiren/hr_navbgn.png') no-repeat;
	a{.indent();.block;.w(100%);.h(67px);.cursor;}
}
.hr_active{
	.nav_index{.h(80px);.mb(-13px);background:url('@{pic_url}/images/huodong/heiren/hr_nav1.png') no-repeat;}
	.nav_white{.h(80px);.mb(-13px);background:url('@{pic_url}/images/huodong/heiren/hr_nav2.png') no-repeat;}
	.nav_fashion{.h(80px);.mb(-13px);background:url('@{pic_url}/images/huodong/heiren/hr_nav3n.png') no-repeat;}
	.nav_experience{.h(80px);.mb(-13px);background:url('@{pic_url}/images/huodong/heiren/hr_nav4.png') no-repeat;}
	.nav_free{background:url('@{pic_url}/images/huodong/heiren/hr_nav5.png') no-repeat;}
}
.hr_con{.left;.mt(133px);}
.hr_top{.w(1044px);.h(140px);z-index:20;.pa;top: 8px;left: 0;background:url('@{pic_url}/images/huodong/heiren/head.png') no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/heiren/hr_head.png', sizingMethod='scale'); _background-image:none;}
.heiren_index{.w(884px);.h(467px);background:url('@{pic_url}/images/huodong/heiren/hr_index.png') no-repeat;}
.white{.none;.pr;.mt(-110px);.w(884px);.h(565px);background:url('@{pic_url}/images/huodong/heiren/hr_white.png') no-repeat;}
.fashion{.none;.mt(-110px);.w(884px);.h(814px);background:url('@{pic_url}/images/huodong/heiren/hr_fashion.png') no-repeat;}
.experience{.none;.mt(22px);.pl(25px);.w(859px);.h(852px);background:url('@{pic_url}/images/huodong/heiren/hr_exp.png') no-repeat center top;}
.usertype_1{.i_block();.indent();.h(410px);.w(414px);.mb(7px);.mr(7px);}
.usertype_2{.i_block();.indent();.h(436px);.w(274px);.mr(7px);}
.free{.none;.pr;.mt(-100px);.w(884px);.h(701px);background:url('@{pic_url}/images/huodong/heiren/hr_free.png') no-repeat;}
.hr_wf{.pa;bottom: 209px;right: 87px;
		.btn_apply { .hidden;}
		.wf_ico1, .wf_ico2, .wf_ico3, .wf_ico4 { background: url("@{pic_url}/images/welfare/wf_btn1.png") no-repeat; .h(46px); .w(175px);}
		.wf_ico1 { .bp(0, 0); }
		.wf_ico2 { .bp(0, -52px); }
		.wf_ico3 { .bp(0, -104px); }
		.wf_ico4 { .bp(0, -155px); }
		.wf_msg { .l(20px); .w(144px); .right; .mt(10px); }
}
.footer{.mt(0);}
.test_wrap{.pt(150px);line-height: 33px;.clearfix;
	p{color: #014498;.pl(10px);.f(20px);.left;}
	span{color: #C60081;.fb();.f(28px);}	
}
.apply_test{.left;.w(124px);.ml(55px);.mr(18px);.indent();.cursor;}
.intro_video{.mt(20px);.ml(56px);}
.heirenweibo{.pa;bottom: 26px;right: 27px;.w(180px);.h(36px);.indent();}
.darenshow_wrap{.pa;right: 32px;top: 181px;.hidden;
	li{.mb(20px);}
	a{.cursor;}
}
