@import "../block.less";
@import "../window.less";

.page;
.pageNav{.page > .pageRed; }
.reply_list{ .mt(14px); .common_shadowBox; .p13; }
.editorbg { .window > .publishor }
.window > .replyBox;
.approve;
.discus_box{ .w(708px); .auto; }

.top{ .w(100%); .h(600px); background:url('@{pic_url}/images/huodong/infocus/top1.jpg') no-repeat center top;
	.top_banner{ .w(950px); .h(600px); .auto; .hidden; .pr;
		.adType1 a{ .bgc(#fff); }
		.adType1 a.current{ .bgc(#62ddd5); }
	}
}
.boxShadow(@x){ -webkit-box-shadow:@x; -moz-box-shadow:@x; box-shadow:@x; }
.cont_box{ .w(100%); background:url('@{pic_url}/images/huodong/infocus/conbg1.jpg') #a7e7db no-repeat center top; }
.main{ .w(950px); .auto; .pb(50px);
	ul{ .clearfix;
		li{ .left; .f(16px);
			a{ .left; .w(136px); .h(37px); .l(37px); .c; .bgc(#f6f7f7); .mt(7px); .boxShadow(1px 1px 1px rgba(0,0,0,.1)); }
			a.normal{
				&0{ color:#b6b6b6; }
				&1{ color:#000; }
				&2{ color:#34c2e0; }
				&3{ color:#ffa906; }
				&4{ color:#ffa906; }
				&5{ color:#f75140; background:url('@{pic_url}/images/huodong/infocus/icon2.png') #f6f7f7 no-repeat 14px -33px;}
			}
			a.active{ 
				&0{ .bgc(#fff); color:#b6b6b6; .mt(0); .h(44px); .l(44px);  .boxShadow(none); }	
				&1{ .bgc(#000); color:#fff; .mt(0); .h(44px); .l(44px);  .boxShadow(none); }	
				&2{ .bgc(#2697cb); color:#fff; .mt(0); .h(44px); .l(44px);  .boxShadow(none); }	
				&3{ .bgc(#ffba01); color:#fff; .mt(0); .h(44px); .l(44px);  .boxShadow(none); }	
				&4{ .bgc(#da2f87); color:#fff; .mt(0); .h(44px); .l(44px);  .boxShadow(none); }	
				&5{ color:#fff; .mt(0); .h(44px); .l(44px);  .boxShadow(none); background:url('@{pic_url}/images/huodong/infocus/icon2.png') #f5483b no-repeat 8px 9px; }	
			}
			.buy{ color:#f75140; background:url('@{pic_url}/images/huodong/infocus/icon1.png') #f6f7f7 no-repeat 8px 9px; }
		}
	}
	.line{ .boxShadow(1px 1px 1px rgba(0,0,0,.1));
		&0{ .w(950px); .h(4px); .auto; .bgc(#c6c6c7); }	
		&1{ .w(950px); .h(4px); .auto; .bgc(#000); }	
		&2{ .w(950px); .h(4px); .auto; .bgc(#2697cb); }	
		&3{	.w(950px); .h(4px); .auto; .bgc(#ffba01); }	
		&4{ .w(950px); .h(4px); .auto; .bgc(#da2f87); }	
		&5{ .w(950px); .h(4px); .auto; .bgc(#f5483b); }	
	}
	.cont{ .w(950px); .auto; .boxShadow(1px 1px 1px rgba(0,0,0,.1)); }
	.jbox{ .bgc(#f2f2f2);.boxShadow(1px 1px 1px rgba(0,0,0,.1)); padding:8px 26px 30px 26px;
		.top{ .w(900px); .h(529px); .block; background:url('@{pic_url}/images/huodong/infocus/pic2.jpg') no-repeat;}
		.drbox{ .bgc(#fff); .clearfix; .mt(14px); padding:0 9px;
			li{ .left; margin:14px 7px; border:1px solid #f0f0f0;
				img{ .block; .w(160px); .h(235px); }
			}
		}
	}
}

