@import "../block.less";
@import "../window.less";
@import "../plugin/fancybox.less";

.poster;
.poster_icons;
.face_pop{ .window > .head_float; }
.fluid;
.page;
.pageNav{ .page > .pageRed; }

.wrap{ .w(100%); .h(840px); background:url('@{pic_url}/images/huodong/jianling/bg2.jpg') no-repeat top center; }
.wbox{ .w(1180px); .auto;
	.nav{ .w(200px); .h(750px); background:url('@{pic_url}/images/huodong/jianling/nav.png') no-repeat; .left;
		ul{ .w(144px); .ml(30px); .mt(138px); .f(16px);
			li{ .h(66px); .l(66px); .mb(1px); .c; 
				a{ .block; color:#b0c2d2; }
				.active{ background:url('@{pic_url}/images/huodong/jianling/libg.png') no-repeat;}
			}
		}
	}
	.main_box{ .right;}
}
/*首页*/
.f_box{ .w(960px); .mt(76px);
	.pic{ .w(442px); .h(88px); background:url('@{pic_url}/images/huodong/jianling/img.png') no-repeat; .auto; }
	p{ .w(782px); .h(112px); .mt(373px); .pr; z-index:12; left:66px; }
	.txt{
		&0{ background:url('@{pic_url}/images/huodong/jianling/txt1.png') no-repeat; }	
		&1{ background:url('@{pic_url}/images/huodong/jianling/txt2.png') no-repeat; }	
		&2{ background:url('@{pic_url}/images/huodong/jianling/txt3.png') no-repeat; }	
		&3{ background:url('@{pic_url}/images/huodong/jianling/txt4.png') no-repeat; }	
		&4{ background:url('@{pic_url}/images/huodong/jianling/txt5.png') no-repeat; }	
		&5{ background:url('@{pic_url}/images/huodong/jianling/txt6.png') no-repeat; }	
		&6{ background:url('@{pic_url}/images/huodong/jianling/txt7.png') no-repeat; }	
		&7{ background:url('@{pic_url}/images/huodong/jianling/txt9.png') no-repeat; }	
	}
	.person{ .pr; left:56px;
		a{ .i_block; }
		.per{
			&1{ .pa; top:0; left:0; background:url('@{pic_url}/images/huodong/jianling/s1.png') no-repeat; .h(430px); .w(114px); z-index:10;}	
			&2{ .pa; top:0; left:30px; background:url('@{pic_url}/images/huodong/jianling/s2.png') no-repeat; .h(430px); .w(180px); z-index:9;}	
			&3{ .pa; top:0; left:142px; background:url('@{pic_url}/images/huodong/jianling/s3.png') no-repeat; .h(430px); .w(160px);}	
			&4{ .pa; top:0; left:253px; background:url('@{pic_url}/images/huodong/jianling/s4.png') no-repeat; .h(430px); .w(160px);}	
			&5{ .pa; top:0; left:380px; background:url('@{pic_url}/images/huodong/jianling/s5.png') no-repeat; .h(430px); .w(140px); z-index:10;}	
			&6{ .pa; top:0; left:465px; background:url('@{pic_url}/images/huodong/jianling/s6.png') no-repeat; .h(430px); .w(160px); z-index:9; }	
			&7{ .pa; top:0; left:553px; background:url('@{pic_url}/images/huodong/jianling/s7.png') no-repeat; .h(430px); .w(180px); z-index:10;}	
			&8{ .pa; top:0; left:658px; background:url('@{pic_url}/images/huodong/jianling/s8.png') no-repeat; .h(430px); .w(180px); z-index:9;}	
		}
		.act{
			&1{ background:url('@{pic_url}/images/huodong/jianling/b1.png') no-repeat;}	
			&2{ background:url('@{pic_url}/images/huodong/jianling/b2.png') no-repeat; z-index:11;}
			&3{ background:url('@{pic_url}/images/huodong/jianling/b3.png') no-repeat;}
			&4{ background:url('@{pic_url}/images/huodong/jianling/b4.png') no-repeat;}
			&5{ background:url('@{pic_url}/images/huodong/jianling/b5.png') no-repeat;}
			&6{ background:url('@{pic_url}/images/huodong/jianling/b6.png') no-repeat; z-index:11;}
			&7{ background:url('@{pic_url}/images/huodong/jianling/b7.png') no-repeat;}
			&8{ background:url('@{pic_url}/images/huodong/jianling/b8.png') no-repeat; z-index:11;}
		}
	}
}

/*投票参与区*/
.Tshow_box{ .w(980px); .h(558px); .mt(93px); background:rgba(4,14,24,0.5); filter:~"progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7f040e18,endcolorstr=#7f040e18)"; 
	.tit{ border-bottom:1px solid #425663; .h(60px); .l(72px); .c; margin:0 14px;
		a{ .i_block; padding:0 30px; color:#cfd2d4; .f(18px); .fb; }
		.yellow{ color:yellow; }
	}
}
.jianling_fixheight{ .w(960px); .auto; .h(486px); overflow-y:scroll; overflow-x:hidden; .pr; }



//尤物测试
.testgirl{color: #fff;.clearfix;
	.r1{.mt(10px);.w(225px);.pt(25px);.h(79px);.pl(20px);.ml(10px);border-radius: 10px;.pb(4px);
		background:rgba(31,73,84,0.8); 
		filter:~"progid:DXImageTransform.Microsoft.gradient(startcolorstr=#cc1f4954,endcolorstr=#cc1f4954)";
		h2{.f(18px);.mb(11px);}
		label{.mb(6px);.i_block;.f(14px);}

	}
}
.choicesuit,.topreview,.csuit,.jlUpWapper input,#share_sina,.next{.w(150px);.h(46px);cursor:pointer;background:url('@{pic_url}/images/huodong/jianling/icon2.png') no-repeat;
}
.upload-box{.right;.pr;.w(244px);.h(345px);.mr(282px);.mt(9px);
	.next{ .pa; .w(200px); .h(56px); background-position:0 -295px;bottom:167px; right:-216px; border:0; .cursor;color: #fff;.f(16px); .pl(35px);}
}

.jlUpWapper{ .w(244px); .h(345px); cursor:auto; background:url('@{pic_url}/images/huodong/jianling/up4.png') left top no-repeat;position: static;
	input{ .cursor; .f(295px); .pa; .f(15px);*font-size:60px;left:45px; top:180px;background-position: 0 0}
}
.suit_pop{.w(626px);.h(234px);background:url('@{pic_url}/images/huodong/jianling/dia2.jpg') center center no-repeat;
	input{.w(550px);.h(32px);.mt(10px);.mb(30px);.f(15px);}
	.suit_pop_main{padding: 30px;}
}
.ice_pop{.w(626px);.h(419px);background:url('@{pic_url}/images/huodong/jianling/dia12.jpg') center center no-repeat;.pr;
	.tpic{.pa;left:300px; top:40px;
	}
	.lpic{.pa;left:20px;top:20px;}
}
.topreview{background-position:0 -191px;text-indent: -9999px;overflow: hidden; margin-left: 215px;}
.choicesuit{.i_block;background-position:0 -144px;text-indent: -9999px;overflow: hidden; }
.csuit{.pa;top:238px;left:45px;background-position:0 -48px;text-indent: -9999px;overflow: hidden; }
.close_btn{.pa;.i_block;.w(40px);.h(35px);right:5px;top:5px; color:#fff; .f(18px);}
#share_sina{background-position: 0 -96px;.pa;right: 173px;bottom:140px;.i_block}
.sinaicon{.i_block;.w(42px);.h(42px);bottom:143px;right:122px;.pa;background:url('@{pic_url}/images/huodong/jianling/icon2.png') top right no-repeat;}
.choice-item{.left;}
.girlword{.w(632px);.h(195px);margin:93px 171px 0 0;
	background:url('@{pic_url}/images/huodong/jianling/girlword2.png') no-repeat;
}


//规则与奖励
.rule{.clearfix;.mr(135px);.mt(103px);
	div{.w(302px);.h(542px);.left;.mr(20px);}
	.rule1{background:url('@{pic_url}/images/huodong/jianling/ac11.png') no-repeat;}
	.rule2{background:url('@{pic_url}/images/huodong/jianling/ac22.png') no-repeat;}
}

//剑灵介绍
.jlintro{.w(903px);.h(562px);.mt(80px);.pt(84px);
	background:url('@{pic_url}/images/huodong/jianling/ac3.png') no-repeat;
	.video{.w(330px);.h(205px);.ml(36px)}
	.more{.f(18px);color:#ffe400;text-decoration:underline;.i_block;margin: 226px 0 0 205px;}
}

/*白青维密秀*/
.snow_box{ .w(960px); .h(580px); .mt(94px);
	.snow_tit{ .w(496px); .h(30px); background:url('@{pic_url}/images/huodong/jianling/tshow_tit1.png') no-repeat; .auto; }
	ul{ .clearfix; .mt(30px);
		li{ .left; .mt(10px); }
		.jl_like{ .w(120px); .mt(74px); color:#f69; .c;
			.likes_status{.i_block;.c;.w(60px);.h(23px);line-height:23px;color: #FFFFFF; border-radius: 2px; background-color: #FF74A1; border: 1px solid #FA5B90;
            }
            .lm_love2{
                background:url("@{pic_url}/images/header/mls_global140415.png") no-repeat -53px -259px;
                padding:0 5px 0 6px;
            }
			.jl_num{ .l(34px); .fb; .f(16px); }
		}
	}
}

