@import "../block.less";
@import "../window.less";

.poster;
.poster_icons;
.kc{
	.w(100%);
	background-color: #f6edea;
	.pb(10px);
}
.kc-head{
	.w(100%);
	background: url('http://i.meilishuo.net/css/images/huodong/kisscat/all/bac-all.jpg') repeat-x;
	img{
		.w(1136px);
		.ml(auto);
		.mr(auto);
		.block;
	}
}
.kc-inner{
	.w(1136px);
	.ml(auto);
	.mr(auto);
	.list{
		.w(960px);
		.h(473px);
		.mb(25px);
		.list-inner{
			.h(372px);
			.w(238px);
			border: white 11px solid;
			.mr(60px);
			.mt(40px);
			background-color: white;
			p{
				.f(13px);
				.l(26px);
				.mb(4px);
			}
			.buy{
				background-color: #5cbfd0;
				.w(76px);
				.f(19px);
				text-align: center;
				.l(28px);
				.mt(-4px);
				color: white;
				cursor: pointer;
				border-radius: 3px;
			}
			.buy:hover{
				color: white;
			}
		}
		.pl(172px);
	}
	.list1{
		background: url('http://i.meilishuo.net/css/images/huodong/kisscat/all/bac-change-1.jpg');
	}
	.list2{
		background: url('http://i.meilishuo.net/css/images/huodong/kisscat/all/bac-change-2.jpg');
	}
	.list3{
		background: url('http://i.meilishuo.net/css/images/huodong/kisscat/all/bac-change-3.jpg');
	}
	.list4{
		background: url('http://i.meilishuo.net/css/images/huodong/kisscat/all/bac-change-4.jpg');
	}
	.list5{
		background: url('http://i.meilishuo.net/css/images/huodong/kisscat/all/bac-change-5.jpg');
	}
	.list6{
		background: url('http://i.meilishuo.net/css/images/huodong/kisscat/all/bac-change-6.jpg');
	}
	.list7{
		background: url('http://i.meilishuo.net/css/images/huodong/kisscat/all/bac-change-7.jpg');
	}
	.list8{
		background: url('http://i.meilishuo.net/css/images/huodong/kisscat/all/bac-change-8.jpg');
	}
	.list9{
		background: url('http://i.meilishuo.net/css/images/huodong/kisscat/all/bac-change-9.jpg');
	}
	.list10{
		background: url('http://i.meilishuo.net/css/images/huodong/kisscat/all/bac-change-10.jpg');
	}
}
.left{
	.left;
}