@import "../block.less";
@import "../window.less";

.poster;
.poster_icons;
.face_pop{ .window > .head_float; }
.fluid;
.page;
.pageNav{ .page > .pageRed; }

.lenovoBg{ background:#000; .w(100%); }
.len_top{ .w(950px); .h(500px); background:url('@{pic_url}/images/huodong/lenovo/len_top1.jpg') no-repeat; .auto; .pr;
	.sina{ .pa; top:467px; left:352px; }
	.len_btn{ .w(162px); .h(55px); .pa; top:405px; left:155px; .cursor;}
}
.len_group{ .w(950px); .h(418px); .hidden; background:url('@{pic_url}/images/huodong/lenovo/len_1.jpg') no-repeat; margin:10px auto;
	.groupBox{ .left; margin:90px 0 0 68px; }
}
.rule{ .w(820px); .h(459px); background:url('@{pic_url}/images/huodong/lenovo/rule.jpg') no-repeat; .pr;
}
.len_close{ .block; .pa; right:6px; top:6px; .w(30px); .h(30px); .cursor; }
.overblack{ background:black; }
.model{ .w(820px); .h(459px); background:url('@{pic_url}/images/huodong/lenovo/len_2.jpg') no-repeat; .pr;
	ul{ .pa; bottom:30px; left:25px;
		li{ .w(244px); .h(344px); .left; .mr(20px); .cursor; }
		.mod1{ background:url('@{pic_url}/images/huodong/lenovo/len_3.jpg') no-repeat;}	
		.mod2{ background:url('@{pic_url}/images/huodong/lenovo/len_4.jpg') no-repeat;}	
		.mod3{ background:url('@{pic_url}/images/huodong/lenovo/len_5.jpg') no-repeat;}	
	}
}
.upbox{ .w(820px); .h(580px); background:url('@{pic_url}/images/huodong/lenovo/len_10.jpg') no-repeat; .pr; .none;
	textarea{ .w(234px); .h(43px); padding:6px; .pa; left:288px; top:414px; .f(12px); background:#dfdfdf; color:#444; border:0; box-shadow:2px 3px 4px rgba(0, 0, 0, 0.6) inset;}
	.len_pre{ .block; .w(150px); .h(50px); .pa; left:232px; bottom:33px; .cursor; }
	.len_sure{ .block; .w(180px); .h(50px); .pa; right:242px; bottom:33px; .cursor; background:none; border:0; }
}
.succeed{ .w(820px);.h(580px); background:url('@{pic_url}/images/huodong/lenovo/len_11.jpg') no-repeat; .pr; .none;
	img{ .pa; top:128px; left:286px; border:1px solid #878787; }
	.share_sina{ .pa; .w(152px); .h(49px;); bottom:37px; left:334px; .cursor;  }
}
.lenUpWapper{ .w(244px); .h(344px); border:1px solid #878787; top:60px; left:288px; .cursor;
	input{ .cursor; .f(295px); .pa; left:-3em; top:0; .h(344px); }
	.len_reup{ .pa; .w(70px); .h(70px); .hidden; right:0; bottom:0; background:url("@{pic_url}/images/huodong/lenovo/change.png") no-repeat; z-index:3; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/lenovo/change.png', sizingMethod='scale'); _background-image:none;
		input{ .h(70px); .f(32px); }
	}
}
.len_fixheight{ .w(960px); .auto; .h(1724px); overflow-y:scroll; overflow-x:hidden; .pr; }
.phone{ .w(158px); .h(315px); background:url('@{pic_url}/images/huodong/lenovo/phone.png') no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/lenovo/phone.png', sizingMethod='scale'); _background-image:none; .pf; left:0; top:150px; z-index:10;
	ul{ .mt(45px); .w(144px); .auto;
		li{ .c; .f(18px); color:#fff; .l(42px); border:1px solid #bababa; border-left:0; border-right:0; .mt(-1px); .cursor;
			a{color:#fff;
				&:hover{ color:#fff; }
			}
		}
		.len_bgred{ background:#b61f24; }
	}
	img{ margin:8px 0 0 34px; }
}
.len_tab{ .w(950px); .h(50px); .auto; .clearfix; .hidden;
	li{ .w(472px); .h(50px);  background:url('@{pic_url}/images/huodong/lenovo/len_tab2.jpg') no-repeat; .mr(6px); .left; .c; color:white; .l(50px); .f(26px); .cursor; }
	.tab_red{ background:url('@{pic_url}/images/huodong/lenovo/len_tab1.jpg') no-repeat; }
}
#len_bot { .pr; background: url('@{pic_url}/images/huodong/lenovo/lenevo_bot.jpg') no-repeat; .w(950px); .h(885px); .auto; .mt(10px);
	.video { .pa; .w(380px); .h(280px); top: 530px; left:125px; }
	.len_link{ .pa; .w(874px); .h(416px); top:30px; left:48px; .block; }
}

