@import "../block.less";
.lbbox{.pr;.h(600px);.w(450px);.mr(5px);.left;.ml(25px);}
.lbbox2{.pr;.h(600px);.w(450px);.left;}
.wrap{.bgc(#fff);
	.main{.w(1070px);.auto;}
	.bg1{.h(700px);background:url("@{pic_url}/images/huodong/levi/bg1.jpg") no-repeat;}
	.bg2{.h(618px);background:url("@{pic_url}/images/huodong/levi/bg22.jpg") no-repeat;}
	.bg3{.h(756px);background:url("@{pic_url}/images/huodong/levi/bg5.jpg") no-repeat;
		.video{.h(100%);.w(1050px);.h(707px);.auto;}
	}
	.bg4{.h(428px);background:url("@{pic_url}/images/huodong/levi/bg3.jpg") no-repeat;
		.main{.w(955px);.auto;.pr;
			a{.pa;.w(130px);.h(30px);left:259px;top:240px;.block;}
		}
	}
	.bg5{.h(798px);background:url("@{pic_url}/images/huodong/levi/bg41.jpg") no-repeat;
		.main{.clearfix;.w(955px);.auto;.pr;}
		.b1{.block;.w(205px);.h(35px);.pa;bottom:-75px;left:136px;}
		.b2{.block;.w(205px);.h(35px);.pa;bottom:-75px;right:145px;}
	}
}

.top_bnr { .bgc(#f7f7f7); .h(100%); .w(100%); .hidden; 
	.banner { .h(100%); .w(100%); z-index:0;
		li { .left; .w(100%);
			.pic { .block; .h(419px); .w(100%); }
		}
	}
}

.round { .w(135px); .pa; right: 17px; bottom: 15px; 
	.adType{ .tr; 
		a { .bgc(#f6f6f6); .border-r(10px); .cursor; .i_block; .mr(20px); .h(9px); .w(9px); }
		a.current { .bgnone;.bgc(#c21e2e);}
	}
}
