@import "../block.less";

.fix_width(){ .w(992px); .auto; .pr; }
.item1{ .w(100%); background:url("@{pic_url}/images/huodong/lingcui/lc_1.jpg") no-repeat top center; 
	.inner{ .fix_width; .h(740px); 
		.link1{ .pa; .w(992px); .h(610px); top:0; left:0; }
		.link2{ .pa; .w(215px); .h(88px); right:0; bottom:0; }
	}
}
.item2{ .w(100%); background:url("@{pic_url}/images/huodong/lingcui/lc_2.jpg") no-repeat top center; 
	.inner{ .fix_width; .h(622px); 
		.link1{ .pa; .w(992px); .h(394px); top:0; left:0; }
		.link2{ .pa; .w(465px); .h(229px); left:0; bottom:0; }
		.link3{ .pa; .w(149px); .h(138px); left:489px; bottom:45px; }
		.link4{ .pa; .w(149px); .h(138px); left:649px; bottom:45px; }
		.link5{ .pa; .w(149px); .h(138px); left:810px; bottom:45px; }
	}
}
.item3{ .w(100%); background:url("@{pic_url}/images/huodong/lingcui/lc_3.jpg") no-repeat top center; 
	.inner{ .fix_width; .h(593px); 
		a{ .pa; .w(992px); .h(593px); top:0; left:0; }
	}
}
.item4{ .w(100%); background:url("@{pic_url}/images/huodong/lingcui/lc_4.jpg") no-repeat top center; 
	.inner{ .fix_width; .h(552px); 
		a{ .pa; .w(992px); .h(552px); top:0; left:0; }
	}
}
.item5{ .w(100%); background:url("@{pic_url}/images/huodong/lingcui/lc_5.jpg") no-repeat top center; 
	.inner{ .fix_width; .h(1795px); 
		.link1{ .pa; .w(992px); .h(569px); top:0; left:0; }
		.link2{ .pa; .w(992px); .h(259px); left:0; top:569px; }
		.link3{ .pa; .w(482px); .h(742px); left:0; bottom:228px; }
		.link4{ .pa; .w(509px); .h(742px); left:0; bottom:228px; }
		.link5{ .pa; .w(992px); .h(228px); left:0; bottom:0; }
	}
}

