@import '../block.less';

.mc_bd{
    .w(100%);
    .bg_imgs{
        .block;
        .w(100%);
    }
    .sub_nav{
        .w(11%);
        position: fixed;
        top:210px;
        right: 14.5%;
        img{
            .w(100%);
        }
        .sub_nav_ul{
            .pa;
            .w(100%);
            .h(42%);
            top:24%;
            left: 0;
            li{
                .h(20%);
                a{
                    .block;
                    .w(100%);
                    .h(100%);
                }
            }
        }
    }
}
 .mc_{
     &bg4{
        .pr;
        .pt(49.5%);
        background:url("http://d03.res.meilishuo.net/pic/_o/fc/1e/fe918bb29341a72e7558cd7c7a21_2000_990.cf.jpg") no-repeat top center;
        background-size:100% 100%;
        .play_icon{
            .w(24.5%);
            .pa;
            left: 32.5%;
            top:0;
            z-index: 2;
        }
        .flash_wrap{
            display: none;
            .w(29.5%);
            .pt(22.5%);
            .pa;
            top:8%;
            left: 30%;
            z-index: 1;
            
        }
        .link{
            .block;
            .pa;
            cursor: pointer;
        }
        .sy_quan_link{
            .w(29%);
            .pt(5%);
            bottom: 22%;
            margin: auto;
            left: 0;
            right: 0;
        }
        .sj_quan_link{
            .w(8.8%);
            .pt(4%);
            right: 26%;
            bottom: 47%;
        }
     }
     &bg5{
         .pr;
        .pt(81.75%);
        background:url("http://d03.res.meilishuo.net/pic/_o/6b/fe/ad56ded7fd6722898a2a7a3c8a49_2000_1635.ch.jpg") no-repeat top center;
        background-size:100% 100%;
        .style_wrap{
            .pa;
            .w(47.5%);
            .pt(69.5%);
            bottom: 16%;
            margin: auto;
            left: 0;
            right: 0;
            background:url("http://i.meilishuo.net/css/images/staticbed/style_green.png") no-repeat top center;
            background-size:100% 100%;
            .style_nav{
                .w(100%);
                .h(100px);
                .pa;
                top:0;
                li{
                    .w(25%);
                    .h(100%);
                    float: left;
                    cursor: pointer;
                }
            }
            .style_cont{
                display: none;
                .pa;
                .w(100%);
                .h(90%);
                bottom: 0;
                a{
                    .block;
                    .pa;
                    cursor: pointer;
                }
            }
            .style_green{
                .g_link_1{
                    .w(20%);
                    .pt(20%);
                    top:3%;
                    right: 20%;
                }
                .g_link_2{
                    .w(31%);
                    .pt(31%);
                    top:35%;
                    right: 15%;
                }
                .g_link_3{
                    .w(25%);
                    .pt(33%);
                    top:46%;
                    left: 20%;
                }
                .g_link_4{
                    .w(22%);
                    .pt(33%);
                    top:67%;
                    right: 29.5%;
                }
                .g_link_5{
                    .w(22%);
                    .pt(33%);
                    top:64%;
                    right: 5%;
                }
                .g_link_6{
                    .w(22%);
                    .pt(33%);
                    bottom: 3%;
                    left: 17%;
                }
            } 
            .style_color{
                .g_link_1{
                    .w(20%);
                    .pt(20%);
                    top:1%;
                    left: 21%;
                }
                .g_link_2{
                    .w(26%);
                    .pt(34%);
                    top:26%;
                    right: 19%;
                }
                .g_link_3{
                    .w(30%);
                    .pt(45%);
                    top:30%;
                    left: 17%;
                }
                .g_link_4{
                    .w(25%);
                    .pt(33%);
                    bottom:9%;
                    left: 10%;
                }
                .g_link_5{
                    .w(25%);
                    .pt(33%);
                    bottom:9%;
                    left: 38%;
                }
            }
            .style_yellow{
                .g_link_1{
                    .w(20%);
                    .pt(20%);
                    top:3%;
                    right: 20%;
                }
                .g_link_2{
                    .w(22%);
                    .pt(36%);
                    top:35%;
                    right: 17%;
                }
                .g_link_3{
                    .w(25%);
                    .pt(25%);
                    top:42%;
                    right: 42%;
                }
                .g_link_4{
                    .w(26%);
                    .pt(33%);
                    bottom:13%;
                    left: 10%;
                }
                .g_link_5{
                    .w(22%);
                    .pt(34%);
                    bottom:9%;
                    left: 41%;
                }
                .g_link_6{
                    .w(22%);
                    .pt(33%);
                    bottom:10%;
                    right: 10%;
                }
            }
            .style_white{
                .g_link_1{
                    .w(20%);
                    .pt(20%);
                    top:2%;
                    left: 20%;
                }
                .g_link_2{
                    .w(26%);
                    .pt(33%);
                    top:35%;
                    left: 41%;
                }
                .g_link_3{
                    .w(26%);
                    .pt(45%);
                    top:45%;
                    left: 12%;
                }
                .g_link_4{
                    .w(22%);
                    .pt(34%);
                    bottom:12%;
                    left: 42%;
                }
                .g_link_5{
                    .w(22%);
                    .pt(34%);
                    bottom:12%;
                    right: 10%;
                }
            }
        }
     }
 }
.head_bnr{
    display: none!important;
}