@import "../block.less";
body { overflow-x: hidden; }
.top_box { background:url("@{pic_url}/images/activity/macaron/body_bg.gif") repeat-x; }
.top_bnr { background:url("@{pic_url}/images/activity/macaron/top_bnr.gif") no-repeat; .indent; .auto; .h(333px); .w(1066px); }
.top_nav { .auto; .hidden; .h(72px); .w(932px); }
.notice { background:url("@{pic_url}/images/activity/macaron/icon.gif") no-repeat 0 6px; color: #7f3f4c; .auto; .f(14px); .pl(35px); .pb(3px); .l(32px); .h(32px); .w(730px); }
.box_one,.box_two,.box_three,.box_four,.box_five { .pt(14px); }
.box_one { background: #ffdde5; }
.box_two { background: #e3fff5; }
.box_three { background: #fffdd3; }
.box_four { background: #f5eafd; }
.box_five { background: #ddf3fe; }
.auto_box { background:rgba(255,255,255,0.5); filter:~"progid:DXImageTransform.Microsoft.gradient(startcolorstr=#70ffffff,endcolorstr=#70ffffff)"; .auto; .pr; .w(760px); .pr(10px); .pb(10px);
	li { .left; .inline; .hidden; .ml(10px); .mt(10px); .h(366px); .w(180px);
		.face { .h(196px); .w(175px); }
		.f_tle { .red; .c; .f(20px); .h(50px); .l(50px); }
		.f_tail { .f(14px); .l(18px); }
		.pic { .bgwhite; .block; .c; .hidden; .h(266px); .w(180px); }
		.detail { .bgwhite; .h(88px); .hidden; .mt(2px); .l(20px); .p5_10;  
			.tle { .h(40px); .hidden; .fn; .f(12px); }
			.price { .red; .f(18px); .l(24px); }
			.source { .gray; .h(20px); .ellipsis; .break-word; 
				a { .gray;
					&:hover {.red;}
				}
			}
		}
	}
	.ico1 { background:url("@{pic_url}/images/activity/macaron/mac_i1.gif") no-repeat; .h(138px); .w(98px); .pa; top: 405px; right: -98px; }
	.ico2 { background:url("@{pic_url}/images/activity/macaron/mac_i2.gif") no-repeat; .h(388px); .w(130px); .pa; bottom: 40px; right: -130px; }
	.ico3 { background:url("@{pic_url}/images/activity/macaron/mac_i3.gif") no-repeat; .h(122px); .w(95px); .pa; bottom: 130px; left: -95px; }
	.ico4 { background:url("@{pic_url}/images/activity/macaron/mac_i4.gif") no-repeat; .h(141px); .w(102px); .pa; top: 220px; right: -102px; }
	.ico5 { background:url("@{pic_url}/images/activity/macaron/mac_i5.gif") no-repeat; .h(179px); .w(102px); .pa; bottom: 195px; right: -102px; }
	.ico6 { background:url("@{pic_url}/images/activity/macaron/mac_i6.gif") no-repeat; .h(170px); .w(114px); .pa; bottom: 180px; left: -114px; }
}
.line{
	&1,&2,&3,&4 { background:url("@{pic_url}/images/activity/macaron/mac_line.gif") repeat-x; .h(21px); .hidden; .mt(20px); }
	&2 { .bp(0,-23px); }
	&3 { .bp(0,-46px); }
	&4 { .bp(0,-69px); }
}
.mlsrz { background:url("@{pic_url}/images/activity/macaron/mlsrz.gif") no-repeat; .h(98px); .w(102px); .pa; right: 0; top: 0; }
.shop_tle { border-bottom: 1px dashed #72aecd; color: #2d88b7; .f(18px); .h(40px); .l(40px); .ml(10px); .w(825px); }
.shop_logo { .pt(10px);
	a { .left; .hidden; .ml(10px); .h(66px); .w(66px);
		img { .h(66px); .w(66px); }
	}
}
.mac_foot { background:url("@{pic_url}/images/activity/macaron/mac_b.gif") repeat-x; .h(115px); 
	.bnr { background:url("@{pic_url}/images/activity/macaron/mac_b_p.gif") no-repeat center; .h(115px); }
}

#sideNav { background:url("@{pic_url}/images/activity/macaron/side_nav.png") no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/activity/macaron/side_nav.png', sizingMethod='scale'); _background-image:none; bottom: 150px; left: 0px; .h(220px); .w(80px); .pf; .none; padding: 49px 14px 0 12px; z-index: 9;
	a { .left; .mb(10px); .h(24px); .w(80px); }
	a.active { background:url("@{pic_url}/images/activity/macaron/side_nav1.gif") no-repeat; }
	.green.active { .bp(0,-35px); }
	.yellow.active { .bp(0,-69px); }
	.purple.active { .bp(0,-103px); }
	.blue.active { .bp(0,-137px); }
}
#feedback { .none; }
.webtop;
@import "../footer.less";

