@import "../block.less";

.go_shop{
	background: url('@{pic_url}/images/biz/apparel/go_shop.png') no-repeat;
}

.main{background: #fff8e8;.mb(-14px);.pr;}
.head_bg{
	background: #ff4d8a no-repeat center top;
	.inner{ .w(948px); .h(448px); .auto; .pr;
        .down{ .pa; .c; top:335px; left:303px; .f(20px); color:#ff3c73; font-family:SimHei; .fb;
            b{ .w(36px); .h(41px); .l(42px); background:url('@{pic_url}/images/huodong/sale420/timebg_fz.png') no-repeat; color:#fff; margin:0 8px; .f(24px); .i_block; .c; }        
		}
    }
}

.find{.pa;.h(40px);.w(40px);right: 0;bottom: 0;}

.coupon_wrap{
	.h(233px);.auto;.hidden;
	background:url('@{pic_url}/images/huodong/sale420/quan_fz.jpg') no-repeat center top;.bgc(#ff325b);
	.coupon_con{
		.w(967px);.auto;.mt(18px);
		.coupon_now{.left;.w(230px);margin: 135px 8px;}
		.coupon_time{.left;}
	}
	.coupon_num{
		.f(14px);.fc(#fff);.w(100%);.c;.mt(18px);
		span{.fc(#fff2c3);}
	}
	.coupon_time{
		.mt(110px);.ml(8px);.w(456px);
		.btn_status{.left;.w(173px);.mt(24px);.cursor;.ml(35px);}
		.timeStamp_wrap{.fc(#ff626b);.f(32px);.left;.ml(57px); .fb;}
	}
	.can_get{.w(173px);.h(26px);background:url('@{pic_url}/images/huodong/sale420/qiang.png') no-repeat center;.cursor;.auto;}
	.zero{.w(173px);.h(26px);background:url('@{pic_url}/images/huodong/sale420/zero.png') no-repeat center;.auto;}
	.has_get{.w(173px);.h(26px);background:url('@{pic_url}/images/huodong/sale420/get.png') no-repeat center;.auto;}
	.no_start{.w(173px);.h(26px);background:url('@{pic_url}/images/huodong/sale420/nostart.png') no-repeat center;.cursor;.auto;}
}
.apparel_wrap{
	.w(994px);.auto;.hidden;.pt(30px);.pr;
	.content{.mb(40px);.hidden;.pr;}
	.apparel_title{
		.w(992px);.auto;.pr;
		.apparel_title_more{
			.block;.w(120px);.h(60px);.pa;right: 0;top: 0;
			.indent;.hidden;
		}
		.fix_target{.pa;top: -40px;.w(0);}
	}
	.apparel_con{
		.bgc(#fff);
		.w(950px);.pb(10px);
		.auto;.hidden;
	}
	.apparel_box{
		.mt(10px);.ml(15px);.left;.w(218px);.hidden;
		img{border: solid 1px #c6c6c6;border-bottom: none;.w(216px);.h(320px);}
		em{.w(30px);.h(0);border-top: 1px solid #ccc;.i_block;.mb(6px);}
		p{.f(14px);.l(26px);.w(216px);.hidden;.c;.h(26px);}
		span{.f(20px);}
		.goods_img{
			.pr;.block;.h(321px);
			&:hover .mask{.block;.w(216px);.h(320px);}
		}
		.mask{.none;.pa;top: 0;left: 0;}
		.box_con{
			height: 95px;
			background-color: #fff;
			border: solid 1px #c6c6c6;
			background-image: -webkit-linear-gradient(bottom, rgba(242,240,240,.95), rgba(252,252,252,.95));
			background-image: -moz-linear-gradient(bottom, rgba(242,240,240,.95), rgba(252,252,252,.95));
			background-image: -o-linear-gradient(bottom, rgba(242,240,240,.95), rgba(252,252,252,.95));
			background-image: linear-gradient(to top, rgba(242,240,240,.95), rgba(252,252,252,.95));
			a{.f(18px);.fc(@darkGray);.l(32px);margin: 0 8px;}
			.goods_num{.h(35px);.l(30px);}
			.tuan_goods_num{.f(18px);.l(32px);.h(36px);}
			.tuan_price{.f(28px);}
			.o_price{.f(14px);.fc(@darkGray);.t-through;.pl(15px);}
			.go_shop{.w(84px);.h(25px);.auto;.indent;.bp(0, -37px);.cursor;.block;}
			.pre_go_shop{.bp(0, 0);}
		}
	}
	.clothing{.bp(22px, -543px);}
	.skirt{.bp(22px, -880px);}
	.trousers{.bp(22px, -600px);}
	.shoes{.bp(22px, -657px);}
	.bag{.bp(22px, -714px);}
	.accessories{.bp(22px, -770px);}
	.tuan{.bp(19px, -1002px);}
	.beauty{.bp(19px, -1070px);}
}

.fix_nav{
	background: no-repeat;
	.pf;top: 22%;left: 50%;.ml(505px);z-index: 300;.indent;.w(117px);.pt(45px);
	a{.block;.w(100%);.h(78px);}
	li a{.w(100%);.h(34px);}
}
#fixWidget, #goTop{
	display: none !important;
}
