@import "../block.less";

.wrap_box{ .w(100%); background:url('@{pic_url}/images/huodong/March_sale/topbgx2.jpg') repeat-x #ca1d46; .pb(200px); }
	.top_banner{ .w(100%); .h(483px); background:url('@{pic_url}/images/huodong/March_sale/topbg4.jpg') no-repeat center top; .hidden; .auto;
		.inner{ .w(950px); .h(483px); .auto; .pr;
			.jian5{ .pa; .w(244px); .h(52px); left:210px; bottom:97px; }
			.jian10{ .pa; .w(244px); .h(52px); right:210px; bottom:97px; }
		}
	}
.card{ .w(950px); .h(120px); .clearfix; .mb(20px); .auto;
	li{ .left; .w(230px); .h(120px); .mr(10px);
		a{ .left; }
	}
}
.price_box{ .w(990px); .h(411px); background:url('@{pic_url}/images/huodong/March_sale/price5.png') no-repeat; .auto; .pr; .mb(20px); .mt(-83px);
	.moveX_wrap{ .w(728px); .h(20px); .l(20px); .pa; .hidden; top:363px; left:185px;
		ul{ .w(1000%); .pa; left:0; .clearfix;
			li{ .mr(40px); .left; color:#7b4800; }
		}
	}
	.cj_pic{ .pa; .w(450px); .h(265px); left:49px ; top:74px; }
	.cj_normal{ background:url('@{pic_url}/images/huodong/March_sale/jiang_normal.png') no-repeat;  }
	.cj_over{ background:url('@{pic_url}/images/huodong/March_sale/jiang_over.gif') no-repeat;}
	.cj_click{ background:url('@{pic_url}/images/huodong/March_sale/jiang_click.png') no-repeat;}
	.vote{ .w(180px); .h(170px); .cursor; .pa; left:189px; top:145px; z-index:2; }
	.detail{ .w(124px); .h(35px); .cursor; .pa; right:58px; top:262px; }
	.times{ .pa; bottom:62px; left:228px; .fb; color:#662b00; }
}
.miao_tit{ .block; .w(990px); .h(75px); .auto; }
.miao{ .w(950px); .h(318px); .auto; background:#fff9d9; .mb(20px);
	.lunbo_box{ .w(896px); .h(318px); .auto; .clearfix;
		.left_btn{ .w(18px); .h(30px); background:url('@{pic_url}/images/huodong/March_sale/left.jpg') no-repeat; .left; .mt(138px); .cursor; }
		.pics{ .h(318px); .hidden; .pr; .w(860px);
			ul{ .pa; .w(1000%); left:0; .left;
				li{ .left; .w(860px); .h(284px);
					a{ .left; }
					img{ .left; .h(284px); .w(860px); }
				}
			}
		}
		.right_btn{ .w(18px); .h(30px); background:url('@{pic_url}/images/huodong/March_sale/right.jpg') no-repeat; .right; .mt(138px); .cursor; }
	}
}
.subBox{ .w(100%); .h(99px);
	.subNav{ .w(100%); .h(99px); 
		ul{ .w(950px); .h(99px); .auto; .hidden; .clearfix;
			li{ .left; 
				a{ .left; .w(316px); .h(99px); }
			}
		}
	}
	.sub0{ background:url('@{pic_url}/images/huodong/March_sale/nav2.jpg') no-repeat 0 0; }
	.sub1{ background:url('@{pic_url}/images/huodong/March_sale/nav2.jpg') no-repeat 0 -99px; }
	.sub2{ background:url('@{pic_url}/images/huodong/March_sale/nav2.jpg') no-repeat 0 -198px; }
	/*2级锚点小导航*/
	/*.thirdNav{ .w(990px); .h(40px); .l(40px); background:#fff0a6; .auto; .f(20px); color:#926600;
		a{ color:#926600;
			&:hover{ color:#926600; }
		}
		p{
			a{ padding:0 20px; }
			span{ color:#e9c871; }
		}
		.third0{ .tl; }
		.third1{ .c; }
		.third2{ .tr; }
	}*/
	img{ .block; .w(990px); .h(15px); .auto; }
}
.goods_box{ .w(928px); .auto; background:#fff9d9; padding: 20px 11px 0 11px; .clearfix;
	.firstPic{ .left; .w(210px); .h(388); margin:0 11px 20px 11px;}
	.goodsCon{ .left;.w(208px);.border-1(@color:#e6e6e6); margin:0 11px 20px 11px; background:#fff;
		.pic{ .block; .w(208px); .h(290px); .hidden; border-bottom:1px solid #e6e6e6;  }
		.goods_tit{ padding:4px 10px; .h(40px); .l(20px); .hidden; .block; }
		.goods_price{ padding:0 10px; .h(14px); .hidden;
			span{ .f(14px); }
			del{ color:#999999; .pl(6px); }
		}
		.likebuy{ .clearfix; padding:8px 10px 10px; .h(15px); .hidden; 
			img{ .mt(-1px); }
		}
	}
}
.pop_box{ padding:30px 40px; .c; 
	p{ .l(26px); color:#662b00; .f(14px); }
	a{ .mt(20px); }
}

/*活动规则页面*/
	.top_rule_banner{ .w(100%); .h(483px); background:url('@{pic_url}/images/huodong/March_sale/topbg_rule1.jpg') no-repeat center top; .hidden; .auto;
		.inner{ .w(950px); .h(483px); .auto; .pr;
			.rule1{ .pa; .w(244px); .h(52px); left:210px; bottom:97px; }
			.rule2{ .pa; .w(244px); .h(52px); right:210px; bottom:97px; }
		}
	}
.time_line{.w(990px); .h(419px); .mt(-54px); background: url('@{pic_url}/images/huodong/March_sale/time_line.jpg') no-repeat; .auto;}
.aijingxi{.w(990px); .h(540px); .pb(20px); .pr; background: url('@{pic_url}/images/huodong/March_sale/r_jingxi1.jpg') no-repeat; .auto;
		.rule3{ .pa; .w(200px); .h(88px); left:520px; top:93px;}
		.rule4{ .pa; .w(200px); .h(88px); right:50px; top:93px;}
	}
.aimanzeng{.w(990px); .h(637px); .pb(20px); .pr; background: url('@{pic_url}/images/huodong/March_sale/r_manzeng.jpg') no-repeat; .auto;}
.aichaopin{.w(990px); .h(378px); .pr; background: url('@{pic_url}/images/huodong/March_sale/r_chaopin1.jpg') no-repeat; .auto;
		a{ .pa; .w(204px); .h(113px); bottom:85px;}
		.rule5{ left:80px;}
		.rule6{ left:297px;}
		.rule7{ left:511px;}
		.rule8{ left:728px;}
	}
.back{ .w(264px); .h(55px); background:url('@{pic_url}/images/huodong/March_sale/back.jpg') no-repeat; .mt(30px); .auto; .block; }

