@import "../block.less";
@import "../window.less";

.poster;
.poster_icons;
.face_pop{ .window > .head_float; }
.fluid;
.page;
.pageNav{ .page > .pageRed; }

.topbg{ .w(100%); .h(498px); background:url('@{pic_url}/images/huodong/mbl_makeup/top1a.jpg') no-repeat center center; }
.shipin{ .w(100%); .h(464px); background:url('@{pic_url}/images/huodong/mbl_makeup/pic6.jpg') no-repeat center center;
	.inner{ .w(980px); .h(464px); .auto; .pr;
		.wei2{ .pa; .w(353px); .h(62px); bottom:50px; left:0; .cursor; }
		ul{ .pa; .w(280px); .h(29px); top:39px; left:373px; background:url('@{pic_url}/images/huodong/mbl_makeup/vedio_tab1.jpg') no-repeat; .clearfix;
			li{ .w(140px); .h(29px); .left; .cursor; }
		}
		.tab1{ background:url('@{pic_url}/images/huodong/mbl_makeup/vedio_tab1.jpg') no-repeat; }
		.tab2{ background:url('@{pic_url}/images/huodong/mbl_makeup/vedio_tab2.jpg') no-repeat; }
		.vedio1 , .vedio2{ .pa; top:86px; right: 18px; }
		.share{ .pa; .w(188px); .h(48px); bottom:4px; right:16px; .cursor; }
	}
}
.daren{ .w(100%); .h(546px); background:url('@{pic_url}/images/huodong/mbl_makeup/pic10.jpg') no-repeat center center;
	.inner{ .w(980px); .h(546px); .auto; .pr;
		a{ .pa; .w(354px); .h(60px); bottom:50px; left:322px; }
		ul{ .pa; .w(480px); .h(320px); top:98px; left:252px; .clearfix;
			li{ .left; .w(238px); .h(320px); .cursor; }
		}
	}
}
.mday{ .w(100%); .h(715px); background:url('@{pic_url}/images/huodong/mbl_makeup/pic9.jpg') no-repeat center center;
	.inner{ .w(980px); .h(715px); .auto; .pr;
		ul{ .pa; .w(280px); .h(29px); top:88px; left:22px; background:url('@{pic_url}/images/huodong/mbl_makeup/vedio_tab1.jpg') no-repeat; .clearfix;
			li{ .w(140px); .h(29px); .left; .cursor; }
		}
		.tab3{ background:url('@{pic_url}/images/huodong/mbl_makeup/tab3.jpg') no-repeat; }
		.tab4{ background:url('@{pic_url}/images/huodong/mbl_makeup/tab4.jpg') no-repeat; }
		.star1{ .pa; top: 122px; left:-89px; .w(1111px); .h(552px); background:url('@{pic_url}/images/huodong/mbl_makeup/star5.jpg') no-repeat;}
		.learn{ .pa; .w(356px); .h(60px); bottom:20px; left:154px; }
		.join{ .pa; .w(356px); .h(60px); bottom:20px; right:215px; .cursor; }
		.star2{ .pa; top: 122px; left:-89px; .w(1111px); .h(552px); background:url('@{pic_url}/images/huodong/mbl_makeup/star7.jpg') no-repeat;  }
	}
}
.close_btn{ .pa; .w(40px); .h(40px); top:10px; right:10px; .cursor;  }
.pop0{ .w(843px); .h(662px); background:url('@{pic_url}/images/huodong/mbl_makeup/darenpop1.jpg') no-repeat;
	.link{ .pa; .w(356px); .h(60px); bottom:56px; left:259px; }
}
.pop1{ .w(843px); .h(662px); background:url('@{pic_url}/images/huodong/mbl_makeup/darenpop2.jpg') no-repeat;
	.link{ .pa; .w(356px); .h(60px); bottom:56px; left:259px; }
}
.popwin1{ .w(501px); .h(483px); background:url('@{pic_url}/images/huodong/mbl_makeup/wei3a.jpg') no-repeat;
	.link{ .pa; .w(356px); .h(60px); bottom:66px; left:71px; }
}
.len_fixheight{ .w(960px); .auto; .h(1724px); overflow-y:scroll; overflow-x:hidden; .pr; }
.shes{ .w(100%); .h(1900px); background:url('@{pic_url}/images/huodong/mbl_makeup/pic5.jpg') no-repeat black top center; .pt(100px);
	.logo{ .w(417px); .h(92px); background:url('@{pic_url}/images/huodong/mbl_makeup/logo.jpg') no-repeat; margin:40px auto auto; }
}
.joinbox{ .w(741px); .h(522px); background:url('@{pic_url}/images/huodong/mbl_makeup/uppop1.jpg') no-repeat; .pr;
	.link{ .w(261px); .h(42px); .pa; top:34px; right:79px; }
	.sub1{ .pa; .w(183px); .h(53px); .l(53px); .c; color:#fff; .f(20px); right:113px; bottom:38px; background:none; border:0; .cursor; }
	.out{ .w(220px); .h(2px); border: 10px solid transparent;
		.inner1{ .w(12px); .h(20px); background:#de397d; .pa; left:100px; top:-9px; .cursor; }
		.bac{ .w(100%); .h(100%); background:#fff; }
	}
	.line1{ .pa; top:313px; right:48px; }
	.line2{ .pa; top:343px; right:48px; }
	.line3{ .pa; top:373px; right:48px; }
}
.candy{ background:url('@{pic_url}/images/huodong/mbl_makeup/uppop2.jpg') no-repeat; }
.name_box{ .w(741px); .h(487px); background:url('@{pic_url}/images/huodong/mbl_makeup/name1.jpg') no-repeat; .pr;
	.sub2{ .pa; .w(210px); .h(52px); .l(52px); .c; color:#fff; .f(20px); right:98px; bottom:32px; background:none; border:0; .cursor; }
	.inp1 , .inp2{ .pa; .w(307px); .h(26px); top:170px; right:42px; background:none; border:0; }
	.inp2{ top:248px; }
	img{ .w(244px); .h(344px); .pa; left:72px; top:122px; }
}
.success_box{ .w(741px); .h(487px); background:url('@{pic_url}/images/huodong/mbl_makeup/end1a.jpg') no-repeat; .pr;
	img{ .w(244px); .h(344px); .pa; left:72px; top:112px; }
	.link{ .w(318px); .h(52px); .pa; right:30px; bottom:30px; }
}
.mblUpWapper{ .w(244px); .h(344px); top:142px; left:62px; }
.upload_area{
	input{ .cursor; .pa; top:180px; right:38px; .cursor; .w(320px); .h(28px); }
}




