@import "../block.less";
@import "../window.less";
@import "../plugin/fancybox.less";

body{.bgc(#f9f9f9); .yahei;}

.mianView{.w(100%); .h(550px); background: url('http://d04.res.meilishuo.net/pic/_o/c0/19/bc39919a488dec1f3aacf591d321_1600_549.cg.jpg') no-repeat center top;}
.container{.w(100%); background: url('http://d02.res.meilishuo.net/pic/_o/24/6b/b9306dd007ca06ac99b20f50f8d7_2000_2960.ch.gif') repeat-y center top; .pb(100px);}
.main_box{.w(990px); .auto; .pr;}
.seemore{.block; .w(173px); .h(34px); .pa; top: 251px; left:262px; background: url('http://d05.res.meilishuo.net/pic/_o/34/e5/236214247afe8d4d38ea1292863b_1_1.cf.gif')}
.mmlink1,.mmlink2{background: url('http://d05.res.meilishuo.net/pic/_o/34/e5/236214247afe8d4d38ea1292863b_1_1.cf.gif');.block; .w(456px); .h(704px); .pa; top: 24px;}
.mmlink1{left:0;}
.mmlink2{right: 0;}
.fenge{.w(100%); .h(82px); 
	&.t1{.mt(-40px); background: url('http://d02.res.meilishuo.net/pic/_o/a1/f1/6034f093fa20171fece446568792_2000_82.cg.png') no-repeat center top;}
	&.t2{.mt(40px); background: url('http://d05.res.meilishuo.net/pic/_o/90/63/c4893ad22c30dd61aea41af833a9_2000_82.ch.png') no-repeat center top;}
}
.hdgz{.c; .fc(#848484); .l(20px); .pt(12px);
	h3{.bgc(#4b4b4b); .fc(#fff); .f(24px); .l(28px;); display: inline-block; .pl(5px);}
	p{.f(20px); .pt(10px); .pb(10px);
		.red{.fc(#cf6969)}
	}
	.small{.f(14px);}
}
.mm_box{.pr; .mt(25px); .clearfix;
	.pk{.w(122px); .h(122px); background: url('http://d05.res.meilishuo.net/pic/_o/a5/a7/a49153c187d9b32c31481318d6c5_122_122.cg.png') no-repeat center center; .pa; left: 435px; top: 158px; z-index: 10;}
	.mm_list{.w(489px); .left; .h(495px); .pr; .bgc(#fff);
		&.rr{float: right; .w(494px);}
		.tip{.w(100%); .h(56px); .pa; left: 0; bottom: 0;
			.tip_bg{background: rgba(0,0,0,.5); .w(100%); .h(100%);}
			.tip_nr{.w(100%); .pa; .h(56px); .c; left: 0; top: 0; .fc(#fff); .f(26px); .l(56px);
				.like{.pa; top: 15px; right: 20px; .f(20px); .fc(#ff74a1); .tr; .l(26px);
					.like_btn{.vm; .mr(10px);}
				}
			}
		}
	}
}
.pont_box{.w(100%); .pr; .hidden; background: url('http://d02.res.meilishuo.net/pic/_o/3e/96/a623ca64401198944ec68262894f_8_8.ch.gif'); .pt(21px); .pb(21px); .mt(28px); .mb(48px);
	ul{.w(105%); .clearfix; .bgc(#f9f9f9);
		li{.w(244px); .h(294px); .hidden; .left; .mr(5px); .pr;
			&:hover img{animation:pichover 3s; -webkit-animation:pichover 3s;
				@keyframes pichover{
					0% {transform:scale(1)}
					100% {transform:scale(1.3)}
				}
				@-webkit-keyframes pichover{
					0% {transform:scale(1)}
					100% {transform:scale(1.3)}
				}
			}
			.text{.w(100%); .h(50px); .l(50px); .c; .fc(#fff); .pa; left: 0; bottom: 0; background: rgba(0,0,0,.5); .f(22px);}			
		}
	}
}
.scroll_box{
	.w(766px); .auto; .pr; .mt(66px); .mb(58px);
	.scroll_bar{.w(631px); .h(307px); .pr; .auto; .hidden;
		ul{.h(307px);}
		li{.w(100%); .h(307px); .left;
			img{.block; .w(100%); .h(307px);}
		}
	}
	.goumai{.c; .pt(38px);}
	a.prev,a.next{.w(36px); .h(47px); .pa; top: 120px; background: url('http://d03.res.meilishuo.net/pic/_o/2c/b9/835a88e317839df08cd6c364ff3a_72_94.cf.png') no-repeat left top;}
	a.prev{left:0; background-position: left top;
		&:hover{background-position: left bottom;}
	}
	a.next{right:0; background-position: right top;
		&:hover{background-position: right bottom;}
	}
}
.more_pro{.w(100%); .h(1050px); .bgc(#fff); .c; .pr;
	a.link{.block; .w(470px); .h(340px); background: url('http://d05.res.meilishuo.net/pic/_o/34/e5/236214247afe8d4d38ea1292863b_1_1.cf.gif'); .pa;
		&.l1{left: 0; top: 140px;}
		&.l2{right: 0; top: 140px;}
		&.l3{left: 0; top: 524px;}
		&.l4{right: 0; top: 524px;}
	}
}

