@import "../block.less";
body{background: #fdeef5;}
.w_main{.w(100%);.h(726px);background:url('http://d04.res.meilishuo.net/pic/_o/42/f3/708cfbf991863f6d087f1307dab3_2000_726.cf.jpg') no-repeat top center;
  .main{.pr;.w(1000px);.h(100%);.auto;
    .box{.pa;top:478px;left:101px;.w(400px);.h(246px);}
  }
}
.banner2{.w(100%);.h(741px);background:url('http://d05.res.meilishuo.net/pic/_o/b6/8a/33b9f4d0f37da2f759432bc230a6_2000_741.cg.jpg') no-repeat top center;}
.banner3{.w(100%);.h(490px);background:url('http://d03.res.meilishuo.net/pic/_o/a9/75/931fe81820c0dc3d7a4a30d33184_2000_490.ch.jpg') no-repeat top center;}
.banner4{.w(100%);.h(685px);background:url('http://d05.res.meilishuo.net/pic/_o/ef/eb/2f28d83a0b4f0686827747d3b4cc_2000_685.cf.jpg') no-repeat top center;}
.banner5{.w(100%);.h(470px);background:url('http://d04.res.meilishuo.net/pic/_o/64/0b/ee422d46a5565fea989832d5d51b_2000_470.ch.jpg') no-repeat top center;}
.banner6{.w(100%);.h(425px);background:url('http://d02.res.meilishuo.net/pic/_o/30/63/458a4c64a207fe2ed58b5c516a14_2000_425.ch.jpg') no-repeat top center;}
.banner7{.w(100%);.h(285px);background:url('http://d01.res.meilishuo.net/pic/_o/8a/13/a03e5dabb1b1c764433b407a131a_2000_285.ch.jpg') no-repeat top center;}
.banner8{.w(100%);.h(700px);background:url('http://d02.res.meilishuo.net/pic/_o/c4/99/50aa0b8d2d349aadeb43947b85f8_2000_700.ch.jpg') no-repeat top center;}
.banner9{.w(100%);.h(490px);background:url('http://d03.res.meilishuo.net/pic/_o/36/d8/d2548c0e33eaf29db1bb5e7baace_2000_490.ch.jpg') no-repeat top center;}
.banner10{.w(100%);.h(678px);background:url('http://d04.res.meilishuo.net/pic/_o/2b/1a/0aa32e82f18302ee8fba6b1cab1f_2000_678.ch.jpg') no-repeat top center;}
.banner11{.w(100%);.h(720px);background:url('http://d01.res.meilishuo.net/pic/_o/b0/7f/6963e3b9b3ba2810f51a99d80cb2_2000_720.cg.jpg') no-repeat top center;}
.banner12{.w(100%);.h(488px);background:url('http://d01.res.meilishuo.net/pic/_o/77/e8/54339224840840bcd5fd51a77cdd_2000_488.cg.jpg') no-repeat top center;}
.banner13{.w(100%);.h(525px);background:url('http://d01.res.meilishuo.net/pic/_o/fb/da/5a4539c9aeb26361bb7048a502a8_2000_525.ch.jpg') no-repeat top center;}
.banner14{.w(100%);.h(575px);background:url('http://d01.res.meilishuo.net/pic/_o/af/61/a16aca45fa9b565ad806348a6894_2000_575.cf.jpg') no-repeat top center;}
.banner15{.w(100%);.h(460px);background:url('http://d02.res.meilishuo.net/pic/_o/ae/b0/1d5fa5f39c963e299fbe7cbe2271_2000_460.cf.jpg') no-repeat top center;}
.banner16{.w(100%);.h(750px);background:url('http://d03.res.meilishuo.net/pic/_o/23/0f/9291ba89ec0a175a0c5d0e02dfe9_2000_750.ch.jpg') no-repeat top center;}
.banner17{.w(100%);.h(606px);background:url('http://d01.res.meilishuo.net/pic/_o/13/d1/0f11e6db16e202f8d77504d1bfcb_2000_606.cf.jpg') no-repeat top center;}


.content{.pr;.w(1000px);.h(100%);.auto;
    .link{.block;float:left;.w(250px);.h(360px);}
}


.head_bnr {display:none}