@import "../block.less";
.bg1,.bg2,.bg3,.bg4,.bg5{.w(100%);.auto;}
.main{.w(1149px);.auto;.pr;.h(100%);
  a{.block;.pa;}
}
.bg1{.h(776px);background: url("@{pic_url}/images/huodong/olay/bg1.jpg") center center no-repeat;
  a{left:520px;top:350px;.w(265px);.h(60px)}
}
.bg2{.h(355px);background: url("@{pic_url}/images/huodong/olay/bg2.jpg") center center no-repeat;
  .intro_video{.pa;.w(435px);.h(352px);left:119px;top:0px;}
  .l1{right:194px;bottom:21px;.w(260px);.h(60px)}
}
.bg3{.h(794px);background: url("@{pic_url}/images/huodong/olay/bg3.jpg") center center no-repeat;
}
.bg4{.h(662px);background: url("@{pic_url}/images/huodong/olay/bg4.jpg") center center no-repeat;
}
.bg5{.h(636px);background: url("@{pic_url}/images/huodong/olay/bg5.jpg") center center no-repeat;
  .l1{right:245px;top:128px;.w(230px);.h(45px)}
  .l2{left:170px;bottom:35px;.w(190px);.h(260px)}
  .l3{left:383px;bottom:35px;.w(190px);.h(260px)}

}
 .bg6{.h(637px);background: url("@{pic_url}/images/huodong/olay/line2.jpg") repeat-x #fecbe7;
   .main{
     background: url("@{pic_url}/images/huodong/olay/bg6.jpg") no-repeat center center;.h(100%);
     .l1{left:202px;top:137px;.w(230px);.h(45px)}
     .l2{right:292px;bottom:35px;.w(190px);.h(320px)}
     .l3{right:90px;bottom:35px;.w(190px);.h(260px)}

   }
 }
 .bg7{.h(635px);background: url("@{pic_url}/images/huodong/olay/line3.jpg") repeat-x #fff3cf;
    .main{
      background: url("@{pic_url}/images/huodong/olay/bg7.jpg") no-repeat center center;.h(100%);
      .l1{right:268px;top:140px;.w(230px);.h(45px)}
      .l2{left:150px;bottom:35px;.w(190px);.h(260px)}
      .l3{left:370px;bottom:35px;.w(190px);.h(260px)}
    }
 }

.bg8{.h(662px);background: url("@{pic_url}/images/huodong/olay/line1.jpg") repeat-x #5dcdd5;
  .main{
    background: url("@{pic_url}/images/huodong/olay/bg8.jpg") no-repeat center center #5dcdd5;.h(100%);
    .l1{left:202px;top:137px;.w(230px);.h(45px)}
    .l2{right:292px;bottom:35px;.w(190px);.h(320px)}
    .l3{right:90px;bottom:35px;.w(190px);.h(260px)}
  }


}
.bt{.w(100%);.bgc(#034685);.h(135px);.mt(-1px)}

#fixWidget{display: none}