@import "../block.less";
@import "../atom.less";

.bd{.w(100%);background-color:#fdfcea;
	.top1{.h(484px);.auto;.pr;.w(1256px);
		background:url("@{pic_url}/images/activity/onecent/top1.jpg") no-repeat center center;
	}
	.main{.auto;.w(1256px);
		.sec1{.h(631px);background:url("@{pic_url}/images/activity/onecent/cent1.jpg") no-repeat center center;.pr;
		      .android{.i_block;.pa;.w(213px);.h(60px);right:51px;top:66px;}
			  .iphone{.i_block;.pa;.w(213px);.h(60px);right:51px;top:141px;}
	}
		.sec2{.h(513px);background:url("@{pic_url}/images/activity/onecent/cent2.jpg") no-repeat center center;}
		.sec3{.h(532px);background:url("@{pic_url}/images/activity/onecent/cent3.jpg") no-repeat center center;}
		.sec4{.h(495px);background:url("@{pic_url}/images/activity/onecent/cent4.jpg") no-repeat center center;.pr;
			  .android{.i_block;.pa;.w(213px);.h(60px);right:196px;bottom:213px;}
			  .iphone{.i_block;.pa;.w(213px);.h(60px);right:196px;bottom:137px;}
		}
	}


}
