@import "../block.less";
@import "../window.less";

.wlf{ .w(950px); .h(755px); .auto; background:url('@{pic_url}/images/huodong/origins_marry/top5.jpg') no-repeat; .pt(1px);  .pr; 
	.olink{ .pa; .w(75px); .h(26px); top:243px; left:353px; }
	.free_box{ .auto; .mt(450px); }
	.btn_apply { .hidden;}
	.wf_ico1, .wf_ico2, .wf_ico3, .wf_ico4 { background: url("@{pic_url}/images/welfare/wf_btn1.png") no-repeat; .h(46px); .w(175px);}
	.wf_ico1 { .bp(0, 0); }
	.wf_ico2 { .bp(0, -52px); }
	.wf_ico3 { .bp(0, -104px); }
	.wf_ico4 { .bp(0, -155px); }
	.wf_msg { .l(20px); .w(144px); .right; .mt(10px); }
}
.rule{ .w(950px); .h(350px); .auto; .mt(10px); .mb(20px); background:url('@{pic_url}/images/huodong/origins_marry/rule2.jpg') no-repeat;  }
.main{ .w(950px); .h(1366px); .auto; background:url('@{pic_url}/images/huodong/origins_marry/products1.jpg') no-repeat;
	ul{ .ml(10px); .clearfix; }
	li{ .left; .w(304px); .h(448px); .pr; .mb(8px);
		.pop_btn1{ .pa; .w(110px); .h(24px); left:42px; bottom:36px; .cursor; }
		.link2{ .pa; .w(80px); .h(24px); left:198px; bottom:36px; }
		.pop_btn2{ .pa; .w(232px); .h(150px); left:38px; top:122px; .cursor; }
	}
}
#pop_box{ .w(644px); .h(386px); .pr;
	.tui{ .pa; .w(104px); .h(30px); left:55px; bottom:40px; .white; .c; .l(29px); .f(18px); border:0; background:none; .cursor; }
	input{ .pa; border:0; background:none; .w(524px); .h(24px); left:54px; bottom:84px; .pl(6px); color:#aeaeae; }
	a{ .pa; .w(156px); .h(24px); right:60px; bottom:47px; }
}
.pop0{  background:url('@{pic_url}/images/huodong/origins_marry/pop11.jpg') no-repeat; }
.pop1{  background:url('@{pic_url}/images/huodong/origins_marry/pop22.jpg') no-repeat; }
.pop2{  background:url('@{pic_url}/images/huodong/origins_marry/pop33.jpg') no-repeat; }
.pop3{  background:url('@{pic_url}/images/huodong/origins_marry/pop77.jpg') no-repeat; }
.pop4{ background:url('@{pic_url}/images/huodong/origins_marry/pop88.jpg') no-repeat; }
.pop5{ background:url('@{pic_url}/images/huodong/origins_marry/pop66.jpg') no-repeat; }
.pop6{  background:url('@{pic_url}/images/huodong/origins_marry/pop44.jpg') no-repeat; }
.pop7{  background:url('@{pic_url}/images/huodong/origins_marry/pop55.jpg') no-repeat; }
.pop8{  background:url('@{pic_url}/images/huodong/origins_marry/pop99.jpg') no-repeat; }
.over{ .w(644px); .h(386px); .pr;background:url('@{pic_url}/images/huodong/origins_marry/share.jpg') no-repeat;
	.share_sina{ .w(116px); .h(30px); .pa; left:259px; bottom:119px; .cursor; }
}
.close_btn{ .pa; .w(40px); .h(40px); top:10px; right:10px; .cursor;  }


