@import "../block.less";
@import "../atom.less";

.p_main{.w(100%);background-color:#ffe8c7;
	.t{.w(100%);.h(375px);background: url('@{pic_url}/images/biz/phonepriv/618pay_01_1.jpg') no-repeat center top;}
	.t2{.w(100%);.h(340px);background:url('@{pic_url}/images/biz/phonepriv/618pay_02_11.jpg') no-repeat center top;}
	.t3{.w(100%);.h(247px);background:url('@{pic_url}/images/biz/phonepriv/618pay_03_2.jpg') no-repeat center top;.pr();
		.t3_box{.w(950px);.auto();.h(262px);.pr();
			a.free{.w(90px);.h(30px);.block();.pa();left:440px;top:170px}
		}
	}
	.t4{.w(100%);.h(141px);background:url('@{pic_url}/images/biz/phonepriv/618pay_04_4.jpg') no-repeat center top;.pr();
		.t4_box{.w(950px);.auto();.h(239px);.pr();
			a.detail{.w(95px);.h(30px);.block();.pa();left:232px;top:170px;}
		}
	}
	.t5{.w(100%);.h(165px);background:url('@{pic_url}/images/biz/phonepriv/618pay_05_1.jpg') no-repeat center top;.pr();
		.t5_box{.w(950px);.auto();.h(165px);.pr();
			a.tuan618{.w(390px);.h(45px);.block();.pa();left:490px;top:30px;}
		}
	}
	.t6{.h(100px)}
}