@import "../block.less";
@import "../atom.less";

.banner{.w(100%);.h(420px);background:url("@{pic_url}/images/biz/salePrice/prepare06_01.jpg") no-repeat top center;}
.title{.w(100%);.h(625px);background:url("@{pic_url}/images/biz/salePrice/prepare06_02.jpg") no-repeat top center;}
.text{.w(100%);.h(690px);background:url("@{pic_url}/images/biz/salePrice/prepare06_03.jpg") no-repeat top center;}
.picBg{.w(100%);.pr;}
.picBox01{.picBg;.h(940px);background:url("@{pic_url}/images/biz/salePrice/prepare06_04.jpg") no-repeat top center;
	.main{.pr;.w(954px);.h(940px);margin:0 auto;
		.a1{.block;.pa;left:0;top:30px;.w(474px);.h(584px);}
		.a2{.block;.pa;right:0;bottom:0;.w(475px);.h(594px);}
		.a3{.block;.pa;left:0;bottom:0;.w(476px);.h(270px);}
	}
}
.picBox02{.picBg;.h(710px);background:url("@{pic_url}/images/biz/salePrice/prepare06_05.jpg") no-repeat top center;
	.main{.pr;.w(954px);.h(710px);margin:0 auto;
		.a3{.block;.pa;left:0;top:0;.w(380px);.h(380px);}
		.a4{.block;.pa;right:0;bottom:0;.w(480px);.h(682px);}
		.a5{.block;.pa;left:0;bottom:0;.w(470px);.h(305px);}
	}
}
.picBox03{.picBg;.h(665px);background:url("@{pic_url}/images/biz/salePrice/prepare06_06.jpg") no-repeat top center;
	.main{.pr;.w(954px);.h(665px);margin:0 auto;
		.a5{.block;.pa;left:0;top:0;.w(470px);.h(350px);}
		.a6{.block;.pa;right:0;bottom:0;.w(480px);.h(620px);}
		.a7{.block;.pa;left:0;bottom:0;.w(470px);.h(245px);}
	}
}
.picBox04{.picBg;.h(621px);background:url("@{pic_url}/images/biz/salePrice/prepare06_07.jpg") no-repeat top center;
	.main{.pr;.w(954px);.h(621px);margin:0 auto;
		.a7{.block;.pa;left:0;top:0;.w(422px);.h(370px);}
		.a8{.block;.pa;right:0;bottom:0;.w(477px);.h(565px);}
		.a9{.block;.pa;left:0;bottom:0;.w(470px);.h(239px);}
	}
}
.picBox05{.picBg;.h(690px);background:url("@{pic_url}/images/biz/salePrice/prepare06_08.jpg") no-repeat top center;
	.main{.pr;.w(954px);.h(690px);margin:0 auto;
		.a9{.block;.pa;left:0;top:0;.w(420px);.h(280px);}
		.a10{.block;.pa;right:0;bottom:0;.w(477px);.h(620px);}
	}
}
.botom{.w(100%);.h(947px);background:url("@{pic_url}/images/biz/salePrice/prepare06_09.jpg") no-repeat top center;
	.total{.block;.pr;top:70px;.w(900px);.h(760px);.auto}
}