@import "../block.less";
@import "../window.less";

.mc-bd{
    .w(100%);
}
.main-cont{.w(1050px);.auto;.h(100%);.pr;}
.mc-{
    &bg1{
         .h(671px);
        background:url("@{pic_url}/images/huodong/qqxuanwu/qqxw-nbg1.jpg") no-repeat center center;
    }
    &bg2{
         .h(696px);
        background:url("@{pic_url}/images/huodong/qqxuanwu/qqxw-nbg2.jpg") no-repeat center center;
    }
    &bg3{
         .h(708px);
        background:url("@{pic_url}/images/huodong/qqxuanwu/qqxw_ding-bg4.jpg") no-repeat center center;
        .step1{
            .pr;
            .w(100%);
            .video_l{
                .ml(2px);
                .pt(8px);
                li{
                    cursor: pointer;
                    .pr;
                    .w(153px);
                    .h(160px);
                    .mb(8px);
                    padding: 5px;
                   .vote_btn{
                       .pa;
                       .w(90px);
                       .h(17px);
                       .bgc(#5800a2);
                       .fc(#FFFFFF);
                       text-align: center;
                       .l(16px);
                       bottom:10px;
                       left: 37px;
                       border-radius: 5px;
                   }
                }
                .stop_btn{
                    display: none;
                    .pa;
                     bottom: 51px;
                    left: 69px;
                }
                li.on-check{
                    border: 5px solid #da58c5;
                    padding: 0;
                    .vote_btn{
                        .bgc(#ff00fc);
                        bottom: 4px;
                        left: 31px;
                    }
                    
                }
                li.on-checked{
                    border: 5px solid #da58c5;
                    padding: 0;
                    .stop_btn{
                        display: block;
                    }
                     .vote_btn{
                        .bgc(#ff00fc);
                        bottom: 4px;
                        left: 31px;
                    }
                }
            }
            .video_r{
                .pa;
                top:8px;
                right:70px;
                 li{
                     cursor: pointer;
                     .pr;
                    .w(153px);
                    .h(160px);
                    .mb(8px);
                    padding: 5px;
                    .vote_btn{
                       .pa;
                       .w(90px);
                       .h(17px);
                       .bgc(#5800a2);
                       .fc(#FFFFFF);
                       text-align: center;
                       .l(16px);
                       bottom:10px;
                       left: 37px;
                       border-radius: 5px;
                   }
                }
                .stop_btn{
                    display: none;
                    .pa;
                    bottom: 50px;
                    left: 69px;
                }
                li.on-check{
                    border: 5px solid #da58c5;
                    padding: 0;
                    .vote_btn{
                        .bgc(#ff00fc);
                        bottom: 4px;
                        left: 33px;
                    }
                }
                li.on-checked{
                    border: 5px solid #da58c5;
                    padding: 0;
                    .stop_btn{
                        display: block;
                    }
                     .vote_btn{
                        .bgc(#ff00fc);
                        bottom: 4px;
                        left: 33px;
                    }
                }
            }
            .video-box{
                background: black;
                .pa;
                .w(570px);
                .h(425px);
                top:29px;
                left: 206px;
            }
            #singer_desc{
                .pa;
                .w(575px);
                .h(175px);
                bottom: 36px;
                left: 204px;
            }
        }
    }
    &bg4{
         .h(603px);
        background:url("@{pic_url}/images/huodong/qqxuanwu/qqxw-nbg4.jpg") no-repeat center center;
        #share_sina{
            .pa;
            top:58px;
            right:244px;
            .w(32px);
            .h(32px);
        }
        #share_qzone{
            .pa;
            top:58px;
            right:281px;
            .w(32px);
            .h(32px);
        }
        #share_qqwb{
            .pa;
            top:58px;
            right:322px;
            .w(32px);
            .h(32px);
        }
        #more_1{
            .pa;
            .w(100px);
            .h(20px);
            bottom:205px;
            right: 222px;
            
        }
        #more_2{
            .pa;
            .w(100px);
            .h(20px);
            bottom:42px;
            right: 385px;
            
        }
    }
    &bg5{
         .h(681px);
        background:url("@{pic_url}/images/huodong/qqxuanwu/qqxw-nbg5.jpg") no-repeat center center;
       #topic{
           text-indent: 90px;
           .pa;
           top:105px;
           left: 70px;
           .w(775px);
           .h(72px);
           padding: 10px;
           border: 1px solid #FFFFFF;
           .f(14px);
           .fc(#454545);
           z-index: 100;
       }
       #tag{
           .pa;
           .block;
           .w(88px);
           .h(15px);
           top:117px;
           left: 80px;
            z-index: 101;
            color: #454545;
       }
       #btnSub{
           .pa;
           top:215px;
           right:182px;
           .w(105px);
           .h(40px);
           z-index: 100;
       }
       .step2{
           .pr;
           .w(100%);
           .pt(260px);
       }
       #topicList{
           .w(795px);
           .h(290px);
           .ml(70px);
           .h(290px);
           overflow-y: auto;
           .topicItem{
               .w(95%);
               overflow: hidden;
               .pr;
               min-height: 75px;
               .mb(30px);
               .user_img{
                   .pa;
                   top:0;
                   left: 0;
                   .w(75px);
                   .h(75px);
                   border-radius: 50%;
               }
               .con_r{
                   .ml(85px);
                   .user_info{
                       .f(16px);
                       .fc(#e4ff00);
                       .l(30px);
                       font-weight: 100;
                   }
                   .user_topic{
                       .f(14px);
                       .fc(#FFFFFF);
                       .l(20px);
                   }
               }
           }
       }
    }
}
.pageNav a{
    background-color: #C22EFF;
}
.head_bnr{
    display: none!important;
}