@import "../block.less";
@import "../window.less";

.goShare(){
  .goShare{.w(230px);.h(46px); .auto; .block; .cursor; }
}

.main > div{
  .auto;.pr;
}

.main {
  .pr;
  background-color: #fff1d4;
  .banner {
    .h(400px);
    background: url("@{pic_url}/images/biz/shareOrderIntro/so1.png") no-repeat top center;
  }
  .head {
    .h(100px);
    background: url("@{pic_url}/images/biz/shareOrderIntro/so2.png") no-repeat top center;
    padding-top: 309px;
    .goShare;
  }
  .content1 {
    .h(1202px);
    background: url("@{pic_url}/images/biz/shareOrderIntro/so3.png") no-repeat top center;
  }
  .content2 {
    .h(246px);
    background: url("@{pic_url}/images/biz/shareOrderIntro/so5.png") no-repeat top center;
    padding-top: 1190px;
    .goShare;
  }
  .discuss {
    .w(950px);
    .clearfix;
    .bgwhite;
    .pb(58px);
    .shareBtn{
      .w(229px);
      .h(42px);
      .auto;
      .block;
      .cursor;
      background: url("@{pic_url}/images/biz/shareOrderIntro/so6.png") no-repeat top center;
    }
  }
}
  .reply_list { .mt(20px);.w(710px);.auto;border-right:1px solid #e5e5e5;border-left:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5}
  .reply_item {padding-bottom:10px}
  .reply_con { .w(608px); padding: 0 20px; .pr; .break-word; .left;
    h3 { .left; }
    .time { .right; }
    .reply_name { .gray; .f(14px); }
    p { color:#333; .f(14px); .l(20px); text-align: justify;word-break: break-all;word-wrap: break-word; .w(532px);}
    .a1{ .red; .pr(4px); }
  }
  .item_bar { .mt(10px);
    span { .cursor; .right; }
    .item_reply { .red; .ml(10px); }
  }
  .ico { background:url("@{pic_url}/images/group/twitter_ico.gif") no-repeat scroll 0 -20px transparent; .h(20px); .w(10px); left:-10px; top:10px; .pa;}
  .pic_big { .left; .pr;
    .view_larger { background:url("@{pic_url}/images/original_pic_ico_n.gif") no-repeat scroll 0 0 transparent; .left; .h(28px); left:5px; .pa; top:5px; .w(93px); }
  }
  .price { .pa; bottom: 0; right: 0; .w(64px); .h(26px); .l(26px); opacity: 0.8; filter: alpha(opacity=80); background: #fff; .c; }
  .reply_box{ background:#F7F7F7; border:1px solid #EEE; .mt(10px); padding:10px; .w(646px); .reply; .right;}
  .reply_item>a{ .ml(20px); }
  .reply_se{ border-bottom:1px solid #e5e5e5; .pr; .mb(20px);
    span{ background: url("@{pic_url}/images/club/reply_se.png") no-repeat; .pa; top: -11px; left: 6px; .w(8px); .h(23px); }
    .first_reply{background: none;}
  }
  .toolwrap{.left;.l(24px);}
  .goodsWrap{
    background: #f5f5f5;.mt(20px);.l(20px);border: 1px solid #E6E6E6;
    &:hover{border-color: @red;}
    .imgWrap{.left;.h(100px);}
    .imgWrap img{.h(100px);margin: 0;}
    .titleWrap{padding: 20px;.left;.w(430px);}
    .goodstitle{.f(12px);.block;.pb(18px);}
    .goods_title{.f(12px);margin: 0;.w(80%);.h(40px);.hidden;.l(20px);}
    span{.f(16px);.fb;}
    .go_item{.w(94px);.h(30px);.l(30px);.c;.fc(#fff);.bgc(@red);text-decoration: none;.f(14px);.mt(15px);.right;}
  }

.paging_panel { .mt(20px); }
.pageNav{.page > .pageRed; }

.content_sg {  .w(600px); .auto; .pr;
  .a1{ .red; .pr(4px); }

  .img_sg { .mt(20px); }

  .share{.w(106px);margin: 0;.f(12px);}
  .reply_goods { .ml(20px); }
  .replay_off, .reply_btn { .i_block; .w(64px); .h(22px); .right; .l(22px); .white; .cursor; background: #f69; .c; .f(12px); }
  .replay_off { background: #bebebe; cursor: default;}
}
.reply_block{
  .no_login, .no_replay{
    background: #e3e3e3;
    .w(563px); .h(128px);
    .c; .l(128px);
  }
}
.reply_sg { .h(100px); .w(536px);.f(12px);.gray; padding: 13px; .border-1c; .mt(20px); }

/*没有登录和回复权限的用户，icon，后期需要整合到雪碧图里*/
.reply_img_off, .reply_goods_off{.ml(20px);}
.reply_img_off:hover, .reply_goods_off:hover{.fc(#666);}
.share_smileys_off, .reply_img_off .cl_i_img, .reply_goods_off .cl_i_link{background: url("@{pic_url}/images/club/club_icos_off.png") no-repeat;}
.share_smileys_off{padding: 0px 15px;}
.reply_img_off .cl_i_img{.bp(-39px, 2px);}
.reply_goods_off .cl_i_link{.bp(-70px, 2px);}

.reply_bar { .h(22px); .f(14px); .mr(37px);
  .img_wraper { z-index: 99; top: 30px; left: 30px; }
  .holder { background: #FFF; .border-1; padding:8px; .box-shadow; .pr;
    .tedit_icon { .h(20px);
      .close_z { .mt(0); }
    }
  }
  .goods_holder { .w(310px);
    .goodspic, .goodspic img { .h(150px); .w(150px); .hidden;}
    .goodspic_r { .right; .w(150px);
      h3 { .l(20px); .f(14px); .fb;}
      .goods_price { .mt(14px); .f(22px); }
    }
  }
  .upload_pic_holder { .w(150px); }
  /* 图片上传 */
  .club_imgupload{
    .w(60px);.h(22px);
    .hidden;
    .pa;top: 0px;left: 59px;
    .upload_file{
      .f(40px);.ml(-500px);
    }
  }
}


.btn_bar { background: #f2f0f0; .h(22px); .l(22px); padding: 0 10px; .block;.left;.mr(1px);.inline;}
.bar { .mt(22px); .h(22px); }

//验证码
.checkBox {
  .w(220px);.left;.ml(200px);
  label{.left;}
  .l_ipt{.w(64px);.h(22px);.bgc(#fff);
    .border-1(#ccc);
  }
  .checkImage{
    .cursor;
    span{.pl(10px);}
  }
}

.footer{margin-top:0px}