@import "../block.less";
body{
	background-color: #dafdf5;
}
.top{
	.h(544px);background:url("@{pic_url}/images/huodong/teabeauty/top.jpg") no-repeat center center;	
}
.main-cont{
	.w(1000px);.auto;.pr;height: 100%;
}

.video-area{
	.h(303px);.auto;background:url("@{pic_url}/images/huodong/teabeauty/videoarea.jpg") no-repeat center center;	
	.c20{.pa;right:103px;top:0;.w(265px);.h(140px);}
	.c10{.pa;right:103px;top:162px;.w(265px);.h(140px);}
}
.video{.pa;left:100px;top:7px;}
.beauty-area{
	.h(807px);.auto;background:url("@{pic_url}/images/huodong/teabeauty/change1.png") no-repeat center center;	
	a{.i_block;.pa;}
	.a1{left:126px;top:308px;.w(145px);.h(65px)}
	.a2{left:124px;top:672px;.w(145px);.h(65px)}

	.changepic{.pa;right:61px;bottom:14px;width:300px;height:500px;background:url("@{pic_url}/images/huodong/teabeauty/changepic222.jpg");}
}

.daren-wxq{
	.h(714px);.auto;background:url("@{pic_url}/images/huodong/teabeauty/dren.png") no-repeat center center;	
}

.sharedr1{
	.h(490px);.auto;background:url("@{pic_url}/images/huodong/teabeauty/sharedaren1.png") no-repeat center center;	
}
.sharedr2{
	.h(615px);.auto;background:url("@{pic_url}/images/huodong/teabeauty/drbg.jpg") no-repeat center center;	
}

.daren-wxq{a{.pa;.i_block;right:46px;bottom: 7px;.w(362px);.h(130px);}}
.dr-jxj{.h(726px);background:url("@{pic_url}/images/huodong/teabeauty/jdj.jpg") no-repeat center center;
	a{.pa;.i_block;right:10px;bottom: 30px;.w(335px);.h(115px);}
}
.tb-dr1{.pr;
	div{.pa;}
	a {.block;.cursor;}	
	.tb-meng{background: rgba(255, 255, 255, 0.8);filter:~"progid:DXImageTransform.Microsoft.gradient(startcolorstr=#80ffffff,endcolorstr=#80ffffff)";
		.pa;left:0;top:0;}
	.tb-c1,.tb-c2,.tb-c3,.tb-c4,.tb-c5,.tb-c6{background:url("@{pic_url}/images/huodong/teabeauty/dr1.jpg");}
	.tb-d1{left:57px;top:27px;
		a{.w(220px);.h(160px);}
		.tb-c1{.bp(0,0)}
	}
	.tb-d2{left:57px;top:187px;
		a{.w(220px);.h(220px);}
		.tb-c2{.bp(0,220px)}
	}
	.tb-d3{left:277px;top:27px;
		a{.w(218px);.h(380px);}
		.tb-c3{.bp(-220px,0)}
	}
	.tb-d4{left:495px;top:27px;
		a{.w(218px);.h(380px);}
		.tb-c4{.bp(-438px,0)}
	}
	.tb-d5{left:713px;top:27px;
		a{.w(220px);.h(220px);}
		.tb-c5{.bp(-658px,0)}
	}
	.tb-d6{left:713px;top:247px;
		a{.w(220px);.h(160px);}
		.tb-c6{.bp(-658px,160px)}
	}

	.wa0{left:277px;bottom: 303px}
	.wa1{left:277px;bottom: 83px}
	.wa2{left:57px;bottom: 83px}
	.wa3{left:713px;bottom: 83px}
	.wa4{left:495px;bottom: 243px}
	.wa5{left:495px;bottom: 83px}



	.tb-darentext{.w(210px);background:#EEE;padding:4px;.l(18px);.pa;.none;}

}

.tb-dr2{.pr;
	div{.pa;}
	a {.block;.cursor;}	
	.tb-meng{background: rgba(255, 255, 255, 0.8);filter:~"progid:DXImageTransform.Microsoft.gradient(startcolorstr=#80ffffff,endcolorstr=#80ffffff)";
		.pa;left:0;top:0;}
	.tb-c1,.tb-c2,.tb-c3,.tb-c4,.tb-c5,.tb-c6{background:url("@{pic_url}/images/huodong/teabeauty/dr2.jpg");}
	.tb-d1{left:57px;top:27px;
		a{.w(220px);.h(160px);}
		.tb-c1{.bp(0,0)}
	}
	.tb-d2{left:57px;top:187px;
		a{.w(220px);.h(220px);}
		.tb-c2{.bp(0,220px)}
	}
	.tb-d3{left:277px;top:27px;
		a{.w(218px);.h(380px);}
		.tb-c3{.bp(-220px,0)}
	}
	.tb-d4{left:495px;top:27px;
		a{.w(218px);.h(380px);}
		.tb-c4{.bp(-438px,0)}
	}
	.tb-d5{left:713px;top:27px;
		a{.w(220px);.h(160px);}
		.tb-c5{.bp(-658px,0)}
	}
	.tb-d6{left:713px;top:187px;
		a{.w(220px);.h(220px);}
		.tb-c6{.bp(-658px,220px)}
	}

	.wat0{left:277px;bottom: 427px}
	.wat1{left:277px;bottom: 208px}
	.wat2{left:57px;bottom: 208px}
	.wat3{left:713px;bottom: 208px}
	.wat4{left:495px;bottom: 427px}
	.wat5{left:495px;bottom: 208px}



	.tb-darentext2{.w(210px);background:#EEE;padding:4px;.l(18px);.pa;.none;}

}

.bt{.h(1088px);background:url("@{pic_url}/images/huodong/teabeauty/btbg.jpg") no-repeat center center;.auto;
	a{.i_block;.pa;}
	.jy{left:376px;top:5px;.w(185px);.h(195px)}
	.bs{left:46px;top:178px;.w(248px);.h(226px)}
	.kyh{left:613px;top:55px;.w(281px);.h(260px)}
	.mj{left:387px;top:327px;.w(216px);.h(231px)}
	.mbb{left:165px;top:466px;.w(195px);.h(230px)}
	.ss{left:699px;top:420px;.w(232px);.h(248px)}
	.cxb{left:422px;top:645px;.w(210px);.h(245px)}
}


#face{.pa;left:453px;top:274px;.w(165px);.h(145px);cursor: pointer;}
#body{.pa;left:453px;top:579px;.w(165px);.h(145px);cursor: pointer;}
