@import "../block.less";
@import "../atom.less";
@bgcolor : #faeff3;
@fcolor : #e62487;
.bimg(@img){background: url("@{pic_url}/images/huodong/weiting/@{img}") no-repeat;}
.bi(@img,@h){background: url("@{pic_url}/images/huodong/weiting/@{img}") no-repeat center center;.h(@h);}
.pos(@w,@h,@l,@t){.pa;left: @l;top: @t;.w(@w);.h(@h);};
.main{.bgc(@bgcolor);
	.bg{
		&01,&02,&03{.f_p{.pr;.w(960px);.h(100%);.auto;}}
		&04,&05,&06,&07,&08,&09,&10,&11,&12{.w(950px);.auto;.pr;}
		&01{.bi("wt_01.jpg",250px);
			.gao{.pos(70px,190px,61px,232px);}
			.lazhi{.pos(110px,220px,133px,200px);}
		}
		&02{.bi("wt_022.jpg",260px);}
		&03{.bi("wt_03.jpg",300px);
			.video{.pos(514px,287px,42px,8px);
				img{.w(100%);.h(100%);}
			}
		}
		&04{.bi("wt_04_2.png",490px);
			.top_video_b_w{.pos(420px,30px,37px,8px);
				a{.left;.h(30px);.l(30px);.bimg("btn1.png");.fc(@fcolor);.c;.w(88px);.mr(8px);.cursor;
					&.s,&:hover{.white;.bp(-100px,0);}
				}
			}
			.wel_container{.pt(125px);
				.free_box{.auto;}
			}
			.try_situation{.pos(186px,31px,383px,450px);.bimg("btn_see_result.png");}
		}
		&05{.bi("wt_05.png",460px);
			a{.cursor;
				&.s1{.pos(270px,345px,13px,100px);}
				&.s2{.pos(270px,345px,340px,100px);}
				&.s3{.pos(270px,345px,665px,100px);}
			}

		}
		&06{.bi("wt_06.png",390px);
			a{.cursor;
				&.x1{.pos(230px,345px,5px,38px);}
				&.x2{.pos(230px,345px,243px,38px);}
				&.x3{.pos(230px,345px,483px,38px);}
				&.x4{.pos(230px,345px,724px,38px);}
			}
		}
		&07{.bi("wt_07.png",870px);
			.l1_btn_wrapper{.pos(500px,65px,455px,182px);
				a{.left;.w(88px);.h(65px);.bimg("btn1.png");.mr(36px);.cursor;
					&.summer{.bp(0,-145px);&.s,&:hover{.bp(0,-80px);}}
					&.party{.bp(-100px,-145px);&.s,&:hover{.bp(-100px,-80px);}}
					&.moment{.bp(-200px,-145px);&.s,&:hover{.bp(-200px,-80px);}}
					&.daily{.bp(-300px,-145px);&.s,&:hover{.bp(-300px,-80px);}}
				}
			}
			.l1_content{.pos(451px,360px,461px,264px);
				div{.bimg("wenzi.png");.w(100%);.h(100%);
					&.summer{.bp(-2px,-2px);}
					&.party{.bp(-457px,-2px);}
					&.moment{.bp(-2px,-377px);}
					&.daily{.bp(-457px,-377px);}
				}
			}
			.l2_btn_wrapper{.pos(400px,32px,39px,589px);
				a{.left;.w(117px);.h(32px);.bimg("btn1.png");.mr(16px);.cursor;
					&.tidao{.bp(0px,-330px); &.s,&:hover{.bp(-130px,-290px);}}
					&.gao{.bp(0px,-290px);&.s,&:hover{.bp(-130px,-330px);}}
					&.lazhi{.bp(0px,-370px);&.s,&:hover{.bp(-130px,-370px);}}
				}
			}
			.l2_content{.pos(777px,196px,82px,660px);
				div{.bimg("diff.png");.w(100%);.h(100%);
					&.tidao{.bp(0,0);}
					&.gao{.bp(0,-200px);}
					&.lazhi{.bp(0,-400px);}
				}
			}
		}
		&08{.bi("wt_08.png",550px);
			.tab_wrapper{.pos(512px,40px,52px,104px);
				a{.left;.mr(20px);.h(34px);.bimg("btn1.png");.cursor;
					&.l3_gao{.w(151px);.bp(-200px,-210px); &.s,&:hover{.bp(0px,-210px);}}
					&.l3_lazhi{.w(170px);.bp(-200px,-250px); &.s,&:hover{.bp(0px,-250px);}}
				}
			}
			.video_wrapper{.pos(512px,339px,52px,174px);.bimg("step3_videobg_1.png");
				p{.c;.l(42px);.h(42px);.fc(#15215d);
					&.l3_gao:after{content:"薇婷代言人杨幂教你如何正确使用薇婷脱毛膏";}
					&.l3_lazhi:after{content:"薇婷代言人杨幂教你如何正确使用薇婷脱毛蜡纸";}
				}
				.video{.w(444px);.h(270px);.auto;}
			}
			.step_wrapper{.pos(380px,435px,574px,94px);
				div{.w(100%);.h(100%);.bimg("use_step.png");
					&.l3_gao{.bp(0,0);}
					&.l3_lazhi{.bp(-400px,0);}
				}
			}
		}
		&09{.bi("wt_09.png",470px);
			.banner_a{.block;.pos(884px,368px,33px,94px);}
		}
		&10{.bi("wt_10.png",450px);}
		&11{.bi("wt_11.png",450px);
			.wt_gao{.pos(270px,150px,60px,272px);}
			.wt_lazhi{.pos(270px,150px,356px,272px);}
			.wt_muyu{.pos(270px,150px,638px,272px);}
			.wt_more{.pos(200px,60px,717px,204px);}
		}
		&12{.bi("wt_12.png",510px);
			.brand_video{.pos(512px,339px,73px,97px);.bimg("step3_videobg_1.png");
				p{.c;.l(42px);.h(42px);.fc(@fcolor);
					&.meili1:after{content:"当薇婷遇上美丽俏佳人I-《美丽俏佳人》：丝滑肌肤一夏天";}
					&.meili2:after{content:"当薇婷遇上美丽俏佳人II-《美丽俏佳人》：不做毛毛女，脱毛神器来帮忙";}
					&.caomei:after{content:"草莓音乐节-薇婷草莓音乐节打造绚丽梦境";}
				}
				.video{.w(444px);.h(270px);.auto;}
			}
			.brand_tab_wrapper{.pos(512px,340px,475px,97px);
				div,a{.block;.w(248px);.auto;.h(69px);.bimg("btn2.png");.mb(20px);.cursor;
					&.meili1{.bp(0,0);&.s,&:hover{.bp(-260px,0);}}
					&.meili2{.bp(0,-75px);&.s,&:hover{.bp(-260px,-75px);}}
					&.caomei{.bp(0,-150px);&.s,&:hover{.bp(-260px,-150px);}}
					&.zuozhan{.bp(0,-225px);&.s,&:hover{.bp(-260px,-225px);}}
				}

			}
		}
	}
}
.left_nav{position: fixed;left: 5px;top: 150px;.bi("left_nav.png",327px);.pt(92px);.w(131px);
	a{.h(54px);.block;.w(100%);}
}
.my_fancy{.w(770px);.h(573px);.pa;left: 50%;top: 0;.none;z-index: 10;
	img{.ml(-50%);.cursor;}
}