@import "../block.less";

.bg{ .w(100%); background:url('@{pic_url}/images/huodong/veet2/bg1.jpg') repeat left top; .pt(46px);
	.top{ .w(100%); .h(443px); background:url('@{pic_url}/images/huodong/veet2/top2.png') no-repeat center top; .pr;
		.inner{ .w(960px); .h(443px); .auto; .pr;
			a{ .pa; }
		}
	}
	.blood_box{ .w(100%); .h(741px); background:url('@{pic_url}/images/huodong/veet2/blood1.png') no-repeat center top; .mt(20px);
		.inner{ .w(960px); .h(741px); .auto; .pr;
			a{ .pa; .w(180px); .h(46px); }
			.a_style{ .pa; .h(20px); .w(100px); bottom:0; }
			.video{ .pa; top:282px;right:82px; }
		}
	}
	.blood_a{ .w(910px); .h(514px); .auto; background:url('@{pic_url}/images/huodong/veet2/a1.png') no-repeat center top; .mt(20px); .pr;
		.b_style{ .pa; .h(30px); .w(100px); bottom:0; }
		a{ .pa; .w(175px); .h(72px); bottom:33px; right:88px; }
	}
	.blood_b{ .w(910px); .h(514px); .auto; background:url('@{pic_url}/images/huodong/veet2/b1.png') no-repeat center top; .mt(10px); .pr;
		.o_style{ .pa; .h(30px); .w(100px); bottom:0; }
		a{ .pa; .w(175px); .h(72px); bottom:36px; left:85px; }
	}
	.blood_o{ .w(910px); .h(514px); .auto; background:url('@{pic_url}/images/huodong/veet2/o.png') no-repeat center top; .mt(10px); .pr;
		.ab_style{ .pa; .h(30px); .w(100px); bottom:0; }
		a{ .pa; .w(175px); .h(72px); bottom:41px; right:70px; }
	}
	.blood_ab{ .w(910px); .h(514px);.auto; background:url('@{pic_url}/images/huodong/veet2/ab1.png') no-repeat center top; .mt(10px); .pr;
		a{ .pa; .w(175px); .h(72px); bottom:42px; left:87px; }
	}
	.gobuy{ .w(960px); .h(1750px); .auto; background:url('@{pic_url}/images/huodong/veet2/gobuy5.png') no-repeat center top; .mt(30px); .pr;
		a{ .pa; }
	}
	.bottom{ .w(100%); .h(728px); background:url('@{pic_url}/images/huodong/veet2/bottom.png') no-repeat center top; .mt(50px);  }

}
