@import "../block.less";
@import "../atom.less";

.p_main{ .pr; background: #fffdee url("http://d06.res.meilishuo.net/img/_o/f4/cb/8744d562cd9d1b35df3cebcb82fa_2000_550.c8.jpg") no-repeat top center;
	.p_center{.w(1040px); .auto;.pt(550px); 
		.yd_ban{.h(150px);}
		.ban1{background:url("http://d06.res.meilishuo.net/img/_o/aa/41/13f856659d9a40718b8d2b24ce9c_1060_140.c8.jpg") no-repeat bottom center;}
		.ban2{background:url("http://d02.res.meilishuo.net/img/_o/52/c5/47d1b1758dd40219549b0cb19ed1_1060_140.c8.jpg") no-repeat bottom center;}
		.yd_box{.pr;.pb(10px); .hidden;.pl(38px);
			li{.i_block;.mr(10px); .mb(20px);.pr;
			  div{.pa; bottom: 8px; left: 8px;.f(14px);
					a.coupon{.bgc(#fe679c);.fc(#fff);.p05;.border-r(3px);.i_block;.w(150px);.h(30px);.l(30px);
						span{.i_block;.w(100px);.fc(#ff99bc);.pl(6px);.h(24px);.l(24px);.bgc(#fff);.border-r(2px);.mr(8px);}
					}
					a.p_f{
						.bgc(#fff18f);.fc(#ff99bc);.w(45px);.l(30px);.h(30px);.i_block;text-align:center;.ml(8px);.border-r(3px);
					}
					a.p_f.followed{
						.bgc(silver);
						color:gray;
					}
				}
			}
		}
		.yd_rec_seller{
			li{.w(230px);background:#fd97b6 url("@{pic_url}/images/biz/phonepriv/yd_bg1.jpg") no-repeat top center;
				a.go_seller{.block;.w(230px);.h(382px);}
			}
		}
		
		.yd_rec_brand{
			li{.w(228px);.h(172px);.border-1();background:url("@{pic_url}/images/biz/phonepriv/yd_bg3.jpg") no-repeat bottom center;
				.brand_img{.i_block;.w(228px);.h(123px);border-bottom: 1px solid #ddd; background:url("@{pic_url}/images/biz/phonepriv/yd_bg2.jpg") no-repeat top center;}
				div{
					a.p_f{.bgc(#ff446c);.fc(#fff);.ml(8px);.border-r(3px);}
				}
			}
		}

	}
}
