<%#csrobot/head.html%>

<div class="body">
	<div class="header">
		<img src="<%= this.PICTURE_URL%>images/robot/h.png" class="robot-head"/>

		<div class="term-title">
			MIXI智能机器人服务条款
		</div>

	</div>
	<div class="content">
		<h2 class="title">1、概述</h2>

		<p class="text p">
			MIXI是由meilishuo.com（以下称“美丽说”）研发的一款智能客服机器人产品，旨在为美丽说用户提供更好的购物体验和咨询体验。MIXI产品的所有权和运营权归美丽说所有。美丽说依照本服务协议及其不时发布的操作规则提供网络服务，当MIXI使用者（以下称“用户”）使用其服务时，应当同意本服务条款的全部内容并遵守与该项服务相关的规则与要点。用户同时应遵守美丽说的《美丽说（Meilishuo.com）服务条款》和《美丽说交易平台服务规则》的约定。用户必须完全同意所有服务协议，才能成为MIXI的正式用户。
		</p>

		<h2 class="title">2、知识产权</h2>

		<p class="text">
			MIXI提供客户咨询服务，其内容主要来自美丽说客服知识库和用户上传的问答。用户有权在合法范围内自由上传信息，用户所上传信息的行为并非约稿范畴之列而系自发行为。对于用户通过美丽说提供的服务上传到MIXI上的任何内容，视为用户同意将上述内容的部分权利无偿转让给美丽说，以此作为对美丽说提供的MIXI服务的贡献，美丽说无需向用户支付任何费用。美丽说有权通过如下方式行使该部分权利：
			</br>
			1）通过复制、发行、信息网络传播、改编、翻译、汇编、摄制、出租、展览、表演、放映、广播等方式使用该内容；
			</br>
			2）将该内容用于开发和运营各类电信增值业务及无线互联网业务（如短信、彩信、WAP、IVR、手机报、手机客户端等形式），对其中精彩的图文进行推广，推广方式包括美丽说网站首页、子频道等链接推广或编辑出版等等；
			</br>
			3）推广市场授权他人使用该内容，授权第三方标示来源于美丽说网站；
			</br>
			4）对任何三方侵犯该内容的知识产权的行为独立起诉进行维权。
		</p>

		<h2 class="title">3、免责声明</h2>

		<p class="text">
			1） 因用户注册信息不真实带来的损失，美丽说不承担任何责任；美丽说对用户所发布信息的删除或储存失败不承担任何责任；美丽说对用户不作任何类型的担保，也不承担任何责任。
			</br>
			2
			）MIXI所提供的问答和咨询，该内容仅为用户提供更多信息，仅供参考使用，不代表美丽说同意其说法或描述，也不构成任何消费建议、投资建议、医疗建议等。美丽说在能知悉的范围内努力保证其独自采写的所有问答和咨询的真实性和正确性，但不对该问答、咨询内容的真实性和正确性做任何保证；若回答与事实有所出入，美丽说不对此承担任何责任。
			</br>
			3）用户上传、发表、转载于MIXI上的信息内容，为用户个人行为，仅代表用户或作者个人观点，美丽说没有义务查实该内容的出处及其真实性。用户所发表的信息若侵犯了第三方的知识产权或其他合法权利，责任由用户本人承担，美丽说对此不承担责任。
			</br>
			4）当MIXI以链接形式推荐其他网站内容时，由于美丽说并不控制其他相关网站和资源，因此用户需理解并同意，美丽说并不对这些网站或资源的可用性负责，且不保证从这些网站获取的任何内容、产品、服务或其他材料的真实性、合法性，对于任何因使用或信赖从此类网站或资源上获取的内容、产品、服务或其他材料而造成或声称造成的任何直接或间接损失，美丽说均不承担任何责任。
		</p>

		<h2 class="title">
			4、合法权益争议及损害赔偿责任
		</h2>

		<p class="text">
			4.1 若您认为MIXI上的内容侵犯您的知识产权（包括著作权、商标专用权等）、名誉权、肖像权等合法权益，请您与美丽说联系，并向美丽说提交书面通知，要求删除涉嫌侵权内容。该通知书应当包括下列内容：
			</br>
			1）权利人的姓名（名称）、联系电话和通讯地址；
			</br>
			2）要求删除的涉嫌侵权内容的具体名称及其对应的网络地址；
			</br>
			3）构成侵权的初步证明材料，包括权利人身份证明或企业营业执照、权利权属证明等。
			</br>
			4.2 美丽说在接到权利人的书面通知后，将会本着尊重他人合法权利的原则删除涉嫌侵权内容，而无需通知用户。
			</br>
			4.3 权利人和用户均应当对其向美丽说提交的书面通知书的真实性和准确性负责，由此产生的一切法律责任由其自行承担，美丽说概不负责。
		</p>
	</div>
</div>
<%#csrobot/footter.html%>