@import "../../block.less";
img{
	.w(100%);
	.block;
}
.main{
	.bgc(#fff);
	.w(100%);
    min-width: 320px;
    margin: 0 auto;
    max-width: 640px;
}
.s_banner{
	padding: 3px;
	div{
		.w(50%);
		.left;
	}
	a{
		.block;
		padding: 3px;
	}
	.clearfix;
}
.nav_wap{.w(100%); min-height:72px; .fc(#fff);}
.nav{
	.w(100%);max-width:640px;
	// .nav_tabs {
	// 	.border-2t(#e5e5e5);
	// 	.bgc(#e0403e);
	// 	.f(13px);
	// 	.hidden;
	// 	li{
	// 		a{
	// 			.fc(#fff);
	// 		}
	// 		span{
	// 			padding: 5px 2px;
	// 		}
	// 		.w(20%);
	// 		.mt(10px);
	// 		.mb(10px);
	// 		.left;
	// 		.c
	// 	}
	// 	.curr{
	// 		span{
	// 			.fc(#d62d1c);
	// 		 .bgc(#fff);
	// 		}
	// 	}
	// }
	.nav_tabs{
		.bgc(#FF6666);
		.f(13px);
		.hidden;
		.h(40px);
		li{
			.w(25%);
			.l(40px);
			.h(40px);
			.left;
			.c;
			span{
				.white;
			}
		}
		li.curr{
			background: rgba(0, 0, 0, 0.15);
		}
	}
	.range{
		.border-2t(#e5e5e5);
		.bgc(#fff);
		.f(12px);
		padding: 10px 14px;
		.hidden;
		li {
			.w(25%);
			.c;
			.left;
			span {
				.gray;
				.right;
				.mt(-1px);
			}
        	&.active a {.red;}
	        a {.fc(#80737b);}
		}
	    // .arrow_t, .arrow_d, a:hover .arrow_t, a:hover .arrow_d, li.active .arrow_t, li.active .arrow_d 
	    // {
	    // 	.w(10px);.h(10px);
	    // 	padding:0 3px;.ml(10px);
	    // 	background:url("@{pic_url}/images/doota/huodong/shareact/i_4arrow.gif") no-repeat 0 0; 
	    // }
	    // .arrow_t {.bp(0, 2px);}
	    // .arrow_d {.bp (-10px, 2px);}
	    // a:hover .arrow_t, li.active .arrow_t {.bp(-20px, 2px);}
	    // a:hover .arrow_d, li.active .arrow_d {.bp(-30px, 2px);}
	    .arrow_t, .arrow_d{
	    	.w(10px); .h(10px);
	    	padding: 0 3px; .ml(10px);
	    }
	    .arrow_t{
	    	background: url("http://d05.res.meilishuo.net/pic/_o/cd/31/9bec4a1dd9a47470a42c952dbc93_12_18.cf.png") no-repeat;
	    	background-size: cover;
	    }
	    .arrow_d{
	    	background: url("http://d05.res.meilishuo.net/pic/_o/b5/08/909d771eb1ccbd9280bd9541ef7d_12_18.ch.png") no-repeat;
	    	background-size: cover;
	    }
	    .active .arrow_t{
	    	background: url("http://d05.res.meilishuo.net/pic/_o/b5/08/909d771eb1ccbd9280bd9541ef7d_12_18.ch.png") no-repeat;
	    	background-size: cover;
	    }
	    .active .arrow_d{
	    	background: url("http://d05.res.meilishuo.net/pic/_o/cd/31/9bec4a1dd9a47470a42c952dbc93_12_18.cf.png") no-repeat;
	    	background-size: cover;
	    }
	}	
}
.shadow{
	box-shadow:7px 2px 7px #e6e6e6;
	/*兼容IE6、 7、8*/		
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=180, Color='#e6e6e6'); 
	/*for ie6,7,8*/
}
.scrollin{
	.pf;top:-1px;left: 0; right:0; margin: 0 auto;.w(100%);z-index:100;
}
.scrollout{
	.pr;
}
.ctl{.c;}
.time_tit{
	.f(12px);.fc(#bbb5b8);.mt(10px);
}
.hd_ltime{	
	.auto;
	.clearfix;
	strong{
	margin-top: 14px;
	font-size: 22px;
	margin-left: -9px;
	color: #000;
	}
	dd{
		.i_block;
		.mr(10px);
		background: url('@{pic_url}/images/wap/tuan/time_bg.png') no-repeat center center;
	    background-size: 100%;
	    letter-spacing: 9px;
	    .fc(#fff);.f(22px);
		.w(36px);
		.h(52px);
	    .l(52px);
	    .pl(4px);

	}
	i{
		font-style: normal;
		margin-left: -4px;
	}
	dd.last{.mr(0px);}
}

.container {
	hgroup {padding:16*@px 10*@w;
		h3 {.left;.w(145*@w);}
		span {.right;.gray;.f(24*@px);.pt(1%);}
		}
}
.pullUp{
	.pullUpDown > .common;.pullUpDown > .loading;
	&:before{
		.nowrap;
		.ml(-10px);
	}
	&[status="tap"]{
		background:0 none;	
	}
	&[status="stop"]{
		background:0 none;	
	}
}
.gotop{
	.w(12.5%);
	.none;
	right:20px;
	position:fixed;
}
/* 分享 */
.starBox { .star_box; }
@media screen and (min-width: 480px){
}
@media screen and (min-width: 640px){
}

/* coupon */
.coupon {
	.pt(7px); .pb(7px); .clearfix;
	li { 
		.left; 
		.w(32%); 
		.ml(1%); 
		.pt(8px); 
		.pb(5px);
		.fc(#fff); 
		// .c;
		p { .f(0.6rem);}
		p.info { 
			border-right: 1px dotted #fff;  .pr(3%); .pl(5%); .left; .w(60%);
			.credit { .f(2rem); .fb; font-family: impact;}
		}
		p.get { .l(1.4); .c; .pt(8%);}
	}
	li:last-child { .mr(0); }
		
	.can{ .bgc(#fe4873); }
	li.receive, li.out{ .bgc(#bfbebe); }
}

.get-time { 
	.c; margin: 0 auto; letter-spacing: 1px; .mb(10px); .fc(#fe4873); .f(0.8rem); .pt(5px); .l(1.2);
	.bold { .fb;}
}

@import "../tuan_tmp.import.less";


//侧边栏浮窗
.sidebar_btn {
	position: fixed;z-index:200;.w(14%);bottom:2%;right:0;
	transition: right 1s;-webkit-transition: right 1s;	/* Safari 和 Chrome */
	img {.block; .w(100%);margin-bottom: 3px}
}
.sidebar_data {
	position: fixed;.w(42%);
	top:3%;right:-42%;z-index: 201;transition: right 1s;-webkit-transition: right 1s;	/* Safari 和 Chrome */
	a{margin:0;padding:0}
	img {
		.block; .w(100%);
	}

}
.sidebar_shade,.shade{position: fixed;top:0;left:0;z-index:10;.w(100%);.h(100%);background:rgba(0,0,0,.5);}
