<%# head_simple.html%>
<%
	var data = this.core.data;
	var coupons = data.coupons;
	var isLastDay = new Date().getTime() > new Date("2015-03-09 00:00:00").getTime();
%>
<script>
	if (window.location.search.indexOf("isFromShare") >= 0) {
		isPc();
	}
	function isPc() {
		var system ={
			win : false,
			mac : false,
			xll : false
		};
		var p = navigator.platform;

		system.win = p.indexOf("Win") == 0;
		system.mac = p.indexOf("Mac") == 0;
		system.x11 = (p == "X11") || (p.indexOf("Linux") == 0);
		if(system.win||system.mac||system.xll){
			window.location.href = "http://www.meilishuo.com/client/?frm=daeh"
		}
	}
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>
<body>
<div class="main">

	<div class="banner" >
		<div class="rule"></div>

		<div class="countTime">
			<span class="cdText"></span>

			<dl class="timeStamp" end-date="" now="">
				<dd id="day0"><span >-</span></dd>
				<dd id="day1"><span >-</span></dd>
				<span class="day">天</span>

				<dd id="hour0"><span >-</span></dd>
				<dd id="hour1"><span >-</span></dd>
				<span class="hour">小时</span>

				<dd id="minute0"><span >-</span></dd>
				<dd id="minute1"><span >-</span></dd>
				<span class="min">分</span>

				<dd id="seconds0"><span >-</span></dd>
				<dd id="seconds1"><span >-</span></dd>
				<span class="sec">秒</span>
			</dl>

		</div>
	</div>

	<div class="coupon">
		<% for (var i = 0, l = coupons.length; i < l; i++) {
				var a = coupons[i].left_amount;
		%>
		<div class="none_f remain<%=i%>">
			<%if (a > 0) {%>
				今天还剩<%=a%>张
			<%} else {%>
				今天送券名额已满<%if (!isLastDay) {%>，明日再来<%}%>
			<% } %>
		</div>
		<% } %>
		<div class="recharge0 js_recharge"></div>
		<div class="recharge1 js_recharge"></div>
		<div class="recharge2 js_recharge"></div>
	</div>

	<div class="bottom">
		<a class="my-coupon" href="meilishuo://coupons.meilishuo"></a>
		<div class="rule"></div>
	</div>
</div>


<script type="text/html" id="rule_tpl">
	<div class="shade"></div>
	<?
		var bg = this.ruleData.background;
		var tBtn = this.ruleData.top_close_btn;
		var bBtn = this.ruleData.footer_close_btn;
	?>
	<div class="rule_dialog" style="width:<?=bg.width+'%'?>;padding-top:<?=bg.height?>%;left:<?=(100-bg.width)/2+'%'?>;background: url(<?=this.ruleData.background.img?>) no-repeat top center;background-size: 100%;">
		<div class="rule_dialog_btn" style="bottom:<?=bBtn.height?>%"></div>
		<div class="rule_close_btn" style="width:<?=tBtn.width?>%; height:<?=tBtn.height?>%; top:<?=tBtn.horizontal?>%; right:<?=tBtn.vertical?>%">
			<img src="<?=this.ruleData.top_close_btn.img?>" alt=""/>
		</div>
	</div>
</script>

<script>
	fml.vars.wallet = <%=data.wallet%>;
	fml.vars.isLogin = <%=data.islogin%>;
	fml.vars.shareData = {
		desc: '<%=this.shareInfo.content%>'
		, title: '<%=this.shareInfo.pengyou_title%>'
		, imgUrl : '<%=this.shareInfo.pic%>'
		, link : '<%=this.shareInfo.url%>'
		, success:function(){

		}
	};
	fml.vars.isSupportVersion = <%=this.isSupportVersion%>;
	fml.vars.isSetMobile = <%=this.isSetMobile%>;
</script>



<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:

fml.use('wap/page/activity/promotion/wallet_act');
_use:", this._JSstack , this._JSmods ); %>

<%#foot_simple.html%>
