@import "block.less";

.active {
	.tit{
		.f(20px);
		.fc(#80737b);
		.c();
		.bgwhite();
		padding:15px 0;
		position: relative;
	}
	.tip{
		.f(16px);
		background-color: #efeff1;
		border:1px solid #cec9c6;
		border-left:none;
		border-right:none;
		padding:15px 20px;
		line-height: 25px;
		color:#80737b;
	}
	.txt{
		overflow: hidden;
		position: relative;
		input{
			.f(16px);
			border:none;
			border-bottom:1px solid #cec9c6;
			padding: 15px 20px;
			margin:0;
			width:100%;
		}
	}
	.btn{
		padding:0 10px;
		input{
			.f(16px);
			.fc(#fff);
			margin-top:15px;
			padding:10px 0;
			width:100%;
			border: none;
			border-radius: 2px;
			background: #ff6699;
		}
	}
	.phone{
		margin-top:15px;
	}
	.checkImage{
		position: absolute;
		right: 1px;
		top: 1px;
	}
	.err-msg{
		color:red;
		margin:15px 0 0 20px;
	}
	.step1{
		
	}
	.step2{
		.last-step{
			position: absolute;
			top:14px;
			left:20px;
		}
		.txt{
			input{
				.f(14px);
			}
			margin-top:15px;
		}
		.resend{
			position: absolute;
			right:20px;
			top:12px;
			padding:5px;
			background-color: #ccc2ca;
			border: 1px solid #ccc2ca;
			border-radius: 5px;
			color:#fff;
			font-size:14px;
		}
		div.active{
			background-color: #ff94b8;
			border: 1px solid #ff94b8;
		}
	}
}



