@import "../block.less";

html,body{.h(100%);.w(100%);.hidden; }
body{.h(100%);.w(6.4rem);.pa; }

.wrap, .main,.page{.w(100%);.h(100%);.auto;}
.main{ .pr; .hidden; }
.eventnone{.eventNone;}
.cur, &.prev, &.next{
	&[transition="translateY"], &[transition="translateX"]{ -webkit-transition:-webkit-transform 300ms ease-out 0s; }
	&[transition="fadeIn"]{ -webkit-transition:opacity 10ms ease-out 0s; }
}
.page{
	.pa;.hidden;.bgc(#ffbfcb);.none; 
	&[status="move"]{ -webkit-transition:none; }
	&[shown="2"]{ .block; }
	&.cur, &.prev, &.next{ .block;.willchange; }
	&.prev, &.next{.eventnone;}
	&.cur{ .item{.willchange;} }
}

.p1{ .w(100%); background-color: #141414; 
	img{ .w(100%); .h(4.92rem); .pa; top:0; left:0; }
	.bt{ .w(100%); .h(1.64rem); .pa; bottom: 0; left: 0; background: url("http://d05.res.meilishuo.net/pic/_o/fe/8a/198e5e4b2872ff12861bc2c66f09_640_164.cg.jpg") no-repeat; background-size: 100%; }
	p{ .w(.8rem); .h(.4rem); background-color: rgba(20, 20, 20, 0.8); .pa; left: 2.5rem; top: .45rem; 
		// box-shadow: 0 0 .2rem rgba(20,20,20,0.7) , 0 0 .2rem rgba(20,20,20,0.7) , 0 0 .2rem rgba(20,20,20,0.7) , 0 0 .2rem rgba(20,20,20,0.7); 
		// -2px 0 5px green,0 -2px 5px blue,0 2px 5px red,2px 0 5px yellow
		box-shadow: -0.1rem 0 0.2rem rgba(20,20,20,0.8), 
		0 -0.1rem 0.2rem rgba(20,20,20,0.8) , 
		0 0.1rem 0.2rem rgba(20,20,20,0.8) ,
		0.1rem 0 0.2rem rgba(20,20,20,0.8) ;
		animation:slide 1500ms linear infinite; -webkit-animation:slide 1500ms linear infinite;	
	}
}
@keyframes slide {
    0% { left:.5rem; }
    100% { left:5rem; }
}
@-webkit-keyframes slide {
    0% { left:.5em; }
    100% { left:5rem; }
}
.p2{ .w(100%); background-color: #ebebeb;
	.talk1{ .w(1.69rem); .h(1rem); .pa; left:-2rem; top:.2rem; transition:left .5s ease .5s; -webkit-transition:left .5s ease .5s;  }
	.talk2{ .w(4.79rem); .h(1.86rem); .pa; left:-5rem; top: 1.5rem; transition:left .5s ease 1.5s; -webkit-transition:left .5s ease 1.5s; }
	.talk3{ .pa; right:-3rem; top: 3.8rem; .f(.22rem);  transition:right .5s ease 2.5s; -webkit-transition:right .5s ease 2.5s;
		.head{ .right; .w(.71rem); .h(.71rem); }
		div{ .mr(.72rem); }
		.yes{ .mt(.08rem); .mr(.06rem); .w(1.94rem); .h(.63rem); }
	}
	.talk4{ .pa; left:-6rem; top: 5rem; transition:left .5s ease 3.5s; -webkit-transition:left .5s ease 3.5s;  
		.biaoq{ .w(2.82rem); .h(2.64rem); }
		.dianme{ .w(3.01rem); .h(.99rem); .pa; left: 2.5rem; top: 0.6rem; opacity: 0;
			animation:shan 800ms ease 6000ms infinite; -webkit-animation:shan 800ms ease 6000ms infinite;
		}
		
	}
	.moveL{ left: .2rem;  }
	.moveR{ right: .2rem; }
	.bt{ .w(100%); .h(.9rem); .pa; bottom: 0; left: 0; }	
}
@keyframes shan {
    0% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}
@-webkit-keyframes shan {
    0% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}
.mua_box{ .h(100%); background: url("http://d03.res.meilishuo.net/pic/_o/7b/35/58fca792ec3bdc59c31438874ed8_640_1027.cf.jpg") no-repeat #eff1f3; background-size: 100%; 
	.pic1{ .w(4.29rem); .h(4.39rem); .pa; left:1.1rem; top:1.5rem; opacity: 0; transition:opacity .5s ease .5s; -webkit-transition:opacity .5s ease .5s; }
	.pic2{ .w(.44rem); .h(.94rem); .pa; left:.46rem; top:5.75rem; opacity: 0; transition:opacity .5s ease 1.2s; -webkit-transition:opacity .5s ease 1.2s; }
	.pic3{ .w(5rem); .h(3rem); .pa; left:.7rem; top:5.5rem;  
		img{ .w(1.17rem); .h(.96rem); opacity: 0; .mt(1rem); }
	}
		
	.opa{ opacity: 1; }
	.ani{ animation:mua 1000ms ease 2000ms infinite; -webkit-animation:mua 1000ms ease 2000ms infinite; }
}
@keyframes mua {
    0% { opacity: 1; -webkit-transform:scale(.5); }
    70%{ opacity: 1; }
    100% { opacity: 0; -webkit-transform:scale(1.3); }
}
@-webkit-keyframes mua {
    0% { opacity: 1; -webkit-transform:scale(.5); }
    70%{ opacity: 1; }
    100% { opacity: 0; -webkit-transform:scale(1.3); }
}
.gift_box{ .h(100%); background: url("http://d02.res.meilishuo.net/pic/_o/b8/bf/f3e8e50e2f6fdc40aa0bc18a1ff6_640_1026.cf.jpg") no-repeat #eff1f3; background-size: 100%;  
	.g_pic1{ .w(3.16rem); .h(7.08rem); .pa; left:.4rem; top:1.5rem; z-index: 2;  opacity: 0; transition:opacity 1s ease 1s; -webkit-transition:opacity 1s ease 1s; }
	.roll2{ .block; .w(1.6rem); .h(1.6rem); .pa; left:2.3rem; top:8.1rem; background: url("http://d03.res.meilishuo.net/pic/_o/54/52/2139b01e32f3ad07d043e44e1383_68_119.cg.png") no-repeat .3rem #fcce4f; background-size: 40%; .border-r(100%);  opacity: 0;
		transition:opacity 1s ease 2s; -webkit-transition:opacity 1s ease 2s;	
	}
	.roll1{ .w(1.6rem); .h(1.6rem); .pa; left:2.3rem; top:8.1rem; background-color:#fcce4f; .border-r(100%); opacity: 0; 
		animation:bling 800ms ease 3000ms infinite; 
		-webkit-animation:bling 800ms ease 3000ms infinite;
	}
	.opa{ opacity: 1; }
}
@keyframes bling {
	0% {
		opacity:1;
		transform:scale(1);
		-webkit-transform:scale(1);
	}
	100% {
		opacity:0;
		transform:scale(1.6);
		-webkit-transform:scale(1.6);
	}
}
@-webkit-keyframes bling {
	0% {
		opacity:1;
		transform:scale(1);
		-webkit-transform:scale(1);
	}
	100% {
		opacity:0;
		transform:scale(1.6);
		-webkit-transform:scale(1.6);
	}
}





