@import "block.less";

/*body{
	background:-webkit-linear-gradient(#eeeeef, #fcf5f7);
	background:-o-linear-gradient(#eeeeef, #fcf5f7);
	background:-moz-linear-gradient(#eeeeef, #fcf5f7);
	background:linear-gradient(#eeeeef, #fcf5f7);
	//background-image: url(http://i.meilishuo.net/css//images/wap/member/jifen_bg.jpg) no-repeat;
	//background-size: auto 100%;
}*/

.wrap{.f(12*@f);}
img{ .block; .w(100%);}

.user_info {
	.bgwhite; .clearfix; .w(100%); .h(196*@w); .mt(20*@w); border-top: 1px solid rgba(0,0,0,0.1); border-bottom: 1px solid rgba(0,0,0,0.1);
	.user_pic { .i_block; .left; .w(116*@w); .h(116*@w); .mt(40*@w);.mr(40*@w);.mb(40*@w);.ml(40*@w); .hidden; .border-r(340*@w);}
	.user_main { 
		.ml(190*@w); .pt(36*@w);
		h3{ 
			.fn; .f(30*@px);
			a{ .fc(#595056);}
		}
		.jifen { 
			.f(24*@px);.fc(#ff6699); .l(24*@px); .pt(30*@px); .pb(20*@px); border-bottom: 1px solid #e6e5e6;
			span {.f(30*@px); .pr(10*@px);}
			a { .fc(#999999);}
		}
		.more_good {
			.f(26*@px); .fc(#999999); .block; .l(70*@px);
			//b{ .w(31*@px); .h(27*@px); .left; .pr(10*@px);}
		}
	}
}

.intro {
	.pt(0*@px); .pl(40*@w); .pr(40*@w); .mt(20*@w); .bgwhite; .fc(#595056); border-top: 1px solid rgba(0,0,0,0.1); border-bottom: 1px solid rgba(0,0,0,0.1);
	h3 { 
		.f(26*@px); .l(88*@px); //.pb(30*@px);
		b { .w(40*@px); .h(30*@px); .left; .pr(14*@px); .mt(22*@px); }
		a { .right; .w(26*@px); .h(16*@px); .i_block; .mt(35*@px); }
		.hide_icon { .none; }
	}
	.intro_list { .pt(30*@px); border-top: 1px solid #e6e5e6; .pb(30*@px);
		li { .l(48*@px); .f(22*@px);}
	}
}

.exchange_t {
	.pt(26*@px); .pb(26*@px); .pl(40*@w); .pr(40*@w); .bgwhite; .mt(20*@w); .c; border-top: 1px solid rgba(0,0,0,0.1);
	h3{ .f(26*@px); .fn; .l(36*@px); .red;} 
	//.line { .w(110/580*100%); border-bottom: 1px solid rgba(0,0,0,0.1); .vm; .i_block; .mt(16*@px);}
	//.line_l { .left;}
	//.line_r { .right;}
}

.goods_wrap {
	.pl(40*@w); .bgwhite; .pr(40*@w);  border-bottom: 1px solid rgba(0,0,0,0.1);
	h3{ .fn; .f(30*@px); .red; .pb(10*@px);}
	.goods_list { .clearfix; .pt(50*@px);border-top: 1px solid #e6e5e6;}
	li { .left; .w(290/600*100%); .pb(20*@px); 
		&:nth-child(2n) { .right;}
	}
	//.li_line { .border-1(#e6e5e6); .border-r(10*@px); .bgwhite;}
	.good_img { 
		.block; .w(290/290*100%); border-bottom: 1px solid #e6e5e6; .hidden;
		//img { border-top-right-radius: 5px; border-top-left-radius: 5px;}
	}
	.good_info { 
		.pt(20*@px); .pr(20*@w); .pl(20*@w); .f(22*@px); 
		p { .l(32*@px);}
	}
	.good_t { .h(64*@px); .hidden;}
	.good_msg { .fc(#999); .pt(20*@px); .f(20*@px);
		.integral {.red;}
		.good_money { 
			span { .t-through; .fc(#b6b6b6);}
		}
	}
	.btn { 
		.l(46*@px); .f(24*@px); .c; .white; .border-r(10*@px); .block; .mt(20*@px); .mb(20*@px);
	}
	.go {.bgc(#ff8cb3);}
	.have_go { .bgc(#e6e5e6);}
	.confirm { .bgred;}
}


/* === list start === */

.mem_talbe {
	.w(100%); .mt(20*@w); border: 1px solid #d9d4d1; border-left: none; border-bottom: none; .bgwhite;
	td{ border-left: 1px solid #d9d4d1; border-bottom: 1px solid #d9d4d1; .c;}
	thead td{ .l(80*@px); .bgc(#ebeaea); .f(28*@px); .fc(#ee76a1);}
	tbody td{ .f(22*@px); .l(60*@px);}
	.add { .fc(#ee76a1);}
	.minus { .fc(#b4d91f);}
	.even { .bgc(#f8f7f7);}
}


.more {.pt(40*@w); .block; .c; .red; .f(28*@px); .l(16*@px); .pb(40*@w);}
.xiala_icon { .i_block; .w(28*@px); .h(16*@px);}

/* member prefecture start */

.user_wrap{
	.pr;
	.w(100%);
	.pt(200*@w);
	background:url("http://d04.res.meilishuo.net/pic/_o/b2/7c/0a07282404577b950d60434eb8f0_640_200.cf.jpg") no-repeat;
	background-size:100%;

	.user_box{
		.pa;
		.hidden;
		clear:both;
		top:26%;
		left:40*@w;
		right:40*@w;

		.user_head{
			.left;
			.w(16%);
			.h(16%);
			.mr(32*@px);
			.border-r(50%);
			overflow:hidden;
			border:2px solid #e4e5dc;
			img{
				border:0;
				.border-r(50%);
			}
		}

		.user_gold{
			.left;
			.l(2);
			.fc(#fff);
			.f(26*@px);

			.gold{
				.l(1.2);
				.f(36*@px);
				.pl(48*@px);
				background:url("http://d04.res.meilishuo.net/pic/_o/63/58/52a9ee5180ba6cec4e8c0991234a_32_32.ch.png") no-repeat;
				background-size:20px auto;
			}
		}
	}
}

.tab_title{
	.hidden;
	clear:both;
	.bgc(#fff);
	.h(88*@px);
	.l(88*@px);
	padding:0 40*@w;
	border-top: 1px solid rgba(0,0,0,0.1);

	.title{
		.left;
		.fc(#595056);
		.f(30*@px);
	}

	.no,.view_more{
		.right;
		.fc(#f69);
		.f(26*@px);
	}

	.no{
		.fc(#ccc2c9);
	}

	.view_more{
		.fc(#f69);
	}
}

.gold_explain{
	.mb(20*@w);
	.bgc(#f7f6f6);
	padding:30*@w 40*@w;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);

	p{
		.l(1.6);
		.f(26*@px);
	}

	div{
		.l(1.6);
		.f(26*@px);
		.mb(40*@w);
	}

	.gold{
		.pl(40*@px);
		.fc(#80737b);
		background:url("http://d04.res.meilishuo.net/pic/_o/63/58/52a9ee5180ba6cec4e8c0991234a_32_32.ch.png") no-repeat;
		background-size:32*@px;
	}
}

.pay_list{
	.mb(20*@w);
	.bgc(#f7f6f6);
	padding:0 40*@w;
	border-top: 1px solid rgba(0,0,0,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);

	ul li{
		.hidden;
		clear:both;
		.l(40*@px);
		padding:16*@px 0;
		border-bottom: 1px solid rgba(0,0,0,0.1);

		a{
			.fc(#f69);
		}

		em{
			.fc(#ccc2c9);
			font-style:normal;
		}

		div{
			.c;
		}

		.title{
			.left;
			.fc(#595056);
			.f(26*@px);
		}

		.gold{
			.right;
			.fc(#595056);
			.f(30*@px);
			.l(80*@px);
		}

		.income{
			.fc(#f69);
		}

		&:last-child{
			border:none;
		}
	}
}

.sign_wrap{
	.bgc(#fff);
	padding:0 40*@w 250*@w;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.mb0{
	.mb(0);
}

.load_more_btn{
	.c;
	/*.bgc(#fff);*/
	.h(88*@px);
	.l(88*@px);
	.fc(#595056);
	.f(30*@px);
}

.pullUp{
	.mt(20px);
	.mb(20px);
	.pullUpDown > .common;
	.pullUpDown > .loading;
	&:before{
		.nowrap;
		.ml(-10px);
	}
}

/* member prefecture end */