@import "block.less";
.header;
.search;
.frame;
.navTopBan;
.navBan;
.foot;
.sliderBanner;
.banner-slider-point{.none;}

.slide;

.fleft{left:0;}

.header[status="search"] .search {
	-webkit-transition: right 0.2s ease-out 0.4s;
	width: 100%;
	right: 0%;
}

body{.bgc(#f4f1f0);}
.header{ .pr;}
.wrapper{
	.mt(66*@px); .mb(60px);
	.title { 
		.f(28*@px); .fc(#746870); .l(75*@px); .fn; .pl(16*@px); .pr; .bgc(#f8f8f8);
		/*&:before {
			content: ''; .pa; .w(8*@px); .h(8*@px); .bgc(#ff6699); top: 10px; left: -3px; -webkit-transform: rotate(45deg); transform: rotate(45deg); border-top: 1px solid #ff6699; border-left: 1px solid #ff6699;
		}*/
		span { .red; font-style: italic; .f(24*@px);}
	}
	.clothes {
		.clearfix; .block; .l(56*@px); .bgc(#fbfbfb); .pr(26*@px);  border-bottom: 1px solid #eee;
		img { .w(130*@px); .l(60*@px); .vm; }
		span { .right; .fc(#7f737b); .f(24*@px);}
	}
	section {
		.pl(26*@px); .pr(26*@px); .pt(28*@px); .pb(20*@px); .clearfix; border-bottom: 1px solid #eee;
		.main { 
			clear:both; .left; .w(54%); .pr(16*@px);
			dd { 
				.f(26*@px); .fc(#a8a8a8); .tr;
				&:nth-child(2) {.f(28*@px); .fc(#746870); .pb(3px);}

			}
			img { .w(50%); .left;}
		}
		.count { 
			.left; .w(40%); .pl(16*@px); border-left: 1px solid #eee;
			img { .left; .w(45%);}
		}
		.list { 
			.clearfix; .pb(10*@px);

			a{ .block;.hidden; }
			p { .right; .fc(#746870); .f(28*@px); .pt(10*@px);}
			&:nth-child(2) { border-top: 1px solid #eee; .pt(14*@px);}
		}
	}	
	nav{
		clear:both;
		border-bottom:1px solid #eee;
		.pl(30*@px); .pr(30*@px); .pb(30*@px);

		.hotExample{.w(180*@w);max-width:180*@px;.left;.mr(10*@w);.ml(2*@px);.mt(30*@px);}
		ul{
			.hidden;
			li{.left;.f(140%);.w(78% / 3);.mt(30*@px);.c;
				a{
					.block; .ellipsis;
				}
				&:nth-child(4n+1){
					.tl;.w(22%);
					&:after{
						content:"";
					}
				}	
			}
			&+a{
				.f(160%);.c;.mt(30*@px);
				.red;clear:both;
				.i_block;.l(2);
				&:after{
					.fc(@red);	
					.ml(8*@px);
				}
			}
		}
		
	}
}

.discount {
	.bgwhite; .w(100%); border-bottom: 1px solid #eee;
	a { .block; .pb(12*@px); .clearfix; }
	img { .w(45%);}
	.sale { 
		.clearfix; .pt(30*@px); .pb(20*@px); border-top: 1px solid #eee; 
		h3 { .fc(#f72667); .f(32*@px); .l(30*@px); .pt(10*@px); }
		.seckill { 
			.left; .w(46%); .pl(3%); border-right: 1px solid #eee;
			img { .block; .auto; .mt(36*@px); .w(77%);}
		}
		.saleRight { 
			.left; .w(50%);  
			p { .fc(#999); .f(28*@px); .pt(12*@px);}
			img { .right; .mt(10px);}
		}
		.timeIcon { 
			.w(30*@px); .h(30*@px); .i_block; .mr(8*@px); .vm; .mt(-3px);
			background: url("http://d04.res.meilishuo.net/pic/_o/5a/1d/36ad3107bffd767dd68104aaa65e_30_30.ch.png") no-repeat;
			background-size: 100% 100%;
		}
		.timeDown { .fc(#a69ea3); .f(22*@px); .pt(12*@px);}
		.tuan { border-bottom: 1px solid #eee; .pl(8%);}
		.clear { .pl(8%);}
		.wording { .left;}
	}
	dl{	.clearfix; .mt(16*@px);}
	strong{ .left; .f(22px); .ml(-9px); .fc(#80737b);}
	dd{
		.left;.mr(10px); .white;.f(22px); .w(66*@px); .h(50*@px); .l(50*@px); .pl(4px);
		background: url('http://d03.res.meilishuo.net/pic/_o/11/42/07e841f6b301a3a1c1086b41bbcb_65_49.ch.png') no-repeat center center;
        background-size: 100%;
        letter-spacing: 6px;
	}
	dd.last{ .mr(0px); }
}

.category {
	.info { .bgwhite; .mb(30*@px); border-bottom: 1px solid #eee; border-top: 1px solid #eee; }
}

.love {
	.bgwhite; .pt(16*@px);
	h3 { 
		.l(50*@px); .c; .fc(#958a91); .f(26*@px); .fn; .pb(10*@px);
		span { .bgc(#998f95); .h(1px); .w(10%); .i_block; .vm;}
	}
}

.poster;
.poster > ._pa;
.poster_pa;

.goods_wall{ 
	background-color: white;
	.poster_grid{
        border-radius: 0;

		figure{
			border: 0;
			.pic_load{
				.border-r-tr(0*@px);.border-r-tl(0*@px);
				img{
					.border-r-tr(0*@px);.border-r-tl(0*@px);
				}
			}
		}
	}
	.clothesTitle{
		padding: 0 7/155*100%;
		color:#80737A;
		.pt(5/155*100%);
		.f(1.2rem);
		.w(90%); 
		.ellipsis;
	}
	figcaption{
		.h(44*@px);.pt(16*@px);
		.f(1.2rem);
		.price{
			.left;
			color:#FF6597;

		}
		.like{
			.pl(15/155*100%);
			.ml(12/155*100%);
			.mr(2*@px);
			color:#999;
			background:url("http://d04.res.meilishuo.net/pic/_o/0b/af/01f834bdf72c210229a9d6277440_27_24.cg.jpg") no-repeat;
			background-size: 24*@px 20*@px;
			background-position: 0 38%;
		}
		.likecounts{
			color: #999;
		}
	}
}
.show { display: block; }
.hide { display: none; }
.pullUp{
	.pullUpDown > .common;.pullUpDown > .loading;
	&:before{
		.nowrap;
		.ml(-10px);
	}
	&[status="tap"]{
		background:0 none;	
		&:before{
			content:"上拉看更多..."	
		}
	}
	&[status="stop"]{
		background:0 none;	
		&:before{
			content:"木有了...";	
		}
	}
}



