<%#head_simple.html%>
</head>
<body>
<img src="<%= this.PICTURE_URL%>images/wap/activity/dot99/banner130902.jpg" />
<a href="http://wap.meilishuo.com/goto/download/?apk=/u/EIeaMh">
	<img src="<%= this.PICTURE_URL%>images/wap/activity/dot99/download.jpg" />
</a>
<div class="c_f">
	<div class="act_time">
		活动时间：9月5日-9月7日
	</div>
	<!--
	<div class="count_down">
		<img src="<%= this.PICTURE_URL%>images/wap/activity/dot99/i_clock_gray.png" />
		<p class="time timeStamp" end-date="1378382400"><span>还有</span><strong id="day">0</strong><span>天</span><strong id="hour">0</strong><span>时</span><strong id="minute">0</strong><span>分</span><strong id="seconds">0</strong><span>秒</span>准时开抢</p>
	</div>
	-->
</div>
<img src="<%= this.PICTURE_URL%>images/wap/activity/dot99/more_pro_2.jpg" />
<a href="http://wap.meilishuo.com/goto/download/?apk=/u/EIeaMh">
	<img src="<%= this.PICTURE_URL%>images/wap/activity/dot99/pros.jpg" />
	<img src="<%= this.PICTURE_URL%>images/wap/activity/dot99/btn_download.jpg" />
</a>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/app/countdown' , function(){
		this();	
	});
_use:", this._JSstack , this._JSmods ); %>
<%#foot_simple.html%>
