<div id="jp-jplayer-<%= this.id%>" class="jp-jplayer" audio_url="<%= this.audio.audio.audio_url %>"></div>
<div class="audio_control" id="jp_container_<%= this.id%>">
	<div class="info_box">
		<span class="face" style="background-image:url(<%= this.audio.audio.avatar_url %>)"></span>
		<div class="font">
			<p class="tle"><%= this.audio.audio.nickname %></p>
			<p><%= this.audio.audio.title %></p>
		</div>
	</div>
	<div class="audio_info">
		<p class="audio_duration"><span class="time"><%= this.audio.audio.audio_duration %></span>”</p>
		<p class="control_btn jp-play"><span class="start"><img src="http://i.meilishuo.net/css/images/wap/activity/audio/album_ico.png"/></span></p>
		<p class="control_btn jp-pause" style="display:none;"><span class="pause"><img src="http://i.meilishuo.net/css/images/wap/activity/audio/voice.gif"/></span></p>
	</div>
</div>

