@import "md.less";
@import "home.less";

.goods_wrap {
	.border-bd9; .mb(20*@px);
	.goods_img { .w(640*@w); .c; .block; .border-bd9;}
	.goods_info {
		.mod_pd2_3; .clearfix; .bgwhite;
		.goods_name { .break-all; .f(30*@px); .l(40*@px); .left; .fn;.fc(#262626);}
		.price { .bred; .f(36*@px);
			span { .i_block; }
			ul{.l(60*@px);.mb(10*@px);}
			li{.i_block;.mr(4*@px);}
			del{.fc(#b6b6b6);.ml(-4px);}
			.presell{.bred;.f(32*@px);margin-right: -8px;}
		}
		.now { .pb(10*@px); .block;}
		.normal { .t-through; .block; .tr; .gray;}
	}
}

.goods_msg {
	.mod_pd_lr_30; .mod_info;
	.type { .left; }
	.info { .ml(70/560*100%);}
	.info_list {
		.mt(30*@px);border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	}
	.pdtop { .mod_pd_tb_30; }
	.info_list, .amount{.l(60*@px);min-height: 30px;}
	li{
		.i_block;
		.mr(20*@px);.mb(30*@px);
		span {
			.block;.c; .break-word;min-width: 10px; .fc(#797979);
			.pl(30*@px); .pr(30*@px);
			.border-1(#262626); 
			.l(60*@px);
			&.active{ .bgblack;.white;}
			&.out_of_stock { .border-1(#d6d6d6); .fc(#d6d6d6);}
		}
	}
	.colorShow{.none;.h(200*@px);.w(142*@px);background-size:100%;.ml(180/560*100%);background-repeat:no-repeat;}
	.num {
		.pt(30*@w);
		.color { .mr(10*@w);}
		.handle { .pl(20/560*100%); .pr(20/560*100%);}
	}
	.beauty_num { .pt(0);}

	.amount{
		.now_num {.gray;.ml(10*@px);}
		.numBox {.left;.c;
			.minus, .plus {
				.hidden;.bred;.border-10;.w(60*@px); .f(30*@px);
			}
			.minus { .left;}
			.plus { .right; }
			.nums { .c; .left; .hidden; padding:0px;margin:0px 10*@px;.border-10;.l(60*@px);.w(100*@px); .h(60*@px); .fc(#797979);}
		}
	}
	.predel{.f(30*@px);border-top: 1px solid rgba(0, 0, 0, 0.05);}
}

.goods_detail {
	.mod_info; .mod_pd2_3;
	h3 { .f(28*@px); .fc(#333); .pb(20*@px);}
	.detail_cont {
		.detail_img { .w(580/580*100%); .border-d9; .block; .mb(20*@px);}
	}
}

.register_wrap { .pl(30*@px); .pr(30*@px); .mt(20*@px); .mb(130*@px);
	.register_btn { .wd_btn_white; .w(575/575*100%); .h(66*@px); .l(66*@px); }
}



.instal_md{
	.pl(30*@px);
	a{
		.block;.c;.w(95%);.border-10;.l(66*@px);.f(26*@px);.fc(#262626);
	}
}


.share_buy_wrap { .mod_pd2_3;.bgwhite;.pf; bottom: 0; .w(100%);.border-td9;
	.share_col_wrap{.left;.w(63%);
		div{.left;.mr(3%);
			img{.w(21px);.ml(30*@px);.mb(4*@px);}
			p{.f(20*@px)}
		}
	}
	.buy_wrap{.w(160/600*100%);padding:0px;position: static;.right;.pr(30*@px);.mr(30*@px);border: 0;
		.buy_btn{.w(100%);}
	}
}




