@import "../block.less";

body{
	.bgc (#e7e7e7);
}


img {
	.w(100%);
	.block();
}

.title {
	.pr();
	.fc(#fff);
	.f(1rem);
	.num {
		.pa();
		top: (50%);
		margin-top: -0.45rem;
		left:(52/640*100%);
		.w(28/640*100%);
		text-align: center;
	}
	.top_timmer {
		.pa();
		top: (50%);
		margin-top: -0.45rem;
		right: (4%);
	}
}

.option {
	li {
		.f(1rem);
		padding: 0.5rem;
		color: #333;
		border-bottom: 1px solid #ccc;
		vertical-align: middle;
		.code{
			display: inline-block;
			.bgc(#ff3842);
			.border-r(1rem);
			.f(1rem);
			line-height: 2rem;
			.w(2rem);
			color: #fff;
			margin: 0 0.6rem;
			text-align: center;
			vertical-align: middle;
		}

	}
	.right {
			background: #d5d5d5;
		}
	.wrong {
			background: #ff3842;
		}
}


.pic {
	position: relative;
	.question {
		.w(100%);
		background: rgba(0, 0, 0, 0.8);
		.pa();
		box-sizing: border-box;
		padding: 6px 6px 6px 4%;
		bottom: 0;
		color: #fff;
		span {
			margin-left: 2%;
			.f(1rem);
			line-height: 1.4rem;
			letter-spacing: (0.02rem);
		}
	}
	.limit_timer {
		.pa();
		top: (20/640*100%);
		left: (20/640*100%);
		.bgc(#000);
		.fc(#ffea50);
		.f(1.3rem);
		.border-r(5px);
		text-align: center;
		.w(100/640*100%);
		padding: 7px 0;
	}
}
