@import "header.less";

body{.bgc(#f1edee)}
// countdown
.countdown{.w(100%);.bgc(#fff);padding:13px 0 8px 0;position: -webkit-sticky;position: -moz-sticky;position: -o-sticky;position: -ms-sticky;position: sticky;top:0;left:0;z-index:100;border-bottom:1px solid #eee;
	.ctl{.auto;.c;}
	.q8_tit{
        .f(1.6rem);
        .il-block;
        img{
			.il-block;vertical-align:middle;.w(18%);
        }
        span{
        	.il-block;.vm;
        }
        // .mb(6px);
	}
	dl{.clearfix;.il-block;.vm;.mt(-5px)}
	strong{.il-block;
		font-size: 1.5rem;
		margin-left: -11px;
		color: #f23b36;
		.vm;
	}
	dd{
		.il-block;.mr(10px);.vm;
		// background: url('http://d05.res.meilishuo.net/img/_o/15/d6/cfd65490e71435640398c3fcaee5_72_62.ch.png') no-repeat center center;
		background: url('http://d04.res.meilishuo.net/img/_o/60/bd/3b86eb891ae2fc2aede31a27fe9c_72_62.cf.png') no-repeat center center;
        background-size: 100%;
        letter-spacing:5px;
        .fc(#fff);.f(1.5rem);
		.w(24px);
		.h(35px);
        .l(37px);
		.pl(3px)
	}
	dd.last{.mr(0px);}
	@media screen and (min-width:414px){
		dd{.w(30px);letter-spacing:9px;}
		.q8_tit{.f(1.8rem);
			img{.w(20%)}
		}
	}
}

//
.wall{
	li{.pa;.pb(13px);
		.img-box{.pr;.left;.w(45%);.mr(5%);box-sizing:border-box;background-position:0 0;background-repeat:no-repeat;
		}
		.inner{.bgc(#fff);.hidden}
		.icon{.pa;left:0;top:-3px;.w(13%);.fc(#fff);.f(1.3rem);.pl(2%);.l(1.5);.fn;background:url('http://d04.res.meilishuo.net/img/_o/e5/a5/1bf213e12b6a8b4e7e427c8c9a61_83_28.cg.png') 0 0 no-repeat;background-size:100% 100%;}
	}
	.info{.left;.w(50%);
		// img{.w(10%);.left;.mr(5%)}
		h3{.f(1.8rem);.l(1);.ellipsis;.mt(10px);.mb(5px);.fc(#000)}
		.des{.f(1.5rem);.l(1.6);.ellipsis;border-bottom: 1px solid #eee;.mr(10px)}
		// strong{.mt(10%);.mb(5%);.block;.fn;.f(1.3rem);.ellipsis;}
		// span{.fc(#f00)}
		// .box{.mb(8%)}
		// .box2{.mt(11%)}
		// .btn-weixin{.block;.w(50%);.pt(4%);.pb(4%);.pa;right:0;bottom:0;
		// 	background: url("http://d05.res.meilishuo.net/img/_o/37/17/2c4cae444fd79ed485894b89a4bd_340_50.cf.png") center center no-repeat #f2f2f2;.bs100;
		// }
		.sale-price{.f(2rem);.fc(#f23b36);.pa;bottom:90px;
			span{.f(1.5rem)}
		}
		.price{.fc(#9a9696);.f(1.2rem);.ellipsis;.pa;bottom:65px;}
		.btn{.f(1.6rem);.fc(#fff);padding:8px 0;.bgc(#f23b36);.pa;.w(35%);.c;bottom:25px;}

		@media screen and (min-width:375px){
			h3{.mt(20px);.mb(10px)}
			.sale-price{bottom:110px;}
			.price{bottom:85px;}
			.btn{bottom:35px}
		}
		// .btn{.pa;bottom:10%;.c;.w(32%);.f(1.6rem);.fc(#fff);padding:8px 0;.bgc(#f00)}

		// .img-mt{.mt(-4%)}
		// .status{
		// 	.mt(10%);.mb(7%);.c;
		// 	a{
		// 		.f(1.5rem);.border-r(3px);.ellipsis;.fn;padding:8px 5px;.il-block;.w(60%);
		// 	}
		// }
	}
	// .user-pic{.hidden;.mb(4%);
	// 	img{.w(18%);.border-r(100%)}
	// 	p{.f(1.3rem);.fc(#888);.l(2);.ellipsis}
	// }
}

.posterWall{padding:5px 5px 10px 5px;.bgc(#f1edee);min-height:500px}
// .frame{.pl(5px)}
.wall .goods li .goods_info{.mr(5px)}


.goods_wall{.pr;}

.mark0{ 
		.pa; top: 0; left: 0;
		img { .block; .w(70%);}
	}

.special{.hidden;
	li{.mb(8px)}
}
.btn-all{
	.block;.fc(#666);.f(1.6rem);.c;.l(3);border-top:1px solid #eee;
}
// .wrap{height:1000px}