@import "block.less";
@import "window.less";
@import "dootablock.less";
.form_top;
.bread_crumbs;
.flow_step;
.current_status {.w(936px);.auto;.form_box;padding:20px;
	.cur_txt {.mb(20px);}
}
.flowStep {
	ul {.w(468px);}
	.redline {.w(140px);}
	p {.ml(-140px);}
	.last {.mr(-140px);}
}
.container {.w(978px);.auto;border-top:2px solid #F69;.mt(10px);.mb(20px);}
.bought_goods {.bgwhite;
	table {.w(100%);.border-1(@color:#e6e6e6);border-width:0 1px 1px;border-collapse:collapse;}
	th, td {padding:15px 0;border-bottom:1px solid #e6e6e6;}
}
.seller_info {
	span {.pl(20px);}
	.getserviceqq {padding:6px 42px;.ml(10px);
					background:url('@{pic_url}/images/serviceqq/service_qq.gif') no-repeat;
			}
}
.order_goods {.c;
	td {border-bottom:1px dotted #bfbfbf;}
	.blank_row {border-bottom-color:#FFF;}
	.tl {.tl;}
	.goods {.tl;}
	.pic {.left;.w(68px);.h(68px);.border-1(@color:#e6e6e6);.mr(10px);}
	.des {.left;.w(240px);}
	.title {.h(40px);.l(18px);.mb(15px);.hidden;}
	.spec {
		span {.gray;.mr(20px);}
		}
	.status,.operate {
		.border-1(@color:#e6e6e6);border-width:0 0 1px 1px;
		}
	}
.order_time {.border-1(@color:#e6e6e6);border-width:0 1px 1px;padding:15px 0;
	span {padding:0 20px;}
}
.total {.border-1(@color:#e6e6e6);border-width:0 1px 1px;.l(20px);padding:15px 20px;
	p {.right;
		span {.mr(70px);}
		.last {.mr(0);}
		b {.red;.f(20px);}
	}
}
.order_connect {.mt(10px);.form_box;.pl(20px);.h(54px);.l(54px);
	.confirm_btn {.right;.w(150px);.h(54px);.indent;
					background:url('@{pic_url}/images/doota/order_btn.png') no-repeat 0 -54px;
		}
}
