@import "../biz/clearance/cl_base.less";
@import "./clearance_block.less";

.shop_time_num;
.nav_list;
.goodslist;
//色块儿
.d_red{ .fc(#e32726);}

//回到顶部
.fixed_area{
	.pf; right: .2rem; .w(.8rem); .h(1.8rem); .hidden;
}
.gotop{ .none; .pr; .w(.8rem); right: 0;}
.floor{ 
	.block; .w(.8rem); .h(.8rem); .white; .f(.26rem); .c; .l(.8rem); .mb(.2rem);
	font-weight: lighter;
	background: rgba(255, 102, 153, 0.8); .border-r(50%); 
}

// imageSlide style
.slide_banner{ .pr;.h(2.84rem); }
.imageSlide-rem;

.desc_banner{ padding: .16rem; .flexbox; .clearfix; .bgwhite; .mb(.2rem); .fc(#666);
	li{ .f(.28rem); .c; .flex(1);
		i{ .i_block; .w(.36rem); .h(.36rem); .mr(0.1rem); .hidden; vertical-align: text-bottom;}
	}
	li:nth-of-type(1){
		i{ background: url("http://d01.res.meilishuo.net/pic/_o/38/45/eeba7dcc53d3095f76d2792998b1_35_35.cg.png") no-repeat; background-size:.36rem;}
	}
	li:nth-of-type(2){
		i{ background: url("http://d03.res.meilishuo.net/pic/_o/85/07/fd6273e6c88a5a677ad7c03edc92_35_35.cg.png") no-repeat; background-size:.36rem; }
	}
	li:nth-of-type(3){
		i{ background: url("http://d04.res.meilishuo.net/pic/_o/50/ec/6a043d796c7394fc95a4d7ef79cf_35_35.cg.png") no-repeat; background-size:.36rem; }
	}
}

.posterWrap{ 
	.shopitem{ .mb(.2rem); .auto; .pl(.16rem); .pr(.16rem); .bgwhite;
		.banner{ .block; .w(6.08rem); .pt(.16rem);}
	}
	.shopitem:first-child{
		.banner{ .pt(0);}
	}

}

// pullUp
.fallwall-rem;

// tab
#slide_nav{
	.bgc(#fff); .w(6.4rem); .hidden; .mb(.01rem);
	.slide_wrap{ .hidden; .pr; padding: .3rem 0; }
	.item{ .c; min-width: 1.4rem; border-right: .01rem solid #ccc; .f(.24rem); .left; box-sizing: border-box; .l(.28rem); }
	.item:last-child{ border: none; }
	.active{ .fc(#ff7a9a); .f(.28rem); }
}

.toast {
	.gpu;
	-webkit-animation-name: animation;
	-webkit-animation-duration: 5s;
	-webkit-animation-timing-function:linear;
	.pf;  left: 16px; top: 10px; z-index: 1000; .f(.24rem);
	padding: 1%;
	.none;
	.hidden;
	p{
		.w(96%); background: rgba(0,0,0,0.6); .fc(#fff); overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding: 5px; .pr(2px);
		img { .il-block; .w(11%); .h(11%);.vm; }
		span{.vm; .ml(5px;);}
	}
}