@import "../block.less";
@import "../biz/clearance/cl_base.less";

body{ .bgc(#eee); .f(.24rem);}
span{ padding: 0; margin: 0;}

.sidebar;

.time_box{ padding: .2rem 0; .bgwhite; .c; .f(.22rem); vertical-align: middle;
	i{ font-style: normal; .i_block; padding: .08rem .04rem; .bgc(#ed4b4b); .white;}
}

.nav_wrap{ .pr; .mt(.2rem); .hidden; .nowrap; .w(100%); .bgwhite; border-bottom: 1px solid #eee;
	.nav_iscroll{
		ul{ .clearfix; .nowrap; .bgwhite;}
		li{ .left; .w(1.44rem); .c; .f(.24rem); .fc(#666); margin:.32rem 0; border-right:1px solid #d9d9d9;}
		li.curr{ .fc(#f23b36); }
		li:last-child{ border:none;}
	} 
}
.shadow{
	box-shadow:7px 2px 7px #fff;
	/*兼容IE6、 7、8*/		
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=180, Color='#fff'); 
	/*for ie6,7,8*/
}
.scrollin{
	.pf;
	top:-1px;
	left: 0; 
	right: 0; 
	margin: 0 auto; 
	z-index:100;
}
.scrollout{
	.pr;
}
.shopitem{ .bgwhite; .mb(.2rem); .pl(.16rem); .pr(.16rem); 
	.title{ .pt(.16rem); .pb(.16rem);
		.shop_info{ .block; .clearfix;
			.name{ .f(.26rem); .bgray; .pt(.08rem);}
			.promotion{ .fc(#ed4b4b); .f(.18rem); .mt(.12rem); .hidden; .nowrap;
				span{ border-right: 1px solid #eee; padding: 0 .12rem; .ml(-0.08rem);}
				span:first-child{ .pl(.07rem);}
				span:last-child{ border: 0;}
			}
		}
		.logo{ .left; .w(.7rem); .h(.7rem); .mr(.16rem); .border-r(50%); .hidden;}
		.buy_btn{ .right; .white; .bgc(#ed4b4b); .mt(.12rem); .ml(.12rem); .w(1.2rem); .h(0.46rem); .l(.46rem); .border-r(.06rem); .c;}
	}
	.goodswrap{ .block; .w(6.08rem); .hidden; .clearfix;
		.goods{ .pr; .w(2rem); .left; .mr(.04rem);}
		.goods:last-child{ .mr(0);}
		.bs_load_img{  .block; .w(100%); .pt(140%);
			background-image:url("http://d01.res.meilishuo.net/pic/_o/b9/0a/fd965c6f94c2fd9df704e481098f_304_425.cg.png");
			background-size: cover;
		}
		.pricebox{ .pa; bottom: 0; left: 0; .white; .w(100%); .l(.32rem); .h(.32rem); .hidden; background-color:rgba(168, 168, 168, .6);
			.price{ .f(.2rem);}
			.orgin_price{ .f(.18rem);}
		}
	}
	.shop_data{ .pt(.16rem); .pb(.16rem); .gray; .f(.2rem);
		i{ .fc(#e32726); font-style: normal;}
	}
}
.gotop{
	.w(12.5%);
	.none;
	right:20px;
	position:fixed;
}

.fallwall-rem;
.pullUp{ clear: both;.mt(2rem); }