<%#head.html%>
<div>
	<img src="http://i.meilishuo.net/css/images/huodong/exo/exo_mob_bg_09.png"/>
</div>
<div>
	<img src="http://i.meilishuo.net/css/images/huodong/exo/exo_mob_bg_06.png"/>
</div>
<div class="bg3">
	<img src="http://i.meilishuo.net/css/images/huodong/exo/exo_mob_bg_07.png"/>
	<a href="javascript:;" id="join"></a>
</div>
<div class="bg4">
	<img src="http://i.meilishuo.net/css/images/huodong/exo/exo_mob_bg_08.png"/>
	<div class="nums join"><label><%=this.join.join_num%></label><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
</div>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/huodong/exo_wap');
_use:", this._JSstack , this._JSmods ); %>
<%#foot_simple.html%>
