@import "../block.less";

@pink: #ff6699;
.pinkbg() {
  background: @pink;
}

@gray456: #f4f5f6;
@g222: #dedede;

.pinkfont() {
  color: @pink;
}

.body {
  width: 1000px;
  border: 1px solid #dddddd;
  margin: 0 auto;
  margin-top: 27px;

}

& .header {
  .pinkbg();
  color: #ffffff;
  height: 64px;
  width: 100%;
  position: relative;
  font-family: 'SimHei,STHeiti';
  .robot-head {
    margin-top: -20px;
    margin-left: 20px;
  }
  .term-title {
    height: 64px;
    line-height: 64px;
    color: white;
    position: absolute;
    left: 110px;
    display: inline-block;
  }
}

.content {
  padding: 30px;
  fone-size: 12px;

}

.title {
  font-size: 16px;
  color:#666;

}
.text {
  color: #999;
  font:14px/200% Arial,Verdana,"宋体";
  padding:0 0 20px;
}