@import "wx.less";

.account_wrap {
	.unbund { 
		.pt(100*@w); .pl(30*@px); .pr(30*@px);
		h3 { .fn; .f(36*@px); .l(40*@px); .pb(26*@px);}
		p {
			.f(28*@px); .pl(54*@px);
		}
	}
	.ok_icon { .w(40*@px); .h(40@px); .i_block; .wx_icon;}
	.actbtn_wrap { .c;}
	.act_btn { .wx_btn; .f(28*@px); .l(80*@px); .w(580/580*100%); .i_block; .mt(100*@px);}
	.bind_btn { .mt(30*@px); }
	.myaccount {
		.bgc(#fd70a3); .c; .pt(20*@px); .pb(40*@px);
		.my_pic { .w(120*@px); .h(120*@px); .i_block;}
		.nickname { 
			.pt(20*@px); .f(28*@px); .pb(40*@px); .fn;
			a{ .white;}
		}
	}
	.to_mall { 
		.pt(50*@px); .tunder; .tr; .f(24*@px); .pr(20*@px);
		a {.red;}
	 }
	.setbtn_wrap { .c; .pl(20*@px); .pr(20*@px);}
	.set_btn { .wx_btn; .border-1(#fff); .l(80*@px); .i_block; .w(280/600*100%); .bgc(#fd70a3);}
	.first_btn { .mr(20*@px);}
	.cur { .bgwhite; .red;
		&:hover{ .red;}
	}
	.tips {
		.bgwhite; .border-r(20*@px);  .w(560*@w);
		p { .pt(50*@px); .pl(50*@px); .pr(50*@px); .pb(46*@px); .l(34*@px); .f(28*@px);}
		.tip_set { 
			.border-td9;
			a{ .i_block; .w(258/560*100%); .c; .l(100*@px); .f(36*@px); .red;}
			.set_first { .border-rd9;}
		}
	}

	.bund {
		.f(32*@px); .pt(30*@px); .pl(20*@px); .pr(20*@px);
		h3 { .fn; .pb(30*@px); .f(28*@px);}
		.login {
			.border-1(#d5d5d5); .border-r(10*@px); .bgc(#fff);
			.username { .pr;
				.input_c { .l(86*@px);
					&:after {
						background:url("@{pic_url}/images/wap/web/wx/user.png") no-repeat 0 0;
						background-size: 32*@px; .pa; top:34*@px; left:36*@px; content:'';.w(32*@px); .h(28*@px);
					}
				}
			}
			.pwd { .pr;
				.input_c { 
					&:after {
						background:url("@{pic_url}/images/wap/web/wx/pwd.png") no-repeat 0 0;
						background-size: 28*@px; .pa; top:32*@px; left:36*@px; content:'';.w(32*@px); .h(32*@px);
					}
				}	
			}
			.check_code {
				.pr; 
				.input_c {
					&:after {
						background:url("@{pic_url}/images/wap/web/wx/yz_icon.png") no-repeat 0 0;
						background-size: 16*@px; .pa; top:34*@px; left:40*@px; content:'';.w(18*@px); .h(32*@px);
					}
				}
			}
		}
		.check_wrap {
			.mt(20*@px); .clearfix;
			.check_box{.w(360/600*100%); .left;}
		}
		.check_wrap_bottom { 
			p { .i_block; .pt(20*@px); .f(28*@px); .red;}
			.err_msg { .ml(20px); }
			.change_img { .f(24*@px); .fc(#999); .tunder; .right; }
		}
		.user_icon { .wx_icon; .w(32*@px); .h(28*@px); .mt(30*@px); .pa; left: 30*@px; top: 0;}
		.pwd_icon { .wx_icon; .w(28*@px); .h(32*@px); .mt(26*@px); .pa; left: 30*@px; top: 0;}
		.havebt { border-bottom: 1px solid #d5d5d5;}
		.login_box { .ml(84*@px); .border-n; .gray; .w(484/640*100%); .f(28*@px); .pt(30*@px); .pb(24*@px); .l(28*@px); .fn; .bgc(#fff);}
		.check_txt { .w(500/640*100%); background: transparent;}
		.clear { 
			.pa; top:36*@px; .border-n; .bgwhite; .none; right: 10*@px; .w(40*@px); .h(40*@px);
			img { .w(26*@px); .h(26*@px);}
		}
		.checkImage { .right; .w(220/600*100%); .h(86*@px); .mt(8*@px);
			img { .h(86*@px);}
		}
		.go_mall { .pt(50*@px);.f(24*@px); .fc(#999); .tunder; .right;
			a{ .fc(#999);}
		}
	}
}