@import "wx.less";
html{.f(10*@f);}

.bgc-white(){.bgc(#fff);}
.search{/*.h(4rem);*/.bgc-white;.pr;.mb(1.2rem);
	.ipt{.f(28*@px); .border-1(#eaeaea); padding: .65rem; .pl(10%); .w(78%); .ml(2%);.mt(.6rem); .mb(.6rem); .border-r(5rem);  background: url(
	http://d01.res.meilishuo.net/pic/_o/02/2f/4da3a81fdbea77d91705090abd7a_31_30.cg.png) no-repeat 4% 52%; background-size: auto 60%;-webkit-appearance: none;/*兼容border阴影*/ }
	.btn_cancel{ border: none; .f(34*@px); .vm; .i_block; .w(17%); .c; .h(100%); .l(4rem);.fc(#999);}
}

.list{ .mt(1rem); .mb(1.2rem);
	h2{.f(2rem);  font-weight: normal; .mb(1rem);}
	.title{.block; .c;.white;  .pt(2rem); .w(100%); .h(6.5rem); background: url(http://d05.res.meilishuo.net/pic/_o/8f/08/f1cd72aa256e8cb7268dd295ab7e_640_200.ch.jpg); background-size: cover;
		.u_head{.i_block; .w(2rem);.h(2rem); .border-r(50%); .ml(.2rem); .mr(.2rem); .vm; }
		.num{.i_block; .h(2rem); .c; vertical-align: top;  background: rgba(0,0,0,.2); .pl(1rem); .pl(.6rem); .pr(.6rem); .l(2rem); .border-r(3rem);}
	}
	.goods_box{ padding: 2%; .f(0); .bgc-white;
		.goods{.i_block; .w(32%); .hidden; .vm;
			&:nth-of-type(2){
				.ml(2%); .mr(2%);
			}	
		}
	}

}