@import "wx-rem.less";

@bgc: #f8f8f8;


body{ .w(6.4rem); .bgc(@bgc); .fc(#353535); .f(.12rem); }
h2{.i_block; .f(.26rem);}
i{ font-style: normal;}
.red{ .fc(#fe7e9d); }
.ohide{ .hidden;}
.tc{.c;}

.toggle-con{ .clearfix; .f(.14rem);
	a {.pr; .left; .bgwhite; background-size: contain; background-repeat: no-repeat; background-position: top center;
		.name{ .pa; bottom: 0; .f(.22rem);.c; .w(100%); left: 0; .ellipsis; }
	}
}

/* 标题 */
.t-box{  .bgc(@bgc);  .pt(.3rem); .pb(.2rem); .pl(.2rem); .pr(.2rem); 
	.red{ .f(.2rem); .pl(.05rem); }
	.detail{ .f(.22rem); .fc(#999); .right; .l(.3rem);}
}

/* 热门分类 */
.hot{
	.pl(.1rem); 
	a{ .mr(.04rem);  .mt(0); .mb(.04rem); .w(2.04rem); .h(2.47rem);  }
}

/* 每日精选part-39,经典part-3685,流行part-3651，复古 */
.part{
	.bgc(#fff);
	a{.mt(.3rem); .mb(.3rem); .w(1.6rem); .h(1.9rem); }
	.list{ max-height: 5rem; }
}

.btn{ clear: both; .bgwhite; .pt(.3rem); .pb(.3rem); .c; .border-td9(#f8f8f8); .red; .f(.22rem);
	.icon{.i_block; vertical-align: -0.03rem; .w(.21rem); .h(.21rem); background: url(http://d04.res.meilishuo.net/pic/_o/e0/f1/02397c9197a5a7faecba37ddc29f_21_21.cg.png) no-repeat center center; background-size: contain;}
	.up{ background: url(http://d04.res.meilishuo.net/pic/_o/07/2d/21459504d80752b4989c075a3f37_21_21.cf.png) no-repeat center center; background-size: contain;}
}



nav.nav-c{
    .nav-c-new();
}