@import "wx.less";
@import "qun_post.less";
@import "../../circle/component/loading.less";
.firBind{ .none;} 

.user_head{background-size: cover;.h(346*@px);background-image: url("http://d02.res.meilishuo.net/pic/_o/31/7d/0a5856d73be8201f06e17dcc0baa_640_326.cg.png"); background-color:#978c8e;.w(100%);.pr;
	.user_head_img{.i_block; .w(100%);.c;
		em{.i_block;.w(112*@px);.h(112*@px);.mt(44*@px);.border-r(100%); border: 2*@px solid #fff;;
			img{.border-r(100%);}
		}
	}
    .link-class{ .w(100%); .f(28*@px); .mt(20*@px);/*.l(60*@px);*/
		.a-re{.fc(@white);.i_block;.w(49%);box-sizing: border-box;-webkit-box-sizing:border-box; .pr(70*@px);.tr;
		&:nth-of-type(2){border-left: 1px solid #817e7c;/*border-right: 1px solid #817e7c;*/  .pl(70*@px); text-align: left; }
		}

     }
	.nikename{
		.f(36*@px);
		.fc(@white);
		.c;.l(96*@px);

		}
		.certify{
			.h(40*@px);
			.w(50px);
			.i_block;
			background: url("http://d05.res.meilishuo.net/pic/_o/67/c9/4d5bd198db12ca032b0ef96e2d84_30_30.cf.png")no-repeat 6px 5px;
			background-size: 30%;
		}
		.label{
			.f(24*@px);
			.fc(@white);
			.pa; 
			top:(120*@px);
			left:28%;


		}
	.goin{
		background: url("http://i.meilishuo.net/css//images/wap/web/wx_new/next.png")no-repeat 10px 6px;
		.i_block;
		.h(40*@px);
		.w(30px);
		background-size: 30%;
		.pa;
		right: 10px;
		top:40%;

	}
}
.order-list{	
	.bgc(@white);/*.border-bc2(solid);*/.c;.f(24*@px);
	.list{/*.h(150*@px);*/.w(100%);
		a{
			.i_block;
			.c;
			.mt(27*@px);.mb(20*@px);
			.w(24%);
		}
		a:visited{
			.fc(#666666);
		}
		.order{
			.pr;
			.i_block;
		}
		.order-img{
			  display: inline;
			  position: absolute;
			  top: -7px;
			  right: -16px;
			  z-index: 1;
			  .w(26*@px);
			  .h(26*@px);
			  background: url("http://d05.res.meilishuo.net/pic/_o/d4/22/5a1b9bf5d8cbe39a3bf2a1021426_24_24.cg.png") center center no-repeat;
			  background-size: auto 13px;
			  //display: none;
		}
		.order-num{
			  display: inline-block;
			  width: 90%;
			  margin-top: 1px;
			  //margin-right: 1px;
			  font-size: 8px;
			  color: #ffffff;
			  overflow: hidden;
			  font-style: normal;

		}
		.icon-img{
			.i_block;
			.h(18px);	
			margin-bottom: 2px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: auto 18px;
		}
		.order-all{
			.w(15px);
			background-image:url("//d01.res.meilishuo.net/pic/_o/da/b0/6422a0e47b10a52108f3e6d75541_32_38.cf.png");
		}
		.pay{
			.h(17px);
			.w(16px);
			background-image: url("//d04.res.meilishuo.net/pic/_o/af/f6/a2c0bc0df6086435c071d2866d27_31_33.cf.png") ;
			background-size: auto 17px;
		}
		.send{
			.w(14px);
			background-image: url("//d02.res.meilishuo.net/pic/_o/98/a1/cf98f6cf64095abc1e8aa47b3fb9_26_33.cf.png") ;

		}
		.receive{
			.w(22px);
			background-image: url("//d04.res.meilishuo.net/pic/_o/ee/fa/78bf6b8325a5ec1aa77630ea6b39_37_31.ch.png");
		}
		
		/* 选中状态 */
		.active{
			p.txt{.red;}
			.order-all{
				.w(15px);
				background-image:url("//d03.res.meilishuo.net/pic/_o/a0/ac/96b7762677a0a66367e004ec4305_32_38.cg.png");
			}
			.pay{
				.h(17px);
				.w(16px);
				background-image: url("//d03.res.meilishuo.net/pic/_o/71/91/9648a5b639945e0c9659ec7634bb_31_33.ch.png");
				background-size: auto 17px;
			}
			.send{
				.w(14px);
				background-image: url("//d03.res.meilishuo.net/pic/_o/0b/a2/9925a8c759afce01446fc61405ce_26_33.cg.png");
			}
			.receive{
				.w(22px);
				background-image: url("//d01.res.meilishuo.net/pic/_o/18/88/573da1191c2c30b586b7c447f4cc_37_31.cf.png");
			}

		}
	}

}
.m-list{
	.h(70*@px);
	.bgc(@white);
	.c;
	.module{
		box-sizing:border-box;
		-moz-box-sizing:border-box; /* Firefox */
		-webkit-box-sizing:border-box; /* Safari */
		.left;
		.mt(20*@px);
		.mb(20*@px);
		.i_block;
		.w(50%);
		.f(26*@px);
		.c;
		.fc(#333);
	}
	a.active{.fc(#999);}
	.module:nth-of-type(2){
		// border-right:1.5px solid #ccc;
		border-left:1.5px solid #ccc;

	}
	
}



/*===*/
.main{
	.mt(15*@px);
	.hidden;
	.pr;
}
.left{
	.left;
}
.right{
	.right;
}
.circle{
	  background-color: #fff;	  
	  .pa;

  .title{
  	a{
  		.block;
  		.pl(5px);
  	}
  	.mt(23*@px);
  	.mb(15*@px);
	  	p{
	  	.f(24*@px);
	  	.mt(11*@px);
	  	span{
	  		.f(18*@px);
	  		.fc(#ccc);	
	  	}
 	 }
  }
   a:visited{
 	color:#666666;
 }
}

.item{
  display: inline-block;
  width: 46%;
  margin-bottom: 2%;
  background-position: 50%;
  background-size: cover;

}
.blank{
	padding-top: 50%;
  background-color: #f8f8f8;
}
.container{
	.c;
}


/*他人页面*/
.bg-img{
	.pr;
	img{
	.h(371*@px);
	.w(100%);
	
	}
	
}

.user_others_head{
	.h(160*@px);.w(100%);.bgc(@white);.pr;border-bottom:1px solid #e6e5e6;
	.user_head_img{.left; .pa; top:(20*@px);left:35*@px;
		em{.i_block;.w(112*@px);.h(112*@px);.border-r(100%); border: 2*@px solid #fff;
			img{.border-r(100%);}
		}
	}

	.follow-btn{
		.pa;
		.w(50px);
		.h(30px);
		border: 1px solid #ff7a9a;
		.border-r(8*@px);
		.bgc(#ff7a9a);
		.fc(#fff);
		right: 20px;
		.c;
		.f(13px);
		top: 26px;
		.l(30px);
		z-index: 100;
	}
	.follow-btn-ok{
		.pa;
		z-index: 100;
		.w(50px);
		.h(30px);
		border: 1px solid #ff7a9a;
		.border-r(8*@px);
		.bgc(#fff);
		.fc(#ff7a9a);
		right: 20px;
		.c;
		.f(13px);
		top: 26px;
		.l(30px);
	}
	.nikename{
		.w(56%);
		.h(24px);
		.hidden;
		.f(36*@px);
		.pa; 
		.fc(#666666);
		top:(36*@px);
		left:28%;

		}
		.certify{
			.h(40*@px);
			.w(50px);
			.i_block;
			background: url("http://d05.res.meilishuo.net/pic/_o/67/c9/4d5bd198db12ca032b0ef96e2d84_30_30.cf.png")no-repeat 3px 5px;
			background-size: 30%;
		}
		.label{
			.f(24*@px);
			.pa; 
			top:(96*@px);
			left:28%;
			.fc(#b3b3b3);


		}
		.interest{
			.block;
			.bgc(#ff7a9a);
			.w(90%);
			.h(60*@px);
			.c;
			.l(60*@px);
			.pa;
			bottom:20*@px;
			left:(5%);
			.border-r(4px);
			.interest-others{
				.f(26*@px);
				.fc(@white);
				.pr(10*@px);
				border-right:1.5px solid #ffd7e1;
			}
			.download{
				.f(22*@px);
				.fc(@white);
				.pl(10*@px);
			}
		}
	}

.info{
	.pa;
	bottom:0;
	.fc(@white);
	.c;
	.w(100%);
	background-image: url(http://d02.res.meilishuo.net/pic/_o/29/4f/00c7fab7eeb01b298307cc754180_640_130.cf.png);
	background-repeat: no-repeat;
	span{
		.w(30%);
		.i_block;
		.mb(20*@px);
		.f(28*@px);

	p{
		padding:3.5px 0px;
		.f(22*@px);
	}
	
	}
}

.color-red{
	.red;
}
.place-text{
	.c;
	.f(14px);
	.mt(20px);
	.fc(#ff7a9a);
}