@import "wx.less";
body{
	.bgc(@white);
}

.show{
	.w(100%);
	.c;
	margin: 194*@px auto;
	img{
		.w(197*@px);
		.i_block; 
	}
	.text{
		.f(28*@px);
		.fc(#6C6369);
		.mt(37*@px);
	}
}
.footer{
	.h(40*@px);
	.f(22*@px);
	.pf;
	.w(100%);
	.c;
	bottom: 40*@px;
	span{
		.i_block;
		padding: 0 20*@px 0 60*@px;
		.h(50*@px);
		.l(50*@px);
		background: url("http://d05.res.meilishuo.net/pic/_o/31/7b/b5a7a04061101660609ea0051e73_40_40.cg.png") no-repeat 0 0;
		background-size:auto 100%;

	}
}
