.circle() {
  .circle {
    position           : absolute;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    padding            : 16*@px;
    background-color   : #fff;
  }

  .avatar {
    display        : inline-block;
    width          : 50*@px;
    height         : 50*@px;
    border-radius  : 50%;
    vertical-align : middle;
  }

  .circle-info-wrap {
    display       : block;
    margin-bottom : 14*@px;
  }

  .circle-info {
    width          : 65%;
    display        : inline-block;
    vertical-align : middle;
    margin-left    : 10*@px;
  }

  .circle-name {
    display   : block;
    padding   : 0 0 6*@px;
    color     : #635a60;
    font-size : 24*@px;
    .ellipsis;
  }

  .circle-data {
    display   : inline-block;
    padding   : 4*@px 0 0;
    font-size : 18*@px;
    color     : #ccc2c9;
    .ellipsis;
  }

  .list { .f(0); }

  .item {
    display             : inline-block;
    width               : 48%;
    margin-bottom       : 2%;
    background-position : 50%;
    background-size     : cover;

    &:nth-child(even) {
      margin-left : 2%;
    }

    &:nth-child(odd) {
      margin-right : 2%;
    }
  }

  .item-blank {
    padding-top      : 50%;
    background-color : #f8f8f8;
  }
}
