@import "../block";

html, body {
  height   : 100%;
  overflow : hidden;
}

body {
  background-color : #f8f8f8;
}

.wrap {
  margin     : 40% auto 0;
  text-align : center;

  img {
    display : inline-block;
  }
}

h2 {
  margin-top : 30*@px;
  font-size  : 26*@px;
}
