@import "../block";

@gap: 80*@px;

body {
  background-color : #f0f0f0;
}

#main img {
  display            : block;
  width              : 100%;
  padding            : 0 30*@px;
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
}

#main #header {
  padding : 0;
}

#sec-1 {
  margin-top    : 60*@px;
  margin-bottom : @gap;
}

#sec-3 {
  margin-top    : @gap;
  margin-bottom : 30*@px;
}

#sec-4-1 {
  margin-top : @gap;
}

.layer-3 {
  margin-top : 30*@px;
}

#nav {
  position         : fixed;
  bottom           : 330*@px;
  right            : 1px;
  background-color : rgba(52, 60, 60, .9);
  font-size        : 35*@px;
  text-align       : center;
  border-radius    : 10*@px;

  a {
    display       : block;
    padding       : 28*@px 0 20*@px;
    margin        : 0 33*@px;
    border-bottom : 1px dashed rgba(255, 254, 254, .4);
    color         : #fffefe;

    &:last-child {
      margin-bottom : 30*@px;
    }
  }
}

#nav .cur {
  color : #fff10e;
}

#tutorial, #gotop {
  position         : fixed;
  right            : 0;
  width            : 81*@px;
  height           : 81*@px;
  background-color : #5e6464;

  img {
    width : 100%;
  }
}

#tutorial {
  bottom : 240*@px;
}

#gotop {
  display  : none;
  position : fixed;
  bottom   : 150*@px;
}

#btn img {
  margin-top : 60*@px;
  padding    : 0;
}

.show {
  display : block;
}

.hide {
  display : none;
}
