@import "wap/font/font-awesome.less";
.font();
form ul{
     list-style:none;
     margin:0;
     padding:0;
     }

table.dataintable {
   border: 1px solid #888888;
   border-collapse: collapse;
   font-family: Arial,Helvetica,sans-serif;
   width: calc(100% - 3px);
   margin:5px auto;
   
}
table.dataintable th {
   background-color: #CCCCCC;
   border: 1px solid #888888;
   padding: 5px 15px 5px 5px;
   text-align: left;
   vertical-align: baseline;
}
table.dataintable td {
   background-color: #EFEFEF;
   border: 1px solid #AAAAAA;
   padding: 5px 15px 5px 5px;
   vertical-align: top;
}
table.dataintable td.operation {
	width:3em;
}
table.dataintable td.operation .multiple{
	height:3em;
	color: #0078E7;
	cursor:pointer;
	}
table.dataintable .toRemove {
	cursor:pointer;
	}
table.dataintable input{
    width:100%;
   width: calc(100% - 3em);
   margin:2px auto;
    }
table.dataintable input[type=radio],table.dataintable input[type=checkbox]{
	width:auto;
	}
table.dataintable .cellItem{
	text-align:center;
	display:inline-block;
	width:30%;		
		}

table.dataintable .pure-label{
    font-weight:500;
    text-align: right;
    vertical-align: top;
    width: 10em;
    margin: 0 1em 0 0;
    }
table.dataintable .cellBox label{
	width:auto;
	height:1em;
	}
p.unit{
	margin:0;
	text-align:right;
	padding:0 60px;
	}
.unit .multiple,.deunit .multiple{
	font-size:1.5em;
	cursor:pointer;
	}
table.dataintable .dateCell input{
	background:transparent;
	}
.cell .upable,.pure-label .upable{
	cursor:pointer;
	font-size:.7em;
	}
.movingto , table.movingto td{
	background:rgba(255,200,230,.5);
	border:1px dotted #f69;
	cursor:pointer;
	}
table.dataintable tr td.note{
	max-width:3em;
	}
table.dataintable tr td.operation{
	width:30px;
	}
table.dataintable tr td.operation .multiple{
	display:block;
	margin-top:6px;
	text-align:right;
	width:100%;
	height:15px;
}

table.dataintable tr td .warning{
	border:solid red;
	border-width: 0 0 3px 0;

	
	}
.upload{
	position:fixed;
	width:100%;
	border-bottom:1px dotted #ccc;
	}
.upload_form{
	width:100px;
	float:right;
	}
#upload_pnl{
	padding:0;
	float:left;
	}
#upload_pnl .btn{
	display:inline-block;
	float:left;
	width:20px;
	height:30px;
	border:2px solid #f69;
	background:rgba(255,102,153,.5);
	margin-right:3px;
	cursor:pointer;
	}
#upload_pnl.opt{
	background: #f69;
	padding-top:10px;
	cursor:pointer;
	height:0px;
	overflow:hidden;
	}
#upload_pnl a{
	display:inline-block;
	float:left;
	width: 200px;
	height:150px;
	text-align:center;
	line-height:150px;
	overflow:hidden;
	border:2px solid #f69;
	margin-right:3px;
	}
#upload_pnl a.draged{
	border:2px dotted #ccc;
	}
#upload_pnl a.draged img{
	width:80%;
	margin:15px auto;
	}
#upload_pnl a img{
	width:100%;
	}
.dataintable .preview{
	display:inline-block;
	width:50px;
	height:50px;
	overflow:hidden;
	margin-bottom:-20px;
	}
.dataintable .preview img{
	width:100%;
}
table.dataintable ol li{
	list-style-type:decimal;
}
