@import "block.less";
.header{
	.w(950px);.auto;.pt(28px);.pb(28px);
}
.logo_new{.logo;.logo>.simple;}
.wrap{
	.auto;
	.pb(20px);
	.mb(80px);
	.w(910px);
	padding: 19px;
	.bgc(#FFFFFF);
	border:1px solid #CCCCCC;
	.f(14px);
	//进度条
	.flowStep {.pt(55px);.pb(70px);border-bottom:1px solid #bfbfbf;
		ul {.w(680px);.auto;}
		li {.left;.c;.gray;}
		span {.w(12px);.h(12px);.left;.mt(-5px);
				background:url('@{pic_url}/images/store/mls_store131110_1.png') no-repeat -109px -48px;
			}
		.redline {.h(2px);.bgc(#F69);.left;.w(210px);}
		p {.mt(15px);.ml(-185px);}
		.last {.mr(-200px);}
		.current {.red;
			span {.bp(-92px,-48px);}
		}
	}
	//自助解冻
	.freezeWrap{
		overflow: hidden;
		.w(1010px);
		padding: 45px 0;
		.selfFreeze{
			.left;
			.w(440px);
			.ml(20px);
			.h(120px);
			border-right: 1px solid #E9E9E9;
			.info{
				.pb(5px);
			}
			.btn{
				.bgc(#FF6599);
				padding: 5px 10px;
				.ml(5px);
				.f(14px)
			}
			.dec{
				.block;
				.left;
				.w(71px);
				.h(30px);
				.l(30px);
				.f(14px);
				text-align: right;
			}
			.context{
				.ml(25px);
				.h(30px);
				.l(30px);
				.f(14px);
			}
		}
		.serviceFreeze{
			.left;
			.block;
			.pl(145px);
			.pt(90px);
			.dec{
				.pb(30px);
				.f(22px);
				.fc(#666666);
			}
			.service{
				padding: 10px 10px;
				.ml(50px);
				.bgc(#FF6A9B);
				.c;
				.fc(#FFFFFF);
			}
		}
	}
	//密码重置
	.changePwd{
		.pt(45px);
		.pb(50px);
		.pl(113px);
		cursor: pointer;
		.warn{
			.mt(5px);
			.ml(85px);
			.f(12px);
			.fc(#FF6A9A);
		}
	}
	.change{
		clear: both;
		.bgc(#FF6599);
		.w(100px);
		.h(30px);
		.l(30px);
		.ml(85px);
		.fc(#FFFFFF);
		.c;
	}
	.resetPwd {.mb(30px);
		input {.w(210px);}
		.big_btn {.ml(90px);*display:inline;
			input {outline:none;.white;.f(16px);.fb;.h(40px);.l(38px);.w(140px);padding:0px;margin:0px;.cursor;background:none;border:none;}
		}
		label{
			.block;
			.left;
			.w(71px);
			.h(38px);
			.l(38px);
			text-align: right;
		}
	}
	.pw_safe {.mt(8px);.h(22px);.pl(86px);.mb(-30px);.none;
		.txt {.left;.w(58px);.pl(48px);}
		}
	.pw_strength {.left;.w(129px);.bgc(#ccc);.h(14px);.pr;
		span {.white;.inline;.left;.h(14px);.l(14px);.c;.w(42px);border-right:1px solid #FFF;}
		&_color {.bgred;}
		}
	.pw_strength_color{
		.bgc(#FF6599);
	}
	.pw_bar {.gray;.h(14px);.w(0);transition:all 0.4s linear 0s;}
	.pw_letter {left:0;.pa;top:0;}
	.pw_weak .pw_bar {.w(42px);}
	.pw_medium .pw_bar {.w(85px);}
	.pw_strong .pw_bar {.w(128px);}
	.newPwd{
		.ml(15px);
		.h(38px);
		border-radius: 3px;
		border:1px solid #DDDDDD;
	}
	//成功
	.sucessWrap{
		.pt(45px);
		.pb(45px);
		.w(400px);
		.auto;
		overflow: hidden;
		img{
			.block;
			.left;
			.mr(30px);
			.mt(17px);
		}
		.sucess{
			.left;
			.freezeSucess{
				.fc(#666666);
				.f(22px);
			}
			.info{
				.fc(#A9A9A9);
			}
			.info,.freezeSucess{
				.h(30px);
				.l(30px);
			}
		}
	}
	.goWelcome{
			clear: both;
			.block;
			margin: 0 auto;
			.mb(40px);
			.w(100px);
			padding: 5px 10px;
		}
	.next{
		clear: both;
		.bgc(#FF6599);
		.w(100px);
		.h(30px);
		.l(30px);
		.ml(155px);
		.fc(#FFFFFF);
		.c;
		cursor: pointer;
	}
	.error{
		.ml(175px);
		.mt(5px);
		.f(12px);
		.fc(#FF6A9B);
	}
	.time_box{
		cursor: pointer;
	}
}