.notic{ width: 1200px; margin: 0 auto;}
.list{
	.h(90px);
	.border-1(#e1e1e1);
	.mt(16px);
	.p20;
	// .ml(10px);
	// .mr(10px);
	.hidden;
	.item{
		.h(100%);
		.left;
		.hidden;
		.ml(20px);

		.item_tit{ 
			.left; .w(60px); .c; .mt(3px); 
			.item_name{ .h(17px); .hidden; font-family: "Microsoft YaHei", Arial; font-size: 14px; font-weight: normal;}
			.item_pic { .mt(10px); .w(57px);}
		}

		.links{
			.left;
			.w(200px);
			.hidden;
			.ml(14px);

			a{
			    .mb(3px);
			    .pl(2px);
			    .pr(2px);
			    .h(20px);
			    .l(20px);
			    .nowrap;
			    .i_block;
			    .f(12px);
			    font-family: "Microsoft YaHei", Arial;
			}
			
			.data_block{
				.left;
				.highlight{ .red; }
				.bgred{ background: #f69; color: #fff;}
				li{ .w(66px); .hidden;}
			}
		}
	}

	.item:first-child{ .ml(0px); }

}

