@import "block";
body{
	.bgc(#fff);
}

.wrap{
	margin: 0 auto;
	.pr;
	.w(1200px);
	.f(16px);
	// banner
	.bannerWrap{
		.pr;
		.top_bnr {
			.bgc(#f7f7f7);
			.h(420px);
			.hidden;
			.w(1200px);
			.banner {
				.h(420px);
				.w(100%);
				z-index:0;
				li { .left;
					.w(100%);
					.pic {
						.block;
						.h(419px);
						.w(850px);
						background-repeat: no-repeat;
						background-size: 100%;
					}
				}
			}
		}
		.round {
			.pa;
			.w(440px);
			margin: 0 auto;
			left: 270px;
			bottom:30px;
			.adType{ text-align:center;
					a {
						.bgwhite;
						 .border-r(10px);
						 .cursor;
						 .i_block;
						 .mr(22px);
						 .h(10px);
						 .w(10px);
					}
					a.current {
						.bgnone;
						border: 3px solid #fff;
						.mb(-4px);
						.h(12px);
						.w(12px);
					}
				}
			}
	}
	.placeHolder{
		.pa;
		top:0;
		right:0;
		.content{
			z-index: 5;
			.w(330px);
			.h(200px);
			img{
				.w(330px);
				.h(200px);
			}
		}
		.secContent{
			.mt(20px);
		}
	}
	.excellentWrap{
		.mt(30px);
		.mb(25px);
		.pr;
		.border{
			.w(100%);
			border: 1px solid #EEEEEE;
			.mb(13px);
		}
		.exc{
			.clearfix;
			.pa;
			top:-13px;
			left:315px;
			padding: 0 30px;
			.f(18px);
			.bgc(#fff);
			ul{
				li{
					.left;
					padding: 0 30px;
					img{
						.block;
						.left;
						.w(26px);
					}
					div{
						.left;
						.ml(12px);
						.h(26px);
						.l(26px);
					}
				}
			}
		}
	}
	// 分类
	.classifyWrap{
		.clearfix;
		.classify{
			.block;
			.left;
			.w(154px);
			.h(154px);
			.l(220px);
			.bgc(#F5F5F5);
			.fc(#363636);
			.f(16px);
			.c;
			img{
				.mt(40px);
			}
		}
		.other{
			.ml(20px);
		}
	}
	.title{
		.clearfix;
		.mt(33px);
		.pb(20px);
		.mb(20px);
		.f(24px);
		.fc(#020202);
		cursor: pointer;
		border-bottom: 1px solid #EEEEEE;
		.hiShop{
			.fc(#020202);
			.left;
		}
		.yellow{
			.fc(#F9CD00);
		}
		img{
			.block;
			.right;
		}
	}
	// <!-- Hi店 -->
	.hiShopWrap{
		.content{
			.clearfix;
			.styleWrap{
				.left;
				.style{
					padding: 16px 0;
					.w(154px);
					.bgc(#F5F5F5);
					.c;
					.f(20px);
					.fc(#363636);
					cursor: pointer;
				}
				.stylePadding{
					.mt(4px);
				}
				.onStyle{
					.bgc(#F9CD00);
					.fc(#fff);
				}
			}
			.shopWrap{
				.pr;
				.clearfix;
				overflow: hidden;
				ul{
					overflow: hidden;
					height: 230px;
					margin: 0;
					padding: 0;
				}
				.shop{
					.h(230px);
					.clearfix;
					img{
						.block;
						.left;
						.ml(20px);
						.w(327px);
						.h(230px);
						cursor: pointer;
					}
				}
			}
		}
	}
	// Hi欧美
	.europeWrap{
		.goodsWrap{
			.clearfix;
			.goods{
				.left;
				.goodsInfo{
					// overflow: hidden;
					display: block;
					background: url("http://d03.res.meilishuo.net/pic/_o/51/49/64765968f5f4f9b4aaa79c1ea660_224_285.cj.png") no-repeat center;
					img{
						.block;
						.w(224px);
						.h(285px);
					}
				}
				.priceWrap{
					.clearfix;
					padding: 22px 25px;
					.fc(#363636);
					.f(14px);
					.goodsName{
						cursor: pointer;
					}
					.price{
						.right;
					}
				}
			}
			.goodsPadding{
				.ml(20px);
			}
		}
	}
	.more{
		.left;
		.block;
		.pt(85px);
		.ml(20px);
		.w(224px);
		.h(200px);
		.bgc(#F9D300);
		.c;
		cursor: pointer;
		.moreStyle{
			.f(28px);
			.fc(#363636);
		}
		.moreBorder{
			margin: 33px auto;
			.w(60px);
			border:1px solid #363636;
		}
		.viewMore{
			.fc(#363636);
		}
	}
	.zhaoshang{
		img{
			.w(1200px);
		}
	}
}

