@import "./block.less";

body {
	background: #fff;
}
.lg_icon () { background: url("@{pic_url}/images/window/login_icon_3.png") no-repeat;  .i_block; .w(25px); .h(25px);}
.login_normal{
	h3 {
			.f(14px); .l(18px); .pb(10px);
			a { .red; .i_block; .right; .tunder; .pr(58px); .fn;}
		}
	.left; .w(330px); .hidden;
	.l_list {
		.h(68px);
		p { .l(30px);}
		.l_box { .pr;}
		.l_txt { 
			.w(235px); .h(34px); line-height: 34px\9;  .border-1(#ddd); .fc(#999); .pl(35px);
			&:focus{
				border-color:#f69;
			}
		}
		.red_border { .border-1(#f69);}
		.user_icon {.lg_icon; .pa; .bp(0,0); top: 6px; left: 5px;}
		.pwd_icon {.lg_icon; .pa; .bp(-25px,0); top: 5px; left: 5px;}
		.code_icon { .lg_icon; .pa; .bp(-50px,0); top: 5px; left: 4px;}
		.reg_icon () { background: url("@{pic_url}/images/window/login_icon-4.png") no-repeat;  .i_block; .w(25px); .h(25px);}
		.check_icon() { top: 6px; right: 30px;}
		.msg_err {.reg_icon; .pa; .check_icon; .bp(-25px,-25px);}
		.msg_ok { }
		.msg_error{
			.fc(#f69);
			.l(30px);
		}
	}
	.loginErrorMessage {
		.mb(12px);
		.fc(#ff6699);
	}
	.checkImage{
		.pa;
		right: 60px;
		top: 1px;
		img{
			.cursor;
		}
		.refresh{
			background: url("http://d01.res.meilishuo.net/pic/_o/f3/e7/574a728b16937d1e65ddc22584d4_23_20.cj.png") no-repeat center;
			border-left: 1px solid #ddd;
			.h(36px);
			.w(36px);
			.il-block;
			.cursor;
		}
	}
	.login_btn_wrap {
		.login_btn { .white; .block; .f(16px); .c; .border-n; .w(272px); .h(46px); .bgred; .l(46px); .cursor;}
	}
	.remember{
		.left;
		.pr(16px);
		line-height: 30px;
		input{
			vertical-align: middle\9;
		}
	}
	.forget_pwd {.il-block; .red; .tunder;line-height: 30px;}
}