//引入block
@import "block.less";

/**
*定义magazine tab类
**/
.groupTab(){
	.mt(14px); .hidden; .w(948px); .auto; .h(48px);
	a { background: url("@{pic_url}/images/group/tab_f3.png") no-repeat; .cursor; .left; .mr(5px); .h(48px); width: 109px; text-indent: -999em; }
	.mt_rj { background-position: 0 0;
		&:hover { background-position: 0 -51px; }
	}
	.mt_rjd { background-position: 0 -102px; }
	.mt_om { background-position: -115px 0;
	 	&:hover { background-position: -115px -51px; }
	}
	.mt_omd { background-position: -115px -102px; }
	.mt_tm { background-position: -230px 0;
		&:hover { background-position: -230px -51px; }
	}
	.mt_tmd { background-position: -230px -102px; }
	.mt_fg { background-position: -345px 0;
		&:hover { background-position: -345px -51px; }
	}
	.mt_fgd { background-position: -345px -102px; }
	.mt_gx { background-position: -460px 0;
		&:hover { background-position: -460px -51px; }
	}
	.mt_gxd { background-position: -460px -102px; }
	.mt_rx { background-position: -575px 0;
		&:hover { background-position: -575px -51px; }
	}
	.mt_rxd { background-position: -575px -102px; }
	.mt_qt { background-position: -690px 0;
		&:hover { background-position: -690px -51px; }
	}
	.mt_qtd { background-position: -690px -102px; }
	.mt_zzs { background-position: -805px 0;
		&:hover { background-position: -805px -51px; }
	}
	.mt_zzsd { background-position: -805px -102px; }
}
/**
*输出tab菜单
**/
.group_tab{ .groupTab; }

.groupBox{ .common_box; }
.groupCon{ .group > .9GG; }
.solidbtn;
.solidbtn > .small_red;
.solidbtn > .small_pink;
.goodsTJ{
	.auto;.w(960px);
	.title { .mt(14px); .h(25px); .l(25px); .pl(6px); .pr(6px); .hidden;
		h2 { .f(24px); .left; }
		p { .right; font-family: 宋体; }
	}
	.newgroup { .left; .w(720px); }
	.top { 
		.bgwhite; .box-shadow; .p13; .w(200px); .left; .ml(6px); .mt(14px);
		h2 { .f(16px); .fb; }
		ul { 
			width: 100%; 
			li { 
				width: 100%; border-bottom: 1px dashed #ccc; .left; padding: 6px 0; .hidden; .h(48px); 
				.top_r { .left; .l(16px); .ml(10px); .hidden; width: 112px;
					p { .h(16px); .hidden; }
				}
			}
		}
		.order { .bgred; .h(20px); .l(20px); .f(14px); .border-r(2px); .fb; .white; .left; .c; .mr(10px); .w(20px);  }
		.icon1 { background: #ccc; }
	}
}
.page;
.pageNav {.page > .pageRed; }

/**
* 最后加载
**/
@import "footer.less"; 
