@import "atom.less";
.container{.auto;.w(908px);.bgwhite; padding: 20px;.mt(5px);
	table{.auto;
		.btn_td{.h(60px);.c;}
		td{padding: 5px;}
	}
	.waiting{.c;.f(24px);.l(28px);padding: 60px 100px;}
	.desc{.c;.f(18px);.l(30px);}
	.tle{vertical-align: top;text-align: right;.l(30px);.w(90px);}
	.mobile{.w(200px);}
	.reason{.w(400px);.h(200px);.l(16px);}
	.mobile,.reason{padding: 5px;.border-1(#e6e6e6);}
	.sub{.bgred;border:none;.w(80px);.c;.white;.l(24px);.border-r(3px);.cursor;}
}