@import "block.less";
@import "window.less";
@import "block/common_sale";
.fluid;

.poster;
.poster_icons;
.face_pop { .window > .head_float; }
.solidbtn;
.solidbtn > .small_red;
.solidbtn > .small_pink;
.groupBox{ .common_box; }
.groupCon{ .group > .9GG; }

.userinfo { .user_info; }
.approve;

.corner_nav { .right; .hidden; }
.s_p_tabs { .sp_tabs; }

.per_modules{ .person_bar; }

.common_title;

.normal, .tab_item .active { .border-r(12px); .cursor; .left; .nowrap; .h(20px); .l(20px); .mr(6px); *line-height: 21px; padding: 0 8px; }
.normal { .border-1c; background: #EAECEB; }
.tab_item .active { .bgpink; border: 1px solid #FCBFD4; .red; }
.mytabs { .window > .mytab; }
.beauty { .window > .beautiful; }
//.medals { .window > .medal_pop; }
.page;
.pageNav{.page > .pageRed; }

//推荐关注弹窗
.rec_layout { .window > .group_tj; }

.shop-label();
/*
  明星店铺修改
*/
.group_shop {
  .group_box {
    .common_box;.ml(0px);.mr(0px);
  }

  .groupCon {
    .mt(20px);
  }

  .hd {
    padding: 5px;
    font-size: 0;
    overflow: hidden;
  }

  .icon-shop {
    position : relative;
  }

  .icon-shop, .wrap {
    float: left;
  }

  .icon-store {
    float: left;
    width: 19px;
    height: 16px;
    margin: 18px 5px 0 5px;
    background: url("@{pic_url}/images/shop/shop_tle.png") no-repeat;
  }

  .has-icon .wrap {
    width: 160px;
  }

  .wrap {
    width: 180px;
    font-size: 12px;
    margin: 5px 0 0 5px;
  }

  h2 {
    .ellipsis;
  }

  .tex-wrap {
    margin-top: 5px;

    i {
      margin-left: 7px;
    }
  }

  .long-tex {
    display: inline-block;
    width: 100%;
    .ellipsis;
  }

  .imgBox{.block;.w(228px);.h(298px);.auto;.mt(0px);
    .s_wrapper{.ml(1px);}
    .goods_pic_b{.w(226px);.h(302px);}
  }

  .section {
    margin: 10px 0 15px;
    padding: 0 13px;

    .btn {
      width: 70px;
      height: 25px;
      line-height: 25px;
      border-radius: 0;
      text-align: center;
    }
  }

  .icon-add {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    font-size: 18px;
    vertical-align: top;
  }

  .tex {
    display: inline-block;
    max-width: 80px;
    margin-right: 15px;
    .ellipsis;

    i {
      margin-left: 7px;
      color: #999;
      font-style: normal;
    }
  }

  .btn-wrap {
    text-align: center;
    font-size: 0;
  }

  .btn {
    float: none;
    display: inline-block;
    margin-right: 10px;
    font-size: 12px;
  }

  .mark {
    top:56px;
  }
}

@import "footer.less";
