@import "block.less";
body{
	.bgc(#FFFFFF);
}
.reportContain{
	.w(950px);
	.f(16px);
	.fc(#999999);
	margin: 20px auto 120px;
	border:1px solid #E1E1E1;
	.reportStar{
		.fc(#FE6197);
	} 
	.reportTitle{
		.f(18px);
		.fc(#333333);
		.bgc(#FAFAFA);
		padding:23px 20px;
		border-bottom: 1px solid #E1E1E1;
	}
	.warmTipsContain{
		padding:30px 20px;
		border-bottom: 1px solid #E1E1E1;
		.l(30px);
		.warmTips{
			.fc(#FE6197);
		}
	}
	.reportProcessContain{
		padding:30px 20px;
		.f(14px);
		.reportProcess{
			.left;
			.reporting{
				.fc(#333333);
				.f(16px);
				padding-bottom: 30px;
			}
			.reportType{
				overflow: hidden;
				.typeContain{
					.left;
					.reportingType{
						// .f(16px);
						.fc(#333333);
					}
				}
				.choiceContain{
					.left;
					.pl(25px);
					form{
						input{
							.mb(15px);
						}
					}
				}
			}
			.remarkContain{
				overflow: hidden;
				.pt(20px);
				.remarking{
					.left;
					.pt(10px);
					.remark{
						.fc(#333333);
					}
					.remarkStar{
						display: block;
						.left;
						.w(5px);
					}
				}
				.remarkContent{
					.left;
					.ml(15px);
					textarea{
						border:1px solid #EEEEEE;
						padding: 5px;
					}
					.textareaDesc{
						.f(12px);
						.fc(#CCCCCC);
					}
				}
				.addAccessory{
					display: block;
					padding:10px 0;
					.c;
					.left;
					.w(76px);
					.bgc(#FE6197);
					.fc(#FFFFFF);
				}
				.addPic_tips{
					display: block;
					.left;
					.ml(10px);
					.pt(12px);
					.w(325px);
					vertical-align: middle;
					.fc(#CCCCCC);
					.f(12px);
				}
				.article_post_error, .article_post{
					overflow: hidden;
					.pt(20px);
					.pr(20px);
					// .pr;
					.w(400px);
					border:0px solid blue;
				}
				.item{
					.left;
					border:0px solid red;
					.pb(5px);
					.pl(5px);
					img{
						.w(80px);
						.h(80px);
					}
					.cl_i_close{
						background: url("@{pic_url}/images/club/club_icons_4.png") no-repeat;
						.bp(0, -20px);
						padding: 5px;
						.h(0);
						.pa;
						top: 0px;
						right: 0px;
						.cursor;
						z-index: 10;
					}
					.upload_percentage{.w(0);.h(14px);.border-r(2px);.bgc(#f69);}

				}
			}
		}
		.reportedInfomation{
			.right;
			border:1px solid #EAEAEA;
			.bgc(#FAFAFA);
			// .w(370px);
			.f(16px);
			.mr(20px);
			padding: 0 20px 60px 20px;
			.salerContain{
				clear: both;
				.l(22px);
				padding: 15px 0 0 0;
				.mb(18px);
				.saler{
					.left;
					.w(100px);
				}
				.salerName{
					.left;
					.w(220px);
					.fc(#666666);
				}
			}
		}
	}
	.subContain{
		clear: both;
		padding: 60px 0 80px 0;
		.ignoreChoice{
			.c;
			.pt(5px);
			.fc(#FF6699);
			.f(12px);
		}
		.btnSub{
			width: 240px;
			.c;
			margin: 0 auto;
			.bgc(#FE6197);
			.fc(#FFFFFF);
			padding: 15px 0;
			.mb(10px);
			.cursor;
		}
	}
}

.successContain{
	.w(950px);
	.pt(30px);
	.pb(30px);
	margin: 20px auto 120px;
	border:1px solid #E1E1E1;
	.successReport{
		.pl(20px);
		.fc(#FF6BCD);
		span{
			.pl(15px);
			.f(20px);
			font-weight: bold;
		}
	}
	.sucDesc{
		.pl(20px);
		.pt(15px);
		.f(14px);
	}
	.viewMyreport{
		.pl(20px);
		.pt(30px);
		a{
			.f(12px);
			.fc(#5C68FF);
			text-decoration: underline;
		}
	}
}
