@import "block.less";
.header{
	.w(950px);.auto;.pt(28px);.pb(28px);
}
.logo_new{.logo;.logo>.simple;}
.content {.w(910px);padding:19px;.auto;.border-r(2px);.border-1(@color:#CCC);.bgwhite;}
.flowStep {
	.pt(55px);
	.pb(70px);
	border-bottom:1px solid #bfbfbf;
	ul {.w(680px);.auto;}
	li {.left;.c;.gray;}
	span {.w(12px);.h(12px);.left;.mt(-5px);
			background:url('@{pic_url}/images/store/mls_store131110_1.png') no-repeat -109px -48px;
		}
	.redline {.h(2px);.bgc(#F69);.left;.w(210px);}
	p {.mt(15px);.ml(-185px);}
	.last {.mr(-200px);}
	.current {.red;
		span {.bp(-92px,-48px);}
	}
}
.wrap{
	.auto;
	.pb(20px);
	.mb(50px);
	.w(950px);
	padding: 19px;
	.bgc(#FFFFFF);
	border:1px solid #CCCCCC;
	.f(14px);
	.info{
		.auto;
		.mt(15px);
		clear: both;
		.nec{
			.fc(#FF6BB7);
			vertical-align: middle;
		}
		.yearWrap,.monthWrap{
			z-index : 10;
			.left;
			.w(140px);
			.h(38px);
			.l(38px);
			.c;
			border-radius: 3px;
			border: 1px solid #DDDDDD;
			.f(14px);
		}
		.warn{
			.none;
			.fc(#FF6599);
			.f(12px);
		}
		.year,.month{
			.option{
				.mt(14px);
				.mr(5px);
				.block;
				.right;
				.w(16px);
				.h(8px);
				background: url("http://d03.res.meilishuo.net/pic/_o/be/a4/d559862c9d00eba8a57849734069_16_8.cf.png") no-repeat;
			}
		}
		.seconde{
			.ml(20px);
		}
		ul{
			overflow-y: scroll;
			.w(120px);
			.h(120px);
			cursor: pointer;
		}
		//图片上传相关样式
		.idCardImg{
			padding: 20px 0 0 205px;
		}
		.addAccessory{
			padding: 5px;
			.bgc(#FE6197);
			.fc(#FFFFFF);
		}
		.addPic_tips{
			.fc(#CCCCCC);
			.f(12px);
		}
		.article_post_error, .article_post{
			.pr;
			.w(430px);
			border:0px solid blue;
			.item_con{
				.mt(20px);
			}
		}
		.item{
			.left;
			border:0px solid red;
			.pb(5px);
			.pl(5px);
			img{
				.w(70px);
				.h(70px);
			}
			.cl_i_close{
				background: url("@{pic_url}/images/club/club_icons_4.png") no-repeat;
				.bp(0, -20px);
				padding: 5px;
				.h(0);
				.pa;
				top: 20px;
				right: 0px;
				.cursor;
				z-index: 10;
			}
			.upload_percentage{.w(0);.h(14px);.border-r(2px);.bgc(#f69);}

		}
	}
	.time{
		.clearfix;
	}
	.dec{
		.block;
		.left;
		.mr(25px);
		.w(180px);
		.h(38px);
		.l(38px);
		.f(14px);
		text-align: right;
	}
	.nickName{
		.block;
		.left;
		.h(38px);
		.l(38px);
		.f(14px);
	}
	.context{
		.w(300px);
		.h(38px);
		.l(38px);
		.f(14px);
		border-radius: 3px;
		border: 1px solid #DDDDDD;
	}

	textarea{
		padding: 5px;
		width:293px;
		height: 125px;
		border-radius: 3px;
		border: 1px solid #DDDDDD;
		.f(14px);
		.l(20px);
	}
	//成功
	.sucessWrap{
		.pt(45px);
		.pb(45px);
		.w(634px);
		.auto;
		overflow: hidden;
		img{
			.block;
			.left;
			.mr(30px);
			.mt(9px);
		}
		.sucess{
			.left;
			.freezeSucess{
				.fc(#666666);
				.f(22px);
			}
			.info{
				.fc(#A9A9A9);
			}
			.info,.freezeSucess{
				.h(30px);
				.l(30px);
			}
		}
	}
	.next{
		margin: 20px 205px 0;
		.w(190px);
		.h(30px);
		.l(30px);
		.bgc(#FF6599);
		.fc(#FFFFFF);
		.f(16px);
		.c;
		cursor: pointer;
	}
	.validateFalse{
		margin: 10px 195px 30px;
		.fc(#FF6A9B);
		.f(12px);
	}
}