@import "block.less";
@import "window.less";
.fluid;
.redline();
.approve;
.poster;
.poster_icons;
.face_pop { .window > .head_float; }

.content { .auto; .mt(14px); .w(960px); 
	.twitter_l { .left; .w(720px); }
	.twitter_r { .right; .inline; .mr(6px); .w(228px); }
	.twitter_box { .common_shadowBox; .left; .inline; .hidden; .ml(6px); .w(606px); .pl(50px); .pr(50px); 
		.goods_info { .left; .pr(0px); .mt(25px); .w(305px);
			.tui_tle { .f(14px); .h(36px); .l(18px); .hidden; }
			.tui_sour { .gray; .break-word; .mt(8px); }
		}
		.show_tle { .h(62px); .l(62px); .f(16px); .left; .hidden; .mt(25px); .w(420px);
			a { .red; }
		}	
		.btn_box { .right; .mt(15px); .w(295px); font-weight: normal;.fc(#FF5F97);
			.tui_heart { 
				.c; .left; .fb; .f(14px); .w(204px); .pr;
				.hackie { .h(51px); .hidden; }
				span, b { .block; }
				.t_collect, .t_like { .red; .cursor; .left; 
					 border:1px solid #D2D2D2;}
				.t_collect {padding:8px 10px 5px 10px;.w(95px);font-weight: normal; }
				.t_like { .w(75px); font-weight: normal;.mr(7px);.pb(5px);}
				.lm_love2{ background: url("@{pic_url}/images/share/@{tui}") no-repeat; }
				.lm_love2 { .bp(-136px,-141px); padding: 0 6px 0 7px; }
				.lm_income { .mt(8px);background: url("http://d03.res.meilishuo.net/pic/_o/68/53/eabf9a168775075ce9c03f8b5fae_17_13.cf.png") no-repeat; padding:  0 10px 0 7px; .fc(#666666);}
				.love_pro {
					background: url("@{pic_url}/images/goods/love_pro.png") no-repeat; 
					.red; .left; .c; .f(12px); .h(30px); .l(25px); .w(130px); .fn; 
					.pa; left: 0; top: -27px;	
				}
				.lm_love{
					background: url("http://d04.res.meilishuo.net/pic/_o/87/2d/cc0aed0d2bf5f3356491abd78c31_16_14.ch.png") no-repeat;
					padding: 0 10px 0 7px;
				}
				.likes_status{
					.fc(#666666);.mt(8px);
				}
				.magzine{
					.fc(#666666);
				}
				.likeNum{
					.f(12px);.mt(5px);
				}
				.poster_forward_num{
					.f(12px);.mt(5px);
				}
			}
			.price_go{ 
				border:1px solid #D2D2D2;
				.right; .c;.f(14px); .fb; .fc(#FF5F97);.h(49px);
				font-weight: normal;.w(85px); 
				span { .block; }
				.gobuy{
					background: url("http://d01.res.meilishuo.net/pic/_o/a0/54/85fa3578bc139bd57277177a510e_11_13.cg.png") no-repeat; 
					.fc(#666666);padding: 0px 7px;.ml(15px);.mt(8px);
				}
				.priceOfGoods{
					.f(12px);.mt(5px);.mb(5px);
				}
			}
			.reportGoods{
				.mt(57px);.fc(#999999);
				a:hover{
					.fc(black);
				}
			}
			.warn{
				.f(12px);
				.fc(#FF6A9A);
				display: none;	
			}
		}
		.codepic_box { .hidden; .w(606px); }
		.code_pic { .c; margin: 20px auto 0; max-width: 450px; .pr;
			.off_shelf, .show, .limit, .buyer { .h(72px); .w(72px); .left; .pa; left: -20px; top: -20px; }
			.off_shelf { background: url("@{pic_url}/images/share/shelf.png") no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/share/shelf.png', sizingMethod='scale'); _background: none; }
			.show { background: url("@{pic_url}/images/share/xiu.png") no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/share/xiu.png', sizingMethod='scale'); _background: none; }
			.limit { background: url("@{pic_url}/images/share/limit2.png") no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/share/limit2.png', sizingMethod='scale'); _background: none; }
			.buyer { .h(78px); .w(78px); .block; .cursor; z-index: 10;
				background: url("@{pic_url}/images/share/buyer5.png") no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/share/buyer3.png', sizingMethod='scale'); _background: none; }
			.buyer_txt { .pa; left: 10px; top: 10px;.tl;.none;.mr(10px); .l(20px); padding: 6px 6px 6px 56px;
				background:rgba(255,255,255,0.8);.box-shadow-r(@x:0px,@y:1px,@d:2px, @c:rgba(34,25,25,0.2)); z-index: 5;
				filter:alpha(opacity=85); background: #fff\9; }
			.view_pic { .cursor; .h(28px); .pa; right: 5px; top: 5px;
				filter:alpha(opacity=90); opacity:0.9; .w(93px); z-index: 15; }
		}
	}
	.bar { .common_shadowBox; .hidden; .w(200px); .pr; padding: 0 13px 20px;  
		.user_box { .mt(18px); 
			.avatar48_f img { .border-r(5px); }
			h4, p { .ml(56px); }
			h4 { .h(24px); .l(24px); .hidden; .mb(3px);
				a { .red; .f(14px); }
			}
			.btn,.followed { .i_block; .h(20px); .l(20px); .w(64px); }
		}
		.mls_edit { .gray; .mt(20px); }
		.g_tle { .border-tc; .h(18px); .mt(18px); .pt(20px); 
			span { .gray; .f(16px); .left; }
			a{ .f(14px); .red; .left; .ellipsis; .w(112px); }
		}
		.imgBox{
			.mt(15px); .block; .w(200px); .auto; .h(204px); background: url("@{pic_url}/images/person/pg_bg1.png") no-repeat bottom;
			.minpic,span{.avatar64;.mr(4px);.mt(4px);}
			.maxpic{ .mt(4px); .h(200px); .w(200px); }
		}
		.red_follow, .pink_follow { background: url("@{pic_url}/images/share/@{tui}") no-repeat 0 0; .c; .red; .cursor; .i_block; .f(16px); .fb; .h(32px); .l(32px); .w(200px); }
		.red_follow:hover { .bp(0,-33px); .white; }
		.rec_ico { .common_shadowBox; .pf; right: -40px; top: 0; }
	}
	.shop_info { .shopinfo(); }
}
.tr_bnr, .tl_bnr, .tr_bnr2 { .common_shadowBox; .c; .hidden; .mt(14px); }
.tr_bnr { .h(158px); position:relative;}
.tr_bnr2 { position:relative;}
.tl_bnr { .h(100px); .auto; .w(948px);
	img { .h(100px); .w(948px); }
}
.tr_bnr2 { .h(400px); .hidden;
	img { .h(400px); .w(226px); }
}
.element { .auto; .common_shadowBox; .mt(14px); .w(668px); .pl(20px); .pr(18px); 
	h2 { .yahei; .f(18px); .mt(20px); }
	.ent_list{  
		li { .border-bc; .h(210px); .pt(20px); .pb(20px); .hidden; 
			.pic { .left; .h(210px); .w(270px);
				img { .h(210px); .w(270px); }
			}
			.ent_info { .left; .pl(14px); .w(382px); 
				.tle { .yahei; .f(24px); .h(26px); .l(26px); .ellipsis; .mb(12px); }
				.txt { .f(14px); .h(54px); .l(18px); .hidden; .pl(30px); .pr(25px); .mt(18px); .mb(20px); .pr;
					span { color: #cbcbcb; .f(70px); .pa; }
					.mark_l { left: 0; top: 18px; }
					.mark_r { right: 0; top: 52px; }
				}
				.sm_pic { .h(64px); .hidden; .pr;
					a { .block; .h(64px); }
					img { .avatar64; .mr(4px); }
					span { background: @lightGrayBd; .c; .cursor; .f(14px); .fb; .h(40px); .l(20px); .pa; .w(30px); padding: 12px 5px; right: 0; top: 0; }
				}
			}
		}
		li.last { .border-n; }
	}
}

.lite { .ml(6px); 
	&_info{ .common_shadowBox; .mt(14px);.w(668px); padding: 0 20px 20px; }
	&_content{ .l(18px);.w(340px);.left;}
	.t_tle { .pt(6px); .pb(18px); }
	.sm_pic { .h(64px); .hidden; .pr;.ml(342px);
		a { .i_block; .h(64px); }
		img { .avatar64; .mr(4px); }
		span { background: @lightGrayBd; .c; .cursor; .f(14px); .fb; .h(40px); .l(20px); .w(30px); padding: 12px 5px; .left;}
	}
}
.common_title;
/*猜你喜欢*/
.groupBox { .common_box; }
.groupCon{ .group > .9GG; }
.t_tle { .f(16px); .mt(14px);  }
.auto_box { .auto; .w(960px); }
.guess_box { 
	.groupBox { .ml(0); .mr(0); }
}
.groupBox_change {
	.groupBox { .ml(0); .mr(0); }
	.imgBox { .h(298px); .w(226px); }
}
.top_100 { .top100; }
.page;
.pageNav1{ .page > .pageGray; }
.reply_box{ .reply; }

.spam_pop { .pl(75px); .l(20px); }

.report_pop{
	.hidden;.w(300px);.auto;.pb(10px);.tl;
	.title{.fn;.f(14px);.l(22px);}
	fieldset{
		legend{color:#666;.block;.f(16px);.fb;.l(32px);}
		p{.left;.w(148px);}
		label{.ml(4px);.l(28px);.i_block;.cursor;}
		input{.ml(0.5ex);}
	}
}
.report_success{
	.l(28px);
	h3{.f(16px);.fb;.red;}	
	p{.f(14px);}
}
/*add*/
.daren_comm { .border-bc(dotted); .mt(20px); .pb(20px); .w(100%); 
	.dr_info { .pt(18px); .pl(18px);
		.face { .border-r(5px); .avatar48; .hidden; }
		p { .h(24px); .l(24px); .ml(70px); }
		.nick { .f(14px); .fb; }
	}
	.dr_detail { .l(18px); .pt(18px); }
}
.fashion { .border-bc(dotted); .hidden; .pt(10px); .pb(18px); .w(100%);
	.fs_info { .pt(20px);
		.pic { .h(80px); .w(120px); .hidden; .left;
			img { .h(80px); .w(120px); }
		}
		h4,p { .ml(140px); }
		p { .l(18px); .pt(10px); }
	}
	.description { .ml(152px); .w(430px); }
}
.fas_ico{
	&1,&2 { background: url("@{pic_url}/images/share/fashion.png") no-repeat; .h(60px); .w(48px); .left; }
	&2 { .bp(-64px,0); }
}
.times { .h(20px); .l(20px); .p10_0; .fc(#ccc); }
.adm_mon{ .w(228px); .h(160px);	.block; }

.pcBox { .common_shadowBox; .left; .inline; .hidden; .ml(6px); .mt(14px); .w(606px); .pl(50px); .pr(50px); .pb(18px); 
	.tab_tle { .h(18px); .l(18px); .fc(#ccc); .f(16px); .pt(18px); .pb(18px);  
		a { .pr(10px); }
		.cur{.red;}
	}

	.more_pic { .w(606px); .c; .hidden;
		.load_img { .block;.auto; background: url("@{pic_url}/images/share/loading.gif") no-repeat center;  }
		.more_cur { .red; .cursor; .border-tc(solid); .mt(20px); .pt(16px);
			em { .pr; left: 5px; top: 3px; }
		}
		.h_limit { .block; .hidden; .h(800px); }
	}
	.com_line { .h(0); .hidden; border-top: 1px dotted #ddd; .pb(10px); .w(100%); }
	.comments { 
		.reply_box { .pb(18px); .pr; 
			.review { .mt(18px); }
		}
		.list {  
			li { border-top: 1px dotted #ddd; .l(18px); .pt(18px); .pb(10px); .pr;
				.avatar48_f { .border-r(5px);
					img { .border-r(5px); }
				}
				p { .ml(58px); 
					.date { color: #ccc; .right; }
					.reply { .red; .cursor; .ml(10px) }
					.del { .red; .cursor; }
					.facetableSetxy { .h(24px); .w(24px); }
				}
				.l_con { .f(14px); .l(20px); .mt(12px); }
				.sour { .tr; .fc(#ccc); }
			}
			li.last { .border-n; }
		}		
	}
	.pageNav1 { .c; }
}
.dr_talk { .mt(14px); .l(18px);
	.quot1, .quot2 { background: url("@{pic_url}/images/club/club_icos_2.png") no-repeat; .hidden; .pl(15px); }
	.quot1 { .bp(-61px,-19px); }
	.quot2 { .bp(-76px,2px); }
}
.s_line { .col_line; }
#tb_sr{
	.mt(16px);
	.ml(20px);
	.mr(20px);
	.f(14px);
	background: #ffff80;
	color: black;
	border-radius: 10px;
	display: none;
	a{
		color: #ff6699;
		cursor: pointer;
	}
}
#tb_sr p{
	padding: 15px 15px 10px 15px;
}
#tb_sr_close{
	cursor:pointer;
	font-weight:700;
	float :right;
	padding: 5px 10px ;
}
@import "footer.less";

