@import "block.less";
@import "window.less";

.wx_2code{ .w(95px); .h(135px); background:url("@{pic_url}/images/welfare/wlf_wx2.png") no-repeat; .pf; right:20px; bottom:254px; 
	span{ .pa; .w(60px); .h(20px); right:0; bottom:0; .cursor; }
}
.sec_nav{.second_nav > .brandSec; }
.welfare { .auto; .w(948px); .clearfix;
	.wf_l { .left; .w(706px); }
	.wf_r { .right; .w(228px); }
}
.top_mask { .pa; .h(71px); .w(667px); padding:5px 0 0 13px; top: 283px; background:rgba(255, 255, 255, 0.8) none repeat scroll 0 0!important;filter:Alpha(opacity=80);background:#FFF; }
.top_mask_f { .pa; .h(71px); .w(667px); padding:5px 0 0 13px; top: 283px; 
	.mask_l { .w(490px); .hidden; }
	.m_apply { .mt(6px); .mr(6px); }
}
.cata_title { .cata_attr_title; padding: 0; }
.welfare_adPoster{.h(295px); .pr; .common_shadowBox; .mt(14px);
	.welfare_pre{.hidden;.w(100%);.h(100%);.pr;}
	.wlf_list { .h(295px); .hidden; }
	.ico {z-index:10; background: url("@{pic_url}/images/header/@{welfare_ico}") no-repeat -2px -136px; left: -3px; .h(78px); .w(78px); .pa; top: -3px; }
	.notice { .h(268px); .left; .p13; .hidden; .w(200px);
		.ico { background: url("@{pic_url}/images/header/@{welfare_ico}") no-repeat -2px -136px; left: -3px; .h(78px); .w(78px); .pa; top: -3px; }
		h3 { .red; .f(14px); .h(25px); .l(25px); .hidden; }
		.ad_pic { .h(200px); .w(200px); 
			img { .h(200px); .w(200px); }
		}
		p { .mt(6px); }
		.price { .gray; .l(20px); 
			strong { color: #666; }
		}
	}
}

.free_box {
	.common_shadowBox; .mt(14px); .p13; .pr; .w(680px);
	.begin_bg { background: url("@{pic_url}/images/welfare/f10.png") no-repeat; *background:none; *filter:~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/welfare/f10.png', sizingMethod='scale')"; .h(30px); .w(121px); .white; .f(14px); .fb; .c; .l(28px); .pa; left: -5px; top: 5px; }
	.pic { .left; .h(220px); .w(315px); .hidden; }
	.bewrite { .right; .w(350px);
		p { .hidden; .w(100%); }
		.bw_tle { .red; .f(20px); .h(32px); .l(32px); .hidden;
			.e_ico1 { background: url("@{pic_url}/images/welfare/e_ico2.gif") no-repeat; .left; .h(22px); .mt(4px); .mr(5px); .w(81px); }
		}
		.face { .mt(8px); 
			a { .mr(2px); .h(28px); .w(28px); .hidden;
				img { .h(28px); .w(28px); }
			}
		}
	}
	.time { .l(32px);
		span,strong { .left; .pr(4px); }
	}
	.pro_intro { border-top:1px dashed #DDD; .l(18px); .mt(11px); .pt(9px); }
	.edit_prompt { background:#FFC; border: 1px solid #FFE680; left: 344px; .l(20px); padding: 5px; top: 76px; .w(160px); .c; .pa; }
}
.wf_apply,.wf_detail { background: url("@{pic_url}/images/header/@{welfare_ico}") no-repeat; .block; .h(44px); .mt(10px); .mb(14px); .hidden; .w(173px); }
.wf_apply { .bp(0,-46px); }

.pending {
	.pr;.hidden;
	.common_shadowBox; .mt(14px); .p13;
	.tryon {
		li { border-bottom: 1px dashed #ddd; .l(16px); .hidden; .p10_0; .w(100%);
			p { .h(16px); .right; .hidden; .w(160px); 
				span { .gray; .right; }
			}
			.try_tle { .gray; .ellipsis; }
			.try_name { .w(100px); .ellipsis; .i_block;}
		}
		.last { .border-n; }
	}
	.p_tle { .f(14px); .mt(10px); .zoom; }
	.teamwork { .l(18px); .mt(10px);
		span { .left; .w(60px); .tr; }	
	}
	.relief{.l(18px); .mt(10px);
		.relief_mail{
			.red;
			cursor: pointer;
		}
	}
}
.wf_girl_r { .mt(26px); .left;
	span { .mt(8px); }
}
.wfr_ico1, .wfr_ico2, .wfr_ico3, .wfr_ico4 { background: url("@{pic_url}/images/activity/welfare/flico2.png") no-repeat; .left; .h(44px); .mr(8px); .w(44px); }
.wfr_ico1 { .bp(0,0); }
.wfr_ico2 { .bp(-52px,0); }
.wfr_ico3 { .bp(-104px,0); }
.wfr_ico4 { .bp(-156px,0); }

.page;
.pageNav{.page > .pageRed; }
//.goods_foot_ad;

.welfare_con { .w(948px); margin-left:auto; margin-right:auto; .mt(14px); 
	.wl_main { .w(708px); .left;}
	.btn_apply { .hidden;}
	.wf_ico1, .wf_ico2, .wf_ico3, .wf_ico4 { background: url("@{pic_url}/images/welfare/wf_btn1.png") no-repeat; .h(46px); .w(175px);}
	.wf_ico1 { .bp(0, 0); }
	.wf_ico2 { .bp(0, -52px); }
	.wf_ico3 { .bp(0, -104px); }
	.wf_ico4 { .bp(0, -155px); }
	.wf_msg { .l(20px); .w(144px); .right; .mt(10px); }
	.wl_users, .reply_list, .wl_intro { .mt(14px); .common_shadowBox; .p13;}
	.wl_intro {
		.intro_con { .l(22px); .hidden; .pb(12px);}
	}
	.applyed { border:1px solid #DDD; .h(198px); .mt(8px); overflow-y:scroll;}
	.wl_she { .inline; .left; .h(74px); margin:8px 10px 0 8px; .w(48px);
		.wl_sheimg {.block; .h(48px); .w(48px); 
			img { .w(48px); .h(48px); }
		}
		.wl_shename { .block; .h(26px); .l(26px); .c; .ellipsis; .w(48px); }
	}
	.editorbg { .window > .publishor }
	.window > .replyBox;
	.wl_sider { .right; .w(228px);
		h3 { .f(16px); .fb; }
		.sider_bg { .user_info; }
		.sider_all { .right; .mt(2px); }
		.sider_img { .block; .mt(8px); }
		.sider_wf { .mt(14px); 
			.sider_ttl { .ellipsis; .block; .w(200px); }
		}
	}
}
.welfare_apply { background:#FFF; padding:20px; .w(530px); 
	.wf_explain { background:#FFFFE0; border:1px solid #F9EECE; .l(18px); padding: 5px 10px; .fb;}
	.wf_form { .pt(10px); .w(100%); 
		p { padding: 5px 0; }
		.wa_info { .left; margin: 3px 5px 0 0; .tr; .w(100px); }
		label { .ml(100px); }
	}
	.wfipt1 { .h(14px); .w(170px); }
	.wfipt2 { .h(14px); .w(380px); }
	.wfipt3 { .h(50px); .l(20px); .w(380px); }
	.wfipt1, .wfipt2, .wfipt3, .wfipt4 { .border-1; color: #999; .f(12px); padding: 3px; }
	#weibo_area { .border-1; .ml(105px); padding: 2px 6px; .w(374px); .gray; 
		img { border: 1px solid #FFF; }
	}
	#weibo_area_change { .cursor; .right; .red; }
	.selected { background: url("@{pic_url}/images/webapp/icon_selected_pink.gif") no-repeat; .h(20px); .ml(-22px); .mt(28px); .w(20px); }
	#applying_submit { .ml(105px); border: medium none; .h(28px); .w(100px); background: url("@{pic_url}/images/goods/gdsicon.gif") no-repeat; .fb; .f(14px); .cursor; color:#FFF; }
	.wf_cancel { .l(28px); .pl(10px);}
}
.welfare_apply_before { padding:20px; }	
.wf_bind { .ml(140px); }
.apply_success { .ml(40px); padding:20px; .l(22px); 
	.apply_success_ok { border: none; }
}
.quest_info a { .red; }
.list { 
	li { border-bottom: 1px dashed #ddd; .l(18px); .hidden; .pt(6px); .pb(6px); width: 100%;
		p { .ml(40px); 
			.date { color: #ccc; .right; }
			.reply { .red; .cursor; .ml(10px); }
			.del { .red; .cursor; .right; }
		}
	}	
}		

.approve;

.solidbtn;
.solidbtn > .small_red;
.solidbtn > .small_pink;


@import "footer.less"; 

