<%# head.html%>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<img width="100%" src="http://d05.res.meilishuo.net/pic/_o/fb/ee/753a028874ae639723386cc37030_640_805.cf.jpg" />
	<div class="dream-btn">
		<a href="?ifor=me" class="left_f">为自己圆梦 <img src="http://d05.res.meilishuo.net/pic/_o/d1/b3/aa209fa200f13835b9b0a0a2538e_8_14.cg.png" /></a>
		<a href="?ifor=ta" class="right_f">帮TA圆梦 <img src="http://d05.res.meilishuo.net/pic/_o/d1/b3/aa209fa200f13835b9b0a0a2538e_8_14.cg.png" /></a>
	</div>
	<div class="mls">
		<img src="http://d02.res.meilishuo.net/pic/_o/5a/00/7d1c5a060041c9099b635b1f3c20_147_61.ch.jpg" />
	</div>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
     fml.use('wap/page/wx/wx_share_chooseImage');
_use:", this._JSstack , this._JSmods ); %>
<%# foot.html%>
