#com-foot{
	min-width: 1260px;
	margin-top: 15px;
	padding-top: 30px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
}
#com-foot .inner{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
#com-foot .flist{
	float: left;
	margin-right: 50px;
	margin-bottom: 20px;
	line-height: 26px;
}
#com-foot .last{
	float: right;
	margin-right: 0;
}
#com-foot .flist h4{
	font-size: 16px;
	line-height: 28px;
}
#com-foot .tel-ico{
	background: url("http://i.meilishuo.net/css/images/header/mls_global140607.png") no-repeat 0 -111px;
    height: 40px;
    width: 36px;
    float: left;
}
#com-foot .tel{
	font-size: 20px;
}
#com-foot .custem{
	padding-left: 48px;
	line-height: 25px;
}

#com-foot .i-sina,#com-foot .i-qzone,#com-foot .i-tencent{
    background: url("http://i.meilishuo.net/css/images/header/mls_global140607.png") no-repeat;
    height: 16px;
    width: 16px;
    margin-top: 5px;
    margin-right: 5px;
    float: left;
    background-position: 0 -21px;
}
#com-foot .i-qzone{
	background-position: -73px -21px;
}
#com-foot .i-tencent{
	background-position: -49px -21px;
}
#com-foot .follow{
	display: none;
}
#com-foot .qrcode{
	width: 115px;
	 	height: 115px;
	margin-top: 13px;
}
#com-foot .client{
	background: url("http://i.meilishuo.net/css/images/header/mls_global140607.png") no-repeat 0 -401px;
    display: block;
    height: 100px;
    margin-top: 10px;
    width: 132px;
}
#com-foot .friendlink{
	clear: both;
	border-top: 1px solid #e6e6e6;
	line-height: 20px;
	padding: 5px 10px;
	overflow: hidden;
}
#com-foot .link{
	float: left;
}
#com-foot .more{
	float: right;
}
#com-foot .link-slide{
	float: left;
	height: 20px;
	line-height: 20px;
	width: 800px;
	overflow: hidden;
}
#com-foot .link-slide a{
	padding-left: 5px;
}
#com-foot .record{
	clear: both;
	border-top: 1px solid #e6e6e6;
	line-height: 22px;
	padding-top: 10px;
	padding-bottom: 15px;
}