@import "wx.less";

.nav_top {
	.pr; .h(58*@px); .l(58*@px); .p10_0; border-bottom: 1px solid #d6d6d6; .bgc(#f7f7f7);
	.nav_box {
		.pr; .mr(20*@w); .ml(20*@w);
		.goods { .w(525/600*100%);}
		li {
			.left; .w(172/525*100%);.c; border: 1px solid #ff6699; border-right: none; .cursor;
			a { color: #ff6699; .i_block;}
		}
		.active {
			.bgc(#ff6699);
			a {.white;}
		}
		.navfirst { border-radius: 10*@px 0 0 10*@px;}
		.navLast {
			border-right: 1px solid #ff6699; border-radius: 0 10*@px 10*@px 0; .vm;
		}
		.logisticIcon {.i_block; .w(36*@px); .pa; top: 20*@px; right: 1%;}
	}

}

.content_daily {
	.ml(20*@w); .mr(20*@w); 
	.daily_title {
		.clearfix; .l(36*@px);
		.pt(20*@px); .pb(20*@px);
		.money_icon {.i_block; .w(28*@px);.vm; .left; .mt(1px);}
		.daily_type { .f(28*@px); color: #787878; .pl(8*@px); .left;}
		.daily_banner { .bgc (#fe8bb1); .l(36*@px); .white; .border-r(6*@px); .i_block; .pr(2px); .pl(2px); .right; .vm; .f(20*@px);}
	}

	figure {
		.border-1(#d9d9d9); .mb(20*@px);
	}
	.show_img {.w(600*@w); .h(300*@px); .c;}
	.goods_info{
		.pt(20*@px); .pl(20*@px); .pb(20*@px); .pr(20*@px);
		.goods_title { .f(28*@px); .l(28*@px); .fc(#333333); .pb(10*@px);}
		.goods_data {.f(22*@px); .l(22*@px); .fc(#666666); .pr(20*@px);}
		.goods_cost {.pt(20*@px); .pb(10*@px); .fc(#999999);}
		.now_cost {.f(42*@px);}
		.normal_cost {.f(32*@px); .t-through;}
		.goods_btn {.right; .w(180*@px); .h(60*@px); .f(28*@px); .l(60px*@px); .c; .white; .bgc(#ff6699); .cursor;}
	}
	
}

.goods_lists{
	.mb(20*@px); .ml(20*@w);
	ul{.clearfix;}
	.new_goods {.mb(20*@px);}
	.goods_li {.left; .w(290/620*100%); .pr;.mr(20/620*100%); .mt(20*@px);
		&:nth-child(2n){
			.mr(0px);
		}
	}
	.li_border {.border-1(#d9d9d9);}
	.list_img {.i_block;.w(290/290*100%);}
	.img_bt { border-bottom: 1px solid #b9b9b9;}
	.list_info { .pt(20*@px); .pl(20*@px); .pb(20*@px); .pr(20*@px);}
	.list_title {.f(22*@px);  .fc(#666666); .l(32*@px);}
	.list_cost {.pt(20*@px); .pb(10*@px);}
	.money_now {.f(30*@px); .pr(10*@px);}
	.money_normal {.f(22*@px); .t-through;}
	.goods_type {.pa; top: 0; left: 10*@px; .w(70*@px); .h(34*@px); .l(34*@px); .white; .c; .border-r(0 0 6*@px 6*@px);}
	.new {.bgc(#ff96b9);}
	.hot {.bgc(#ff6f80);}
}
.like {
	.mt(30*@px); .pt(30*@px); .pb(26*@px); .mb(30*@px); border-bottom: 1px solid #d5d5d5; .mr(20*@w); .ml(20*@w); border-top: 1px solid #d5d5d5;
	p{.l(36*@px); .f(24*@px); .c;}
}
.download {
	.mr(20*@w); .ml(20*@w); .clearfix; .f(24*@px); .l(60*@px);
	.logo_icon { .w(60*@px); .h(60*@px); .left; .vm; .mr(20*@px);}
	.downBtn { .right; .l(50*@px); .w(150*@px); .vm; .bgc(#fe84ac); .c;  .white; .f(24*@px); .border-n; .border-r(6*@px); .cursor; .mt(4*@px);}
}
