@import "../block.less";

body {
	.bgc(#067b37);
}

img {
	.w(100%);
}

.bg100() {
	background-size: 100%
}

.coupon-box,.gift-box {
	.w(80%);.auto;.pt((234/382)*90%);text-align: center;.mt(8%);
	.fc(#fff);
	background: url("http://imgtest-dl.meiliworks.com/img/_o/57/0e/eedc7682716c16519315c5630192_342_247.ch.png") 0 0 no-repeat;
	.bg100();
	.bottom{.w(100%);.auto;.pt(3%);.pb(20%);
		background: url("http://d05.res.meilishuo.net/img/_o/3c/82/c1afd27a019993a6d4c320ae7a3c_342_2000.cf.png") 0 bottom no-repeat;
		.bg100();
	}
}

.gift-box {
	background: url("http://imgtest.meiliworks.com/img/_o/3a/3b/04b5f30826d9b6fd87d63d5b09d3_342_247.cf.png") 0 0 no-repeat;
	.bg100();
}

.msg {
	.f(1rem);.mt(10px);.mb(15px)
}

.btn-get,.btn-again {
	.block;.auto;background: url("http://d05.res.meilishuo.net/img/_o/a3/a4/1cfcc229a1573fdd9b64160bc817_252_48.ch.png") 0 0 no-repeat;
	.w(70%);.pt(13.2%);.bg100();
}

.btn-again {
	background: url("http://d03.res.meilishuo.net/img/_o/03/9c/6c9cd34f421b94b942e8f35f83d2_252_48.ch.png");
	.bg100();.mt(15px);
}

.phone-box {
	.w(90%);.pt(12.5%);.pr;.auto;.mb(15px);background: url("http://d02.res.meilishuo.net/img/_o/48/ea/2dbf841209394cbc44519e5acf6d_327_46.cf.png");
	.bg100();
	input{.pa;border: none;.border-r(0);
		.fc(#000);left: 30%;
		top: 6%;
		.w(45%);.h(60%);.f(1rem);outline: none
	}

	a {
		.pa;.w(18%);.pt(14%);right: 0;
		top: 0
	}
}

.tips {
	.f(0.8rem);.mt(15px)
}
