@import "wx.less";

.next_icon { .pa; .w(15*@px); .h(25*@px); .cursor; right: 40*@w;}
.status_icon { .wx_icon; .w(26*@px); .h(32*@px);}

.more { .f(28*@px); .pt(40*@w);.pb(40*@w);.block; .c; .l(16*@px);}
.eva_more { .l(26*@px);}
.xiala_icon { .w(28*@px); .h(16*@px); .i_block;}
.no_weixin_notice{
	.mt(20*@px);
	.yellow_box;
}

.check {
	.c; 
	.pt(30*@w); .f(28*@px); .l(60*@px); .clearfix;
	.receipt_btn, .check_btn{.w(210/560*100%);.l(56*@px); .border-r(10*@px);.c; .i_block;.border-1 (#ff6699);.ml(10*@px);.mr(10*@px);}
	.receipt_btn {.bgred;.white;}
	.check_btn {.border-1 (#ff6699);}
};


.check_new {
	.c; .bgc(#fff);
	.pt(60*@w); .f(28*@px); .l(60*@px); .clearfix;
	.receipt_btn, .check_btn{.w(210/560*100%);.l(56*@px); .border-r(10*@px);.c; .i_block;.border-1 (#ff6699);.ml(10*@px);.mr(10*@px);}
	.receipt_btn {.bgred;.white;}
	.check_btn {.border-1 (#ff6699);}
}

.receiver {
	.module_info; .pr;
	.receiver_line { .h(6*@px); background: url("@{pic_url}/images/wap/web/wx/boder_bg.png") repeat-x;}
	.receiver_info { 
		 .clearfix; .f(24*@px); .padding;
		p { 
			.l(36*@px); .pt(4*@px); .pb(4*@px); .clearfix;
			span{ .left; .ellipsis;.w(50%);}
		}
		.user_icon { .w(26*@px); .h(26*@px); .wx_icon;} 
		.tel_icon { .w(22*@px); .h(24*@px); .mt(4*@px); .wx_icon;}
	}
	
}

.place {
	.module_info; .f(24*@px);
	.padding;
	.site_icon { .w(28*@px); .h(24*@px); .wx_icon;}
	.way {
		border-left: 1px solid #d9d9d9; .pl(30*@px); .ml(10*@px); .pr;
		.way_now {
			.pt(30*@px); .pr; .pb(20*@px);
			.way_icon { .pa; left: -20px; top: 15px; .w(10px); .h(10px); .wx_icon;}
		}
		.next { .pa; .w(15*@px); .h(25*@px); .cursor; right: 0; top: 32*@px;}
	}
	.order_time { .gray; }
}

.order_info_wrap { .mt(20*@px);}
.order_info {
	.mb(20*@px);
	.order_bt { background: url("@{pic_url}/images/wap/web/wx/huabian.png") repeat-x; .h(5px);}
	.payment {
		.bgc(#fff); .padding; .l(28*@px); .mt(20*@px); .border-td9;
		.payment_icon { .wx_icon; .w(28*@px); .h(30*@px);}
	}
	.status {
		.c; .l(32*@px); .padding; border-top: 1px solid #cbc8c7; border-bottom: 1px solid #cbc8c7; .pb(20*@w);
		.status_info {.i_block;}
	}
	.goods {
		.pt(20*@px);.pb(40*@px);.pl(40*@px);.pr(40*@px);.clearfix; .bgc(#fff); .pr;
		.goods_next { top: 40/120*100%;}
		.shop_name { .pb(0); }
		.goods_img { .left; .w(120/560*100%); .block; .border-1(#d9d9d9);}
		.goods_info_wrap {.clearfix;}
		.goods_info {
			.ml(150/560*100%); .mr(100/560*100%); .clearfix;
			p { .l(36*@px);} 
			.goods_title { .f(28*@px); .l(36*@px);}
			.goods_size, .goods_price{
				.left;.f(20*@px);.fc(#959595);	.mt(20*@px);
				span{.block;}
			}
			.goods_size{.mr(60*@px);}
			.success_ti { .f(32*@px); .pb(10*@w);}
		}
		.goods_list_info { .mr(30/560*100%);}
		.goods_info_btm { .border-bd9; .pb(30*@px); .pt(30*@px);}
		.goods_info_bno { .border-n;}
		.refund { .right; .pt(30*@px); .l(50*@px);
			span { .block; .c;}
		}
		.re_btn { .w(120*@px); .block; .mt(15px);}
		.confirm_goods {
			.goods_title { .pb(6*@px);}
			.goods_num { .w(110/560*100%); .f(30*@px); .mt(10*@px);}
		}
		.total {
			.f(24*@px); .pt(30*@px);
			.free_icon {.wx_icon; .w(26*@px); .h(24*@px);}
			.total_money { .right;}
		}
	}
}

.safety {
	.module_info; .f(22*@px); .padding;
	dl {
	    .l(32*@px); .pb(30*@px);
		dt { .pb(30*@px); .f(28*@px);}
		.kefu { .pt(30*@px); .pb(30*@px);}
		.kefu_tel { .w(270/560*100%); }
	}
	.indent_info {
		.l(36*@px); .pt(30*@px); .pb(20*@px); border-top: 1px solid #d9d9d9;
	}
}

.verify {
	.module_info; .padding; .l(64*@px);
	span { .f(32*@px);
		a{.right;}
	}
	p{.c;
		a{.ml(10*@px);.mr(10*@px);.i_block;}
	}
	a {.w(230/560*100%); .l(64*@px); .wx_btn}
}

.coupon_msg { .pl(60*@px);}
/* === confirm start === */

.confirm_next { top: 250*@w; right: 20*@px;}
.shop_confirm_next{ top: 16px; right: 20*@w;}

.success {
	.module_info; border-top: none; .padding; .f(28*@px); .bgc(#fafafa); .pb(80*@w);
	.congrats { .f(32*@px); .pt(10*@px); .pb(20*@px);}
	.ml_color { .l(40*@px); }
}

.pay_btn_wrap { 
	.c; .pt(20*@w); .pb(20*@w); .bgc(#fff);
	.pay_btn {.w(325/560*100%); .wx_btn; .l(68*@px);}
}

.pay_way {
	.module_info; .padding; .bgwhite; .l(28*@px); .border-td9; .border-bd9; .mb(20*@px); .pr;
	.pay_list { 
		.red; .right;
		span { .colorgrey;}
	}
	.plat_list {.block; .pt(20*@px); float: none;}
	.no_coupon { .colorgrey;}
	.payment_icon { .wx_icon; .w(28*@px); .h(28*@px);}
}

.pay_info {
	.module_info; .padding; .bgwhite; .mt(0); border-top: none; border-bottom: none; .pt(0); .pb(20*@px); .pr(0);
}

.pay_way_other { margin: 0; padding: 30*@px; .pl(0);}

.freight { border-bottom: none;}

.msg { .border-d9; padding: 10*@px; .l(30*@px); .fc(#666); .bgwhite; margin: 0; .border-r(10*@px); .w(560/600*100%); .mt(20*@px); .h(100*@px);}

.total {
	.module_info; .padding;.f(24*@px); .pt(30*@px);
	.free_icon {.wx_icon; .w(26*@px); .h(24*@px);}
	.total_money { .right;}
}

/* === myorder start === */

.order_status {
	border-bottom: 1px solid #d9d9d9; .pb(30*@px); .mb(30*@w); .pt(20*@px);.l(32*@px); .pr;
	.all { .right; .mr(30*@w);}
}
.myorder_next { top: 4*@px; right: 0;}
.shop_name {
	.ellipsis;
	.clearfix; .pb(26*@w);
	.shop_icon { .wx_icon; .w(28*@px); .h(24*@px);}
}
.shop_cost { .pt(30*@w);}

/* === order_empty ==== */ 
.order_empty {
	.c; .pt(230*@px);
	.empty_icon {.wx_icon; .w(68*@px); .h(84*@px); .i_block; float: none;}
	h3 { .f(36*@px); .pt(46*@px); .l(18px); .fn;} 
	p{ .f(24*@px); .pt(20*@px);}
	.btn { .wx_btn; .f(36*@px); .w(280*@w); .h(80*@px); .l(80*@px); .mt(100*@px);}
}


/* === success start === */
.ses_next { top: 30/120*100%;}
.attention {
	.c; .pt(30*@w); .l(36*@px);
}

.order_ses {
	.padding; .module_info; .f(28@px);
	p{ .l(40*@px);}
	.ok_wrap { .f(36*@px); }
	.ok_icon { .wx_icon; .w(40*@px); .h(40*@px); .pr(10*@px); .mt(4*@px); .mr(0);}
}
.mls_kefu { .c; .bgc(#fff); .pb(60*@px); .pt(60*@w);}


/* === fail start === */
.fail {
 	.module_info; .border-r(20*@px); .pb(80*@w); .pt(80*@w); .pl(100*@w); .pr(100*@w);.border-n; .pr; 
	.fail_icon { .wx_icon; .w(40*@px); .h(40*@px); .pa; left: 40/560*100%;}
	h3 { .f(32*@px); .l(40*@px);}
	p {.pt(10*@px); .pb(40*@w); .f(28*@px);}
	.failbtn_wrap { .c;}
	.fail_btn { float: none; .w(280/560*100%);}
}

/* === show_coupon === */
/*弹窗*/
.dialog();
.selectDialog();
.select_wrap {
	.bgwhite; .border-d9; .pf; bottom: 0; .w(100%); .h(326*@px); overflow-y: scroll;
	li { .pl(90*@px);.l(80*@px); .border-bd9; .h(80*@px); .pr; .f(24*@px);}
	.checkState { .pa; .left; top: -1px; left: 10*@px; background: url("@{pic_url}/images/wap/web/wx/ok_icon.png") center center no-repeat; .w(40px); .h(40px); .vm; background-size: 20px;}
}

