@import "../block.less";
body{
	.fc(#fff);
}
img{.w(100%);.vm;}
.wrap{
	img{
		&:nth-child(1){
			.h(100%);
		}
	}
	section{
		.pa;top:0;left:0;
		.pl(70*@w);.pr(70*@w);.f(24*@px);.w(500*@w);
		p{
			.l(84*@px);.tr;.mr(-30*@px);.f(26*@px);
		}
		h2{
			.c;.f(38*@px);.mb(40*@px);
		}	
		.next,.last{
			margin: 35% auto 0;.hidden;.c;.block;.fc(#fff);.w(450*@w);.pt(3%);.pb(3%);.f(40*@px);border: 1px solid rgba(255, 255, 255, 0.95);
		}
		label{
			input{
				.mr(5px);.mt(0)
			}
		}
	}
	#index-1,#index-4,#index-5{
		label{
			.block;.left;.w(260*@w);.pt(45%);.mt(5px);
			&:nth-child(even){
				.ml(80*@w);
			}
		}
	}
	#index-2,#index-3{
		p{
			.mr(30*@px);
		}
		label{
			.block;.pt(30px);
		}
	}
	#index-1{
		label{
			&:nth-child(3){
				background: url("@{pic_url}/images/wap/web/wx/survey/work.jpg") no-repeat;
				background-size: 100%;
			}
			&:nth-child(4){
				background: url("@{pic_url}/images/wap/web/wx/survey/stud.jpg") no-repeat;
				background-size: 100%;
			}
			&:nth-child(5){
				background: url("@{pic_url}/images/wap/web/wx/survey/family.jpg") no-repeat;
				background-size: 100%;
			}
			&:nth-child(6){
				background: url("@{pic_url}/images/wap/web/wx/survey/free.jpg") no-repeat;
				background-size: 100%;
				.mb(22px);
			}
		}
	}
	#index-2{
		h2{
			.mb(40px);.f(34*@px);
		}
		label{
			.pl(12%);
		}
		.next{
			.mt(35%);
		}
	}
	#index-3{
		.f(14px);
		h2{
			.mr(-10px);
		}
		p{
			.mr(-30*@px);
		}
		label{
			input{
				.block;.left;
			}
			span{
				.l(18px);
			}
		}
		.next{
			.mt(20%);
		}
	}
	#index-4{
		label{
			input{
				.block;.left;.h(15px);.mr(10px);
			}
			&:nth-child(3){
				background: url("@{pic_url}/images/wap/web/wx/survey/keen.jpg") no-repeat;
				background-size: 100%;
			}
			&:nth-child(4){
				background: url("@{pic_url}/images/wap/web/wx/survey/often.jpg") no-repeat;
				background-size: 100%;
			}
			&:nth-child(5){
				background: url("@{pic_url}/images/wap/web/wx/survey/ouer.jpg") no-repeat;
				background-size: 100%;
			}
			&:nth-child(6){
				background: url("@{pic_url}/images/wap/web/wx/survey/none.jpg") no-repeat;
				background-size: 100%;
				.mb(24px);
			}
		}
	}
	#index-5{
		.c;
		p{
			.h(80*@px);
		}
		h2{
			.mb(15px);
		}
		label{
			.pt(52%);
			&:nth-child(3){
				background: url("@{pic_url}/images/wap/web/wx/survey/pic5-1.jpg") no-repeat;
				background-size: 100%;
			}
			&:nth-child(4){
				background: url("@{pic_url}/images/wap/web/wx/survey/pic5-2.jpg") no-repeat;
				background-size: 100%;
			}
			&:nth-child(5){
				background: url("@{pic_url}/images/wap/web/wx/survey/pic5-3.jpg") no-repeat;
				background-size: 100%;
			}
			&:nth-child(6){
				background: url("@{pic_url}/images/wap/web/wx/survey/pic5-4.jpg") no-repeat;
				background-size: 100%;
				.mb(10px);
			}
		}
		.next{
			.mt(50%);
		}
	}
}

.wrap-start{.pf; 
	background: url("@{pic_url}/images/wap/web/wx/survey/start-bg1.jpg") no-repeat;
	background-size: 100% 100%;
	.h(100%);
	.w(100%);
	.start{
		.pa;bottom: 10%;.fc(#fff);left:15%;width: 70%;border: 1px solid rgba(255, 255, 255, 0.95);margin:auto 0;.block;.c;.pt(3%);.pb(3%)
	}
}

.wrap-end{
	.pf;.h(100%);
	img{
		.h(100%);
	}
	span{
		.block;.pa;bottom:0;.w(100%);.h(50%);
	}
	a{
		.pa;bottom:15%;.block;.fc(#fff);left:30%;.w(40%);.c;.f(19px);
	}
}





