@import "../block.less"; 
@import "../window.less"; 
@w:740px; 
*html{background-color:#f2f0f0; }
body{overflow:hidden !important;}

.solidbtn;
.solidbtn > .small;

.wf_btn; 
.wf_apply, .wf_detail, .wf_ico1, .wf_ico2, .wf_ico3, .wf_ico4{margin:8px 0px; }
.wf_apply {.cursor;}
.wf_advance{
	.mt(4px);.i_block;.hidden; .h(44px); .w(126px);
	background: url("@{pic_url}/images/app/qqwelfare/notice_btn.png") no-repeat; 
	*background:none; *filter:~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/app/qqwelfare/notice_btn.png', sizingMethod='scale')";
}

.qqwelfare { .auto; .w(@w + 20);.h(860px);.hidden; overflow-y:auto;.pa; }
.record { .auto; .w(@w);.h(20px);.l(20px);.c; }
.top_box{
	.pr;.auto; .w(@w); .common_shadowBox; .mt(8px); .h(100px); 
	background: url("@{pic_url}/images/app/qqwelfare/topBanner2.jpg") no-repeat; 
	.inviteBtn{.cursor;.i_block;.w(98px);.h(34px);.pa;right:26px;bottom:6px;}
}
.nav{
	.auto; .w(@w);.l(18px);.mt(14px);.f(14px);
	span, a{padding:0px 4px;}
	.goHome{.pl(0px);}
}
.commingsoon_box {
	.auto;.w(@w);.h(700px);.common_shadowBox;.mt(14px);.mb(10px);
	background: url("@{pic_url}/images/app/qqwelfare/commingsoon.jpg") no-repeat; 
}
.notice_box{
	.auto; .w(@w - 20px); .common_shadowBox; padding:10px; .mt(14px); 
	.notice, .tryon{.h(165px); }
	.notice{
		.w(430px); .left;.pr; 
		background: url("@{pic_url}/images/app/qqwelfare/incoming.jpg") no-repeat; 
		.notice_bg{
			background: url("@{pic_url}/images/app/qqwelfare/notice_bg.png") no-repeat; 
			*background:none; *filter:~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/app/qqwelfare/notice_bg.png', sizingMethod='scale')";
			.h(73px); .w(70px); .pa;
		}
		.bewrite{.right; .w(220px); 
			p{.hidden; .w(100%); .l(32px); }
			.bw_tle{.red; .f(20px); .h(42px); .l(42px); .hidden; .ellipsis; .w(100%); }
			.time, .timeStamp{
				span, strong{.left; .pr(2px); }
			}
			.time strong{.f(20px); }
			.timeStamp{
				span{.f(14px); }
				strong{.f(18px); }
			}
		}
	}
	.tryon{.right; .w(280px); 
		h3{.f(14px); .l(16px); .w(100%); .ellipsis; }
		ul{.h(148px); .hidden; }
		li{.border-bc; .l(16px); .hidden; .pt(9px); .pb(9px); .w(100%); 
			p{.h(16px); .l(16px); .hidden; .ml(36px); .gray; 
				.time{.right; }
			}
			.try_tle{.ellipsis; .w(240px); }
		}
		.last{.border-n; .pb(0px); }
	}
}
.free_box{
	.auto; .pr; .w(@w - 26px); .common_shadowBox; .p13; .mt(14px); 
	.begin_bg{
		background: url("@{pic_url}/images/welfare/f1.png") no-repeat;
		*background:none; *filter:~"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/welfare/f1.png', sizingMethod='scale')";
		.h(30px); .w(111px); .white; .f(14px); .fb; .c; .l(28px); .pr(10px); .pa; left: -3px; top: 5px;
	}
	.pic{.left; .h(220px); .w(315px); .hidden; }
	.bewrite{.right; .w(380px); 
		p{.hidden; .w(100%); .l(32px); }
		.bw_tle{.red; .f(20px); .h(32px); .l(32px); .hidden; .ellipsis; .w(100%); }
		.time, .timeStamp, .timeOut{
			span, strong{.left; .pr(4px); }
		}
		.time, .timeStamp{
			strong{.f(20px); }
		}
		.timeOut{
			strong{.f(14px); }
		}
		.face{
			img{.mr(2px); .h(28px); .w(28px); .hidden; }
		}
		.intro{.l(18px);.border-tc;.mt(6px);.pt(10px);.h(36px);.hidden;}
	}
}
.intro_box{
	.auto; .w(@w - 26px); .common_shadowBox; .p13; .mt(14px); .l(22px); 
	a{.red; }
}
.talk_box{
	.auto; .w(@w); .mt(10px); .mb(8px); 
	h3{.l(22px); }
	.talk_content{
		.common_shadowBox; padding:36px 13px; .mt(10px); 
		.twitter_box{.mb(14px); }
		.t_body{
			.l(26px); .ml(84px); padding:10px; border:1px solid #eee; 
			.t_ico{
				.w(10px);.h(20px);.pa;
				margin-left:-20px;_margin-left:-23px;
				background: url("@{pic_url}/images/group/twitter_ico.gif") no-repeat 0 -20px; 
			}
			.t_user, .t_con{.f(14px); }
			.t_user{.fb;.red;}
			.t_info{
				.gray; 
				span{.pl(4px); }
			}
		}
		.last{.mb(0px); }
	}
}

.qqwelfare{
	&InfoWin{
		padding:10px;.c;
		h3{.f(14px);.l(22px);}
		.onTrueBtn{.common_button; .common_button > .redBtn; .border-n; .f(14px); .h(22px); .p010;.l(22px); .mt(10px);.i_block;}
	}
	&ApplyWin {
		padding:10px 20px;
		.info{.yellow;.l(18px);.h(18px); padding:5px 8px;} 
		fieldset { 
			form{
				p{.mt(14px);
					label{.left;.tr;.l(22px);.w(68px);}
					span{.pa;.ml(8px);}
				}
				div{.mt(14px);.l(28px);.ml(68px);
					span{.cursor;}
					.button{.common_button; .common_button > .redBtn; .border-n; .f(14px); .fb; .h(28px); .mr(10px); .p010;.w(120px);.left;}
				}
			}
		}
	}
	&SuccessWin{
		.f(14px);padding:10px 20px;
		h3{.c;.f(14px);.l(22px);}
		.connect{
			.mt(14px);.mb(10px);
			.qzone, .qqweibo, .email{
				.c;.pt(8px);.pb(14px); .w(126px);
				span{
					.i_block;.h(80px);.w(80px);background: url("@{pic_url}/images/app/qqwelfare/qzone.png") no-repeat;
				} 
				p{.mt(10px);.l(44px);}
			}
			.qzone, .qqweibo{ .border-rc;.left; }
			.qqweibo span{.bp(-80px,0px);}
			.email{
				.ml(254px);
				span{.bp(-160px,0px);}
			}
			.weixin{
				padding:20px 0px 10px 20px;margin:10px auto 0px auto;
				.border-tc;.w(330px);
				span{.left;.h(80px);.w(80px);background: url("@{pic_url}/images/header/mls_weixin_code.jpg") no-repeat;} 
				p{.ml(120px);.h(44px);.l(22px);.pt(18px);.pb(18px);}
			}
			.invite{.c;
				.small_btn{.pl(16px);.pr(10px);}
				p{.l(22px);.mt(8px);}
			}
		}	
	}
}

.good,.bad{.h(22px);.l(22px);.red;background:url("@{pic_url}/images/register/form.gif") no-repeat;}
.good{.bp(0px,0px);.w(22px);}
.bad{.bp(-22px,0px);.pl(26px);}

.l_ipt_w, .l_ipt_wh { .border-1; .gray; .l(20px); .p05; }
.l_ipt_w { .h(20px); .w(470px);}
.l_ipt_wh { .h(60px); .w(470px);}


.page; 
.pageNav{.page > .pageRed; }
.paging_panel{padding:10px 0px; }

@import "../footer.less"; 

