@import "../../block.less";
@import "../../atom.less";

.bg1{.w(100%);.h(520px);background:url("@{pic_url}/images/biz/promotion/sale_141212/method12_01.jpg") no-repeat center top;
	.clock_main{.pr;top:10px;.w(980px);.h(80px);.auto;
		.clock{ .auto;.h(60px);.w(580px);color:#fff; font-size:20px; font-weight:bold;.l(50px);
			b{font-weight: normal;.fc(#9e1a19);
				background:url("@{pic_url}/images/biz/promotion/sale_141212/clockbg.png") no-repeat 8px 6px;text-indent:10px;*text-indent:5px;
				.i_block; .w(41px);margin:0 3px;padding-right:5px;*padding-right:0;.h(53px);.f(28px); margin:0 3px;
			}
		}
	}
}
.bg2{.w(100%);.h(320px);background:url("@{pic_url}/images/biz/promotion/sale_141212/method12_02.jpg") no-repeat center top;}
.bg3{.w(100%);.h(445px);background:url("@{pic_url}/images/biz/promotion/sale_141212/method12_03.jpg") no-repeat center top;
	.main{.pr;.w(960px);.h(100%);.auto;
		.link1{.block;.pa;left:500px;top:60px;.w(200px);.h(60px);}
		.link2{.block;.pa;left:500px;top:265px;.w(200px);.h(60px);}
	}
}
.bg4{.w(100%);.h(405px);background:url("@{pic_url}/images/biz/promotion/sale_141212/method12_04.jpg") no-repeat center top;
	.main{.pr;.w(960px);.h(100%);.auto;
		.link1{.block;.pa;left:65px;top:285px;.w(200px);.h(60px);}
		.link2{.block;.pa;left:360px;top:285px;.w(330px);.h(60px);}
	}
}
.bg5{.w(100%);.h(420px);background:url("@{pic_url}/images/biz/promotion/sale_141212/method12_05.jpg") no-repeat center top;}
.bg6{.w(100%);.h(430px);background:url("@{pic_url}/images/biz/promotion/sale_141212/method12_06.jpg") no-repeat center top;}
.bg7{.w(100%);.h(490px);background:url("@{pic_url}/images/biz/promotion/sale_141212/method12_09.jpg") no-repeat center top;}

// right_nav
.nav_right{.pf;z-index:999;display:none;top:50px;right:10px;.w(137px);.h(582px);background:url("@{pic_url}/images/biz/promotion/sale_141212/right_nav4.png") no-repeat 0 0;
	.nav_a{.block;.w(100%);.h(29px);}
	.nav_main{.pr;.w(100%);.h(380px);.mt(76px);
		.nav_a1{.nav_a;
			&:hover,&.current{background:url("@{pic_url}/images/biz/promotion/sale_141212/navBtn/nav_01.png") no-repeat 0 bottom;}
		}
		.nav_a2{.nav_a;
			&:hover,&.current{background:url("@{pic_url}/images/biz/promotion/sale_141212/navBtn/nav_02.png") no-repeat 0 bottom;}
		}
		.nav_a3{.nav_a;
			&:hover,&.current{background:url("@{pic_url}/images/biz/promotion/sale_141212/navBtn/nav_03.png") no-repeat 0 bottom;}
		}
		.nav_a4{.nav_a;
			&:hover,&.current{background:url("@{pic_url}/images/biz/promotion/sale_141212/navBtn/nav_04.png") no-repeat 0 bottom;}
		}
		.nav_a5{.nav_a;
			&:hover,&.current{background:url("@{pic_url}/images/biz/promotion/sale_141212/navBtn/nav_05.png") no-repeat 0 bottom;}
		}
		.nav_a6{.nav_a;
			&:hover,&.current{background:url("@{pic_url}/images/biz/promotion/sale_141212/navBtn/nav_06.png") no-repeat 0 bottom;}
		}
		.nav_a7{.nav_a;
			&:hover,&.current{background:url("@{pic_url}/images/biz/promotion/sale_141212/navBtn/nav_07.png") no-repeat 0 bottom;}
		}
		.nav_a8{.nav_a;
			&:hover,&.current{background:url("@{pic_url}/images/biz/promotion/sale_141212/navBtn/nav_08.png") no-repeat 0 bottom;}
		}
		.nav_a9{.nav_a;
			&:hover,&.current{background:url("@{pic_url}/images/biz/promotion/sale_141212/navBtn/nav_09.png") no-repeat 0 bottom;}
		}
		.nav_a10{.nav_a;
			&:hover,&.current{background:url("@{pic_url}/images/biz/promotion/sale_141212/navBtn/nav_10.png") no-repeat 0 bottom;}
		}
		.nav_a11{.nav_a;
			&:hover,&.current{background:url("@{pic_url}/images/biz/promotion/sale_141212/navBtn/nav_11.png") no-repeat 0 bottom;}
		}
		.nav_a12{.nav_a;
			&:hover,&.current{background:url("@{pic_url}/images/biz/promotion/sale_141212/navBtn/nav_12.png") no-repeat 0 bottom;}
		}
		.nav_a13{.nav_a;
			&:hover,&.current{background:url("@{pic_url}/images/biz/promotion/sale_141212/navBtn/nav_13.png") no-repeat 0 top;}
		}
	}
	.go_top{.pr;top:90px;.nav_a;}
}

