.lazyLoad(){
	.img(){
		.pr;background:@white url("@{pic_url}/images/share/loading.gif") no-repeat center;background-size:64*@w;
		span{
			.pa;top:0px;left:0px;right:0px;bottom:0px;background-size:100%;background-repeat:no-repeat;
			.bp(center,center);
			opacity:0;
		}
		img{max-width:100%;.pa;top:0px;left:0px;}
	}
}
