.search(){
	.search{
		.gpu;
		.w(0px);
		.pt(14*@px);.pb(14*@px);
		.pa;right:-100%;
		.hidden;
		z-index:20;
		-webkit-transition:right 0.2s ease-out 0s, width 0s ease-out 0.4s;
		form{
			.pr;
			.ml(20*@w);.mr(20*@w);
			.input{
				.left;
				.h(50*@px);
				.inputStyle;.w(400/(640 - 20 - 20)*100%);
				.pl(60*@px);
				&:before{
					color:#333;
					.f(28*@px);.l(52*@px);
					.pa;left:86*@px;
				}
				&[status="active"]{
					&:before{
						.none;	
					}
				}
				&[status="normal"]{
					input{
						&[type="search"]{
							.none;
						}
					}
				}
				/*
				*/
			}
			input{
				&[type="search"]{
					.left;.border-n;
					outline:0px;margin:0px; padding:0px;
					-webkit-appearance:none;
					vertical-align:middle;
					.f(28*@px);
					background:0 none;
					.w(100%);
					.pt(6*@px);.pb(6*@px);
					.bs;.h(50*@px);
				}
			}
		}
		.btn_cancel{
			.left;.l(48*@px);.ml(20*@w);.w(120*@w);
			.border-1(#d7cecf);
			.border-r-a(48*@px);
			.bgc;
			.f(1.4rem);.red;.c;
			.i_block;
		}
	}
}

