<%# frame/wap/head_simple.html%>
</head>
<body>

<ul class="msgList" id="msgList"></ul>

<script id="msgItem" type="text/html" >
    <li class="item" uid="<?= uid ?>">
        <img class="item_icon" src="<?= avatar_b ?>"/>
        <div class="unreadNum" style="visibility: <?= msg_num==0?'hidden':'' ?>"><?= msg_num ?></div>
        <div class="nickName"><?= nickname ?></div>
        <div class="status" style="background-color: <?= status==1?'#78e000':'#ccc' ?>"></div>
        <div class="msg"><?= msg.msg ?></div>
        <div class="time"></div>
    </li>
</script>

<script id="msgNull" type="text/html" >
    <div class="msgNull">你还没有收到任何消息</div>
    <a class="nullBtn" href="http://m.meilishuo.com/sq/tuan/">快去逛逛吧</a>
</script>


<script>
    fml.vars.im = {
        fromid : <%= this.user_id %>
        , toid : <%= this.toid || 0 %>
        , type : "<%= this.type || 0 %>"
        , source : 'wap'
        , msgReceive: <%= JSON.stringify(this.msgReceive) %>
        , im_url: Meilishuo.config.im_url
    };
    //<%=this.IM_URL2 || '/' %>socket.io/socket.io.js  http://im.weiwang.rdlab.meilishuo.com/socket.io/socket.io.js
</script>
<script src="<%=this.IM_URL2 || '/' %>socket.io/socket.io.js"></script>
<%if(0){%>
<script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
<%}%>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
        fml.use('m/page/im/msgList');
_use:", this._JSstack , this._JSmods ); %>
<%# frame/wap/foot_simple.html%>
