<div class="snow_box">
	<p class="snow_tit"></p>
	<ul>
		<li><a href="<%= this.PICTURE_URL%>images/huodong/jianling/t6.png" rel="group1"><img src="<%= this.PICTURE_URL%>images/huodong/jianling/tshow5.png" /></a></li>
		<li class="jl_like">
			<b class="likes_status <%if(this.jl_like.data[0].is_liked == 0){ %> cursor_f like_btn <%}%> " stid="<%= this.jl_like.data[0].twitter_id%>">
				<%if(this.jl_like.data[0].is_liked){%>已喜欢<%}else{%><i class="lm_love2">&nbsp;</i>喜欢<%}%>
			</b>
			<p class="jl_num"><%= this.jl_like.data[0].count_like%></p>
		</li>
		<li><a href="<%= this.PICTURE_URL%>images/huodong/jianling/t7.png" rel="group2"><img src="<%= this.PICTURE_URL%>images/huodong/jianling/tshow9.png" /></a></li>
		<li class="jl_like">
			<b class="likes_status <%if(this.jl_like.data[1].is_liked == 0){ %> cursor_f like_btn <%}%> " stid="<%= this.jl_like.data[1].twitter_id%>">
				<%if(this.jl_like.data[1].is_liked){%>已喜欢<%}else{%><i class="lm_love2">&nbsp;</i>喜欢<%}%>
			</b>
			<p class="jl_num"><%= this.jl_like.data[1].count_like%></p>
		</li>
		<li><a href="<%= this.PICTURE_URL%>images/huodong/jianling/t12.png" rel="group3"><img src="<%= this.PICTURE_URL%>images/huodong/jianling/tshow7.png" /></a></li>
		<li class="jl_like">
			<b class="likes_status <%if(this.jl_like.data[2].is_liked == 0){ %> cursor_f like_btn <%}%> " stid="<%= this.jl_like.data[2].twitter_id%>">
				<%if(this.jl_like.data[2].is_liked){%>已喜欢<%}else{%><i class="lm_love2">&nbsp;</i>喜欢<%}%>
			</b>
			<p class="jl_num"><%= this.jl_like.data[2].count_like%></p>
		</li>
		<li><a href="<%= this.PICTURE_URL%>images/huodong/jianling/t13.png" rel="group4"><img src="<%= this.PICTURE_URL%>images/huodong/jianling/tshow8.png" /></a></li>
		<li class="jl_like">
			<b class="likes_status <%if(this.jl_like.data[3].is_liked == 0){ %> cursor_f like_btn <%}%> " stid="<%= this.jl_like.data[3].twitter_id%>">
				<%if(this.jl_like.data[3].is_liked){%>已喜欢<%}else{%><i class="lm_love2">&nbsp;</i>喜欢<%}%>
			</b>
			<p class="jl_num"><%= this.jl_like.data[3].count_like%></p>
		</li>
	</ul>
</div>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
     fml.use('page/huodong/jianling_firstp');
_use:", this._JSstack , this._JSmods ); %>
