@import "../block.less";

body {
  position         : relative;
  background-color : #fff;
}

.sec {
  margin-top : 100px;

  p {
    color       : #999;
    font-size   : 24px;
    line-height : 32px;
    text-align  : center;
  }
}

.banner {
  width      : 100%;
  height     : 638px;
  background : url("http://d04.res.meilishuo.net/pic/_o/c7/0b/3862efbfe869ef15a021fecab04a_2000_638.cg.png") no-repeat center;
}

.wrap {
  position : relative;
  width    : 940px;
  margin   : 0 auto 150px;
}

.rule-btn {
  position         : absolute;
  top              : -720px;
  right            : 30px;
  padding          : 0 30px;
  height           : 36px;
  font-size        : 19px;
  line-height      : 36px;
  color            : #fff;
  background-color : #000;
  cursor           : pointer;

  &:hover {
    color : inherit;
  }
}

.slider {
  position   : relative;
  margin-top : 50px;
  overflow   : hidden;
}

#slider {
  width  : 940px;
  height : 360px;

  a {
    height : 360px;
  }
}

.round {
  position : relative;
  top      : -200px;
  width    : 860px;
  margin   : auto;

  .adType {
    text-align : right;
  }

  a {
    width         : 50px;
    height        : 50px;
    background    : url("http://i.meilishuo.net/css/images/doota/slider_arrow.png");
    border-radius : 50%;
  }

  .prev {
    float : left;
  }

  .next {
    float               : right;
    background-position : -50px;
  }
}

.desc p {
  font-size   : 30px;
  line-height : 50px;
}

.title {
  margin-bottom : 50px;
  color         : #333;
  font-size     : 30px;
  font-weight   : normal;
  text-align    : center;
  border-bottom : 1px solid rgba(3, 3, 3, .1);

  span {
    position         : relative;
    bottom           : -15px;
    background-color : #fff;

    &::before, &::after {
      content          : "|";
      position         : absolute;
      width            : 40px;
      height           : 30px;
      line-height      : 30px;
      text-align       : center;
      background-color : #fff;
    }

    &::before {
      left : -40px;
    }

    &::after {
      right : -40px;
    }
  }
}

.sub-title {
  margin-top : -25px;
  font-size  : 24px;
  color      : #333;
  text-align : center;
}

.highlight {
  color      : #ff7d7d;
  font-style : normal;
}

.prizes {
  width      : 580px;
  height     : 175px;
  margin     : 18px auto 0;
  background : url("http://d05.res.meilishuo.net/pic/_o/01/43/919eb9109cd17fd15d6c52b183ec_580_174.ch.png") no-repeat center;
}

.benefits {
  width      : 540px;
  height     : 160px;
  margin     : 0 auto 40px;
  background : url("http://d02.res.meilishuo.net/pic/_o/b5/e9/9e84fc751b62905559c2c327b57e_540_160.cg.png") no-repeat center;
}

.works-list {
  margin-top : 60px;
  overflow   : hidden;

  .item {
    float          : left;
    width          : 450px;
    margin-bottom  : 56px;
    padding-bottom : 38px;
    border-bottom  : 1px dashed #ddd;
  }

  .item-odd {
    margin-right : 36px;
  }

  .shop {
    float      : left;
    width      : 135px;
    height     : 232px;
    text-align : center;
  }

  .brief {
    margin-left : 158px;
    overflow    : hidden;
  }

  .avatar {
    display       : block;
    border-radius : 50%;
  }

  .shop-name {
    display   : block;
    margin    : 10px auto 5px;
    font-size : 16px;
    color     : #333;
    .ellipsis;
  }

  .vote-btn {
    display          : inline-block;
    width            : 100px;
    height           : 30px;
    line-height      : 30px;
    font-size        : 17px;
    text-align       : center;
    background-color : #f00;
    color            : #fff;
    cursor           : pointer;
  }

  .is-voted {
    background-color : #999;
  }

  .vote-num {
    font-size : 16px;
    color     : #333;
    .ellipsis;
  }

  i {
    font-style : normal;
  }

  .pics {
    margin-top : 16px;
  }
}

.mask {
  display          : none;
  position         : absolute;
  left             : 0;
  top              : 0;
  right            : 0;
  bottom           : 0;
  background-color : rgba(0, 0, 0, .5);
  z-index          : 1000;
}

.rule-panel {
  display          : none;
  position         : fixed;
  top              : 10%;
  left             : 10%;
  width            : 880px;
  height           : 80%;
  padding          : 90px 65px 80px;
  background-color : #fff;
  box-sizing       : border-box;
  z-index          : 1001;

  h3 {
    margin-bottom : 30px;
    font-size     : 24px;
  }

  .content {
    height     : 90%;
    overflow-y : scroll;
  }

  p {
    margin-bottom : 40px;
    line-height   : 26px;
    font-size     : 18px;
  }
}

.icon-close {
  position         : absolute;
  right            : 30px;
  top              : 30px;
  width            : 30px;
  height           : 30px;
  background-image : url("http://d05.res.meilishuo.net/pic/_o/d3/d0/3356bf2c3b06f51c537a900a6bf2_30_31.cg.png");
  cursor           : pointer;
}

.tip {
  display    : none;
  position   : fixed;
  top        : 20%;
  width      : 600px;
  height     : 347px;
  background : #fff url("http://d04.res.meilishuo.net/pic/_o/95/f5/499029454aa4053b852465487cd1_800_447.cf.png") no-repeat center;
  z-index    : 1001;

  .content {
    position : absolute;
    left     : 220px;
    top      : 130px;
    width    : 50%;
  }

  .hd {
    margin-bottom : 10px;
    color         : #000;
    font-size     : 36px;
    line-height   : 40px;
  }

  .sub-content {
    color       : #000;
    font-size   : 24px;
    line-height : 30px;
  }
}

.icon-suc {
  position         : absolute;
  left             : 100px;
  top              : 130px;
  width            : 74px;
  height           : 74px;
  background-image : url("http://d02.res.meilishuo.net/pic/_o/54/ad/6ad3dc6f3c4cca920d31e7de80cb_74_74.cf.png");
}

