@import "../block.less";
.years { background:url("@{pic_url}/images/activity/fouryears/bodybg.gif") repeat; .pb(20px); }
.topbg { background:url("@{pic_url}/images/activity/fouryears/yearsbg.gif") repeat-x; .h(469px); border-bottom: 2px solid #ee004d;
	.top_bnr { background:url("@{pic_url}/images/activity/fouryears/top_bnr_bg_3.jpg") no-repeat center top; .h(401px); }
	.tab_tle {	.h(70px); .w(960px); .auto;
		a { .left; .h(70px); .indent; .w(470px); }
	}
	.tlebg1 { background:url("@{pic_url}/images/activity/fouryears/zero_tab_1.png") no-repeat; }
	.tlebg2 { background:url("@{pic_url}/images/activity/fouryears/rank_tab_1.png") no-repeat; }
}
.detail { background:url("@{pic_url}/images/activity/fouryears/detail_3.png") no-repeat; .w(440px); .auto; .border-r(10px); .h(50px); .mt(10px); .pl(520px); .pt(60px);
	a{ .i_block; .w(120px); .h(24px); .cursor; }
	.fcolor { .fc(#ffe186); }
}
.zero { .w(960px); .c; margin: 20px auto;
	.txt{ .f(18px); .fc(#333); padding: 5px 20px; border: 1px dashed #f69; }
}
.main { .bgc(#feb9d0); .border-r(10px); .auto; .mt(14px); .w(960px); 
	.list { .w(100%); .hidden;
		.poster { .left; .w(224px); .inline; .ml(13px); .mt(20px);
			.top { .w(224px); .bgwhite; .hidden; .pb(24px);
				.pic { .left; .c; .h(252px); .w(224px); .hidden; }
					img{ .w(100%); }
				.tle { .f(14px); .h(16px); .left; .ellipsis; padding: 5px 6px 0; .w(212px); }
			}
			.bot, .no_bot, .yd_bot { background:url("@{pic_url}/images/activity/fouryears/lingbg.png") no-repeat; 
				.h(77px); .w(230px); .left; .ml(-3px); .mt(-24px);
				.bot_l{ .left; .white; .pl(10px);
					.nums { .pt(18px); .f(20px); }
					.price { .f(14px); .t-through; }
				}
				.huangou { .w(76px); .h(77px); .right; .cursor; }
			}
			// .no_bot { background-image:url("@{pic_url}/images/activity/fouryears/lingbg_not_2.png"); }
			.yd_bot {background-image:url("@{pic_url}/images/activity/fouryears/yd_bot.png");
				.huangou { cursor: default; }
			}
		}
	}
}
.rankBox { .auto; .w(960px);
	.promptBox { .h(48px); .c; .mt(20px);
		.btn { .h(46px); .l(46px); .i_block; .white; .fb; .f(16px); .pl(30px); .pr(30px); }
		.txt { border: 1px dashed #f69; .f(18px); .h(28px); .l(28px); .i_block; .pl(20px); .pr(20px); }
	}
	.rank_detail { background:url("@{pic_url}/images/activity/fouryears/rank_detail_4.jpg") no-repeat; .h(99px); .pt(180px); .pl(535px);
		a{ .i_block; .w(120px); .h(24px); .cursor; }
	}
	.rank_award { background:url("@{pic_url}/images/activity/fouryears/rank_jp_1.jpg") no-repeat center; 
		.h(322px); .indent;
	}
	.rank_con { background:url("@{pic_url}/images/activity/fouryears/rank_bg.png") repeat; .pb(20px); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
		.r_pop { background:#fefafb url("@{pic_url}/images/activity/fouryears/rank_logo_1.png") no-repeat top; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; .pb(20px);
			.ml(20px); .w(923px);
			.title { .h(50px); .l(50px); .c; .white; .f(26px); .mb(30px); }
			table { .w(49%); .left;
				td { .h(26px); .l(26px); .f(18px); .hidden; .h(48px); }
			}
			.rank_number{ .w(80px); }
			.rank_No_bg { .w(42px); }
			.user_name { .h(26px); .hidden; }
			.pop_l { .border-rc(dashed); .pl(60px); .pr(20px); }
			.pop_r { .pl(30px); .pr(50px); }
			.ico1{ background:url("@{pic_url}/images/activity/fouryears/rank_ico.png") no-repeat; .i_block; .c; .fc(#fff); .w(30px); .pt(5px); }
			.ico{ .w(24px); .h(24px); .border-r(12px); .bgc(#f69); .i_block; .c; .fc(#fff); }
		}
	}
}
.list-1{
	.mt(22px);
}
.list-2{
	top: -160px;
	position: relative;
}
.list{
	.pt(20px);
	background:url("@{pic_url}/images/activity/fouryears/bac-all.png") repeat; .pb(20px); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;
	.w(960px);
	.ml(auto);
	.mr(auto);
	.list-inner{
		li{
			.mb(25px);
		}
		.f(16px);
		img,p,a.li-go{
			.left;
		}
		.clear{
			clear: both;
		}
		img{
			.ml(61px);
			.mr(8px);
		}
		.li-num{
			.mr(105px);
			.w(70px);
			overflow: hidden;
		}
		.li-can{
			.w(80px);
			overflow: hidden;
		}
		a.li-go{
			text-decoration: underline;
			.red;
		}
		span{
			color: #a3a2a3;
			.right;
		}
		.title { .h(50px); .l(50px); .c; .white; .f(26px); .mb(30px); }
		background:#fefafb url("@{pic_url}/images/activity/fouryears/head-img-1.png") no-repeat top; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; .pb(20px);
			.ml(20px); .w(923px);
	}
}
.link_wrap{ .c; .w(960px); background:url("@{pic_url}/images/activity/fouryears/rank_foot.png") no-repeat; .h(238px); .pt(40px);
	.td_rank_link{ background:url("@{pic_url}/images/activity/fouryears/td_rank_btn.png") no-repeat; .indent; .block; .auto; .h(49px); .w(314px); }
	.yd_rank_link{ background:url("@{pic_url}/images/activity/fouryears/yd_rank_btn.png") no-repeat; .indent; .block; .auto; .h(49px); .w(314px); }
}
.fixed_wrap{ .pf; top: 150px; right: 1px; .w(141px); .pt(48px); .pb(5px); background:url("@{pic_url}/images/activity/fouryears/fixed_bg_2.png") no-repeat; z-index: 10;
	a{ .block; .w(100%); .h(34px); .mb(5px); }
}
.foot_link{ background:url("@{pic_url}/images/activity/fouryears/foot_link_bg_1.png") no-repeat; .w(632px); .h(91px); margin: 20px auto 0; padding: 9px 0px 0px 328px;
	a{ .i_block; .w(202px); .h(64px); }
}
.rank_foot{ .mt(-100px); .pr; top: -50px; }

.maga_suc{ .w(auto); padding: 20px 0; .f(14px); .fc(#666); }
.make_sure{ border-bottom: 1px dashed #bfbfbf; padding: 0 20px 10px;
	.alert_title{ .f(18px); .fc(#f69); .c; .l(40px); }
	p{ .l(30px); }
}

.first_tab{ .ml(20px); }

.markup_main{ .mt(-45px);.i_block; }

#goTop li{.none;}
#go_top{display: list-item;}

@import "../footer.less";
