@import "../block.less";
html,body { .bgwhite; }
.topPic { .h(420px); }
.wrapper { 
  .goods_wall {
    .auto;
    .w(960px);
  }
}
.desc {  
  .border-bc(solid);
  .desc-content {
    .w(950px);
    .auto;
    padding: 20px 0;
    .header {
      .left;
      .w(130px);
      .f(18px);
      .fc(#f69);
    }
    p {
      .right;
      .w(800px);
      .pl(15px);
      border-left: 1px solid #f69;
      .f(14px);
      .fc(#666);  
    }
    .clearfix;
  }
} 
.poster;
.goods_wall{ 
  .w(960px); 
  .auto; .clearfix;
  .goodsCon{ 
    .left;
    .w(226px); 
    .h(425px); 
    .border-1(@color:#e6e6e6); 
    margin:0 6px 12px 6px; 
    background:#fff; 
    .hidden; 
    .pr;
    .mark { 
      .w(220px); 
      .pa; 
      left:5px; 
      top:-1px;
      .m_ico { .left; .mr(1px); }
    }
    .pic{ 
      .block; 
      .w(226px); 
      .h(328px); 
      .hidden; 
      border-bottom:1px solid #e6e6e6;
      img{ .w(226px); .h(328px); }
    }
    .goods_tit{ 
      padding:4px 10px;  
      .h(38px); 
      .l(20px); 
      .hidden; 
      .block; 
    }
    .goods_price{ 
      padding:0 10px; 
      .h(26px); 
      .hidden;
      span{ .f(24px); color:red; }
      del{ color:#999999; .pl(6px); }
    }
    .likebuy{ 
      .clearfix; 
      padding:10px; 
      .h(15px); 
      .hidden; 
      img{ .mt(-1px); }
    }
  }
}
