@import "../block.less";
.route{
	.mt(14px);.h(28px);.f(16px);.w(948px);.auto;
	samp{.ml(2px);.mr(2px);}
	&_bread{.left;.l(15px);.pt(6px);.pb(6px);.l(15px);.h(15px);
		a{
			.pr(10px);
			.pl(10px);
			color:#f69;
		}
		em{
			font-size:18px;
			color:#ccc;
		}
	}
	.color_red{
		color:#ff0000;
	}
}
.season{
	&List{.w(948px);.auto;.pr;.mt(14px);}	
	&Box{.w(948/2-1px);.left;.pr;.pb(30px);}
}
.se_con{border-top:4px solid #f69;.bgwhite;.pt(8px);.w(430px);.pr;.l(22px);.common_shadowBox;}
.se_date{.f(14px);.ml(13px);}
.se_title{.red;.f(14px);.ml(13px);}
.se_image{.pr;.h(340/600*400px);.block;.mt(10px);.ml(13px);.mr(13px);.hidden;
	background: url("@{pic_url}/images/person/pg_bg2.gif");
	img{.w(100%);}
}
.se_desc{.mt(14px);.p13;.bgc(#fafafa);border-top:1px solid #f2f2f2;
	a{.h(66px);.hidden;.block;}
}
.se_point{.pa;.w(10px);.h(10px);.border-r(10px);.bgc(#f69);z-index:1;.hidden;}
.se_arrow, .se_arrows{.pa;.f(22px);}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.se_arrow, .se_arrows{.pa;.f(28px);}
}
.se_arrow{ .fc(#ddd); }
.se_arrows{ .white; }

.se_l{ border-right:1px solid #ccc;
	.se_con{.left;}		
	.se_date{.pa;right:13px;}
	.se_point{right:-47px;top:16px;}
	.se_arrow{right:-12px;top:9px;}
	.se_arrows{right:-10px;top:9px;}
}
.se_r{
	.se_con{.right;}		
	.se_title{.pa;right:13px;}
	.se_point{left:-48px;top:80px;}
	.se_arrow{left:-12px;top:73px;}
	.se_arrows{left:-10px;top:73px;}
}

.page;
.pageNav {.page > .pageRed; }
.paging_panel{.mt(14px);}

@import "../footer.less";
