@import "../block.less";
.redline;
.calendar;
.audio;
.season { .pr;.h(360px);.w(948px);.auto; 
	.time_box { .w(210px); .pa; top: 0; right: 30px;
		.time_bg { .bgred; .white; .c; padding: 16px 15px 12px;
			h1 { .f(24px); .l(32px); border-bottom: 1px solid #ffb3cc;.pb(6px); }
				.time { .pt(10px); .f(18px);
			}
		}
		.time_a{
			background: url("@{pic_url}/images/wap/activity/season/sharp.png"); _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/wap/activity/season/sharp.png', sizingMethod='scale'); _background-image:none;
			.w(210px);.h(30px);
		}
	}
}
.commonBox{ .auto; }
.keywords, .shop_logo, .attr, .description{ .w(948px); }
.friend, .goods{ .w(960px); }
.title{
	&1, &2{.mt(24px);
	}
	&1{.h(40px);.w(948px);.auto;
		background: url("@{pic_url}/images/wap/activity/season/title1.png") repeat-x 0px -120px;
		span{
			.block;.h(40px);.w(340px);
			background: url("@{pic_url}/images/wap/activity/season/title1.png") repeat-x 0px 0px;
		}
		
	}	
	&2{.f(18px);.pl(10px);}
}
.description{
//	.yahei;
	.f(18px);.l(26px);.mt(24px);	
}
.goods{
	.title1 span{.bp(0px,-80px);}
	.poster_grid{ .common_box;
		.common_shadowBox;.mt(12px);.h(400px);.hidden;.w(226px);
		.pr;
		.pic_load {
			background: url("@{pic_url}/images/group/g_loading1.gif") no-repeat center; .block; .w(100%); 
			.h(274px);.block;
			img{.w(100%);}
			.issaled {
				background: url("@{pic_url}/images/wap/activity/season/saled.png"); _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/wap/activity/season/saled.png', sizingMethod='scale'); _background-image:none;
				.left;.h(147px);.w(157px);.pa;left:0;top:0;
			}
		}
		.pic_intro{
			padding:12px 12px 22px 12px;.c;
			.title{.f(18px);.l(26px);.auto;.pr;
				.line{
					&-l,&-r{.pa;bottom:0px;.h(14px);.w(18px);border-top:1px solid #ddd;}
					&-l{left:0px;}
					&-r{right:0px;}
				}
			}
			.con{.f(14px);.l(18px);.mt(4px);.mb(10px);.h(36px);.hidden;}
			.price{.red;.f(22px);.left;.l(26px);.w(48%);.tr;}
			.l_price{.f(18px);.right;.l(26px);.w(48%);.tl;.t-through;}
		}
	}
}
.friend {
	.title1 span{.bp(0px,0px);}
	.imgBox{ .left; .ml(6px);.mr(6px); .mt(12px); .w(226px);.pr;
		img{.w(100%);}
		p{ .f(14px); .h(112px); .l(26px); .pt(18px); 
			.hidden;
			.ico{ background: url("@{pic_url}/images/wap/activity/season/heart1.png") no-repeat 0 -20px; .left;.h(16px); .w(20px);.mt(4px);}
		}
	}
}
.attr{
//	.yahei;
	.title1 span{.bp(0px,-40px);}
	.attr_tle { .f(18px); .l(26px); .pt(6px); .pb(10px);  }
	p{
		.h(120px);.f(30px);.c;.l(120px);.hidden;
		background: url("@{pic_url}/images/wap/activity/season/attr_bg0.png") no-repeat;
		span { .i_block; .ml(20px); .mr(20px); }
	}
}
.calendarArea{
	.mt(24px);
	h2{.f(18px);.pl(8px);}	
}
.keywords{ 
	p{	
		.mt(14px);.f(14px);
		a{.mb(10px); .itemLine; }
	}
}
.shop_logo {
	p{	
		.mt(14px);.pb(14px);
		img{.mr(10px);.h(70px); .w(70px);}
	}
}
.share_group { .share_group_btn; }
@import "../footer.less";
