@import "../block.less";
body{ .bgc(#fff); }
area { outline: none;}
.yqgg { .w(948px); .auto; .pr;
	.yqgg_l,.yqgg_r { .pa; top:0; .h(735px);}
	.yqgg_l{ background: url("@{pic_url}/images/activity/startling/yqgg_01.jpg") no-repeat; left: -525px; .w(525px); }
	.yqgg_r { background: url("@{pic_url}/images/activity/startling/yqgg_03.jpg") no-repeat; right: -527px; .w(527px);}
	.yqgg_m { background: url("@{pic_url}/images/activity/startling/yqgg_02.jpg") no-repeat;
		.h(497px); .w(948px);
	}
	.yqgg_t { background: url("@{pic_url}/images/activity/startling/yqgg_05.jpg") no-repeat; .h(670px); .w(948px); }
	.yqgg_t2 { background: url("@{pic_url}/images/activity/startling/yqgg_09.jpg") no-repeat; .h(360px); .w(948px); }
	.con { .w(860px); .auto;
		img { .mt(10px); }	
	}
}

@import "../footer.less";
