/*二级导航*/
.second_nav() {
	.header(){.pr;.w(100%);
		.guide_bg{
			.pa;.bgwhite;.w(100%);.h(30px); opacity: 0.9; filter:alpha(opacity=90);left:0px;top:0px;
		}
		.guide {
			.pr;.f(14px);.h(30px);.auto;.w(640px);
			li {
				.left; .h(20px); .l(20px); .mt(5px);
				a { background-image: url("@{pic_url}/images/catalog/yy6.png"); background-repeat: no-repeat; .left; margin: 0 24px; .pl(30px); }
			}
		}
		.dress { background-position: 0 -28px;
			&_d, &:hover { background-position: 0 2px; .red; }	
		}
		.coat{ background-position: 0 -83px;
			&_d, &:hover { background-position: 0 -56px; .red; }
		}
		.skirt{ background-position: 2px -137px; 
			&_d, &:hover { background-position: 2px -110px; .red; }
		}
		.pants{ background-position: 2px -194px; 
			&_d, &:hover { background-position: 2px -165px; .red; }	
		}
		.bra{ background-position: 0 -252px;
			&_d, &:hover { background-position: 0 -225px; .red; }	
		}
	}
	.catalog(){
		.mb(4px);.border-r(4px 4px 0px 0px);background-color:@lightPinkBg;border-bottom:1px #F3DCE4 solid;
		.guide {
			.f(14px); .h(38px);.w(210px);.auto;
			li {
				.left;.h(36px);.w(30px);.pr;padding:0px 6px;
				a {.border-r(2px 2px 0px 0px);.red; .c;.l(22px);.h(22px);.w(30px);.pa;top:-4px;padding:14px 0px 2px 0px;}
				a:hover{
					border-bottom:4px solid @red;
				}
				.guide_d { .bgred; .white;.w(39px);left:2px; }
				.guide_d, .guide_d:hover{
					border-bottom:none;
					span{
						background:url("@{pic_url}/images/catalog/yy2.png") no-repeat 0px -280px; 
						bottom:-13px;_bottom:-16px;.h(13px);.w(39px); .pa;left:0px;
					}
				}
			}
		}
	}
	/*sale 二级导航，可能已经废掉*/
	.saleNav(){
		.bgwhite;.w(100%);.h(30px); border-bottom: 1px solid #e6e6e6;
		.nav_con { .auto; .gray; .hidden; .l(30px); .w(948px);
			.list li { .right; 
				a { border-right: 1px solid #e6e6e6; .pl(18px); .pr(18px); }
				.first { .pl(2px); }
				.last { .border-n; }
				.cart_ico {background:url("@{pic_url}/images/doota/@{doota_sale}") no-repeat -112px -102px;
					.left;.h(20px);.w(22px); 
					.disc { .bgred; .border-1(#f69);.border-r(5px);.h(5px);.w(5px);.hidden;
						.right;.f(0); .l(0); .pr; top:5px; right:5px;
					}
				}
			}
		}
	}
	/*品牌二级导航*/
	.brandSec(){.pr;.w(100%);
		.brand_bg{
			.pa;.bgwhite;.w(100%);.h(30px); opacity: 0.9; filter:alpha(opacity=90);left:0px;top:0px;
		}
		.bd_guide {
			.pr;.f(14px);.h(30px);.auto;.w(202px);
			li {
				.left; .h(20px); .l(20px); .mt(5px);
				a { background: url("@{pic_url}/images/header/brand_i.png") no-repeat; 
					.left;.ml(20px);.mr(20px); .pl(25px); 
				}
				.daren { .bp(0,1px);
					&_d, &:hover { .bp(0,-52px); .red; }	
				}
				.canteen { .bp(0,-24px);
					&_d, &:hover { .bp(0,-81px); .red; }
				}
			}
		}
	}

}
/**pretty and edition secNav**/
.secNav() {
	.ptyNav { .w(100%); z-index: 300;
		.pty_nav { .bgwhite; .box-shadow-r; .ml(6px); .mr(6px); .hidden; .h(20px); .l(20px); .p10; 
			.styles { .c; .left; .w(50%); 
				a { .i_block; .pl(7px); .pr(7px); .ml(6px); .mr(6px); }
				a.active { .white; .bgred; }
			}
		}
	}
}


