<%#head.html%>
<div class="client">
	<div class="client_nav">
		<a class="<%if(this.headTag == 'iphone'){%>cur_tab<%}%> new" href="/client/iphone"><em class="left_f">iPhone</em><span></span></a>
		<a class="<%if(this.headTag == 'ipad'){%>cur_tab<%}%>" href="/client/ipad"><em class="left_f">iPad</em><span></span></a>
		<a class="<%if(this.headTag == 'android'){%>cur_tab<%}%> new" href="/client/android"><em class="left_f">Android</em><span></span></a>
	</div>
	<% if(this.headTag == 'iphone'){ %>
	<div class="iphone_bg">
		<p class="version_num">&nbsp;</p>
		<a class="appstore" target="_blank" href="http://itunes.apple.com/cn/app/meilishuo/id431023686"></a>
		<a class="more_txt" target="_blank" href="http://www.meilishuo.com/client/iPhone#moreApp">更多主题逛街应用点此查看</a>
	</div>
	<div class="feature">
		<div class="fture_l">
			<h3 class="f20_f">特性</h3>
			<ul class="list">
				<li>时尚单品，24小时不间断更新</li>
				<li>精选分类，轻松逛至IN宝贝</li>
				<li>个性首页，表达你的时尚态度</li>
			</ul>
			<h4 class="f14_f">星光粉彩版更新</h4>
			<ul class="update">
				<li>- 专为女生设计的星光粉彩界面</li>
				<li>- 全新整理的专题频道，可分类<br />&nbsp;&nbsp;查看时尚专题</li>
				<li>- 时尚酵母每日播报流行，为你<br />&nbsp;&nbsp;讲解T台时尚</li>
			</ul>
		</div>
		<div class="fture_r">
			<h3 class="f20_f left_f">马上安装</h3>
			<span class="prompt">已有<strong class="red_f">1500万</strong>位mm正在使用！</span>
			<div class="clear_f"></div>
			<div class="way">
				<h4 class="f18_f">方法一</h4>
				<ul class="update">
					<li>
						<img class="left_f" alt="二维码" src="<%= this.PICTURE_URL%>images/mobile/2_d_code_iphone0.jpg">
						<p>打开iPhone</p>
						<p>使用<span class="red_f">二维码工具</span></p>
						<p>进行扫描</p>
					</li>
				</ul>
			</div>
			<div class="way">
				<h4 class="f18_f">方法二</h4>
				<ul class="update">
					<li>1、iPhone上打开<span class="red_f">“AppStore”</span></li>
					<li>2、搜索找到<span class="red_f">“美丽说”</span></li>
					<li>3、进行下载安装</li>
				</ul>
			</div>
		</div>
		<div class="clear_f"></div>
	</div>
    <div id="moreApp" class="more_app">
        <h2 class="f20_f">主题逛街应用下载</h2>
        <div id="nextBtn"></div>
        <div id="prevBtn"></div>
        <div id="appContent" class="app_content app_content_iphone">
            <ul>
                <li>
                    <a href="http://itunes.apple.com/cn/app/ou-mei-feng-tao-bao-jing-xuan/id482575638" target="_blank">
                        <img src="<%= this.PICTURE_URL%>images/mobile/app_1.gif" alt="欧美风淘宝精选" />
                    </a>
                    <p>欧美风淘宝精选</p>
                    <a class="link_appstore" href="http://itunes.apple.com/cn/app/ou-mei-feng-tao-bao-jing-xuan/id482575638" target="_blank">AppStore</a>
                </li>
                <li>
                    <a href="http://itunes.apple.com/cn/app/xin-wei-rui-li-feng-tao-bao/id483558349" target="_blank">
                        <img src="<%= this.PICTURE_URL%>images/mobile/app_2.gif" alt="昕薇甜美风" />
                    </a>
                    <p>昕薇甜美风</p>
                    <a class="link_appstore" href="http://itunes.apple.com/cn/app/xin-wei-rui-li-feng-tao-bao/id483558349" target="_blank">AppStore</a>
                </li>
                <li>
                    <a href="http://itunes.apple.com/cn/app/qing-song-xiong-meng-wu1001/id488720486" target="_blank">
                        <img src="<%= this.PICTURE_URL%>images/mobile/app_3.gif" alt="轻松熊1001" />
                    </a>
                    <p>轻松熊1001</p>
                    <a class="link_appstore" href="http://itunes.apple.com/cn/app/qing-song-xiong-meng-wu1001/id488720486" target="_blank">AppStore</a>
                </li>
                <li>
                    <a href="http://itunes.apple.com/cn/app/hello-kitty-meng-wu-zhi/id490638918" target="_blank">
                        <img src="<%= this.PICTURE_URL%>images/mobile/app_4.gif" alt="HelloKitty萌物志" />
                    </a>
                    <p>HelloKitty萌物志</p>
                    <a class="link_appstore" href="http://itunes.apple.com/cn/app/hello-kitty-meng-wu-zhi/id490638918" target="_blank">AppStore</a>
                </li>
                <li>
                    <a href="http://itunes.apple.com/cn/app/ji-qi-mao-bai-bao-dai/id491610477" target="_blank">
                        <img src="<%= this.PICTURE_URL%>images/mobile/app_5.gif" alt="机器猫百宝袋" />
                    </a>
                    <p>机器猫百宝袋</p>
                    <a class="link_appstore" href="http://itunes.apple.com/cn/app/ji-qi-mao-bai-bao-dai/id491610477" target="_blank">AppStore</a>
                </li>
                <li>
                    <a href="http://itunes.apple.com/cn/app/sheng-dan-li-wu-jing-xuan/id485257145?mt=8" target="_blank">
                        <img src="<%= this.PICTURE_URL%>images/mobile/app_7.gif" alt="圣诞礼物精选" />
                    </a>
                    <p>圣诞礼物精选</p>
                    <a class="link_appstore" href="http://itunes.apple.com/cn/app/sheng-dan-li-wu-jing-xuan/id485257145?mt=8" target="_blank">AppStore</a>
                </li>
            </ul>
        </div>
    </div>
	<% }else if(this.headTag == 'ipad'){ %>
	<div class="ipad_bg">
		<p class="version_num">V1.5.4</p>
		<a class="appstore" target="_blank" href="http://itunes.apple.com/cn/app//id492006720?mt=8"></a>
	</div>
	<div class="feature">
		<div class="fture_l">
			<h3 class="f20_f">特性</h3>
			<ul class="list">
				<li>时尚单品，24小时不间断更新</li>
				<li>清晰大屏，便捷浏览精选宝贝</li>
				<li>创建杂志，秀出你的专属风格</li>
			</ul>
			<h4 class="f14_f"> V1.5.4版更新</h4>
			<ul class="update">
				<li>- 新增淘宝快捷入口</li>
				<li>- 访问速度更流畅</li>
				<li>- 界面升级，全新视觉体验</li>
			</ul>
		</div>
		<div class="fture_r">
			<h3 class="f20_f left_f">马上安装</h3>
			<span class="prompt">已有<strong class="red_f">300万</strong>位mm正在使用！</span>
			<div class="clear_f"></div>
			<div class="way">
				<h4 class="f18_f">方法一</h4>
				<ul class="update">
					<li>
						<img class="left_f" alt="二维码" src="<%= this.PICTURE_URL%>images/mobile/2_d_code_iPad0.jpg">
						<p>打开iPad</p>
						<p>使用<span class="red_f">二维码工具</span></p>
						<p>进行扫描</p>
					</li>
				</ul>
			</div>
			<div class="way">
				<h4 class="f18_f">方法二</h4>
				<ul class="update">
					<li>1、iPad上打开<span class="red_f">“AppStore”</span></li>
					<li>2、搜索找到<span class="red_f">“美丽说”</span></li>
					<li>3、进行下载安装</li>
				</ul>
			</div>
		</div>
		<div class="clear_f"></div>
	</div>
	<% }else if(this.headTag == 'android'){ %>
	<div class="android_bg">
		<p class="version_num">&nbsp;</p>
		<a class="appstore" target="_blank" href="http://meilishuo.com/u/EBwSx9"></a>
		<!--
		<a class="store360" target="_blank" href="zhushou360://type=apk&name=美丽说&url=http://img.meilishuo.net/css/images/AndroidShare/Meilishuo_3.7.3_10006.apk">360一键安装</a>
		<a class="download360" href="http://www.360.cn/shoujizhushou/" target="_blank">下载360手机助手</a>
		-->
	</div>
	<div class="feature">
		<div class="fture_l">
			<h3 class="f20_f">特性</h3>
			<ul class="list">
				<li>掌握时尚，流行款式随便看</li>
				<li>热门榜单，24小时不间断更新</li>
				<li>精选分类，轻松淘到至IN单品</li>
			</ul>
			<h4 class="f14_f">星光粉彩版更新</h4>
			<ul class="update">
				<li>- 专为女生设计的星光粉彩界面</li>
				<li>- 全新整理的专题频道，可分类<br />&nbsp;&nbsp;查看时尚专题</li>
				<li>- 时尚酵母每日播报流行，为你<br />&nbsp;&nbsp;讲解T台时尚</li>
			</ul>
		</div>
		<div class="fture_r">
			<h3 class="f20_f left_f">马上安装</h3>
			<span class="prompt">已有<strong class="red_f">1000万</strong>位mm正在使用！</span>
			<div class="clear_f"></div>
			<div class="way">
				<h4 class="f18_f">方法一</h4>
				<ul class="update">
					<li>
					<img class="left_f" alt="二维码" src="<%= this.PICTURE_URL%>images/mobile/code_android130711.jpg">
						<p>打开手机</p>
						<p>使用<span class="red_f">二维码工具</span></p>
						<p>进行扫描</p>
					</li>
				</ul>
			</div>
			<div class="way" style="width: 165px;">
				<h4 class="f18_f">方法二</h4>
				<ul class="update">
					<li>1、手机上打开<span class="red_f">“安卓市场”</span></li>
					<li>2、搜索找到<span class="red_f">“美丽说”</span></li>
					<li>3、进行下载安装</li>
				</ul>
			</div>
		</div>
		<div class="clear_f"></div>
	</div>
	<div id="moreApp" class="more_app">
        <h2 class="f20_f">主题逛街应用下载</h2>
        <div id="nextBtn"></div>
        <div id="prevBtn"></div>
        <div id="appContent" class="app_content app_content_iphone">
            <ul>
                <li>
                    <a href="http://imgtest.meiliworks.com/css/images/AndroidShare/Meilishuo-xwrl.apk" target="_blank">
                        <img src="<%= this.PICTURE_URL%>images/mobile/app_2.gif" alt="昕薇甜美风" />
                    </a>
                    <p>昕薇甜美风</p>
                    <a class="link_download" href="http://imgtest.meiliworks.com/css/images/AndroidShare/Meilishuo-xwrl.ap" target="_blank">立即下载</a>
                </li>
                <li>
                    <a href="http://imgtest.meiliworks.com/css/images/AndroidShare/Meilishuo-qingsongxiong.apk" target="_blank">
                        <img src="<%= this.PICTURE_URL%>images/mobile/app_3.gif" alt="轻松熊1001" />
                    </a>
                    <p>轻松熊1001</p>
                    <a class="link_download" href="http://imgtest.meiliworks.com/css/images/AndroidShare/Meilishuo-qingsongxiong.apk" target="_blank">立即下载</a>
                </li>
                <li>
                    <a href="http://imgtest.meiliworks.com/css/images/AndroidShare/Meilishuo-hellokitty.apk" target="_blank">
                        <img src="<%= this.PICTURE_URL%>images/mobile/app_4.gif" alt="HelloKitty萌物志" />
                    </a>
                    <p>HelloKitty萌物志</p>
                    <a class="link_download" href="http://imgtest.meiliworks.com/css/images/AndroidShare/Meilishuo-hellokitty.apk" target="_blank">立即下载</a>
                </li>
                <li>
                    <a href="http://imgtest.meiliworks.com/css/images/AndroidShare/Meilishuo-duolaeimeng.apk" target="_blank">
                        <img src="<%= this.PICTURE_URL%>images/mobile/app_5.gif" alt="机器猫百宝袋" />
                    </a>
                    <p>机器猫百宝袋</p>
                    <a class="link_download" href="http://imgtest.meiliworks.com/css/images/AndroidShare/Meilishuo-duolaeimeng.apk" target="_blank">立即下载</a>
                </li>
            </ul>
        </div>
    </div>

	<% } %>
</div>
<script src="http://zhushou.360.cn/script/360mobilemgrdownload.js"></script>
<%#foot.html%>
