<%#head_simple.html%>
<div class="nav_box nav_pa">
	<div class="nav">
		<a class="left_f" href="http://www.meilishuo.com" target="_blank" class="logo"><img src="http://d06.res.meilishuo.net/img/_o/83/f2/e98bd48e75b464edfee0a50e71e9_174_50.cg.png" /></a>
		<a class="right_f" style="margin-left:20px;" href="http://img.meilishuo.net/css/images/AndroidShare/Android6.4.0/Meilishuo_10008.apk" target="_blank"><img src="http://d05.res.meilishuo.net/img/_o/b4/70/3ff7d9657b3c23ae3cec0b201d14_170_50.cg.jpg" /></a>
		<a class="right_f" href="http://www.meilishuo.com/u/DhoJy9" target="_blank"><img src="<%= this.PICTURE_URL%>images/apple_down.jpg" /></a>
	</div>
</div>
<div class="top_box">
	<div class="inner">
		<div class="code"></div>
		<a class="android" href="http://img.meilishuo.net/css/images/AndroidShare/Android6.4.0/Meilishuo_10008.apk" target="_blank"><img src="http://d05.res.meilishuo.net/img/_o/c0/68/749509fd80f01d00e3f146f8d244_170_50.cg.png" /></a>
		<a class="apple" href="http://www.meilishuo.com/u/DhoJy9" target="_blank"><img src="http://d02.res.meilishuo.net/img/_o/f1/d2/89a4bc5ed45d3ec9654e10276779_170_50.cg.png" /></a>
	</div>
</div>
<ul class="item_box1">
	<li class="head1"></li>
	<li class="head2"></li>
	<li class="head3"></li>
	<li class="head4"></li>
	<li class="head5"></li>
</ul>
<div class="item_box2">
	<p class="talk1"></p>
	<p class="talk2"></p>
	<p class="talk3"></p>
</div>
<div class="item_box3">
	<p class="page1"></p>
	<p class="page2"></p>
</div>
<div class="item_box4">
	<p class="step1"></p>
	<p class="step2"></p>
	<p class="step3"></p>
</div>
<div class="item_box5">
	<p class="codepic1"></p>
	<p class="codepic2"></p>
</div>
<div class="bottom">
	<img src="http://d05.res.meilishuo.net/img/_o/ab/84/bad87d44d540470e7eb15162bcb3_306_360.cg.jpg" />
</div>


<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/doota/client2');
_use:", this._JSstack , this._JSmods); %>
<%#foot.html%>
