<%#head.html%>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<%
	var listData = this.listData || {};
	var listDataData = listData.data || {};
	var bannerData= listDataData.banner || {};
%>
<a href="<%= bannerData.url ? bannerData.url : 'javascript:;' %>" xr="<%= this.listData_XR %>" class="banner">
	<img src="<%= bannerData.img%>" />
</a>
<section class="box" id="box">
	<ul class="goods_wall" data-xr="<%= this.listData_XR %>">
		<% listData.data && listData.data.big && listData.data.big.map(function(v, index){ 
			var isBuy = parseInt(v.twitter_id)==0 ? false : true ;
		%>
			<li data-id="<%= v.id %>" data-tid="<%= v.twitter_id %>">
				<div class="inner">
					<% if(parseInt(v.discount) && parseInt(v.discount) > 0 && parseInt(v.discount) <10){%>
						<div class="discount"><span>限时<%= parseInt(v.discount) %>折</span></div>
					<% } %>
					<a href="javascript:;" class="pic <%= isBuy ? 'done-link' : 'ing-link' %>">
						<img src="<%= v.poster_img %>" alt="">
						<p class="title"><%= v.title %></p>
						<p class="price">
							<% if(isBuy){ %>
								<span><%= v.sale_price %></span>
								<del><%= v.price %></del>
							<% }else{ %>
								<span>凑人中</span>
							<% } %>
						</p>
					</a>
					<a href="javascript:;" class="buy-btn <%= isBuy ? 'done-link' : 'ing-link' %>"><%= isBuy ? '立即购买' : '去围观' %></a>
				</div>
			</li>
		<% }); %>
	</ul>
</section>
<a class="gotop" style="bottom:<%if(this.isIphone){%>60<%}else{%>20<%}%>px">
	<img src="http://d02.res.meilishuo.net/img/_o/41/62/c1d9e0f159bfb506b27dea648ccb_80_80.cg.png" />
</a>
<%= requireFn('wapShare.html')({
	'share' : this.share 
    , 'shareTitle' : '选择分享到'
    , '_JSstack' : this._JSstack
	, '_JSmods' : this._JSmods
}); %>
<script>
	fml.vars.mlsHost = '<%= this.mlsHost%>';
	fml.vars.inAppTabbar = <%= this.inAppTabbar %>;
	fml.vars.shareData = <%= JSON.stringify(this.shareData) %>;
	fml.vars.listData = <%= JSON.stringify(this.listData.data) %>;
</script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/zulilyOld/desire-new',function(){
		if(Meilishuo.config.os.weixinBrowser){
			$.ajax({
				url: '/aj/wx/sign'
				, data: {
					url:window.location.href
				}   
				, dataType: 'json'
				, type: 'post'
				, success : function(data){
					wx.config({
						debug:false
						//debug:false 
						, appId: data.info.appId
						, timestamp: data.info.timestamp
						, nonceStr: data.info.nonceStr
						, signature: data.info.signature
						, jsApiList: [
							'checkJsApi',
							'onMenuShareTimeline',
							'onMenuShareAppMessage',
							'onMenuShareQQ',
							'onMenuShareWeibo'
						]   
					}); 
				},
				error: function(err){
				}
			})
		}
	});
_use:", this._JSstack, this._JSmods); %>
<%#foot.html%>
