<%# head.html%>
<%
var query = this._Request_query;
var getLink = _extFn.getLink;
%>
<div class="spinner topSpinner"></div>
<div class="content_fluid v_hidden">
	<% if (this.attrName != 'popular'&&this.attrName != 'new') {%>
	<%# commerce/ads_top_banner.html%>
	<% } %>
	<div class="cata_title">
	<%if(!this.attrName || this.attrName == 'hot' || this.attrName == 'popular' || this.attrName == 'new'){%>
		<h2>逛宝贝</h2>
		<ul class="category right_f">
			<li><a class="<%if(this.attrName == 'hot'){%> active <%};%>" href="/guang/hot">24小时最热</a></li>
			<li><a class="<%if(this.attrName == 'popular'){%> active <%};%>" href="/guang/popular">7天最热</a></li>
			<li><a class="<%if(this.attrName == 'new'){%> active <%};%>" href="/guang/new">最新</a></li>
		</ul>
	<%}else{%>
		<h2><%= this.currentWord %></h2>
			<ul class="category right_f">
			<li><a class="<%if(query.section == 'hot' || !query.section){%>active<%}%>" href="<%=getLink({'section' : 'hot' , 'page' : '0'} , query)%>">最热</a></li>
			<li><a class="<%if(query.section == 'new'){%>active last<%}%>" href="<%=getLink({'section' : 'new' , 'page' : '0'} , query)%>">最新</a></li>
			</ul>
			<span class="right_f f14_f">排序：</span>
	<%}%>

	</div>
	<div class="goods_wall">
		<div class="corner_notic">
			<%# abtest/block/sec_nav.html%>
			<% if((this.attr_keywords && this.attr_keywords.length > 0) || (this.attr_match && this.attr_match.length > 0)){%>
				<div class="rec_nav">
					<% if(this.attr_keywords && this.attr_keywords.length > 0){%>
						<h2>喜欢<%= this.attr_title_keywords.word_name%>的MM还喜欢</h2>
							<div class="category">
							<% this.attr_keywords && this.attr_keywords.map(function(data){%>
								<%  
									if(data.isBrand){
									var url = '/guang/brand/' + data.word_name + getLink({'frm' : 'section4_keyWords'});    
									}else{
									var url = '/guang/attr/' + data.word_id + getLink({'frm' : 'section4_keyWords'}); 
									}
								%>
								<a href="<%= url%>" target="_blank"><%= data.word_name%></a>
							<%});%>
							<div class="clear_f"></div>
					</div>
				<%}%>
				<% if(this.attr_match && this.attr_match.length > 0){%>
					<h2><%= this.attr_title_keywords.word_name%>的推荐搭配</h2>
						<div class="category last">
							<% this.attr_match && this.attr_match.map(function(data){%>
								<% 
									if(data.isBrand){
										var url = '/guang/brand/' + data.word_name + getLink({'frm' : 'section4_dapei'});   
									}else{
										var url = '/guang/attr/' + data.word_id + getLink({'frm' : 'section4_dapei'});    
									}
								%>
								<a target="_blank" href="<%= url%>"><%= data.word_name%></a>
							<%});%>
							<div class="clear_f"></div> 
						</div>
				<%}%>
			</div>
		<%};%>
		<% if(this.attr_group && this.attr_group.length > 0){%>
			<%if(!this.isShow){%>
				<h2 class="mt14_f f14_f">推荐杂志</h2>
			<%}else{%>
				<h2 class="mt14_f f14_f">喜欢<span class="red_f"><%= this.attr_title_keywords.word_name%></span>的MM喜欢的杂志</h2>
			<%}%>
				<% var magItemRenderFn = requireFn('group/magitem.html'); %>
				<% this.attr_group.map(function(data){%>
						<%= magItemRenderFn(data , 0);%>
				<%}); %>
		<%};%>
		<%if(this.attr_brand && this.attr_brand.length > 0){%>
			<div class="attr_box">
				<h2 class="f14_f"><span class="red_f"><%= this.attr_title_keywords.word_name%></span>的推荐品牌</h2>
				<div class="brand">
					<% this.attr_brand.map(function(data){%>
						<a class="<%if(data.isred == 1){%> red_f <%}%>" href="/guang/brand/<%= data.word_name%>" target="_blank"><%= data.word_name%></a>
					<%});%>
				</div>
			</div>
		<%}%>
		<% if(this.attr_shop && this.attr_shop.length > 0){%>
			<div class="attr_box">
				<h2 class="f14_f">看<span class="red_f"><%= this.attr_title_keywords.word_name%></span>的爱美丽在逛的店</h2>
				<ul class="list">
					<% this.attr_shop && this.attr_shop.map(function(data){%>
					<li>
						<a href="/shop/show/<%= data.shop_id%>" target="_blank"><img src="<%= data.pic_url%>" /></a>
						<span><a href="/shop/show/<%= data.shop_id%>" target="_blank"><%= data.shop_title%></a></span>  
					</li>
					<%});%>
				</ul>
			</div>
		<%};%>
		<% if(this.attr_baike && this.attr_baike.msg){%>
			<div class="attr_box">
				<h2 class="f14_f"><span class="red_f"><%= this.attr_title_keywords.word_name%></span>的小百科</h2>
				<p class="baike">
					<%= this.attr_baike.msg%>
				</p>
			</div>
		<%};%>
	</div>
	</div>
	<div class="goods_banner"><a href="/welcome" target="_blank"></a>
	</div>
	<div class="spinner botSpinner none_f"></div>
	<div class="clear_f"></div>
	<div class="paging_panel c_f none_f">
	<%#paging.html%>
	</div>
	<%# commerce/ads_bot_banner.html%>
</div>
<%# poster.html%>
<script>
fml.vars._guang_word_name = "<%= this.attrName%>";
</script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
		fml.use('abtest/page/guang');
		fml.use('page/poster');
_use:", this._JSstack , this._JSmods ); %>
<%if(this.attrName == 'new'){%><div class="h_update none_f"><a><span id="msgSize">0</span>个新分享</a></div><%}%>
<%# foot.html%>
