form.address_form {
	padding: 20px 30px;

	label {
		.w(80px);
		.i_block;
	}
	p {
		.mb(16px);
		.pr;
		height: 35px;

		span {
			.fc(@red);
			.fb;
			.f(14px);
			.pa;
			top: 8px;
			left: -10px;
		}
	}
	select.mls-select {
		.ml(0px);
		.mr(10px);
		max-width: 100px;
	}
	.l_ipt_s {
		.w(340px);
	}
	.submitBox {
		.mt(20px);
		margin-left: 50px;

		.button {
			.common_button;
			.common_button > .redBtn;
			.border-n;
			.f(16px);
			padding: 10px;
			.w(138px);
			.l(18px);
		}
		.cancelBtn {
			background-color: #f7f7f7;
			color: #666;

			&:hover {
				color: #666;
			}
		}
	}

	.good, .bad, strong {
		.i_block;
		.w(15px);
		.h(15px);
		.ml(10px);
		padding-top: 4px;
	}
	.good, .bad {
		background: url("@{pic_url}/images/doota/validate_1.png") no-repeat bottom left;
		*background-position: 0;
	}
	.good {
		background-position: -15px bottom;
		*background-position: -15px 0;
	}
	.addressErrorMessage {
		.mt(4px);
		.ml(80px);
		.mb(4px);
		.red;
	}
}