@import "../../block.less";
html{.f(10*@f);}
body { padding:0;margin:0; .bgc(#ffe6ed); .fc(#666); }
img{ width: 100%; .block; }
a{.block;}

.user_info{
	.pa;.w(72%);top: 0;left: 0;padding: 40% 14% 0;.f(1.5rem);.l(1.8rem);
	.fc(#946958);
	p{.pb(0.5rem);}
	span{.fc(#ff668a);}
	.last{.f(1.6rem);.l(2.2rem);}
}

/*dialog*/
.dialog();
.draw_box{ .c; margin:20px 0; }
.dialog_box{
	.pt(1rem);.c;
	p{ .l(2rem); .f(1.4rem); }
	.btn3zi{ .act_btn; .border-r(40*@px); .f(1.6rem); padding: 1% 12px;.w(30%); .left;.ml(30%);.mt(20px);}
}
#dialogLayer .dialogTitle .close{.none;}
.toupdate .btn3zi{.ml(30%);}
.invite .btn3zi{.w(50%);.ml(20%);}
/*分享*/
.starBox{ .star_box; }
@import "../../footer.less";
