@import "../../block.less";

html{.f(10*@f);}
body { padding:0;margin:0; .bgc(#ffe6ed); .fc(#666); }
img{ width: 100%; .block; }

.exo_banner{.w(100%);background:url("@{pic_url}/images/wap/activity/may_sale/exo_mob1.jpg") no-repeat;background-size: 100%;.pt(659/640*100%);}
.exo_banner1{.w(100%);background:url("@{pic_url}/images/wap/activity/may_sale/exo_mob2.jpg") no-repeat;background-size: 100%;.pt(183/640*100%);}
.exo_banner2{.pr();.w(100%);background:url("@{pic_url}/images/wap/activity/may_sale/exo_mob33.jpg") no-repeat;background-size: 100%;.pt(50%);.pb(10%);
	.btn_box{.pr();.w(100%);.h(90*@px);}
	.btn{.block;.w(381/640*100%);.auto();.h(90*@px);border:none;cursor:pointer}
	.no_sub1{background:url("@{pic_url}/images/wap/activity/may_sale/n_btn.jpg") no-repeat;background-size: 100%;}
	.go_sub1{background:url("@{pic_url}/images/wap/activity/may_sale/g_btn.jpg") no-repeat;background-size: 100%;}

}
.exo_banner3{.pr();.w(100%);background:url("@{pic_url}/images/wap/activity/may_sale/exo_mob44.jpg") no-repeat;background-size: 100%;.pt(56%);.pb(12%);
	.btn_box{.w(100%);.h(90*@px);}
	.btn{.block;.w(381/640*100%);.auto();.h(90*@px);border:none;cursor:pointer}
	.no_sub2{background:url("@{pic_url}/images/wap/activity/may_sale/n1_btn.jpg") no-repeat;background-size: 100%;}
	.go_sub2{background:url("@{pic_url}/images/wap/activity/may_sale/g2_btn.jpg") no-repeat;background-size: 100%;}
	
}
.time_main{.pr;top:4%;left:0;.w(100%);.pb(3%);
	.countTime{
		.pa;top: 25%;.pt(2%);left: 50%;.ml(-109px);.f(1.4rem);.fc(#ff385e);
		span{.fc(#fff);background: url('@{pic_url}/images/wap/activity/may_sale/cuntdown_bg.png') no-repeat;background-size: 100%;.w(14px);.h(20px);.l(20px);.block;.c;margin: 0 2px;}
		p,dl,dt,dd{.left;}
		p,dt{.l(1.8rem);color:#e44f6b;font-weight:800}
	}
	.time_pt{top:32%}
}

.exo_foot{.w(100%);background:url("@{pic_url}/images/wap/activity/may_sale/exo_mob_05.jpg") no-repeat;background-size: 100%;.pt(415/640*100%);}