@import "../../block.less";
html{.f(10*@f);}
body{.bgc(#dd6590);}
img{width:100%;.block;}

.con_wrap{.pr;.hidden;.pt(355*@w);
	img{.pa;top: 0;left: 0;}
	div{.pr;z-index: 5;}
	.get_num{.pa;top: 17%;left: 25%;.f(1.8rem);.fc(#f16699);}
	.get_btn{.w(27%);.block;.pt(26%);.pa;top: 0;left: 55%;}
	.scroll_wrap{.pa;top: 56%;left: 18%;.f(1.4rem);.fc(#e75da3);.h(50px);.w(63%);.hidden;}
	.scroll_inner{.w(200000*@w);.pa;top:0;.h(200*@w);.h(50px);
		overflow:hidden;
		p{text-align:center;float:left;.mr(10px);.h(20px);}
	}
	.remind_btn{.w(112*@w);.pt(56*@w);.pa;bottom: 15%;right: 16%;background: url('http://d02.res.meilishuo.net/img/_o/1f/bf/a58b3862826779db848232003dd8_56_56.c8.png') left center no-repeat;background-size: 50%;}
	.has_remind{;background:url(http://d03.res.meilishuo.net/img/_o/c2/26/9219abbd8f5525287c864395c184_56_56.c8.png) right center no-repeat;background-size:50%;}
}

/*dialog*/
.dialog();
.draw_box{ .c; margin:20px 0; }
.toupdate{
	p{ margin:20px 0; }
	.btn3zi{ .act_btn; .border-r(40*@px); .f(38*@px); .h(60*@px); .l(60*@px); .w(180*@px); margin:12*@px auto;}
}
/*分享*/
.masker{ display:none; background:black; opacity:.38; .pf; top:0; left:0; .w(100%); .h(100%); z-index:10; }
.popup{ z-index:11; .w(100%); top:10%; .pf; display:none;
	a#closePopup{ .block; .pa; top:1%; left:502*@w; .w(56*@w); .pt(56*@w); }
	.starBox{ .star_box; }
	.head,.end{ color:#956f78; font-size:18px; .w(100%); top:9%; .pa; text-align:center; }
	.end{ font-size:14px; top:62%; }
	.img{ .w(100%); .pa; .pt(25*@w); .pb(25*@w); text-align:center; top:30%;
		img{ margin:auto; .w(50%)}
	}
	.exo_head{
		.pa;.w(25%);right:50%;.mr(160*@w);top:-20px
	}
	.btn{ .w(320*@w); padding:3% 0; background:#ed6599; border-radius:3px; color:white; font-size:16px; text-align:center; .pa; top:80%; left:160*@w; }
}
.starBox{ .star_box; }
