<%#head_simple.html%>
</head>
<body>
<div class="lf_auto lf_count">
	<img src="<%= this.PICTURE_URL%>images/wap/activity/lefeng/lefeng1.jpg" />	
	<div class="lf_time timeStamp" end-date="1372780800">
		<strong id="day" class="day">0</strong><strong id="hour" class="hour">0</strong><strong id="minute" class="minute">0</strong><strong id="seconds" class="seconds">0</strong>
	</div>
</div>
<div class="lf_auto">
	<a href="http://meilishuo.com/u/EFIGuB?frm=applefeng01"><img src="<%= this.PICTURE_URL%>images/wap/activity/lefeng/lefeng_22.jpg" /></a>
</div>
<div class="lf_auto"><a href="http://meilishuo.com/u/EFIHAr?frm=applefeng02"><img src="<%= this.PICTURE_URL%>images/wap/activity/lefeng/lefeng_12.jpg" /></a></div>
<div class="lf_auto"><img src="<%= this.PICTURE_URL%>images/wap/activity/lefeng/lefeng_13.jpg" /></div>
<div class="lf_auto"><a href="http://meilishuo.com/u/EFrHch?frm=applefeng21"><img src="<%= this.PICTURE_URL%>images/wap/activity/lefeng/lefeng_14.jpg" /></a></div>
<div class="lf_auto"><a href="http://meilishuo.com/u/EFrHmN?frm=applefeng23"><img src="<%= this.PICTURE_URL%>images/wap/activity/lefeng/lefeng_15.jpg" /></a></div>
<div class="lf_auto"><a href="http://meilishuo.com/u/EFrHpl?frm=applefeng22"><img src="<%= this.PICTURE_URL%>images/wap/activity/lefeng/lefeng_16.jpg" /></a></div>
<div class="lf_auto"><img src="<%= this.PICTURE_URL%>images/wap/activity/lefeng/lefeng_17.jpg" /></div>
<div class="lf_auto"><img src="<%= this.PICTURE_URL%>images/wap/activity/lefeng/lefeng_18.jpg" /></div>
<div class="lf_auto"><img src="<%= this.PICTURE_URL%>images/wap/activity/lefeng/lefeng_19.jpg" /></div>
<div class="lf_auto"><img src="<%= this.PICTURE_URL%>images/wap/activity/lefeng/lefeng_20.jpg" /></div>
<div class="lf_auto"><img src="<%= this.PICTURE_URL%>images/wap/activity/lefeng/lefeng_21.jpg" /></div>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
    fml.use('wap/app/countdown' , function(){
		this();	 
	});
_use:", this._JSstack , this._JSmods);%>
<%#foot_simple.html%>
