<%# head.html%>
	<div class="success_wrap"></div>
	<!--预约规则-->
	<span class="first_rules"></span>
	<div class="first_popwin" id="yuyue_wrap">
		<img class="close_pop" id="gz_close" src="http://d03.res.meilishuo.net/pic/_o/cc/a5/648d40012761947fdf6fbbba78fd_56_56.cf.png" />
		<div class="rules-content">
			<h2 class="yy_title">预约规则</h2>
			<ul class="rules">
				<li class="sub_t">活动时间</li>
				<li class="date">2015年10月1日—12月1日</li>
			</ul>
			<ul class="rules">
				<li class="sub_t">活动说明</li>
				<li class="sub_t_t">活动1：预约肌肤测试，立领护肤大礼包</li>
				<li class="sub_t_t">参与步骤</li>
				<li>
					Step1：凭预约成功短信到预约专柜进行肌肤测 试体验；
					<br/> Step2：拍摄体验过程照片或测试结果照片
					<br/> Step3：在朋友圈晒出您的测试体验与照片并截 屏
					<br/> Step4：打开Olay微信公众号，发送关键字“已 测试”；
					<br/> Step5：将朋友圈内容截屏图片与分享图片的 原图发送给Olay；
					<br/> Step6：根据Olay微信号提示，提交您的个人 信息：【姓名】+【手机】。
				</li>
				<li class="sub_t_t">活动规则</li>
				<li>活动期间，Olay将记录参与用户的分享内容与 个人信息，活动期间共选出100位获奖者，每人 获得微晶亮肤仪1台，活动结束后10个工作日内， 将由专门工作人员电话通知获奖人员。分享的 心得与测试照片质量越高中奖几率越大哦。
				</li>
				<li class="sub_t_t">活动奖品</li>
				<li>
					微晶亮肤仪（共100台）
				</li>
			</ul>
			<h2 class="yy_title">免责声明</h2>
			<ul class="rules">
				<li>
					1、奖品图片仅供参考，以实物为准。如遇客观条件影响，无法提供指定奖品，活动主办方有权以价值相仿的奖品替代。
					<br> 2、申请预约用户请填写正确有效联系方式，以便查收预约成功信息。如因提交内容有误导致无法预约成功，主办方恕不负责。
					<br> 3、参与活动1用户首次到专柜测试才能获得护肤大礼包，非首次测试用户则不享受礼包赠送。
					<br> 4、参与活动2用户请发送正确有效联系方式到Olay官方微信，如用户填写了错误的联系方式而导致无法联系获得奖品，主办方恕不负责。
					<br> 5、参与活动2用户发送到当前的Olay微信公众号的分享测试心得与测试过程照片将用于全民亲测内容展示应用，赋予主办方用户本人肖像权。
					<br> 6、主办方不对因网络传输而导致参加者提交的信息有误承担责任。
					<br> 7、如有发现网民釆用不正当的方式恶意破坏本活动机制、刷取奖品的行为，主办方有权在不事先通知的情况下取消该网民的参与资格与兑换奖品资格。
					<br> 8、在法律允许范围内，如遇不可抗力因素，活动主办方保留暂停和终止本次活动的权利。
					<br> 9、本次活动期间宝洁公司有权依法进行解释未尽事宜，联系电话020-38350350-108。
				</li>
			</ul>
		</div>
	</div>

	<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use("wap/page/olay_yuyue");
_use:", this._JSstack , this._JSmods); %>
		<%#foot_simple.html%>