<%# head_simple.html%>
</head>
<body>
<div class="content">
<div class="main_page">
<img src="http://i.meilishuo.net/css/images/wap/activity/startling/startling_01.jpg" /><img src="http://i.meilishuo.net/css/images/wap/activity/startling/startling_02.jpg" /><img src="http://i.meilishuo.net/css/images/wap/activity/startling/startling_03.jpg" /><img src="http://i.meilishuo.net/css/images/wap/activity/startling/startling_04.jpg" usemap="#Map" />
<map name="Map">
  <area shape="rect" coords="14,0,315,430" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223636829543%22%2C%22is_doota%22%3A%221%22%7D%7D">
  <area shape="rect" coords="326,4,626,430" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223518526827%22%2C%22is_doota%22%3A%221%22%7D%7D">
</map>
<img src="http://i.meilishuo.net/css/images/wap/activity/startling/startling_05.jpg" usemap="#Map2" />
<map name="Map2">
  <area shape="rect" coords="207,10,625,358" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223599180125%22%2C%22is_doota%22%3A%221%22%7D%7D">
</map>
<img src="http://i.meilishuo.net/css/images/wap/activity/startling/startling_06.jpg" usemap="#Map3" />
<map name="Map3">
  <area shape="rect" coords="14,2,306,244" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223620743507%22%2C%22is_doota%22%3A%221%22%7D%7D">
  <area shape="rect" coords="322,1,629,244" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223409948025%22%2C%22is_doota%22%3A%221%22%7D%7D">
</map>
<img src="http://i.meilishuo.net/css/images/wap/activity/startling/startling_07.jpg" usemap="#Map5" />
<map name="Map5">
  <area shape="rect" coords="12,1,316,449" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223420675445%22%2C%22is_doota%22%3A%221%22%7D%7D">
  <area shape="rect" coords="324,5,628,453" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223574385859%22%2C%22is_doota%22%3A%221%22%7D%7D">
</map>
<img src="http://i.meilishuo.net/css/images/wap/activity/startling/startling_08.jpg" usemap="#Map4" />
<map name="Map4">
  <area shape="rect" coords="211,-167,314,0" href="#">
  <area shape="rect" coords="15,126,422,478" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223572549807%22%2C%22is_doota%22%3A%221%22%7D%7D">
  <area shape="rect" coords="442,126,623,479" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223462841347%22%2C%22is_doota%22%3A%221%22%7D%7D">
</map>
<img src="http://i.meilishuo.net/css/images/wap/activity/startling/startling_09.jpg" usemap="#Map6" />
<map name="Map6">
  <area shape="rect" coords="12,2,314,394" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223662096351%22%2C%22is_doota%22%3A%221%22%7D%7D">
  <area shape="rect" coords="12,405,315,724" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223520977755%22%2C%22is_doota%22%3A%221%22%7D%7D">
  <area shape="rect" coords="324,2,628,263" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223482571121%22%2C%22is_doota%22%3A%221%22%7D%7D">
  <area shape="rect" coords="324,270,628,535" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223436612649%22%2C%22is_doota%22%3A%221%22%7D%7D">
  <area shape="rect" coords="326,545,628,726" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223603917863%22%2C%22is_doota%22%3A%221%22%7D%7D">
</map>
<img src="http://i.meilishuo.net/css/images/wap/activity/startling/startling_10.jpg" usemap="#Map7" />
<map name="Map7">
  <area shape="rect" coords="194,227,626,650" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223538066671%22%2C%22is_doota%22%3A%221%22%7D%7D">
</map>
<img src="http://i.meilishuo.net/css/images/wap/activity/startling/startling_15.png" usemap="#Map8" />
<map name="Map8">
  <area shape="rect" coords="14,5,351,427" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223622944137%22%2C%22is_doota%22%3A%221%22%7D%7D">
  <area shape="rect" coords="361,5,629,432" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223687318035%22%2C%22is_doota%22%3A%221%22%7D%7D">
</map>
<img src="http://i.meilishuo.net/css/images/wap/activity/startling/startling_13.png" usemap="#Map9" />
<map name="Map9">
  <area shape="rect" coords="14,8,224,230" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223498829021%22%2C%22is_doota%22%3A%221%22%7D%7D">
  <area shape="rect" coords="233,11,443,231" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223662353457%22%2C%22is_doota%22%3A%221%22%7D%7D">
  <area shape="rect" coords="456,13,632,232" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223605782503%22%2C%22is_doota%22%3A%221%22%7D%7D">
</map>
</div>
</div>
<script>var a = document.body.offsetWidth;var scale_size = a / 640;var main = document.querySelector('.main_page');var h = 5264 * scale_size;main.setAttribute('style', "-webkit-transform: scale("+ scale_size +");transform:scale("+ scale_size +");-webkit-transform-origin: left top;transform-origin: left top;height: " + h + "px")</script>
<%# foot_simple.html%>

