<%# head_simple.html%>
	<script> 
            (function(win,doc){
                var docel = doc.documentElement;
                var meta = doc.querySelectorAll('meta[name=viewport]');
                meta[0].setAttribute('content','width=device-width,user-scalable=no,initial-scale=1');
                function recalc(){
                    var width = docel.clientWidth;
                    docel.style.fontSize = 100 * width/640+'px';
                }
                if(doc){
                    recalc();
                    win.addEventListener('orientationchange',recalc,false);
                }else if (doc.addEventListener){
                    doc.addEventListener('DOMContentLoaded', recalc, false);
                }
            })(window,document)
     </script>
</head>
<!-- 音效 -->
<audio hidden="true" preload="auto" autobuffer>
    <source src="http://i.meilishuo.net/css/images/staticbed/6302.mp3">
</audio>
<!-- 音效结束 -->
<div class="content">
        <div class="cover">
            <div class="cover_left">
                <div class="cover_color"><div class="cover_img"></div></div>
                <div class="cover_black"></div>
            </div>
            <div class="cover_right">
                <div  class="cover_bgc"></div>
            </div>
        </div>
</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
fml.use('wap/page/activity/tearBrand');
_use:", this._JSstack , this._JSmods ); %>
<%# foot.html%>