@import "storeAtom.less";
.nav_bar;
.page_title {.h3_title;.fb;.border-1(#e6e6e6);}
.detail{.mt(-1px);.border-1(#e6e6e6);padding: 20px;.bgwhite;
	.apply_table{.w(100%);.l(32px);
		.tle{text-align: right;.w(108px);vertical-align: top;}
		.activity_price,.discount{.w(60px);}
		.unit{.ml(3px);}
		.tip_msg{.ml(30px);.red;}
		.desc{.w(300px);.h(50px);}
		.upload_btn{.bgred;.white;.w(72px);.h(24px);.l(24px);.c;.border-r(3px);}
		.img_wrapper{.mt(5px);.h(98px);
			img{.w(98px);.h(98px);.border-1(#e6e6e6);}
		}
	}
	.btn_wrapper{.c;
		.sub_btn{.white;.bgred;.f(18px);.w(100px);.c;padding: 5px 10px;.border-r(3px);.cursor;border: none;.mr(10px);}
	}
}