@import "storeAtom.less";
.page;
.pageNav{ .page > .pageRed; }
.nav_bar;
.page_title {.h3_title;.fb;.border-1(#e6e6e6);
	span {.left;}
	.query { margin: 10px 15px; .f(12px); .h(25px); .l(25px); .right; .bgc(#ff679a); .fc(#fff); .c; .none; .border-r;.w(65px); border: none; 
		&:hover{.cursor}}
}

.group_list{.w(738px);.bgc(#fff);.border-1(#e6e6e6);padding: 20px;.mt(-1px);
	.search_wrapper{.pb(20px);.mb(20px);.border-bc(dotted);
		.input_txt{.mr(20px);}
		.search_sub{.w(70px);.h(25px);.bgred;.white;border: 0;.border-r;.cursor;}
	}
	.list_table{.w(100%);border-collapse: collapse;
		.title_tr{.h(50px);}
		td,th{.border-1(#e6e6e6);.l(22px);}
		td{.h(80px);.c;
			&.status_td{.w(100px);}
			&.op_td{.w(150px);}
		}
	}
}
.activity_detail{}
.audit{}
.apply{}