@import "storeAtom.less";
.navCommon;
.content_wrapper{.l(200%);
	.top_info{}
	.add_wrapper{
		input{border: none;.bgred;.white;.border-r(3px);padding: 5px 10px;.cursor;}
	}
	.detail_wrapper{
		.goods_item{.hidden;.pt(5px);border-top: 1px dotted #e6e6e6;.mt(10px);
			.img_wrapper{.w(400px);.left;height: 130px;.border-1(#e6e6e6);.l(130px);
				img{.w(400px);vertical-align: middle;}
			}
			.link_wrapper{.left;.w(180px);.h(68px);margin: 0 10px;
				.link_url{.w(180px);.h(68px);}
			}
			.btn_wrapper{.left;.ml(10px);.pt(10px);
				.upload_btn,.rm_btn{.bgred;.white;.cursor;.border-r(3px);.c;}
				.upload_btn{.w(80px);}
				.rm_btn{.mt(10px);padding: 0 10px;}
			}
		}
	}
	.sub_wrapper{padding: 10px;
		.save_btn{.auto;.bgred;.white;padding: 5px;.c;.border-r(3px);.w(100px);.f(14px);.cursor;}
	}
}