@import "storeAtom.less";
.nav_bar;
.page_title {.h3_title;.fb;.border-1(@color:#e6e6e6);}
.content{.bgwhite;
	.list{.mt(-1px);.border-1(#e6e6e6);padding: 20px;
		p{.l(50px);}
		.margin_table{.w(100%);
			td,th{.border-1(#e6e6e6);.l(36px);.c;white-space: nowrap;}
		}
		.price{.f(18px);.red;}
		.pay_btn{.bgred;.white;padding: 5px 10px;.l(24px);.ml(10px);.border-r(3px);.f(14px);}
	}
}