@import "storeAtom.less";
@bds: 1px solid #e6e6e6;

.nav_bar;
.page;
.pageNav{ .page > .pageRed; }

.content{
	.w(780px);.left;
	.shop_title{.border-1(#e6e6e6);.fb;.h3_title;.mb(-1px);}

	.shop_table{padding: 20px;.bgc(#fff);.border-1(#e6e6e6);}

	.query_goods{.mb(20px);.h(26px);padding: 20px;.border-1(#e6e6e6);}
	.goods_num, .goods_title{.w(122px);.h(22px);.border-1(#d2d2d2);.pl(8px);.mr(20px);}
	.goods_title{.w(332px);.mr(10px);}
	.submit{padding: 6px 22px;.border-r(2px);.bgc(#f69);.fc(#fff);.cursor;.c;border: none;}

	.o_sep{.h(10px);}
	table{.w(100%);border-collapse: collapse;}
	th,td{.border-1(#e6e6e6);border-left: none;border-right: none;}
	th{.fb;.l(35px);}
	tbody td{.h(56px);}
	tfoot td{border: none;}
	.th_first{border-left: @bds;.w(300px);}

	.img_wrap{
		.left;.w(60px);.h(60px);margin: 20px 10px 20px 20px;.border-1(#e6e6e6);
		img{.w(60px);.h(60px);}
	}
	.goods_wrap{.w(286px);.h(67px);}
	.goods_name{
		.l(20px);margin: 20px 0 6px;.w(300px);.h(40px);.hidden;
	}
	.goods_desc{.fc(#999);}

	.th_last{
		border-right: @bds;.w(100px);
		div{padding: 7px 0;.w(89px);.border-r(2px);.bgc(#ccc);.fc(#fff);.cursor;.c;}
	}
	tbody tr:hover{
		.th_last div{.bgc(#f69);}
	}
	.odd{.bgc(#F7F6F6);}

}