@import "storeAtom.less";

.nav_bar;
.content{
	.pb(40px);
        .w(780px);.left;
	.basic_title{.h3_title;.border-1(#e6e6e6);.fb;.mb(-1px); .clearfix();
		span{ .left;}
		.add{ .h(10px); .w(10px); background:url("@{pic_url}/images/store/mls_store131110_1.png")no-repeat -90px -72px; .left; margin: 8px 5px;}
	        .redBtn { .w(80px); .h(25px); margin:10px 20px; .pl(10px); .pr(10px); .f(12px);}
	        .addCategory{ .right;}
		input{ .right; .mt(11px); .border-1(#e6e6e6); .h(20px);}
	}
		
	.wrapper{ padding: 20px;.bgc(#fff);.border-1(#e6e6e6);
		table{.w(100%);border-collapse: collapse;
			.group_icon;
			tr{ .border-1(#e6e6e6);
				&:nth-child(even){.bgc(#f7f6f6);}
				&:hover {
					td.order .num{ background:url("@{pic_url}/images/store/mls_store131110_1.png")no-repeat 0 -48px;}
					td.operation .grayBtn {.bgred;}
				}
			}
			th{ .l(50px); .fb(); }
                        .title1{ .w(85px); }
                        .title2{ .w(325px); .pr(60px);}
                        .title3{ .w(280px);}
			td{ .l(65px);.h(40px);
				&.order{
					.num{ background:url("@{pic_url}/images/store/mls_store131110_1.png")no-repeat -25px -48px; .h(20px); .auto; .c(); .l(20px); .white(); .w(20px); }
				}
				&.category{ .c();
					.category_wrap{.pr;} 
					.pr;
					.btnEdit,.arrowTop{.pa; top: 22px; .none;}
				}
				&.operation{ .pl(55px);
					.grayBtn{ .left; .ml(10px); .pl(10px); .pr(10px);}
				}

			 }

				
        }		
	}

}
.deleteCategory, .addGoods, #addCategory_btn, .btnEdit, .arrowTop{
	&:hover{.cursor;}
}
.confirm_btns{.pf; bottom:0; .w(100%); padding:5px; background:#f2f0f0;
	.btn{
		padding:5px 15px;
		float:right;
		.mr(30px);
	}
}
