@import "storeAtom.less";
.nav_bar;
.page_title {.h3_title;.fb;.border-1(#e6e6e6);
	span {.left;}
	.query { margin: 10px 15px; .f(12px); .h(25px); .l(25px); .right; .bgc(#ff679a); .fc(#fff); .c; .none; .border-r;.w(65px); border: none; 
		&:hover{.cursor}}
}
.detail_wrapper{.w(738px);.bgc(#fff);.border-1(#e6e6e6);padding: 20px;.mt(-1px);
	.see_rule{.red;.ml(30px);}
	.detail_table{.w(100%);
		td{.pb(20px);}
		.title_td{.w(80px);vertical-align: top;}
		.erweima_td{
			img{.w(96px);.h(96px);}
		}
		.g_img_td{
			img{.w(200px);.h(200px);}
		}
		.sub_td{
			.sub_btn{.w(100px);.h(35px);.c;.bgc(#f69);.fc(#fff);.cursor;border: 0;.border-r;.mr(10px);.f(14px);}
		}
	}
}
