@import "storeAtom.less";
.container{border:1px solid #e6e6e6;.bgc(#fff);
	.title{.h3_title;.fb;border-bottom:1px solid #e6e6e6;}
}
.aKey_import {.bgc(#ffe8f0);padding:20px;border-bottom:1px solid #e6e6e6;
	label {.f(14px);.left;.w(150px);.l(25px);.pl(20px);}
	.shopID_input {.left;.w(532px);.mr(20px);
		input {.w(520px);.h(23px);padding:0 5px;color:#666;.border-1(@color:#d2d2d2);.mb(10px);}
		}
	.btn_import {.left;.w(140px);
		input {.redBtn;border:0;.cursor;.f(14px);}
	}
}
.manually, .select_category{.mt(0px); .mb(0px); .ml(20px); .mr(20px); .pt(20px); .pb(20px); .pl(100px); .pr(100px); }
.manually {
span{
	.i_block;
	.w(94px);
	}
	select{
		width:125px;
		color:#333;
	}
}
 		
.select_category{
	border-top:1px dotted #c0c0c0; border-bottom:1px dotted #c0c0c0;
	div.left{.pa; .w(100px);}
	div.right{.ml(100px); border:1px solid #e6e6e6;border-bottom:0;
		ul{margin:0; padding:0;
			li{.pt(9px); .pb(9px); .pl(20px); .pr(20px); .l(30px); .bgc(#fcfcfc); border-bottom:1px solid #e6e6e6;
				&.odd{.bgc(#f7f5f6);}
				.btn{.fc(#989898); .right; .i_block; .w(94px); .h(28px); border:1px solid #c0c0c0; .border-r(2px); .bgc(#f2f2f2); .cursor;
					&.btn-selected, &:hover{.bgc(#ff669a); border:1px solid #ff669a; .fc(#fff);}
				}
			}
		}
	}
}
.submit{.pt(20px); .pb(20px); .pl(0px); .pr(0px); .c;
	.btn{.i_block; .pt(12px); .pb(12px); .pl(23px); .pr(23px); .bgc(#ff669a); .border-1(#ff669a); .fc(#fff); .cursor;}
}
