@import "storeAtom.less";
.nav_bar;
.page_title {.h3_title;.fb;.border-1(#e6e6e6);}
.use_help{float:right;margin-right:40px;cursor:pointer;font-size:13px;line-height:47px ;font-weight:normal;}
.use_help img {vertical-align:middle;}
.user_help_p{vertical-align:middle;display:inline;}
.detail_wrapper{.bgwhite;padding: 20px;.border-1(#e6e6e6);.mt(-1px);
	p{.ml(5px);.mb(10px);}
	table{.w(100%);
		th,td{.c;.l(36px);.border-1(#e6e6e6);}
		.status_wrapper{.c;
			.has_stop,.has_start{.w(72px);.h(24px);.l(24px);.auto;.border-r(3px);.border-1(#e6e6e6);.white;
				i{.w(24px);.h(22px);.bgc(#fff);.border-1(#ddd);.cursor;.border-r(3px);}
			}
			.has_start{.bgred;i{.left;}}
			.has_stop{.bggray;i{.right;}}
		}
		.btn_wrapper{.w(140px);
			input{.bgred;.white; .h(24px); padding: 0 10px; .border-r(3px); .cursor;border: none;
				&.cancel_btn{.bggray;}
				&.gray_btn{.bggray;}
			}
		}
	}
	.add_wrapper{.mt(20px);.border-1(#e6e6e6);
		h4{.bgc(#f7f6f6);padding: 10px;border-bottom: 1px solid #e6e6e6;}
		.add_content{padding: 10px 10px 0 10px;
			.add_item{.mb(10px);.left;}
		}
		input{.mr(20px);}
		.add_save{.bgred;.white;border: none;.h(24px);padding: 0 20px; .border-r(3px); .cursor;.ml(10px);}
	}
	.desc{
		.mt(20px);
		p{.pl(20px);.l(22px);text-indent:-20px;}
	}
	.msg_wrapper{.l(200%);.mb(20px);
		.msg_content{.w(700px);.h(48px);padding: 5px;}
		.msg_tle{.mb(5px);}
		.save_msg{.bgred;.white; .h(24px); padding: 0 10px; .border-r(3px); .cursor;border: none;}
	}
}