@import "storeAtom.less";
.nav_bar;
.page_title {.h3_title;.fb;.border-1(@color:#e6e6e6);}
.protocol_wrap{padding: 19px; .bgc(#fff);
	.protocol{.bgc(#fcfcfc); .border-1(#e6e6e6);
		.p_title{.f(14px);.fb;.c;.h(54px);.l(54px);border-bottom: 1px dotted #bdbdbd;}
		.p_content{margin: 20px 15px;.h(327px);overflow-y: scroll;}
	}
}
.info_wrap{ .pr; .w(742px);.mt(9px);.bgc(#fff);padding: 19px;overflow:hidden; 
	.info_nav{.f(14px);.fb; .pr;.l(14px);.pb(20px);.pt(20px);border-bottom: 1px dotted #bfbfbf;
		.nav-ul{.pr; z-index: 4; .clearfix;}
		.nav-list{.pr; z-index: 4;.w(185px);.left;.c; .pt(30px);background:url("@{pic_url}/images/wilee/shop/shop_icon.png?v=13") no-repeat 83px -118px;}
		.nav-headline{.pa;top:30px;left:90px;.h(3px);.w(560px);.bgc(#fc4b89);.block;z-index: 2;}
	}
	.info_wrapper{
		.w(3044px); .clearfix; .pr;.transition(.1s);left:0px;.pb(20px);
		.info_wrap_item{ .w(742px);.pr(19px);
			.left;
		}
		.info_wrap_step1{
			.info_table{.w(100%);border-collapse: collapse;.mt(19px);
				.upload_btn{.w(100px);.h(25px);.bgred;.fc(#fff);.l(25px);.c;.border-r;.cursor;}
				.photo_wrap{.w(208px);.h(98px);.border-1(#e6e6e6);.mt(10px);.c;
					img{.h(100%);max-width: 100%;}
				}
				.name_td{text-align: right;.w(85px);}
				.name_content{ .clearfix; text-align: left;.h(30px);
					input[type=text]{.h(28px);padding:0 10px;.border-r(3px);.border-1(#d5d5d5);.transition(.3s);box-shadow: inset 1px 1px 2px #efefef;
					}
					input.input-text-focus{
						.border-1(#54b8f8);
					}
					.input-item{.i_block;.left;}
					.input-info{.l(30px);.pl(10px);}
				}
				.name_content_success{
					.input-success{.h(16px); .mt(6px); .ml(10px); .w(16px); background: url("@{pic_url}/images/wilee/shop/shop_icon.png?v=13") no-repeat 0px 0px;}
				}
				.name_content_error{
					input[type=text]{border-color:#fc4b64;}
					.input-error{.h(16px); .mt(6px); .ml(10px); .pl(20px); background: url("@{pic_url}/images/wilee/shop/shop_icon.png?v=13") no-repeat 0px -32px;}
					.input-error-msg{color: #fc4b64;.l(16px)}
				}
				.name_content_readonly{color:#868686;}
				.name_content_agreement{
					.input-text{.pt(6px);}
					.input-checkbox{
						a{color:#f69;text-decoration: underline;}
					}
				}
				.name_content_cardsImg{.pr;
					.input-success,.input-error{
						.pa;top:0px;left:100px;
					}
				}
				td{.pb(10px);}
			}
		}
		.info_wrap_item{
			.step-item{.h(40px);.l(40px);.clearfix;}
			.step-item-label{ .block; .left;.w(85px);text-align: right;}
			.step-item-info{ .block; .left;text-align: left;}
			.step-item-back{.mr(15px);}
			.step-item-footer{.h(auto);}
		}
		.info_wrap_step2{
			.pt(15px);
			.info_submit{.pl(85px);.w(657px)}
		}
		.info_wrap_step3{
			.pt(15px);
			.info_submit{.pl(85px);.w(657px)}
		}
		.info_wrap_step4{
			.pt(15px);
			.info_submit{.pl(85px);.w(657px)}
		}
	}

	.info_submit{.pt(19px);border-top: 1px dotted #bfbfbf;.c;
		.sub_btn{.w(144px);.h(46px);.bgred;.cursor;.fc(#fff);.f(18px);border:0;.border-r;outline: none;}
		.sub_btn_grey{.bgc(#b3b3b3);}
	}
	.step-title{
		padding: 25px;
		.pl(80px);
		background:url("@{pic_url}/images/wilee/shop/shop_icon.png?v=13") no-repeat 0px 0px #ffebf2;
		.step-title-h3{color:#53525c}
		.step-title-msg{.l(18px);}
	}
	.step-title-done{
		.bp(25px,-156px);
	}
	.step-title-lock{
		.bp(25px,-256px);
	}
	.step-title-bind{
		.bp(25px,-356px);
	}
	.step-title-fail{
		.bp(25px,-456px);
	}
}
.info_wrap_1{
	.info_nav .nav-list-step1{
		background: url("@{pic_url}/images/wilee/shop/shop_icon.png?v=13") no-repeat 83px -68px;
		color:#fc4b89;
	}
	.info_wrapper{
		left:0px;
	}
}
.info_wrap_2{
	.info_nav .nav-list-step1,
	.info_nav .nav-list-step2{
		background: url("@{pic_url}/images/wilee/shop/shop_icon.png?v=13") no-repeat 83px -68px;
		color:#fc4b89;
	}
	.info_wrapper{
		left:-761px;
	}
	
}
.info_wrap_3{
	.info_nav .nav-list-step1,
	.info_nav .nav-list-step2,
	.info_nav .nav-list-step3{
		background: url("@{pic_url}/images/wilee/shop/shop_icon.png?v=13") no-repeat 83px -68px;
		color:#fc4b89;
	}
	.info_wrapper{
		left:-1522px;
	}
	
}
.info_wrap_4{
	.info_nav .nav-list-step1,
	.info_nav .nav-list-step2,
	.info_nav .nav-list-step3,
	.info_nav .nav-list-step4{
		background: url("@{pic_url}/images/wilee/shop/shop_icon.png?v=13") no-repeat 83px -68px;
		color:#fc4b89;
	}
	.info_wrapper{
		left:-2283px;
	}
}