@import "storeAtom.less";
@import "../block.less";
.nav_bar;
.page;
.pageNav{ .page > .pageRed; }
.datepicker;

.redbtn, .graybtn { .c; .h(26px); .left; }
.redbtn { .common_button; .common_button > .redBtn; }
.graybtn { .common_button; .common_button > .grayBtn; }

.main { .bgwhite; .border-1(#e6e6e6); .right; .w(778px);
	.top_tle { border-bottom:1px solid #e6e6e6;.h3_title; .hidden; .pl(20px); .pr(20px);
		.tle {.f(16px); .left; }
		.tle_r { .right; .h(26px); .l(26px);.f(12px); .mt(10px);
			.redbtn { .w(100px); }
			.downloadBtn {.h(26px);.l(26px);.red;.left;.mr(10px);.cursor;}
		}
	}
	.ship_search {padding:20px;
		label {.left;.pr(10px);.h(25px);.l(25px);}
		input {.w(130px);.h(23px);.border-1(@color:#d2d2d2);padding:0 5px;}
		.ship_status {.left;.pr(100px);
			select {.w(150px);}
			}
		.shipStatus,.logistics {.left;.pr(30px);.l(25px);
			select {.w(150px);}
		}
		.logistics  {.pr(0);}
		.submit_time {.left;
			span {padding:0 10px;}
			}
		.ship_number, .waybill_number {border-top:1px dotted #bfbfbf;.pt(20px);.mt(20px);
			input {.left;}
			.button_search {.redBtn;border:0;.w(100px);padding:0;.ml(20px);.f(12px);}
			}
		.btn_download_details {.redBtn;.left;.ml(10px);.w(150px);padding:0;.c;}
		.order_number {.left;.pr(30px);
			input {.w(130px);}
			}
		}
		.ship_list {.w(738px);.c;padding:20px;
			.w_1 {.w(160px);}
			.w_2 {.w(118px);}
			.w_3 {.w(100px);}
			.w_4 {.w(130px);}
			.w_5 {.w(80px);}
			.w_6 {.w(150px);}
			.t_1 {.w(118px);}
			.t_2 {.w(100px);}
			.t_3 {.w(80px);}
			.t_4 {.w(130px);}
			.t_5 {.w(100px);}
			.t_6 {.w(220px);}
			thead {.border-1(@color:#e6e6e6);.h(48px);.l(48px);}
			tr {.border-1(@color:#e6e6e6);}
			td {.h(65px);}
			.noborder {border:0;
				td {.h(10px);}
			}
			.bgGray {background:#f7f6f6;}
			.bgWhite {background:#FFF;}
			.btn_view, .btn_download {.grayBtn;padding:0 10px;.left;margin:0 5px;.cursor;
				&:hover {.bgred;}
			}
			.btn_view {.ml(10px);}
		}
}
