<%#head.html%>

<div class="topbg"></div>
<div class="video_main">
	<div class="box">
		<video width="100%" poster='http://i.meilishuo.net/css/images/wap/activity/may_sale/feng.jpg' controls>
  			<source src="http://i.meilishuo.net/css/images/wap/activity/may_sale/video/video11.mp4" type="video/mp4">
	  	</video>
	</div>
</div>
<div class="video_share share_btn"></div>
<div class="wx_share"></div>
<script>
		
		var imgUrl = 'http://i.meilishuo.net/css/images/wap/activity/may_sale/share11.jpg';
		var lineLink = 'http://m.meilishuo.com/activity/sale/video11/?appUrl=share';
		var descContent = '11.11金装装X指南，带你装X带你飞，快看，飞起来了。';
		var shareTitle = '美丽说11.11金装装X指南';
		var shareTimelineText = '美丽说11.11金装装X指南';
	    var customAppId = 'wxd00a5f16e02bed58';
</script>

<script src="<%= this.JCSTATIC_BASE  %>/js/open/shareCollect.js?<%= this.SVERSION%>"></script>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/activity/video11');
_use:", this._JSstack , this._JSmods); %>
<%# foot_simple.html%>
