@import "bs_base.less";
.ellipsis-row(@var){ .hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:@var;-webkit-box-orient:vertical; }

/* circle block start*/
.circle_wrap{
	box-sizing: content-box;.f(1.1rem);.fc(#999);.c;.pl(13*@w);.pr(14*@w);.pt(30*@w);

	.end{ .left;.w(100%); }
}
.circle_item{
	.w(300/613*100%);.left;.mt(10*@w);.mb(60*@w);.fc(#999);
	&:hover{ .fc(#999); }

	.circle_icon{ .pt(100%);.pr;.w(100%);background-repeat: no-repeat;background-size: cover; }
	.circle_mask{ background: url('http://d06.res.meilishuo.net/img/_o/8a/87/ada72deab5aa8c2df58eca13fd93_300_300.cf.png') no-repeat;background-size: cover;.pa;top: 0;left: 0;.w(100%);.pt(100%); }
	.avatar{ .pa;bottom: 0rem;right: 1.5rem;.w(96/300*100%);.border-r(50%);box-sizing: content-box;border: 2px solid #fff; }
	.circle_name,
	.circle_addr,
	.circle_desc{ .w(260/300*100%);.auto; }
	.circle_name{ .f(1.5rem);.fc(#333);.mt(1.2rem);.ellipsis-row(1);.h(1.6rem);.l(1.8rem); }
	.circle_addr{
		.mt(30*@w);.f(1.3rem);

		span{ background: url('http://d02.res.meilishuo.net/img/_o/7c/c6/cd766c3fd2ad70499daa8f1c458a_17_23.cf.png') no-repeat top;background-size: 100%; .i_block;.w(.85rem);.pt(1.3rem);.mr(.2rem);.mb(-.2rem); }
	}
	.circle_desc{ text-align: left;.mt(30*@w);.ellipsis-row(2);.l(120%);.h(2.64rem); }
}
.circle_item.right{ .right; }
/* circle block end*/


// pullUp
.fallwall;
.pullUp{ clear: both; }

// goto top
.gotop;

