@import "bs_base.less";
.ellipsis-row(@var){ .hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:@var;-webkit-box-orient:vertical; }

/* pk start */
.pk_wrap{
	.fc(#666);.pr;
	p{ .pl(30*@w);.pb(26*@w);.pt(13*@w);.f(1.2rem); }
	a:hover{ .fc(#666); }
	.pk_img{
		.pt(240*@w);.block;

		img{ opacity: 0;-webkit-transition: opacity .2s ease-in;-webkit-transform: translateZ(0); }
	}
	.show_img{
		.pt(0);

		img{ opacity: 1; }
	}
	.end{ .c;.mb(-2rem); }
	.img_wrap{ .pr; }
	.title{
		.pa;bottom: 0;left: 0;.w(100%);.bgc(rgba(89,80,86,.7));.l(2.5rem);.fc(#fff);.pl(124*@w);box-sizing: border-box;.f(1.3rem);

		.avatar{ .border-r(50%);.w(60*@w);.hidden;.pa;bottom: .8rem;left: 54*@w; }
	}
	.pk_previous_title{
		.c;.l(3rem);.pr;

		i{ .border-2t(#dadada);.w(614*@w);.pa;top: 46%;left: 13*@w; }
		span{ .f(1.6rem);.fc(#80737b);.pr;z-index: 10;.i_block;padding: 0 2rem;.bgc(#fff);.l(3rem); }
	}
}
/* pk end */


// pullUp
.fallwall;
.pullUp{ clear: both; }


