@import "bs_base.less";

.main{
	.w(6.4rem);.pa();
	img{ .w(100%);.block; }
	.coupon{ 
		.w(100%);.h(1.03rem);background: url('http://d02.res.meilishuo.net/pic/_o/70/61/6286f1a155c22e38770244d39063_640_105.cf.jpg') no-repeat;background-size: 100%;
		img{ .w(1.76rem);.left;.ml(0.25rem); }
	}
	.join_vioce{ .w(100%);.h(0.57rem);background: url('http://d02.res.meilishuo.net/pic/_o/46/28/dbd0e7bd156a69fa4f4318956383_640_58.ch.jpg') no-repeat;background-size: 100%; }
	.join_cd{ .w(100%);.h(0.57rem);background: url('http://d03.res.meilishuo.net/pic/_o/5e/33/80e0fa4046dc3e3542f763b6be5f_640_58.cg.jpg') no-repeat;background-size: 100%; }
	.goods_list{
		.w(100%);.hidden;
		.goods{ 
			.w(2.89rem);.left;.ml(0.21rem);.mb(0.3rem);
			.goods_img{ .w(100%);.h(2.89rem); }
			.goods_name{ .f(0.22rem);.fc(#666);.mt(0.2rem); }
			.price{ 
				.f(0.22rem);.fc(#999);.mt(0.2rem);
				.now_price{ .fc(#ff7a9a);display: inline-block;.mr(0.1rem);font-weight:bold; }
				.original_price{ .f(0.18rem);.mr(0.18rem); }
				.discount{ .f(0.18rem); }
			}
			.line{ .w(100%);.h(2px);.bgc(#eee);.mt(0.2rem);.mb(0.04rem); }
			.people{ 
				.f(0.22rem);.fc(#999);
				span{ .fc(#ff7a9a); }
			} 
		}
	}
	.voice{ .mb(0.5rem); }
	.null{ .h(0.5rem); }
	.cd, .more{ .mb(0.5rem); }
	.popwin{ 
		.pa;top: 0;left: 0;.w(100%);.h(100%);background:rgba(136, 136, 136, 0.71);.none;
		img{ .pf;.w(55%);left: 1.52rem;top: 2rem; }
	}
}
