<%# frame/wap/head_simple.html%>
</head>
<body>

<div class="main">
	<div class="icon"></div>
	<div class="down_btn">
		<a href="<%= 'itms-services://?action=download-manifest&url=' + encodeURIComponent('https://mlstest.b0.upaiyun.com/meimiao_out.plist' + '?' + Math.random()); %>" class="iphone">花花 iPhone版</a>
		<a href="http://i.meilishuo.net/css/images/AndroidHuahua/Android1.0.0.1/MerchantClient_100201.apk?refer=" class="android">花花 Android版</a>
	</div>
</div>

<div class="mask">
	<div class="mask_ios"></div>
	<div class="mask_android"></div>
</div>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('m/page/im/download');
_use:", this._JSstack , this._JSmods ); %>

<%# frame/wap/foot_simple.html%>
