@import "../block.less";
.foot;
img{ .block; .w(100%); }
body{.bgwhite;}
html{.f(.625rem);}
.slide;
figure{.c; .ml(20*@px); .mr(20*@px); .f(1.2rem);
	.pic{.w(600*@w); .i_block; .mb(16*@px);}
}

.goods{ .bgc(#ededed); .pl(20*@px); .pr(20*@px); .pt(12*@px); .pb(12*@px); .mb(10*@px); .dgray; .f(20*@px); .clearfix;
	.tips{.mb(12*@px); .l(12px); .w(100%);}
	.image{ .left; .w(86*@px); .h(86*@px);}
	.middle{ .ml(24*@px); .l(12px); .w(390*@w); .dgray; .left;}
	.price {.f(24*@px); .mt(20*@px);}
	.red{.red;}
	.last{ .right; .f(2.8rem); .dgray; .mr(20*@px);}
}

.info{ .clearfix; .l(30px); .pt(10*@px); .h(60*@px); .pb(10*@px); border-bottom: 1px solid #ededed;}
.avatar{.left; .w(60*@px); .h(60*@px);}
.nickname{.left; .ml(14*@px); .red;}
.time{.right;}
.descrip{.tl; .l(15px); .pt(10*@px); .pb(10*@px);}

.more{ .f(20*@px); .pt(20*@w);.block; .c; .l(26*@px);}
.xiala_icon { .w(28*@px); .h(16*@px); .i_block;}
.facetableSetxy{ .w(12px); .h(12px); .i_block;}

.comment{ .mr(20*@px); .ml(20*@px);
	.info{ border-bottom: none;}
	figcaption{ border-bottom:1px solid #ededed;}
}