<%this.goods.tInfo && this.goods.tInfo.forEach(function(v){ %>
<%var goods_title = v.ginfo ? v.ginfo.goods_title : "";%>
<div class="poster_grid poster_wall" twitter_id="<%=v.twitter_id%>" twitter_author_uid="<%=v.twitter_author_uid%>" twitter_source_tid="<%= v.twitter_source_tid%>" twitter_show_type="<%=v.twitter_show_type%>" like_twitter_id="<%=v.like_twitter_id%>">
<%*为了海报之间间距大2px，增加的层%>
	<div class="new_poster">
		<div class="np_pic">
			<a href="/share/<%= v.like_twitter_id %>" target="_blank"><img class="goods_pic" width="<%=v.poster_width%>" height="<%=v.poster_height%>" src="<%= v.show_pic %>"  alt="<%= goods_title%>" /></a>

		</div>
		<div class="comm_box">
			<p class="l18_f posterContent"><%= goods_title %> <%= (function(){
		return	goods_title.charCodeAt(0) % 2 ? '怎么样' : '好不好';
	})()%></p>
			<p class="comm_num">
                <%if(v.count_forward ){%>
                    <span><b><%= v.count_forward %></b> 收进杂志</span>
                <%}%>
                <%if(v.count_like){%>
                    <span><b><%= v.count_like%></b> 喜欢</span>
                <%}%>
                <%if(v.count_reply){%>
                    <span><a href="/share/<%= v.like_twitter_id %>" target=_blank><b><%= v.count_reply%></b> 评论</a></span>
                <%}%>
            </p>	
		</div>
		<div class="np_share comment_panel">
		
		 <%  v.comments && v.comments.length && v.comments.splice(0,2).forEach( function( data){%>
        <div class="comm_share">
            <p ><a class="fb_f" href="/person/u/<%= data.author.user_id%>" target="_blank"><%= data.author.nickname%></a><span class="gray_f"><%= data.twitter_htmlcontent%></span><a class="comment_reply v_hidden" href="javascript:void(0)">回复</a></p>
            <div class="clear_f"></div>
        </div>
        <%});%>	
			
		</div>
	</div>
</div>
<%});%>

