<%#head.html%>
<div class="aboutus">
<% if(this.param == 'default') {%>
<div class="content">
    <h2>公司简介</h2>
    <a href="/welcome">
        <img src="<%=this.PICTURE_URL%>images/header/logo_n2.png" alt="美丽说" />
    </a>
    <p>
        美丽说是国内最大的女性快时尚电子商务平台，致力于为年轻时尚爱美的女性用户提供最流行的时尚购物体验，拥有超过1亿的女性注册用户，用户年龄集中在18岁到35岁。
    </p>
    <p>
        徐易容先生于2009年11月创立美丽说。美丽说在成立之初就开创了社会化电商导购模式，几年间快速吸引了上千万年轻时尚爱美的女性用户，成为中国年轻女性最青睐的时尚风向标。2013年11月，美丽说开始建立电子商务交易平台，精选上千家优质卖家供应商，为用户提供女装、女鞋、女包、配饰、美妆等品类的优质时尚商品，成功转型为女性时尚垂直品类电商。
    </p>
    <p>
        得益于在用户体验上的精雕细琢，截至2014年6月，美丽说目前已有上万家时尚优质商家入驻，其移动客户端装机量超过7500万，来自于移动端的订单占比超过70%，全面超越PC端。美丽说移动客户端的用户粘性也很高，移动客户端人均单日使用时间超过30分钟，是年轻时尚女孩子的高频使用场景之一。
    </p>
    <p>

        创立至今，美丽说已获得四轮风险投资，分别是来自纪源资本、红杉资本、蓝驰创投、腾讯和清科创投等知名机构和公司的投资。
    </p>
    <p>
        2014年3月，美丽说宣布签约天团EXO-M作为品牌代言人，这是美丽说的首个品牌代言人，也是EXO-M组合首次代言中国品牌。
    </p>

</div><!-- end 公司简介  -->
<% } else if (this.param == 'creator') {%>
<div class="content">
    <h2>创始人</h2>
    <img class="left_f mt5_f mr14_f" src="<%=this.PICTURE_URL%>images/about/XuYirong.jpg" alt="徐易容,CEO" />
    <div class="intro_CEO">
        <h3 class="f16_f mt5_f">徐易容 创始人和CEO</h3>
        <p>
            徐易容，美丽说创始人和CEO，1997年毕业于北京大学计算机系，2000年获得美国斯坦福大学计算机硕士学位，同年加入世界著名的IBM阿莫顿研究中心，在硅谷从事数据挖掘研究，2003年回国加入IBM中国软件开发中心（CDL）。徐易容在互联网、数据挖掘、数据管理领域创造了多项新技术，共同发明了5项专利。
        </p>
        <p>
            徐易容于2009年11月创立美丽说，目前是国内最大的女性快时尚电子商务平台，致力于中国女性长期高速增长的美丽需求。在此之前，徐易容曾创立RSS在线阅读订阅站点抓虾网，是业界最著名的web2.0网站之一。
        </p>
    </div>
</div><!-- end 创始人  -->
<% } else if (this.param == 'relations') { %>
<div class="content">
    <h2>投资者关系</h2>
    <h3 class="f16_f mt14_f mb14_f">纪源资本（Granite Global Ventures，简称 GGV）</h3>
    <img src="<%=this.PICTURE_URL%>images/about/GGV.jpg" alt="纪源资本" />
    <p>
        2011年10月，美丽说完成第三轮2000万美元融资，纪源资本副总裁胡磊将进入美丽说董事会。
    </p>
    <p>
        寰慧资本，创建于2000年，由Scott Bonham，Joel Kellman，Hany Nada及Thomas Ng共同创立。到目前为止，旗下管理10亿美元扩展阶段风险资金，成功退出的市场价值达330亿美元。2008年3月成功合并思格资本（SIG）及其旗下人民币基金科星（Venture Star），更名纪源资本（GGV Capital）。
    </p>
    <h3 class="f16_f mt14_f mb14_f">清科创投（Zero2IPO Venture）</h3>
    <img src="<%=this.PICTURE_URL%>images/about/Zero2IPO.jpg" alt="清科创投" />
    <p>
        2011年10月，美丽说获清科创投联合投资。
    </p>
    <p>
        清科创投由清科集团募集成立于2006年，专注于投资具有高增长潜质中国企业的创业投资基金。借助清科集团在国内强大的网络资源，清科创投主要采取联合投资的方式和国内外著名创投机构投资于中后期企业，同时，以领投或联合领投的方式投资于早期的创业企业。
    </p>
    <h3 class="f16_f mt14_f mb14_f">红杉资本（Sequoia Capital）</h3>
    <img src="<%=this.PICTURE_URL%>images/about/SequoiaCapital.jpg" alt="红杉资本" />
    <p>
        2011年5月，美丽说获红杉资本第二轮800万美元融资。
    </p>
    <p>
        红杉资本创始于1972年，创始人唐•瓦伦丁（DonValentine）共有18支基金，超过40亿美元总资本，总共投资超过500家公司，200多家成功上市，100多个通过兼并收购成功退出的案例。
    </p>
    <h3 class="f16_f mt14_f mb14_f">蓝驰创投 （BlueRun Ventures）</h3>
    <img src="<%=this.PICTURE_URL%>images/about/BlueRun.jpg" alt="蓝驰创投" />
    <p>
        2010年12月，美丽说获得蓝驰创投第一轮200万美元融资。
    </p>
    <p>
        蓝驰创投成立于1998年，是一家专注早期阶段企业的环球风险投资公司。蓝驰创投现管理超过10亿美元总资本，重点关注互联网服务/IT、移动通讯、半导体、节能与环保领域。作为一个环球基金， 蓝驰在北京、上海、美国硅谷、首尔、孟买和赫尔辛基都设有分支机构。基金成立10多年来，和创业者紧密合作，通过丰富的市场经验和全球资源帮助他们尽快实现创业梦想。
    </p>
</div><!-- end 投资关系 -->
<% } else if (this.param == 'product') { %>
<div class="content">
    <h2>产品功能</h2>
    <h3 class="f16_f mt14_f mb14_f">网页服务</h3>
    <p>
        <a href="/magazine" target="_blank"><b>翻杂志</b></a> 根据喜好关注不同风格，建立自己的时尚圈<br />
        <a href="/guang" target="_blank"><b>逛宝贝</b></a> 24小时不间断，热榜单品随时逛<br />
        <a href="/guang/report/" target="_blank"><b>搭&nbsp;&nbsp;&nbsp;配</b></a> 记录漂亮每一天，学习讨论服装搭配<br />
        <a href="/findfs/main/recommend" target="_blank"><b>达&nbsp;&nbsp;&nbsp;人</b></a> 美丽代言人的聚集地，与美丽零距离<br />
        <a href="/welfare" target="_blank"><b>福利社</b></a> 试用试穿，每周两次，为爱美的你提供特殊福利<br />
        <a href="/shop" target="_blank"><b>好&nbsp;&nbsp;&nbsp;店</b></a> 买家推荐的精品好店
    </p>
    <div class="mobile_client">
        <h3 class="f16_f mt30_f">移动客户端</h3>
        <div class="app">
            <img src="<%=this.PICTURE_URL%>images/about/app_1.gif" alt="美丽说" />
            <div>
                <b>美丽说</b> <br />
                时尚女生逛淘宝必备<br />
                下载
                <a href="http://itunes.apple.com/cn/app/meilishuo/id431023606" target="_blank">iPhone</a><span>|</span>
                <a href="http://www.meilishuo.com/client/android" target="_blank">Android</a><span>|</span>
                <a href="http://itunes.apple.com/cn/app//id492006720?mt=8" target="_blank">iPad</a>
            </div>
        </div>
        <div class="app">
            <img src="<%=this.PICTURE_URL%>images/about/app_jinqiu.gif" alt="金秋搭配手册" />
            <div>
                <b>金秋搭配手册</b><br />
                最专业的时尚搭配手册<br />
                下载
                <a href="http://itunes.apple.com/cn/app/ku-xia-da-pei-shou-ce/id515267237?frm=meilishuowap" target="_blank">iPhone</a>
            </div>
        </div>
        <div class="app">
            <img src="<%=this.PICTURE_URL%>images/about/app_10.gif" alt="昕薇美丽说" />
            <div>
                <b>昕薇美丽说</b><br />
                昕薇美丽说联手打造的时尚杂志<br />
                下载
                <a href="http://itunes.apple.com/cn/app/xin-wei-mei-li-shuo/id543179457" target="_blank">iPhone</a>
            </div>
        </div>
        <div class="app">
            <img src="<%=this.PICTURE_URL%>images/about/app_3.gif" alt="欧美风淘宝精选" />
            <div>
                <b>欧美风淘宝精选</b><br />
                发现最IN欧美单品<br />
                下载
                <a href="http://itunes.apple.com/cn/app/ou-mei-feng-tao-bao-jing-xuan/id482575638" target="_blank">iPhone</a>
            </div>
        </div>
        <div class="app">
            <img src="<%=this.PICTURE_URL%>images/about/app_4.gif" alt="美丽说" />
            <div>
                <b>昕薇瑞丽风</b><br />
                昕薇瑞丽同步单品推荐<br />
                下载
                <a href="http://itunes.apple.com/cn/app/xin-wei-rui-li-feng-tao-bao/id483558349" target="_blank">iPhone</a><span>|</span>
                <a href="http://imgtest.meiliworks.com/css/images/AndroidShare/Meilishuo-xwrl.apk">Android</a>
            </div>
        </div>
        <div class="app">
            <img src="<%=this.PICTURE_URL%>images/about/app_6.gif" alt="HelloKitty萌物志" />
            <div>
                <b>HelloKitty萌物志</b><br />
                HelloKitty萌物集合<br />
                下载
                <a href="http://itunes.apple.com/cn/app/hello-kitty-meng-wu-zhi/id490638918" target="_blank">iPhone</a><span>|</span>
                <a href="http://imgtest.meiliworks.com/css/images/AndroidShare/Meilishuo-hellokitty.apk">Android</a>
            </div>
        </div>
        <div class="app">
            <img src="<%=this.PICTURE_URL%>images/about/app_5.gif" alt="轻松熊1001" />
            <div>
                <b>轻松熊1001</b><br />
                轻松熊fans萌物推荐<br />
                下载
                <a href="http://itunes.apple.com/cn/app/qing-song-xiong-meng-wu1001/id488720486" target="_blank">iPhone</a><span>|</span>
                <a href="http://imgtest.meiliworks.com/css/images/AndroidShare/Meilishuo-qingsongxiong.apk">Android</a>
            </div>
        </div>
        <div class="app">
            <img src="<%=this.PICTURE_URL%>images/about/app_7.gif" alt="机器猫百宝袋" />
            <div>
                <b>机器猫百宝袋</b><br />
                机器猫fans百宝推荐<br />
                下载
                <a href="http://itunes.apple.com/cn/app/ji-qi-mao-bai-bao-dai/id491610477" target="_blank">iPhone</a><span>|</span>
                <a href="http://imgtest.meiliworks.com/css/images/AndroidShare/Meilishuo-duolaeimeng.apk">Android</a>
            </div>
        </div>
        <!--
        <div class="app">
            <img src="<%=this.PICTURE_URL%>images/about/app_8.gif" alt="小丸子萌物吧" />
            <div>
                <b>小丸子萌物吧</b><br />
                海量超萌小丸子推荐集合<br />
                下载
                <a href="http://itunes.apple.com/cn/app/xiao-wan-zi-meng-wu-ba/id493210427" target="_blank">iPhone</a><span>|</span>
                <a href="http://imgtest.meiliworks.com/css/images/AndroidShare/Meilishuo-xiaowanzi.apk">Android</a>
            </div>
        </div>
        -->
        <div class="app">
            <img src="<%=this.PICTURE_URL%>images/about/app_9.gif" alt="圣诞礼物精选" />
            <div>
                <b>圣诞礼物精选</b><br />
                资深买家推荐圣诞礼物<br />
                下载
                <a href="http://itunes.apple.com/cn/app/sheng-dan-li-wu-jing-xuan/id485257145?mt=8" target="_blank">iPhone</a>
            </div>
        </div>
    </div>
</div><!-- end 产品功能 -->
<% } else if (this.param == 'media') { %>
<div class="content">
    <h2>媒体报道</h2>
    <ul class="media">
        <% var m = this.media.info; %>
        <% for(var i in m){ %>
        <li<% if(i%5 == 0){ %> class="mt10_f"<% } %> mId="<%= m[i].id %>"><span><%= m[i].time %></span><a href="<%= m[i].linkurl %>" target="_blank"><%= m[i].title %></a>&nbsp;-&nbsp;<label class="gray_f"><%= m[i].news_source %></label></li>
        <% } %>
    </ul>
    <div class="paging_panel c_f">
        <%# paging.html %>
    </div>
</div><!-- end 媒体报道 -->
<% } else if (this.param == 'brands') { %>
<div class="content">
    <h2>效果广告投放</h2>
    <p>
        详情请点击: <a href="http://pro.meilishuo.com/">美丽说营销中心</a><br />
        工作时间周一至周五09:30-20:00(法定节假日除外)<br />
        郑重声明美丽说没有任何所谓官方代理<br />
        <a href="/aboutus/CPC" target="_blank">易点通介绍</a><span class="ml40_f"><a href="/aboutus/PFP" target="_blank">竞点通介绍</a><span class="ml40_f"><a href="/aboutus/CPS" target="_blank">盟点通介绍</a></span><span class="ml40_f"><a href="/aboutus/CPT" target="_blank">美丽钻展介绍</a></span><span class="ml40_f"></span>
    </p>
    <h1 class="f16_f mt20_f">合作案例</h1>
    <h3 class="f14_f mt14_f">品牌客户</h3>
    <div class="brand_group">
        <img src="<%=this.PICTURE_URL%>images/about/P&G.jpg" alt="R&G" />
        <img src="<%=this.PICTURE_URL%>images/about/lancome.jpg" alt="" />
        <img src="<%=this.PICTURE_URL%>images/about/clinique1.jpg" alt="" />
        <img src="<%=this.PICTURE_URL%>images/about/esteelauder.jpg" alt="" />
        <img src="<%=this.PICTURE_URL%>images/about/avene.jpg" alt="" />
        <img src="<%=this.PICTURE_URL%>images/about/fhifeido.jpg" alt="" />
        <img src="<%=this.PICTURE_URL%>images/about/lining.jpg" alt="LiNing" />
        <img src="<%=this.PICTURE_URL%>images/about/lenovo.jpg" alt="lenovo" />
        <img src="<%=this.PICTURE_URL%>images/about/aimer.jpg" alt="aimer,爱慕" />
        <img src="<%=this.PICTURE_URL%>images/about/kela.jpg" alt="" />
    </div>
    <h3 class="f14_f mt14_f">B2C客户</h3>
    <div class="brand_group">
        <img src="<%=this.PICTURE_URL%>images/about/vancl.jpg" alt="凡客,vancl" />
        <img src="<%=this.PICTURE_URL%>images/about/okbuy.jpg" alt="好乐买" />
        <img src="<%=this.PICTURE_URL%>images/about/360buy.jpg" alt="京东商城" />
        <img src="<%=this.PICTURE_URL%>images/about/jumei.jpg" alt="聚美优品" />
        <img src="<%=this.PICTURE_URL%>images/about/mbaobao.jpg" alt="麦包包" />
        <img src="<%=this.PICTURE_URL%>images/about/moonbasa.jpg" alt="梦芭莎" />
        <img src="<%=this.PICTURE_URL%>images/about/lafaso.jpg" alt="乐蜂网" />
        <img src="<%=this.PICTURE_URL%>images/about/letao.jpg" alt="乐淘" />
    </div>
    <h3 class="f14_f mt14_f">淘品牌</h3>
    <div class="brand_group">
        <img src="<%=this.PICTURE_URL%>images/about/luna.jpg" alt="" />
        <img src="<%=this.PICTURE_URL%>images/about/aiken.jpg" alt="爱肯" />
        <img src="<%=this.PICTURE_URL%>images/about/sweetcity.jpg" alt="都市甜心" />
        <img src="<%=this.PICTURE_URL%>images/about/hstyle.jpg" alt="韩都衣舍" />
        <img src="<%=this.PICTURE_URL%>images/about/ciao.jpg" alt="" />
        <img src="<%=this.PICTURE_URL%>images/about/smallyes.jpg" alt="" />
        <img src="<%=this.PICTURE_URL%>images/about/mumuhome.jpg" alt="" />
        <img src="<%=this.PICTURE_URL%>images/about/7GEGE.jpg" alt="" />
    </div>
</div><!-- end 合作案例-->
<% } else if (this.param == 'CPC') { %>
<div class="content">
    <h2>美丽说易点通</h2>
    <h3 class="f16_f mt30_f mb10_f">一．什么是易点通</h3>
    <p>
        基于美丽说流量精准、高转化率的时尚女性垂直购物网站，易点通按有效点击付费，最大限度提高参与推广的宝贝曝光量和客流量，强化买家推荐的商品，带来量级利润。
    </p>
    <h3 class="f16_f mt30_f mb10_f">二．优势易点通 － 全站推广服务</h3>
    <p>
        按效果付费展示，海量展现，覆盖全站优质流量，性价比高，固定点击单价，打造产品量级利润
    </p>
    <div class="cpc_adv">
        <div class="adv1"></div>
        展示在榜单所有页面靠前位置，<br />
        包括<span class="red_f">今日最热，类目，属性，搜索</span>等页面，<br />
        最大限度提高宝贝<span class="red_f">曝光量</span>和<span class="red_f">客流量</span>
    </div>
    <div class="cpc_adv">
        <div class="adv2"></div>
        只有点击进入宝贝详情页才收费，<br />
        <span class="red_f">恶意点击系统会自动过滤</span><br />
    </div>
    <div class="cpc_adv">
        <div class="adv3"></div>
        点击成本低，单次点击仅<span class="red_f">0.3元</span>（目<br>
        前好店推广五折优惠，即0.15元）
    </div>
    <div class="cpc_adv">
        <div class="adv4"></div>
        时尚女性垂直购物网站，用户购买力<br />
        和购买欲望强
    </div>
    <div class="cpc_adv">
        <div class="adv5"></div>
        <span class="red_f">实时监控</span>您的成本及效果，可查询历<br />
        史消费数据
    </div>
    <div class="cpc_adv">
        <div class="adv6"></div>
        <span class="red_f">专属后台</span>，方便管理推广宝贝，可设<br />
        置每日最高消费限额，推广设备及推广时段
    </div>
    <div class="clear_f"></div>
    <h3 class="f16_f mt30_f mb10_f">三．展示位置</h3>
    <p>
        参与推广的宝贝会出现在<br>
        今日最热整页瀑布流区域内<br>
        类目页各类目页（衣服—上衣/裤子/裙子/内衣，鞋子，包包，配饰）左侧瀑布流区域内<br>
        属性页左侧瀑布流区域内<br>
        搜索页左侧瀑布流区域内<br>
        APP端”逛流行” , ”找宝贝”页面瀑布流区域内
    </p>
    <h3 class="f16_f mt30_f mb10_f">四．排名机制</h3>
    <p>
        动态变化，通过系统规则动态排序
    </p>

    <h3 class="f16_f mt30_f mb10_f">五．计费规则</h3>
    <p>免费展示，按有效点击计费点击一次0.3元（现好店推广五折优惠，即0.15元），恶意点击系统会进行过滤</p>

    <h3 class="mt30_f mb10_f f16_f">六．后台管理</h3>
    <p>
        专属后台强大的数据功能，罗列宝贝消费、展示数、点击数、点击率、计费点击等数据的汇总和每日情况，及历史数据的完整查询及对比查询。
    </p>

    <h3 class="f16_f mt30_f mb10_f">七．投放流程</h3>
    <div class="process"></div>
    <h3 class="f16_f mt30_f mb10_f">八．联系方式</h3>
    <p class="contact">
        了解更多详细信息，请致电<span class="red_f">4000-800-588</span><br>
        如果您已经是美丽说好店商家，<span class="red_f"><a href="//pro.meilishuo.com" target="_blank">请登录后台</a></span><br>
        相关咨询您可以<span class="red_f"><a href="http://b.qq.com/webc.htm?new=0&sid=800067444&eid=2188z8p8p8p8x8y8Q8Q8Q&o=&q=7&from=qqwpa" target="_blank">免费咨询</a></span><br>
        企业QQ800067444<br>
        客服邮箱service@meilishuo.com
    </p>
</div>
<% } else if (this.param == 'PFP') { %>
<div class="content">
    <h2>美丽说竞点通</h2>
    <h3 class="f16_f mt30_f mb10_f">一．什么是竞点通</h3>
    <p>
        基于美丽说流量精准、高转化率的时尚女性垂直购物网站，竞点通是以效果付费展示为主的推广形式，其优势是参与推广宝贝带有银冠标识，展现位置好，可通过竞价提高排名，使商家投放更自主灵活，成本更可控
    </p>
    <h3 class="f16_f mt30_f mb10_f">二．优势竞点通 －优先排名服务</h3>
    <p>
        按效果付费展示，实时生效参与竞价展现，投放可控，自助灵活，银冠标识，展现位置好<br>
        大流量精准匹配高流量入口独享，类目、属性、搜索精准匹配<br>
        成本可控掌控投放计划，随时调整，实时生效<br>
        转化率高独特银冠标识，展现位置更好，更易促成转化
    </p>

    <div class="clear_f"></div>
    <h3 class="f16_f mt30_f mb10_f">三．展示位置</h3>
    <p>
        参与推广的宝贝会出现在<br>
        一级类目页第一页右侧4-10位，第二页之后右侧1-10位<br>
        二级类目页每页右侧1-10位<br>
        属性页每页右侧1-10位<br>
        搜索页每页右侧1-10位
    </p>

    <h3 class="f16_f mt30_f mb10_f">四．排名机制</h3>
    <p>动态变化，价格因素占据一定权重</p>

    <h3 class="f16_f mt30_f mb10_f">五．计费规则</h3>
    <p>
        免费展示，按有效点击计费点击价格可竞价，恶意点击系统会进行过滤。起价为0.3元，现阶段起价折扣为五折（针对好店内宝贝推广），即起价0.15元，商家可针对宝贝和关键词分别进行出价
    </p>

    <h3 class="f16_f mt30_f mb10_f">六．后台管理</h3>
    <p>
        专属后台强大的数据功能，罗列宝贝消费、展示数、点击数、点击率、计费点击等数据的汇总和每日情况，及历史数据的完整查询及对比查询。
    </p>

    <h3 class="f16_f mt30_f mb10_f">七．投放流程</h3>
    <div class="process"></div>

    <h3 class="f16_f mt30_f mb10_f">八．联系方式</h3>
    <p class="contact">
        了解更多详细信息，请致电<span class="red_f">4000-800-588</span><br>
        如果您已经是美丽说好店商家，<span class="red_f"><a href="//pro.meilishuo.com" target="_blank">请登录后台</a></span><br>
        相关咨询您可以<span class="red_f"><a href="http://b.qq.com/webc.htm?new=0&sid=800067444&eid=2188z8p8p8p8x8y8Q8Q8Q&o=&q=7&from=qqwpa" target="_blank">免费咨询</a></span><br>
        企业QQ800067444<br>
        客服邮箱service@meilishuo.com
    </p>
</div>
<% } else if (this.param == 'CPS') { %>
<div class="content">
    <h2>美丽说盟点通</h2>
    <h3 class="f16_f mt30_f">一．什么是盟点通</h3>
    <p>
        基于美丽说流量精准、高转化率的时尚女性垂直购物网站，盟点通是按实际成交支付佣金分成。海量优质流量推广，风险低效果好。操作容易，更“容易”达成“交易”。
    </p>

    <h4 class="f14_f mt14_f">盟点通的优势</h4>
    <p>
        盟点通 － 海量资源服务<br>
        按实际成交支付佣金分成，海量优质流量推广，风险低效果好。
    </p>
    <ul class="list-show">
        <li>
            <i class="icon-1"></i>按成交付费推广费用直接对应商品成交情况，性价比更高
        </li>
        <li>
            <i class="icon-2"></i>推广资源丰富广告投放渠道丰富，与用户精准匹配
        </li>
        <li>
            <i class="icon-3"></i>佣金设置灵活操作简单，针对性强，满足店铺个性化推广需求
        </li>
    </ul>

    <h3 class="f16_f mt30_f">二．展示位置</h3>
    <p>
        展示位置会出现在丰富的联盟推广渠道，包含SNS，网址站，浏览器，客户端，APP，搜索，橱窗等
    </p>
    <div class="show-pos">
    </div>

    <h3 class="f16_f mt30_f">三．计费规则</h3>
    <p>
        按有效成交支付费用（CPS）<br>
        只有交易成功并在售后期内未发生任何退款、退换货行为的有效成交，按买家实际支付金额收取对应比例的佣金<br>
        <br>
        佣金比例设置<br>
        佣金比例可自行设置0%~100%，高佣金比例更容易得到推广者青睐<br>
        佣金比例可随时调整，首次设置和修改佣金比例将在次日0点生效，多次修改以当日最后一次修改为准
    </p>

    <h3 class="f16_f mt30_f">四．推广流程</h3>
    <div class="cps-process"></div>

    <h3 class="f16_f mt30_f">五．联系方式</h3>
    <p>
        详情请点击: <a href="http://pro.meilishuo.com/">美丽说营销中心</a>
    </p>

    <h3 class="f16_f mt30_f">四．汇款账号</h3>
    <p>
        支付宝名称美丽说（北京）网络科技有限公司<br>
        支付宝账号meilishuozx@126.com<br>
        <br>
        开户行名称平安银行北京花园路支行<br>
        公司名称美丽说（北京）网络科技有限公司<br>
        公司账号11011870516901<br>
        <br>
        开户行名称招商银行北京分行海淀支行<br>
        公司名称美丽说（北京）网络科技有限公司<br>
        公司账号110907711210301
    </p>
</div>
<% } else if (this.param == 'CPT') { %>
<div class="content cpt">
    <h2>美丽钻展</h2>
    <h3 class="f16_f mt30_f">一．什么是美丽钻展</h3>
    <p>
        基于美丽说流量精准、高转化率的时尚女性垂直购物网站。美丽钻展是以包时段竞拍的推广形式，其产品优势是固定位置，品牌体现，多图轮播，配以皇冠+商家认证标识，目的是打造产品爆款，扩大商家店铺知名度
    </p>

    <h3 class="f16_f mt30_f">二．优势美丽钻展 - 置顶排名服务</h3>
    <p>
        包时购买，定向选择资源，品牌力体现，提高店铺知名度
    </p>
    <ul class="cpt-goodness">
        <li>
            <i class="ico ico-trend"></i>
            <i class="split"></i>
            <div class="intro">
                <h4>高流量精准展现</h4>
                <span>汇集全站优质资源，高曝光入口独享，首页、今日最热、类目页匹配展现</span>
            </div>
        </li>
        <li class="middle">
            <i class="ico ico-time"></i>
            <i class="split"></i>
            <div class="intro">
                <h4>位置稀缺，省时省力</h4>
                <span>包时段固定位置多图展示，自主操作，省时省力</span>
            </div>
        </li>
        <li class="last">
            <i class="ico ico-fans"></i>
            <i class="split"></i>
            <div class="intro">
                <h4>品牌体现，加粉丝</h4>
                <span>独有标识，权威体现<i class="ico ico-crown"></i>+<i class="ico ico-shop"></i> ，<i class="ico ico-btn"></i>打造品牌优势</span>
            </div>
        </li>
    </ul>

    <h3 class="f16_f mt30_f">三．展示位置</h3>
    <ul class="f14_f pos">
        <li>
            <h5>Banner</h5>
            <p>首页，今日最热，类目页中通前两帧</p>
        </li>
        <li>
            <h5>橱窗</h5>
            <p>今日最热右侧1-3位</p>
            <p>一级类目页（衣服，鞋子，包包，配饰）右侧1-3位</p>
            <p>二级类目页（上衣，裙子，裤子，内衣）右侧1-3位</p>
        </li>
    </ul>

    <h3 class="f16_f mt30_f">四．计费规则</h3>
    <p>
        包时段竞拍展示。根据竞拍时间内出价高低决定，若两者价格相同，会根据出价的先后时间来决定竞拍成功的归属，竞拍价格以最终中标价格为准
    </p>

    <h3 class="f16_f mt30_f">五．竞拍流程</h3>
    <div class="cpt-process"></div>

</div>
<% } else if (this.param == 'contactus') { %>
<div class="content">
    <h2>联系我们</h2>
    <p>公司全称：美丽说(北京)网络科技有限公司</p>
    <h3 class="f16_f mt14_f">联系客服</h3>
    <p>
        消费者热线：4000-800-577（周一至周日 09:00-22:00）<br />
        消费者服务邮箱：kf@meilishuo.com<br />
        商家热线：4000-800-588<br />
        商家服务邮箱：service@meilishuo.com<br />
        商家服务市场邮箱：xiaoluo@meilishuo.com
    </p>
    <h3 class="f16_f mt14_f">商家入驻</h3>
    <p>
        全国：4000800588<br />
        华东：0571-22952788<br />
        华南：4000800588
    </p>
    <h3 class="f16_f mt14_f">营销合作</h3>
    <p>
        联系电话：4000800588-8<br />
        企业：<span style="margin-right:3px">QQ</span>800067444 仅供入驻好店商家联系<br />
        详情介绍：<a href="http://pro.meilishuo.com/">美丽说营销中心</a><br />
        郑重声明：美丽说没有任何所谓官方代理
    </p>
    <h3 class="f16_f mt14_f">媒体联系</h3>
    <p>
        Email：pr@meilishuo.com
    </p>
</div><!-- end 联系我们-->
<% } else if (this.param == 'privacy') { %>
<div class="content">
    <h2>隐私保护原则</h2>
    <p>
        我们非常重视您的隐私，保护用户隐私是美丽说的重点原则，在您使用美丽说提供的服务前，请您仔细阅读以下隐私保护原则。
    </p>
    <h3 class="f16_f mt20_f">一、用户信息</h3>
    <p>
        美丽说将对您所提供的资料进行严格的管理及保护，美丽说通过技术手段、提供隐私保护服务功能、强化内部管理等办法充分保护用户的个人资料安全。美丽说为用户提供对个人注册信息的绝对的控制权，用户可以通过“修改个人信息”查看或修改个人信息。用户自愿注册个人信息，用户在注册时提供的所有信息，都是基于自愿，用户有权在任何时候拒绝提供这些信息。美丽说保证不对外公开或向第三方提供用户注册的个人资料，及用户在使用服务时存储的非公开内容，但下列情况除外<br />
        ◇ 事先获得您的明确授权； <br />
        ◇ 根据有关的法律法规要求；<br />
        ◇ 按照相关司法机构或政府主管部门的要求；<br />
        ◇ 只有透露你的个人资料，才能提供你所要求的产品和服务；<br />
        ◇ 因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用；<br />
        ◇ 由于您将用户密码告知他人或与他人共享注册帐户，由此导致的任何个人资料泄露。
    </p>
    <h3 class="f16_f mt20_f">二、Cookies和其他浏览器技术</h3>
    <p>
        当用户访问美丽说的时候，我们可能会保存会员的用户登录状态并且为用户分配一个或多个“Cookies”（一个很小的文本文件），例如当会员访问一个需要会员登录才可以提供的信息或服务，当会员登录时，我们会把该会员的登录名和密码加密存储在该会员计算机的Cookie文件中，由于是不可逆转的加密存储，其他人即使可以使用该会员的计算机，也无法识别出会员的用户名和密码。会员并不需要额外做任何工作，所有的收集和保存都由系统自动完成。
    </p>
    <p>
        Cookie文件将永久的保存在您的计算机硬盘上，除非您使用浏览器或操作系统软件手工将其删除。您也可以选择“不使用Cookie”或“在使用Cookie时事先通知我”的选项禁止Cookie的产生，但是您将为此无法使用一些美丽说的查询和服务。
    </p>
    <h3 class="f16_f mt20_f">三、合作伙伴</h3>
    <p>
        我们选择有信誉的第三方公司或网站作为我们的合作伙伴为用户提供信息和服务。尽管我们只选择有信誉的公司或网站作为我们的合作伙伴，但是每个合作伙伴都会有与美丽说不同的隐私保护政策，一旦您通过点击进入了合作伙伴的网站，美丽说隐私保护原则将不再生效，我们建议您查看该合作伙伴网站的隐私条款，并了解该合作伙伴对于收集、使用、泄露您的个人信息的规定。
    </p>
    <p>
        本隐私保护原则自2010年02月21日起生效。隐私保护原则的修改权、更新权均属美丽说。<br />
        如果您对此隐私保护原则有任何疑问或建议，请通过以下方式联系我们: kf@meilishuo.com，我们会尽一切努力保护您的隐私。
    </p>
</div><!-- end 隐私保护-->
<% } else if (this.param == 'direct') { %>
<div class="content">
    <h2>社区指导原则</h2>
    <p>
        美丽说是一个相互交流女性时尚，分享美丽事物，交流美丽心得的网站，在您分享美丽图片和内容的同时，请您务必要遵守美丽说社区指导原则，请不要发布涉及他人隐私、淫秽色情、暴力、血腥等违反国家法律法规和地方政策规定的内容和图片，以及可能对美丽说网站正常营运带来潜在威胁的内容。
    </p>
    <h3 class="f16_f mt20_f">美丽说喜欢</h3>
    <p>
        1、分享美丽的事物和交流美丽心得；<br />
        2、友好宽容地对待不同的看法和意见；<br />
        3、尊重自己和他人的隐私及个人空间。
    </p>
    <h3 class="f16_f mt20_f">美丽说不喜欢:</h3>
    <p>
        1、违反中国法律及法规的行为和内容以及相关的政策法规等；<br />
        2、色情、暴力、反动、涉政等方面的话题；<br />
        3、针对国家、种族、宗教、性别、年龄、地缘等有歧视和仇恨的语言；<br />
        4、不雅言词、人身攻击、恶意捣乱和骚扰用户；<br />
        5、发布大量广告信息内容；<br />
        6、内容与美丽说网站无关的信息，影响网站整体美观和统一性；<br />
        7、以获利为主要目的分享行为；<br />
        8、对网站的正常运营有潜在安全威胁的内容。
    </p>
    <p>本规则仅适用于美丽说网站，美丽说工作人员将有权利处理、删除违反美丽说社区指导原则的内容及账号；发布信息若含有违反相关法律法规或地方政策规定的内容，账号将会被删除。</p>
    <p>相关建议、意见及申诉等，请发送邮件到check@meilishuo.com，谢谢！</p>
</div><!-- end 社区指导 -->
<% } else if (this.param == 'joinus') {%>
<div class="content">
<div class="xiao">
    <h2>校园招聘</h2>
    <img src="http://i.meilishuo.net/css/images/about/xiao_1.png"/>
    <a href="http://campus.meilishuo.com/" class="f14_f mt14_f mb14_f">查看校园招聘详情</a>
</div>
<div class="header">
    <h2>社会招聘</h2>
</div>
<% var data = this.joinus.data; %>
<% if(data.length == 0){ %>
    <div class="empty">还没有在招职位哦 ...</div>
<% }else{ %>
    <div class="nav">
        <div class="nav_head">职位类别 :</div>
        <div class="nav_content">
            <ul class="nav_list">
                <% data.forEach(function(v){ %>
                    <li data-type="<%= v.type_id %>"><a href="?sl=h3&page=0&type=<%= v.type_id %>"><%= v.name_cn; %></a></li>
                <% }); %>
            </ul>
        </div>
    </div>
    <div class="job_lists">
        <div class="job_header">
            <ul>
                <li class="job_name">职位名称</li>
                <li class="job_type">职位类别</li>
                <li class="job_place">工作地点</li>
                <li class="job_num">招聘人数</li>
                <li class="job_updaTime">更新时间</li>
                <li class="job_tu"></li>
            </ul>
        </div>
        <div class="job_content">
            <% data.forEach(function(v){ %>
                <% if(v.job_list && v.job_list.length !=0){ %>
                    <% v.job_list.forEach(function(l){ %>
                        <ul class="list_ul <%= l.type_id %>" data-jobId="<%= l.job_id %>">
                            <li class="job_name"><%= l.title %></li>
                            <li class="job_type"><%= v.name_cn %></li>
                            <li class="job_place"><%= l.location %></li>
                            <% if(l.recruit_number == "0"){ %>
                                <li class="job_num">若干</li>
                            <% }else{ %>
                                <li class="job_num"><%= l.recruit_number %></li>
                            <% } %>
                            <li class="job_updaTime"><%= l.create_time%></li>
                            <li class="job_tu"><img src="http://i.meilishuo.net/css/images/about/job_down.png"></li>
                        </ul>
                        <div class="job_desc" id="<%= l.job_id %>">
                            <%= l.description %>
                            <!-- <div class="email_header">申请职位请发送简历至:</div> -->
                            <div class="email_share">
                                <!-- <div class="email">zhaopin@meilishuo.com</div> -->
                                <div class="share">
                                    <span>分享到: </span>
                                    <ul>
                                        <li class="sina"><a href="javascript:void(0)" target="_blank"></a></li>
                                        <li class="qzone"><a href="javascript:void(0)" target="_blank"></a></li>
                                        <li class="qqweibo"><a href="javascript:void(0)" target="_blank"></a></li>
                                    </ul>
                                </div>
                                <div class="apply">
                                    <a href="<%= l.apply_url %>">职位申请</a>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% }else{ %>
                <% } %>
            <% }); %>
        </div>
    </div>
<% } %>
<%#paging.html%>
</div><!-- end 加入美丽说-->
<% } else if (this.param == 'salary') {%>
<div class="content">
    <h2>薪酬福利</h2>
    <p>为了吸引、激励、保留优秀的人才，保证员工和公司共同成长，公司兼顾市场发展趋势、行业动态以及内部公平性为每位员工提供全面的、富有竞争力的薪资福利待遇。</p>
    <p>
    <table>
        <tr>
            <th valign="top" align="left" width="60">基本工资</th>
            <td width="25" valign="top" align="center">:</td>
            <td>我们为员工提供业内极具竞争性和吸引力的薪酬，相关细节会在Offer中给予详细说明。此外，每年我们都会根据公司业务发展状况和员工的业绩表现进行绩效评估并调整薪酬。</td>
        </tr>
        <tr>
            <th align="left">工作用餐</th>
            <td valign="top" align="center">:</td>
            <td>公司为每位员工提供餐费补贴。</td>
        </tr>
        <tr>
            <th align="left">绩效工资</th>
            <td valign="top" align="center">:</td>
            <td>按照员工绩效评估结果于年底计算发放年度绩效工资；不同部门有相应的月度绩效工资。</td>
        </tr>
        <tr>
            <th align="left">社会保险</th>
            <td valign="top" align="center">:</td>
            <td>公司为每一位员工购买养老保险、失业保险、工伤保险、医疗保险、生育保险。</td>
        </tr>
        <tr>
            <th align="left">公&nbsp;积&nbsp;金</th>
            <td valign="top" align="center">:</td>
            <td>公司为每一位员工按照国家和地方政府的规定为员工办理住房公积金等相关手续。</td>
        </tr>
        <tr>
            <th align="left">带薪年假</th>
            <td valign="top" align="center">:</td>
            <td>正式员工从工作开始享受相应年假。</td>
        </tr>
        <tr>
            <th align="left">带薪病假</th>
            <td valign="top" align="center">:</td>
            <td>正式员工可享受每年5天的带薪病假。</td>
        </tr>
        <tr>
            <th align="left">俱&nbsp;乐&nbsp;部</th>
            <td valign="top" align="center">:</td>
            <td>员工可在工作之余参加员工俱乐部活动，如羽毛球、篮球、桌上足球等。</td>
        </tr>
    </table>
    </p>
</div>
<% } else if (this.param == 'cultural') {%>
<div class="content">
    <h2>文化生活</h2>
    <p>公司注重企业文化建设，在忙碌的工作之余尽力为员工打造轻松的休闲活动，让大家能够劳逸结合。</p>
    <p>
    <table>
        <tr>
            <th align="left" width="60">公司年会</th>
            <td width="25" valign="top" align="center">:</td>
            <td>每年年底，公司员工欢聚一堂，参加组织的“家庭盛会”，总结过去，开启未来。</td>
        </tr>
        <tr>
            <th align="left" valign="top">拓展训练</th>
            <td valign="top" align="center">:</td>
            <td>公司不定期组织拓展训练，以激励员工发展，达到磨练意志、陶冶情操、完善人格、熔炼团队等目的。</td>
        </tr>
        <tr>
            <th align="left">骑&nbsp;行&nbsp;社</th>
            <td valign="top" align="center">:</td>
            <td>公司成立了单车骑行社，周末相约一起锻炼身体，发现生命的美好。</td>
        </tr>
        <tr>
            <th align="left">摄&nbsp;影&nbsp;部</th>
            <td valign="top" align="center">:</td>
            <td>公司成立了摄影俱乐部，大家一起发现身边的美，记录生活的点滴。</td>
        </tr>
        <tr>
            <th align="left">羽毛球赛</th>
            <td valign="top" align="center">:</td>
            <td>每周四羽毛球赛，公司各部门间或与其他公司相互切磋。</td>
        </tr>
        <tr>
            <th align="left">篮&nbsp;球&nbsp;社</th>
            <td valign="top" align="center">:</td>
            <td>每周二篮球赛之日，喜欢篮球的你怎能错过。</td>
        </tr>
        <tr>
            <th align="left">狼&nbsp;人&nbsp;社</th>
            <td valign="top" align="center">:</td>
            <td>每周五大家一起狼人杀，展开逻辑与口才的对抗。</td>
        </tr>
        <tr>
            <th align="left">亲&nbsp;子&nbsp;社</th>
            <td valign="top" align="center">:</td>
            <td>晒幸福，传授经验，交流心得，关注宝宝的健康成长。</td>
        </tr>
        <tr>
            <th align="left">桌上足球</th>
            <td valign="top" align="center">:</td>
            <td>每两个月举办一次，武林高手一展身手争夺“大力神杯”。</td>
        </tr>
        <tr>
            <th align="left">美丽电台</th>
            <td valign="top" align="center">:</td>
            <td>音乐发烧友的圣地，中午自由选听，下午电台点播，DJ等你来当。</td>
        </tr>
        <tr>
            <th align="left">部门聚餐</th>
            <td valign="top" align="center">:</td>
            <td>不定期进行，以犒劳大家的辛勤工作，增强团队凝聚力。</td>
        </tr>
        <tr>
            <th align="left">其 &nbsp;&nbsp;&nbsp;&nbsp;他</th>
            <td valign="top" align="center">:</td>
            <td>足球赛，登山活动等等。</td>
        </tr>
    </table>
    </p>
    <p>
    <table width="100%">
        <tr>
            <td align="center"><img src="<%=this.PICTURE_URL%>images/about/cultural_pic1.jpg" /></td>
            <td align="center"><img src="<%=this.PICTURE_URL%>images/about/cultural_pic2.jpg" /></td>
        </tr>
        <tr>
            <td align="center">公司年会</td>
            <td align="center">拓展训练</td>
        </tr>
        <tr>
            <td align="center"><img src="<%=this.PICTURE_URL%>images/about/cultural_pic3.jpg" /></td>
            <td align="center"><img src="<%=this.PICTURE_URL%>images/about/cultural_pic4.jpg" /></td>
        </tr>
        <tr>
            <td align="center">火锅庆功宴</td>
            <td align="center">户外运动</td>
        </tr>
        <tr>
            <td align="center"><img src="<%=this.PICTURE_URL%>images/about/cultural_pic5.jpg" /></td>
            <td align="center"><img src="<%=this.PICTURE_URL%>images/about/cultural_pic7.jpg" /></td>
        </tr>
        <tr>
            <td align="center">桌上足球</td>
            <td align="center">单车骑行社</td>
        </tr>
    </table>
    <p>
</div>
<% } %>
<div class="rightNav">
    <%
    function getSelected(p, s) {
    return this.param == p && s==this.select ? 'selected' : '';
    }
    %>
    <h3><a class="<%=getSelected('default', 'h3')%>" href="/aboutus?sl=h3">关于美丽说</a></h3>
    <ul>
        <li><a class="<%=getSelected('default', 'li')%>" href="/aboutus">公司简介</a></li>
        <li><a class="<%=getSelected('creator', 'li')%>" href="/aboutus/creator">创始人</a></li>
        <li><a class="<%=getSelected('relations', 'li')%>" href="/aboutus/relations">投资者关系</a></li>
        <li><a class="<%=getSelected('product', 'li')%>" href="/aboutus/product">产品功能</a></li>
        <li><a class="<%=getSelected('media', 'li')%>" href="/aboutus/media">媒体报道</a></li>
    </ul>
    <h3><a class="<%=getSelected('brands', 'h3')%>" href="/aboutus/brands?sl=h3">效果广告投放</a></h3>
    <ul>
        <li><a class="<%=getSelected('CPC', 'li')%>" href="/aboutus/CPC">易点通推广</a></li>
        <li><a class="<%=getSelected('PFP', 'li')%>" href="/aboutus/PFP">竞点通推广</a></li>
        <li><a class="<%=getSelected('CPS', 'li')%>" href="/aboutus/CPS">盟点通推广</a></li>
        <li><a class="<%=getSelected('CPT', 'li')%>" href="/aboutus/CPT">美丽钻展</a></li>
    </ul>
    <h3><a class="<%=getSelected('privacy', 'h3')%>" href="/aboutus/privacy?sl=h3">美丽说规章</a></h3>
    <ul>
        <li><a class="<%=getSelected('direct', 'li')%>" href="/aboutus/direct">社区指导原则</a></li>
        <li><a class="<%=getSelected('privacy', 'li')%>" href="/aboutus/privacy">隐私保护原则</a></li>
    </ul>
    <h3><a class="<%=getSelected('joinus', 'h3')%>" href="/aboutus/joinus?sl=h3">加入美丽说</a></h3>
    <ul>
        <li><a class="<%=getSelected('joinus', 'li')%>" href="/aboutus/joinus">招聘职位</a></li>
        <li><a class="<%=getSelected('salary', 'li')%>" href="/aboutus/salary">薪酬福利</a></li>
        <li><a class="<%=getSelected('cultural','li')%>" href="/aboutus/cultural">文化生活</a></li>
    </ul>
    <h3><a class="<%=getSelected('contactus', 'h3')%>" href="/aboutus/contactus?sl=h3">联系我们</a></h3>
</div>
</div>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
    fml.use('page/aboutus');
_use:", this._JSstack , this._JSmods); %>
<%#foot.html%>
