<%#head.html%>
<div class="aboutus clearfix_f">
	<div class="content">
		<div class="clearfix_f">
			<h2 class="left_f">常见问题</h2>
			<a href="/help/feedback" class="right_f f14_f l22_f">返回提交反馈>></a>
		</div>
		<div class="help_con">
			<h3 id="h_01">一、为什么我关注的杂志很多都是我没见过的？</h3>
			<div class="desc">
				美丽说用户发的每一件宝贝或图片，都是会用一个杂志来收集。这样用户自己可以分门别类的整理自己分享过的东西，其他用户也可以关注这个用户的某几个您感兴趣的杂志。<br />
				但是当您直接关注一个人的时候，我们认为您愿意收看这个用户的全部宝贝，而这个用户的全部宝贝分散在她拥有所有杂志里，因此，您关注了一个用户=关注了这个用户的所有杂志。<br />
				您看到您关注的杂志里面，有很多您不记得主动关注过的，就都是以上情况产生的：）
			</div>
			<h3 id="h_02">二、请问我购买的商品什么时候发货呢？</h3>
			<div class="desc">
				亲，美丽说不是贩卖商品的电子商务网站，是所有爱美的女生一起分享自己在网上看到的漂亮的衣服的社区，您购买的商品，都是像您一样的女生自己推荐的，您对于该商品的购买行为，是您和第三方网站的交易，美丽说无法给您提供换货，查看物流等服务。
			</div>
		</div>
	</div>
	<%#footer/sideBar_1.html%>
</div>
<%#foot.html%>
