@import "../../block.less";
@pic_root_url: "@{pic_url}/images/wap/activity/promotion/1220/coupon_2";
body {
  background: #f8eff4;
}
.banner {
  .pr;
  background: url("@{pic_root_url}/banner.jpg") no-repeat top center; background-size: 100%;
  .pt(85%);
  .bannerText {
    .mb(1%);.f(11px); .fc(#fff); font-weight: bold; display: inline-block; vertical-align: middle;
  }
  .countdown {
    .pa; top:0%; .w(100%);  text-align: center;
    background: url("@{pic_url}/images/wap/activity/promotion/1220/main_venue_2/cdBg.png") no-repeat top center; background-size: 100%;
    .timerArea {.ml(25%);.w(50%); .pr; .pt(6%);
      background: url("@{pic_url}/images/wap/activity/promotion/1220/main_venue_2/timerBg2.png") no-repeat top center; background-size: 100%;}
    dl dd {.pa; top:10%;}
    dl dd span{.f(14px); .fc(#9e1a19)}
    #day0 { left:14.5%}
    #day1 {left:18.5%}
    #hour0 {left:36%}
    #hour1 {left:39.5%}
    #minute0 {left:62.5%}
    #minute1 {left:67%}
    #seconds0 {left:83.5%}
    #seconds1 {left:87.5%}
  }
}


.main {
  .pr;
  .pt(140%);
  background: url("@{pic_root_url}/main.png") no-repeat top center; background-size: 100%;
  .couponArea {
    .pa; .w(100%); top:34%;.clearfix;
  }
  .coupon {
    .pr;.w(88%); .tl; .ml(6%); .mt(5%);
    .couponText {.pa;.w(40%); top:41%; left: 44.5%; .f(9px); .fc(#fff); text-align: center }
  }

}

.couponBtn {
  .pa; width:66%; top: 59%; right: 18%;
}


.checkBox{
  .shade{.pf;top:0;left:0;z-index:10;.w(100%);.h(100%);background:rgba(0,0,0,.5);}
  .captchaImgBox {z-index: 1000; left:12%;.pf; top:25%;.w(76%); background: #fff;
    .imgTop {
      .w(100%); .pt(35%); .pr;
      background: url("@{pic_url}/images/wap/activity/promotion/captcha/imgCaptchaTop.png") no-repeat top center; background-size: 100%;
      input {.pa; .f(10px);.w(30%); top:50%; height: 30%; left:14%; border: 1px solid #d9d9d9}
      .captchaImg {.pa; .w(26%); right:25%; top:50%}
      .newImg {.pa; .w(15%); .pt(10%);right: 9%; top:58%; border:0px solid red}
    }
    .imgCenter {
      display: none;.w(100%); .pt(10%); background: url("@{pic_url}/images/wap/activity/promotion/captcha/imgCaptchaError.png") no-repeat top center; background-size: 100%;
    }
    .imgBottom {
      .w(100%); .pt(18%); .pr;
      background: url("@{pic_url}/images/wap/activity/promotion/captcha/imgCaptchaBottom.png") no-repeat top center; background-size: 100%;
      .imgCaptchaCheck { .pa;border:0px solid red;.w(50%); top:0%; right:0; .pt(18%);}
      .imgCaptchaClose { .pa;border:0px solid red;.w(50%); top:0%; left:0; .pt(18%);}
    }

  }




  .captchaMesBox {
    z-index: 1000; .pf; left:12%; top:25%; .w(76%); background: #fff;
    .mesTop {
      .w(100%);  .pt(35%); .mb(2%);;background: url("@{pic_url}/images/wap/activity/promotion/11/coupon/mesTop2.png") no-repeat top center; background-size: 100%;
      .getMesCaptcha {width: 86%; .ml(7%); .pt(5%); .pb(5%); border: 1px solid #ff94b7;color: #ff95b6; text-align: center; border-radius: 4% }
    }
    .mesCenter {
      display: none;.w(100%); .pt(10%); background: url("@{pic_url}/images/wap/activity/promotion/11/coupon/mesError.png") no-repeat top center; background-size: 100%;
    }
    .mesBottom {
      .w(100%); .pt(30%); .pr; .mt(2%);
      .captchaInput {display: block; .pa; top:0; left:7%;.w(50%); .h(30%); border: 1px solid #e6e5e6; border-radius: 4%}
      .captchaCheck {.pa; top:0; right: 7%; .w(32%); padding: 3% 0 ; border-radius: 4%; background-color:#e6e5e6;text-align: center; color: #fff }
    }
  }


}

.checkImage{
  .pa;top:20px;right:20*@px;.w(50%);
  span{.il-block;.right;.cursor;}
}

.remind {
  .pa;bottom:0%; .pt(9%);.w(80%);left:10%;background: url("@{pic_root_url}/remind.png") no-repeat top center; background-size: 100%;
  .remind_switch {.w(20%); .pa; top:16%; right:11.6%;.pt(9%); border: 0px solid #003dff;}
  .remind_o {background: url("@{pic_root_url}/remind_o.png") no-repeat top center; background-size: 100%;}
}

.zhijian {
  .pa;top:0%; .pt(36.5%);.w(88%);left:6%;background: url("@{pic_root_url}/zhijian.png") no-repeat top center; background-size: 100%;
  .zhijian_btn_no,.zhijian_btn,.zhijian_btn_over {
    .pa; top:57%; .w(66%); .pt(12%); left:17% ;
    background: url("@{pic_root_url}/nz_11.png") no-repeat top center; background-size: 100%;
  }
  .zhijian_btn {
    background: url("@{pic_root_url}/nz_get.png") no-repeat top center; background-size: 100%;
  }
  .zhijian_btn_over {
    background: url("@{pic_root_url}/nz_over.png") no-repeat top center; background-size: 100%;
  }
  .zhijian_text {
    .pa; top:44%; .w(40%);  left:44.5%; .fc(#fff);.f(10px);text-align: center;
  }
}

.tips {
  .pr;
  .pt(86%);
  .w(100%);
  background: url("@{pic_root_url}/intro3.png") no-repeat top center; background-size: 100%;
}

.get_success {
  .pf; top:30%; .w(90%); .pt(61%); z-index: 1000;left:5%;
  background: url("@{pic_root_url}/get_succ00.png") no-repeat top center; background-size: 100%;
  .sure_get_succ {.pa; top:63%; left:25%; .w(50%);.pt(14%); }
  .close_get_succ {.pa; top:4%; right:2%; .w(12%);.pt(9%);}
}
.shade{.pf;top:0;left:0;z-index:10;.w(100%);.h(100%);background:rgba(0,0,0,.5);}


.shops {
  .clearfix;
  .shop {.w(48.5%); box-sizing:border-box;;float: left; margin:1% 0.7%;border:1px solid #d9d9d9; border-radius: 3%; overflow: hidden;

    img {.w(100%); display: block}
  }

}

.goMainMeet {
  display: block;
  .pr;
  .w(100%);
  .pt(23%);
  background: url("@{pic_root_url}/go-main-venue2.png") no-repeat top center; background-size: 100%;
  .go {
    .pa;
    .w(56%);
    .pt(12%);
    top:36%;
    left:22%;
  }
}

.goSubMeet {
  display: block;
  .pr;
  .w(60%);
  .ml(20%);
  .mt(8%);
  .pt(20%);
  background: url("@{pic_root_url}/sub_meet_btn.png") no-repeat top center; background-size: 100%;
}

.sidebar_btn {
  .pf;
  .pt(20%);
  .w(20%);
  top:61%;
  right:0;
  background: url("@{pic_url}/images/wap/activity/promotion/1220/sidebar/sidebar.png") no-repeat center center;background-size: 100%;

  transition: right 1s;
  -webkit-transition: right 1s;	/* Safari 和 Chrome */
}

.sidebar_data {
  .pf;
  .w(28%);
  top:7%;
  right:-30%;
  z-index: 100;
  transition: right 1s;
  -webkit-transition: right 1s;	/* Safari 和 Chrome */
  img {
    .block; .w(100%);
  }

}

.sidebar_shade, .shade{.pf;top:0;left:0;z-index:10;.w(100%);.h(100%);background:rgba(0,0,0,.5);}

