@import "../../block.less";

.banner {
  .pr;
  background: url("@{pic_url}/images/wap/activity/promotion/916/banner2.jpg") no-repeat top center; background-size: 100%;
  .pt(78.3%);
  .bannerText {
    .pa; .w(40%); top:29%; text-align: right; .f(11px); .fc(#000); font-weight: bold;
  }
  .countdown {
    .pa; top:58%; .w(100%); .pt(10%);
    background: url("@{pic_url}/images/wap/activity/promotion/916/time_bg2.png") no-repeat top center; background-size: 100%;
    dl dd {.pa; top:14%;}
    dl dd span{.f(14px); .fc(#fff)}
    #day0 { left:41.5%}
    #day1 {left:44%}
    #hour0 {left:54%}
    #hour1 {left:56.5%}
    #minute0 {left:68%}
    #minute1 {left:70%}
    #seconds0 {left:79%}
    #seconds1 {left:81%}
  }
}
.middle {
  .pr;
  background: url("@{pic_url}/images/wap/activity/promotion/916/middle3.jpg") no-repeat top center; background-size: 100%;
  .pt(53%);
  .coupon100 {
    .pa; top:52%; right:9%;.w(45%); .tl;
    .couponText {.w(100%);}
    .couponBtn {.w(100%)}
  }
}

.bottom {
  .pr;
  background: url("@{pic_url}/images/wap/activity/promotion/916/bottom.jpg") no-repeat top center; background-size: 100%;
  .pt(828*@w);
  .coupon80 {
    .pa; top:45%; left:10%;.w(27%); .tl;
    .couponText {.w(100%);}
    .couponBtn {.w(110%)}
  }
  .coupon120 {
    .pa; top:20%; right:18%;.w(37%); .tl;
    .couponText {.w(100%);}
    .couponBtn {.w(100%)}
  }
  .coupon40 {
    .pa; top:40%; right:4%;.w(28%); .tl;
    .couponText {.w(100%);}
    .couponBtn {.w(100%);}
  }

  .sign {
    .pa; top:61%; right:27%; .w(28%);
    .couponBtn {.w(100%);}
  }
}

.couponText {min-height: 9px;.f(9px); .fc(#fff)}
.couponBtn {.mt(3%)}


.checkBox{
  .pr;
  .bgwhite;
  input{.w(50%); float: left; margin: 20px; height: 30px}
}
.checkImage{
  .pa;top:20px;right:20*@px;.w(50%);
  span{.il-block;.right;.cursor;}
}