@import "../../block.less";

body {
  background: #e0403e;
}
.top {
  .pr;
  .pt(92%);
  background: url('@{pic_url}/images/wap/activity/promotion/1212/shopping_strategy/top.jpg') no-repeat;background-size: 100%;

}

.center {
  .pr;
  .pt(125%);
  background: url('@{pic_url}/images/wap/activity/promotion/1212/shopping_strategy/center.png') no-repeat;background-size: 100%;

}

.bottom {
  .pr;
  .pt(150%);
  background: url('@{pic_url}/images/wap/activity/promotion/1212/shopping_strategy/bottom.png') no-repeat;background-size: 100%;

}

.very_goods {
  .pa;
  top:0;
  .w(46%);
  .pt(15%);
  left : 3%;

}

.top_shop {
  .pa;
  top:0;
  .w(45%);
  .pt(15%);
  right : 3%;
}

.bannerText {
  .mb(1%);.f(13px); .fc(#fff); font-weight: bold;
}
.countdown {
  .pa; top:3%; .w(100%);  text-align: center;

  .timerArea {.ml(25%); .w(50%); .pr; .pt(6%); vertical-align: middle;background: url("@{pic_url}/images/wap/activity/promotion/1212/main_meet/timerBg.png") no-repeat top center; background-size: 100%;}
  dl dd {.pa; top:10%;}
  dl dd span{.f(14px); .fc(#9e1a19)}
  #day0 { left:14.6%}
  #day1 {left:19%}
  #hour0 {left:36%}
  #hour1 {left:39.5%}
  #minute0 {left:62.5%}
  #minute1 {left:67%}
  #seconds0 {left:83.5%}
  #seconds1 {left:87.5%}
}