@import "../../block.less";
body {
  background: url("@{pic_url}/images/wap/activity/promotion/test_game/bg.jpg")
}
.question {
  position: relative;
  a {
    position: absolute;  border-radius: 10%; width: 37%; padding-top: 46%; display: block;
  }
  .a {top:23%; left:6.5%}
  .b {top:23%; left:53%}
  .c {top:60.5%; left:6.5%}
  .d {top:60.5%; left:53%}
}

.share {
  position: absolute; width: 55%; left:22%; padding-top:  16%;
}
.openApp {
  position: absolute; width: 40%; left:30%; padding-top:  18%; top:68%; border:0px solid red
}

.shade{.pf;top:0;left:0;z-index:10;.w(100%);.h(100%);background:rgba(0,0,0,.5);}
.shareD {z-index: 100;position: absolute; width:80%; padding-top:60%; top:30%; left:10%;background: url("@{pic_url}/images/wap/activity/promotion/test_game/sd.png")no-repeat top center; background-size: 100%;
  .toFriend {position: absolute; top: 35%; width: 28%; padding-top: 30%; left: 15%;border:0px solid red}
  .toGroup {position: absolute; top: 35%; width: 28%; padding-top: 30%; left: 55%;border:0px solid red}
  .close {position: absolute; top:2%; width: 12%;padding-top: 12%;right: 2%; border: 0px solid red}
}

.weiXinShareD {
  z-index: 100;position: fixed; width:100%; padding-top:100%; top:0%;background: url("@{pic_url}/images/wap/activity/promotion/test_game/weiXinShareTip.png")no-repeat top center; background-size: 100%;
}

.redBox {
  position:relative;width:100%; padding-top: 150%;
  .redShare {position: absolute; top:82%; width: 50%; padding-top: 17%; left: 25%; border: 0px solid red}

}

.shareTips {display:none;position: absolute;bottom:4%; text-align: center;width: 100%;font-size: 12px}