<%# head.html%>
<div class="comment_title">
	<div class="comment_icon"></div>
</div>
<div class="comment_nav">
	<a href="/">美丽说</a>
	&nbsp;&gt;&nbsp;
	<a href="/order/list/">我的美丽说订单</a>
	&nbsp;&gt;&nbsp;
	<a href="#">
		<span class="red_f">购买评价</span>
	</a>
</div>
<div class="comment_div">
	<div class="c_info">
		<span>订单号：<%= this.comment.data.order.order_id%></span>
		<span>商家：<%= this.comment.data.order.shop_name%></span>
		<span>成交时间：<%= this.comment.data.order.ctime%></span>
	</div>
	<div class="c_head">
		<span class="goods_info_t">商品信息</span>
		<span class="buy_time_t">购买时间</span>
	</div>
	<%this.goods_num = 1;%>
	<%if(this.comment.data.goods && this.comment.data.goods.length == 1)this.goods_num = 0;%>
	<%this.comment.data.goods && this.comment.data.goods.forEach(function(v,i){%>
	<div class="c_item">
		<span class="goods_info">
			<a href="/share/item/<%= v.twitter_id%>" target="_blank">
				<img class="c_item_img" src="<%= v.goods_img%>" />
			</a>
			<div class="c_item_content">
				<p class="goods_name"><a href="/share/item/<%= v.twitter_id%>" target="_blank"><%= v.goods_title%></a></p>
				<div class="goods_property">
					<span><%= v.prop[0].name%>：<%= v.prop[0].value%></span>
					<span><%= v.prop[1].name%>：<%= v.prop[1].value%></span>
				</div>
			</div>
		</span>
		<span class="buy_time"><%= this.comment.data.order.pay_time%></span>
		<span class="send_comment">
		<% if (1 != v.has_commented) {%>
		<a href="javascript:;" class="j_dis_btn red_f "><span class="underline j-dis">发表评价</span>&nbsp;&or;</a>
		<% }else{ %>
		<a><span class="">已评价</span></a>
		<% }%>
		</span>
	</div>
	<div class="comment_wrapper none_f">
	<% if (1 != v.has_commented) {%>
		<form>
		<table>
			<tr>
				<td class="d_name level_title"><span class="red_f">*</span><span>&nbsp;评分：</span></td>
				<td class="level_td">
					<span class="level5">
						<input class="l_radio" type="radio" name="comment_level">
						<div class="yellow"></div>
						<div class="gray"></div>
					</span>
					<span class="level4">
						<input class="l_radio" type="radio" name="comment_level">
						<div class="yellow"></div>
						<div class="gray"></div>
					</span>
					<span class="level3">
						<input class="l_radio" type="radio" name="comment_level">
						<div class="yellow"></div>
						<div class="gray"></div>
					</span>
					<span class="level2">
						<input class="l_radio" type="radio" name="comment_level">
						<div class="yellow"></div>
						<div class="gray"></div>
					</span>
					<span class="level1">
						<input class="l_radio" type="radio" name="comment_level">
						<div class="yellow"></div>
						<div class="gray"></div>
					</span>
				</td>
			</tr>
			<tr>
				<td class="d_name">评价：</td>
				<td>
					<textarea class="gray" cols="30" rows="10">亲，姐妹们的购物评价大会开始了，您的评价对大家非常的重要，快来讲讲宝贝的质量、穿上的感觉以及商家服务。评价的越好，越详细的同学就可能获得冬日美妆大礼一份哦。</textarea>
				</td>
			</tr>
			<tr class="j-wrong">
				<td></td>
				<td class="opt_td">
					<div class="anon_btn">
						<input type="checkbox" class="is_anonymous" name="is_anonymous">
						<span class="cb_content">匿名评价</span>
					</div>
					<div class="red_f red-dis"></div>
					<input type="button" class="send_btn" gid="<%= v.goods_id%>" tid="<%= v.twitter_id%>" value="发表评价">
				</td>
			</tr>
		</table>
		</form>
		<% } %>
	</div>
	<%});%>
</div>
<script type="text/javascript">
fml.vars.oid = <%= this.comment.data.order.order_id%>;
</script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/shop_comment');
_use:", this._JSstack , this._JSmods); %>
<%# foot.html%>
