/**
 * @fileoverview 下载提示页
 * @requires
 * @author kehuang@meilishuo.com
 * @date 2015-08-06
 */

@import "../block.less";

html{
	.f(10*@f);
}

body{
	.bgc(#fff);
}

img{
	.block;
	.w(100%);
}

a{
	.block;
	outline:none;
}

.page_bg{
	/*.w(100%);
	.pt(1026*@w);
	background:url("http://d05.res.meilishuo.net/pic/_o/6b/f0/9ee1595eec90300585107fcd3f0f_640_1026.cg.png") no-repeat;
	background-size:100%;*/
}