/**
 * @fileoverview 分享－会员足迹
 * @requires
 * @author kehuang@meilishuo.com
 * @date 2015-12-01
 */

@import "../block.less";

html{
	.f(10*@f);
}

body{
	.bgc(#1a2c4b);
}

img{
	.block;
	.w(100%);
}

a{
	.block;
	outline:none;
}

ul{
	list-style:none;
}

i{
	font-style:normal;
}

.main{
	.pr;
	.w(100%);
	.pt(1032*@w);
	background:url("http://d01.res.meilishuo.net/pic/_o/66/bf/debba226ce391993c10a8ae69880_640_1032.cj.png") no-repeat;
	background-size:100%;
}

.user_box{
	.pa;
	top:4%;
	left:0;
	right:0;
	.hidden;
	clear:both;

	.user_head{
		.auto;
		.hidden;
		.w(50px);
		.h(50px);
		.border-r(50%);
		border:4px solid #fefefe;

		img{
			border:0;
			.border-r(50%);
		}
	}

	.user_name{
		.c;
		.l(1.2);
		.w(100%);
		.mt(12%);
		.f(1.1rem);
		.fc(#fff);
	}

	.under_line{
		.c;
		.l(2);
		.w(100%);
		.mt(-3%);
		.f(1.1rem);
		.fc(#fff);
	}

	.user_info{
		.c;
		.l(1.4);
		.mt(3%);
		.w(100%);
		.f(1.4rem);
		.fc(#fff);

		i{
			.f(2rem);
			.fc(#73e539);
		}
	}

	.footprint_btn{
		.c;
		.w(54%);
		.f(1.6rem);
		.fc(#fff);
		.border-r(18px);
		.bgc(#ff5a83);
		padding:10px 0;
		margin:6% auto;
	}
}

.windowDrive{
	.dialog{
		.border-r(6px);
	}

	.dialog-con{
		.l(1.8);
		.f(1.4rem);
		.fc(#666);
	}

	.dialog-btn{
	    border-top:1px solid #e5e5e5;

	    span{
	      	.f(1.5rem);
	      	.fc(#f66);
	    }
	}
}

.pullUp{
	.pullUpDown > .common;.pullUpDown > .loading;
	&:before{
		.nowrap;
		.ml(-10px);
	}
	&[status="tap"]{
		background:0 none;	
	}
	&[status="stop"]{
		background:0 none;	
	}
}

.gotop_wrap{
	.pf;
	.none;
	.w(82*@w);
	.pt(82*@w);
	z-index:10;
	right:10px;
	bottom:40px;

	.gotop{
		.block;
		.w(100%);
	}

	img{
		.w(100%);
	}
}

@media screen and (min-width:360px){
	.user_box{
		top:6%;

		.user_info{
			.mt(3%);
		}

		.footprint_btn{
			margin:7% auto;
		}
	}
}

@media screen and (min-width:400px){
	.user_box{
		top:7%;

		.user_info{
			.mt(4%);
		}
	}
}
