/**
 * @fileoverview 首页－会员足迹
 * @requires
 * @author kehuang@meilishuo.com
 * @date 2015-11-30
 */

@import "../block.less";

html{
	.f(10*@f);
}

body{
	.bgc(#ff4876);
}

img{
	.block;
	.w(100%);
}

a{
	.block;
	outline:none;
}

ul{
	list-style:none;
}

i{
	font-style:normal;
}

.top_tab_wrap{
	.pa;
	.hidden;
	top:0;
	left:0;
	.w(100%);
	.h(6rem);
	.mb(12%);

	.top_tab_list{
		.w(84rem);
		.h(1rem);
		.ml(0);
		.mt(4rem);
		transition:margin-left 0.3s linear 0s;
        -moz-transition:margin-left 0.3s linear 0s; /* Firefox 4 */
        -webkit-transition:margin-left 0.3s linear 0s; /* Safari and Chrome */
        -o-transition:margin-left 0.3s linear 0s; /* Opera */

		.top_tab_item{
			.pr;
			.left;
			.w(2rem);
			.h(1.8rem);
			.mr(7.5rem);
			top:-.9rem;
			background:url("http://d05.res.meilishuo.net/pic/_o/85/7b/ca6635e9e8e54444c242754ed4a5_40_35.cf.png") no-repeat;
			background-size:100%;

			.title{
				.pa;
				.w(7.9rem);
				.h(2.7rem);
			}

			.title_1{
				top:-1.5rem;
				right:-7.6rem;
				background:url("http://d04.res.meilishuo.net/pic/_o/6f/77/14d91bdf86a580d85bb145be87d5_158_53.cj.png") no-repeat;
				background-size:100%;
			}

			.title_2{
				top:-.4rem;
				right:-7.7rem;
				background:url("http://d01.res.meilishuo.net/pic/_o/f2/99/f2416198388c3f3c8118ce7b6eb2_158_53.cf.png") no-repeat;
				background-size:100%;
			}

			.title_3{
				top:-.4rem;
				right:-7.7rem;
				background:url("http://d01.res.meilishuo.net/pic/_o/87/a3/fd62c64c458d0cd1493cb5c6404e_158_53.cf.png") no-repeat;
				background-size:100%;
			}

			.title_4{
				top:-.4rem;
				right:-7.7rem;
				background:url("http://d01.res.meilishuo.net/pic/_o/99/75/64023be0704930b5f8e4d56ede62_158_53.cg.png") no-repeat;
				background-size:100%;
			}

			.title_5{
				top:-.4rem;
				right:-7.7rem;
				background:url("http://d02.res.meilishuo.net/pic/_o/4c/f1/c0e96684207ece2ee8a4ed09a8ad_158_53.cf.png") no-repeat;
				background-size:100%;
			}

			.title_6{
				top:-.4rem;
				right:-7.7rem;
				background:url("http://d01.res.meilishuo.net/pic/_o/1e/a7/a840c6e81421739286c59b533064_159_53.cj.png") no-repeat;
				background-size:100%;
			}
		}

		.top_tab_item.first{
			.w(14rem);
			.h(.1rem);
			top:.1rem;
			background:url("http://d04.res.meilishuo.net/pic/_o/2c/82/91dfb42db7115880ed974c7b5c3f_241_2.cf.png") no-repeat;
			background-size:100%;
		}

		.top_tab_item.last{
			.w(11rem);
			.h(6rem);
			top:-3.8rem;
			background:url("http://d03.res.meilishuo.net/pic/_o/19/93/bbc0c563724b5cff2ca681582c62_282_139.cj.png") no-repeat;
			background-size:100%;
		}

		.top_tab_item.active{
			.mr(11rem);

			.title{
				.pa;
				.w(11.4rem);
				.h(3.9rem);
			}

			.title_1{
				top:-2rem;
				right:-11.2rem;
				background:url("http://d02.res.meilishuo.net/pic/_o/13/b2/7a188aac12fb0574b4f7e6ea2278_228_77.cj.png") no-repeat;
				background-size:100%;
			}

			.title_2{
				top:-1.1rem;
				right:-11.2rem;
				background:url("http://d05.res.meilishuo.net/pic/_o/ab/5c/f96fd2503b3d8e4cb268f828afe3_228_77.cg.png") no-repeat;
				background-size:100%;
			}

			.title_3{
				top:-1.1rem;
				right:-11.2rem;
				background:url("http://d02.res.meilishuo.net/pic/_o/56/23/18370ffa4fc5a45aceb8977af075_228_77.cg.png") no-repeat;
				background-size:100%;
			}

			.title_4{
				top:-1.1rem;
				right:-11.2rem;
				background:url("http://d03.res.meilishuo.net/pic/_o/f0/de/e94c8c5d0012f39370656744cb04_228_77.cg.png") no-repeat;
				background-size:100%;
			}

			.title_5{
				top:-1.1rem;
				right:-11.2rem;
				background:url("http://d05.res.meilishuo.net/pic/_o/75/75/b04fe52b5eb52e3b717a0d74fdb1_228_77.ch.png") no-repeat;
				background-size:100%;
			}

			.title_6{
				top:-1.1rem;
				right:-11.2rem;
				background:url("http://d05.res.meilishuo.net/pic/_o/67/82/55c70f017d0257cd568f08adbade_228_77.cj.png") no-repeat;
				background-size:100%;
			}
		}

		li.top_tab_item:last-child{
			.mr(0);
		}
	}
}

.bottom_desc_wrap{
	.c;
	.pa;
	left:0;
	bottom:6%;
	.w(100%);
	.fc(#fff);

	.title{
		.l(2);
		.f(1.4rem);

		i{
			.fc(#fffd30);
		}
	}

	.sub_title{
		.l(1.8);
		.f(1.3rem);
	}

	.footprint_desc{
		.mt(3%);
		.w(100%);
		.h(1.6rem);
	}

	.footprint_desc_1{
		background:url("http://d01.res.meilishuo.net/pic/_o/4e/80/43082bc9918e3fa9ec8fda527d3f_640_32.cf.png") no-repeat;
		background-size:100%;
	}

	.footprint_desc_2{
		background:url("http://d05.res.meilishuo.net/pic/_o/21/c1/b60662215b59c974f46f166dbfb5_640_32.cf.png") no-repeat;
		background-size:100%;
	}

	.footprint_desc_3{
		background:url("http://d01.res.meilishuo.net/pic/_o/c5/24/baf62a4a0d7b90c158dc26817b45_640_32.cf.png") no-repeat;
		background-size:100%;
	}

	.footprint_desc_4{
		background:url("http://d04.res.meilishuo.net/pic/_o/5b/59/ccad528c56d81b977d7ccfa7f247_640_32.cg.png") no-repeat;
		background-size:100%;
	}

	.footprint_desc_5{
		background:url("http://d04.res.meilishuo.net/pic/_o/ff/f1/fddd5674d52155f298dfe83e1c8c_640_32.cf.png") no-repeat;
		background-size:100%;
	}

	.footprint_desc_6{
		background:url("http://d04.res.meilishuo.net/pic/_o/48/93/67cc82dd1f21cad7c533f49cd614_640_32.cj.png") no-repeat;
		background-size:100%;
	}
}

.footprint_desc_box{
	.opacity(0);
}

.layer_shade{
	.pf;
	top:0;
	left:0;
	.w(100%);
	.h(100%);
	z-index:999;
	background:rgba(0,0,0,.85);
}

.layer_main{
	.pf;
	top:0;
	left:0;
	.w(100%);
	.h(auto);
	z-index:999;
}

.windowDrive{
	.dialog{
		.border-r(6px);
	}

	.dialog-con{
		.l(1.8);
		.f(1.4rem);
		.fc(#666);
	}

	.dialog-btn{
	    border-top:1px solid #e5e5e5;

	    span{
	      	.f(1.5rem);
	      	.fc(#f66);
	    }
	}
}

.pullUp{
	.pullUpDown > .common;.pullUpDown > .loading;
	&:before{
		.nowrap;
		.ml(-10px);
	}
	&[status="tap"]{
		background:0 none;	
	}
	&[status="stop"]{
		background:0 none;	
	}
}

@media screen and (min-width:360px){
	.bottom_desc_wrap{
		bottom:8%;
	}

	.top_tab_wrap{
		.h(7rem);

		.top_tab_list{
			.mt(5rem);
		}
	}
}

@media screen and (min-width:400px){
	.bottom_desc_wrap{
		bottom:10%;
	}

	.top_tab_wrap{
		.h(7rem);

		.top_tab_list{
			.mt(5rem);
		}
	}
}
