/**
 * @fileoverview 首页 － 会员中心
 * @requires
 * @author kehuang@meilishuo.com
 * @date 2015-06-23
 */

@import "../block.less";

html{
	.f(10*@f);
}

body{
	.bgc(#fff);
}

img{
	.block;
	.w(100%);
}

a{
	.block;
	outline:none;
}

ul{
	list-style:none;
}

i{
	font-style:normal;
}

/* 0.5的水平线 */
.line-h05(@lw){
	width:@lw;
	height:1px;
	-webkit-transform:scaleY(.5);
	background-color:rgb(213,213,213);
}

.lhp100{
	.line-h05(100%);
}

.banner_wrap{
	.pr;
	.w(100%);
	.pt(270*@w);
	/*background:url("http://d05.res.meilishuo.net/pic/_o/bc/3d/b67236366f827c04c2b927b29ced_640_220.ch.png") no-repeat;*/
	background:url("http://d04.res.meilishuo.net/pic/_o/ab/33/7da34dd609c79fa165a3131d1976_640_270.cg.png") no-repeat;
	background-size:100%;

	.level_box{
		.pa;
		.hidden;
		clear:both;
		top:12%;
		left:0;
		right:0;

		.user_level{
			.auto;
			.w(65px);
			.pt(56px);
			background:url("http://d04.res.meilishuo.net/pic/_o/16/89/395e5698ee3313b34f0937058a38_131_112.cg.png") no-repeat;
			background-size:auto 56px;
		}

		.level0{
			background:url("http://d01.res.meilishuo.net/pic/_o/09/70/2702385de141631a3acff928f313_131_112.cf.png") no-repeat;
			background-size:auto 56px;
		}

		.level1{
			background:url("http://d01.res.meilishuo.net/pic/_o/92/2b/d800da0f7a229c006d462f7624f7_131_112.cf.png") no-repeat;
			background-size:auto 56px;
		}

		.level2{
			background:url("http://d01.res.meilishuo.net/pic/_o/32/a1/8e98bca9d82c7742b7a23476f420_131_112.ch.png") no-repeat;
			background-size:auto 56px;
		}

		.level3{
			background:url("http://d01.res.meilishuo.net/pic/_o/d1/ea/ae49ab6ff4639964c36535d47be2_131_112.cf.png") no-repeat;
			background-size:auto 56px;
		}

		.level4{
			background:url("http://d03.res.meilishuo.net/pic/_o/5d/f6/6d7ab92f9704aa1b8a3b461bb6b8_131_112.ch.png") no-repeat;
			background-size:auto 56px;
		}

		.update_text{
			.c;
			.l(1.2);
			.mt(3%);
			.f(1.2rem);
			.fc(#fff);
		}

		.login_text{
			.c;
			.auto;
	        .w(50%);
	        .mt(5%);
	        .l(1.4);
            .f(1rem);
            .fc(#fff);
            .border-r(16px);
	        border:1px solid #fff;
	    }

	    .sign_remind{
	    	.c;
			.auto;
	        /*.mt(2%);*/

	        span{
	        	.i_block;
	        }

	        .mark{
	        	.w(42*@px);
	    		.h(42*@px);
	    		/*.ml(8*@px);*/
	    		margin:2% 1%;
				background:url("http://d04.res.meilishuo.net/pic/_o/72/99/d25eacae00e40bae88d533c2ebf9_42_42.cg.png") no-repeat;
				background-size:21px auto;
	    	}

	    	.reminded{
	    		.w(218*@px);
	    		.h(42*@px);
	    		margin:2% 0;
				background:url("http://d01.res.meilishuo.net/pic/_o/9a/c6/ad6e2993d987bee4d253be832d26_218_42.cg.png") no-repeat;
				background-size:109px auto;
	    	}

	    	.reminded.active{
	    		.w(208*@px);
	    		background:url("http://d01.res.meilishuo.net/pic/_o/b2/a1/b64f4d87733a3ed33d98666b5764_208_42.cf.png") no-repeat;
				background-size:104px auto;
	    	}
	    }
	}

	.login_box{
		top:15%;
	}

	.sign_box{
		.pa;
		top:0;
		right:20*@w;
		z-index:9;
		.w(76*@px);
		.h(95*@px);
		background:url("http://d02.res.meilishuo.net/pic/_o/0b/4f/f68ff4afb34ca1fb220592d3da9e_76_95.cf.png") no-repeat;
		background-size:100%;
	}

	.signed{
		background:url("http://d02.res.meilishuo.net/pic/_o/27/56/9299e766d061f113ab80cdb2db80_76_95.ch.png") no-repeat;
		background-size:100%;
	}
}

.beans_tips_wrap{
	.opacity(0);

	.beans_tips{
		.c;
		.pa;
		.l(1.2);
		.w(21%);
		.f(.9rem);
		.fc(#fff);
		bottom:12px;
		right:20*@w;
		padding:5px;
		.bgc(#ff3627);
		.border-r(4px);
	}

	.arrow_top{
		.pa;
		.w(0);
		.h(0);
		bottom:3px;
		right:45*@w;
		border-left:8px solid transparent;
		border-right:8px solid transparent;
		border-top:10px solid #ff3627;
	}
}

.user_wrap{
	.hidden;
	clear:both;
	padding:3% 1% 3% 5%;

	.info_box{
		.left;
		.w(56%);

		.name{
			.hidden;
			.f(1.3rem);
			.fc(#333);
            white-space:nowrap;
            text-overflow:ellipsis;
		}

		.desc{
			.pt(.4rem);
			.f(1.0rem);
			.fc(#999);
		}
	}

	.value_box{
		.right;
		.w(44%);
		.hidden;

		.beans_box,.beauty_box{
			.w(50%);

			.name{
				.f(1rem);
				.fc(#999);
				.pt(.4rem);
			}

			.value{
				.f(1.3rem);
			}
		}

		.beans_box{
			.c;
			.right;

			.value{
				.fc(#333);
			}
		}

		.beauty_box{
			.c;
			.pr;
			.left;

			.value{
				.fc(#333);
			}

			.name,.value{
				border-right:1px solid #e6e6e6;
			}

			.tips_dot{
				.pa;
				.w(6px);
				.h(6px);
				right:8px;
				bottom:8px;
				.bgc(#ff3627);
				.border-r(50%);
			}
		}
	}
}

.movelr{
	-webkit-animation:movelr 1s .2s 2 ease both;
	animation:movelr 1s .2s 2 ease both;
}

@-webkit-keyframes movelr{
	0%{
		-webkit-transform:translate(0px,0);
		transform:translate(0px,0);
	}

	50%{
		-webkit-transform:translate(5px,0);
		transform:translate(5px,0);
	}

	100%{
		-webkit-transform:translate(0px,0);
		transform:translate(0px,0);
	}
}

.nav_wrap{
	.pr;
	.block;
	.hidden;
	.w(100%);
	.bgc(#f5f5f5);
	z-index:1;

	.nav_iscroll{
		.left;
		.hidden;
		.mt(2%);
		.w(100%);
		.bgc(#fff);

		ul {
			li{
				.c;
				.left;
				.block;
				.w(72px);
				.f(1.4rem);
				.fc(#666);
				margin:20px 0;
				border-right:1px solid #ccc;
			}

			li.curr{
				.fc(#ff7a9a);
			}

			li:last-child{
				border:none;
			}
		} 
	} 
}

.nav_box{
	.w(100%);
	.bgc(#f5f5f5);
	min-height:49px;
	overflow:hidden;

	.nav{
		.c;
		.mt(2%);
		.w(100%);
		.bgc(#fff);
		clear:both;

		li{
			.c;
			.l(1.8);
			.w(22%);
			.i_block;
			margin:8px 0;

			a{
				.block;
				.f(1.3rem);
				.fc(#666);
			}
		}

		li.curr{
			a{
				.fc(#ff7a9a);
			}

			border-bottom:1px solid #ff7a9a;
		}
	}
}

.shadow{
	box-shadow:7px 2px 7px #e6e6e6;
	/*for ie6,7,8*/		
	filter:progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=180, Color='#e6e6e6');
}

.scrollin{
	.pf;
	top:-1px;
	left:0;
	right:0;
	margin:0 auto;
	z-index:100;
}

.scrollout{
	.pr;
}

.banner_box{
	.hidden;
	margin:0 1rem;

	li{
		.left;
		.w(100%);
		.mt(1rem);
	}
}

.recommend_box{
	.hidden;
	margin:0 1rem 1rem;

	li{
		.left;
		.w(48.3%);
		.mt(1rem);
	}

	.odd{
		li:nth-child(odd){.mr(3.4%);}
	}
}

.container{
	.hidden;
	min-height:700px;
	margin:0 20*@px 20*@px;

	.even{
		li:nth-child(odd){.mr(3%);}
	}

	.odd{
		li:nth-child(odd){.mr(3%);}
	}
}

.goods_wall{
	.clearfix;

	li{
		.left;
		.mr(0);
		.w(48.5%);

		.link_box{
			.block;
		}

		.hjfpos{
			.pr;

			.ownh{
				height:61px;
			}

			.adenter{
				.pa;
				top:0;
				left:0;
				.h(100%);
			}
		}

		figure{
			.pr;

			.soldout{
				.pa;
				top:50%;
				left:50%;
				z-index:10;
				.w(298*@w);
				.pt(298*@w);
				margin:-149*@w 0 0 -149*@w;
				background:url("http://d04.res.meilishuo.net/pic/_o/1a/d7/70bb562514b6d8f86d9dcf7699d9_149_149.ch.png") no-repeat center;
				background-size:100%;
			}

			span.bs_load_img{
				.block;
				.w(100%);
				.pt(140%);
				opacity:.75;
				background-image:url("http://d01.res.meilishuo.net/pic/_o/b9/0a/fd965c6f94c2fd9df704e481098f_304_425.cg.png");
				/*background-image:url("http://d05.res.meilishuo.net/pic/_o/33/cf/a618bae2cdf43bc03289e82cb53f_290_290.cg.png");*/
				background-size:cover;
			}

			span.df_show_img{
				.block;
				.w(100%);
				.pt(140%);
				opacity:.75;
				background-image:url("http://d01.res.meilishuo.net/pic/_o/b9/0a/fd965c6f94c2fd9df704e481098f_304_425.cg.png");
				/*background-image:url("http://d05.res.meilishuo.net/pic/_o/33/cf/a618bae2cdf43bc03289e82cb53f_290_290.cg.png");*/
				background-size:cover;
			}

			div.new_png{
				.pa;
				.w(100%);

				div{
					.left;
					.ml(6/290*100%);

					img{
						.border-r(0 0 0 0);
					}
				}
			}

			.lave{
				.pa;
				.c;
			    .w(100%);
			    .fc(#fff);
			    .f(1rem);
			    bottom:0;
			    z-index:90;
			    padding:4px 0;
		    }

		    .progress{
		    	.pa;
				.block;
				.f(10px);
				.w(100%);
				.h(12px);
				bottom:0;
				opacity:.6;
				padding:4px 0;
		    }

		    .rpbgc{
		    	.bgc(#dd8200);
		    }

		    .gpbgc{
		    	.bgc(#80737b);
		    }

		    .ypbgc{
		    	.bgc(#ffb414);
		    }
		}

		figcaption{
			.c;
			.bgwhite;
			padding:8px 0 16px;

			.pro{
				&Title{
					.hidden;
					.l(1.2);
					.f(1.2rem);
					.fc(#666);
					text-overflow:ellipsis;
					display:-webkit-box;
					-webkit-line-clamp:1;
					-webkit-box-orient:vertical;
					clear:both;
				}

				&Price{
					.l(1.8);
					.i_block;
					.f(1.3rem);
					.fc(#ff3627);

					i{
						font-style:normal;
					}

					.origPrice{
						.fc(#999);
						.f(1.2rem);
					}

					.word{ 
						.fc(#999);
						.f(1.2rem);
					}
				}

				&Discount{
					.l(2);
					.w(80%);
					.f(1.2rem);
					.fc(#ff9f17);
					margin:0 auto;
					.border-r(12px);
					.bgc(rgba(255,159,23,0.1));

					.bean{
						.pl(30*@px);
						background:url("http://d01.res.meilishuo.net/pic/_o/9d/a0/76a466d841d5156aa297b243d50f_22_22.cf.png") no-repeat;
						background-size:12px auto;
					}
				}
			}
		}
	}
}

.more_bar{
	.c;
	.none;
	.w(90%);
	.l(1.4);
	.f(1.3rem);
	.fc(#595056);
	.border-r(4px);
	padding:8px 0;
	margin:10px auto;
	border:solid 1px #595056;
}

.pullUp{
	.pullUpDown > .common;.pullUpDown > .loading;
	&:before{
		.nowrap;
		.ml(-10px);
	}
	&[status="tap"]{
		background:0 none;	
	}
	&[status="stop"]{
		background:0 none;	
	}
}

.gotop_wrap{
	.pf;
	.none;
	.w(82*@w);
	.pt(82*@w);
	z-index:10;
	right:10px;
	bottom:40px;

	.gotop{
		.block;
		.w(100%);
	}

	img{
		.w(100%);
	}
}

/* 弹层 */
.upgrade_layer{
	.opacity(0);
}

.prompt_layer_main{
	.pf;
	top:34%;
	left:0;
	.w(100%);
	.h(auto);
	.opacity(0);
	z-index:99;

	.prompt_layer_text{
		.c;
		.auto;
		.l(1.8);
		.f(1.1rem);
		.fc(#fff);
		.w(320*@w);
		.border-r(4px);
		padding:8px 12px;
		background:rgba(0,0,0,.7);
	}
}

.tpl_shade{
	.pf;
	top:0;
	left:0;
	.w(100%);
	.h(100%);
	z-index:99;
	background:rgba(0,0,0,.5);
}

.tpl_main{
	.pf;
	top:16%;
	left:0;
	.w(100%);
	.h(auto);
	z-index:99;

	.m{
		.pr;

		img{
			.w(570*@w);
			margin:0 auto;
		}

		.know_btn{
			.pa;
			.w(570*@w);
			.h(18%);
			left:35*@w;
			bottom:0;
		}
	}
}

.remind_main .m .know_btn{
	.h(23%);
}

.setting_main .m .buttons{
	.pa;
	.w(570*@w);
	.h(23%);
	left:35*@w;
	bottom:0;

	div{
		.left;
		.w(50%);
		.h(100%);
	}
}

.layer_shade{
	.pf;
	top:0;
	left:0;
	.w(100%);
	.h(100%);
	z-index:999;
	background:rgba(0,0,0,.85);
}

.layer_main{
	.pf;
	top:0;
	left:0;
	.w(100%);
	.h(auto);
	z-index:999;

	.m{
		.pr;

		.sign_head{
			.pa;
			.w(28%);
			.h(26%);
			top:18%;
			left:36%;
			.border-r(50%);
			overflow:hidden;
			border:2px solid #fff;

			img{
				border:0;
				.border-r(50%);
			}
		}

		.sign_level{
			.pa;
			.w(6%);
			.h(6%);
			top:39%;
			left:58%;
		}

		.level0{
			background:url("http://d02.res.meilishuo.net/pic/_o/f4/1f/ecd18c8f27472643b1e93c8df843_43_43.cg.png") no-repeat;
			background-size:100%;
		}

		.level1{
			background:url("http://d02.res.meilishuo.net/pic/_o/17/aa/171f7b79f55c49725572d10665be_43_43.cf.png") no-repeat;
			background-size:100%;
		}

		.level2{
			background:url("http://d02.res.meilishuo.net/pic/_o/d2/e3/e4e8282f7aeea2aff079d789254e_43_43.cg.png") no-repeat;
			background-size:100%;
		}

		.level3{
			background:url("http://d04.res.meilishuo.net/pic/_o/1d/22/85259fbadecb812ff9c290b32d41_43_43.cf.png") no-repeat;
			background-size:100%;
		}

		.level4{
			background:url("http://d05.res.meilishuo.net/pic/_o/f4/67/b518ab17795ce8734360bf2f701e_43_43.cf.png") no-repeat;
			background-size:100%;
		}

		.sign_bean{
			.c;
			.pa;
			.w(80%);
			top:54%;
			left:10%;
			.f(1.7rem);
			.fc(#f9bf00);

			span{
				.fb;
				.i_block;
				.f(3.7rem);
				-webkit-transform-style:preserve-3d;
				transform-style:preserve-3d;
				-webkit-transition:all .8s ease;
			    -moz-transition:all .8s ease;
			    -o-transition:all .8s ease;
			    -ms-transition:all .8s ease;    
			    transition:all .8s ease;
			}

			i{
				.pa;
				top:-34%;
				left:73%;
				.opacity(0);
				.fc(#f68800);
				-webkit-transform:scale(2,2);
                -moz-transition:scale(2,2);
                -o-transform:scale(2,2);
                -ms-transform:scale(2,2);
                transform:scale(2,2);
				-webkit-transition:all .5s ease-in;
			    -moz-transition:all .5s ease-in;
			    -o-transition:all .5s ease-in;
			    -ms-transition:all .5s ease-in;
			    transition:all .5s ease-in;
			}
		}

		.sign_day{
			.c;
			.pa;
			.w(80%);
			top:66%;
			left:10%;
			.f(1.5rem);
			.fc(#fff);

			span{
				.fb;
				.f(2rem);
				.fc(#f66);
				.w(60px);
				.h(28px);
				.l(28px);
				.i_block;
				letter-spacing:12px;
				padding:0 3px 0 4px;
				background:url("http://d02.res.meilishuo.net/pic/_o/38/0f/129e610072e1181dbcb88b1a0783_131_56.ch.png") no-repeat;
				background-size:100%;
				-webkit-transform-style:preserve-3d;
				transform-style:preserve-3d;
				-webkit-transition:all .8s ease;
			    -moz-transition:all .8s ease;
			    -o-transition:all .8s ease;
			    -ms-transition:all .8s ease;    
			    transition:all .8s ease;
			}
		}

		.sign_desc{
			.c;
			.pa;
			.l(1.5);
			.f(1.5rem);
			.fc(#fff);
			.h(12%);
			.w(440*@w);
			bottom:12%;
			left:100*@w;

			.days{
				.f(2.5rem);
				.fc(#fcff00);
			}
		}

		p{
			.c;
			.pa;
			.w(70%);
			left:15%;
			.fc(#fff);
		}

		.up_title{
			top:27%;
			.l(1.6);
			.f(1.6rem);
			
			i{
				.fc(#fee503);
			}
		}

		.up_subtitle{
			top:43%;
			.l(1.4);
			.f(1.4rem);
		}

		.up_desc{
			top:53%;
			.l(1.2);
			.f(1.2rem);
		}

		.up_buttons{
			.pa;
			.w(70%);
			.h(14%);
			left:15%;
			bottom:5%;

			div{
				.left;
				.w(50%);
				.h(100%);
			}
		}

		.know_btn{
			.pa;
			.w(40%);
			.h(14%);
			left:30%;
			bottom:4%;
		}
	}
}

.stroke_main{
	top:10%;
}

.upgrade_main{
	top:10%;
}

/* 组图 */
.swipe{
	.c;
	.pr;
	.hidden;
	/*visibility:hidden;*/
	min-height:180*@px;
}

.swipe_wrap{
	.pr;
	.hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}

.swipe_wrap > div{
	.pr;
	.left;
	.w(100%);
}

.swipe_pic{
	.pr;
	.hidden;
	.w(100%);
	.bgc(#fff);
	min-height:180*@px;
}

.swipe_pic img{
	.w(100%);
	min-height:180*@px;
}

.swipe_num{
	.pa;
	left:0;
	.w(100%);
	bottom:3px;
	z-index:9;

	li{
		.vm;
		.w(4px);
		.h(4px);
		.mr(2px);
		.i_block;
		float:none;
		.bgc(#e2e2e2);
		.border-r(50%);
	}

	li.active{
		.bgc(#f66);
	}
}

.mall_wrap{
	.bgc(#f5f5f5);
}

.gallery_box{
	.hidden;
	.clearfix;
	.mb(2%);
    .bgc(#fff);
    border-top:1px solid #e6e6e6;
}

.gallery_3_row{

	li{
		.left;
		.w(33.3334%);

		a{
			border-right:1px solid #e6e6e6;
		}
	}

	li:nth-child(3){
		.w(33.3332%);

		a{
			border:none;
		}
	}
}

.gallery_4_row{

	li{
		.left;
		.mr(0);
		.w(50%);
	}

	li:nth-child(1),li:nth-child(2){
		border-bottom:1px solid #e6e6e6;
	}

	li:nth-child(odd){
		a{
			border-right:1px solid #e6e6e6;
		}
	}
}

.checkBox{
  	.shade{
  		.pf;
  		top:0;
  		left:0;
  		.w(100%);
  		.h(100%);
  		z-index:10;
  		background:rgba(0,0,0,.5);
  	}

  	.captchaImgBox{
  		.pf;
  		.w(76%);
  		top:25%;
  		left:12%;
  		z-index:1000;
  		background:#fff;

    	.imgTop{
    		.pr;
      		.w(100%);
      		.pt(35%);
      		background:url("http://d02.res.meilishuo.net/pic/_o/d0/55/d6af30741598b4497e51b8d1aa58_570_180.ch.png") no-repeat top center;
      		background-size:100%;

      		input{
      			.pa;
      			.w(30%);
      			.h(30%);
      			top:50%;
      			left:14%;
      			.f(10px);
      			border:1px solid #d9d9d9;
      		}

      		.captchaImg{
      			.pa;
      			.w(26%);
      			top:50%;
      			right:25%;
      		}

      		.newImg{
      			.pa;
      			.w(15%);
      			.pt(10%);
      			top:58%;
      			right:9%;
      			border:0px solid red;
      		}
    	}

    	.imgCenter{
      		.none;
      		.w(100%);
      		.pt(10%);
      		background:url("http://d02.res.meilishuo.net/pic/_o/09/d2/235259ee81d3976a359b425ed66b_570_48.cg.png") no-repeat top center;
      		background-size:100%;
    	}

    	.imgBottom{
    		.pr;
      		.w(100%);
      		.pt(18%);
      		background:url("http://d05.res.meilishuo.net/pic/_o/0b/ae/e13932dbfc6864970bc8bcf8c599_570_101.cg.png") no-repeat top center;
      		background-size:100%;

      		.imgCaptchaCheck{
      			.pa;
      			.w(50%);
      			top:0;
      			right:0;
      			.pt(18%);
      			border:0px solid red;
      		}

      		.imgCaptchaClose{
      			.pa;
      			.w(50%);
      			top:0;
      			left:0;
      			.pt(18%);
      			border:0px solid red;
      		}
    	}
 	}

  	.captchaSmsBox{
    	.pf;
    	.w(76%);
    	left:12%;
    	top:25%;
    	z-index:1000;
    	background:#fff;

    	.smsTop{
    		.mb(2%);
      		.w(100%);
      		.pt(35%);
      		background:url("http://d04.res.meilishuo.net/pic/_o/c1/69/a20b15570647e6d78105065b4b1c_570_199.cf.png") no-repeat top center;
      		background-size:100%;

      		.getSmsCaptcha{
      			.c;
      			.w(86%);
      			.ml(7%);
      			.pt(5%);
      			.pb(5%);
      			.fc(#ff95b6);
      			.border-r(4%);
      			border:1px solid #ff94b7;
      		}
    	}

    	.smsCenter{
      		.none;
      		.w(100%);
      		.pt(10%);
      		background:url("http://d02.res.meilishuo.net/pic/_o/7a/2b/f2385920609e67d33d292cb4fabf_570_59.cf.png") no-repeat top center;
      		background-size:100%;
    	}

    	.smsBottom{
    		.pr;
      		.mt(2%);
      		.w(100%);
      		.pt(30%);

      		.captchaInput{
      			.pa;
      			.block;
      			top:0;
      			left:7%;
      			.w(50%);
      			.h(30%);
      			.border-r(4%);
      			border:1px solid #e6e5e6;
      		}

      		.captchaCheck{
      			.c;
      			.pa;
      			.w(32%);
      			top:0;
      			right:7%;
      			.fc(#fff);
      			padding:3% 0;
      			.bgc(#e6e5e6);
      			.border-r(4%);
      		}
    	}

    	.smsClose{
	      	.pa;
	      	.w(20%);
	      	.pt(20%);
	      	top:-13%;
	      	right:-14%;
	      	background:url("http://d02.res.meilishuo.net/pic/_o/fe/d4/041dd4cdce2245eecb4f7dbf46de_45_45.ch.png") no-repeat top center;
	      	background-size:50%;
	    }
  	}
}

.windowDrive{
	.dialog{
		.border-r(6px);
	}

	.dialog-con{
		.l(1.8);
		.f(1.4rem);
		.fc(#666);
	}

	.dialog-btn{
	    border-top:1px solid #e5e5e5;

	    span{
	      	.f(1.5rem);
	      	.fc(#f66);
	    }
	}
}

@media screen and (min-width:360px){
	.banner_wrap .login_tips{
		.l(2.7);
	}

	.banner_wrap .level_box{
		top:18%;
	}

	.layer_main .m .sign_desc{
		.l(1.9);
	}

	.layer_main .m .sign_bean i{
		top:-30%;
		left:70%;
	}

	.banner_wrap .level_box .login_text{
		.l(2);
		.w(44%);
		.fc(1.3rem);
	}

	.user_wrap .info_box .name,
	.user_wrap .value_box .beans_box .value,
	.user_wrap .value_box .beauty_box .value{
  		.f(1.6rem);
	}
}

@media screen and (min-width:400px){
	.banner_wrap .level_box{
		top:20%;
	}

	.banner_wrap .level_box .update_text{
		.mt(4%);
	}

	.banner_wrap .level_box .login_text{
		.w(39%);
	}
}
