/**
 * @fileoverview 内测提示－会员中心
 * @requires
 * @author kehuang@meilishuo.com
 * @date 2015-07-16
 */

@import "../block.less";

html{
	.f(10*@f);
}

body{
	.bgc(#fff);
}

img{
	.block;
	.w(100%);
}

a{
	.block;
	outline:none;
}

.page_bg{
	/*.w(100%);
	.pt(1136*@w);
	background:url("http://d04.res.meilishuo.net/pic/_o/71/05/78b2c352008ecfcef21fdd016f22_640_1136.cg.jpg") no-repeat;
	background-size:100%;*/
}