/**
 * @fileoverview 大转盘活动规则
 * @requires
 * @author kehuang@meilishuo.com
 * @date 2015-06-30
 */

@import "../block.less";

html{
	.f(10*@f);
}

body{
	.bgc(#fff);
}

img{
	.block;
	.w(100%);
}

a{
	.block;
	outline:none;
}

.page_bg{
	/*.w(100%);
	.pt(1336*@w);
	background:url("http://d02.res.meilishuo.net/pic/_o/28/2f/54353f8fe280f4d51a4aea093fdd_640_1268.cg.png") no-repeat;
	background-size:100%;*/
}