@import "../block";


html,body{
	.bgc(#fff);
	border-top:6px solid #f8f8f8;
	font-family: "Helvetica Neue";
}

.speak{
	text-align:center;
	margin-top:10%;
	font-size:14px;
	font-weight:normal;
	p{	
		em{
			border-top:1px solid #ccc;
			display:inline-block;
			width:20%;
			margin-top:10px;
		}
	}
	p>em:first-child{
		float:left;
	}
	p>em:last-child{
		float:right;
	}	
}
.evaluation{
	font-size:12px;
	font-weight:normal;
	text-align:center;
	margin: 5% 20% 10% 27%;
	strong{
		width:80px;
		height:20px;
		display:inline-block;
		padding-top:7px;
	}
	p{
		display:none;
		margin-top:2%;
		margin-right:6%;
	}
	#feedback{
		color:#f69;
	}
	.yes{
		background:url('http://d03.res.meilishuo.net/pic/_o/93/76/3a738507c994d031184d73c4d399_24_24.cj.png') no-repeat;		
	}
	.no{
		background:url('http://d03.res.meilishuo.net/pic/_o/6c/8e/efc3fe36319aa879250c9996f92b_24_24.cj.png') no-repeat;
	}
	.heart{
		background:url('http://d06.res.meilishuo.net/img/_o/58/7f/fee56fc4ddcb67974f6c0032558c_34_204.cf.png') no-repeat;
		padding-left:6px;
		padding-top:5px;	
	}
	.broken{
		background:url('http://d06.res.meilishuo.net/img/_o/58/7f/fee56fc4ddcb67974f6c0032558c_34_204.cf.png') no-repeat;
		background-position:-3px -76px;
		padding-left:6px;
		padding-top:6px;
	}
}
.service{
	.h(100%);
	.w(90%);
	.auto;
	h3{
		.pb(6%);
		.pt(6%);
		border-bottom:1px solid #e6e5e6;
		color:#666666;
		font-weight:normal;
	}
	p{
		overflow:hidden;
		.l(22px);
	}
	img{
		.w(98%);
		.ml(1%);
		.mt(3%);
		.mb(2%);
	}
	.box{
		color:#93898f;
		.mt(3%);
	}

}



.content{
	.search{
		.mt(3%);		
		form{
			.pr;
			.Input{
				.auto;
				.w(80%);
				.h(30px);
				.l(27px);
				border:1px solid #f8f8f8;
				border-radius:24px;
				background-color:#f8f8f8;
				color:#666;
			}
		}
		input[type="search"]{
			.w(95%);
			border:0;
			outline:0;
			margin:0;
			padding:0;
			-webkit-appearance:none;
			background:0 none;
			.f(14px);
			.pl(30px);

		}
		.search-input{
			background:url('http://i.meilishuo.net/css/images/wap/web/icon3.png') no-repeat;
			background-size:120px 130px;
			background-position:-12px -51px;	
			.h(17px);
			.w(17px);
			.pa;
			top:7px;
			left:42px;
		}
	}	
}

.useless{
	color:#000;
	font-size:14px;
	p{
		margin-left:20%;
		width:160px;
	}
	#textArea{
		width:200px;
		height:100px;
		border:1px solid #e2e2e2;
		margin-left:12%;
		margin-top:5%;
	}
	#canCel{
		float:left;
		color:#666;
	}
	#submit{
		color:#f69;
		float:right;
		display:none;
	}
}
.dialog();
.dialog {
	#maskLayer { background:rgba(255 ,255 ,255 , 0.8);}
	#dialogLayer { 
		background: #e6e6e6;
		box-shadow: none;
		.dialogTitle { .none;}
	}
}

