@import "../block";

.search{
	.auto;
	.w(80%);
	form{
		.pr;
		.Input{
			.h(30px);
			.l(24px);
			border:1px solid #f8f8f8;
			border-radius:24px;
			background-color:#f8f8f8;
			color:#666;
		}
		input[type="search"]{
			border:0;
			background:0 none;
			outline:0;
			padding:0;
			margin:0;
			-webkit-appearance:none;
			.w(99%);
			.f(14px);
			.pl(32px);
		}
		.search-input{
			background:url('http://i.meilishuo.net/css/images/wap/web/icon3.png') no-repeat;
			background-size:120px 130px;
			background-position:-12px -51px;	
			.h(17px);
			.w(17px);
			.pa;
			top:7px;
			left:14px;
		}
	}
}