@import "../block";

html,body{
	.w(100%);
	.h(100%);
	.bgc(#fff);

}

.main{
	.auto;
	.w(100%);
	.f(14px);
	.data_Title{
		.l(80px);
		.pl(17%);
		.pr;
		font-size:18px;
		color:#fff;
		background:#ff4384;
		em{	
			.w(46px);
			.h(47px);
			.pa;
			top:22px;
			left:17px;
			display:inline-block;
			background:url('http://i.meilishuo.net/css/images/activity/danmu/aquarius/official.png') no-repeat;
		}
	}
}
.box{
	.auto;
	.w(100%);
	border-top:1px solid #f2f2f2;
}
.list{
	.mt(3%);
	border:2px solid #ffbdd4;
	border-radius:3px;
	margin-left:1.5%;
	margin-right:1.5%;
	padding:3%;
	p{	
		.l(20px);
		color:#262626;
		font-weight:normal;
		margin-bottom:10px

	}
	strong{
		color:#fff;
		background:#ffc514;
		border-radius:2px;
		margin-left:1%;
		padding:0.2%;

	}
	.mls-input-label{
		color:#747474;
	}
	.textbox,span{
		.left;
		.w(50%);
		.mt(3px);
		.l(30px);
	}
	
	.textIpt{
		.w(400px);
		.h(20px);
		padding:10px;
		text-align:left;
		border:1px solid #f2f2f2;
	}
	.Ipt_text{
		border:1px solid #ccc;
		.w(100px);
		.h(20px);
		.ml(5px);
		display:none;
	}
	.clearfix;
}
.submit{
	text-align:center;
	.h(80px);
	.mt(10%);
	p{
		.pt(4%);
		color:#666666;
	}
	.s_btn{
		padding:10px 40px;
		.bgc(#f69);
		color:#fff;
	}
}


.mls-input-label {
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		input[type=checkbox].mls-input-checkbox {
			position: absolute; 
		    overflow: hidden;
		    visibility: hidden;
		    height:1px; 
		    width:1px; 
		    margin:-1px; 
		    padding:0;
		    border:0;
		}

		input[type=checkbox].mls-input-checkbox + label.mls-input-checkbox-label {
			padding-left:20px;
			margin-bottom:20px;
			height:15px; 
			display:inline-block;
			line-height:16px;
			background-repeat:no-repeat;
			background-position: 0 0;
			vertical-align:middle;
			cursor:pointer;
		}

		input[type=checkbox].mls-input-checkbox:checked + label.mls-input-checkbox-label {
			background-position: 0 -15px;
		}

		.mls-input-checkbox-label{
			background-image:url("@{pic_url}/images/wilee/order/checkbox_16.png?2014");
		}

		/*form 表单 radio*/
		input[type=radio].mls-input-radio {
								display:none;
							}

		input[type=radio].mls-input-radio + label.mls-input-radio-label {
			padding-left:24px;
			height:24px; 
			display:inline-block;
			line-height:24px;
			background-repeat:no-repeat;
			background-position: 0 0;
			vertical-align:middle;
			cursor:pointer;

		}

		input[type=radio].mls-input-radio:checked + label.mls-input-radio-label {
			background-position: 0 -24px;
		}

		label.mls-input-radio-label {
			background-image:url("@{pic_url}/images/wilee/order/radio_16.png?as23asfas2322");
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		/*form 表单 select*/
		@media screen and (-webkit-min-device-pixel-ratio:0) {
			select.mls-select{
				color:#666666;
				background: url("@{pic_url}/images/wilee/order/select_16.png") no-repeat right center transparent;
				-webkit-appearance: none;
				outline: none;
				margin: 0;
				padding: 4px 30px 4px 5px;
				border: 1px solid #d2d2d2;
				font-size: 12px;
				border-radius: 0px;
			}
			/*select.mls-select:focus{
				background: url("@{pic_url}/images/wilee/order/select_top_16.png") no-repeat right center transparent;
			}*/
		}