<script type="text/html" id="posterWall">
<? $.each(tInfo , function(k , v){?>
<div class="poster_grid poster_wall">
	<div class="groupBox">
		<div class="groupCon">
			<h2 class="s_tle"><a href="/shop/<?=v.shop_id?>" target="_blank"><?=v.shop_nick?></a></h4>
			<a href="/shop/<?=v.shop_id?>" target="_blank" class="imgBox">
				<img class="maxpic" src="<?=v.mix_image?>" />
			</a>
			<div class="lookBox">
				<a class="btn" href="/shop/<?=v.shop_id?>" target="_blank">去逛逛</a>
				<span class="tex"><?=v.goods_count?>件商品</span>
			</div>
			<div class="clear_f"></div>
		</div>
	</div>
</div>
<?});?>
</script>

