<%# head_simple.html%>
<div class="content">
<div class="info">
	<span class="start">开始</span>
	<span>记时:<e class="time"> 60<e></span>
	<span>闯关:<e class="level">0<e></span>

</div>
<div class="message-info">
	<p>游戏规则:</p>
	<p>根据上面的字母提示，从下面的三个头像里找出姓氏首字母相匹配的人物</p>
</div>
<div class="name-box">
	<div class="name"></div>
</div>

<div class="pic-box">
	<div class="pic"></div>
	<div class="pic"></div>
	<div class="pic"></div>
</div>
</div>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/lark/findName');
_use:", this._JSstack , this._JSmods ); %>
<%# foot_simple.html%>