<%# head_simple.html%>
</head>
<body>



<div class="jjl_box" id="jjlBox">
	<div class="basket none">
	</div>
	<div class="none">
		<span class="scoreAlert">+1</span>
	</div>
	
	<div class="none">
		<img src="http://d01.res.meilishuo.net/pic/_o/de/05/b8e131512a1052b7c8d3d03f517e_94_94.cf.png" class="gift_init gift gift_bg">
		<img src="http://d01.res.meilishuo.net/pic/_o/74/20/98c84ac1c6b0cc994b84345e67d6_118_118.ch.png" class="gift_init gift gift_gz">
		<img src="http://d03.res.meilishuo.net/pic/_o/7c/7a/7ecd8613c25ee3c94e981bab5327_68_66.cf.png"  class="gift_init gift gift_ku">
		<img src="http://d01.res.meilishuo.net/pic/_o/de/05/b8e131512a1052b7c8d3d03f517e_94_94.cf.png" class="gift_init gift gift_tg">
		<img src="http://d01.res.meilishuo.net/pic/_o/74/20/98c84ac1c6b0cc994b84345e67d6_118_118.ch.png"  class="gift_init gift gift_xh">
		<img src="http://d01.res.meilishuo.net/pic/_o/de/05/b8e131512a1052b7c8d3d03f517e_94_94.cf.png" class="gift_init gift gift_tg">
	</div>
</div>

<div class="jjl_head">
	<p class="score">0</p>
	<div class="jjl_progress">
		<i></i>
	</div>
	<div class="jjl_time">
		<h6 class="jjl_time_tit">TIME</h6>
		<p class="jjl_time_con"><span>0</span>s</p>
	</div>
</div>

<div class="jjl_msgAlert">
	<img src="http://d02.res.meilishuo.net/pic/_o/0a/3e/f5e464b68b614a47d197f12516ed_589_891.ch.png" />
</div>
<div class="begin_btn" >
	开始
</div>


<!-- <audio id="audio" src="http://i.meilishuo.net/css/images/wap/wx/20141225/jinglebells.mp3" loop="" preload="auto" autoplay="true"></audio> -->



<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/lark/jjl-use');
_use:", this._JSstack , this._JSmods ); %>


<%# foot.html%>
