<%# head_simple.html%>
	<ul id="box">
		<li class="num"><span class="num1"></span></li>
		<li class="num"><span class="num2"></span></li>
		<li class="num"><span class="num3"></span></li>
		<li class="num"><span class="num4"></span></li>
		<li class="num"><span class="num5"></span></li>
		<li class="num"><span class="num6"></span></li>
		<li class="num"><span class="num7"></span></li>
	</ul>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/lark/orderNum');
_use:", this._JSstack , this._JSmods ); %>
<%# foot_simple.html%>