//引入atom.less
@import "block";

html{.f(10*@f);}

.wyg_box {.common_box;.common_box > .lra;.hidden;.mt(20*@px);.mb(20*@px);
	.banner {.pt(290/948*100%);background:url("@{pic_url}/images/help/wuyougou131203.jpg") no-repeat;background-size:100%;}
	.slider {
		.f(140%);
		.box;.pt(20*@px);.pb(20*@px);
		li{.w(50%);
			a{
				.bgc(#CCC);.c;.border-r(@radius:3px);.fb;.ml(10*@px);.mr(10*@px);.l(200%);
				.white;.block;
			}
			.active {.bgred;}
		}
	}
	.promise {.hidden;
		ul {.l(26px);}
		a {.red;.mr(12*@px);.left;.mb(12*@px);}
		.pro_ico {.left;.h(26px);.mr(4*@px);}
	}
	.content {padding:20*@px;
		p, b {.l(1.6);}
	}
	.txt_box {.pt(20px);border-top:1px dotted #c0c0c0;.mt(20px);
		.f(140%);
		h3 {.mb(20*@px);}
		.redline {.w(2px);.h(14px);.bgc(#F69);.left;.mr(10px);}
		.list {.pl(5px);.block;}
		td {.border-1;padding:10px;}
	}
	.flowstep {.mt(20*@px);.l(1.6);
		li {padding:10*@px;}
		p {.fb;}
	}
	.u_nav {.c;
		a {.fb;.red;margin:0 30px;.f(140%);}
	}
}
