<%# head_simple.html%>
</head>
<body>

<div id="warp" class="warp"> 
    <section class="index" id="index">
        
        <div class="foot">
            <a id="start_but" class="start_but" href="javascript:;">开始游戏</a>

            <div class="link">
                <a class="fl" id="giftBut" href="javascript:;">活动奖品</a>
                <a class="fr" id="ruleBut" href="javascript:;">游戏规则</a>
            </div>
            <a class="addressBut js_addressBut" href="javascript:;">填写中奖收货地址</a>
            <p class="text">美丽说客服热线:4000-800-577 <br />周一至周日：08:00-24:00 </p>
        </div>
    </section>

    <section id="game" class="game">
        <div class="time">
            <img src="http://d02.res.meilishuo.net/pic/_o/94/e4/52e126b1233b706ca14f73aa9d53_447_73.cg.png">
            <span class="time_box">20</span>
        </div>

        <div id="countDown" class="countDown"></div>

        <div id="game_box" class="game_box">
            
        </div>

        <div class="foot">

            <a class="addressBut js_addressBut" href="javascript:;">填写中奖收货地址</a>
            <p class="text">美丽说客服热线:4000-800-577 <br />周一至周日：08:00-24:00 </p>
        </div>
    </section>

    <section id="address" class="address">
        
        <div class="inputWarp">
            <h3 class="name"> 收货人姓名 </h3>
            <div class="inputBox"> <input id="name" type="text" /> </div>
        </div>
        <div class="inputWarp">
            <h3 class="name"> 手机号码 </h3>
            <div class="inputBox"> <input id="tel" type="tel" maxlength="11" /> </div>
        </div>
        <div class="inputWarp">
            <h3 class="name"> 详细地址 </h3>
            <div class="inputBox"> <input id="addr" type="text" /> </div>
        </div>
        

        <a  id="submitBut" class="but  submitBut" href="javascript:;">保存</a>
    </section>
</div>


<!-- alert -->
    <div class="mypopbox" id="mypopbox">
        
        <div id="wxGuide" class="wxGuide">
            <img src="http://d04.res.meilishuo.net/pic/_o/7f/f0/e075ef17b5540e07ea62a004cca1_517_580.ch.png">
        </div>

        <div class="dialog dialogAlert" id="dialogAlert0"  >
            <span class="close" id="dialogAlertClose"></span>
            <div class="tit">
                <img src="http://d05.res.meilishuo.net/pic/_o/af/ad/fc1c20e82294c93d52f2f91cefb8_440_389.ch.jpg">
            </div>
            <div class="bottom">
                <a class="fl but js_gameStart" href="javascript:;">再玩一次</a>
                <a class="fr but  shareBut" href="javascript:;">分享好友</a>
            </div>
        </div>
        
        <div class="dialog dialogAlert" id="dialogAlert1"  >
             
            <div class="tit">
                <img src="http://d01.res.meilishuo.net/pic/_o/f4/7b/9ed3430beb6d802fb9d5a291f5aa_440_222.cf.jpg">
            </div>
            <p class="text">
                只用了<span class="red fz2 js_countTime" >20s</span>成拼图！ 
             
                打败了<span class="red fz2 js_countPre">80%</span>的用户
                <br /><br />
                <span class="red fz3">你果然很棒！</span>
            </p>
            <div class="bottom">
                
                
            </div>
        </div>
        
        <div class="dialog dialogAlert" id="dialogWin0"  >
            
            <div class="tit">
                <img src="http://d05.res.meilishuo.net/pic/_o/04/87/53194e9273df8701dda0d0415a4c_440_233.cf.jpg">
            </div>
            
            <div class="bottom">
                <a class="fl but js_gameStart" href="javascript:;">再玩一次</a>
                <a class="fr but  shareBut" href="javascript:;">分享好友</a>
            </div>
        </div>

        <div class="dialog dialogAlert" id="dialogWin1"  >
            
            <div class="tit">
                <img src="http://d03.res.meilishuo.net/pic/_o/74/51/0d340e106800a6d0784b6fdd7cb1_439_228.ch.jpg">
            </div>
            <p class="text">
                只用了<span class="red fz2" >20s</span>成拼图！ 
             
                打败了<span class="red fz2">80%</span>的用户
                <br />
            </p>
            <div class="gifts">
                <img src="http://d01.res.meilishuo.net/pic/_o/a2/22/c743afacf24e7bfdaa9adae9334c_439_167.cf.jpg">
            </div>

            <div class="bottom">
                <a class="fl but js_addressBut" href="javascript:;">填写地址</a>
                <a class="fr but  shareBut" href="javascript:;">分享好友</a>
            </div>
        </div>

        <div class="dialog dialogAlert" id="dialogWin2"  >
            
            <div class="tit">
                <img src="http://d03.res.meilishuo.net/pic/_o/74/51/0d340e106800a6d0784b6fdd7cb1_439_228.ch.jpg">
            </div>
            <p class="text">
                只用了<span class="red fz2" >20s</span>成拼图！ 
             
                打败了<span class="red fz2">80%</span>的用户
                <br />
            </p>
            <div class="gifts">
                <img src="http://d04.res.meilishuo.net/pic/_o/38/dd/61b97171ee80661d5c2fc460bbaa_439_191.cf.jpg">
            </div>

            <div class="bottom">
                <a class="fl but   js_addressBut" href="javascript:;">填写地址</a>
                <a class="fr but  shareBut" href="javascript:;">分享好友</a>
            </div>
        </div>
               
        <div class="dialog" id="dialogGift" style="">
            
            <div class="tit" id="dialogRuleTit">
                <img src="http://d04.res.meilishuo.net/pic/_o/f1/70/a86235748c963c4611a56c201a0d_440_594.cf.jpg">
            </div>
            <div class="bottom" >
                <a class="but" id="dialogGiftClose" href="javascript:;">点击关闭</a>
            </div>
        </div>

        <div class="dialog" id="dialogRule" style="">
            
            <div class="tit" id="dialogRuleTit">
                <img src="http://d01.res.meilishuo.net/pic/_o/6d/d3/04855f8d9d9edabffd87af9784a3_440_226.cf.jpg">
            </div>
            
            <div class="con" id="dialogRuleCon">
                <p>
                    1.活动时间：2015年6月28日10:00-2015年6月30日24:00
                </p>
                <p>
                   2.如果20s内完成拼图，则有一定几率获得活动奖品，用时越短，几率越高
                </p>
                <p>
                    3.获得一、二等奖的用户请在活动页面填写收货地址，活动结束后7日内陆续发货
                </p>
                <p>
                   4.凡作弊用户，美丽说有权作废结果，最终解释权归美丽说所有
                </p>

            </div>

            <div class="bottom" id="dialogRuleBottom">
                <a class="but" id="dialogRuleClose" href="javascript:;">点击关闭</a>
            </div>
            
        </div>

        <div class="overlay">
        </div>
    </div>
<script>
    fml.vars.isWxLogin= <%= this.isWxLogin || false %>   ;

    fml.vars.isWx = <%= this.isWx %>;
    
    fml.vars.shareTitle   = '<%= this.main.data.share.title %>';
    fml.vars.shareContent   = '<%= this.main.data.share.content %>';
    fml.vars.shareIcon   = '<%= this.main.data.share.icon %>';
    fml.vars.shareLink   = '<%= this.main.data.share.link %>';
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
fml.use('wap/page/activity/designer-pt');
_use:", this._JSstack , this._JSmods ); %>

<%# foot.html%>

