<%#head.html%>
<img src="<%= this.PICTURE_URL%>images/huodong/wap_jl/jlwap1.jpg" />
<img src="<%= this.PICTURE_URL%>images/huodong/wap_jl/jlwap2.jpg" />
<img src="<%= this.PICTURE_URL%>images/huodong/wap_jl/jlwap3.jpg" />
<img src="<%= this.PICTURE_URL%>images/huodong/wap_jl/jlwap4.jpg" />
<img src="<%= this.PICTURE_URL%>images/huodong/wap_jl/jlwap5.jpg" />
<img src="<%= this.PICTURE_URL%>images/huodong/wap_jl/jlwap6.jpg" />
<img src="<%= this.PICTURE_URL%>images/huodong/wap_jl/jlwap7.jpg" />
<a href="http://m.meilishuo.com/group/117520843"><img src="<%= this.PICTURE_URL%>images/huodong/wap_jl/jlwap8.jpg" /></a>
<img src="<%= this.PICTURE_URL%>images/huodong/wap_jl/jlwap9.jpg" />
<img src="<%= this.PICTURE_URL%>images/huodong/wap_jl/jlwap11.jpg" />
<%#foot_simple.html%>
