<%#head.html%>
<div class="wrapper">
  <img src="http://d01.res.meilishuo.net/pic/_o/ad/21/550741ce900c4c10b12758e7a387_640_562.ch.jpg" alt="">
  <img src="http://d05.res.meilishuo.net/pic/_o/66/d2/d9d1bd0b91e361d5a9b46ec5260b_640_317.cg.jpg" alt="">
  <img src="http://d02.res.meilishuo.net/pic/_o/1b/36/54297866a079294dc08deb69f7d2_640_460.ch.jpg" alt="">
  <img src="http://d04.res.meilishuo.net/pic/_o/7f/30/a3d6dd7d02bbb73d2a9ec8d6db53_640_500.cg.jpg" alt="">
  <img src="http://d04.res.meilishuo.net/pic/_o/6c/6b/a6e9dac528df73bb3e8ef582ed58_640_430.ch.jpg" alt="">

  <img src="http://d05.res.meilishuo.net/pic/_o/2e/c3/2ebf55ff9e5807909ecd9dbfdf2c_640_420.cf.jpg" alt="">
  <img src="http://d04.res.meilishuo.net/pic/_o/6b/fe/658467e1c4c8a105ef779dfbbe5b_640_440.ch.jpg" alt="">
  <img src="http://d03.res.meilishuo.net/pic/_o/74/de/dc171b66155a528e47376fb0baa8_640_550.ch.jpg" alt="">
  <img src="http://d03.res.meilishuo.net/pic/_o/ed/e0/553a8d3f5c113763cc14fd8e9e0b_640_380.cg.jpg" alt="">
  <img src="http://d01.res.meilishuo.net/pic/_o/09/46/f5f8d0d71b57fb0a8877e493eae9_640_360.ch.jpg" alt="">

  <img src="http://d01.res.meilishuo.net/pic/_o/ed/b6/e430d9d7270314f2f71a8a9409b1_640_410.ch.jpg" alt="">
  <img src="http://d04.res.meilishuo.net/pic/_o/97/ce/819e5edca622d66efbf7a1a1c330_640_490.ch.jpg" alt="">
  <img src="http://d05.res.meilishuo.net/pic/_o/3f/c2/30d8d17cfa95610a12bc54d43693_640_350.cg.jpg" alt="">
  <img src="http://d01.res.meilishuo.net/pic/_o/90/80/ebe023b1d5f4cc54880fef445d6b_640_430.cf.jpg" alt="">
  <img src="http://d03.res.meilishuo.net/pic/_o/27/4a/4573a7ad774b1ceb834ea285b913_640_510.cf.jpg" alt="">

  <img src="http://d01.res.meilishuo.net/pic/_o/ac/f1/45ca144e933cbecb9a05aa69ddcd_640_500.ch.jpg" alt="">
  <img src="http://d05.res.meilishuo.net/pic/_o/88/ba/414a455f592fdcba709db1c91582_640_290.ch.jpg" alt="">
  <div class="video_main">
    <div class="box">
      <video width="100%" poster='http://d05.res.meilishuo.net/pic/_o/2a/44/e128c9c9d4dda11e3e4b5476bad4_400_247.ch.jpg' controls style="position:absolute;top:0;left:0;width:100%;height:100%">
        <source src="http://i.meilishuo.net/css/images/wap/promotion/sale_1508/20150724.mp4" type="video/mp4">
      </video>
    </div>
  </div>
  <img src="http://d01.res.meilishuo.net/pic/_o/6a/fc/82e7381f10189ca89fe8d06e42c8_640_330.cg.jpg" alt="">
  <img src="http://d04.res.meilishuo.net/pic/_o/07/5e/02120b6c99d5ec8dc7ad57077e39_640_350.cg.jpg" alt="">

  <img src="http://d01.res.meilishuo.net/pic/_o/88/2b/ce2491d7b13577e2642debcf6191_640_424.cf.jpg" alt="">

</div>
<%#foot_simple.html%>
