<%#head.html%>
<div class="main">
	<div class="banner">
		<img src="http://d06.res.meilishuo.net/img/_o/3e/f7/434fa26b5eac42fdf74f7d3877f0_640_161.cg.png" alt="">
	</div>
	<div class="top">
		<div class="headPic" style="background: url('<%=this.headPic%>') no-repeat top center; background-size: 100%;"></div>
		<div class="mes">
			<div class="mesWraper">
				<%=this.mes%>
			</div>
		</div>
	</div>
	<div class="middle">
		<div class="imgWraper" >
			<img src="<%=this.prizePic%>" alt="" width="90%" id="prizeImg"/>
		</div>
	</div>
	<div class="bottomText">
				每天1个iPhone 6，2个拍立得，1000个双12免单机会，10万张优惠券免费抢！每人每天三次机会，快来试试手气吧！~	
	</div>
	<div class="bottom">
		<a class="download" href="javascript:;"></a>
	</div>
</div>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/activity/turntableShare');
_use:", this._JSstack, this._JSmods); %>

<%#foot_simple.html%>