<%#head.html%>
<div class="privilege">
	<img src="<%= this.PICTURE_URL %>images/activity/xiaomi/xm1.jpg"/>
	<img src="<%= this.PICTURE_URL %>images/activity/xiaomi/xm2.jpg"/>
	<div class="coupon-area">
		<img src="<%= this.PICTURE_URL %>images/activity/xiaomi/xm3.jpg"/>
		<a href="http://m.meilishuo.com/activity/xmcoupon/gsucc/" class="a1"></a>
		<a href="http://apk.meilishuo.com/Meilishuo-0520/Meilishuo_xiaomi_12702.apk" class="a2"></a>
	</div>
	<img src="<%= this.PICTURE_URL %>images/activity/xiaomi/xm4.jpg"/>
</div>

<%# block/dialog.html %>
<%#foot_simple.html%>
