<%# head_simple.html%>
</head>
<body style="background: #fff;">
<div class="content">
<div class="main_page">
	<img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_03.jpg" />
    <img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_04.jpg" />
    <img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_05.jpg" />
	<div class="con">
    <img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_08.jpg" usemap="#Map18" border="0" />
    <map name="Map18" id="Map18">
      <area shape="rect" coords="343,188,607,494" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223483196607%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="6,523,298,842" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223489585363%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="312,521,608,842" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223671894693%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
    </map>
    <img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_11.jpg" usemap="#Map19" border="0" />
    <map name="Map19" id="Map19">
      <area shape="rect" coords="3,204,267,506" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223594585469%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="4,536,298,855" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223596659799%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="314,534,607,856" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223610896791%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
    </map>
	<img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_14.jpg" usemap="#Map20" border="0" />
    <map name="Map20" id="Map20">
      <area shape="rect" coords="7,4,307,394" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223635422535%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="7,407,304,722" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%22%203439944149%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="317,4,605,262" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223576366667%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="318,275,608,533" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223682699373%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="318,548,609,721" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223456409293%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
    </map>
	<img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_18.jpg" usemap="#Map21" border="0"  />
  <map name="Map21" id="Map21">
      <area shape="rect" coords="6,6,306,270" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223609803583%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="5,278,304,535" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223565131953%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="6,546,306,723" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223697993861%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="318,5,607,396" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223672871525%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="318,407,607,722" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223692261837%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
    </map>
	</div>
    <img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_20.jpg" />
    <div class="con">
	<img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_23.jpg" usemap="#Map22" border="0" />
  <map name="Map22" id="Map22">
    <area shape="rect" coords="5,186,267,488" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223499608047%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
    <area shape="rect" coords="5,518,300,836" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223422599977%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
    <area shape="rect" coords="315,518,607,832" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223565081675%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
    </map>
    <img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_27.jpg" usemap="#Map23" border="0" />
    <map name="Map23" id="Map23">
      <area shape="rect" coords="3,4,301,260" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223651551217%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="5,274,299,533" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223631603073%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="4,548,299,721" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223178410119%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="318,6,606,393" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223695690793%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="318,409,606,721" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223472398377%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
    </map>
    <img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_29.jpg" usemap="#Map24" border="0" />
    <map name="Map24" id="Map24">
      <area shape="rect" coords="4,5,314,375" href="meilishuo://twitter_single.meilishuo?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223479082529%22%2C%22is_doota%22%3A%221%22%7D%7D" />
      <area shape="rect" coords="338,6,607,188" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223515764767%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="337,205,603,376" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223444707985%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
    </map>
    <img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_31.jpg" usemap="#Map25" border="0" />
    <map name="Map25" id="Map25">
      <area shape="rect" coords="342,195,605,492" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223612406703%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="9,527,292,839" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223680540903%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="314,526,605,841" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223527080515%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
    </map>
    <img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_35.jpg" usemap="#Map26" border="0" />
    <map name="Map26" id="Map26">
      <area shape="rect" coords="5,4,302,263" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223517533455%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="9,275,303,533" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223658609445%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="4,546,304,725" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223610382541%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="318,4,608,394" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223597755265%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="317,433,607,721" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223610223865%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
    </map>
	</div>
    <img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_37.jpg" />
    <div class="con">
	<img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_40.jpg" usemap="#Map27" border="0" />
    <map name="Map27" id="Map27">
      <area shape="rect" coords="346,192,606,496" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223631194441%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="4,525,297,842" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223446101465%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="7,859,295,1060" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223483443513%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="314,525,604,1060" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223575821969%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
    </map>
	</div>
    <img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_43.jpg" />
    <div class="con">
	<img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_46.jpg" usemap="#Map28" border="0" />
    <map name="Map28" id="Map28">
      <area shape="rect" coords="4,186,264,488" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223606647409%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="7,520,294,835" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223579890907%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="316,520,607,835" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223647011595%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
    </map>
    <img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_49.jpg" usemap="#Map29" border="0" />
    <map name="Map29" id="Map29">
      <area shape="rect" coords="4,5,301,261" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223666210077%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="4,275,303,533" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223657665499%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="3,548,303,722" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223687355039%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="317,3,607,394" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223690252741%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
      <area shape="rect" coords="320,406,606,722" href="meilishuo://twitter_single.meilishuo/?json_params=%7B%22twitter_info%22%3A%7B%22twitter_id%22%3A%223630676561%22%2C%22is_doota%22%3A1%7D%2C%22r%22%3A%22act_bbjx_0727%22%7D" />
    </map>
	</div>
    <img src="http://i.meilishuo.net/css/images/wap/activity/startling/myqgg_51.jpg" />
</div>
</div>
<script>var a = document.body.offsetWidth;var scale_size = a / 640;var main = document.querySelector('.main_page');var h = 11650 * scale_size;main.setAttribute('style', "-webkit-transform: scale("+ scale_size +");transform:scale("+ scale_size +");-webkit-transform-origin: left top;transform-origin: left top;height: " + h + "px")</script>
<%# foot_simple.html%>
