.ellipsis-row(@var){.hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:@var;-webkit-box-orient:vertical;}

.goods_show(){
	.goods_units{padding: 20*@w 10*@w 0;.hidden;}
	.goods_box{
		.w(50%);.left;.pr;
		.goods_img{.pr;.block;.w(270/310*100%);.h(270/310*100%);.auto;.hidden;}
		span.bs_load_img{.block;opacity: .75;.w(100%);.pt(100%);background-image: url("@{pic_url}/images/huodong/tuan/prebg.png");background-size: 100%;}
		.goods_status{
			.pa;top: 0;left: 0;.w(100%);.h(100%);
			background: no-repeat center;background-size: 120/270*100%;
		}
		.goods_end{background-image: url("@{pic_url}/images/wap/activity/all/bs_over.png");}
		.act_prev{background-image: url("@{pic_url}/images/wap/activity/all/bs_prev.png");}
		.act_over{background-image: url("@{pic_url}/images/wap/activity/all/bs_end.png");}
		.Farm{.pa;top: 0;left: 0;z-index: 5;}
		.Standard{.left;}
	}
	.desc_box{
		.f(1.1rem);.fc(#999);.bs;
		padding: 1/31*100% 2/31*100% 3/31*100%;
		.desc{.h(3rem);.hidden;.f(1.3rem);.l(1.5rem);.fc(#666);}
		.price{
			padding: 15/270*100% 0;border-bottom: 1px solid #d9d9d9;
			.now_price{.f(1.4rem);.fb;}
			.sequence{.pr(20*@px);.pl(5*@px);}
		}
		.like_buy{.hidden;.pt(5/270*100%);}
		.buy_num{.left;}
	}
}

.goods_show_fuzhuang(){
	.goods_units{padding: 20*@w 10*@w 0;.hidden;}
	.goods_box{
		.w(50%);.left;.pr;
		.goods_img{.pr;.block;.w(270/310*100%);.h(270/310*100%);.auto;.hidden;}
		span.bs_load_img{.block;opacity: .75;.w(100%);.pt(100%);background-image: url("@{pic_url}/images/huodong/tuan/prebg.png");background-size: 100%;}
		.goods_status{
			.pa;top: 0;left: 0;.w(100%);.h(100%);
			background: no-repeat center;background-size: 120/270*100%;
		}
		.Farm{.pa;top: 0;left: 0;z-index: 5;}
		.Standard{.left;}
	}
	.desc_box{
		.f(1rem);.fc(#666);.bs;
		padding: 1/31*100% 2/31*100% 3/31*100%;
		.desc{.h(3rem);.hidden;.f(1.2rem);.l(1.5rem);.fc(#666);}
		.price{
			padding: 20/270*100% 0;.f(1.1rem);.c;
			.now_price{.fb;.fc(#fa669b);}
			.sequence{.pr(10*@px);.pl(5*@px);}
		}
		.cart{.w(10rem);.auto;border: 1px solid #fa669b;.fc(#fa669b);padding: .3rem 0;.c;.f(1.2rem);}
		.discount_num{ .bgc(#fa669b);padding: 0 .3rem;.border-r(2px);.fc(#fff); }
	}
}