@import "../../block.less";

html{ .f(10*@f); }
body{ background:#fff; }
img{ .block; .w(100%); }
a{outline: none;}

a{.w(100%);.block;}
.page_target{
	.pr;
	p{.pa;top: 0;left: 96*@w;.w(453*@w);.h(100%);}
	a{.block;.w(33%);.h(100%);.left;}
}
.more_theme{
	a{.left;.w(50%);}
}
.hide_pic{.none;}


/*dialog*/
.dialog();
.draw_box{ .c; margin:20px 0; }
.toupdate{ 
	p{ margin:20px 0; .f(1.4rem);}
	.btn3zi{ .act_btn; .border-r(40*@px); .f(38*@px); .h(60*@px); .l(60*@px); .w(180*@px); margin:12*@px auto;}
}

/*分享*/
.starBox{
	.star_box;
}
