@import "bs_base.less";

.bs_bannar{
	.bgc(#f0f0f0);.mb(-40px);

	&::before{ .transform-origin(0 bottom);z-index: 100; }
}
.top_img{
	.block;.pr;

	span{ .block;.pt(240*@w);.w(100%);background: no-repeat center;background-size: cover; }
}
.count_time{
	padding: 10*@w 0 21*@w 26*@w;.f(1.2rem);.fc(#666);

	.timeStamp{ .ml(.2rem); }
}
.brand_mass{
	.pb(20*@w);.hidden;

	.mass_in{ .w(660*@w);.ml(-20*@w); }
	a{ .left;.w(200/660*100%);.pt(140/660*100%);.indent;.h(0);.f(0);.mb(20/660*100%);.ml(20/660*100%);background: no-repeat center;background-size: cover; }
}


