<fieldset class="setEmail">
	<form id="setEmailForm" method="post" onsubmit="return false" action="">
		<legend>美丽说设置邮箱表单</legend>
		<p><label>当前使用中的邮箱:</label><span class="oldEmail"><%==this.userInfo.email%></span><strong></strong></p>
		<p><label>要修改成的邮箱:</label><input id="new_email" name="email" autocomplete="off" class="l_ipt" type="text" value="" /><strong></strong></p>
		<p><label>&nbsp;</label><span class="setmailTip">为保证顺利接收到激活邮件，建议使用qq邮箱</span></p>
		<div class="setPasswordErrorMessageLine" style="color: #ff6699;margin-left: 150px;margin-bottom: 14px;"></div>
		<input type="submit" value="确认" class="confirm_submit btn" />
	</form>
</fieldset>