<fieldset class="setAddr">
	<form id="setaddr" method="post" onsubmit="return false" action="">
		<legend>收货信息</legend>
		<p><label for="t_name"><span>*</span>真实姓名：</label><input autocomplete="off"  class="l_ipt" id="t_name" name="t_name" type="text" value="<%==this.setAddr.realname%>" /><strong></strong></p>
		<p><label for="add_mark"><span>*</span>收件地址：</label><input autocomplete="off"  class="l_ipt" id="add_mark" name="add_mark" type="text" value="<%==this.setAddr.shipping_address%>" /></p>
		<p><label for="zip_code"><span>*</span>邮政编码：</label><input autocomplete="off"  class="l_ipt" id="zip_code" name="zip_code" type="text" value="<%==this.setAddr.post_code%>" /><strong></strong></p>
		<p><label for="tel_phone"><span>*</span>手机号：</label><input autocomplete="off"  class="l_ipt" id="tel_phone" name="tel_phone" type="text" value="<%==this.setAddr.mobile%>" /><strong></strong></p>
		<p><label for="qq_num">QQ：</label><input autocomplete="off"  class="l_ipt" id="qq_num" name="qq_num" type="text" value="<%==this.setAddr.qq%>" /><strong></strong></p>
		<p><label for="msn_num">MSN：</label><input autocomplete="off"  class="l_ipt" id="msn_num" name="msn_num" type="text" value="<%==this.setAddr.msn%>" /><strong></strong></p>
		<p class="setting_success">修改成功</p>
		<input type="submit" value="" class="ext_submit" />
	</form>
	<div id="regNotice">
		<div class="bottom-left-t">
			<div class="bottom-right-t">
				<div class="top-left-t">
					<p class="top-right-t messageBox"></p>
				</div>
			</div>
		</div>
	</div>
	<div id="regWarning">
		<div class="bottom-left-w">
			<div class="bottom-right-w">
				<div class="top-left-w">
					<p class="top-right-w messageBox"></p>
				</div>
			</div>
		</div>
	</div>
</fieldset>

