#com-search, #shop-search-wrap, .shop_title {
  .search {
    float    : right;
    position : static !important;
    margin   : 41px 0 0 0 !important;
    width    : auto !important;
  }

  .search-txt {
    float       : left;
    border      : 2px solid #f69;
    width       : 437px;
    line-height : 28px;
    height      : 28px;
    padding     : 0 0 0 8px;
    margin      : 0;
  }

  .shop-search-btn {
    display   : inline-block;
    width     : 70px;
    height    : 32px;
    color     : #fff;
    border    : 0;
    font-size : 12px;
    cursor    : pointer;
  }

  .shop-search-for-site {
    background-color : #f69;
  }

  .shop-search-for-shop {
    background-color : #4d4d4d;
  }

  .suggest-box {
    border           : 1px solid #ddd;
    width            : 445px;
    background-color : #fff;
    position         : absolute;
    left             : 0;
    top              : 31px;
    z-index          : 999;
    display          : none;

    .item {
      /*display: block;*/
      line-height : 20px;
      padding     : 2px 10px;
      cursor      : pointer;
      color       : #666;
    }

    div.active {
      background-color : #f2f0f1;
      color            : #f69;
    }

    .spread {
      float      : right;
      margin-top : 12px;
    }

    .tags {
      float : right;
      span {
        color        : #999;
        margin-right : 4px;
        &:hover {
          color : #f69;
        }
      }
    }
  }
}

#shop-search, #shop-search-wrap {
  position    : relative;
  line-height : 32px;
}

.shop_title {
  .search {
    float  : right;
    margin : 12px auto 0 !important;
  }

  .search-txt {
    width : 270px;
  }

  .suggest-box {
    width : 278px;
  }
}
