@import "../block.less";
@import "../window.less";
@import "../block/common_sale.less";
@import "dootablock.import.less";
@import "item/top.import.less";

.redline();
.common_title;
.poster_icons;
.shop_coupon;
.shopBanner;
.shopHeader();

.main{ .bgc(#fff); padding-top :40px;}
.shop-hd { margin-top: 40px; border-top: 1px solid #e6e6e6; }
.new_page_line{ .h(1px); .auto_box; .bgc(#e6e6e6);}
.showcase{.pr; .auto_box; .h(411px); .mt(20px);
  .big1,.big2{.w(220px); .h(380px);}
  .small1,.small2,.small3,.small4{.w(220px); .h(184px);}
  .big1,.big2,.small1,.small2,.small3,.small4{ .pa;
	&:hover{ .s_hat{.block;}}
  }
  .s_hat{.none; .pa; .w(100%); .h(100%); top:0; left:0; background:rgba(102,102,102,0.5); filter:~"progid:DXImageTransform.Microsoft.gradient(startcolorstr=#70666666,endcolorstr=#70666666)"; z-index: 1;
	b{.fc(#fff); .pa; .ellipsis; .f(14px); .h(26px); .l(26px); .w(210px); left: 10px;}
	.s_title{bottom: 34px;}
	.s_price{bottom: 9px;}
  }
  .big1{left: 16px; top: 15px;}
  .big2{left: 480px; top: 15px;}
  .small1{left: 248px; top: 15px;}
  .small2{left: 248px; top: 211px;}
  .small3{left: 712px; top: 15px;}
  .small4{left: 712px; top: 211px;}
}
.goods_list{ .w(950px); .auto;
  .order_by{.mb(15px);.mt(15px);
	.g_title{.left;.f(16px); .fb; .l(20px); border-left: 2px solid #f69; .pl(15px);}
	.orderby_list{.ml(10px);.left;
	  li{.left;.pl(20px);.pr(20px);.h(14px);.mt(3px);
		&.o_item{.border-lc(dotted);}
	  }
	}
  }
}
.poster;
.poster_grid{.pr;
  .new_poster{ .border-n; .w(228px);
	.twiiter_box{.pb(12px);}
	.title{.h(40px);}
  }
}

.user_module { .auto; .mt(30px); .w(948px);
  .all_goods { .hidden;
	li { .left; .inline; .h(423px); .w(228px); .hidden; .mt(10px); .mb(2px); .mr(12px); .ml(0); .tl;
	  .hover_pic { .c; .h(328px); .w(228px); .pr;
		.price{ .bgwhite; .h(18px); .l(18px); .p05; .pa; bottom: 0; right: 0; opacity: 0.8; filter:alpha(opacity=80); }
	  }
	  .tle { .hidden; .break-word; .h(44px); .l(22px); .p5_10;  }
	  .comm_num { .l(22px); .p5_10; }
	}
  }
}


.page;
.pageNav{.page > .pageRed; .pt(14px); .mr(10px); }

.has_no_goods{.auto_box; .pt(240px);.pb(241px);}
.no_goods_bg{.w(419px); .auto; .h(119px); background:url("@{pic_url}/images/shop/no_goods.png") no-repeat;}
.extra_service_down{ .auto_box; .h(30px);}
.extra_service{ .auto_box; border: 1px solid #e6e6e6; .h(78px); .mt(40px); background:url("@{pic_url}/images/shop/extra_service.png") no-repeat;}
.footer{.mt(0px);}
.promiseBox;
.sale_icons;
.itemShopHeader;
#zeroFolDiaLayer, #dialogLayer, .dialogLayer{padding : 0;}
.maga_suc{
	padding: 30px 0;
	.tab_sure{
		.mt(28px);
		.sure{
			padding: 7px 36px; border-radius: 0;
		}
		.sure:hover{
			.bgc(#ff86af);
		}
	}
}

.suc_tip{
	.content{
		.f(16px); .w(118px); .auto; .h(38px); .l(38px); .fc(#333);
	}
	.suc_icon{
		.left; .w(38px);.h(38px); background: url('http://d05.res.meilishuo.net/pic/_o/24/04/aad827b39d80d04f5b83c5f84a95_35_35.cf.png') no-repeat;
		background-size: 100% 100%;
	}
	p{
		.fc(#999);
	}
	.period{
		.mt(18px);
		span{.fc(#ffb357);}
	}
}
#maskLayer, .maskLayer, .transmaskLayer{ .bgc(#000); opacity: .3;}
.close_z:hover{
	background: url("http://d05.res.meilishuo.net/pic/_o/c7/b9/e810b6dc08df19bf7e33bebf7e8f_10_9.cf.png") no-repeat;
}
@import "../footer.less";
