@import "../beauty_sale/bs_base.less";

.tab{
	background: url('http://d05.res.meilishuo.net/img/_o/60/9d/66ee289646767f4d3620443cb72a_640_84.cf.jpg') no-repeat;background-size: 100%;.mt(30*@w);.pr;.hidden;
	div{.w(33%);.pt(84*@w);.left;}
}

.hot,
.rec{
	.hidden;
	a{.left;.w(50%);.mt(10*@w);}
	.bs_load_img{.pt(200/320*100%);.block;.w(100%);background: url("@{pic_url}/images/huodong/tuan/prebg.png") top no-repeat;background-size: 100%;}
}
.goods{
	.pt(20*@w);
}

.fix_tab{
	.pf;top: 0;left: 0;.w(100%);.mt(0);.none;z-index: 10;
}

/* 回顶部 */
.gotop;
.goods_show;
.goods_box{
	.act_prev,
	.act_over,
	.goods_end{
		.pa;top: 50%;left: 50%;.w(120/270*100%);.pt(120/270*100%);.ml(-60/270*100%);.mt(-60/270*100%);background-size: 100%;.h(0);
	}
}