@import "../beauty_sale/bs_base.less";

.tab{
	background: url('http://d03.res.meilishuo.net/img/_o/91/af/685f1c295aee0974f989df6be17b_640_90.cg.png') no-repeat;background-size: 100%;.mt(20*@w);.mb(20*@w);.pr;.hidden;.bgc(#fff);
	div{.w(33%);.pt(90*@w);.left;}
}

.hot{
	.hidden;
	a{.left;.w(305*@w);.mb(10*@w);.ml(10*@w);}
	.bs_load_img{.pt(200/320*100%);.block;.w(100%);background: url("@{pic_url}/images/huodong/tuan/prebg.png") top no-repeat;background-size: 100%;}
}
.rec{
	.hidden;
	a{.w(100%);.mb(20*@w);.left;}
	.bs_load_img{.pt(200*@w);.block;.w(100%);background: url("@{pic_url}/images/huodong/tuan/prebg.png") top no-repeat;background-size: 100%;}
}

.fix_tab{
	.pf;top: 0;left: 0;.w(100%);.mt(0);.none;z-index: 10;
}

/* 回顶部 */
.gotop;
.goods_show;
.goods_box{
	.act_prev,
	.act_over,
	.goods_end{
		.pa;top: 50%;left: 50%;.w(120/270*100%);.pt(120/270*100%);.ml(-60/270*100%);.mt(-60/270*100%);background-size: 100%;.h(0);
	}
}