@import "../beauty_sale/bs_base.less";

.top_bannar{.mb(10*@w);.hidden;.block;}

.bs_tab,
.poster_tab{
	.pl(10*@w);.hidden;.pb(10*@w);
	div{
		.ml(5/630*100%);.w(200/630*100%);.left;
		.c;.fc(#fff);.f(1.4rem);.l(4rem);
		.bgc(#feba95);
	}
	.tab_active,
	.p_tab_active{.bgc(#ee678c);}
}

.seckill_wrap{.w(100%);.hidden;.pr;}
.seckill_inner{-webkit-transition: margin-left .3s ease-in;}
.tab_prev{.pa;left: 0;top: 0;.h(100%);.w(60*@w);z-index: 100;}
.tab_next{.pa;right: 0;top: 0;.h(100%);.w(60*@w);z-index: 100;}
.seckill_goods{
	.pr;.left;
	a{.pa;left: 0;top: 0;.w(100%);.pt(300*@w);}
	.timeStamp_wrap{.pa;bottom: 60*@w;left: 270*@w;.f(1.2rem);}
	.act_over{
		.pa;top: -10%;left: 0;.w(100%);.h(100%);
		background: url("@{pic_url}/images/wap/activity/all/bs_end.png") no-repeat center;background-size: 120*@w;}
}

.poster{.pt(10*@w);}
.fx_tab{.pf;top: 0;left: 0;.w(625*@w);z-index: 100;}
.goods_show;
.pullUp{
	.mt(20px);.mb(20px);
	.pullUpDown > .common;.pullUpDown > .loading;
	&:before{
		.nowrap;
		.ml(-10px);
	}
}

/* 回顶部 */
.gotop;