@import "wd.less";
@import "home.less";

.goods_wrap {
	.border-bd9; .mb(20*@px);
	.goods_img { .w(640*@w); .c; .block; .border-bd9;}
	.goods_info {
		.mod_pd2_3; .clearfix; .bgwhite;
		h2 { .f(30*@px); .l(40*@px); .left; .w(400/580*100%); .fn;}
		.price { .right;}
		.now { .f(36*@px); .pb(10*@px); .block; .red;}
		.normal { .t-through; .block; .tr; .gray;}
	}
}

.goods_msg {
	.mod_pd2_3; .mod_info;
	.type { .left; }
	.info { .ml(70/560*100%);}
	.info_list {
		.border-bd9; .pb(10*@px); .pt(10*@px);
	}
	.pdtop { .pt(30*@px); .pb(10*@px);}
	.info_list, .amount{.l(60*@px);}
	li{
		.i_block;
		.mb(20*@px); .mr(20*@px);
		span {
			.block;.c; .break-word;min-width: 10px; .fc(#797979);
			.pl(40*@px); .pr(40*@px);
			.border-d9; .border-r(8*@px);
			.l(60*@px);
			&.active{ .bgc(#ff80a9);.white; border-color:#ff80a9;}
			&.out_of_stock { .border-1(#d6d6d6); .fc(#d6d6d6);}
		}
	}
	.colorShow{.none;.h(200*@px);.w(142*@px);background-size:100%;.ml(180/560*100%);background-repeat:no-repeat;}
	.num {
		.pt(30*@w);
		.color { .mr(10*@w);}
		.handle { .pl(20/560*100%); .pr(20/560*100%);}
	}
	.beauty_num { .pt(0);}

	.amount{
		.now_num {.gray;.ml(10*@px);}
		.numBox {.left;.c;
			.minus, .plus {
				.hidden;.border-r(8*@px);.red;.border-f69;.w(60*@px); .f(30*@px);
			}
			.minus { .left;}
			.plus { .right; }
			.nums { .c; .left; .hidden; padding:0px;margin:0px 10*@px;.border-d9; .border-r(8*@px); .l(60*@px);.w(100*@px); .h(60*@px); .fc(#797979);}
		}
	}
}

.goods_detail {
	.mod_info; .mod_pd2_3;
	h3 { .f(28*@px); .fc(#333); .pb(20*@px);}
	.detail_cont {
		.detail_img { .w(580/580*100%); .border-d9; .block; .mb(20*@px);}
	}
}

.register_wrap { .pl(30*@px); .pr(30*@px); .mt(20*@px); .mb(130*@px);
	.register_btn { .wd_btn_white; .w(575/575*100%); .h(66*@px); .l(66*@px); }
}

.buy_wrap {
	.border-td9; .c; .mod_pd20; .bgwhite; .pf; bottom: 0; .w(100%);
	.buy_btn { .wd_btn_red; .h(68*@px); .l(68*@px); .w(320/600*100%); }
}
