<%#head.html%>
<div class="main">
		<div class="img_wrap">
			<img src="http://imgtest.meiliworks.com/css/images/huodong/obolai/obs_1204_1_1.jpg" alt="" usemap="#Map">
			<map name="Map">
				<area shape="rect" target="_blank" coords="221,394,369,457" href="http://www.meilishuo.com/u/ENsWnT?frm=oubolai21">
				<area shape="rect" target="_blank" coords="693,60,979,478" href="http://www.meilishuo.com/u/ENsWnT?frm=oubolai22">
			</map>
			<img src="http://imgtest.meiliworks.com/css/images/huodong/obolai/obs_1204_1_2.jpg" alt="" usemap="#Map2">
			<map name="Map2">
				<area shape="rect" target="_blank" coords="138,249,369,482" href="http://www.meilishuo.com/u/ENsWnT?frm=oubolai23">
				<area shape="poly" target="_blank" coords="385,257,404,475,617,468,604,251" href="http://www.meilishuo.com/u/ENsWnT?frm=oubolai24">
				<area shape="poly" target="_blank" coords="636,246,624,465,837,480,849,256" href="http://www.meilishuo.com/u/ENsWnT?frm=oubolai25">
				<area shape="rect" target="_blank" coords="870,251,1092,479" href="http://www.meilishuo.com/u/ENsWnT?frm=oubolai26">
			</map>
			<img src="http://imgtest.meiliworks.com/css/images/huodong/obolai/obs_1204_1_3.jpg" alt="" usemap="#Map3">
			<map name="Map3">
				<area shape="rect" target="_blank" coords="145,175,597,507" href="http://www.meilishuo.com/u/ENsWnT?frm=oubolai27">
			</map>
			<img src="http://imgtest.meiliworks.com/css/images/huodong/obolai/obs_1204_1_4.jpg" alt="" usemap="#Map4">
			<map name="Map4">
				<area shape="rect" target="_blank" coords="143,210,608,996" href="http://www.meilishuo.com/u/ENsWnT?frm=oubolai28">
				<area shape="rect" target="_blank" coords="636,5,1080,1020" href="http://www.meilishuo.com/u/ENsWnT?frm=oubolai29">
			</map>
			<img src="http://imgtest.meiliworks.com/css/images/huodong/obolai/obs_1204_1_5.jpg" alt="" usemap="#Map5">
			<map name="Map5">
				<area shape="circle" target="_blank" coords="332,214,132" href="http://www.meilishuo.com/u/ENsWnT?frm=oubolai30">
				<area shape="circle" target="_blank" coords="335,491,131" href="http://www.meilishuo.com/u/ENsWnT?frm=oubolai31">
				<area shape="poly" target="_blank" coords="501,78,510,558,683,602,827,607,819,554,759,505,766,267,718,117" href="http://www.meilishuo.com/u/ENsWnT?frm=oubolai32">
				<area shape="circle" target="_blank" coords="908,212,129" href="http://www.meilishuo.com/u/ENsWnT?frm=oubolai33">
			</map>
			<img src="http://imgtest.meiliworks.com/css/images/huodong/obolai/obs_1204_1_6.jpg" alt="">
		</div>
	</div>
<%#foot.html%>
