<div class="content_fluid">
	<div class="<%= this.haibaoBox %>">
		<div class="goods_wall"></div>
		<div class="spinner botSpinner none_f"></div>
		<div class="clear_f"></div>
		<div class="paging_panel c_f none_f">
		<%#paging.html%>
		</div>
		<%# poster.html%>
	</div>
</div>
<script>
fml.vars.notFluid = true;
<%= this.poster0? 'Meilishuo.config.poster0 = '+JSON.stringify(this.poster0)+';':'' ;%>
</script>
<% $_ENGINE_SELF.callFn("useModule")("fml.use('page/poster0');", this._JSstack , this._JSmodsFast ); %>
