<%#head.html%>
<div class="greenleaf-bg">
	<div class="top1">
		<div class="video-area">
			<div class="video">
				<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="storage" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="380" height="270">
					<param name="movie" value="http://player.youku.com/player.php/partnerid/XMTI=/sid/XNTk0MTgwMzE2/v.swf?VideoIDS=XNTk0MTgwMzE2&isAutoPlay=true" />
					<param name="quality" value="high" />
					<param name="wmode" value="transparent" />
					<embed src="http://player.youku.com/player.php/partnerid/XMTI=/sid/XNTk0MTgwMzE2/v.swf?VideoIDS=XNTk0MTgwMzE2&isAutoPlay=true" id="cache2" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" width="380" height="270"></embed>
				</object>


			</div>
		</div>
	</div>
	<div class="top2">
		<div class="cont">
			<a href="javascript:;" class="coupon2" cid="201405091812170df8b7387d"></a>
			<a href="javascript:;" class="coupon2" cid="2014050918134668aaf33340"></a>
			<a href="javascript:;" class="coupon1" cid="201405091814308a7ffc5a3c"></a>
		</div>
	</div>
	<div class="top3"></div>
	<div class="main-wrap">
		<div class="main1">
			<a href="http://www.meilishuo.com/share/item/2358194863" class="product-area" target="_blank"></a>
		</div>
		<div class="main2"></div>
		<div class="main3">
			<a href="http://www.meilishuo.com/share/item/2358499637" class="product-area" target="_blank"></a>
		</div>
		<div class="main4">
			<a href="http://www.meilishuo.com/share/item/2358356603" class="product-area1" target="_blank"></a>
			<a href="http://www.meilishuo.com/share/item/2358413235" class="product-area2" target="_blank"></a>
		</div>	
		<div class="main5"></div>
		<div class="main6">
			<a href="http://www.meilishuo.com/share/item/2833783994" class="product-area1" target="_blank"></a>
			<a href="http://www.meilishuo.com/share/item/2780929360" class="product-area2" target="_blank"></a>
		</div>
		<div class="main7"></div>
		<div class="main8">
			<a href="http://www.meilishuo.com/share/item/2358436749" class="product-area" target="_blank"></a>	
		</div>
		<div class="main9">
			<a href="http://www.meilishuo.com/share/item/2358516309" class="product-area" target="_blank"></a>
		</div>	

	</div>
	<div class="line"></div>
	<div class="main10">
		<a href="http://www.meilishuo.com/share/item/2358454063" class="product-area1" target="_blank"></a>
		<a href="http://www.meilishuo.com/share/item/2358475359" class="product-area2" target="_blank"></a>
	</div>
	<div class="leaf-bt"></div>
</div>


<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
     fml.use('page/huodong/greenleaf');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>