<%#head.html%>
<div class="bg">
	<div class="bg1">
		<div class="main">
			<a href="http://j.koolbao.com/tb/71149289/kisskitty.tmall.com/campaign.htm/?scene=taobao_shop&kid=15870_72764_241998_294550" target="_blank" class="d1"></a>
			<a href="http://j.koolbao.com/tb/62258985/kisscat.tmall.com/?kid=6007_72762_241996_294548" class="d2" target="_blank"></a>	
		</div>

	</div>
	<div class="bg2">
		<div class="main">
			<a href="http://detail.tmall.com/item.htm?id=40035889890" class="s1" target="_blank"></a>
			<a href="http://detail.tmall.com/item.htm?id=40170614338" class="s2" target="_blank"></a>
		</div>
	</div>
	<div class="bg3">
		<div class="main">
			<a href="http://detail.tmall.com/item.htm?id=26808660329" class="s1" target="_blank"></a>
			<a href="http://detail.tmall.com/item.htm?id=19500122851" class="s2" target="_blank"></a>
		</div>
	</div>
	<div class="bg4">
		<div class="main">
			<div class="m1">
				<a href="http://detail.tmall.com/item.htm?id=40170210402" target="_blank"></a>
				<a href="http://detail.tmall.com/item.htm?id=40658526604" target="_blank"></a>
				<a href="http://detail.tmall.com/item.htm?id=35579202600" target="_blank"></a>
				<a href="http://detail.tmall.com/item.htm?id=40000207535" target="_blank"></a>
				<a href="http://detail.tmall.com/item.htm?id=40330020370" target="_blank"></a>
				<a href="http://detail.tmall.com/item.htm?id=40282333527" target="_blank"></a>
			</div>	
			<div class="m2">
				<a href="http://detail.tmall.com/item.htm?id=40694445967" target="_blank"></a>
				<a href="http://detail.tmall.com/item.htm?id=40685070205" target="_blank"></a>
				<a href="http://detail.tmall.com/item.htm?spm=0.0.0.0.PuWKoY&id=40733278150" target="_blank"></a>
				<a href="http://detail.tmall.com/item.htm?id=22291975958" target="_blank"></a>
				<a href="http://detail.tmall.com/item.htm?id=21807007590" target="_blank"></a>
				<a href="http://detail.tmall.com/item.htm?id=40415819436" target="_blank"></a>
			</div>	
			<div class="m3">
				<a href="http://detail.tmall.com/item.htm?id=40191700062" target="_blank"></a>
				<a href="http://detail.tmall.com/item.htm?id=40176525333" target="_blank"></a>
				<a href="http://detail.tmall.com/item.htm?id=40604902218" target="_blank"></a>
			</div>		
		</div>
	</div>
</div>
<%#foot.html%>

