<%#head.html%>
<div class="bg">
	<div class="bg1"></div>
	<div class="bg2">
		<div class="main">
			<a class="a1" href="http://detail.tmall.com/item.htm?spm=a1z10.1.w4004-6512918729.8.Cooexd&id=39462096743&acm=03068.1003.1.32803&uuid=5ysBwdrp&abtest=_AB-LR73-PV73_691&scm=1003.1.03068.ITEM_39462096743_32803&pos=3" target="_blank"></a>
			<a class="a2" href="http://detail.tmall.com/item.htm?spm=a1z10.1.w5003-8423955247.2.Cooexd&id=40255515437&scene=taobao_shop" target="_blank"></a>
		</div>
	</div>
	<div class="bg3">
		<div class="main">
			<a class="a1" href="http://detail.tmall.com/item.htm?&id=40313742072" target="_blank"></a>
			<a class="a2" href="http://detail.tmall.com/item.htm?&id=21804203894" target="_blank"></a>
		</div>
	</div>
	<div class="bg4">
		<div class="main">
			<a class="a1" href="http://detail.tmall.com/item.htm?&id=40415819436" target="_blank"></a>
			<a class="a2" href="http://detail.tmall.com/item.htm?&id=40535140128" target="_blank"></a>
			<a class="a3" href="http://detail.tmall.com/item.htm?id=40331113321" target="_blank"></a>
			<a class="a4" href="http://detail.tmall.com/item.htm?&id=40604902218" target="_blank"></a>
			<a class="a5" href="http://detail.tmall.com/item.htm?&id=40398093777" target="_blank"></a>
			<a class="a6" href="http://detail.tmall.com/item.htm?id=40000207535" target="_blank"></a>
			<a class="a7" href="http://detail.tmall.com/item.htm?id=40143643451" target="_blank"></a>
			<a class="a8" href="http://detail.tmall.com/item.htm?&id=39954219146" target="_blank"></a>
		</div>
	</div>
	<div class="bg5">
		<div class="main">
			<a class="a1" href="http://detail.tmall.com/item.htm?spm=a1z10.3.w4011-5079750021.110.9bGOfC&id=37905910924&rn=5909d58605e22693617e949ba5e45a7d" target="_blank"></a>
			<a class="a2" href="http://detail.tmall.com/item.htm?spm=a1z10.3.w4011-5079750021.100.9bGOfC&id=40178789662&rn=5909d58605e22693617e949ba5e45a7d" target="_blank"></a>
			<a class="a3" href="http://detail.tmall.com/item.htm?spm=0.0.0.0.lnR0Ii&id=40370140835" target="_blank"></a>
			<a class="a4" href="http://detail.tmall.com/item.htm?spm=a1z10.1.w5003-8423955247.6.Cooexd&id=40733278150&scene=taobao_shop" target="_blank"></a>
			<a class="a5" href="http://detail.tmall.com/item.htm?spm=a1z10.3.w4011-5079750021.307.DzblIQ&id=40252542686&rn=ddcff7dfb1af2b6dd8679829a7911672" target="_blank"></a>
			<a class="a6" href="http://detail.tmall.com/item.htm?spm=a1z10.1.w5003-8423955247.5.Cooexd&id=40658170164&scene=taobao_shop" target="_blank"></a>
			<a class="a7" href="http://detail.tmall.com/item.htm?spm=a1z10.3.w4011-5079750021.239.WrjP7W&id=37352835300&rn=2d53fa07d7978ff1d4544974d31393cf" target="_blank"></a>
			<a class="a8" href="http://detail.tmall.com/item.htm?spm=a1z10.3.w4011-5079750021.98.DUaIs9&id=40271894214&rn=42fcca5810e7bede0754b187429c3f78" target="_blank"></a>
		</div>
	</div>
	<div class="bg6"></div>
</div>
<%#foot.html%>

