<%#head.html%>
<div class="wrap">
	<div class="main">
		<div class="bg1"></div>
		<div class="bg2"></div>
		<div class="bg3">
			<div class="video">
				<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="1050" height="756">
					<param name="movie" value="http://player.youku.com/player.php/sid/XNzc4ODc2ODYw/v.swf" />
					<param name="quality" value="high" />
					<param name="wmode" value="transparent" />
					<embed src="http://player.youku.com/player.php/sid/XNzc4ODc2ODYw/v.swf" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" width="1050" height="756">
					</embed>
				</object>
			</div>
		</div>
		<div class="bg4">
			<div class="main">
				<a href="http://levi.com.cn" target="_blank"></a>
			</div>
		</div>
		<div class="bg5">
			<div class="main">
				<a class="b1" href="http://levi.com.cn" target="_blank"></a>
				<a class="b2" href="http://levi.com.cn" target="_blank"></a>
				<div class="lbbox">
					<div class="top_bnr">
						<ul class="banner">
							<li style="position: absolute; top: 0px; left: 0px; ">
								<a class="pic" href="http://levi.com.cn"  target="_blank">
									<img src="http://i.meilishuo.net/css/images/huodong/levi/z1.jpg"/>
								</a>
							</li>
							<li>
								<a class="pic" href="http://levi.com.cn" target="_blank">
									<img src="http://i.meilishuo.net/css/images/huodong/levi/z2.jpg"/>
								</a>
							</li>
							<li>
								<a class="pic" href="http://levi.com.cn"  target="_blank">
									<img src="http://i.meilishuo.net/css/images/huodong/levi/z3.jpg"/>
								</a>
							</li>
							<li>
								<a class="pic" href="http://levi.com.cn" target="_blank">
									<img src="http://i.meilishuo.net/css/images/huodong/levi/z4.jpg"/>
								</a>
							</li>				
						</ul>
					</div>

					<div class="round">
						<div class="adType">
							<a></a>
							<a></a>
							<a></a>
							<a></a>
						</div>
					</div>

				</div>

				<div class="lbbox2">
					<div class="top_bnr">
						<ul class="banner">
							<li style="position: absolute; top: 0px; left: 0px; ">
								<a class="pic" href="http://levi.com.cn"  target="_blank">
									<img src="http://i.meilishuo.net/css/images/huodong/levi/y1.jpg"/>
								</a>
							</li>
							<li>
								<a class="pic" href="http://levi.com.cn"  target="_blank">
									<img src="http://i.meilishuo.net/css/images/huodong/levi/y2.jpg"/>
								</a>
							</li>
							<li>
								<a class="pic" href="http://levi.com.cn" target="_blank">
									<img src="http://i.meilishuo.net/css/images/huodong/levi/y3.jpg"/>
								</a>
							</li>
							<li>
								<a class="pic" href="http://levi.com.cn" target="_blank">
									<img src="http://i.meilishuo.net/css/images/huodong/levi/y4.jpg"/>
								</a>
							</li>				
						</ul>
					</div>

					<div class="round">
						<div class="adType">
							<a></a>
							<a></a>
							<a></a>
							<a></a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/huodong/levi');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>


