<%# head.html %>
<div class="main">
	<div class="content">
		<div class="head"><a id="actived_intro" class="actived_intro" href="javascript:void(0)"></a></div>
		<div class="videoWrap">
			<iframe src="http://www.maybellinechina.com/masterliner/video.aspx?resource=meilishuo" style="height:480px;height:495px\9;width:770px;" frameborder="0"></iframe>
		</div>
		<div class="shareMls">
			<a id="share_mls_btn" href="javascript:void(0)"></a>
		</div>
		<div class="mlQA">
			<img src="<%= this.PICTURE_URL%>images/huodong/masterliner/newQAQ.jpg">
			<iframe src="http://www.maybellinechina.com/masterliner/qa.aspx?resource=meilishuo" frameborder="0" style="width:950px;height:750px;height:750px\9;"></iframe>
		</div>
		<div class="question">
			<a href="javascript:void(0)" class="unslider-arrow prev"></a>
			<div class="questionWap">
				<ul>
					<a class="question_13" data="funnyVideo" href="http://www.meilishuo.com/u/EJagi_?frm=maybelline20" target="_blank"></a>
					<a class="question_12" data="funnyVideo" href="http://www.meilishuo.com/u/EJY7VB?frm=maybelline19" target="_blank"></a>
					<a class="question_11" data="funnyVideo" href="http://www.meilishuo.com/u/EJV2kj?frm=maybelline18" target="_blank"></a>
					<a class="question_10" data="funnyVideo" href="http://www.meilishuo.com/u/EJV2hR?frm=maybelline17" target="_blank"></a>
					<a class="question_9" data="funnyVideo" href="http://meilishuo.com/u/EJUkeV?frm= maybelline01" target="_blank"></a>
					<a class="question_8" data="funnyVideo" href="http://meilishuo.com/u/EJUkBN?frm= maybelline02" target="_blank"></a>
					<a class="question_7" data="funnyVideo" href="http://meilishuo.com/u/EJUkpt?frm= maybelline03" target="_blank"></a>
					<a class="question_6" data="funnyVideo" href="http://meilishuo.com/u/EJUksR?frm= maybelline04" target="_blank"></a>
					<a class="question_5" data="funnyVideo" href="http://meilishuo.com/u/EJUkuL?frm= maybelline05" target="_blank"></a>
					<a class="question_4" data="funnyVideo" href="http://meilishuo.com/u/EJUkwB?frm= maybelline06" target="_blank"></a>
					<a class="question_3" data="funnyVideo" href="http://meilishuo.com/u/EJUkxt?frm= maybelline07" target="_blank"></a>
					<a class="question_2" data="funnyVideo" href="http://meilishuo.com/u/EJUky1?frm= maybelline08" target="_blank"></a>
					<a class="question_1" data="funnyVideo" href="http://meilishuo.com/u/EJUk0n?frm= maybelline09" target="_blank"></a>
				</ul>
			</div>
			<a href="javascript:void(0)" class="unslider-arrow next"></a>
		</div>
		<div class="newSale">
			<a href="http://maybelline.tmall.com/p/rd360452.htm?spm=110.0.w5001-3570951662.5.3k13PT&&scene=taobao_shop" id="swfwrap" data="TMALL_ZX" target="_blank"></a>
			<embed src="http://stc-tx.meiliworks.com/css/images/huodong/masterliner/newlink.swf" width="760" height="32" id="swf" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="opaque">
			<a href="http://meilishuo.com/u/EJUk4F?frm= maybelline10" data="TMall ML" target="_blank"></a>
		</div>
		<div class="foot"></div>
	</div>
</div>

<!--弹窗-->
<script type="text/html" id="activityIntro">
	<div class="activityWrap">
		<div class="activityIntro">
			<span id="close_btn_1"></span>
		</div>
	</div>
</script>

<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-43433562-1']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>



<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/huodong/masterliner');
_use:", this._JSstack , this._JSmods ); %>
<%# foot.html %>