<%#head.html%>
<div class="bd">
    <div class="bg1">
        <div class="main">
            <a href="http://www.meilishuo.com/u/EZXNIv?frm=olay100
" target="_blank"></a>
        </div>
    </div>
    <div class="bg2">
        <div class="main">
            <div class="intro_video">


                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="storage" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="435" height="352">
                    <param name="movie" value="http://static.video.qq.com/TPout.swf?auto=1&vid=s0131gk2zdt" />
                    <param name="quality" value="high" />
                    <param name="wmode" value="transparent" />
                    <embed src="http://static.video.qq.com/TPout.swf?auto=1&vid=s0131gk2zdt" id="cache2" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" width="435" height="352"></embed>
                </object>

            </div>
            <a href="http://www.meilishuo.com/u/EZXNLx?frm=olay101
" target="_blank" class="l1"></a>
        </div>

    </div>
    <div class="bg3"></div>
    <div class="bg4"></div>
    <div class="bg5">
        <div class="main">
            <a href="http://www.meilishuo.com/u/EZY3hn?frm=olay102" target="_blank" class="l1"></a>
            <a href="http://www.meilishuo.com/u/EZXNUH?frm=olay103" target="_blank" class="l2"></a>
            <a href="http://www.meilishuo.com/u/EZXNVd?frm=olay104
" target="_blank" class="l3"></a>
        </div>
    </div>
    <div class="bg6">
        <div class="main">
            <a href="http://www.meilishuo.com/u/EZY3h1?frm=olay105" target="_blank" class="l1"></a>
            <a href="http://www.meilishuo.com/u/EZXNbX?frm=olay106" target="_blank" class="l2"></a>
            <a href="http://www.meilishuo.com/u/EZXNVd?frm=olay107" target="_blank" class="l3"></a>
        </div>
    </div>
    <div class="bg7">
        <div class="main">
            <a href="http://www.meilishuo.com/u/EZY3iX?frm=olay108" target="_blank" class="l1"></a>
            <a href="http://www.meilishuo.com/u/EZXNhp?frm=olay109" target="_blank" class="l2"></a>
            <a href="http://www.meilishuo.com/u/EZXNVd?frm=olay110" target="_blank" class="l3"></a>
        </div>
    </div>
    <div class="bg8">
        <div class="main">
            <a href="http://www.meilishuo.com/u/EZY3iv?frm=olay111" target="_blank" class="l1"></a>
            <a href="http://www.meilishuo.com/u/EZXNlx?frm=olay112" target="_blank" class="l2"></a>
            <a href="http://www.meilishuo.com/u/EZXNVd?frm=olay113" target="_blank" class="l3"></a>
        </div>
    </div>
</div>
<div class="bt"></div>

<%#foot.html%>