<%#head.html%>
<div class="banner"></div>
<div class="area1">
	<a href="http://www.meilishuo.com/biz/sale/prepare01/" target="_blank" class="link1"></a>
	<a href="http://www.meilishuo.com/biz/sale/prepare02/" target="_blank" class="link2"></a>
</div>
<div class="area2">
	<a href="http://www.meilishuo.com/biz/sale/prepare03/" target="_blank" class="link1"></a>
	<a href="http://www.meilishuo.com/biz/sale/prepare04/" target="_blank" class="link2"></a>
</div>
<div class="area3">
	<a href="http://www.meilishuo.com/biz/sale/prepare05/" target="_blank" class="link1"></a>
	<a href="http://www.meilishuo.com/biz/sale/prepare06/" target="_blank" class="link2"></a>
</div>
<div class="area4">
	<a href="http://www.meilishuo.com/biz/sale/prepare07/" target="_blank" class="link1"></a>
	<a href="http://www.meilishuo.com/biz/sale/prepare08/" target="_blank" class="link2"></a>
</div>
<div class="area5">
	<a href="http://www.meilishuo.com/biz/sale/prepare09/" target="_blank" class="link1"></a>
	<a href="http://www.meilishuo.com/biz/sale/prepare10/" target="_blank" class="link2"></a>
</div>
<div class="area6">
	<a href="http://www.meilishuo.com/biz/sale/prepare11/" target="_blank" class="link1"></a>
	<a href="http://www.meilishuo.com/biz/sale/prepare12/" target="_blank" class="link2"></a>
</div>
<div class="area7">
</div>
<%#foot.html%>