<%#head.html%>
<div class="shop_bg01"></div>
<div class="shop_bg02"></div>
<div class="shop_bg03">
	<div class="content">
		<div class="apply_btn" data-type="daren"></div>
	</div>
</div>
<div class="shop_bg04">
	<div class="content">
		<div class="apply_btn" data-type="design"></div>
	</div>
</div>
<div class="shop_bg05">
	<div class="content">
		<div class="apply_btn" data-type="brand"></div>
	</div>
</div>
<div class="shop_bg06"></div>
<div class="shop_bg07"></div>
<div class="shop_bg08">
	<div class="content">
		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1586804581&site=qq&menu=yes" class="dialog_qq" title="点击咨询"></a>
	</div>
</div>
<div class="shop_bg09">
	<div class="content">
		<div class="apply_btn"></div>
	</div>
</div>
<div class="shop_bg10"></div>
<div class="shop_bg11"></div>
<div class="shop_bg12">
	<div class="content">
		<a href="http://www.meilishuo.com/shop/100014" target="_blank" class="link1"></a>
		<a href="http://www.meilishuo.com/shop/154127" target="_blank" class="link2"></a>
		<a href="http://www.meilishuo.com/shop/154193" target="_blank" class="link3"></a>
	</div>
</div>
<div class="shop_bg13">
	<div class="content">
		<a href="http://www.meilishuo.com/shop/106761" target="_blank" class="link1"></a>
		<a href="http://www.meilishuo.com/shop/104205" target="_blank" class="link2"></a>
		<a href="http://www.meilishuo.com/shop/106993" target="_blank" class="link3"></a>
		<a href="http://www.meilishuo.com/shop/100054" target="_blank" class="link4"></a>
	</div>
</div>
<div class="shop_bg14"></div>

<script type="text/html" id="apply_layer">
	<div class="layer_main">
		<div class="close_apply"></div>
		<div class="layer_form">
			<p class="form_li"><input type="text" class="add_text check_name"><span class="tip"></span></p>
			<p class="form_li"><input type="text" class="add_text check_tel" value="请填写11位手机号码"><span class="tip"></span></p>
			<p class="form_li"><input type="text" class="add_text check_qq"><span class="tip"></span></p>
			<p class="form_li"><input type="text" class="add_shop check_shop" value="链接请以http://开头"><span class="tip_shop"></span></p>
			<div class="submit_btn"></div>
			<p class="tip_text">* 如填写遇到问题请咨询:  010 - 57733832</p>
		</div>
	</div>
</script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
     fml.use('page/huodong/shopJoin');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>