<div class="upload_wraper pa_f hidden_f <%=this.upload_style%>">
	<div class="upload_area" re_upload="<%=this.reload_style%>">
		<form action="/imageupload/CustomActivity_image_upload" class="upload_pho" method="POST" enctype="multipart/form-data" target="upload_iframe" >
			<input type="file" name="attach" size="1" class="attach_photo" style="opacity:0; filter: alpha(opacity:0);"/>
		</form>
		<iframe class="upload_iframe none_f" name="upload_iframe" frameborder="0"></iframe>
	</div>
	<div class="imgbox">
		<img class="preview none_f">
	</div>
</div>
