<%# head.html%>
<% 
	this.headName = '找回密码'; 
	var headTag = this.headTag;
	//var isNewest = this.isNewest;
	var isNewest = !this.os.iphone || this.appVersion;
%>
<%if(!this.mlsApp){%>
	<%# head_share.html%>
<%}%>

<div class="findPwd" <%if(isNewest){%>style="margin-top:0px;"<%}%>>
	<fieldset>
		<form id="findPwdForm" method="post" onsubmit="return false" action="">
			<legend></legend>
			<% if(headTag == 'find_pwd_form' || headTag == ''){ %>
			<p><span class="title">使用已注册的邮箱或手机号找回密码</span></p>
			<div class="input_wrapper">
				<input id="mlsUser" type="text" name="mlsUser" <% if (this.mobile) {%>value="<%== this.mobile%>" placeholder=""<%} else {%> value="" placeholder="输入邮箱或手机号"<%}%> />
				<div class="line"></div>
				<div class="checkBox" id="checkBox">
					<input id="checkcode" name="checkcode" type="text" value="" maxlength="4" placeholder="验证码"/>
					<div class="checkImage">
						<span id="checkcodeImage">
							<img width="90" height="36" isblank="true" src="<%= this.PICTURE_URL %>images/register/blank.jpg">
						</span>
					</div>
				</div>
			</div>
			<div class="errorMessage"></div>
			<div class="submitBox"><input id="submit_btn" class="button left_f" type="submit" value="下一步"/></div>
			<%} else if(headTag == 'find_pwd_send_email'){ %>
			<p><span class="title">密码重置邮件已发送至你的邮箱，请前往您的邮箱查看邮件，根据邮件提示完成验证。</span></p>
			<!-- <div class="submitBox"><input id="submit_btn" class="button left_f" type="submit" value="回首页"/></div> -->
			<%} else if(headTag == 'find_pwd_send_sms'){ %>
			<p><span class="title">已向你的手机<%==this.mobile%>发送了验证码</span></p>
			<div class="captchaBox">
				<input type="hidden" id="mobile" value="<%==this.mobile%>" />
				<input id="captcha" type="text" maxlength="6" placeholder="验证码" />
				<span class="red_f timeBox"></span>
			</div>
			<div class="errorMessage"></div>
			<div class="submitBox"><input id="submit_btn" class="button left_f" type="submit" value="下一步"/></div>
			<%} else if(headTag == 'find_pwd_reset'){ %>
			<p><span class="title">验证通过！请输入新的密码</span></p>
			<div class="input_wrapper">
				<p><input type="hidden" id="validate_code" value=<%==this.validate_code%> />
				   <input id="new_password" type="password" name="new_password" value="" placeholder="新密码"/></p>
				<div class="line"></div>
				<p><input id="confirm_password" type="password" name="confirm_password" value="" placeholder="确认密码"/></p>
			</div>
			<div class="errorMessage"></div>
			<div class="submitBox"><input id="submit_btn" class="button left_f" type="submit" value="完成"/></div>
			<%} else if(headTag == 'find_pwd_success'){%>
			<p><span class="title">恭喜你!密码修改成功。请牢记你的新密码哦。</span></p>
			<div class="submitBox">
				<input type="hidden" id="appVersion" value="<%= this.appVersion %>" />
				<input id="submit_btn" class="loginNow" type="submit" value="立即登陆"/>
			</div>
			<%} %>
		</form>
	</fieldset>
</div>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/findPwd');
	fml.use('wap/page/global');
_use:", this._JSstack , this._JSmods); %>
<%# foot_simple.html%>
