@import "../../block.less";
img{
	.block;
	.w(100%);
}
html,body { .h(100%);}

.main{
	.h(100%);
	.Title{
		.auto;
		.pt(7%);
		-webkit-transition:-webkit-transform 1s;
		-webkit-transform:translateX(100%);
	}
	.start{
		.w(70%);
		.auto;
		.pt(7%);
		.pb(16%);
		 -webkit-animation: rot 1s ease-in infinite;  
	}
	.M_logo{
		.w(20%);
		.auto;
	}

}
.starBox { .star_box; }

@-webkit-keyframes rot {    
    0% {-webkit-transform: rotate(5deg);} 
    50%{-webkit-transform: rotate(-5deg);}  
    100% {-webkit-transform: rotate(5deg);}    
}  
