<script type="text/html" id="posterWall">
<?
    $.each(this.tInfo , function(k , v){
    var pic_height = v.pic_height * fml.vars.poster.scale;
?>
<div class="poster_grid poster_wall" twitter_id="<?=v.twitter_id?>" style="width:<?= fml.vars.poster.colWidth?>px;" poster_height="<?= pic_height + 68?>">
	<figure>
		<a class="pic_load" href="<?= v.client_url?>" style="height:<?= pic_height ?>px;">
			<img src="<?= v.pic_url ?>" alt="<?= v.title ?>" title="<?= v.title ?>"/>
		</a>
		<figcaption>
			<? if(v.goods_price){?>
			<span class="price"><?= v.goods_price?></span>
			<? }?>
			<span class="like icon-vote"><?= v.vote_count?></span>
			<div class="clear_f"></div>
			<p class="btnBox">
				<?if(!v.is_vote){?>
				<a class="btn vote_girl" mac="<?=v.mac?>">投票</a>
				<?}else{?>
				<a class="voted">已投票</a>
				<?}?>
			</p>
		</figcaption>
	</figure>
</div>
<? }); ?>
</script>
