<%# head.html%>
<% var getLink = _extFn.getLink; %>
<%
	var eventId = this.event_id;
	var banner = this.banner && this.banner.data && this.banner.data.pc_qingcang_top_banner;
	var nav = this.nav && this.nav.data; 
%>

<div class="wrap">
	<%if(banner && banner.length > 0){%>
	<div class="banner" style="background:url('<%= banner[0].show_pic%>') no-repeat center top;"></div>
	<%}%>
	<div class="rush_nav" id="rush_nav">
		<div class="nav_box">
			<div class="nav_cont">
				<%if(nav && nav.length > 0){%>
				<ul class="nav_tabs">
					<%nav.forEach(function(item, index){%>
					<li <%= ( (!this.cata && index == 0) || this.cata == item.cata ) ? 'class="curr"' : ''%>>
						<a href="/activity/clearance/index/<%= eventId%><%=getLink({'cata':item.cata,'sbase':this.sbase,'sort':this.sort})%>#rush_nav"><%= item.name%></a>
					</li>
					<%});%>
				</ul>
				<%}%>
				<ul class="range">
			        <li <%if(this.sbase === "0"||!this.sbase){%> class="active"<%}%>>
			        	<a href="/activity/clearance/index/<%=eventId%><%=getLink({'cata':(this.cata ? this.cata : ''),'sbase':0,'sort':0})%>#rush_nav">默认</a>
			        	<span class="special">|</span>
			        </li>
			        <li<%if(this.sbase === "1"){%> class="active"<%}%>>
			          	<a href="/activity/clearance/index/<%=eventId%><%=getLink({'cata': (this.cata ? this.cata : ''),'sbase':1,'sort':(this.sbase === "1" && this.sort === "1")? '0' : '1'})%>#rush_nav">人气<i class="<%= (this.sbase === "1"&&this.sort === "1")? 'arrow_t' : 'arrow_d';%>">&nbsp;</i></a>
			          	<span class="special">|</span>
			        </li>
			        <li<%if(this.sbase === "2"){%> class="active"<%}%>>
			          	<a href="/activity/clearance/index/<%=eventId%><%=getLink({'cata': (this.cata ? this.cata : ''),'sbase':2,'sort':(this.sbase === "2" && this.sort === "1")? '0' : '1'})%>#rush_nav">折扣<i class="<%= (this.sbase === "2"&&this.sort === "1")? 'arrow_t' : 'arrow_d';%>">&nbsp;</i></a>
			          	<span class="special">|</span>
			        </li>
			        <li<%if(this.sbase === "3"){%> class="active"<%}%>>
			          	<a href="/activity/clearance/index/<%=eventId%><%=getLink({'cata': (this.cata ? this.cata : ''),'sbase':3,'sort':(this.sbase === "3" && this.sort === "1")? '0' : '1'})%>#rush_nav">价格<i class="<%= (this.sbase === "3"&&this.sort === "1")? 'arrow_t' : 'arrow_d';%>">&nbsp;</i></a>
			          	<span class="special">|</span>
			        </li>
			        <li<%if(this.sbase === "4"){%> class="active"<%}%>>
			          	<a href="/activity/clearance/index/<%=eventId%><%=getLink({'cata': (this.cata ? this.cata : ''),'sbase':4,'sort':(this.sbase === "4" && this.sort === "1")? '0' : '1'})%>#rush_nav">销量<i class="<%= (this.sbase === "4"&&this.sort === "1")? 'arrow_t' : 'arrow_d';%>">&nbsp;</i></a>
			        </li>
			    </ul>
			</div>
		</div>
	</div>
	<div class="goods_wall_box">
		<div class="spinner midSpinner"></div>
		<div class="goods_wall"></div>
	</div>
	<div class="spinner botSpinner none_f"></div>
	<div class="clear_f"></div>
	<div class="paging_panel c_f none_f">
		<%# paging.html%>
	</div>
</div>
<div class="nav_right d-nav">
	<div class="menu_main">
	</div>
</div>
<script type="text/html" id="posterWall">
	<?for(var i = 0 ; i < tInfo.length; i++){
		var item = tInfo[i];
	?>
		<li class="goodsItem poster_wall">
			<?if(item.horizontal_mark && item.horizontal_mark.length > 0 && item.horizontal_mark[0] && item.horizontal_mark[0].img_url){?>	
			<div class="new-png">
				<span style="position:relative;left:0px">
					<img src="<?= item.horizontal_mark[0].img_url?>">
				</span>
			</div> 	
			<?}?>		 			
			<a class="s_pic" href="<?= item.url?>" target="_blank" title="">	 
				<img src="<?= item.show_pic?>" class="bs_load_img">
			</a>
			<div class="desc_box">
				<p class="txt">
					<a href="<?= item.url ?>" target="_blank"><?= item.ginfo.goods_title?></a>
				</p>
				<p class="pold">原价：<s><?= item.ginfo.goods_price ?></s></p>
				<p class="info-goods" style="border:none;">
					疯抢价<span class="f-18">¥</span>
					<span class="f-14"><?= item.ginfo.discount_goods_price ?></span>
					<span class="num"><?= item.ginfo.discount ?></span>
				</p>
			</div>
		</li>
	<?}?>
</script>
<script type="text/javascript">
fml.vars.event_id = <%= this.event_id%>;
fml.vars.isShow = <%= this.ViewTools.timeStuff({'2015/12/8 00:00:00' : 1, '2015/12/13 23:59:59' : 0} , 0 ) %>;
</script>

<% $_ENGINE_SELF.callFn("useModule")("fml.use('page/poster0');", this._JSstack , this._JSmodsFast ); %>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/huodong/clearance');
_use:", this._JSstack , this._JSmods); %>
<%# foot.html%>