<%# head.html%>
<div class="formTop">
	<span class="icon order">我的订单</span>
</div>
<div class="route_bread">
	<a href="<%=this.DOMAIN.www%>/">美丽说</a>
	<samp>&gt;</samp>
	<a href="<%= this.DOMAIN.order%>/order/list/">我的美丽说订单</a>
	<samp>&gt;</samp>
	<span class="red_f">确认收货</span>
</div>
<div class="current_status">
	<div class="cur_txt">当前状态：等待顾客确认收货</div>
	<div class="flowStep">
		<ul>
			<li class="current">
				<span></span>
				<div class="redline"></div>
				<p>提交订单</p>
			</li>
			<li class="current">
				<span></span>
				<div class="redline"></div>
				<p>支付</p>
			</li>
			<li class="current">
				<span></span>
				<div class="redline"></div>
				<p>发货</p>
			</li>
			<li class="current">
				<span></span>
				<p class="last">确认收货</p>
			</li>
			<div class="clear_f"></div>
		</ul>
	</div>
</div>
<div class="container">
	<div class="bought_goods">
		<table>
			<colgroup>
				<col width="20">
				<col width="30">
				<col width="340">
				<col>
				<col>
				<col>
				<col width="120">
				<col width="120">
			</colgroup>
			<thead>
				<tr>
					<th>&nbsp;</th>
					<th>&nbsp;</th>
					<th>商品信息</th>
					<th>单价（元）</th>
					<th>数量</th>
					<th>售后</th>
					<th>小计（元）</th>
					<th>订单状态</th>
				</tr>
			</thead>
			<tbody>
				<tr class="seller_info">
					<td colspan="8">
						<span>商家：Achol设计生活馆</span>
						<a class="getserviceqq" href="#" target="_blank">&nbsp;</a>
					</td>
				</tr>
				<tr class="order_goods">
					<td class="blank_row">&nbsp;</td>
					<td class="tl"><input type="checkbox"></td>
					<td class="goods">
						<a href="#" target="_blank">
							<img class="pic" src="http://d03.res.meilishuo.net/pic/b/23/5d/2b8e4867ff34f6b114246a13dea8_400_540.c6.jpg">
						</a>
						<div class="des">
							<div class="title">
								人本2013秋冬新品加绒 经典帆布鞋 百搭低帮女鞋松糕纯色布鞋子
							</div>
							<div class="spec">
								<span>颜色：深蓝 </span>
								<span>尺码：37</span>
							</div>
						</div>
					</td>
					<td>129.99</td>
					<td>3</td>
					<td>退款/退货申请中</td>
					<td class="status" rowspan="1">389.97</td>
					<td class="operate" rowspan="1"> 已发货</td>
				</tr>
			</tbody>
		</table>
		<div class="order_time">
			<span>订单号：12090982304980 </span>
			<span>成交时间：2013-09-12 12:12</span>
			<span>成功付款时间：2013-09-12 14:23 </span>
		</div>
		<div class="total">
			<p>
				<span>优惠劵扣减：40.00元</span>
				<span>运费：10.00元</span>
				<span class="last">商品总价：<b>￥2304.99</b></span>
			</p>
			<span>优惠劵：未使用</span>
		</div>
	</div>
	<div class="order_connect">
		<a class="confirm_btn" href="#">确认收货</a>
		<span>联系客服：400-XXXX-XXXX转客服工作时间：9:00至19:00）</span>
	</div>
</div>
<%# foot.html%>
