<%#head.html%>
<div class="jiemaogao_box">
	<div class="content">
		<div class="banner"></div>
		<img usemap="#pro1_01" src="<%= this.PICTURE_URL%>images/huodong/jiemaogao/pro1_01.jpg" />
		<map name="pro1_01" id="pro1_01">
			<area shape="rect" coords="344,119,620,417" href="http://www.meilishuo.com/u/EDEwNt" target="_blank"/>
			<area shape="rect" coords="649,300,880,454"  href="http://www.meilishuo.com/u/EPCe_r" target="_blank" />
			<area shape="rect" coords="648,235,947,385"  href="http://www.meilishuo.com/u/ENuuWh" target="_blank" />
		</map>
		<img usemap="#pro1_02" src="<%= this.PICTURE_URL%>images/huodong/jiemaogao/pro1_02.jpg" />
		<map name="pro1_02" id="pro1_02">
			<area shape="rect" coords="36,38,316,338" href="http://www.meilishuo.com/u/EPCe0n" target="_blank" />
			<area shape="rect" coords="344,36,622,336" href="http://www.meilishuo.com/u/EPCe2j" target="_blank" />
			<area shape="rect" coords="649,37,927,338" href="http://www.meilishuo.com/u/EJfl2l" target="_blank" />
		</map>
		<img usemap="#pro1_03" src="<%= this.PICTURE_URL%>images/huodong/jiemaogao/pro1_003.jpg" />
		<map name="pro1_03" id="pro1_03">
			<area shape="rect" coords="36,54,315,355" href="http://www.meilishuo.com/u/EPCe4v" target="_blank" />
			<area shape="rect" coords="342,53,621,354" href="http://www.meilishuo.com/u/EPCe7P" target="_blank" />
			<area shape="rect" coords="649,54,928,355" href="http://www.meilishuo.com/u/EPClX3" target="_blank" />
		</map>
		<div class="use1"></div>
		<div class="use2"></div>
		<div class="use3"></div>
		<div class="use4_1"></div>
		<div class="use4_2"></div>
	</div>
	<div class="welfare">
		<img usemap="#welfare" src="<%= this.PICTURE_URL%>images/huodong/jiemaogao/welfare.jpg" />
		<map name="welfare" id="welfare">
			<area shape="rect" coords="75,29,876,104" href="http://www.meilishuo.com/welfare" target="_blank" />
			<area shape="rect" coords="13,152,306,358" href="http://www.meilishuo.com/welfare/activity/353" target="_blank" />
			<area shape="rect" coords="326,152,619,357" href="http://www.meilishuo.com/welfare/activity/349" target="_blank" />
			<area shape="rect" coords="643,152,937,359" href="http://www.meilishuo.com/welfare/activity/357" target="_blank" />
		</map>
	</div>
</div>
<%#foot.html%>
