<%#head.html%>
<div class="btzdnwn_top">
	<div class="top_banner">
		<div class="top_title"></div>
		<a class="top_pho" href="http://www.meilishuo.com/group/36096599?frm=NXN01" target="_blank"></a>
		<div class="top_txt"></div>
	</div>
</div>
<div class="btzdnwn_content1">
	<div class="bg_change">
		<div class="content1">
			<div class="mt5_f">
				<img name="g_1" src="<%=this.PICTURE_URL%>images/huodong/btzdnwn/g_1.jpg" id="g_1" usemap="#g_1" alt="青涩毕业季" />
				<map name="g_1" id="g_1">
					<area shape="poly" coords="765,403,765,552,882,552,882,438,822,403,765,403" href="http://www.meilishuo.com/minisite/maybelline?frm=NXN07" target="_blank" title="美宝莲眼线笔" alt="美宝莲眼线笔" />
					<area shape="poly" coords="629,387,629,561,756,561,756,420,710,387,629,387" href="http://www.meilishuo.com/minisite/innisfreechina?frm=NXN06" target="_blank" title="悦诗风吟香榧密集局部精华素" alt="悦诗风吟香榧密集局部精华素" />
					<area shape="poly" coords="629,249,774,249,775,400,713,400,629,343,629,249" href="http://www.meilishuo.com/share/1584969591?frm=NXN03" target="_blank" title="花短裤" alt="花短裤" />
					<area shape="poly" coords="622,57,622,234,766,234,766,78,731,57,622,57" href="http://www.meilishuo.com/share/1606106119?frm=NXN04" target="_blank" title="白色背心" alt="白色背心" />
					<area shape="poly" coords="773,163,932,163,932,349,773,349,773,163" href="http://www.meilishuo.com/group/13456645?frm=NXN05" target="_blank" title="小草包" alt="小草包" />
					<area shape="poly" coords="740,43,909,43,909,150,775,150,740,43" href="http://www.meilishuo.com/minisite/conversechina?frm=NXN02" target="_blank" title="Converse" alt="Converse" />
				</map>
			</div>
			<div class="mt5_f">
				<img name="g_2" src="<%=this.PICTURE_URL%>images/huodong/btzdnwn/g_2.jpg" id="g_2" usemap="#g_2" alt="休闲度假风" />
				<map name="g_2" id="g_2">
					<area shape="rect" coords="151,325,277,538" href="http://www.meilishuo.com/minisite/Loreal_paris?frm=NXN12" target="_blank" title="欧莱雅肌肌底透白深透精华水" alt="欧莱雅肌肌底透白深透精华水" />
					<area shape="rect" coords="9,288,144,549" href="http://www.meilishuo.com/minisite/orbis?frm=NXN11" target="_blank" title="ORBIS 极致抗阳防晒霜 " alt="ORBIS 极致抗阳防晒霜 " />
					<area shape="rect" coords="156,155,274,313" href="http://www.meilishuo.com/group/15700064?frm=NXN10" target="_blank" title="夹脚凉鞋" alt="夹脚凉鞋" />
					<area shape="rect" coords="151,46,273,132" href="http://www.meilishuo.com/group/33648644?frm=NXN08" target="_blank" title="太阳镜" alt="太阳镜" />
					<area shape="rect" coords="10,78,151,284" href="http://www.meilishuo.com/share/1582270187?frm=NXN09" target="_blank" title="连衣裙" alt="连衣裙" />
				</map>
			</div>
			<div class="mt5_f">
				<img name="g_3" src="<%=this.PICTURE_URL%>images/huodong/btzdnwn/g_3.jpg" id="g_3" usemap="#g_3" alt="居家小女人" />
				<map name="g_3" id="g_3">
					<area shape="poly" coords="768,382,840,326,936,326,936,539,768,539,768,382" href="http://www.meilishuo.com/brand/loccitane?frm=NXN18" target="_blank" title="欧舒丹乳木果润肤露" alt="欧舒丹乳木果润肤露" />
					<area shape="poly" coords="636,277,636,402,745,402,825,338,776,277,636,277" href="http://www.meilishuo.com/share/1605604967?frm=NXN16" target="_blank" title="心型吊坠" alt="心型吊坠" />
					<area shape="rect" coords="623,407,749,542" href="http://www.meilishuo.com/minisite/origins?frm=NXN17" target="_blank" title="悦木之源储水赋活凝乳" alt="悦木之源储水赋活凝乳" />
					<area shape="rect" coords="805,180,925,324" href="http://www.meilishuo.com/group/35520558?frm=NXN15" target="_blank" title="拖鞋" alt="拖鞋" />
					<area shape="rect" coords="778,24,936,180" href="http://www.meilishuo.com/brand/adidasoriginals?frm=NXN14" target="_blank" title="Adidas短裤" alt="Adidas短裤" />
					<area shape="rect" coords="623,47,779,269" href="http://www.meilishuo.com/group/13813093?frm=NXN13" target="_blank" title="boyfriend毛衣" alt="boyfriend毛衣" />
				</map>
			</div>
			<div class="mt5_f" style="padding-bottom:10px;">
				<img name="g_4" src="<%=this.PICTURE_URL%>images/huodong/btzdnwn/g_4.jpg" id="g_4" usemap="#g_4" alt="职场御姐" />
				<map name="g_4" id="g_4">
					<area shape="rect" coords="162,322,269,401" href="http://www.meilishuo.com/group/22099891?frm=NXN23" target="_blank" title="镂空手镯" alt="镂空手镯" />
					<area shape="rect" coords="275,415,382,568" href="http://www.meilishuo.com/person/u/24764053?frm=NXN25" target="_blank" title="mac粉底液" alt="mac粉底液" />
					<area shape="rect" coords="140,409,260,584" href="http://www.meilishuo.com/brand/esteelauder?frm=NXN24" target="_blank" title="雅诗兰黛即时修护特润精华露" alt="雅诗兰黛即时修护特润精华露" />
					<area shape="rect" coords="9,445,131,583" href="http://www.meilishuo.com/minisite/lancome?frm=NXN26" target="_blank" title="lancome大明星睫毛膏" alt="lancome大明星睫毛膏" />
					<area shape="rect" coords="267,118,389,305" href="http://www.meilishuo.com/group/29171037?frm=NXN22" target="_blank" title="米白衬衫" alt="米白衬衫" />
					<area shape="poly" coords="135,318,160,190,265,190,265,318,135,318" href="http://www.meilishuo.com/group/24451020?frm=NXN19" target="_blank" title="裸色细带高跟鞋" alt="裸色细带高跟鞋" />
					<area shape="rect" coords="36,224,137,443" href="http://www.meilishuo.com/group/28413928?frm=NXN21" target="_blank" title="九分西装裤" alt="九分西装裤" />
					<area shape="poly" coords="159,18,159,168,250,168,289,18,159,18" href="http://www.meilishuo.com/group/16724560?frm=NXN33 " target="_blank" title="囧包" alt="囧包" />
					<area shape="rect" coords="20,18,158,222" href="http://www.meilishuo.com/group/15713313?frm=NXN20" target="_blank" title="灰色长西装" alt="灰色长西装" />
				</map>
			</div>
		</div>
	</div>
</div>
<div class="btzdnwn_content2">
	<div class="content2">
		<div class="g_5_title"></div>
		<div>
			<img name="g_5" src="<%=this.PICTURE_URL%>images/huodong/btzdnwn/g_5.jpg" id="g_5" usemap="#g_5" alt="" />
			<map name="g_5" id="g_5">
				<area shape="rect" coords="328,816,609,916" href="http://www.meilishuo.com/act/165?frm=NXN32" target="_blank" title="点击进入" alt="点击进入" />
				<area shape="rect" coords="525,369,711,648" href="http://www.meilishuo.com/group/14464233?frm=NXN29" target="_blank" title="森女" alt="森女" />
				<area shape="rect" coords="224,397,408,678" href="http://www.meilishuo.com/group/19143311?frm=NXN31" target="_blank" title="文艺范儿" alt="文艺范儿" />
				<area shape="rect" coords="653,57,833,343" href="http://www.meilishuo.com/group/34316985?frm=NXN28" target="_blank" title="原宿" alt="原宿" />
				<area shape="rect" coords="363,85,549,343" href="http://www.meilishuo.com/group/13161134?frm=NXN30" target="_blank" title="萝莉" alt="萝莉" />
				<area shape="rect" coords="88,34,272,303" href="http://www.meilishuo.com/group/18066255?frm=NXN27" target="_blank" title="小清新" alt="小清新" />
			</map>
		</div>
		<div class="g_5_btm"></div>
	</div>
</div>
<%#foot.html%>
