<%#head.html%>
<div class="caTop">
	<div class="ca_center1">
		<!--新浪微博关注组件-->
		<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
		<div class="sina"><wb:follow-button uid="1832904402" type="red_1" width="67" height="24" ></wb:follow-button></div>
		<a href="http://e.weibo.com/canoncn" target="_blank" class="weibo"></a>
		<a href="http://sale.jd.com/act/mq68EUuHSaYeg12.html" target="_blank" class="pro"></a>
	</div>
</div>
<div class="caGroup">
	<div class="ca_center2">
		<% 
			var showimg = 0;
			var magItemRenderFn = requireFn('group/magitem.html');
			this.ca_group && this.ca_group.map(function(magazine){ %>
				<%= magItemRenderFn(magazine , showimg++)%>	
		<% });%>
	</div>
</div>
<div class="caBuy">
	<div class="ca_center22">
		<a href="http://sale.jd.com/act/mq68EUuHSaYeg12.html" target="_blank" class="youhui"></a>
		<a href="http://item.jd.com/931904.html" target="_blank" class="pink"></a>
		<a href="http://item.jd.com/931905.html" target="_blank" class="blue"></a>
		<% if( 1382112000 * 1000 >= Date.parse(new Date())) { %>
			<p class="time timeStamp" end-date="1382112000"><span id="day"></span>天<span id="hour"></span>时<span id="minute"></span>分<span id="seconds"></span>秒</p>
		<%}else{%>
			<p class="time">0天0时0分00秒</p>
		<%}%>
	</div>
</div>
<div class="caWlf">
	<div class="ca_center3" id="darenPhoto">
		<ul>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/bd1.jpg" rel="group6"><img src="<%= this.PICTURE_URL%>images/huodong/canon/sd1.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/bd2.jpg" rel="group6"><img src="<%= this.PICTURE_URL%>images/huodong/canon/sd2.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/bd3.jpg" rel="group6"><img src="<%= this.PICTURE_URL%>images/huodong/canon/sd3.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/bd4.jpg" rel="group6"><img src="<%= this.PICTURE_URL%>images/huodong/canon/sd4.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/bd5.jpg" rel="group6"><img src="<%= this.PICTURE_URL%>images/huodong/canon/sd5.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/bd6.jpg" rel="group6"><img src="<%= this.PICTURE_URL%>images/huodong/canon/sd6.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/bd7.jpg" rel="group6"><img src="<%= this.PICTURE_URL%>images/huodong/canon/sd7.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/bd8.jpg" rel="group6"><img src="<%= this.PICTURE_URL%>images/huodong/canon/sd8.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/bd9.jpg" rel="group6"><img src="<%= this.PICTURE_URL%>images/huodong/canon/sd9.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/bd10.jpg" rel="group6"><img src="<%= this.PICTURE_URL%>images/huodong/canon/sd10.jpg" /></a></li>
		</ul>
	</div>
</div>
<div class="caDaren1">
	<div class="ca_center4">
		<a href="<%= this.PICTURE_URL%>images/huodong/canon/daren6.jpg" rel="group1"><img src="<%= this.PICTURE_URL%>images/huodong/canon/tou10.gif" /></a>
	</div>
</div>
<div class="caDaren2">
	<div class="ca_center5">
		<a href="<%= this.PICTURE_URL%>images/huodong/canon/daren7.jpg" rel="group2"><img src="<%= this.PICTURE_URL%>images/huodong/canon/tou11.gif" /></a>
	</div>
</div>
<div class="caDaren3">
	<div class="ca_center6">
		<a href="<%= this.PICTURE_URL%>images/huodong/canon/daren8.jpg" rel="group3"><img class="daren1" src="<%= this.PICTURE_URL%>images/huodong/canon/tou13.gif" /></a>
		<a href="<%= this.PICTURE_URL%>images/huodong/canon/daren9.jpg" rel="group4"><img class="daren2" src="<%= this.PICTURE_URL%>images/huodong/canon/tou14.gif" /></a>
	</div>
</div>
<div class="caIntro">
	<a class="ca_center8" href="http://sale.jd.com/act/mq68EUuHSaYeg12.html" target="_blank"></a>
</div>
<div class="caPro">
	<div class="ca_center7" id="photoPlay">
		<ul>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/b1.jpg" rel="group5"><img src="<%= this.PICTURE_URL%>images/huodong/canon/s1.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/b2.jpg" rel="group5"><img src="<%= this.PICTURE_URL%>images/huodong/canon/s2.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/b3.jpg" rel="group5"><img src="<%= this.PICTURE_URL%>images/huodong/canon/s3.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/b4.jpg" rel="group5"><img src="<%= this.PICTURE_URL%>images/huodong/canon/s4.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/b5.jpg" rel="group5"><img src="<%= this.PICTURE_URL%>images/huodong/canon/s5.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/b6.jpg" rel="group5"><img src="<%= this.PICTURE_URL%>images/huodong/canon/s6.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/b7.jpg" rel="group5"><img src="<%= this.PICTURE_URL%>images/huodong/canon/s7.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/b8.jpg" rel="group5"><img src="<%= this.PICTURE_URL%>images/huodong/canon/s8.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/b9.jpg" rel="group5"><img src="<%= this.PICTURE_URL%>images/huodong/canon/s9.jpg" /></a></li>
			<li><a href="<%= this.PICTURE_URL%>images/huodong/canon/b10.jpg" rel="group5"><img src="<%= this.PICTURE_URL%>images/huodong/canon/s10.jpg" /></a></li>
		</ul>
	</div>
</div>

<script language="javascript">
var _wmxq = _wmxq || []; 
_wmxq.push(["_getTracker", "Canon","meilishuo130910","wt5.1to1crm.com.cn"]); _wmxq.push(["trackPageview"]);
 (function() {    var sc = document.createElement("script"); sc.type = "text/javascript"; sc.async = true;
 sc.src = ("https:" == document.location.protocol ? "https" : "http:") + "//wt5.1to1crm.com.cn/web_service/TrackingJS/wmxtracker.js";
 var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(sc, s);  })();
 </script>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/huodong/canon');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>
