<%#head.html%>
<div class="dang">
	<div class="dd_topbg">
		<a href="http://www.meilishuo.com/u/EB6UCT?frm=dangdang1" target="_blank" class="dlinks"></a>
		<div style="position:absolute; top:479px; right:15px; width:270px;">
			<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="270" height="120" id="按钮" align="middle">
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="movie" value="http://stc-tx.meiliworks.com/css/images/huodong/dangdang/ddShareBtn4.swf" />
				<param name="menu" value="false" />
				<param name="quality" value="high" />
				<param name="wmode" value="transparent" />
				<param name="bgcolor" value="#ffffff" />
				<embed src="http://stc-tx.meiliworks.com/css/images/huodong/dangdang/ddShareBtn4.swf" menu="false" quality="high" wmode="transparent" bgcolor="#ffffff" width="270" height="120" name="按钮" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
			</object>
		</div>
		<div class="dd">
		</div>
	</div>
	<div class="goods_wall content_fluid"></div>
	<%#poster.html%>
<!-- 	<div class="share_group">
		<p>推荐到</p>
		<ul>
			<li><span class="i_qzone"></span></li>
			<li><span class="i_sina"></span></li>
			<li><span class="i_tx"></span></li>
		</ul>
	</div> -->
	<div class="spinner botSpinner none_f"></div>
    <div class="clear_f"></div>
	<div class="paging_panel c_f none_f">
	<%#paging.html%>
	</div>
</div>

	<!--弹窗-->
	<script type="text/html" id="huodong">
	    <div class="ddpop">
			<div class="goods_ddimg">
				<img src="<%= this.PICTURE_URL %>images/huodong/dangdang/dd_look.jpg" class="magaImgage" />
			</div>
			<dl class="dd_look">
				<dt>1、挑选宝贝</dt>
				<dd class="dd_link">
					<a href="http://www.meilishuo.com/u/EB6UPt?frm=dangdang2" target="_blank">人气名品美搭季</a><a href="http://www.meilishuo.com/u/EB6URT?frm=dangdang3" target="_blank" style="margin-right:0;">潮流美靴风向标</a><a href="http://www.meilishuo.com/u/EB6USz?frm=dangdang4" target="_blank" style="padding:0 22px; width:121px;">至In潮妆Style</a><a href="http://meilishuo.com/u/ECGqOb?frm=dangdang05" target="_blank" style="margin-right:0;">热火精品专场秀</a>
				</dd>
				<dt>2、粘贴链接</dt>
				<dd class="lg">请在下面输入当当网宝贝的链接地址：</dd>
				<dd class="preview">
					<input type="text" class="ddurl" />
					<input type="button" value="预览" class="ddsure" />
				</dd>
				<dd id="linkMessageTips"><span class="ddmsg"></span></dd>
				<dd class="sub"><span class="ddmsg"></span>&nbsp;<input class="ddsub" disabled="true" type="button" value="提&nbsp;交" /></dd>
			</dl>
	    </div>
	</script>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/huodong/dangdang');
	fml.use('page/poster');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>
