<%# head.html %>	
<div class="content">
	<div class="item top" style="background-image:url(//d05.res.meilishuo.net/pic/_o/9c/21/d4ed2ea05f99d3abc7adeb736330_2000_420.cf.png); height:420px;"></div>
	<div class="item" style="background-image:url(//d05.res.meilishuo.net/pic/_o/2d/29/68268b09e07045c43472a4d396a5_948_608.cg.png); height:608px;"></div>
	<div class="item" style="background-image:url(//d05.res.meilishuo.net/pic/_o/3d/83/174bc4a5cee74df0ff3a602b4654_948_513.ch.png); height:513px;"></div>
	<div class="item" style="background-image:url(//d03.res.meilishuo.net/pic/_o/fd/f0/a20cb39db721ee18c80a82770273_948_827.cf.png); height:827px;"></div>
	<div class="item" style="background-image:url(//d05.res.meilishuo.net/img/_o/d5/e2/1c93dcc9dd34170b5de1dfb1c8f6_948_500.cf.jpg); height:500px;"></div>
	<div class="item bottom" style="background-image:url(//imgtest-dl.meiliworks.com/img/_o/90/80/4514345ce0e3030238a727c04a36_948_367.ch.jpg); height:367px;">
		<a class="link1" target="_blank" href="http://mp.weixin.qq.com/s?__biz=MjM5NjAxNDE2MA==&mid=205380218&idx=3&sn=1bcf8238f6860739e617f32a1bcba7b6&scene=1&key=b2574200810f04e84d697994227a87144085b0c90f5d137e6909fdf0d51515b4cb72aba76e02e63a7c43f52570715927&ascene=1&uin=MjUzOTQ2NzIwMw%3D%3D&devicetype=webwx&version=70000001&pass_ticket=52%2FgZcTK%2F%2F0GHUHWZb6r1522rIUkcc0O80nFGVXLvHBJMxemM9vtmX26Mfw%2BjNo9"></a>
		<a class="link2" target="_blank" href="http://news.sina.com.cn/o/2015-04-10/111931702580.shtml"></a>
		<a class="link3" target="_blank" href="http://www.ebrun.com/20150421/131671.shtml"></a>
		<a class="link4" target="_blank" href="http://mt.sohu.com/20150424/n411836610.shtml"></a>
		<a class="link5" target="_blank" href="http://roll.sohu.com/20150430/n412176830.shtml?qq-pf-to=pcqq.c2c"></a>
	</div>


	
</div>
<%# foot.html %>