<%#head.html%>
	<div class="mc-bd">
		<div class="mc-bg1">
			<div class="main_cont">
				<div class="erweima"></div>
			</div>
		</div>
		<div class="mc-bg2">
			<div class="main_cont">
				<a href="https://detail.tmall.com/item.htm?spm=a1z10.1-b.w5003-11952747244.4.g16KMh&id=520630696867&scene=taobao_shop" target="_blank" id="link_1"></a>
				<a href="https://detail.tmall.com/item.htm?spm=a1z10.1-b.w5003-11952747244.4.g16KMh&id=520630696867&scene=taobao_shop" target="_blank" id="link_2"></a>
				<a href="https://detail.tmall.com/item.htm?spm=a1z10.1-b.w5003-11952747244.4.g16KMh&id=520630696867&scene=taobao_shop" target="_blank" id="link_3"></a>
			</div>
		</div>
		<div class="mc-bg3">
			<div class="main_cont">
				<div class="masters master_1 check_master">
					<b>达人：大meng</b>
				</div>
				<div class="masters master_2">
					<b>达人：六楼F座桑小姐</b>
				</div>
				<div class="masters master_3">
					<b>达人：TryingToBeCooo</b>
				</div>
				<div class="masters master_4">
					<b>达人：陈rita</b>
				</div>
				<img src="<%=this.PICTURE_URL%>/images/huodong/free_pc/free_pc_desc1.png" id="master_wrap" />
			</div>
		</div>
		<div class="mc-bg4">
			<a href="https://freejj.tmall.com/?spm=a1z10.3-b.w5001-11342113106.4.ihEWCO&scene=taobao_shop" target="_blank">
				<div class="main_cont"></div>
			</a>
		</div>
	</div>
	<% $_ENGINE_SELF.callFn("useModule")("fml.use('page/poster0');", this._JSstack , this._JSmodsFast ); %>
		<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/huodong/free_pc');
_use:", this._JSstack , this._JSmods ); %>
			<%#foot.html%>