<%# head.html %>	
<div class="w_main">
  <div class="main">
    <div class="box">
      
      <video src="http://i.meilishuo.net/css/images/wap/promotion/sale_1508/20150724.mp4" controls="controls" style="width:400px;height:246px">
        your browser does not support the video tag
      </video>

    </div>
  </div>
</div>
<div class="banner2"></div>
<div class="banner3"></div>
<div class="banner4"></div>
<div class="banner5"></div>
<div class="banner6">
  <div class="content">
    <a href="http://www.meilishuo.com/share/item/3499382145" class="link" target="_blank"></a>
    <a href="http://www.meilishuo.com/share/item/3674478445" class="link" target="_blank"></a>
    <a href="http://www.meilishuo.com/share/item/3602499795" class="link" target="_blank"></a>
    <a href="http://www.meilishuo.com/share/item/3674448749" class="link" target="_blank"></a>
  </div>
</div>
<div class="banner7"></div>
<div class="banner8"></div>
<div class="banner9"></div>
<div class="banner10">
  <div class="content">
    <a href="http://www.meilishuo.com/share/item/3687016653" class="link" target="_blank"></a>
    <a href="http://www.meilishuo.com/share/item/3713573149" class="link" target="_blank"></a>
    <a href="http://www.meilishuo.com/share/item/3583035101" class="link" target="_blank"></a>
    <a href="http://www.meilishuo.com/share/item/3662058735" class="link" target="_blank"></a>
  </div>
</div>
<div class="banner11"></div>
<div class="banner12"></div>
<div class="banner13">
  <div class="content">
    <a href="http://www.meilishuo.com/share/item/3652055719" class="link" target="_blank"></a>
    <a href="http://www.meilishuo.com/share/item/3620225343" class="link" target="_blank"></a>
    <a href="http://www.meilishuo.com/share/item/3587951515" class="link" target="_blank"></a>
    <a href="http://www.meilishuo.com/share/item/3641598539" class="link" target="_blank"></a>
  </div>
</div>
<div class="banner14"></div>
<div class="banner15"></div>
<div class="banner16"></div>
<div class="banner17"></div>
<!-- http://i.meilishuo.net/css/images/wap/promotion/sale_1508/20150724.mp4 -->


<%# foot.html %>
