<%#head.html%>
	<div class="mc_bd">
		<div class="mc_bg1">
			<div class="main_cont">
				<a href="http://www.meilishuo.com/share/item/3833814221" style="width: 100%;height: 100%;display: block;" target="_blank"></a>
			</div>
		</div>
		<div class="mc_bg2"></div>
		<div class="mc_bg3"></div>
		<!--<div class="mc_bg4"></div>-->
		<div class="mc_bg5">
			<div class="main_cont">
				<a href="http://www.meilishuo.com/share/item/3833814221" class="buyLink" target="_blank"></a>
				<a href="javascript:;" id="rule_link" class="rule_link"></a>
				<div class="cj_area" id="cj_big_box">
					<div id="cj_area" style="width: 100%;height: 100%;"></div>
					<div class="lucky_box cj_box" id="lucky_box">
						<h3 class="cj_jp">恭喜您获得<b id="cj_jp"></b></h3>
						<p class="ltips">奖品奖寄到您的默认收货地址，我们将会尽快给您寄送奖品。</p>
						<p class="user_info"><span class="user_name" id="user_name"></span><span class="user_phone" id="user_phone"></span></p>
						<p class="user_address" id="user_address">我们将会尽快给您寄送奖品我们将会尽快给您寄送奖品我们将会尽快给您寄送奖品我们将会尽快给您寄送奖品</p>
						<a href="javascript:;" id="ok_address" class="btn_ok_style">确认提交</a>
					</div>
				</div>
			</div>
		</div>
		<div class="mc_bg6"></div>
		<div class="mc_bg7"></div>
		<!--<div class="mc_bg8"></div>-->
		<script type="text/html" id="dialogTips">
			<div class="dialog_box">
				<div class="dialog_con dia_style1">
					<span class="close" id="closeDialog">x</span>
					<p class="cj_tips">请完成购买支付，才能参与抽奖，赢缤纷好礼！</p>
					<div class="btn_con">
						<!--<a href="javascript:;" class="zf_ok">已完成支付</a>-->
						<a href="javascript:void(0)" target="_blank" class="buy_ok" id="now_buy">去购买</a>
					</div>
				</div>
			</div>
			<span id="addr_id" data_id="0"></span>
			<span id="record_id" data_id="0"></span>
		</script>
		<script type="text/html" id="dialogRule">
			<div class="dialog_box">
				<div class="oppo_rule">
					<span class="closeRule" id="closeRule"></span>
					<img src="http://i.meilishuo.net/css/images/huodong/oppo_pc/oppo_pc_rule_18.png" />
				</div>
			</div>
		</script>
	</div>
	<% $_ENGINE_SELF.callFn("useModule")("fml.use('page/poster0');", this._JSstack , this._JSmodsFast ); %>
		<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/huodong/oppo_pc');
_use:", this._JSstack , this._JSmods ); %>
			<%#foot.html%>