<%#head.html%>
<%
	var wlInfoRenderFn = requireFn('welfare/welfare_info.html');
%>
<div class="orbis_box">
	<div class="orbis_center">
		<div class="orbis_top">
			<div class="orbis_apo" id="o1"></div>
		</div>
		<div class="orbis_limite">
			<a href="http://www.orbis.com.cn/product-934.html" target="_blank" onclick="_smq.push(['custom', 'ljgm', ' 立即购买']);"></a>
			<div class="orbis_apo" id="o2"></div>
		</div>
		<div class="orbis_tpic2"></div>
		<div class="orbis_t2in">
			<div class="orbis_miracle"></div>
			<div class="orbis_daren">
				<div class="orbis_d1">
					<span class="orbis_nd1"></span>
					<span class="orbis_meng"></span>
				</div>
				<div class="orbis_d2">
					<span class="orbis_nd2"></span>
					<span class="orbis_meng"></span>
				</div>
				<div class="orbis_d3">
					<span class="orbis_nd3"></span>
					<span class="orbis_meng"></span>
				</div>
				<div class="orbis_d4">
					<span class="orbis_nd4"></span>
					<span class="orbis_meng"></span>
				</div>
				<div class="orbis_d5">
					<span class="orbis_nd5"></span>
					<span class="orbis_meng"></span>
				</div>
				<div class="orbis_d6">
					<span class="orbis_nd6"></span>
					<span class="orbis_meng"></span>
				</div>
				<div class="orbis_darentext"></div>
			</div>
			<div class="orbis_apo" id="o4"></div>
		</div>
		<div class="orbis_sales"></div>
		<div class="orbis_t3in">
			<div class="orbis_wf">
				<%=wlInfoRenderFn(this.wl_header)%>
			</div>
			<div class="orbis_sina">
				<iframe width="320" height="310"  frameborder="0" scrolling="no" src="http://widget.weibo.com/livestream/listlive.php?language=zh_cn&width=320&height=310&uid=2930737602&skin=1&refer=1&appkey=&pic=0&titlebar=1&border=1&publish=1&atalk=1&recomm=0&at=0&ptopic=ORBIS%E6%BE%84%E5%87%80Style&atopic=ORBIS%E6%BE%84%E5%87%80Style&dpc=1"></iframe>
			</div>
			<div class="orbis_apo"></div>
		</div>
		<div class="orbis_tpic"></div>
		<div class="orbis_t4in">
			<div class="orbis_user">
			<%this.users_apply && this.users_apply.map(function(data){%>
				<div class="wl_she">
					<a class="wl_sheimg" target="_blank" href="/person/u/<%=data.user_id%>"><span asrc="<%=data.avatar_c%>"></span></a>
					<a class="wl_shename" target="_blank" href="/person/u/<%=data.user_id%>"><%=data.nickname%></a>
				</div>
			<%});%>
			</div>
			<% if(this.user_list.followed == 0) {%>
			<span class="orbis_join">立即<br />加入</span>
			<%}else if(this.user_list.followed == 1){%>
			<span class="orbis_join">已经<br />加入</span>
			<%}%>
			<div class="orbis_apo" id="o3"></div>
		</div>
		<div class="orbis_tpic1"></div>
		<div class="orbis_pro">
			<p>限时特惠，从明星特惠开始走进ORBIS无油无虑的美丽世界。<span>新会员首次购物可获得20元代金券！</span></p>
			<a href="http://www.orbis.com.cn/product-1175.html" target="_blank" class="orbis_pro1" onclick="_smq.push(['custom', 'xsylsztyz', '新水原力三周体验组(滋润型)赠卸妆中样']);" ></a>
			<a href="http://www.orbis.com.cn/product-1190.html" target="_blank" class="orbis_pro2" onclick="_smq.push(['custom', 'xhhsztyz', '新和汉三周体验组(滋润型)赠卸妆中样']);"></a>
			<a href="http://www.orbis.com.cn/product-1182.html" target="_blank" class="orbis_pro3" onclick="_smq.push(['custom', '360sxjz', ' 360°速效净妆美白专题页面']);" ></a>
			<a href="http://www.orbis.com.cn/product-1184.html" target="_blank" class="orbis_pro4" onclick="_smq.push(['custom', '360sxjz', ' ORBIS高人气明星套装专题页面']);" ></a>
		</div>
		<!--导航浮层-->
		<div class="orbis_nav" id="orbis_nav">
			<ul>
				<li><a href="#o1" class="orb_hnav0"></a></li>
				<li><a href="#o2" class="orb_hnav1"></a></li>
				<li><a href="#o2" class="orb_hnav2"></a></li>
				<li><a href="#o3" class="orb_hnav3"></a></li>
				<li><a href="#o4" class="orb_hnav4"></a></li>
			</ul>
		</div>
	</div>
</div>
<%*弹窗部分--转发到微博@好友--通过绑定%>
<script type="text/html" id="welfare_apply">
<div class="welfare_apply" id="welfare_apply_after">
	<p class="wf_explain">我们会优先选择有真人头像的姑娘获奖~</p>
	<form class="wf_form" onsubmit="return false;" action="">
		<input type="hidden" name="activity_id" value="<%=this.wl_header.activity_id%>">
		<p>
			<span class="wa_info">真实姓名：</span>
			<input id="real_name" class="wfipt1" type="text" value="<?=info.realname?>" name="real_name">
		</p>
		<p>
			<span class="wa_info">联系电话：</span>
			<input id="telephone" class="wfipt1" type="text" value="<?=info.mobile?>" name="telephone">
		</p>
		<p>
			<span class="wa_info">收货地址：</span>
			<input id="address" class="wfipt2" type="text" value="<?=info.shipping_address?>" name="address">
		</p>
		<p>
			<span class="wa_info">申请理由：</span>
			<textarea id="reason" class="wfipt3" name="reason"></textarea>
		</p>
		<p>
			<span class="wa_info">备注：</span>
			<input id="note" class="wfipt2" type="text" placeholder="非必填选项，按此活动需求，请填写你衣服或鞋子的尺寸" name="note">
		</p>
		<p class="l22_f">
			<span class="wa_info">同步：</span>
			<div id="weibo_area">
				<p>
					<?if(fans && fans.length>0) {?><span id="weibo_area_change">换一组</span>同步到我的微博，并@美丽说和我的好友
					<?} else {?>
					同步到我的微博，并@美丽说。
					<?}?>
				</p>
				<div class="mt5_f">
					<?fans && $.each(fans, function(k, v){?>
					<img class="avatar48_f" alt="<?=v.screen_name?>" src="<?=v.image_url?>">
					<?});?>
					<div class="clear_f"></div>
				</div>
				<?if(fans && fans.length>0) {?>
				<p class="mt5_f">你@了<span id="weibo_area_info">0</span>位微博好友</p>
				<?}?>
			</div>
		</p>
		<p>
			<label class="cursor_f"><input fuid="<%=this.wl_info.userInfo.user_id%>" id="fol_actor" type="checkbox" checked>关注<%=this.user_list.nickname%></label>
			<br/>
			<label class="cursor_f"><input id="share_home" type="checkbox" checked>分享到我的首页</label>
		</p>
		<p>
			<input id="applying_submit" type="submit" value="提交申请">
			<a class="wf_cancel" href="javascript:void(0)">取消</a>
		</p>
	</form>
</div>
</script>
<%*弹窗部分--转发到微博@好友--未绑定%>
<script type="text/html" id="welfare_apply_before">
<div class="welfare_apply_before">
	<p class="c_f">亲，绑定以下任意微博就能参加活动啦！</p>
	<div class="mt14_f wf_bind">
		<a class="wfr_ico1" href="/settings/syncBind/weibo"></a>
		<a class="wfr_ico2" href="/settings/syncBind/txweibo"></a>
		<div class="clear_f"></div>
	</div>
</div>
</script>
<%*弹窗部分--转发到微博@好友--绑定失败%>
<script type="text/html" id="welfare_apply_error">
<div class="c_f">
	<p class="erro_info">授权失败，请再试一次吧！</p>
	<p>
		<span class="btn sure" id="welfare_sure">确定</span>
		<span class="" id="welfare_return">返回</span>
	</p>
</div>
</script>
<%*申请成功提示%>
<script type="text/html" id="welfare_apply_success">
<div class="apply_success">
	<p>你已经成功提交申请了，我们会尽快处理，</p>
	<%*207号福利社定制功能 4.16下线%>
	<%if(this.wl_header.activity_id == 207){%>
	<p>来<a class="red_f fb_f" href="http://c.admaster.com.cn/c/a13079,b200160760,c1981,i0,m101,h" target="_blank">ORBIS官网</a>浏览，寻找更多惊喜。</p>	
	<%}else{%>
	<p>获得试用资格的MM将收到系统消息通知，</p>
	<p>请注意查收哦～</p>
	<%}%>
	<%if(this.wf_girl.followed == 0){%>
	<p>想获得更多福利情报，请关注福利花小美^_^</p>
	<div class="mt8_f clearfix_f" style="margin-left:20px;">
		<a class="left_f" target="_blank" href="/person/u/<%=this.wf_girl.user_id%>">
			<img width="86" height="86" src="<%=this.wf_girl.avatar_a%>">
		</a>
		<div class="wf_girl_r">
			<a class="f14_f fb_f block_f" target="_blank" href="/person/u/<%=this.wf_girl.user_id%>"><%=this.wf_girl.nickname%>
				<span class="identity_big_style">
				<%= jsRender('identity.html')(this.wf_girl) ;%>
				</span>
			</a>
			<span class="red_follow add_follow_ok" fuid="<%= this.wf_girl.user_id%>" following=<%= this.wf_girl.following%> followed="<%= this.wf_girl.followed%>">+ 加关注</span>
		</div>
	</div>
	<%}else{%>
	<p class="mt14_f" style="margin-left:100px;"><input class="apply_success_ok cursor_f btn sure" type="button" value="确定"/></p>
	<%}%>
</div>
</script>
<script>
	Meilishuo.config.begin = <%=this.wl_header.begin%>;
	Meilishuo.config.activity_id = <%=this.wl_header.activity_id%>;
	Meilishuo.config.editor = <%=this.wl_header.editor%>;
	Meilishuo.config.pid = <%=this.wl_header.twitter_images_id%>;
	Meilishuo.config.wl_title = '<%=this.wl_header.title%>';
	Meilishuo.config.topic_title = '<%=this.wl_header.topic_title%>';
</script>
<script type="text/javascript">
	var _smq = _smq || [];
	_smq.push(['_setAccount', 'C2E0DE77', new Date()]);
	_smq.push(['_setDirectoryIndex', '']);
	_smq.push(['pageview']);
	(function() {
		var sm = document.createElement('script'); sm.type = 'text/javascript'; sm.async = true;
		sm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdnmaster.com/sitemaster/sm.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sm, s);
	})();
</script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
     fml.use('page/huodong/orbis');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>
