<%#head.html%>
<%
	var code =  {};
%>
<div class="main">
	<div class="title">
		<img class="code" src="<%=this.PICTURE_URL%>/images/activity/aixiaochu/recode.png">
		<!-- <div class="code"></div> -->
		<div class="size1"></div>
		<div class="size2"></div>
		<div class="size3"></div>
		<div class="game">
			<div class="game-board">
				<div class="board">
					<img class="wh" src="<%=this.PICTURE_URL%>/images/activity/aixiaochu/paopaoboard.png">
					<div class="more-bubble">
						<a target="_blank" href="http://www.meilishuo.com/share/item/3559418851?d_r=6__0-1-5-1"><img class="goods" src="http://d01.res.meilishuo.net/pic/_o/3b/c6/8bb169839b492a9b9b934644ae35_95_95.ch.png"></a>
						<a target="_blank" href="http://www.meilishuo.com/share/item/3492785503?d_r=6__1-1-2-5 "><img class="goods" src="http://d02.res.meilishuo.net/pic/_o/b9/19/a56b4d1bff5a60a42bc5dcf07759_106_107.cf.png"></a>
						<a target="_blank" href="http://www.meilishuo.com/share/item/3453243765"><img class="goods" src="http://d05.res.meilishuo.net/pic/_o/01/61/8c4e58d97c4449ba525c1a6a5f48_117_118.cf.png"></a>
						<a target="_blank" href="http://www.meilishuo.com/share/item/3475505363?d_r=6__1-3-4-15 "><img class="goods" src="http://d05.res.meilishuo.net/pic/_o/41/ff/393aeaa505de0f7b761e2db76799_94_93.ch.png"></a>
						<a target="_blank" href="http://www.meilishuo.com/share/item/3465009267"><img class="goods" src="http://d04.res.meilishuo.net/pic/_o/f0/54/513e99c2d1701cb65505ef64454f_95_95.cf.png"></a>
						<a target="_blank" href="http://www.meilishuo.com/share/item/3454662095"><img class="goods" src="http://d02.res.meilishuo.net/pic/_o/b2/26/f65a5b7ad21767f11e863919e15f_96_96.cf.png"></a>
						<a target="_blank" href="http://www.meilishuo.com/share/item/3466610513?d_r=6__0-1-3-20"><img class="goods" src="http://d02.res.meilishuo.net/pic/_o/c1/6d/b4992e6da67cd75425afb9364322_99_98.ch.png"></a>
						<a target="_blank" href="http://www.meilishuo.com/share/item/3459207599?d_r=6__1-1-4-12"><img class="goods" src="http://d01.res.meilishuo.net/pic/_o/41/bf/c585a8b3f011375a7bd5f7a4510a_108_107.cf.png"></a>
						<a target="_blank" href="http://www.meilishuo.com/share/item/3495698823"><img class="goods" src="http://d01.res.meilishuo.net/pic/_o/72/e0/974ba68d50a9b4dd1fc63c8b9c60_97_98.cf.png"></a>
						<a target="_blank" href="http://www.meilishuo.com/share/item/3449205921?d_r=6__1-1-1-4"><img class="goods" src="http://d01.res.meilishuo.net/pic/_o/04/97/0491658d5650b89c1236b98c8868_108_108.ch.png"></a>
					</div>
				</div>
			</div>
		</div>
		<div class="size4"></div>
		<div class="daren">
			<div class="people">
				<div class="lun_box">
					<p class="left_btn" id="btn-left"></p>
					<p class="right_btn" id="btn-right"></p>
					<div class="pics">
						<ul id="photos-table">
								<li><img src="<%=this.PICTURE_URL%>/images/activity/t1.png" /></li>
								<li><img src="<%=this.PICTURE_URL%>/images/activity/t2.png" /></li>
								<li><img src="<%=this.PICTURE_URL%>/images/activity/t3.png" /></li> 
								<li><img src="<%=this.PICTURE_URL%>/images/activity/aixiaochu/r3.png" /></li> 
								<li><img src="<%=this.PICTURE_URL%>/images/activity/aixiaochu/t5.png" /></li> 
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="size5"></div>
	</div>
</div>
<div class="popwin">
	<div class="popwin-award">
		<img class="close" src="http://d01.res.meilishuo.net/pic/_o/ef/60/dc3b22f15f7a45781acfb0d658de_83_86.cg.png">
		<div><img class="text" src="http://d05.res.meilishuo.net/pic/_o/f0/8b/5461829d771dde524ec6d923060a_364_58.ch.png"></div>
		<div class="award">
			<img class="img-award" src="http://d02.res.meilishuo.net/pic/_o/0d/44/6c16b93802b3780657d26ad14deb_85_92.cf.png">
			<img class="confirm-msg" src="http://d04.res.meilishuo.net/pic/_o/8d/88/3a45df29d181421a6519695ea242_177_47.cf.png">
		</div>
		<form>
			<p><label>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名:</label><div contenteditable="true" id="user-name"></div></p>
			<p><label>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:</label><div contenteditable="true" id="user-tel"></div></p>
			<p><label>邮寄地址:</label><div contenteditable="true" id="user-address"></div></p>
		</form>
		<div class="ok">
			<img src="http://d01.res.meilishuo.net/pic/_o/f6/6a/3fe04e3dbe14788490b43978c4b2_179_58.cf.png">
		</div>
	</div>

	<div class="popwin-other">
		<img class="close" src="http://d01.res.meilishuo.net/pic/_o/ef/60/dc3b22f15f7a45781acfb0d658de_83_86.cg.png">
		<div><img class="text-other" src="http://d01.res.meilishuo.net/pic/_o/b9/9e/652e95d71b1962cc15359034c01e_379_59.cg.png"></div>
		<div class="counp"><span class="money">10</span></div>
		<div><img class="thing" src="http://d05.res.meilishuo.net/pic/_o/0f/e9/b2c0609a940b62d06dd6c84c7d75_412_156.ch.png"></div>
	</div>
</div>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/huodong/paopao');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>