<%#head.html%>
<div class="sloggi_top"></div>
<div class="act_des">
	<div class="act_txt">
		<b>活动时间：</b>6月28日—7月12日（活动结束后，通过私信联系获奖用户，一定不要错过重要私信！）<br />
		<b>活动规则：</b>1.完成一共6道测试题  <span class="ml40_f">    2.将最终生成图片分享到美丽说站内及新浪微博</span>    <span class="ml40_f"> 3.最终抽取30名用户获得sloggi产品代金券</span>	
	</div>
</div>
<div class="s_content">
	<div class="Q_con">
		<div class="s_c_1">
			<div class="q1">
				<p>越是长大，<br />越觉得自己变得不再完美</p>
				<ul>
					<li><label><input type="radio" name="q1">是</label></li>
					<li><label><input type="radio" name="q1">否</label></li>
				</ul>
			</div>
			<div class="q2">
				<p>外在的光鲜亮丽和内在<br />的优雅质感，你选择向左走，<br />还是向右走？</p>
				<ul>
					<li><label><input type="radio" name="q2">外在美</label></li>
					<li><label><input type="radio" name="q2">内在质感</label></li>
				</ul>
			</div>
		</div>
		<div class="s_c_2">
			<div class="q3">
				<p>在什么情况下会去买内衣：</p>
				<ul>
					<li><label><input type="radio" name="q3">当然是为了吸引他</label></li>
					<li><label><input class="l2" type="radio" name="q3">为了搭配特别的外衣（有时需要黑色肩带的内衣，这样香肩微露时特别性感）</label></li>
					<li><label><input class="l3" type="radio" name="q3">换季时要买新内衣（冬季厚装多需要购买有厚度的内衣显身材；夏天太热了需要购买薄款内衣更舒服）</label></li>
					<li><label><input type="radio" name="q3">穿久了旧了啦</label></li>
				</ul>
			</div>
		</div>
		<div class="s_c_3">
			<div class="num">已有<span><%=this.joinNum.totalNums%></span>人参加了该测试</div>
			<div class="q4">
				<p>买内衣时注重什么？</p>
				<ul>
					<li><label><input type="radio" name="q4">颜色</label></li>
					<li><label><input class="l2" type="radio" name="q4">样式（根据自己的胸型来选择样式）</label></li>
					<li><label><input type="radio" name="q4">价格</label></li>
				</ul>
			</div>
			<div class="q5">
				<p>喜欢什么样式的内衣呢？</p>
				<ul>
					<li><label><input type="radio" name="q5">聚拢型</label></li>
					<li><label><input type="radio" name="q5">承托型</label></li>
				</ul>
			</div>
		</div>
		<div class="clear_f"></div>
		<div class="s_c_4">
			<div class="q6">
				<p>以下四张图片<br />你最喜欢哪张？</p>
				<ul>
					<li>
						<label><img src="<%=this.PICTURE_URL%>images/huodong/sloggi/s_pic_1.jpg">	
						<input type="radio" name="q6" value="1"></label>
					</li>
					<li>
						<label><img src="<%=this.PICTURE_URL%>images/huodong/sloggi/s_pic_2.jpg">
						<input type="radio" name="q6" value="2"></label>
					</li>
					<li>
						<label><img src="<%=this.PICTURE_URL%>images/huodong/sloggi/s_pic_3.jpg">
						<input type="radio" name="q6" value="3"></label>
					</li>
					<li>
						<label><img src="<%=this.PICTURE_URL%>images/huodong/sloggi/s_pic_4.jpg">
						<input type="radio" name="q6" value="4"></label>
					</li>
				</ul>
				<div class="clear_f"></div>
			</div>
		</div>
	</div>
	<a class="btn_view" href="javascript:;">查看答案</a>
</div>
<script type="text/html" id="result_alert">
<div class="result" style="background:url(<%=this.PICTURE_URL%>images/huodong/sloggi/result_<?=select?>.jpg)">
	<div class="close cursor_f"></div>
	<div class="clear_f"></div>
	<a class="btn_share" href="javascript:;">完成并分享到新浪微博</a>
</div>
</script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/huodong/sloggi');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>
