@import "../block.less";

html{.f(10*@f);}
body{.bgc(#fff);}
img{.block;.w(100%);}
.bs100(){background-size:100%}
.ellipsis(){.hidden;white-space:nowrap;text-overflow:ellipsis}
.ellipsis-row(n){.hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:n;-webkit-box-orient:vertical;}
//
.title{background: url('http://d06.res.meilishuo.net/img/_o/68/89/087eb4115ce2521257d554f2a4d5_599_12.ch.png') no-repeat center center;.bs100;.pt(5%);.pb(5%);.pr;margin:2px 8px;.ellipsis;.f(1.5rem);.fc(#000);.c;.fn;
	img{.il-block;.vm;.w(15%);.mt(-3px)}
	// b{.pa;left:50%;top:50%;.f(1.5rem);.fc(#000);.mt(-0.75rem);.fn;}
}
.postwall{.hidden;.pl(8px);.pb(60px);
	li{.w(50%);.left;.mb(20px);
		a{.block;.pr(8px);
			&:hover,&:active,&:focus,&:visited{.fc(#666)}
		}
		.goods_title{.f(1.4rem);.l(2.2);.c;.ellipsis;}
	}
}
.price-box{.c;.ml(-10px);
	.price{.fc(#ff7a9a);.f(1.4rem);.il-block;.fn;padding:4px 0 2px 0;}
	.tips{.il-block;.bgc(#ffd738);.fc(#fff);.f(1.2rem);.c;padding:2px 0 2px 3px;.pr;.fn;border-radius:1px 0 0 1px;vertical-align:text-bottom;
		b{.w(0);.h(0);border:8px dashed transparent;border-left:8px solid #ffd738;.pa;right:-16px;top:0;}
	}
}
/* lazy_pic */
.lazy_pic{.pt(130%);.pr;background: url('http://i.meilishuo.net/css/images/huodong/tuan/pre1.png') no-repeat 0 0;.bs100;
}
//download
.download{
	.pf;left:0;bottom:0;
}