.secendNav(){
	.nav_top{
		.gpu;
		-webkit-transition:height 0.2s ease-out 0.2s;
		border-bottom:1px solid #d2d0cf;

		.pa;
		.w(100%);z-index:10;
		.h(@header_nav);

		.bgc(#f7f7f7);

		.goods{
			.c;
			.pl(20*@px);
			.pr(20*@px);
			li{
				.left;.w(100%/4);
			}
		}
		.catalog{
			.pr(@header_top);
			.pl(20*@px);
			.clearfix;
			li{ .left;.ml(4*@px);.mr(4*@px);}
		}
		.openClosed{
			.icon > .openClosed;

			.red;
			.transform(rotate(-180deg));	
			.transform-origin(50% 50%);
			-webkit-transition:all 0.2s ease-out 0s;
		}
		.nav_box{
			.h(100%);.hidden;
			.gpu;
			-webkit-transition:right 0.2s ease-out 0s;
			.pr;right:0px;
			.clearfix;
			li{
				.fc(@wap_f5e);.pt(10*@px);.pb(8*@px);
				a{
					.f(28*@px);.l(28*@px);.i_block;
					.pt(8px*@px);.pb(14px*@px);.pl(20*@px);.pr(20*@px);
					border-bottom:2px solid #f7f7f7;
				}
			}
			.active{
				a{
					.eventNone;.red;
					border-bottom:2px solid @red;
				}
			}
		}
	}
}
