@import "../common/block.less";
@import "../common/window.less";

.container{
	p.select_bank_title{
		padding:15px 0 10px 0;
		overflow:hidden;
		.left{
			float:left;
		}
		.right{
			float:right;
			a{
				.ml(30px);
				.red;
			}
		}
	}
	div.bank{
		border-top:2px solid @red;
		div.label{
			.pl(20px);
			.l(40px);
			border-bottom:1px solid #e6e6e6;
		}
		img{
			cursor:pointer;
		}
	}
	.order{
		border:0;
		.mt(20px);
		tfoot td, tfoot td.first{
			border-color:#e6e6e6;
			a{
				.red;
				.ml(15px);
			}
			span.right .go_charge{
				background:url("@{pic_url}/images/store/go_charge.png");
			}
		}
	}

}