@import "../../block.less";
body { padding:0;margin:0; background: #ffadc9; color: #666; min-height: 100%;}
img{ width: 100%; .block; }
.ios_simple;

.rTxt(){
	.red;
	text-shadow: 1*@px 2*@px #fff;
}
.candidate_pic{
	.w(312*@w);.pt(435*@w);
	.pa;.hidden;left: 23.65%;top: 5.4%;
	img{.pa;top: 0;}
}

.user_pic{
	.w(224*@w);.pt(315*@w);
	.pa;.hidden;left: 10.7%;top: 19.8%;
	img{.pa;top: 0;}
}

.finish_con, .invite_con{
	.pr;.w(100%);.hidden;
}

.appBox {
	.btn { .act_btn; .border-r(40*@px); .f(40*@px); .h(80*@px); .l(80*@px); .w(540*@w);.auto; }
	.wbtn {
		.rTxt;
		background-color: #f9f5f6;
		-webkit-box-shadow: inset 1*@px 2*@px #fff;
		-moz-box-shadow: inset 1*@px 2*@px #fff;
		box-shadow: inset 1*@px 2*@px #fff;
		border: solid 2*@px #feb4cb;
		background-image: -webkit-linear-gradient(bottom, rgba(128,32,64,.08), rgba(255,255,255,.08));
		background-image: -moz-linear-gradient(bottom, rgba(128,32,64,.08), rgba(255,255,255,.08));
		background-image: -o-linear-gradient(bottom, rgba(128,32,64,.08), rgba(255,255,255,.08));
		background-image: linear-gradient(to top, rgba(128,32,64,.08), rgba(255,255,255,.08));
	}
	.wbtn:hover{.red;text-shadow: 1*@px 2*@px #fff;}
	.mtb { .pa;left: 50*@w;bottom: 0;.mb(30*@w); }

	.pic {
		.w(336*@w); padding: 30*@w 80*@w 50*@w 54*@w; .auto; 
		.p_con { .pt(440/336*100%); .pr; .hidden; 
			img { .pa; top: 0; left: 0; .w(100%); }
		}
	}
	.tle { .c; .f(36*@px); .l(70*@px); }
}
.invite_con{
	.num_info{
		font-family: FZZZHUNHJW;.f(22px);.fc(#fff);
		text-shadow: 0 3px 4px rgba(231,22,92,.5);
		.w(100%);.hidden;
		.pa;top: 0; .mt(100*@w);left: 360*@w;
		li{.f(22*@px);.l(30*@px);.c;.w(265*@w);}
		.vote_t{
			.f(32*@px);.l(48*@px);
		}
		.vote_num{
			.w(265*@w);.pt(73*@w);.pr;.rTxt;
			background: url("@{pic_url}/images/wap/biz/girlfriends_2/gf_w_rank_bg.png") no-repeat;background-size: 100%;
			div{.w(100%);.f(22*@px);.c;.pa;top: 20%;left: 0;.h(80%);}
			span{.f(32*@px);}
		}
	}
}
.vote_con{
	.pr;.hidden;
	.num_info_wrap{
		font-family: "Adobe Heiti Std";
		.fc(#fff);
		text-shadow: 0 0 50*@px rgba(251,103,152,.2), -3*@px 2*@px 4*@px rgba(231,22,92,.5);
		.w(100%);.hidden;
		.pa;left: 0;bottom: 16%;.c;
		p{.f(40*@px);.l(80*@px);}
		li { .block;.f(26*@px);
			span, b { .h(50%); .l(150%); }
			b { .f(32*@px); .mt(8*@px); }
		}
	}
}

/*分享*/
.starBox{ .star_box;}

@import "../../footer.less";
