<script type="text/html" id="posterWall">
<?
	var imgWidth = 224;
	var cataStr = location.search.match(/cata=\d+/gi);
	var pageStr = location.search.match(/page=\d+/gi);
	var pageStrIndex = pageStr && pageStr.join('').match(/\d+/gi)[0] || 0;
	var goodsKindsIndex = cataStr && cataStr.join('').match(/\d+/gi)[0] || 0;
	$.each(tInfo , function(goodsIndex , v){
		goodsIndex = pageStrIndex * fml.vars.page_size + goodsIndex;
		var goods_title = v.title || "";
		var imgBoxHeight=imgWidth* v.pic_height / v.pic_width +'px';
?>
<div class="poster_grid retsop poster_wall" twitter_id="<?=v.twitter_id?>">
	<div class="new_poster">
		<div class="np_pic hover_pic">
			<?if(v.horizontal_mark && v.horizontal_mark.length){?>
				<div class="mark">
					<? for (var i=0,j = v.horizontal_mark.length ; i< j; i++) {
						var data = v.horizontal_mark[i]; ?>	
						<?
							data.line_height = !data.text_margin_top ? data.img_height : 14;
						?>
						<?
							!data.text_margin_top ? data.fs = 12 : data.fs = 14;
						?>
						<span class="m_ico" style="font-size:<?=data.fs?>px;<?if(data.text_font_color){?>color:<?=data.text_font_color?>;<?}?>position: relative;background:url(<?=data.img_url?>) no-repeat; height:<?=data.img_height?>px;line-height:<?= data.line_height?>px;width:<?=data.img_width?>px;">
							<?if(data.mark_text){?>
								<span style="width:<?=data.img_width?>px;left: 0;position: absolute;text-align: center;top: <?= data.text_margin_top?>px;"><?=data.mark_text?>
								</span>
							<?}?>
						</span>
					<?};?>
				</div>
			<?}?>
			<? var goodsUrl = v.url ? v.url : '/share/item/' + v.twitter_id; ?>
			<a class="pic_load" href="<?= goodsUrl + '?pstrc=fe_pos%3Akorea_goods_'+goodsKindsIndex+'_'+goodsIndex ?>" target="_blank" title="<?= goods_title?>">
				<img height="<?= imgBoxHeight ?>" class="goods_pic" src="<?= v.pic_url ?>" alt="<?= goods_title?>" />
			</a>
		</div>
		<?if(goods_title != ''){?>
			<div class="title">
				<p>
					<a href="<?= goodsUrl?>" target="_blank"><?= goods_title ?></a>
				</p>
			</div>
		<?}?>
		<?if(v.price){?>
			<div class="price"><?= v.price?></div>
		<?}?>
		<div class="clear_f"></div>
		<div class="comm_num twiiter_box">
			<p class="left_f poster_likes likes">
				<b class="">
					已有
				</b>
				<span class="red_f poster_like_num"><?= v.like?></span>
				<b>人喜欢</b>
			</p>
		</div>
	</div>
</div>
<? }); ?>
</script>
