@import "../block.less";

@mgray: #666;
@mgray1: #999;

html{.f(10*@f);}
body{.bgwhite}
img{.block;.w(100%);}
.main{.pr;}
header {
	padding: 1.5rem 1rem 1rem;
	.l(3rem);
	.f(1.2rem);
	img { .left; .w(3rem); .h(3rem); .border-r(50%); }
	strong { .left; .pl(1rem); .black; .f(1.4rem); }
	.ctime { .right; .fc(@mgray1); }
	.clearfix;
}
.goods {
	.pr; .c;
	.goodsTitle{ .tl; .f(1.4rem); .fc(@mgray); .mb(.9rem); max-height: 3.1rem; .l(1.6rem); .pl(1rem); .pr(1rem); .break-word; .cutText; }
}
.jizan{
	.pt(28*@px);.pb(34*@px);.l(38*@px); .c; border-bottom: 1px solid #eeeeee; .fc(#000); border-top: 1px solid #eeeeee;
	//.num{ .f(26*@px); color: #ee3d30; }
	//.want,
	.goods_name,
	.goods_price {
		.c; .f(14px); .l(200%); .pl(1rem); .pr(1rem);
	}
	.goods_price { .f(20px); .fc(#f00);}
	.goods_name { .ellipsis; }
	.buyNow{
		background: #ee3d30; .pt(20*@px); .pb(20*@px); .w(40%); margin-right: auto; margin-left: auto; .c; color: #fbd9d8; .border-n; .border-r(6*@px); .mt(22*@px); .block; .f(16px);
	}
}
// .jizan[class ~="grey"]{ background: #f1f1f1; .border-n;}
.wrap {
	.mt(20*@px); .pl(20*@px); .pr(20*@px);
	.intro {
		.mt(20*@px);
		.say { 
			.c; .hidden;
			img { .i_block; .w(180*@px); .h(190*@px);}
		}
		.pic{.w(25%);.border-r(100%);.auto;.mt(5%);}
		.name{.fb;.f(1.5rem);.fc(#000);.c;.mt(2%);.mb(5%);
			span{.ml(2%)}
		}
		.word { 
			.f(20*@px); .l(32*@px); .block; .pb(40*@px);
			// p{.pt(20*@px); .f(24*@px); .l(30*@px); .fc(#000); .pb(20*@px); .black;}
			.introIcon{ .il-block; .w(50*@px); .h(62*@px); background: url("@{pic_url}/images/wap/web/zulily/intro.png") no-repeat; background-size: 100%; .left; .mr(3%);}
			&:first-letter {.f(30*@px);}
			.txt{.block; .ml(12%);}
		}
	}
	.recommend {
		.reTxt{ .f(20*@px); .l(32*@px); .block; .pb(20*@px);}
		.pt(20*@px); .fc(#000);
		.title {
			.c; .clearfix; .f(28*@px); .fb; .pb(20*@px);
			text-transform: Uppercase;
		}
		.line { .w(20%); .h(1px); .bgc(@mgray1); .i_block; .mt(7px);}
		.line_l { .left;}
		.line_r { .right;}
		.reTitle { .c; .f(20*@px); .inline; .fn(); .l(30*@px); .pb(20*@px);}
	}
	.goods_pic { .mb(20*@px);}
	.support {
		.pb(2rem); .pr; .f(1.2rem);
		.share { 
			.block; .pt(1.8rem); .pb(1.8rem); .fc(@mgray1); .c; .bgc(#f8f8f8);.mt(10px); 

			span { 
				.pr; .i_block; .fc(#000); .pl(2rem); .pr(1rem); 
				&::before { 
					content:''; .pa; top: -.6rem; left: -1rem; .w(2rem); .h(2rem); 
					background: url('http://d01.res.meilishuo.net/img/_o/f7/50/a5e6e50c2f2515ce43e87deeffe2_28_41.cg.png') left center no-repeat; 
					background-size: contain;
				}
			}
		}
		.want {
			.pt(3rem); .c;
			span { .i_block;}
			.heart {
				.w(8rem); .h(8rem); .border-r(50%); .border-1(#ee3d30); .c;
				background: url("http://d04.res.meilishuo.net/pic/_o/03/ff/37666321e5df9ff68fda80d063a7_140_140.ch.png") no-repeat;
				background-size: 100%;
			}
			.heartRed {
				background: url("http://d03.res.meilishuo.net/pic/_o/a8/67/5290fc034ff9cf476b595a8890ea_140_140.cg.png") no-repeat;
				background-size: 100%;
			}
			.strip {
				.h(.3rem); .w(50%); background: #e5e5e5; margin: .75rem auto 0 auto;
			}
			.strip_red {
				.w(60%); .bgc(#ee3d30); .block; .h(.3rem);
			}
			.status { .c; .mt(1rem); .fc(#f6382f); }
			.buy { .pt(1rem); text-transform: uppercase; .fc(@mgray); }
			.num { .f(1.3rem); .c; .pt(.7rem); .black; }
		}
		.share-qunquan{.hidden;.mt(10px);
			img{.w(49%);.left;.mr(2%);padding:0;.bgc(#fff);.mt(0);
				&:last-child{.mr(0)}
			}
		}
	}
	.dl-box{.w(100%);.hidden}
	.supportList {
		.w(100%); .hidden; .clearfix; padding: 1.5rem 1rem 2rem; .f(1.1rem);
		// dt { .pb(20*@px); }
		dd { 
			.left; .mr(2%);.mb(2%);.w(10%);.h(10%);
			img { .border-r(50%); .w(100%); .hidden}
			&:last-of-type { .mr(0);}
		}
		.last { 
			.pr;
			&::before {
				content: '...'; 
				.f(2rem);
				.fc(#f8f8f8);
				.c;
				.pa;
				top: 0; 
				left: 0;
				.w(100%);
				.h(100%);
				.l(140%);
				.bgc(rgba(0,0,0,.7));
				.border-r(50%);
			}
		}
	}
}
/** 弹幕相关样式 */
.danmu {
	.pa; left:0; bottom:96*@px; .w(100%); .h(145px); .hidden; .f(24*@px);
	.bullet,
	.maishou,
	.me {
		.pa; 
		left:100%;
		.h(2rem);
		.l(2rem);
		background-color: #fff;
		.border-r(999rem); 
		.pl(2.5rem);
		.pr(1rem);
		.mr(1rem);
		white-space: nowrap;
		span { .i_block; .nowrap; .h(2rem); .l(2rem); }
	}
	.me {
		.white;
		background-color: #ff6a5f; 
	}
	.maishou{
	    .white;
	    z-index: 100;
	    background-color: #d161a6;
	}
	i {
		.pa;
		top: .2rem;
		left: .2rem;
		img { .w(1.6rem); .h(1.6rem); .border-r(999rem); }
	}
}
.send {
	.bgwhite; .f(24*@px); 
	.txt {
		.w(70%); .border-1(#d9d9d9); .border-r(8*@px); .h(52*@px); /*.l(52*@px);*/  .pl(20*@px); .fc(#000); .mt(16*@px); .mb(16*@px);
	}
	.cancel {
		 .ml(2%); .mt(16*@px); .mb(16*@px); .w(108*@px); .h(54*@px); .l(54*@px); .c; .i_block; .border-1(#f6382f); .border-r(8*@px); .fc(#f6382f);
	}
	//.cancel-cur{ .fc(#fff); .bgc(#20bfa3); }
}

/*dialog*/
.dialog();
.dialog {
	#maskLayer { background:rgba(0 ,0 ,0 , 0.7);}
	#dialogLayer { 
		background: none;
		box-shadow: none;
		.dialogTitle { .none;}
	}
}
.dialog_box {
	.c; .mt(-300*@px);
	.share_pic {
		.w(494*@px); .h(514*@px); .i_block; .bgc(#331621);
		background: url("@{pic_url}/images/wap/activity/baoyang/shareLead.png");
		background-size: 100% 100%;
	}
}
// lazy_pic
.lazy_pic{.pt(100%);background-image: url('http://d02.res.meilishuo.net/img/_o/3f/b8/bbd45852a7666c6c9e7fac5c33d6_320_320.cg.png');background-size:100%;}
.heartAni {
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all;
    -webkit-transform: translate(0px,-10px)  scale(.35);
    -moz-transform: translate(0px,-10px)  scale(.35);
    -ms-transform: translate(0px,-10px)  scale(.35);
    -o-transform: translate(0px,-10px)  scale(.35);
    transform: translate(0px,-10px)  scale(.35);

}
//控制文本超过两行部分显示 ...
.cutText(){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.goMall {
	.pf; z-index: 120; right: 20px; bottom: 80px; .w(40px); .h(40px); .hidden;
}
// 蒙版
.masking{.pa;left:0;top:0;.w(100%);.h(100%);background:rgba(0,0,0,.5);z-index:100;.none}
/* 分享 */
.starBox { .star_box; }
.starBox{border: none;.pf;left:0;bottom:0;.w(100%);z-index: 110;padding:0;.none}
.starBox .share_ico{
	// .icons_box{.w(100%)}
	a{.w(25%);.ml(0);.mr(0);.pr(0);/*.pt(10%);*/.pt(62px);background: url('http://d05.res.meilishuo.net/img/_o/26/ac/737fc32210ab70267e23db0b96ed_589_103.cf.png') no-repeat;background-size:480%}
	.btncontain{
		border-top: 1px solid #ddd;.c;.mt(20px);
		.btn{.il-block;padding:2px 50px;.bgc(#ff93b6);.mt(10px);.f(16px)}
	} 
}
