@import "../../block.less";
@import "../../doota/shareact_bs_goods.less";

.main{.bgc(#fff);.mb(-14px);min-height: 1500px; }

.head_bg{background-position: center;background-repeat: no-repeat;}
.top_bannar, .seckill{.w(946px);.auto;}

.sec_nav_wrap{.h(58px);.mt(5px);}
.tab_wrap{.bgc(#f88f8b);.h(58px);.w(100%);}
.bs_tab_wrap{
	.w(950px);.hidden;.auto;.pl(1px);border-left: 1px solid #d8d8d8;
	a{
		.w(105px);.left;
		.c;.fc(#fff);.f(18px);.l(58px);
		.cursor;-webkit-transition: background-color .6s ease-out;border-right: 1px solid #d8d8d8;
		&:hover{.bgc(#ed5751);.fc(#fff);}
	}
	.p_tab_active{.bgc(#ed5751);.fc(#fff);}
}
.three_tab div{.w(320px);}


.foot_bannar{
	.w(960px);.auto;.hidden;.pb(20px);
	a{.left;border: 1px solid #b7b7b7;.w(958px);.hidden;}
	a:hover{border-color: @red;}
}

.poster{
	.hidden;.w(960px);.auto;.pb(20px);min-height: 350px;
	.bs_tab{.ml(22px);.w(960px);}
	.fx_hidden{.none;.h(52px);.w(100%);}
	.fx_tab{
		.pf;top: 30px;left: 0;.bgc(rgba(0,0,0,.2));z-index: 100;.w(100%);
		.bs_tab{.pr;left: 50%;.ml(-463px);}
	}
	.spinner{.mt(50px);}
}
.goods_unit_fuzhuang();

// right menu
.nav_right{.pf;z-index:999;display:none;top:45px;right:-7px;
	.nav_a{.block;}
	.menu_main{.pr;.w(100%);
		div{margin: 0 auto;}
	}
	.go_top,.code_m{.cursor;margin: 0 auto;}
}
