<%#head.html%>
<div class="years3_top">
	<div class="y3_inner">
		<div id="y3_join" class="share_pic"></div>
		<a class="y3_ali" href="https://my.alipay.com/portal/i.htm" target="_blank"></a>
		<a class="y3_more" href="http://www.meilishuo.com/group/23834585" target="_blank"></a>
	</div>
</div>
<div class="y3wall_out">
	<div class="goods_wall y3_auto"></div>
</div>
<%#poster.html%>
<div class="spinner botSpinner none_f"></div>
<div class="clear_f"></div>
<div class="paging_panel c_f none_f"><%#paging.html%></div>
<script>
Meilishuo.config.groupId = '<%=this.groupId%>';
</script>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
     fml.use('page/huodong/3years');
     fml.use('page/poster');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>
