<%#head.html%>
<%
	var wlListRenderFn = requireFn('wins/reply_box.html');
%>
<div class="head_top"></div>
<div class="main">
	<div class="box1">
		<a href="http://www.meilishuo.com/u/EUwlf7?frm=oupolai110" target="_blank"></a>
	</div>
	<div class="box2">
		<a href="/huodong/aupres/" ></a>
		<a href="/huodong/aupres2/" ></a>
		<a href="/huodong/aupres3/" ></a>
	</div>
	<div class="box3">
		<div class="over"></div>
		<a href="http://www.meilishuo.com/u/EVExFF?frm=oupolai111" class="home_link" target="_blank">官网</a>
	</div>
	<div class="box4"></div>
	<div class="box5">
		<a href="#mao"></a>
	</div>
	<div class="box6">
		<a href="http://www.meilishuo.com/u/EVExH9?frm=oupolai112" target="_blank" class="l1"></a>
		<a href="http://www.meilishuo.com/u/EVExKB?frm=oupolai113" target="_blank" class="l2"></a>
		<a href="http://www.meilishuo.com/u/EVExV5?frm=oupolai114" target="_blank" class="l3"></a>
	</div>
	<div class="box7">
		<a href="http://www.meilishuo.com/u/EVExXb?frm=oupolai115" target="_blank" class="l4"></a>
		<a href="http://www.meilishuo.com/u/EVExbx?frm=oupolai116" target="_blank" class="l5"></a>
	</div>
	<div class="box8">
		<a href="http://www.meilishuo.com/u/EVExgD?frm=oupolai117" target="_blank" class="l6"></a>
		<a href="http://www.meilishuo.com/u/EVExil?frm=oupolai118" target="_blank" class="l7"></a>
		<a href="http://www.meilishuo.com/u/EVExkF?frm=oupolai119" target="_blank" class="l8"></a>
		<a href="http://www.meilishuo.com/u/EVExFF?frm=oupolai120" target="_blank" class="l9"></a>
	</div>
	<div class="box10">
		<div class="fancy">
			<a href="<%= this.PICTURE_URL%>images/huodong/aupres_415/pic15.jpg" rel="group"><img src="<%= this.PICTURE_URL%>images/huodong/aupres_415/toum.png" /></a>
			<a href="<%= this.PICTURE_URL%>images/huodong/aupres_415/pic16.jpg" rel="group"><img src="<%= this.PICTURE_URL%>images/huodong/aupres_415/toum.png" /></a>
			<a href="<%= this.PICTURE_URL%>images/huodong/aupres_415/pic17.jpg" rel="group"><img src="<%= this.PICTURE_URL%>images/huodong/aupres_415/toum.png" /></a>
		</div>
		<p>
			<a href="http://www.meilishuo.com/u/EVExqF?frm=oupolai121" target="_blank"></a>
			<a href="http://www.meilishuo.com/u/EUwl3Z?frm=oupolai122" target="_blank"></a>
			<a href="http://www.meilishuo.com/u/EVEzc5?frm=oupolai123" target="_blank"></a>
		</p>
	</div>
	<div class="box11">
		<div class="lun" id="photoPlay">
			<ul>
				<% this.lunbo && this.lunbo.map(function(data){  %>
					<li><a href="<%= data.link%>" target="_blank"><img src="<%= data.src%>" /></a></li>
				<%});%>
			</ul>
		</div>
	</div>
	<div class="box13" id="mao"></div>
	<div class="box12">
		<div class="discus_box">
			<%#wins/publishor.html%>
			<div class="reply_list comments">
				<%this.topic_list && this.topic_list.list.map(function(data){%>
					<%=wlListRenderFn(data)%>
				<%});%>
			</div>
			<div class="paging_panel c_f">
				<%#paging.html%>
			</div>
		</div>
	</div>
</div>
<div class="pf">
	<a href="http://www.meilishuo.com/u/EVEwHh?frm=oupolai121" target="_blank"></a>
	<span></span>
</div>
<script>
	Meilishuo.config.tag_id = '<%=this.beauty_id%>';
	Meilishuo.config.tag = '<%=this.beautyTag%>';
</script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use: 
	fml.use('page/huodong/aupres_424');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>
