<%#head.html%>
<% var wlInfoRenderFn = requireFn('welfare/welfare_info.html'); %>
<div class="head_top"></div>
<div class="main">
	<div class="aupres1">
		<a href="http://www.meilishuo.com/u/EUwlf7?frm=oupolai101" target="_blank"></a>
	</div>
	<div class="aupres2">
		<a href="/huodong/aupres/" ></a>
		<a href="/huodong/aupres2/" ></a>
		<a href="/huodong/aupres3/" ></a>
	</div>
	<div class="aupres3">
		<div class="over"></div>
		<a href="http://www.meilishuo.com/u/EUwloz?frm=oupolai102" class="home_link" target="_blank">官网</a>
	</div>
	<div class="aupres4">
		<div class="status start"><a href="javascript:;"></a></div>
		<div class="choose next_2">
			<div class="ans">
				<a href="javascript:;">A</a>
				<a href="javascript:;">B</a>
				<a href="javascript:;">C</a>
				<a href="javascript:;">D</a>
			</div>
		</div>
		<div class="end_0"><a href="#wf" class="choose_btn"></a></div>
		<div class="end_1"><a href="javascript:;"></a></div>
	</div>
	<div class="aupres5 fl" id="wf">
		<div class="wf_wrap">
			<%=wlInfoRenderFn(this.wl_header)%>
		</div>
	</div>
	<div class="aupres6">
		<a href="http://www.meilishuo.com/u/EUwl3Z?frm=oupolai103" target="_blank"></a>
	</div>
	<div class="aupres7"></div>
	<div class="aupres8">
		<a href="http://www.meilishuo.com/u/EUwtHt?frm=oupolai104" target="_blank"></a>
	</div>
	<div class="aupres9"></div>
	<div class="aupres10">
		<a class="link_1" href="http://www.meilishuo.com/u/EUwmV_?frm=oupolai106" target="_blank"></a>
		<a class="link_2" href="http://www.meilishuo.com/u/EUwm0L?frm=oupolai107" target="_blank"></a>
		<a class="link_3" href="http://www.meilishuo.com/u/EUwl3Z?frm=oupolai105" target="_blank"></a>
		<a class="link_4" href="http://www.meilishuo.com/u/EUwnsF?frm=oupolai108" target="_blank"></a>
	</div>
</div>

<%*弹窗部分--转发到微博@好友--通过绑定%>
<script type="text/html" id="welfare_apply">
<div class="welfare_apply" id="welfare_apply_after">
	<p class="wf_explain">我们会优先选择有真人头像的姑娘获奖~</p>
	<form class="wf_form" onsubmit="return false;" action="">
		<input type="hidden" name="activity_id" value="<%=this.wl_header.activity_id%>">
		<p>
			<span class="wa_info">真实姓名：</span>
			<input id="real_name" class="wfipt1" type="text" value="<?=info.realname?>" name="real_name">
		</p>
		<p>
			<span class="wa_info">联系电话：</span>
			<input id="telephone" class="wfipt1" type="text" value="<?=info.mobile?>" name="telephone">
		</p>
		<p>
			<span class="wa_info">收货地址：</span>
			<input id="address" class="wfipt2" type="text" value="<?=info.shipping_address?>" name="address">
		</p>
		<p>
			<span class="wa_info">申请理由：</span>
			<textarea id="reason" class="wfipt3" name="reason"></textarea>
		</p>
		<p>
			<span class="wa_info">备注：</span>
			<input id="note" class="wfipt2" type="text" placeholder="非必填选项，按此活动需求，请填写你衣服或鞋子的尺寸" name="note">
		</p>
		<p class="l22_f">
			<span class="wa_info">同步：</span>
			<div id="weibo_area">
				<p>
					<?if(fans && fans.length>0) {?><span id="weibo_area_change">换一组</span>同步到我的微博，并@美丽说和我的好友
					<?} else {?>
					同步到我的微博，并@美丽说。
					<?}?>
				</p>
				<div class="mt5_f">
					<?fans && $.each(fans, function(k, v){?>
					<img class="avatar48_f" alt="<?=v.screen_name?>" src="<?=v.image_url?>">
					<?});?>
					<div class="clear_f"></div>
				</div>
				<?if(fans && fans.length>0) {?>
				<p class="mt5_f">你@了<span id="weibo_area_info">0</span>位微博好友</p>
				<?}?>
			</div>
		</p>
		<p>
			<label class="cursor_f"><input fuid="<%=this.wl_info.userInfo.user_id%>" id="fol_actor" type="checkbox" checked>关注<%=this.user_list.nickname%></label>
			<br/>
			<label class="cursor_f"><input id="share_home" type="checkbox" checked>分享到我的首页</label>
		</p>
		<p>
			<input id="applying_submit" type="submit" value="提交申请">
			<a class="wf_cancel" href="javascript:void(0)">取消</a>
		</p>
	</form>
</div>
</script>
<%*弹窗部分--转发到微博@好友--未绑定%>
<script type="text/html" id="welfare_apply_before">
<div class="welfare_apply_before">
	<p class="c_f">亲，绑定以下任意微博就能参加活动啦！</p>
	<div class="mt14_f wf_bind">
		<a class="wfr_ico1" href="/settings/syncBind/weibo"></a>
		<a class="wfr_ico2" href="/settings/syncBind/txweibo"></a>
		<div class="clear_f"></div>
	</div>
</div>
</script>
<%*弹窗部分--转发到微博@好友--绑定失败%>
<script type="text/html" id="welfare_apply_error">
<div class="c_f">
	<p class="erro_info">授权失败，请再试一次吧！</p>
	<p>
		<span class="btn sure" id="welfare_sure">确定</span>
		<span class="" id="welfare_return">返回</span>
	</p>
</div>
</script>
<%*申请成功提示%>
<script type="text/html" id="welfare_apply_success">
<div class="apply_success">
	<p>你已经成功提交申请了，我们会尽快处理，</p>
	<%*207号福利社定制功能 4.16下线%>
	<%if(this.wl_header.activity_id == 207){%>
	<p>来<a class="red_f fb_f" href="http://c.admaster.com.cn/c/a13079,b200160760,c1981,i0,m101,h" target="_blank">ORBIS官网</a>浏览，寻找更多惊喜。</p>	
	<%}else{%>
	<p>获得试用资格的MM将收到系统消息通知，</p>
	<p>请注意查收哦～</p>
	<%}%>
	<%if(this.wf_girl.followed == 0){%>
	<p>想获得更多福利情报，请关注福利花小美^_^</p>
	<div class="mt8_f clearfix_f" style="margin-left:20px;">
		<a class="left_f" target="_blank" href="/person/u/<%=this.wf_girl.user_id%>">
			<img width="86" height="86" src="<%=this.wf_girl.avatar_a%>">
		</a>
		<div class="wf_girl_r">
			<a class="f14_f fb_f block_f" target="_blank" href="/person/u/<%=this.wf_girl.user_id%>"><%=this.wf_girl.nickname%>
				<span class="identity_big_style">
				<%= jsRender('identity.html')(this.wf_girl) ;%>
				</span>
			</a>
			<span class="red_follow add_follow_ok" fuid="<%= this.wf_girl.user_id%>" following=<%= this.wf_girl.following%> followed="<%= this.wf_girl.followed%>">+ 加关注</span>
		</div>
	</div>
	<%}else{%>
	<p class="mt14_f" style="margin-left:100px;"><input class="apply_success_ok cursor_f btn sure" type="button" value="确定"/></p>
	<%}%>
</div>
</script>

<script>
	Meilishuo.config.begin = <%=this.wl_header.begin%>;
	Meilishuo.config.activity_id = <%=this.wl_header.activity_id%>;
	Meilishuo.config.editor = <%=this.wl_header.editor%>;
	Meilishuo.config.pid = <%=this.wl_header.twitter_images_id%>;
	Meilishuo.config.wl_title = '<%=this.wl_header.title%>';
	Meilishuo.config.topic_title = '<%=this.wl_header.topic_title%>';
</script>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	 fml.use('page/huodong/aupres_415');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>
