<%#head.html%>
<div class="converse">
	<div class="convs_top"></div>
	<div class="convs_line"></div>
	<div class="convs_bottom clearfix_f">
		<a href="http://meilishuo.com/u/EDGfHl"  target="_blank" class="convs_left1"></a>
		<div class="convs_right">
			<div class="c_right11"></div>
			<div class="c_right2"></div>
			<div class="c_right3"></div>
			<div class="c_right4"></div>
		</div>
	</div>
</div>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/huodong/converse');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>
