<%#head.html%>
<div class="gd_main">
	<div class="gd_top1 gd_auto">
		<div class="pr_f">
			<div class="gd_join share_pic pa_f"></div>
		</div>
	</div>
	<div class="gd_top2 gd_auto">
		<a class="good_maga pr_f" target="_blank" href="/share/970427859"></a>
	</div>
	<div class="gd_top3 gd_auto">
		<a href="/guang/attr/34102?frm=huodong_liangse_37" class="makeup makeup1" target="_blank"></a>
		<a href="/guang/attr/34069?frm=huodong_tiaowen_37" class="makeup" target="_blank"></a>
		<a href="/guang/attr/34034?frm=huodong_toushi_37" class="makeup" target="_blank"></a>
		<a href="/guang/attr/34306?frm=huodong_yihua_37" class="makeup" target="_blank"></a>
	</div>
	<div class="fix_banner gd_auto"></div>
	<div class="goods_wall gd_auto"></div>
	<%#poster.html%>
	<div class="spinner botSpinner none_f"></div>
	<div class="clear_f"></div>
	<div class="paging_panel c_f none_f">
	<%#paging.html%>
	</div>
</div>
<script>
Meilishuo.config.groupId = '<%=this.groupId%>';
</script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
    fml.use('page/huodong/girlday');
	fml.use('page/poster');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>
