<%# head.html%>
<div class="top1"></div>
<div class="top2"></div>
<div class="item1">
	<div class="inner">
		<a href="http://detail.tmall.com/item.htm?spm=0.0.0.0.4uSKdy&id=41715295185" target="_blank" class="link1"></a>
		<a href="http://detail.tmall.com/item.htm?spm=a1z10.3.w4011-2801374102.42.Dd0fxS&id=13161474112&rn=f98f42d0c7840b0ce4f716b23e68c41d&abbucket=2" target="_blank" class="link2"></a>
	</div>
</div>
<div class="item2">
	<div class="inner">
		<a href="http://detail.tmall.com/item.htm?spm=a1z10.5.w4011-2801369333.49.QmBHoo&id=12934301793&rn=f51b6f98a00cc7ec829de94005ef4ddb&abbucket=6" target="_blank" class="link1"></a>
		<a href="http://detail.tmall.com/item.htm?spm=a1z10.3.w4011-2801374102.28.y1e5i9&id=13777916049&rn=7350685a1b3b7091140ff20d6ba68be2&abbucket=6" target="_blank" class="link2"></a>
	</div>
</div>
<div class="item3">
	<div class="inner"><a href="http://detail.tmall.com/item.htm?spm=a1z10.3.w4011-2801374102.40.USr1XE&id=12945514065&rn=0e4a72de11fdafda81d3fd95ae64379b&abbucket=4" target="_blank"></a></div>
</div>
<div class="item4">
	<div class="inner"><a href="http://detail.tmall.com/item.htm?id=41806983338" target="_blank"></a></div>
</div>
<div class="item5">
	<div class="inner"><a href="http://detail.tmall.com/item.htm?spm=a1z10.3.w4011-2801374102.91.dXmv8t&id=37898759740&rn=fd8788017e090ceca52d26511c71e3f7&abbucket=2" target="_blank"></a></div>
</div>
<div class="item6">
	<div class="inner"><a href="http://detail.tmall.com/item.htm?spm=a1z10.3.w4011-2801374102.47.6PZyBU&id=12962573774&rn=c39d105f37d888e396616cbd22b1f308&abbucket=2" target="_blank"></a></div>
</div>

<%# foot.html%>
