<%#head.html%>
<div class="bg">
	<div class="bg1">
		<div class="main">
			<a class="a1" href="http://www.meilishuo.com/share/item/3249314023" target="_blank"></a>	
			<a class="a2" href="http://www.meilishuo.com/share/item/3249313445" target="_blank"></a>	
		</div>
	</div>

	<div class="bg2">
		<div class="main">
			<a class="a1" href="http://www.meilishuo.com/share/item/3249314023" target="_blank"></a>
			<div class="votewrap">
				<%if(this.loreal1.code !== 1){%>
				<span class="vote" data-id="3249314023"></span>	
				<%}else if(this.loreal1.code==1 && this.loreal1.data==3249314023){%>
				<span class="vote voted" data-id="3249314023"></span>	
				<%}%>
			</div>

			<a class="a3" href="http://www.meilishuo.com/share/item/3249314023" target="_blank"></a>	
		</div>
	</div>

	<div class="bg3">
		<div class="main">
			<a class="a1" href="http://www.meilishuo.com/share/item/3249313445" target="_blank"></a>	
			<div class="votewrap">
				<%if(this.loreal1.code !== 1){%>
				<span class="vote" data-id="3249313445"></span>	
				<%}else if(this.loreal1.code==1 && this.loreal1.data==3249313445){%>
				<span class="vote voted" data-id="3249313445"></span>	
				<%}%>
			</div>
				<a class="a2" href="http://www.meilishuo.com/share/item/3249313445" target="_blank"></a>
				<a class="a3" href="http://www.meilishuo.com/share/item/3249313445" target="_blank"></a>
		</div>
	</div>

	<div class="bg4">
		<div class="main">
			<a class="a1" href="http://www.meilishuo.com/share/item/3249312145 " target="_blank"></a>	
			<div class="votewrap">
				<%if(this.loreal1.code !== 1){%>
				<span class="vote" data-id="3249312145"></span>	
				<%}else if(this.loreal1.code==1 && this.loreal1.data==3249312145){%>
				<span class="vote voted" data-id="3249312145"></span>	
				<%}%>
			</div>
				<a class="a2" href="http://www.meilishuo.com/share/item/3249312145 " target="_blank"></a>
		</div>
	</div>

	<div class="bg5">
		<div class="main">
			<a class="a1" href="http://www.meilishuo.com/coupon/out/201410291825512a7f434fd1 " target="_blank"></a>	
			<a class="a2" href="http://www.meilishuo.com/coupon/out/201410291824350ca4de926a " target="_blank"></a>	
		</div>
	</div>

	<div class="bg6">
	</div>

	<div class="bg7">
	</div>

</div>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
     fml.use('page/huodong/loreal1');
_use:", this._JSstack , this._JSmods ); %>

<%#foot.html%>
