<%#head.html%>
<div class="ms_top3">
	<span class="ms_click"></span>
	<a class="ms_sina" target="_blank" href="http://e.weibo.com/marksandspencer"></a>
</div>
<ul class="ms_tab">
	<%
		var tagH = ['', '', ''];
		tagH[this.tag] = 'current';
	%>
	<li><a href="/huodong/ms/?tag=0" class="<%=tagH[0]%>">Office Lady装（1月14日 - 1月18日）</a></li>
	<li><a href="/huodong/ms/?tag=1" class="<%=tagH[1]%>">尾牙派对装（1月21日 - 1月25日）</a></li>
	<li><a href="/huodong/ms/?tag=2" class="<%=tagH[2]%>" style="margin-right:0;">情人节约会（1月28日 - 2月1日）</a></li>
</ul>
<div class="goods_wall" style="width:960px; margin:0 auto;"></div>
<%#poster.html%>
<!-- <div class="ms_share">
	<div class="share_group">
		<p>推荐到</p>
		<ul>
			<li><span class="i_sina"></span></li>
		</ul>
	</div>
</div> -->
<div class="spinner botSpinner none_f"></div>
<div class="clear_f"></div>
<div class="paging_panel c_f none_f">
<%#paging.html%>
</div>
<script type="text/html" id="ms">
	<div class="mspop">
		<div class="goods_msimg">
			<img src="<%= this.PICTURE_URL %>images/huodong/ms/ms_img4.jpg" class="magaImgage" />
		</div>
		<dl class="ms_look">
			<dt>1、挑选你喜欢的M&S宝贝</dt>
			<dd>
				<a href="http://www.meilishuo.com/jump?frm=ms" target="_blank" class="ms_link"></a>
			</dd>
			<dt>2、请在下面输入你最喜欢的M&S Tmall店宝贝的链接地址，一起来参加#M&S百搭大赛赢取M&S Tmall现金券#的活动吧</dt>
			<dd class="ms_lan">
				<input type="text" class="msurl" /><span class="mssure"></span>
				<div class="clear_f"></div>
				<div id="linkMessageTips"></div>
			</dd>
			<dd class="c_f">
				<input type="button" disabled="true" class="ms_sub1 ms_sub3" />
				<label class="ms_follow"><input type="checkbox" checked="true"/>关注M&S小站</label>
			</dd>
		</dl>
		<p class="ms_tip">友情提示：最多可以传6张哦，生成拼图的速度会因为图片数量增多而变慢，请各位亲耐心等待~</p>
	</div>
</script>


<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
    fml.use('page/huodong/ms');
	fml.use('page/poster');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>
