<%#head.html%>
<div class="sp">
	<div class="sp_topbg">
		<a href="http://www.meilishuo.com/u/EB_Gt3?frm=shangpin1" target="_blank" class="slinks"></a>
		<div class="shangpin"></div>
		<img src ="<%= this.PICTURE_URL %>images/huodong/shangpin/bird3.gif" class="bird" />
	</div>
	<div class="goods_wall content_fluid"></div>
	<%#poster.html%>
<!-- 	<div class="share_group">
		<p>推荐到</p>
		<ul>
			<li><span class="i_qzone"></span></li>
			<li><span class="i_sina"></span></li>
			<li><span class="i_tx"></span></li>
		</ul>
	</div> -->
	<div class="spinner botSpinner none_f"></div>
    <div class="clear_f"></div>
	<div class="paging_panel c_f none_f">
	<%#paging.html%>
	</div>
</div>

	<!--弹窗-->
	<script type="text/html" id="huodong">
	    <div class="ddpop">
			<div class="goods_ddimg">
				<img src="<%= this.PICTURE_URL %>images/huodong/shangpin/sp_look.png" class="magaImgage" />
			</div>
			<dl class="dd_look">
				<dt>1、挑选宝贝</dt>
				<dd class="sp_link">
					<a href="http://www.meilishuo.com/u/EB7GG7?frm=shangpin2" target="_blank">高街百搭服饰</a><a href="http://www.meilishuo.com/u/EB7GDz?frm=shangpin3" target="_blank" style="margin-right:0;">个性美鞋搭配</a><a href="http://www.meilishuo.com/u/EB7F-f?frm=shangpin4" target="_blank">摩登单品盛宴</a><a href="http://www.meilishuo.com/u/EB7F6d?frm=shangpin5" target="_blank" style="margin-right:0;">魅惑“芯”情物语</a>
				</dd>
				<dt>2、粘贴链接</dt>
				<dd class="lg">请在下面输入上品网宝贝的链接地址：</dd>
				<dd class="preview">
					<input type="text" class="ddurl" />
					<input type="button" value="预览" class="spsure" />
				</dd>
				<dd id="linkMessageTips"><span class="ddmsg"></span></dd>
				<dd class="sub"><span class="ddmsg"></span>&nbsp;<input class="spsub" disabled="true" type="button" value="提&nbsp;交" /></dd>
			</dl>
	    </div>
	</script>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/huodong/shangpin');
	fml.use('page/poster');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>
