<%# head.html%>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <div style="display:none">
        <img src="http://d05.res.meilishuo.net/pic/_o/67/1a/0dc67d1c9bd7bff5c61c12e5acc5_487_65.ch.png">
        <img src="http://d03.res.meilishuo.net/pic/_o/82/39/a917985840f6d73c2cb984cc5c63_491_65.cg.png">
        <img src="http://d02.res.meilishuo.net/pic/_o/67/1a/0dc67d1c9bd7bff5c61c12e5acc5_487_65.ch.png">
        <img src="http://d02.res.meilishuo.net/pic/_o/82/39/a917985840f6d73c2cb984cc5c63_491_65.cg.png">
        <img src="http://d01.res.meilishuo.net/pic/_o/99/af/9707f878f4304baca4df3e431dd6_492_65.cg.png">
        <img src="http://d05.res.meilishuo.net/pic/_o/7c/80/e409cbf40061fcd6442db49b28e5_640_131.cf.png">
        <img src="http://d02.res.meilishuo.net/pic/_o/21/bd/f73402d5308cbaf29e456d50fdec_454_600.cg.png">
    </div>
    <div class="game_top">
        <img src="http://d05.res.meilishuo.net/pic/_o/43/d9/263734eb82cd39e39f8e6fef65c9_639_174.ch.png">
        <div id="count">
            <img src="http://d02.res.meilishuo.net/pic/_o/bb/ba/2376da7007c45d8baaf6d4c6ce31_257_60.ch.png">
            <p>成绩<span id="count_num">0</span>层</p>
        </div>
    </div>
    <div class="game_main">
    	<div class="play">
    		<img id="play_game" src="http://d03.res.meilishuo.net/pic/_o/8b/03/54b5bc388e596902de5e47debac3_193_205.ch.png">
    	</div>
    	<div class="btnbar">
    		<div class="btn_list">
    			<img id="gz_btn" src="http://d02.res.meilishuo.net/pic/_o/df/a3/59ba9d45cb097caaae06078bd19e_113_147.cf.png">
    		</div>
    		<div class="btn_list">
    			<img id="jp_btn" src="http://d04.res.meilishuo.net/pic/_o/4c/80/85ee2d97f8bcd9417f3c0a8d796d_113_147.cf.png">
    		</div>
    		<div class="btn_list">
    			<img id="ph_btn" src="http://d05.res.meilishuo.net/pic/_o/ca/eb/450e78f3b66c758a9ea284995096_113_147.ch.png">
    		</div>
    	</div>
    	<div class="logo">
    		<img src="http://d03.res.meilishuo.net/pic/_o/f5/17/233af6fc6960b774d2b06884a82d_640_66.cf.png">
    	</div>
    </div>
     <script type="text/html" id="weibo_open">
     <div rel="closeMask">
    <div class="shade"></div>
        <div class="wx_tip">
            <img src="http://d02.res.meilishuo.net/pic/_o/76/f1/0e9c13051c39bc107ef5b23f2391_640_568.cg.png">
        </div>
    </div>
    </script>
    <script type="text/html" id="share_app">
    <div class="shade"></div>
        <div class="dialog_box" rel="dialog_box" style="background:#fff; top:40%">
            <div class="share_box">
                <div class="shareBar">
                    <img src="http://d04.res.meilishuo.net/pic/_o/e3/9d/a3a5af4bb857e80f4ec31dec9530_118_168.cf.png" id="share_pyq">
                </div>
                <div class="shareBar">
                    <img src="http://d02.res.meilishuo.net/pic/_o/06/7a/23852fb9f0605620f7a0faf3369b_120_166.cf.png"  id="share_wx">
                </div>
            </div>
            <div class="conlso">
                <a class="close_dialog">取消</a>
            </div>
        </div>
    </script>
    <script type="text/html" id="share_wx">
    <div rel="closeMask"> 
        <div class="shade"></div>
        <div class="wx_tip" ><img src="http://d05.res.meilishuo.net/pic/_o/61/ca/058f726cd0b23224c3b0ee7fb805_640_580.cf.png"></div>
    </div>
    </script>
    <script type="text/html" id="over_tip">
    <div rel="closeMask"> 
        <div class="shade"></div>
        <div class="fist_tip"><img src="http://d01.res.meilishuo.net/pic/_o/d2/8a/8fccfb4837ab1762c7923c44ef30_516_137.cg.png"></div>
    </div>
    </script>
    <script type="text/html" id="first_tip">
    <div rel="closeMask"> 
        <div class="shade"></div>
        <div class="fist_tip"><img src="http://d01.res.meilishuo.net/pic/_o/4c/ad/7e0e3c70e8c805b079a2a8e63b22_640_335.ch.png"></div>
    </div>
    </script>
    <script type="text/html" id="zhongjiang">
<div class="shade2"></div>
	<div class="guang">
        <div class="dialog_box" rel="dialog_box2" style="z-index:998; top:1%">
        <img src="http://d04.res.meilishuo.net/pic/_o/e7/74/82c397e8bc072a5c67409ca81a81_454_315.ch.png">
        <article class="dialog_body">
            <div class="dialog_content">
                <div class="tc_list">
                	<div class="defen">
                		<img src="http://d04.res.meilishuo.net/pic/_o/92/8b/b127001044102e2fa22b926d831a_140_53.ch.gif" class="t1">
                		<span class="t2"><?= this.data.count ?></span>
                		<img src="http://d02.res.meilishuo.net/pic/_o/9a/d1/78adf7154795861269a6b62bc577_58_56.ch.gif" class="t3">
                	</div>
                	<div class="dabai">恭喜你打败了全国<?= this.data.dabai ?>％的吃货<br>奖励亲一张优惠券</div>
                	<div class="dej">
                		<div class="jjj">¥<span class="j_num"><?= this.data.yuan ?></span><?= this.data.tj ?></div>
                	</div>
                </div>
                <div class="tc_list end">
                	<div class="highest_box">你的最高分数：<?= this.data.higs ?>层</div>
                </div>
            </div>
        </article>
        <div class="dialog_foot">
            <img src="http://d02.res.meilishuo.net/pic/_o/37/55/52ace44c44ecbbbbbcbd03d70032_454_50.ch.png">
        </div>
        <div class="btn_list">
            <div class="btn_box">
                <img class="replay" src="http://d03.res.meilishuo.net/pic/_o/cf/4e/df30d9f9d0b074d7bb1903b55872_111_140.cf.png">
            </div>
            <div class="btn_box">
                <img class="phsee" src="http://d05.res.meilishuo.net/pic/_o/5b/5f/462b88651ba9be55fdf2c591dad2_111_142.ch.png">
            </div>
            <div class="btn_box end">
                <img class="share_btn" src="http://d04.res.meilishuo.net/pic/_o/03/a8/954339a7e1a7f609b5a88f4be343_111_140.ch.png">
            </div>
        </div>
        <div class="text_link">
        <? if(this.data.app){ ?>
            <a href="javascript:void(0)" id="gohuic">
                立即使用优惠券 >
                <!--<img src="http://d02.res.meilishuo.net/pic/_o/89/d9/d54276ca5c2e9ea4d218622dfb3d_640_35.cf.png">-->
            </a>
        <? }else{ ?>
            <a href="javascript:void(0)" id="goapp">
            下载美丽说App，立即使用优惠券 >
                <!--<img src="http://d03.res.meilishuo.net/pic/_o/6e/4e/af49b8b13545e4bd930fab81540c_640_35.ch.png">-->
            </a>
        <? } ?>
        </div>
    </div>
</div>
    </script>
    <script type="text/html" id="paihang">
    <div class="shade"></div>
    <div class="dialog_box" rel="dialog_box">
        <img src="http://d02.res.meilishuo.net/pic/_o/3b/79/c50db5e333497aadc9df9d66a585_454_180.cg.png">
        <article class="dialog_body">
            <div class="dialog_content">

            <? for(var i=0;i<this.data.length;i++){ ?>
                <div class="tc_list">
                	<div class="ph_list">
                		<div class="user_head">
                			<img src="<?= this.data[i].avatar ?>">
                		</div>
                		<div class="user_name"><?= this.data[i].nickname ?></div>
                		<? if(i==0){ ?>
                		<div class="mingci d1">冠军</div>
                		<div class="qian3"><img src="http://d03.res.meilishuo.net/pic/_o/31/76/e52de30114268e4ba48d6dcc49a5_31_44.cf.gif"></div>
                		<? }else if(i==1){ ?>
                		<div class="mingci d2">亚军</div>
                		<div class="qian3"><img src="http://d04.res.meilishuo.net/pic/_o/71/b7/c12a384a79b3824eefc5ddf24878_31_44.cg.gif"></div>
                		<? } else if(i == 2){ ?>
                		<div class="mingci d3">季军</div>
                		<div class="qian3"><img src="http://d01.res.meilishuo.net/pic/_o/55/97/78f9f563f383046bbba7805d2f79_31_44.cg.gif"></div>
                		<? }else{ ?>
                		<div class="mingci_num">第<?= i + 1 ?>名</div>
                		<? } ?>
                		<div class="ceng_num"><?= this.data[i].score ?>层</div>
                	</div>
                </div>
             <? } ?>
             <p class="ph_tip">仅显示前50名哟~快加油吧！</p>
                
            </div>
        </article>
        <div class="dialog_foot">
            <img src="http://d02.res.meilishuo.net/pic/_o/37/55/52ace44c44ecbbbbbcbd03d70032_454_50.ch.png">
        </div>
        <div class="que_btn">
        	<img src="http://d03.res.meilishuo.net/pic/_o/4f/a2/0184a8aaa17e37dad6453e116ff6_232_72.cg.png">
        </div>
    </div>
    </script>
    <script type="text/html" id="jiangpin">
    <div class="shade"></div>
    <div class="dialog_box" rel="dialog_box">
        <img src="http://d02.res.meilishuo.net/pic/_o/1d/39/7344a10bfa28325930e9ba9c407d_454_180.cg.png">
        <article class="dialog_body">
            <div class="dialog_content">
                <img src="http://d01.res.meilishuo.net/pic/_o/aa/67/8f63f5de9196e88829f7c5bcefb3_395_613.ch.jpg">
            </div>
        </article>
        <div class="dialog_foot">
            <img src="http://d02.res.meilishuo.net/pic/_o/37/55/52ace44c44ecbbbbbcbd03d70032_454_50.ch.png">
        </div>
        <div class="que_btn"><img src="http://d03.res.meilishuo.net/pic/_o/11/41/0171b3207795102bf0db0c759459_232_72.cg.png"></div>
    </div>
    </script>
    <script type="text/html" id="guize">
    	<div class="shade"></div>
    <div class="dialog_box" rel="dialog_box">
        <img src="http://d04.res.meilishuo.net/pic/_o/f4/07/6c663b8b83698125d0e8de4d460e_454_180.cg.png">
        <div class="dialog_body">
            <div class="dialog_content">
                <div class="guize">
                	<dl>
                		<dt>1.</dt>
                		<dd>活动时间：2015年5月5日10:00:00——2015年5月8日23:59:59。</dd>
                	</dl>
                	<dl>
                		<dt>2.</dt>
                		<dd>活动条件：通过手机美丽说for iOS和 for Android，或者通过微信、新浪微博分享的链接参与活动。</dd>
                	</dl>
                	<dl>
                		<dt>3.</dt>
                		<dd>用户可以通过点击屏幕来控制水果沙拉的掉落时机，叠加的水果拼盘层数越多越好。</dd>
                	</dl>
                	<dl>
                		<dt>4.</dt>
                		<dd>每局游戏结束后用户均有机会获得美丽说提供的奖品，分数越高中奖的的几率越高。</dd>
                	</dl>
                	<dl>
                		<dt>5.</dt>
                		<dd>奖项设置：一等奖3名价值1600元日立N2000美容仪一台；二等奖50名，价值190元飞利浦负离子梳一个；三等奖500名，美丽说100元全场无门槛券；四等奖50000名，美丽说满169元减30优惠券；五等奖100000名，美丽说满79元减10优惠券；六等奖250000名，美丽说5元全场无门槛券；七等奖300000名，美丽说1元全场无门槛券。</dd>
                	</dl>
                	<dl>
                		<dt>6.</dt>
                		<dd>获得一、二等奖的用户请在活动页面填写收货地址，活动结束后7日内陆续发货。</dd>
                	</dl>
                	<dl>
                		<dt>7.</dt>
                		<dd>获得三---七等奖等奖的用户可以在美丽说app，“我---我的优惠券”中查看。</dd>
                	</dl>
                	<dl>
                		<dt>8.</dt>
                		<dd>如果在微信中玩游戏，获得了全场优惠券，可以使用微信号登陆美丽说app，则可用微信登陆美丽说app，在“我---我的优惠券”中查看。</dd>
                	</dl>
                	<dl>
                		<dt>9.</dt>
                		<dd>活动中中奖的全场直接减券使用时间：2015年5月5日00:00:00——5月8日23:59:59。</dd>
                	</dl>
                	<dl>
                		<dt>10.</dt>
                		<dd>活动中中奖的全场优惠券使用方式：可用于美丽说全部店铺商品购买时满减或直减，可与店铺优惠券叠加使用，但不能同平台优惠券同时使用。</dd>
                	</dl>
                    <dl>
                        <dt>11.</dt>
                        <dd>若订单的金额小于优惠券的金额，多出部分不予退回。</dd>
                    </dl>
                    <dl>
                        <dt>12.</dt>
                        <dd>全场直接减券一经使用，不可退回。如产生退货，所退款项只限您实际支付的金额，优惠券不退。</dd>
                    </dl>
                    <dl>
                        <dt>13.</dt>
                        <dd>全场直接减券不能提现、不能转增、不能为他人付款。</dd>
                    </dl>
                    <dl>
                        <dt>14.</dt>
                        <dd>凡作弊用户，美丽说有权作废奖品并且封禁帐号，最终解释权归美丽说所有。</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="dialog_foot">
            <img src="http://d02.res.meilishuo.net/pic/_o/37/55/52ace44c44ecbbbbbcbd03d70032_454_50.ch.png">
        </div>
        <div class="que_btn"><img src="http://d03.res.meilishuo.net/pic/_o/11/41/0171b3207795102bf0db0c759459_232_72.cg.png"></div>
    </div>
    </script>
    <script type="text/html" id="nozhong">
        <div class="shade2"></div>
        <div class="dialog_box" rel="dialog_box2" style="z-index:998; top:20%">
        <img src="http://d03.res.meilishuo.net/pic/_o/f7/90/8931d131327dcb29a347503b6593_454_180.cf.png">
        <article class="dialog_body">
            <div class="dialog_content">
                <div class="tc_list">
                	<div class="defen">
                		<img src="http://d04.res.meilishuo.net/pic/_o/92/8b/b127001044102e2fa22b926d831a_140_53.ch.gif" class="t1">
                		<span class="t2"><?= this.data.count ?></span>
                		<img src="http://d02.res.meilishuo.net/pic/_o/9a/d1/78adf7154795861269a6b62bc577_58_56.ch.gif" class="t3">
                	</div>
                	<div class="dabai">恭喜你打败了全国<?= this.data.dabai ?>％的吃货</div>
                </div>
                <div class="tc_list end">
                	<div class="highest_box">你的最高分数：<?= this.data.higs ?>层</div>
                </div>
            </div>
        </article>
        <div class="dialog_foot">
            <img src="http://d02.res.meilishuo.net/pic/_o/37/55/52ace44c44ecbbbbbcbd03d70032_454_50.ch.png">
        </div>
        <div class="btn_list">
            <div class="btn_box">
                <img class="replay" src="http://d03.res.meilishuo.net/pic/_o/cf/4e/df30d9f9d0b074d7bb1903b55872_111_140.cf.png">
            </div>
            <div class="btn_box">
                <img class="phsee" src="http://d05.res.meilishuo.net/pic/_o/5b/5f/462b88651ba9be55fdf2c591dad2_111_142.ch.png">
            </div>
            <div class="btn_box end">
                <img class="share_btn" src="http://d04.res.meilishuo.net/pic/_o/03/a8/954339a7e1a7f609b5a88f4be343_111_140.ch.png">
            </div>
        </div>
        <div class="text_link">
        <? if(this.data.weibo){ ?>
            <a href="http://m-promotion.meilishuo.com/promotion/common/custompage/?fid=221&mid=83&nid=0&frm=game" id="gomai">
                美丽说夏日果色来袭促销ing >
            </a>
        <? }else if(this.data.app){ ?>
            <a href="http://m-promotion.meilishuo.com/promotion/common/custompage/?fid=221&mid=83&nid=0&frm=game" id="gomai">
                又没中奖，买买买，去去火 >
            </a>
            <?  }else{ ?>
                <a href="javascript:void(0)" id="gomai">
                又没中奖，买买买，去去火 >
            </a>
            <? } ?>
        </div>
    </div>

    </script>
    <script>
        fml.vars.isWx = <%= this.isWx%>;
    </script>
    <%! $_ENGINE_SELF.callFn( "useModule")( "<<<_use:
fml.use('wap/page/activity/guobinfen_game');
_use:", this._JSstack , this._JSmods ); %>
        <%# foot.html%>