@import "../atom.less";
.bg_icons{background:url("@{pic_url}/images/store/mls_store131110_1.png") no-repeat;}
.title_icon{background:url("@{pic_url}/images/doota/refund_apply_icon.png") no-repeat;}

.icon_info{.w(948px);.auto;
	.h_icon{.title_icon;.w(164px);.h(34px);.mt(23px);.mb(22px);}
}
.wrong_tip{.red;}
.curr_status_text{.ml(20px);}
.flowStep{.w(948px);.auto;.bgc(#fff);.pt(20px);.pb(30px);.border-1(#e6e6e6);
	.step_round{.ml(235px);
		.step_done{.w(12px);.h(12px);.bg_icons;.bp(-92px,-48px);}
		.step_undone{.w(12px);.h(12px);.bg_icons;.bp(-109px,-48px);}
		.step_done,.step_undone{.left;}
		.line{.pt(5px);border-bottom: 1px #f69 solid;.left;.w(140px);.h(0px);}
	}
	.step_desc{.mt(10px);.ml(217px);
		.step_done{.red;}
		.step_undone{.fc(#bfbfbf);}
		.step_done,.step_undone{.w(48px);.h(12px);.f(12px);.mr(104px);.left;}
	}
	.display_text{.c;.mt(30px);}
}

.prove_info{padding: 0 20px;.bgc(#fff);.w(908px);.border-1(#e6e6e6);.auto;.mt(9px);
	.prove_table{margin:20px 0;}
	.must {.red;.pr(5px);}
	.name_td{white-space: nowrap;vertical-align: top;}
	td{.l(30px);.pt(5px);.pb(5px);}
	.upload{.w(89px);.h(28px);.l(28px);.left;.bgc(#f2f2f2);.c;.mr(9px);}
	.info_input{.mr(18px);}
	.desc_area{.w(821px);.h(67px);.pl(5px);.pt(5px);font-size:12px}
	.submit_btn{
		input{.w(100px);.h(36px);.bgc(#f69);.f(14px);.fc(#fff);.c;border: 0;.border-r;.mt(20px);.cursor;}
	}
}

.refund_main{padding:10px 20px 0 20px;.bgc(#fff);.w(908px);.border-1(#e6e6e6);.auto;.mt(9px);
	.refund_item{
		.i_title{.pt(10px);.pb(10px);.f(12px);border-bottom: #e6e6e6 1px solid;}
	}
	.i_content{border-top: 1px #e6e6e6 dotted;.mt(-1px);.pt(10px);
		.c_title{.mb(10px);}
		.i_content_table{border-collapse: collapse;.mb(20px);
			td{.l(22px);}
			.name_td{white-space: nowrap;vertical-align: top;}
		}
	}
	
	.mr30{.mr(30px);}
}

.goods_info{.w(948px);.border-1(@color:#e6e6e6);border-top: 2px #f69 solid;.bgc(#fff);.auto;.mt(9px);
	.g_info_table{.w(100%);border-collapse: collapse;
		th,.shop_info{.h(42px);border-bottom: 1px solid #e6e6e6;}
		.goods_detail{
			td{.c;}
		}
		.bl{border-left:1px solid #e6e6e6}
		.shop_info{
			.contact_service{.w(87px);.h(25px);background:url("@{pic_url}/images/serviceqq/service_qq.gif") no-repeat;.pr;
				a{.pa;.w(100%);.h(100%);}
			}
			.shop_name{.left;.h(22px);}
			.contact_service{.left;}
			.shop_name{.ml(20px);.mr(10px);.l(22px);}
		}
		.goods_td{.w(295px);padding: 20px 0;
			.goods_name{.h(32px);}
			.img_a,.info_div{.left;}
			.img_a{
				img{.w(60px);.h(60px);.ml(20px);.mr(20px);.border-1(#e6e6e6);}
			}
			.info_div{.w(192px);.l(18px);text-align: left;
				.goods_detail_info{.mt(10px);.fc(#999);}
				span{.mr(25px);}
			}
		}
		.foot_info_td{.h(52px);border-top: 1px solid #e6e6e6;.pl(20px);}
		.ml50{.ml(50px);}
		.fr{.right;}
		.mr75{.mr(75px);}
		.pr20{.pr(20px);}
		.total_price{.f(18px);.red;}
	}
}

.appeal_nav{.w(948px);.auto;.mb(20px);
	.m5{.ml(2px);.mr(2px);}
}

.appeal_progress{.w(948px);.border-1(#e6e6e6);.auto;.bgc(#fff);.mt(9px);
	.pro_content{padding: 20px;}
	.p_lasttime{.red;.ml(5px);.mr(5px);}
}
.img_wrapper{.mt(-20px);.mb(20px);
	.imgUpload {.left;.w(98px);.h(98px);.border-1(@color:#e6e6e6);.mr(9px);position:relative;
		.close{position:absolute;top:0;right:0;z-index:3;.w(18px);.h(18px);.i_block;background:url("@{pic_url}/images/doota/remove_pic.png")}
		img,a {.w(98px);.h(98px);.block;.cursor;}
	}
}
.img_wrapper.no-mt{
	.mt(20px);
}
