.yy_sale() {
  .w708 {
    .w(908px);
    .ml(20px);
  }
  .w100 {
    .w(100%);
  }
  p.day {
    padding : 20px 10px 20px 20px;
    span {
      margin : 0 5px;
    }
  }

  .deal-brief {
    height           : 42px;
    padding-left     : 31px;
    line-height      : 42px;
    color            : #999;
    border           : 1px solid #e6e6e6;
    border-top-width : 0;
  }

  .deal-all {
    border-collapse : collapse;
    thead {
      tr {
        th { .tl;
          .h(40px);
        }
        border-bottom : 1px solid #e6e6e6;
      }
    }
    font-weight     : 100;

    th, td {
      width : 197px;
    }

    .deal-num {
      white-space : pre-line;
      word-break  : break-all;
    }
    .deal-style {
      .w(160px);
      overflow : hidden;
    }
    .deal-comments {
      tr {
        .h(70px);
      }
      td {
        border-bottom : 1px dotted #ccc;
        img, span {
          .left;
        }
        img {
          .mt(-10px);
          .mr(20px);
          border-radius : 2px;
        }
      }
    }

    .price-num {
      font-style : normal;
    }

    .price-label {
      /* chrome 38 下，hover 不起作用，只能设置 display */
      display     : inline-block;
      margin-left : 5px;
      padding     : 0 2px;
      color       : #f69;
      border      : 1px solid #f69;
      font-style  : normal;
      cursor      : default;

      &:hover {
        color            : #fff;
        background-color : #f69;
      }
    }
  }

  .goods-star {
    position : relative;
    margin: 20px 0 40px;
    overflow : hidden;
  }

  .goods-star-left {
    float : left;
    width: 50%;
  }

  .goods-star-right {
    float : right;
    width: 50%;

    .goods-star-title {
      margin-top: 14px;
    }

    li {
      float : left;
      width: 42%;
      margin-bottom: 15px;
    }
  }

  .goods-star-title {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
  }

  .goods-tags {
    li {
      margin-bottom: 15px;
    }

    .item-tag-progressbar {
      width: auto;
      background-color: #fff;
    }

    .item-tag-progress {
      border-radius: 0;
    }
  }

  /* 商品评价的进度条 */
  .item-tag-progressbar {
    display          : inline-block;
    width            : 90px;
    height           : 14px;
    margin      : 0 4px 0 10px;
    border-radius    : 3px;
    background-color : #e6e6e6;
    vertical-align   : middle;
  }

  .item-tag-progress {
    display          : block;
    height           : 14px;
    background-color : #fcc63b;
    border-radius    : 3px;
  }

  /*
      商品好评率
    */
  .goods-praise-ratio {
    margin-left: 10px;
    font-size: 30px;
    font-weight : normal;
    color: #f69;
  }

  .star-outer, .star-inner {
    display     : inline-block;
    line-height : 16px;
  }

  .star-outer {
    position : relative;
    bottom : -2px;
    width: 85px;
    margin : 0 8px;
    background  : url("@{pic_url}/images/shop/star-c2.png") repeat-x;
  }

  .star-inner {
    height: 16px;
    background : url("@{pic_url}/images/shop/star-c1.png") repeat-x;
  }

  .comments {
    .reply_box { .mt(0); .p20; border-bottom : 1px solid #e6e6e6;
      .review { .mt(18px); }
    }
    .list {
      li.show {
        .pt(15px); .pb(5px);
      }
      > li { .l(18px); .pt(18px); .pb(10px); width : 100%;
        .avatar48_f { .border-r(5px);
          img { .border-r(5px); }
        }

        p { .ml(68px);
          .date { color : #ccc; .right; }
          .date-dis { color : #999; .right; }
          .reply { .red; .cursor; .ml(10px) }
          .del { .red; .cursor; }
          .facetableSetxy { .h(24px); .w(24px); }
        }
        .l_st {
          .pb(2px);
          .pl(10px);
          background-color : #f9f9f9;
        }
        .l_con {
          .l(16px); .mt(15px); .mb(10px); color : #666;
          .ml(78px);
        }
        .star { .mt(3px); .mr(10px); }
      }
      li.last { .border-n; }
    }
  }

  .eva_comments_filter_tab {
    .left;
    width         : 100%;
    border-bottom : 1px solid #e6e6e6;

    li {
      .left;
      padding : 0 20px 10px;
      cursor  : pointer;
    }

    .last_item {
      .right;
      .pr(0);
    }

    .cur {
      .pb(12px);
      .mb(-2px);
      color         : #f69;
      border-bottom : 3px solid;
    }
  }

  /* 留言头部 */
  .twitter_comment_hd {
    .ml(68px);
    .l(22px);
    background-color : #f9f9f9;
    overflow         : hidden;

    li {
      .pl(10px);
      .pr(10px);
    }

    .l_name, .l_level {
      .left;
    }

    .r_info {
      .right;
    }

    .date-dis {
      .ml(20px);
      color : #999;
    }
  }

  /* 商家留言和追加评论 */
  #eva_comments .partner_reply, #eva_comments .append_comment {
    .ml(78px);
    .mt(15px);

    p {
      .ml(0);
      .mt(15px);
      .mb(10px);
    }

    .date-dis {
      color : #999;
    }
  }

  #short_show {
    .append_comment, .partner_reply {
      .mt(15px);
      .mb(10px);
    }

    .append_comment .append_comment_content {
      .mt(15px);
      .mb(10px);
    }

    .partner_reply .partner_reply_content {
      .mt(15px);
      .mb(10px);
    }

    .date-dis {
      color : #999;
    }
  }

  .partner_reply {
    .mb(10px);
    border-top : 1px dotted #e6e6e6;

    .partner_reply_content {
      color : #f93;
    }
  }

  .append_comment {
    border-top : 1px dotted #e6e6e6;

    .date-dis {
      .mb(0);
    }
  }

  .eva_comments .l_con, .short_eva_comments .l_con, .partner_reply_content, .append_comment_content {
    font-size : 14px;
  }

  #shop_comments_null, #shop_deal_null { .h(100px); .c; .f(14px); .l(100px); }
  .tab-star { .p10_0; border-bottom : 1px solid #e6e6e6;
    a { .cursor; .ml(20px); .mr(20px);
      span { .red; }
    }
  }
  .top_fans {
    div {
      .right;
      .ml(10px);
      .dgray;
    }
    .right;
    .attention {
      .right;
    }
    .l(24px);
    .goqq { .right; }
  }
  .attention {
    position : relative;
    .l(24px);
    .w(85px);
    .h(23px);
    .c;
    .border-1(@red);
    .cursor;
    .left;
    .ml(10px);
  }
  .shop_box {
    .attention {
      .ml(10px);
    }
  }
  .no_att {
    .bgred;
    span {
      .mr(7px);
    }
    .white;
  }
  .att {
    .red;
  }

}
