.goTop(){
	.goTop, #goTop {
		bottom: 100px; right:0; .pf; z-index: 450;
		li {
			.pt(16*@px);.pb(8*@px);.c;.pr(4px);
			.icon-cart{
				.icon > .cart;
				.h(80*@px); .w(80*@px);.i_block;
				.border-r(80*@px);
				.pr;

				span{ .fc(#592d4a);.pa;min-width: 1em;height: 1em;right: -3px;.bgc(#ffe814);padding: 3px;.border-r(1em);}
			}
			.icon-gotop{
				.icon > .gotop;
				.h(80*@px); .w(80*@px);.i_block;
				.border-r(80*@px);
			}
			.icon-gohome{
				.icon > .gohome;
				.h(80*@px); .w(80*@px);.i_block;
				.border-r(80*@px);
			}
		}
	}
}

.goTopRem(){
	.goTop, #goTop {
		bottom: 1rem; right:0; .pf; z-index: 450;
		li {
			.pt(.16rem);.pb(.08rem);.c;.pr(.04rem);
			.icon-cart{
				.icon > .cart;
				.h(.8rem); .w(.8rem);.i_block;
				.border-r(.8rem);
				.pr;

				span{ .fc(#592d4a);.pa;min-width: 1em;height: 1em;right: -.03rem;.bgc(#ffe814);padding: .03rem;.border-r(1em);}
			}
			.icon-gotop{
				.icon > .gotop;
				.h(.8rem); .w(.8rem);.i_block;
				.border-r(.8rem);
			}
			.icon-gohome{
				.icon > .gohome;
				.h(.8rem); .w(.8rem);.i_block;
				.border-r(.8rem);
			}
		}
	}
}
