.page(){
	.bgcnt { background: url("@{pic_url}/images/header/@{mls_ico}") no-repeat right -571px; .i_block; *display: inline; padding: 35px 120px 20px 100px; zoom: 1; .pr;}
	.pageRed(){
		margin: 10px auto; .c;
		a { .i_block; .fb; .f(1.4rem); .l(1.6); .c; .nowrap; .red; background-color: #ffe1ea; border:1px solid #fcc8d9; margin: 0 1px; min-width: 12px; padding: 0 4px; }
		.currentpage { .bgwhite; .border-1; color: #000; }
		.pagePrev, .pageNext{ .f(1.4rem); .fn; .w(50px); }
	}
	.pageGray(){
		.mt(10px); .tr;
		a { .i_block; .l(18px); .c; .nowrap; .bgwhite; border: 1px solid #999; padding: 0 3px; 
			&:hover { background-color: #999; .white; }
		}
		.currentpage { background-color: #f7f7f7; .border-n; color: #000; }
		.pageNextico { .h(58px); .w(55px); .pa; right: 0; top: 0; }
		.pagePrev, .pageNext{ .w(50px); }
	}
}

