@import "../block.less";
@import "../window.less";
@import "../block/common_sale.less";
body { .bgc(@bodybg); }
.sale_icons;
.poster_icons;
.poster;
.fluid;
.page;
.detail { .w(948px); .auto; .mt(20px);
    .shop_name{background:url("@{pic_url}/images/shop/shop_tle.png") no-repeat 0 2px; .pl(30px); .h(40px); .f(18px);}
    .sale { .right; .w(477px); .pr(21px); 
        .s_tle { .f(16px); .fb; .l(26px); }
        .daren { .pt(14px);  
            p { .ml(52px); }
            .text { .l(20px); .mt(3px); 
                .quot_l, .quot_r { .h(16px); .pl(15px); }
                .quot_l { .bp(-123px,0); }
                .quot_r { .bp(-156px,0); }
            }
        }
        .timeBox { .bgc(#f9f9f9); .gray; .f(14px); .mt(20px); .h(32px); .l(32px); .pl(10px);
            .big_clock { .bp(-109px,-68px); .left; .h(28px); .w(32px); }
        }
        .sku_meta { .border-tc(dotted); .pt(24px); .mt(20px);
            li { .h(26px); .l(26px); 
                .sort { .w(66px); .left; 
                    em { .i_block; .pl(100%); }
                }
                .btn { .left; .h(20px); .l(20px); .ml(10px); .mt(2px); .pl(5px); .pr(5px); cursor: auto; }
                .del { .t-through; }
                .price { .red; .left; .f(24px); }
                .btn_prom { .bgred; .white; .mr(5px); padding: 1px 3px; }
                .j-comment,.j-show{
                    .fc(gray);.cursor;
                    text-decoration: underline;
                }
                .j-comment:hover,.j-show:hover{
                    .fc(#f69);
                }
            }
        }
    }
    .btn_box{ .clearfix;
            .buy_btn, .define { .bgc(#f69); .white; } 
            .buy_btn{ .mt(24px);}
            .buy_btn, .define { .cursor; .f(16px); .h(40px); .l(40px); .left; .c; .mr(5px); .mt(24px); .w(130px); }
            .inbox { .block; }
        }
        .define { .none; }
    .picture { .left; .w(450px); .inline;
               .big_pic { .w(450px); .block; .c; .vm; display:table-cell;
                img { max-width: 450px; max-height: 680px; .vm; }
            }
     }

 }
 .logo_wrap{
    .logo_new{ cursor:text;}
}
.tros_f{.w(1200px); .auto;  .f(14px);  .l(20px);}
 .likes{ cursor:text;}
.promiseBox;

.subtitle {
  height: 48px;
  line-height: 48px;
  margin-left: 5px;
  border-bottom: 1px solid #e6e6e6;

  span {
    float: left;
    margin-top: -2px;
    padding: 0 20px;
    color: #f69;
    border-bottom: 3px solid;
  }
}
.foot_con{ .l(22px);}
