/**
 * @fileoverview 首页 － 签到优惠券V2
 * @requires
 * @author kehuang@meilishuo.com
 * @date 2014-12-25
 */

@import "../../block.less";

html{.f(10*@f);}
body{.bgc(#d32f30);}
img{.block;.w(100%);}
a{.block;outline:none;}

.body_wrap{
	.pr;
	.w(100%);
	background-image:url('@{pic_url}/images/wap/activity/sign_coupon/sign_coupon_bg.jpg');
	background-size:100%;

	.head_wrap{
		.c;
		.w(100%);
		margin:1% auto;
		.head{
			.vm;
			.w(11%);
			.h(11%);
			.mr(.4rem);
			.i_block;
			.border-r(50%);
			overflow:hidden;
			border:2px solid #f35859;
			img{
				border:0;
				.border-r(50%);
			}
		}
		.award{
			.vm;
			.f(1.5rem);
			.fc(#fff);
			.num{
				.fc(#ffef3d);
			}
		}
	}

	.coupon_wrap{
		.pb(8%);

		.dividing_line{
			.w(534*@w);
			margin:2% auto 3%;
			border-bottom:1px dashed #fff;
		}

		.coupon_wall li{
			.coupon{
				.pr;
				.auto;
				.block;
				.w(569*@w);
				.pt(218*@w);
				.mb(5%);
				p{
					.pa;
					.fc(#fff);
				}
				.desc{
					top:49%;
					left:45%;
					.f(.8rem);
					.l(.8);
				}
			}
			.coupon.direct_5_0_coupon{
				background:url("@{pic_url}/images/wap/activity/sign_coupon/direct_5_0_coupon.png") no-repeat;
				background-size:100%;
			}
			.coupon.direct_5_1_coupon{
				background:url("@{pic_url}/images/wap/activity/sign_coupon/direct_5_1_coupon.png") no-repeat;
				background-size:100%;
			}
			.coupon.direct_10_0_coupon{
				background:url("@{pic_url}/images/wap/activity/sign_coupon/direct_10_0_coupon.png") no-repeat;
				background-size:100%;
			}
			.coupon.direct_10_1_coupon{
				background:url("@{pic_url}/images/wap/activity/sign_coupon/direct_10_1_coupon.png") no-repeat;
				background-size:100%;
			}
			.coupon.direct_20_0_coupon{
				background:url("@{pic_url}/images/wap/activity/sign_coupon/direct_20_0_coupon.png") no-repeat;
				background-size:100%;
			}
			.coupon.direct_20_1_coupon{
				background:url("@{pic_url}/images/wap/activity/sign_coupon/direct_20_1_coupon.png") no-repeat;
				background-size:100%;
			}
			.coupon.direct_50_0_coupon{
				background:url("@{pic_url}/images/wap/activity/sign_coupon/direct_50_0_coupon.png") no-repeat;
				background-size:100%;
			}
			.coupon.direct_50_1_coupon{
				background:url("@{pic_url}/images/wap/activity/sign_coupon/direct_50_1_coupon.png") no-repeat;
				background-size:100%;
			}
			.coupon.direct_100_0_coupon{
				background:url("@{pic_url}/images/wap/activity/sign_coupon/direct_100_0_coupon.png") no-repeat;
				background-size:100%;
			}
			.coupon.direct_100_1_coupon{
				background:url("@{pic_url}/images/wap/activity/sign_coupon/direct_100_1_coupon.png") no-repeat;
				background-size:100%;
			}
		}
	}
}

/* 弹窗 */
.layer_shade{
	.pf;
	top:0;
	left:0;
	z-index:10;
	.w(100%);
	.h(100%);
	background:rgba(0,0,0,.5);
}

.layer_main{
  	.pa;
  	.w(80%);
  	top:5%;
  	left:10%;
  	.pt(115%);
  	z-index:10;
  	background:url("@{pic_url}/images/wap/activity/sign_coupon/coupon_layer_bg.png") no-repeat;
  	background-size:100%;
	.coupon_info{
		.c;
	    .pa;
	    top:43%;
	    .w(100%);
	    .f(1.5rem);
	    .fc(#af6d3d);
	    span{
	    	.f(2.2rem);
	    	font-weight:bold;
	    	font-style:italic;
	    }
	}
	.view_coupon_btn{
	    .pa;
	    .w(70%);
	    .pt(16%);
	    top:68%;
	    left:15%;
	 	border:0px solid red;
	}
	.close_coupon_btn{
	    .pa;
	    .w(70%);
	    .pt(16%);
	    top:81%;
	    left:15%;
	    border:0px solid red;
	}
}
