/**
 * @fileoverview 首页 － 签到优惠券V2
 * @requires
 * @author kehuang@meilishuo.com
 * @date 2014-12-25
 */

@import "../../block.less";

html{.f(10*@f);}
body{.bgc(#ffadad);}
img{.block;.w(100%);}
a{.block;outline:none;}

.body_wrap{
	.pr;
	.w(100%);
	background-image:url("http://d03.res.meilishuo.net/pic/_o/d1/fc/7173a70cf8be6f06f43824ac352d_640_1414.cf.jpg");
	background-size:100%;

	.head_wrap{
		.c;
		.w(100%);
		margin:2% auto;
		.head{
			.vm;
			.w(11%);
			.h(11%);
			.mr(.4rem);
			.i_block;
			.border-r(50%);
			overflow:hidden;
			border:2px solid #f35859;
			img{
				border:0;
				.border-r(50%);
			}
		}
		.award{
			.vm;
			.f(1.5rem);
			.fc(#fff);
			.num{
				.fc(#f00);
			}
		}
	}

	.coupon_wrap{
		.pb(8%);

		.dividing_line{
			.w(534*@w);
			margin:3% auto 4%;
			border-bottom:1px dashed #fff;
		}

		.coupon_wall li{
			.coupon{
				.pr;
				.auto;
				.block;
				.w(569*@w);
				.pt(218*@w);
				.mb(5%);
				p{
					.pa;
					.fc(#fff);
				}
				.title{
					top:18%;
					left:51%;
					.f(1.8rem);
					.l(1.8);
				}
				.desc{
					top:50%;
					left:45%;
					.f(.8rem);
					.l(.8);
				}
			}
			.coupon.full_5_0_coupon{
				background:url("http://d03.res.meilishuo.net/pic/_o/1a/a1/a8e360b2fdff01e916aa77d7b84e_569_218.cf.png") no-repeat;
				background-size:100%;
			}
			.coupon.full_5_1_coupon{
				background:url("http://d01.res.meilishuo.net/pic/_o/0d/e3/12c80c3090c9f6db601f32f598d9_569_218.ch.png") no-repeat;
				background-size:100%;
			}
			.coupon.full_5_2_coupon{
				background:url("http://d02.res.meilishuo.net/pic/_o/cb/57/344b4871a02f188e8c7b6e39d807_569_218.cg.png") no-repeat;
				background-size:100%;
			}
			.coupon.full_10_0_coupon{
				background:url("http://d05.res.meilishuo.net/pic/_o/4e/38/8f4ce776c2bee12c28768ae44977_569_218.cf.png") no-repeat;
				background-size:100%;
			}
			.coupon.full_10_1_coupon{
				background:url("http://d05.res.meilishuo.net/pic/_o/48/41/6bd961daf48bbad16e5d9711b297_569_218.cf.png") no-repeat;
				background-size:100%;
			}
			.coupon.full_10_2_coupon{
				background:url("http://d05.res.meilishuo.net/pic/_o/46/0f/2217a6ff4979170ca2e527f0f046_569_218.ch.png") no-repeat;
				background-size:100%;
			}
			.coupon.full_20_0_coupon{
				background:url("http://d03.res.meilishuo.net/pic/_o/13/71/b580d85939b4435beadb0f5381f2_569_218.cf.png") no-repeat;
				background-size:100%;
			}
			.coupon.full_20_1_coupon{
				background:url("http://d04.res.meilishuo.net/pic/_o/0e/e9/07ce3559663ed9a1bd8abb0da493_569_218.cg.png") no-repeat;
				background-size:100%;
			}
			.coupon.full_20_2_coupon{
				background:url("http://d04.res.meilishuo.net/pic/_o/7c/c4/f2b260286737f8342e5979c6add7_569_218.cg.png") no-repeat;
				background-size:100%;
			}
			.coupon.full_50_0_coupon{
				background:url("http://d05.res.meilishuo.net/pic/_o/19/10/96086966f85cc31de0edb10bd97f_569_218.cf.png") no-repeat;
				background-size:100%;
			}
			.coupon.full_50_1_coupon{
				background:url("http://d01.res.meilishuo.net/pic/_o/20/4f/39a186e9f9c99f2a137b83158ef0_569_218.cf.png") no-repeat;
				background-size:100%;
			}
			.coupon.full_50_2_coupon{
				background:url("http://d02.res.meilishuo.net/pic/_o/60/2a/a2eb4b86e9e1f7782995b7ca7067_569_218.cf.png") no-repeat;
				background-size:100%;
			}
			.coupon.full_100_0_coupon{
				background:url("http://d05.res.meilishuo.net/pic/_o/8b/05/5f7d49ded30eb1ea4f38a86a5eb7_569_218.cg.png") no-repeat;
				background-size:100%;
			}
			.coupon.full_100_1_coupon{
				background:url("http://d04.res.meilishuo.net/pic/_o/55/6c/9840d97d9a9ee9c3d9ee8e4e1c96_569_218.cg.png") no-repeat;
				background-size:100%;
			}
			.coupon.full_100_2_coupon{
				background:url("http://d01.res.meilishuo.net/pic/_o/8d/a6/0eb425c5b33c08f51d3030a88baa_569_218.cg.png") no-repeat;
				background-size:100%;
			}
		}
	}
}

/* 弹窗 */
.layer_shade{
	.pf;
	top:0;
	left:0;
	z-index:10;
	.w(100%);
	.h(100%);
	background:rgba(0,0,0,.5);
}

.layer_main{
  	.pa;
  	.w(80%);
  	top:5%;
  	left:10%;
  	.pt(115%);
  	z-index:10;
  	background:url("http://d04.res.meilishuo.net/pic/_o/7b/5a/d4c3fec265922cf642b7cd659be1_544_770.ch.png") no-repeat;
  	background-size:100%;
	.coupon_info{
		.c;
	    .pa;
	    top:43%;
	    .w(100%);
	    .f(1.5rem);
	    .fc(#af6d3d);
	    span{
	    	.f(2.2rem);
	    	font-weight:bold;
	    	font-style:italic;
	    }
	}
	.view_coupon_btn{
	    .pa;
	    .w(70%);
	    .pt(16%);
	    top:68%;
	    left:15%;
	 	border:0px solid red;
	}
	.close_coupon_btn{
	    .pa;
	    .w(70%);
	    .pt(16%);
	    top:81%;
	    left:15%;
	    border:0px solid red;
	}
}
