/**
 * @fileoverview 首页 － 签到优惠券
 * @requires
 * @author kehuang@meilishuo.com
 * @date 2015-05-08
 */

@import "../../block.less";

html{
	.f(10*@f);
}

body{
	.bgc(#fffdd2);
}

img{
	.block;
	.w(100%);
}

a{
	.block;
	outline:none;
}

.body_wrap{
	.pr;
	.w(100%);
	background:url("http://d02.res.meilishuo.net/pic/_o/df/3a/894c0a917dbcd691e118ebd1a5cc_640_1922.cg.png") no-repeat;
	background-size:100%;

	.head_wrap{
		.c;
		.w(100%);
		.pt(124%);

		.head{
			.vm;
			.w(13%);
			.h(13%);
			.i_block;
			.mr(.4rem);
			.border-r(50%);
			overflow:hidden;

			img{
				border:0;
				.border-r(50%);
			}
		}

		.award{
			.vm;
			.l(2.4);
			.w(45%);
			.i_block;
			background:url("http://d03.res.meilishuo.net/pic/_o/e8/17/6645a3e6f0ac389563a7ee0e0a59_258_60.ch.png") no-repeat center;
			background-size:100%;

			.num{
				.pr;
				.l(2);
				.f(2rem);
				left:28%;
				.fc(#ffd93b);
			}
		}

		.total_award{
			.l(2.4);
			.f(2.4rem);
			.fc(#fbf202);
		}
	}

	.coupon_wrap{
		padding:8% 0 2%;

		.coupon_wall li{
			.coupon{
				.pr;
				.auto;
				.block;
				.mt(5%);
				.w(474*@w);
				.pt(192*@w);

				div{
					.pa;
					top:62%;
					left:13%;
					/*.w(280*@w);
					.pt(54*@w);*/
					.w(60%);
					.pt(12%);
				}

				.convert_0_icon{
					background:url("http://d03.res.meilishuo.net/pic/_o/45/2e/37c1bd8ea0f157a658425d1a5d39_280_54.ch.png") no-repeat;
					background-size:100%;
				}

				.convert_1_icon{
					background:url("http://d01.res.meilishuo.net/pic/_o/99/49/8b10e7e22cadb76e7459759ed40e_266_56.ch.png") no-repeat;
					background-size:100%;
				}

				.convert_3_icon{
					background:url("http://d01.res.meilishuo.net/pic/_o/83/b3/3de00dde4fe511f38810d83fa2a7_280_54.cg.png") no-repeat;
					background-size:100%;
				}

				.convert_4_icon{
					background:url("http://d03.res.meilishuo.net/pic/_o/d7/e6/5eca768e18ad1790b60469032023_280_54.cg.png") no-repeat;
					background-size:100%;
				}

				.convert_30_2_icon{
					background:url("http://d03.res.meilishuo.net/pic/_o/d0/26/d9782cc65fe3da55c49619649494_280_54.cg.png") no-repeat;
					background-size:100%;
				}

				.convert_60_2_icon{
					background:url("http://d05.res.meilishuo.net/pic/_o/9b/98/5d5203b98b1272b844ec19576abf_280_54.cf.png") no-repeat;
					background-size:100%;
				}
			}

			.coupon.full_30_coupon{
				background:url("http://d02.res.meilishuo.net/pic/_o/8f/6c/c83f21b30d314985c61ab247d6a7_474_192.cg.png") no-repeat;
				background-size:100%;
			}

			.coupon.full_60_coupon{
				background:url("http://d01.res.meilishuo.net/pic/_o/48/00/b6ef40a8563a5c5891f51b5f4f10_474_192.ch.png") no-repeat;
				background-size:100%;
			}
		}

		.btn_box{
			.w(420*@w);
			.pt(80*@w);
			margin:10% auto 8%;
			background:url("http://d05.res.meilishuo.net/pic/_o/87/d6/4d0fe886d8084edc91448d4cd1b0_420_80.ch.png") no-repeat center;
			background-size:100%;
		}
	}
}

@media screen and (min-width:360px) and (max-width:414px){
	.body_wrap .head_wrap{
		.pt(125%);
	}
}

@media screen and (min-width:414px) and (max-width:480px){
	.body_wrap .head_wrap{
		.pt(126%);
	}
}

@media screen and (min-width:480px){
	.body_wrap .head_wrap{
		.pt(127%);
	}
}
