@import "../../block.less";
html{.f(10*@f);}
body { padding:0;margin:0; .bgc(#ff6881); .fc(#666); }
img{ width: 100%; .block; }

.topbg{.pr;.w(100%);.pt(75%);background: url("@{pic_url}/images/wap/activity/may_sale/videotop.jpg") no-repeat;background-size: 100%;}
.video_main{.pr;.w(100%);.pt(60%);.hidden;
	.box{.pa;top:0;left:5%;.w(90%);.h(100%);.hidden;}
}
.video_share{.w(100%);.pt(15%);background: url("@{pic_url}/images/wap/activity/may_sale/video_btn11.jpg") no-repeat 0 10%;background-size: 100%;}

.wx_share{display:none;.pf;top:0;left:0;.w(100%);.h(100%);background: url("@{pic_url}/images/wap/activity/may_sale/win1.png") no-repeat;background-size: 100%;}
@import "../../footer.less";
