<%# header.html%>
<div class="wrapper">
	<div>
		<dl class="score_wrap">
			<dt>
				<img src="http://d02.res.meilishuo.net/pic/_o/31/67/747cee7e37e6a6a556343440e8dd_340_340.c8.jpg_c2e1b7c5_s5_q0_150_5_0_290_290.jpg">
			</dt>
			<dd>
				<p class="score_red">-10分</p>
				<p>共30位小伙伴参与打分</p>
			</dd>
		</dl>
	</div>
	<div class="remark_wrap">
		<h6>小伙伴来点评</h6>
		<dl>
			<dt><img src="http://d02.res.meilishuo.net/pic/_o/31/67/747cee7e37e6a6a556343440e8dd_340_340.c8.jpg_c2e1b7c5_s5_q0_150_5_0_290_290.jpg"></dt>                    
			<dd>
				<p><span>张三</span><i>-10分</i></p>
				<p>不是穿上吊带就叫性感，也要考虑一下你那儿童般的发育状况。长的黑就不要穿玫粉色了，总让人想起60年代的齐胸大秋裤。负分！滚粗！</p>
			</dd>
		</dl>
		<dl>
			<dt>头像</dt>
			<dd>
				<p><span>张三</span><i>-10分</i></p>
				<p>不是穿上吊带就叫性感，也要考虑一下你那儿童般的发育状况。长的黑就不要穿玫粉色了，总让人想起60年代的齐胸大秋裤。负分！滚粗！</p>
			</dd>
		</dl>
	</div>
</div>
<div class="retest_btn_wrapper">
	<a href="#">我也要测试!</a>
</div>
<%# footer.html%>