<%# head.html %>

<section class="page_1">
	<div class="sticky_title high_sticky">100px title1</div>
	<div class="space_400">400px</div>
	<div class="sticky_mask">50px</div>
	<div class="space_400">400px</div>
	<div class="space_400">400px</div>
	<div class="sticky_title_2">50px title2</div>
	<div class="space_400">400px</div>
	<div class="space_400">400px</div>
</section>

<section class="page_2">
	<div class="sticky_title">50px title3</div>
	<div class="space_400">400px</div>
</section>

<section class="page_3">
	<div class="sticky_title">50px title4</div>
	<div class="space_400">400px</div>
</section>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/test/sticky');
_use:", this._JSstack , this._JSmods ); %>

<%# foot.html %>
