 <!DOCTYPE html>
<html>
<head>
<style>
html{
    overflow-x:hidden;
    }
*{
    margin:0
    }
.item{
	width:100%;
	height: 300px;
	position:relative;
	}
.a{
	background:#9999FF;	
	}
.b{
	background:#6666FF;	
	}
.c{
	background:#CCFFCC;	
	}
.item div{
	position:absolute;
	right:30px;
	bottom:60px;
	background:#fff;
	width: 120px;
	height:30px;
	}
</style>
</head>


<body>
<svg  xmlns='http://www.w3.org/2000/svg' width="100%"   viewBox="0 0 640 900">
    <foreignObject  width='100%' height='100%'>
		<div class="item a">
			<div style=""> </div>
		</div>
		<div class="item b">
			<div style=""> </div>
		</div>
		<div class="item c">
			<div style=""> </div>
		</div>
    </foreignObject>
</svg>
<script  src="http://rwstatic.meilishuo.com/script-ss/fml.js?1051" ></script>
<script>
fml.setOptions({'sversion' : 1051,'defer' : false ,'modulebase' : 'http://rwstatic.meilishuo.com/script-ss/'});
fml.use('wap/component/svgBox');
</script>
</body>
</html>
