@import "../block.less";

body { .bgc(#f8f8f8);}

.doota > .numBoxNew;
.foot_login;
.gotop;
.slide;
.poster;

.love_ico, .msg_ico, .big_clock, .small_clock, .tel_ico, .sharp, .hotline_ico {
	background: url("@{pic_url}/images/doota/@{doota_sale}") no-repeat;
}

.picture {
	.lazyLoad > .img;
	.pt(720*@w);
	.hidden;
	span{opacity:1;}
	/*
	*/
}

.header {
	.icon-back { 
		.w(60*@px); .h(60*@px); .pr(0); .ml(20*@px); .mt(20*@px); z-index: 10; .bgc(#ff6699);
		background: url("http://d04.res.meilishuo.net/pic/_o/a7/2a/988752a2726539f0af1425b04b56_60_60.cf.png") no-repeat;
		background-size: 100% 100%;
	} 
	.icon-home {
		.w(60*@px); .h(60*@px); .mt(20*@px); .mr(20*@px);
		background: url("http://d04.res.meilishuo.net/pic/_o/fa/09/4fc1ff78d8398395c4f910375ea7_60_60.cg.png") no-repeat;
		background-size: 100% 100%;
	}
}

.sku_main {
	.ml(10*@px); .mr(10*@px); .f(24*@px); .l(30*@px);
	.sku_tab { 
		.pr; .bgwhite; .border-1(#ddd8d8); .mt(10*@px); .pt(32*@px); .pb(32*@px); .pl(30*@px); .pr(30*@px);
		.sku_size { .pb(30*@px); .pt(30*@px);}
		.hide_msg {
			.w(160*@px); .h(100*@px); .right; .i_block; .pa; right: 16px; top: -2px;
			background: url("@{pic_url}/images/wap/web/hideIcon.png") center right no-repeat;
			background-size: 15% 13%;
		}
		.show_msg {
			background: url("@{pic_url}/images/wap/web/showIcon.png") center right no-repeat;
			background-size: 15% 13%;
		}
	}
	.skuInfoNew {
		.pt(0); .pb(0);
	}

	.cpnTitle { 
		.icon { .bgc(#ff6666); .white; padding: 4*@px; .mr(10*@px); .border-r(2px);}
	}
	.cpn_list { .none;}
	.myCoupon { .block; .c; .w(40%); .auto; .border-1(#ff94b7); .fc(#ff94b7); .f(26*@px); .border-r(2px); .l(58*@px); .mt(30*@px);}
	.cpnInfo {
		.mt(30*@px); border-bottom: 1px solid #e1e1e1;
		li { border-top: 1px solid #e1e1e1; .pt(20*@px); .pb(20*@px); .l(48*@px);}
		.money { 
			.white; .c; .l(38*@px); .w(100*@px); .i_block; .mr(20*@px);
			background: url("http://d04.res.meilishuo.net/pic/_o/70/2d/7c3f53f47b44230bf0d4aa907886_90_40.cf.png") no-repeat;
			background-size: 100% 100%;
		}
		.cpnBtn { .border-r(2px); .border-1(#ff94b7); .h(44*@px); .l(44*@px); .c; .fc(#ff94b7); .i_block; .w(15%); .right;}
	}
	.tips { .red; .c; .pt(20*@px); .none;}
	
	.sku_shop {
		.block;
		.shop_info {
			.clearfix; border-bottom: 1px solid #e6e5e6; .pb(30*@px);
			.guang {
				.block; .bgc(#ffab33); .w(150*@px); .h(60*@px); .white; .c; .l(60*@px); .right; .border-r(6*@px);
			}
			dl{
				.clearfix;
				dt {
					.left; .mr(18*@px);
					img {
						.w(60*@px); .h(60*@px); .border-r(50%); 
					}
				}
				dd {
					.left; 
					.title {
						.f(30*@px); .fc(#595056); .pb(10*@px); .l(30*@px);
					}
					.info {
						.f(24*@px); .fc(#ccc2c9); .l(24*@px);
					}
				}
			}
		}
		.shop_eva {
			.clearfix; .f(30*@px); .fc(#80737b); .pt(30*@px);
			li {
				.left; .mr(5%); .l(30*@px);
				span { .f(28*@px); .i_block; .pl(2px); .pr(2px);}
				&:nth-child(1) {
					span{ .fc(#fb3f3f); }
				}
				&:nth-child(2) {
					span{ .fc(#fb3f3f);}
				}
				&:nth-child(3) {
					span {.fc(#94a603);}
				}
				&:nth-child(4) {
					.mr(0);
					span { .fc(#f27f0d);}
				}
			}
		}
	}
}

.sku_meta, .sku_info, .timeBox, .wrapBox, .service, .shopWrap{
	.f(1.4rem);
	.common-box;
}
.sku_info, .timeBox, .wrapBox, .service, .shopWrap{
	.mt(20*@px);
}

.sku_meta .title, .sku_info dl, .sku_info .skin, .wrapBox, .service, .shopWrap{
	.pt(20*@px);.pb(20*@px);
} 
.sku_meta li, .sku_info dl{
	border-top: 1px solid @bc;
}

.shopWrap { 
	.mb(80px); padding: 0; 
	h3 { .pl(30*@px); .pr(30*@px); .pt(20*@px); .pb(36*@px);}
}

.sku_meta{
	.title{.f(1.6rem);.l(1.4rem);.fc(#686065);.fn;}
	ul {.l(20px);
		li {.pt(4*@px);.pb(4*@px); .border-n;
			.price, .del, .label{.left;.mr(10*@px);}	
			.price{.f(42*@px); .left;}
			.del { .t-through; .fc(#999);}
			.sort{.right; .fc(#595056);}
			.split { .fn; .fc(#e6e5e6); .left;}
			.label{.ml(4*@px);
				span{.bgred;.mr(4*@px);.white;.f(1rem);padding:2*@px 8*@px;.border-r(4*@px);}	
			}
			.clearfix;
		}
		.activeNews{.ellipsis;}
		li.priceInfo { .clearfix; .l(30px);}
	}
	.goodsCmt {
		.f(26*@px); .pb(30*@px);
		.cmtList { .i_block; .w(27%); .c; .left;} 
		.cmtWith { .w(43%);}
		span { .f(24*@px);}
	}
	.downBtn {
		.right; .w(220*@px); .h(60*@px); .vm;
		background: url("http://d03.res.meilishuo.net/pic/_o/4a/d5/15b7832ed78e12591c642c5eca9f_226_56.cf.png") no-repeat;
		background-size: 100% 100%;
	}
}
.sku_info_new {
	.border-n; .fc(#595056); .none; border-top: 1px solid #dbd6d6; .pb(10px);
	.promptBox { border:2px solid #f69;
		.buy_btn, .add_cart, .loveBox { .none; }
	}
	dl {.clearfix; .pb(10*@px); .pt(20*@px);
		&:last-of-type{
			// .pb(30*@px);
		}
		dt{.mb(20*@px); .f(28*@px);}
		dd {
			li { .left; .mr(16*@px);.l(2rem); padding: 1px; .f(26*@px); .l(46*@px);
				span {.block; .border-1(#998f95); .c; .break-word; .pl(10*@px); .pr(10*@px); min-width:20*@px; .border-r(4*@px); .mb(20*@px);
					&.active { .bgred; .white; }
				}
			}
		}
	}
	.img_list span { .left; .h(88*@px); .w(88*@px); .hidden; padding: 1px;
		img { .h(88*@px); .w(88*@px); }
	}
	.stock { .ml(20*@px); .l(2rem); .fc(#d6ced4); }

	.define { .none; }

	.out_of_stock { border: 1px dashed @bc; .fc(@bc);
		a { .border-n; }
		span { background: url("@{pic_url}/images/doota/outof_stock.png") no-repeat; 
			.h(44px); .w(44px); .indent; .block; .pa; top: 1px; z-index: 5;
		}
	}
	.msg_box {.hidden;}
	.msg {
		&_limit, &_over, &_zero ,&_shelf { .bgc(#ffebf2); .border-1(#d2d2d2); padding: 7px 10px; .i_block;}
		&_limit, &_over, &_zero {
			.l(16px); .mt(20*@px);.left;.none;
		}
		&_shelf { .f(100%);}
		&_ico { .bp(-2px,-115px); .left; .h(16px); .mr(10px); .w(16px); }
	}
	.article { .l(20px); border-top: 1px solid @bc; .mt(30px); .pt(28px);}
}

.btn_box{.clearfix;.mt(20*@px); .c; .pt(30*@px); border-top: 1px solid #e6e5e6; .pb(40*@px);
	.buy_btn, .define, .add_cart, .non_buy, .sure_btn{
		.common-button;.l(2.6rem);.left;.w(49%);.c;
	}
	.buy_btn, .define{
		.common-button > .redBtn;
	}
	.buy_btn{
		.ml(2%);
		.bgc(#ff6666); .white; .l(3.8rem);
	}
	.add_cart{
		.common-button > .pinkBtn;
		.bgc(#ffe814); .fc(#592d4a); .l(3.8rem);
	}
	.non_buy { 
		.common-button > .grayBtn;
	}
	.sure_btn {
		.common-button > .pinkBtn; float: none; .l(3.0rem);
		.bgc(#fe92b6); .white; .i_block;
	}
}

.timeBox { .gray;.h(32px); .l(32px); .border-n; .c; .clearfix; .pl(0); .pr(0); .mt(0);
	.time_line {
		.w(15%); .i_block; .h(1px); .bgc(#e6e5e6); .mt(34*@px); 
	}
	.l_line { .left;}
	.r_line { .right;}
	.countdown { .i_block; .mr(5%); .ml(6%);}
	.big_clock { .bp(-109px,-68px); .left; .h(28px); .w(32px); }
}

.goods_detail {
	.nav {
		.l(70*@px); .w(100%); .h(70*@px); border-bottom: 1px solid #e6e5e6;
		li { 
			.c;.w(28%); .fc(#f69); .left; .l(60*@px); .fc(#80737b); .mr(2%); .ml(2%);
			span { .gray; .pl(4*@px);}
			&:last-of-type {
				.mr(0);
			}
		}
		.cur { 
			.red;
			span { .red;}
		}
	}
	
	.norms {
		.pt(40*@px);
		h3 { .f(28*@px); font-weight: normal;border-bottom: 1px solid #e6e5e6; .l(36*@px); .pb(10*@px); .fc(#333);}
		.no_cmt { .c; .pt(20*@px); .pb(20*@px);}
	}
	.evaluate {
		li { 
			.pt(50*@w);
		}
	}
	.public {
		li {
			.pt(30*@px); .f(24*@px); 
		}
		.beacuse { .pt(20*@px);}
	}
	.public_info { 
	 .ml(80*@px); border-bottom: 1px solid #d9d9d9; .pb(20*@px);
	 p { .l(32*@px);}
	}
	.user_picture { 
		.left; .mr(16*@px);.vm; .w(60*@px); .h(60*@px); .i_block; .left;
		img { .border-r(50%);}
	}
	.nickname { .pb(10*@px);}
	.pub_right { .right; .fc(#ccc2c9);}
	.content { .pt(40*@px);}
	.good_info { .pt(20*@px); .fc(#ccc2c9);}
	.comment_time { .pt(12*@px); .fc(#999);}
	.star, .star b { .h(12px); .left; }
	.star { .mr(5px);.mt(1px);}
	.star b { .w(14px);.fn;}
	.star .open { background: url("@{pic_url}/images/wap/web/wx/open.png") no-repeat;}
	.star .shut { background: url("@{pic_url}/images/wap/web/wx/shut.png") no-repeat;}
	.ml_color { .red;}
	.more { .f(28*@px); .mt(40*@w);.block; .c; .h(56*@px); .l(56*@px); .border-1(#998f95); .border-r(8*@px); .fc(#80737b);}
	// .eva_more { .l(26*@px);}

	.f(1.4rem);
	.title { .f(28*@px);.l(2);.pt(20*@px);.fc(#595056); .pb(20*@px);}
	.format {.clearfix;.f(1.4rem);
		li { .left; .ellipsis; .l(22px);.w(48%);.mr(2%);}
	}
	.pro_txt{.hidden;.l(1.6);.f(1.4rem); }
	.more_pic {
		.lazyLoad > .img;
		span{
			background-size:100% 100%;
		}
	}
	.moreDetailBtn{
		.f(28*@px); .border-1(#998f95); .h(56*@px); .l(56*@px);
		.mt(20*@px); .fc(#80737b);.c; .border-r(8*@px);
		.hide{.none;}	
	}
	.details{
		&.hide{
			.more_pic:nth-of-type(n+4){.none;}
			.title:nth-of-type(n+2){.none;}
			.pro_txt:nth-of-type(n+4){.none;}
			.moreDetailBtn{
				.hide{.block;}	
				.show{.none;}	
			}
		}
	}

	.recommend { 
		.rmd_info { .clearfix; .l(40*@px);}
		.rmd_icon {
			.left; .mr(20*@px);
			img { .border-r(50%); .w(60*@px); .h(60*@px); .hidden;}
		}
		.rmd_user { .left; .mt(10*@px); .fc(#595056);}
		.rmd_time { .right; .fc(#ccc2c9);}
		.rmd_word {
			.pt(10*@px); .fc(#80737b); .f(24*@px); .l(32*@px);
		}
	}
}

.service{
	h3 { .f(28*@px); .fc(#595056); .pb(36*@px);}
	.promise {.hidden;.f(1.2rem); .fc(#80737b);
		li { .left;.nowrap;.l(1.8);.w(33%); .c;
			.pro_ico { .mt(4*@px);.mr(10*@px);
				img{.w(26*@px);.h(26*@px);}
			}
		}
	}
	.hotline {
		.hotline_ico { .bp(0,-72px); .left; .h(36px); .w(36px); }
		p { .ml(44px);.l(14px);}
		.tel { .red; .f(1.6rem);.l(22px);}
	}
}

.buyBox {
	.pf; bottom: 0; left: 0; .w(100%); .bgwhite; .pt(20*@px); border-top: 1px solid #dad7d9; .pb(20*@px); .f(30*@px);
	.cnt_seller {
		.left; .pl(20*@px); .fc(#80737b); .mr(3%); .pt(28*@px); .w(31%); .tl; .f(26*@px);
		img {
			.w(66*@px); .h(72*@px); .vm; .left; .mt(-26*@px); .mr(6*@px);
		}
	}
	.add_cart,.buy_btn { .w(28%);}
}

.wrapBoxNew {
	.pl(0); .pr(0);
}
.contentArea {
	.pl(30*@px); .pr(30*@px);
}

.size_table {
	.w(100%); .fc(#80737b);
	td {
		.c;
	}
	thead {
		td {
			&:first-of-type {
				.tl;
			}
		}
	}
	tr {
		.h(78*@px); border-bottom: 1px solid #e6e5e6; .l(78*@px);
	}
	tbody {
		td {
			.red;
			&:first-of-type {
				.tl; .fc(#80737b);
			} 
		}
	}
}

.size_format {
	li { 
		.pt(30*@px); .pb(24*@px); .fc(#747474); border-bottom: 1px solid #ededed; 
		label { .fc(#9b9b9b); }
	}
}

.rate { .red; .f(38*@px);}

.cmt_evaluate {
	.pt(30*@px);
	p {
		.fc(#ccc2c9); .f(22*@px); .pb(30*@px);
		label {
			.f(26*@px); .fc(#83707b);
		}
		span {
			.bgc(#ffcc33); .mr(10*@px); .ml(10*@px); .w(33%); .h(22*@px); .i_block; 
		}
	}
}

.cmt_nav {
	.pt(10*@px);
	.tab {
		.clearfix;
		.tab_list {
			.left; border-top: 1px solid #cdcacc; border-bottom: 1px solid #cdcacc; .h(56*@px); .l(56*@px); .c; .w(24.5%); border-right: 1px solid #cdcacc;
			&:first-of-type {
				border-left: 1px solid #cdcacc;
				border-radius: 5px 0 0 5px;
			}
			&:last-of-type {
				border-radius: 0 5px 5px 0;
			}
			span { .fc(#ccc2c9); .f(20*@px);}
		}
		.cur {
			.bgc(#9b969a); .white;
		}
	}
}

.shopInfo {
	.clearfix; .pb(20*@px);
	li { 
		.w(49%); .mr(2%); .fc(#80737b); .pt(30*@px); .left; .none;
		&:nth-child(2n) {
			.mr(0);
		}
		a { .block;}
		.title { .l(34*@px);.f(26*@px); .h(36*@px); .hidden;}
		.num { .f(22*@px);}
		.price { .red; .pr(20%);}
		.love { .fc(#999);}
		.love_icon {
			.w(24*@px); .h(28*@px); .i_block; .mr(2px); .vm;
			background: url("@{pic_url}/images/wap/web/love_icon.png") no-repeat;
			background-size: 100%;
		}
		img { .block; .w(100%);}
		p { .pl(10*@px); .pr(10*@px); .pt(10*@px);}
		&:nth-child(1) { .block;}
		&:nth-child(2) { .block;}
	}
}

.more { .f(28*@px); .mt(40*@w);.block; .c; .h(56*@px); .l(56*@px); .border-1(#998f95); .border-r(8*@px); .fc(#80737b);}

/*dialog*/
.dialog();
#dialogLayer .dialogTitle .close{.none;}
#dialogLayer{ .bgwhite;}

.dialog_box {
	.c; .pl(26*@px); .pr(26*@px); .pt(10*@px);
	.intro {
		.f(28*@px); .c; .fc(#595056); .l(40*@px); .pb(30*@px);
	}
	.btn { .h(60*@px); .w(216*@px); .l(60*@px); .c; .f(26*@px); .border-r(10*@px); margin-left: auto; margin-right: auto;}
	.downloadBtn {
		.bgred; .white; .mb(10*@px);
	}
	.noDownload { .fc(#ccc2c9);}
}


.more_pic {
		.lazyLoad > .img;
		span{
			background-size:100% 100%;
		}
	}


/** poster样式 */
.poster(){
	#goods_wall { .pr; }
	.poster-link {
		.pr;
		.block;
		background: #fff url("@{pic_url}/images/huodong/tuan/prebg.png") center center no-repeat;
		background-size: 100% auto;
		img { .w(100%); .h(100%); .pa; top: 0;}
		.none { .none; }
	}
	.poster {
		.pa;
		figure{
			margin-left: .25rem;
			margin-right: .25rem;
			height: 100%;
			-webkit-border-radius: 7px;
			border-radius: 7px;
			box-sizing: border-box;
		}
		figcaption { 
			padding: .4rem; .bgwhite; 
			div { margin: .4rem 0; .f(1.3rem); }
		}
		.poster-info-title {
			.f(1.2rem);
			.l(120%);
			/* 文本折行隐藏 */
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
		.poster-info-price { .red; }
		.poster-info-like { 
			.fc(#999); 
			.ml(1rem);
			.pl(1.3rem);
			background: url("@{pic_url}/images/shop/heart.png") 0 48% no-repeat;
			background-size: 1.2rem auto;
		}
	}
	[data-col="0"] { figure { .pl(.6rem); .pr(.3rem); } }
	[data-col="1"] { figure { .pl(.3rem); .pr(.6rem); } }

	/*加载提示*/
	.status_tips {
		.c; .l(4rem); .f(1.4rem); color:#888;
		&[data-status="loading"] {
			&:before {
				content: '加载中 ...'
			}
		}
		&[data-status="stop"] {
			&:before {
				content: '木有了'
			}
		}
	}
}

