<%# head_simple.html%>
	<script> 
            (function(win,doc){
                var docel = doc.documentElement;
                var meta = doc.querySelectorAll('meta[name=viewport]');
                meta[0].setAttribute('content','width=device-width,user-scalable=no,initial-scale=1');
                function recalc(){
                    var width = docel.clientWidth;
                    docel.style.fontSize = 100 * width/640+'px';
                }
                if(doc){
                    recalc();
                    win.addEventListener('orientationchange',recalc,false);
                }else if (doc.addEventListener){
                    doc.addEventListener('DOMContentLoaded', recalc, false);
                }
            })(window,document)
     </script>
</head>
<div class="wrap">
		<div class="preferential">
			<div class="textWrap"><span class="user"><%= this.user.nickname %></span>和美丽说给你发优惠啦！！</div>
		</div>
		<div class="inviteDesc">
			听说......最新款秋装都被美丽说承包了！ 领券买买买！！！
		</div>
		<div class="inputWrap">
			<input placeholder="请输入手机号" type="input" class="telNum" maxlength="11" />
		</div>
		<div class="receiveCoupon">
			<img src="http://d05.res.meilishuo.net/pic/_o/a6/c6/0210dc5536bcd127967af8c10f07_201_72.ch.png"/>
		</div>
		<div class="warning">
			直减优惠仅限美丽说全新用户领取，新用户首次下单即可享受！
		</div>
</div>
<div class="successInfo"></div>
<script type="text/html" id="mask">
	<div class="maskWrap">
		<div class="mask"></div>
		<div class="couponInfo">
			<span class="congratulation">恭喜获得！</span>
			<div class="conponImg">
				<img src="http://d04.res.meilishuo.net/pic/_o/c6/45/5b0569594a97d7b3c387f9dbf830_324_149.cf.png"/>
				<span class="conponDesc">
					您的30元优惠<br/>已放入<?= this.tel ?>的账户中！<br/>首次下单即可自动享受直减哦！
				</span>
			</div>
			<div class="goBuy"><a class="goLink">赶紧去花掉</a></div>
		</div>
	</div>
</script>

<script>
	fml.vars.uid = <%= this.uid %>
</script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
fml.use('wap/page/activity/invite');
_use:", this._JSstack , this._JSmods ); %>

<%# foot.html%>