<%# head.html%>
<div class="fzp">
    <div class="box">
        <span><img src="http://d04.res.meilishuo.net/pic/_o/a8/20/594874d3b7775ec9de65608f2361_173_224.cf.png" alt=""/></span>
        <div class="text_p">
            <strong>如何防范社交平台账号被盗</strong>
            <p> QQ，微博等社交平台是被盗号的重灾区，盗号分子罪大恶极，同时被盗号的你也免不了责任，如何防范社交平台被盗号，学会了下面几招，就能做到不给坏人留任何机会。</p>
            <p> 1.账户和密码尽量不要相同，定期修改密码，增加密码的复杂度，不要直接用生日、电话号码、证件号码等有关个人信息的数字作为密码；
            <p> 2.密码尽量由大小写字母、数字和其他字符混合组成，适当增加密码的长度并经常更换；</p>
            <p> 3.不同用途的网络应用，应该设置不同的用户名和密码；</p>
            <p> 4.在网吧使用电脑前重启机器，警惕输入账号密码时被人偷看；为防账号被侦听，可先输入部分账号名、部分密码、然后再输入剩下的账号名、密码。</p>
            <p> 5.涉及网络交易时，要注意通过电话与交易对象本人确认。</p>
        </div>
    </div>
    <div class="list">
        <h3>常见问题</h3>
        <h4>COMMON PROBLEMS</h4>
        <div class="content">
            <h5>反诈骗信息列表</h5>
            <ul>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/从电信诈骗案细节看“破绽”（图）.docx">从电信诈骗案细节看“破绽”（图）</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/（视频链接）警察叔叔拍防诈骗短片.docx">（视频链接）警察叔叔拍防诈骗短片</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/谨防针对财务人员的QQ诈骗（图）.docx">谨防针对财务人员的QQ诈骗（图）</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/那些老套却还在让你“配合上当”的诈骗（图）.docx">那些老套却还在让你“配合上当”的诈骗（图）</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/手机购物这些坏习惯不能要.docx">手机购物这些坏习惯不能要</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/刷信用卡必须知道的那些事儿.docx">刷信用卡必须知道的那些事儿</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/太忙没空陪爸妈，小心骗子来“帮忙”.docx">太忙没空陪爸妈，小心骗子来“帮忙”</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/网上查询高校录取通知 小心木马盗取隐私.docx">网上查询高校录取通知 小心木马盗取隐私</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/这六大诈骗短信你遇到过吗？.docx">这六大诈骗短信你遇到过吗？</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/安全上网要点.docx">安全上网要点</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/查询、举报地址.docx">查询、举报地址</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/高发诈骗案件类型.docx">高发诈骗案件类型</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/航班取消诈骗.docx">航班取消诈骗</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/开通手机银行前必须知道的事.docx">开通手机银行前必须知道的事</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/如何安全地使用手机.docx">如何安全地使用手机</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/如何安全使用电子邮件.docx">如何安全使用电子邮件</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/如何保证网络游戏安全.docx">如何保证网络游戏安全</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/如何防范木马及病毒的攻击.docx">如何防范木马及病毒的攻击</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/如何防范社交平台账号被盗.docx">如何防范社交平台账号被盗</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/如何防范U盘、移动硬盘泄密.docx">如何防范U盘、移动硬盘泄密</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/暑期兼职诈骗案件高发.docx">暑期兼职诈骗案件高发</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/网购退款多骗局.docx">网购退款多骗局</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/网络诈骗防范要点.docx">网络诈骗防范要点</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/微信上的新骗局.docx">微信上的新骗局</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/小心：你的手机可能正在泄密.docx">小心：你的手机可能正在泄密</a>
            </li>
            <li>
                <a href="http://i.meilishuo.net/css/images/fanzhapian/诈骗出新招：政府补贴丧葬费.docx">诈骗出新招：政府补贴丧葬费</a>
            </li>
        </ul>
        </div>
    </div>
</div>
<%#foot.html%>
