<%# head_simple.html%>
<% if(this.os.mobileQQ){ %>
    <script src="http://pub.idqqimg.com/qqmobile/qqapi.js?_bid=152"></script>
<% } %>
<%
	var UA = this.os || {};
	var isWx = UA.weixinBrowser;
	var isQQ = UA.mobileQQ;
	var likeGoods  = this.datalist || {};

	if(this.isLogin){
%>
<div class="userinfo">
	<%
	var btn = 'notag';
	if(this.usertag && this.usertag.length){
		btn = 'mark_up';%>
	<div class="intro">
		<p class="nickname">我的时尚基因：</p>
		<div class="genes">
			<%
			this.usertag.forEach(function(v,k){%>
				<a href="javascript:void(0);"><%= v.name%></a>
			<%})%>
		</div>
	</div>
	<%}else{%>
	<div class="nogenes">还没有时尚基因哦！</div>
	<%}%>
	<%if(!isWx && !isQQ){%>
	<% var markup_url = _extFn.getAppLink("openURL", {"url": 'http://mapp.meilishuo.com/fashion_gene/game/', "inApp" : "1"}, this.os, this.xr.r, 'http://m.meilishuo.com/fashion_gene/game/');%>
		<a class="perfect <%= btn%>" xr="<%= this.xr.r%>" href="<%= markup_url%>"></a>
	<%}%>
</div>
<%}else{%>
<div class="loginbox">
	<p>注册登录后，你的时尚基因会被保留，为你推荐更精准的推荐。</p>
	<div class="btns"><span class="registe">注册</span><span class="login">登录</span></div>
</div>
<%}%>
<div class="recommend">
	<div class="wraper">
		
	</div>
	<div class="pullUp" status="loading"></div>
</div>
<div class="bottom_box">
	<p>没有更多推荐了，请先去逛逛后在来看看</p>
	<% var gourl = this.os.mlsApp ? ('meilishuo://changetab.meilishuo?json_params=' + encodeURIComponent(JSON.stringify({"r":"","tab":"首页"}))) : '/welcome'%>
	<%
		if(isWx){
			gourl = '/wx/daily/';
		}else if(isQQ){
			gourl = '/sq/';
		}
	%>
	<a xr="<%= this.xr.r%>" href="<%= gourl%>">去逛逛</a>
</div>
<a class="gotop">
	<img src="http://i.meilishuo.net/css//images/wap/tuan/gotop.png" />
</a>
<script>
	fml.vars.isapp = <%= this.os.mlsApp%>;
    fml.vars.isWx = <%= isWx %>;
    fml.vars.isQQ = <%= isQQ %>;
	fml.vars.common_r = "<%= this.xr.r%>";
	fml.vars.typeindex = -1;
	fml.vars.isIphone = <%= this.os.iphone%> || 0;
	fml.vars.likeGoods = <%= JSON.stringify( likeGoods )%>;
</script>
<script type="text/html" id="posterWall">
<?
var timetype = [{'name':'today', 'desc':'今日'}
,{'name':'yestoday','desc':'昨日'},{'name':'earlier','desc': '更早'}];
var that = this;
if(this.v.day != fml.vars.typeindex){?>
	<h1 class="<?= timetype[this.v.day].name?>"><?= timetype[this.v.day].desc?>推荐<i><?= timetype[this.v.day].name.toUpperCase()?></i></h1>
	<?fml.vars.typeindex = this.v.day;}?>
	<div class="extrabox">
		<div class="contentBox">
			<div class="browered">
				<? if(this.v.source_text){?>
				<div class="tip"><span class="<?= this.v.rec_sign?>"></span><?= this.v.source_text?></div>
				<?}?>
			<? if(this.v.source_tid.length){?>
				<div class="b-list">
				<?$.each(this.v.source_tid, function(k1, v1){
					var url = fml.vars.isapp ? v1.mob_url : v1.wap_url;

					if(fml.vars.isWx){
						url = '/wx/detail?tid='+ v1.twitter_id+'&d_r=1-1-1-1-weixin_interest'
					}else if(fml.vars.isQQ){
						url = '/sq/detail/?twitter_id='+ v1.twitter_id
					}?>
				<a xr="<?= v1.r?>" href="<?= url?>"><img src="<?= v1.small_pic?>" /></a>
				<?});?>
				</div>
				<?}?>
			</div>
			<div class="liked">
				<div class="tip"><?= this.v.reason?></div>
				<? this.v.tag = this.v.tag || [];?>
				<?if(this.v.tag.length!=0){?>
				<div class="values guess">
				<? $.each(this.v.tag, function(k1, v1){
					var searchurl = fml.vars.isapp ? "meilishuo://search_goods_result.meilishuo?json_params=" + encodeURIComponent( JSON.stringify( { 'tag_word': v1.link_value})) : "/search?keyword=" + v1.link_value;

					if(fml.vars.isWx){
						searchurl = '/wx/search?key='+ v1.link_value
					}else if(fml.vars.isQQ){
						searchurl = '/sq/search/?key_word='+ v1.link_value
					}
					?>
					<a<?= k1 == 0 ? ' class=\'arrow-down\'' : '' ?> xr=<?= that.r?> href="<?= searchurl?>"><?= v1.value?>
						<s><i style="top:<%= this.os.iphone ? -0.11 : -0.1%>rem"></i></s>
					</a>
				<?})?>
				</div>
				<?}?>
				<div class="imageSlide js-mark">
					<ul class="goods-list">
					<?$.each(this.v.rec_tid,function(k1, v1){
						var left = v1.shift();
						var right = v1;
						var url = fml.vars.isapp ? left.mob_url : left.wap_url;

						if(fml.vars.isWx){
							url = '/wx/detail?tid='+ left.twitter_id+'&d_r=1-1-1-1-weixin_interest'
						}else if(fml.vars.isQQ){
							url = '/sq/detail/?twitter_id='+ left.twitter_id
						}
						?>
						<li>
							<div class="left-b">
							<a xr="<?= left.r?>" href="<?= url ?>">
								<span class="bs_load_img" style="background-repeat: no-repeat; background-size: 100% 100%;" asrc="<?= left.big_pic?>"></span>
								<span class="price"><small>￥</small><?= left.price?></span>
							</a>
							</div>
							<div class="right-b">
							<?$.each(right, function(k2, v2){
								var url = fml.vars.isapp ? v2.mob_url : v2.wap_url;

								if(fml.vars.isWx){
									url = '/wx/detail?tid='+ v2.twitter_id+'&d_r=1-1-1-1-weixin_interest'
								}else if(fml.vars.isQQ){
									url = '/sq/detail/?twitter_id='+ v2.twitter_id
								}
								?>
								<a xr="<?= v2.r?>" href="<?= url ?>">
									<span class="bs_load_img" style="background-repeat: no-repeat; background-size: 100% 100%;" asrc="<?= v2.small_pic?>"></span>
									<span class="price"><small>￥</small><?= v2.price?></span>
								</a>
							<?});?>
							</div>
						</li>
					<?})?>
					</ul>
					<?if(this.v.rec_tid.length > 1){?>
					<div class="num"></div>
					<?}else{?>
					<div class="place"></div>
					<?}?>
				</div>
			</div>
		</div>
	</div>

</script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/guessulike');
_use:", this._JSstack , this._JSmods ); %>
<%#foot_simple.html%>

