<%# head.html%>
<div class="main">
	<div class="box">
		<h2 class="ps_1"></h2>
		<h3><em>——————</em>品质优选 &bull; 质量稳定<em>——————</em></h3>
		<p>服务优质的商家经过买手精心挑款，用户评价认可的商品才能成为品质优选商品</p>
	</div>
	<div class="box">
		<h2 class="ps_2"></h2>
		<h3><em>——————</em>冬季新款 &bull; 应季最新<em>——————</em></h3>
		<p>根据季节以及流行趋势的变化，为用户推荐符合当季最新款式</p>
	</div>
	<div class="box">
		<h2 class="ps_3"></h2>
		<h3><em>——————</em>实拍认证 &bull; 见即所得<em>——————</em></h3>
		<p>和货不对版say no，买到所见即所得的宝贝。实拍认证，您购买优质宝贝的最佳保障</p>
	</div>
	<div class="box" style="margin-bottom:10px;">
		<h2 class="ps_4"></h2>
		<h3><em>——————</em>美丽质造 &bull; 平台直供<em>——————</em></h3>
		<p>美丽说倾情打造专属供应链平台，零中间商超高性价比，全程质检超稳定质量，精选材质超精准做工</p>
	</div>
</div>
<%# foot.html%>