<%#head.html%>
<div class="banner"></div>
<div class="u_nav">
	<a class="bzsm" href="/agreement/wuyougou/"><span>消费者保障说明</span></a>
	<a class="bzzx" href="/agreement/userhelp/"><span>用户帮助中心</span></a>
	<div class="clear_f"></div>
</div>
<div class="promise">
	<ul>
		<li>
			<a href="#h_1">新手上路</a>
		</li>
		<li>
			<a href="#h_2">购物帮助</a>
		</li>
		<div class="clear_f"></div>
	</ul>
</div>
<div class="content">
	<div class="txt_box">
		<h3 id="h_1"><span class="redline"></span>新手上路</h3>
		<p>
			1、免费注册<br />
			·	填写个人信息，同意美丽说注册条款；<br />
			·	提交，完成注册；<br />
			2、挑选商品<br />
			·	分类浏览或按关键字搜索；<br />
			·	选中的商品放入购物车；<br />
			3、拍下商品<br />
			·	点击“立即购买”，或去购物车结算；<br />
			·	填写收货地址，确认商品信息，提交订单；<br />
			4、支付货款<br />
			·	支持网银、支付宝、微信等多种支付方式；<br />
			·	资金支付到第三方托管账户，保证资金安全；<br />
			·	进入已买到商品的订单，可查询物流信息；<br />
			5、收货&评价<br />
			·	收到商品点击“确认收货”；<br />
			·	对商品满意给出好评，不满意可申请退货；<br />
			·	美丽说提供多项消费保障服务，查询
		</p>
	</div>
	<div class="txt_box">
			<h3 id="h_01"><span class="redline"></span><%= this.xinshoushanglu.title%></h3>
			<%= this.xinshoushanglu.content%>
	</div>
	<div class="txt_box btm">
			<h3 id="h_2"><span class="redline"></span><%= this.gouwubangzhu.title%></h3>
			<%= this.gouwubangzhu.content%>
	</div>
</div>
<%#foot.html%>
