<%# head_simple.html%>
<%	
	var data = this.data ;

	var welcome = data.welcome || {};
	var error_code = welcome.error_code;
if(error_code == 0){
	var jinduW = welcome.data.originator.fin_dist / welcome.data.originator.total_dist * 100;
	var jinducha = welcome.data.originator.total_dist - welcome.data.originator.fin_dist;
	var arrFriend = welcome.data.assistant;
	var role = welcome.data.role;
	var length = arrFriend.length;
	var got_coupon = welcome.data.originator.got_coupon;
	var originatorId = welcome.data.originator.user_id;
	var status = welcome.data.originator.fin_status;
}else{
	var jinduW = 0;
	var jinducha = 0;
	var arrFriend = [];
	var role = '';
	var length = 0;
	var got_coupon = '';
	var originatorId = '';
	var status = '';
}
%>

</head>
<body>
<script> 
            (function(win,doc){
                var docel = doc.documentElement;
                var meta = doc.querySelectorAll('meta[name=viewport]');
                meta[0].setAttribute('content','width=device-width,user-scalable=no,initial-scale=1');
                function recalc(){
                    var width = docel.clientWidth;
                    docel.style.fontSize = 100 * width/640+'px';
                }
                if(doc){
                    recalc();
                    win.addEventListener('orientationchange',recalc,false);
                }else if (doc.addEventListener){
                    doc.addEventListener('DOMContentLoaded', recalc, false);
                }
            })(window,document)
     </script>

<div class="award-mian">
	<img class="title" src="http://d01.res.meilishuo.net/pic/_o/7b/93/d56bba50921feda17d1fa687e408_640_283.cg.jpg">

	<img class="person" src="http://d04.res.meilishuo.net/pic/_o/e1/d7/cf48b181cc4274f2d006b7008329_640_340.cg.jpg">
	<img class="hudie1" src="http://d05.res.meilishuo.net/pic/_o/62/6e/3fd92ee9da2d53bee7868fe8c3f3_13_11.cf.png">
	<img class="hudie1" src="http://d03.res.meilishuo.net/pic/_o/eb/23/64228f490ce494caebdf96c60b76_13_11.ch.png">
	<img class="hudie1" src="http://d05.res.meilishuo.net/pic/_o/62/6e/3fd92ee9da2d53bee7868fe8c3f3_13_11.cf.png">

	<div class="award-content">
		<!-- 优惠券信息 -->
		
		<div class="money" style="display: none;">
			￥<span>0</span>
			<p>无门槛使用</p>
		</div>
		
		<!-- 优惠券信息end -->

		<!-- 文案显示 -->
		<p class="txt-thank">与<%= length %>位好友一起助攻，有情人终成眷属啦！</p>
		
		<p class="txt-thank  txt-thank2" style="display: none">快收下美丽说送你的七夕专属优惠券吧么么哒~</p>
		<% if(got_coupon != 1) { %>
		<p class="txt-thank  txt-thank2" >美丽说提前祝你七夕快乐！~</p>
		<% } %>
		<!-- 好友 有优惠券end -->

		<!-- 按钮 -->
		<p>
			<!-- 逛 -->
			<a class="guang-btn" href="http://m-promotion.meilishuo.com/promotion/sale_1508/mv/?frm=zhuli"><img src="http://d03.res.meilishuo.net/pic/_o/6d/95/98c49e8e19aefb4cc4be79d7e1e4_260_80.ch.png"></a>
			<!-- 我也要玩 -->
			
			<!-- 晒战绩 -->
			<a class="shai-btn"><img src="http://d02.res.meilishuo.net/pic/_o/10/f3/63c3414c7db722818c352d218c54_260_80.cg.png"></a>
		<p>
		<!-- 按钮end -->

	</div>
	<img src="http://d02.res.meilishuo.net/pic/_o/54/5d/128c97918d8b92fa49bbed991fc7_640_54.cf.jpg">
	

	<!-- 好友列表 -->
	<div class="friends-list">
		<% arrFriend.forEach(function(item,index){%>
		<div class="friends-msg">
			<div class="friend-img">
				<img src="<%= item.user_pic %>">
			</div>
			<span class="friend-name"><%= item.nick_name %></span>
			<span class="friend-desc">&nbsp;&nbsp;&nbsp;<%= item.ass_desc %></span>
			<span class="friend-distance"><%= item.ass_dist %>m</span>
		</div>
		<% }) %>
	</div>
	<!-- 弹层 -->
	<div class="first-rules"></div>
	<div class="first-popwin">
		<img class="first-popwin-rules" src="http://d04.res.meilishuo.net/pic/_o/b2/8d/f378d89eec18874ebfdba457a1b6_550_860.cf.png" />
		<div class="rules-content">
			1.活动时间：2015年8月11日00:00:00—2015年8月20日23:59:59。<br/>
			2.活动条件：通过手机美丽说for iOS或for Android，或者通过微信分享的链接参与活动。<br/>
			3.用户可发起游戏，并分享到微信中邀请好友送助攻，好友的助攻数将随机出现正数或负数，最终能顺利走完7000米的发起者即可获得1元、5元、10元、15元的美丽说七夕专属优惠券奖励，8月18日至8月20日七夕期间更有777元直减券大放送。<br/>
			4.若从美丽说APP发起游戏且完成相遇，返回到APP中再次打开游戏页面，即可成功获得优惠券，并在“我的优惠券”查看获得优惠券。<br/>
			5. 若从微信中发起游戏且完成相遇，即可成功获得优惠券，用户可用微信账号登陆美丽说app后，在“我的优惠券”查看获得优惠券。<br/>
			6.活动期间奖励数量有限，先到先得，发完为止。每个自然人用户仅能使用一个美丽说注册帐号参与本活动，美丽说任何活动均杜绝一切作弊行为，并保留追究其相关法律责任的权利。<br/>
			7.优惠券的使用时间：2015年8月18日00:00:00—8月20日23:59:59。<br/>
			8.活动中中奖的优惠券使用方式：适用于除海淘馆商品及个人商品外的全站所有商品，可与店铺优惠券叠加使用，但不能与平台优惠券同时使用。<br/>
			9.优惠券不能提现、不能转赠、不能为他人付款。<br/>
			10.美丽说在法律允许的范围内保留对本活动的最终解释权。<br/>
		</div>
		<img class="first-popwin-know" src="http://d05.res.meilishuo.net/pic/_o/53/be/69c5755e3f9009ce9f05b176a3f7_208_59.cg.png" />
	</div>
	<div class="share-popwin">
		<img src="http://d01.res.meilishuo.net/pic/_o/c8/ec/067ed0114af30bb8a2eb7565ffee_400_524.cf.png">
	</div>
</div>


<div class="mypopbox" id="mypopbox" >
	<div class="dialog dialog_appshare" id="dialog_appshare" >
		<span class="shareBut_close"></span>
		<h2 class="dialog_appshare_tit">分享至</h2>
		<div class="dialog_appshare_box">
			<a class="shareBut shareBut_wx" id="shareBut_wx" href=""><!-- weixin --></a>
			<p>微信好友</p>
		</div>
		<div class="dialog_appshare_box">
			<a class="shareBut shareBut_pyq" id="shareBut_pyq" href=""><!-- pyq --></a>
			<p>朋友圈</p>
		</div>
	</div>

	<div class="overlay">
	</div>
</div>



<script>

	fml.vars.isWxLogin= <%= this.isWxLogin || false %>   ;
    fml.vars.isWx = <%= this.isWx %>;
	fml.vars.originatorId = "<%= originatorId %>";
	fml.vars.role = "<%= role %>";
	fml.vars.got_coupon = "<%= got_coupon %>";
	fml.vars.status = "<%= status %>";
	fml.vars.ass_gid = '<%== this.ass_gid %>' ;
	fml.vars.pageId = 'award';
	fml.vars.error_code = "<%= error_code %>";

	var frm = fml.vars.isWx?'&frm=isWx':'&frm=isMLS';

	if(fml.vars.role !=1 && fml.vars.status != 1){
		/*好友 步数未满*/
		window.location.href = '/activity/distance/friendBefore/?ass_gid=' + fml.vars.ass_gid + frm;
	}
	if(fml.vars.status == 1){
		/*步数满，可抽奖*/
		if(fml.vars.role == 1){
			
			/*发起者，去抽奖*/
			/*window.location.href = '/activity/distance/award/?ass_gid=' + fml.vars.ass_gid;*/
		}else{

			/* 好友，看奖品页面*/
			window.location.href = '/activity/distance/awardFriend/?ass_gid=' + fml.vars.ass_gid + frm;
		}
	}
</script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/activity/distance');
_use:", this._JSstack, this._JSmods); %>
<%# foot.html%>