.icon(){
	.common(){
		background:url("@{pic_url}/images/wap/web/icon3.png") no-repeat;
		background-size:240*@px 260*@px;
	}
	.header(){
		.h(@header_top);.w(@header_top);
	}
	.left(){
		.pa;left:0px;top:0px;
	}
	.right(){
		.pa;right:0px;top:0px;
	}
	.rightBtn(){
		.icon > .header;.icon > .right;.l(@header_top);.white;.f(1.4rem);
	}
	.logo(){
		.icon > .left;
		.mt((@header_top - 54*@px )/ 2);.ml((@header_top - 55*@px )/ 2);.w(54*@px); .h(55*@px);
	}
	.home(){
		.icon > .common;
		.icon > .header;.icon > .right;
		background:url("@{pic_url}/images/wap/web/goHomeIcon.png") center center no-repeat; 
		background-size: 42%;
		// background-position:-38px -78px;
	}
	.openClosed(){
		.icon > .common;
		.pa;right:0px;top:50%;.mt(-@header_nav / 2);
		.h(@header_nav);.w(@header_top);
		background-position:-76px -4px;
	}
	.back(){
		.lineStyle;
		.icon > .common;
		.icon > .header;.icon > .left;
		.w(104*@px);
		background:url("@{pic_url}/images/wap/web/backIcon.png") no-repeat; 
		background-size: 90%;
		// background-position:-36px -38px;
		.pr(10*@px);
		.ml(30*@px);
		.none;
	}
	.search(){
		.icon > .common;
		.icon > .header;.icon > .right;
		background-position:0px 2px;
	}
	.menu(){
		.icon > .common;
		.icon > .header;.icon > .left;
		background-position:-80px -38px;
	}
	.search-input(){
		.icon > .common;
		.pa;.h(34*@px);.w(34*@px);
		left:20*@px;top:10*@px;
		background-position:-12px -51px;
	}
	.heart(){
		.pr;
		&:before{
			content:"";
			.pa;left:-40*@px;.h(20*0.7px);.w(24*0.7px);
			background:url("@{pic_url}/images/wap/web/icon3.png") no-repeat;
			background-size:240*0.7px 260*0.7px;
			background-position:-28*0.7px -190*0.7px;
		}
	}
	.vote(){
		.pr;
		&:before{
			content:"";
			.pa;left:-30*@px;top:-3px;.h(24*@px);.w(24*@px);
			background:url("@{pic_url}/images/wap/activity/sale_vote/zan.png") no-repeat;
			background-size:24*@px 24*@px;
			background-position:center center;
		}
	}
	.cart(){
		background:url("@{pic_url}/images/wap/web/icon-cart.png") no-repeat center center;
		background-size:100%;
	}
	.person(){
		.icon > .header;.icon > .right;
		background:url("@{pic_url}/images/wap/web/icon-person.png") no-repeat center center;
		background-size:50%;
	}
	.check(){
		.pa;z-index:2;
		.w(52*@px);.h(52*@px);
		border:2px solid #ccc;
		.border-r-a(16*@px);	
		&:after{
			.pa;
			top: -1px; right: 6px;
			z-index: 999;
			.w(20*@px);.h(36*@px);
			border: solid 4px #ccc;
			border-width: 0 4px 4px 0;
			content: "\0020";
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
	.checked(){
		.bgc(#3bb000);border-color:#3bb000;	
		&:after{
			border-color:#fff;	
		}
	}
	.gotop(){
		background:url("@{pic_url}/images/wap/web/wx/icon-gotop.png") no-repeat center center;
		background-size:100%;
	}
	.gohome(){
		background:url("@{pic_url}/images/wap/web/wx/icon-home.png") no-repeat center center;
		background-size:100%;
	}
}
