<%#head_simple.html%>
<body>
	<p class="cred"><%= this.wlfWapQuestions.title %></p>
	<dl class="qa">
		<dt><%= this.wlfWapQuestions.question[1].q_title %></dt>	
		<dd><label><input type="radio" name="radio1" />A 课放课放课放课放课放课放课放课放课放课放课放课放</label></dd>
		<dd><label><input type="radio" name="radio1" />B 无纺布</label></dd>
		<dd><label><input type="radio" name="radio1" />C 聚乙烯</label></dd>
	</dl>
	<p class="userinfo_tips">答案不能为空</p>
	<p class="allw redbg" id="btnsubmit">提交答案去申请福利社</p>
	<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
		fml.use('wap/page/welfare/welfare_questionnaire');
	_use:", this._JSstack , this._JSmods);%>
<%#foot_simple.html%>
