<%# sq/header.html %>

<%
	if(!this.contentId){

	var staticData = [
		{
			title: '发货问题',
			ctn : [
				{ icon: 'http://d04.res.meilishuo.net/pic/_o/b5/73/002e1f5cac5987e099481a322005_43_43.cj.png', txt: '何时发货', id: 1 },
				{ icon: 'http://d05.res.meilishuo.net/pic/_o/52/74/9d20777871a55fd4154960b7fc79_47_37.cj.png', txt: '何时到货', id: 2 },
				{ icon: 'http://d02.res.meilishuo.net/pic/_o/2b/10/989420c4d4d29b27e89a63e6a903_41_41.cj.png', txt: '物流信息', id: 3 }
			]
		},
		{
			title: '挑选商品',
			ctn : [
				{ icon: 'http://d03.res.meilishuo.net/pic/_o/f9/de/503fbfbf980d9e5b185b48458bf7_53_53.cj.png', txt: '付款问题', id: 4 },
				{ icon: 'http://d05.res.meilishuo.net/pic/_o/e8/9a/f011d460a0d18f0491705d4a322d_53_53.cj.png', txt: '购买心得', id: 5 },
				{ icon: 'http://d04.res.meilishuo.net/pic/_o/e3/7c/b1853cca8657b1498ed6d31320f6_46_52.cj.png', txt: '日常活动', id: 6 }
			]
		},
		{
			title: '退款退货',
			ctn : [
				{ icon: 'http://d01.res.meilishuo.net/pic/_o/fa/d1/0938a33ed56eef4b68be07c47878_55_55.cj.png', txt: '我要退款', id: 7 },
				{ icon: 'http://d02.res.meilishuo.net/pic/_o/2c/87/4058d5808e2127642d250f016027_51_51.cj.png', txt: '我要退货', id: 8 },
				{ icon: 'http://d02.res.meilishuo.net/pic/_o/ca/60/1f623c7a8b55dca68d5bc4bd7449_57_57.cj.png', txt: '商家拒绝', id: 9 },
				{ icon: 'http://d01.res.meilishuo.net/pic/_o/e6/6c/51e79d0d97a219e60c74fa807f8c_52_52.cj.png', txt: '何时到账', id: 10 }
			]
		}
	];

	staticData.forEach(function (item){ 

%>

<section class="question-menu">
	<h2 class="title-of-question-list"><%= item.title %></h2>
	<ul class="question-list">
	<% item.ctn.forEach(function (item){ %>
		<li class="question-list-item"><a href="/sq/help?cid=<%= item.id %>"><i class="icon"  style="background-image:url(<%= item.icon %>);"></i><%= item.txt %></a></li>
	<% }); %>
	</ul>
</section>

<% 
	});
	}else{ 
		var data = [
			[
				{
					title : '商品付款后何时发货？',
					ctn : '订单付款成功后，正常情况下商家会在72小时之内发货（春节、预售、定制、买卖双方协调一致及不可抗力因素除外。）'
				},
				{
					title : '订单长时间未发货怎么办？',
					ctn : '如果您的订单超出72小时依然未发货，您可联系商家店铺客服催促或致电400-080-0577为您处理。'
				}
			],
			[
				{
					title : '商品付款后何时发货？',
					ctn : '商家发货之后一般3-5天送达（EMS和偏远地区除外），您可以在“我的订单”中查询物流信息，如对物流信息有疑问可联系物流公司核实，也可拨打400-080-0577咨询。'
				},
				{
					title : '商品已被签收，但我没有收到货？',
					ctn : '1. 若未收到货，物流显示已被签收，请联系卖家和快递公司核实物流信息，若只是快递公司网点代收，可关注派送信息；<br><br>2. 若始终未收到货，如订单未“确认收货”，请及时进入【个人中心】—【订单详情页面】—【退货/退款】。'
				}
			],
			[
				{
					title : '如何查看物流信息？',
					ctn : '点击个人中心点击我的订单，在订单页面点击“查看物流”按钮，即可查看自己的物流信息。'
				},
				{
					title : '如何设置自己物流地址？',
					ctn : '点击个人中心的我的收获地址按钮，打开我的地址页面，可以进行查看、新增、修改自己收获地址。'
				},
				{
					title : '发货后没有物流信息？',
					ctn : '物流信息以快递官网查询结果为准，如果订单发货后长时间没有物流信息，您可联系商家店铺客服核实或致电400-080-0577为您核实处理。'
				},
				{
					title : '商品已被签收，但我没有收到货？',
					ctn : '1. 若未收到货，物流显示已被签收，请联系卖家和快递公司核实物流信息，若只是快递公司网点代收，可关注派送信息；<br><br>2. 若始终未收到货，如订单未“确认收货”，请及时进入【个人中心】—【订单详情页面】—【退货/退款】。'
				}
			], 
			[
				{
					title : '美丽说支持哪些支付方式？',
					ctn : '目前美丽说qq商城仅支出qq钱包支付！不支持货到付款。美丽说app支持qq钱包支付、支付宝、财付通、京东支付、银联在线、美丽说钱包余额，不支持货到付款。'
				},
				{
					title : '不确定是否付款成功，要怎么查询？',
					ctn : '在手q商城的个人中心可查询全部订单，如果订单状态为“等待付款”说明付款未完成，订单状态为“等待发货”说明付款成功'
				},
				{
					title : '银行已经扣款但订单还显示等待付款？',
					ctn : '1、由于网络问题交易存在延迟请过一段时间刷新页面查看订单状态。<br><br>2、银行问题，收到扣款短信但实际未扣款，您可查询银行卡收支明细核实账户实际是否扣款。温馨提示：支付过程中遇到的任何问题，都可以致电400-080-0577联系美丽说客服为您处理。'
				}
			],
			[
				{
					title : '商品必看的4个关键要素？',
					ctn : '1、好评，看看这个商品的好评率和评论。<br><br>2、中评和差评，这块需要重点看下，别人买家因为什么原因体验不佳？<br><br>3、销量，这款商品的累计销量，看看这块商品的受欢迎程度<br><br>4、买家晒单，看看别的商家晒单的情况。'
				},
				{
					title : '店铺必看的2个关键要素？',
					ctn : '1、店铺分数，看这个店铺的发货、秒杀、质量、服务的分数是否达标，满分为5.0。<br><br>2、店铺客服服务水平，回答是否专业及时，服务水平是否满意。'
				},
				{
					title : '付款前要询问的几个问题？',
					ctn : '1、商品尺码是否适合我的体型？问清楚选对尺码在下单，以免出现买小了或者买大了的问题！<br><br>2、发货会选择什么快递，不同地区的快递到达的速度会不一样哦。<br><br>3、什么时候发货？根据发货时间来预告自己的收货时间。'
				},
				{
					title : '常见的小问题？',
					ctn : '1、商品尺码是否适合我的体型？问清楚选对尺码在下单，以免出现买小了或者买大了的问题！<br><br>2、发货会选择什么快递，不同地区的快递到达的速度会不一样哦。<br><br>3、什么时候发货？根据发货时间来预告自己的收货时间。'
				}
			],
			[
				{
					title : '美丽说有哪些日常活动',
					ctn : '1、团购活动，精选数百款特卖商品，每日10点更新。<br><br>2、首页9.9元活动，全场9.9元起，每日零点更新。<br><br>3、首页限时秒杀，每日7场限时秒杀单品。<br><br>4、首页轮播图，每日更新专题活动。<br><br>5、首页清仓特卖活动，全场3折起，每日10：00更新。<br><br>6、首页精选，精选一周热销、晒单、好评商品，每周一更新。<br><br>7、首页正在流行，向您推荐当季流行好货，每日10：00更新。'
				}
			],
			[
				{
					title : '申请退款的步骤',
					ctn : '在个人中心打开订单页面详情页面，点击退款按钮，填写退款理由和上传退款凭证，【个人中心】—【订单详情页面】—【填写申请退款理由】-【商家同意则退款成功】'
				},
				{
					title : '申请退款后商家一直未审核',
					ctn : '您申请退款后，商家会有3天审核时间，如商家逾期未处理，系统会自动同意您的申请。'
				},
				{
					title : '申请退款后商家拒绝退款',
					ctn : '您申请退款后，如果商家拒绝，您可以在5天内选择申请美丽说客服介入，逾期系统将自动取消退款申请。'
				},
				{
					title : '退款退货后，优惠券还退吗？',
					ctn : '如果订单中使用的优惠券，优惠券会按比例分摊到相应的商品上，发生退款时，仅退还现金部分金额，优惠券部分不予退还。'
				},
				{
					title : '退款成功后什么时候钱到账？',
					ctn : '储蓄卡3-5个工作日到账，信用卡3-15个工作日到账，财付通余额支付1-3个工作日到账，银联支付：储蓄卡8-10个工作日到账，信用卡8-20个工作日到账，退款不是正常的打款没有短信提示的哦，建议您耐心等待，感谢您的支持！'
				}
			],
			[
				{
					title : '申请退货的步骤',
					ctn : '在个人中心打开订单页面详情页面，点击退款按钮，填写退款理由和上传退货凭证，【个人中心】—【订单详情页面】—【填写申请退货理由】-【商家同意申请则显示商家收货地址】-【商家确认收货退货成功】'
				},
				{
					title : '申请退货后商家一直未审核',
					ctn : '您申请退货后，商家会有3天审核时间，如商家逾期未处理，系统会自动同意您的申请。'
				},
				{
					title : '申请退货后商家拒绝退货',
					ctn : '您申请退货后，如果商家拒绝，您可以在5天内选择申请美丽说客服介入，逾期系统将自动取消退货申请。'
				},
				{
					title : '怎么知道商家的收货地址？',
					ctn : '您申请退款后，商家会有3天审核时间，如商家逾期未处理，系统会自动同意您的申请，商家同意后将在退货详情页显示收货地址，您需要根据地址上传物流单号。'
				},
				{
					title : '退货的运费怎么补贴？',
					ctn : '全场免退货运费说明：<br><br>1. 全场免退货运费定义：用户在线提交退货申请，且退货成功的情况下，美丽说将按以下情况补偿用户退货运费。<br><br>2.退货运费补贴<br>2.1 用户责任的退货运费：-商家和用户同在浙江全省、江苏全省、上海市，运费补贴5元现金券；-商家和用户同在一个省，运费补贴5元现金券；-其他情况，运费补贴10元现金券。<br>2.2 商家责任的退货运费-根据用户退货实际产生的运费补贴现金；<br><br>3.退货运费的发放方式：额参见第二条）；-商家责任的退货运费：退货成功后，用户可联系美丽说客服申请退货运费现金补贴。<br><br>特别说明<br>1.以不当得利为目的或存在其他损害美丽说平台权益行为的订单，不发放运费补贴； <br><br>2.订单实付金额小于等于5元且未支付发货运费的订单，不发放运费补贴；'
				},
				{
					title : '退款退货后，优惠券还退吗？',
					ctn : '如果订单中使用的优惠券，优惠券会按比例分摊到相应的商品上，发生退款时，仅退还现金部分金额，优惠券部分不予退还。'
				},
				{
					title : '退货成功后什么时候钱到账？',
					ctn : '商家确认收货后，美丽说钱包是30分钟内到账，储蓄卡是10个工作日内到账，信用卡是20个工作日内到账。请您及时查看账户，如超时未收到请拨打400-080-0577核实。'
				}
			],
			[
				{
					title : '申请退款后商家拒绝退款',
					ctn : ' 您申请退款后，如果商家拒绝，您可以在5天内选择申请美丽说客服介入，逾期系统将自动取消退款申请。'
				},
				{
					title : '申请退货后商家拒绝退货',
					ctn : '您申请退货后，如果商家拒绝，您可以在5天内选择申请美丽说客服介入，逾期系统将自动取消退货申请。'
				}
			],
			[
				{
					title : '退款成功后，钱还没有到账？',
					ctn : '商家同意退款后，美丽说钱包是30分钟内到账，储蓄卡是10个工作日内到账，信用卡是20个工作日内到账。请您及时查看账户，如超时未收到请拨打400-080-0577核实。'
				},
				{
					title : '退货成功后，钱还没有到账？',
					ctn : '商家确认收货后，美丽说钱包是30分钟内到账，储蓄卡是10个工作日内到账，信用卡是20个工作日内到账。请您及时查看账户，如超时未收到请拨打400-080-0577核实。'
				}
			]
		];
%>

<article>
<% data[this.contentId - 1].forEach(function (item){ %>
	<section class="question">
		<h2 class="question-title"><%= item.title %></h2>
		<p class="question-ctn"><%= item.ctn %></p>
	</section>
<% }); %>
</article>

<% } %>

<%# sq/footer.html %>