@import "../block.less";

.mp_coupon{.w(100%);.h(283px);background:#fff url("@{pic_url}/images/biz/salePrice/couponbg916.jpg") no-repeat top center;
	.coupon_main{.pr;.w(980px);.h(278px);.auto;
		.couponLi{.pa;left:7px;top:103px;.w(314px);.h(128px);float:left;
			.text{.pa;left:152px;top:22px;.fc(#fff);.f(16px);.l(18px);}
			.btn{.pa;left:152px;top:69px;.w(154px);.h(41px);}
		}
		.m80{.pa;left:330px;}
		.m120{.pa;left:655px;}
	}
}
.code{.block;clear:both;.h(40px);}
.login_txt{.w(100px);.h(30px);.left;.ml(80px);}
.checkImage{.left;}