@import "../block.less";
@import "../atom.less";
@import "618coupon.less";
@import "../page_guang.less";
@import "../app/addToCart.less";


.clock{ .pa; .w(100%); text-align:center; color:#ff385e; font-size:18px; top:386px; font-weight:bolder; .l(41px);
	b{
		background:url(http://d02.res.meilishuo.net/img/_o/85/d1/624761452a1dbb94221a4e6f86a4_28_41.c8.png);
		letter-spacing:18px;text-indent:10px;
		*text-indent:0;
		.i_block; .w(56px); .h(41px); color:white; margin:0 5px; 
		text-align:center;
	}
}

.t_main{.w(100%);.pr;.bgc(#fff);
	.mp_time{.auto;
			a{.w(100px);.h(52px);.pa;top: 46px;right: 23px;}
		}
	.t_mid{.w(950px);.auto;.pr;
		a.act_{.i_block;.indent;}
	}	
	.bgred{.bgc(#f43169);}
	.t_center{.w(950px);.auto;.hidden;
		.mp_special{.h(250px);.mt(20px);background:#fff url("@{pic_url}/images/biz/phonepriv/mp_special.jpg") no-repeat top center;
			a{.w(314px);.h(200px);}
		}
	}
	.act_info{.block;.w(950px);.auto;.mt(10px);.mb(10px);}
	.mp_firlook{.auto;}

	.rignav{.none;.pf;.w(127px);.h(278px);right: 0px; top: 150px;
		background:url("@{pic_url}/images/biz/phonepriv/618_rigban.png") no-repeat top center;
		.rlink{.indent;.block;.pr;.h(55px);top:94px;.mt(1px);}
		.sec{.h(60px);}
	}
}
.hl_1, .hl_2, .hl_3, .hl_4, .hl_5,.hl_6,.hl_7 {.pa;left: 50%;top: 300px;.w(100px);.h(100px);.indent;}
.hl_1{margin: -242px 0 0 -295px;}
.hl_2{margin: -161px 0 0 -395px;}
.hl_3{margin: -6px 0 0 -404px;}
.hl_4{margin: -265px 0 0 155px;}
.hl_5{margin: -183px 0 0 300px;}
.hl_6{margin: -38px 0 0 247px;}
.hl_7{.w(118px);.h(118px);margin: -106px 0 0 76px;}



.links,.sec_nav{
	.content{.w(950px); .pr;
		.auto;
		a.a_li{
			.i_block;.c;.f(20px);.fc(#fff);.h(25px);.l(25px);
			text-indent: 0;
			.pt(10px);.pb(10px);.pl(20px);.pr(20px);
			&:hover{.bgc(#db2c5e);}
		}
		a.a_li11{
			.i_block;.c;.f(20px);.fc(#fff);.h(25px);.l(25px);
			text-indent: 0;
			.pt(10px);.pb(10px);.pl(20px);.pr(20px);
			&:hover{.bgc(#db2c5e);}
		}
		a.current{.bgc(#db2c5e);}

		a.btn_tuan{
			text-indent: 0;
			.w(132px);
			.c;.pa;right: 0;
			.fc(#fff);.f(20px);.mt(5px);
			.pt(6px);.pb(5px);.i_block;.border-r(30px);
			background: #f65a87 url("@{pic_url}/images/biz/phonepriv/618_jt.png") no-repeat 100px 12px;
		}

	}
	.content1111{.w(1200px)}
}
.sec_nav{background: #f43169;width:100%;}
.links{.pr;width:100%;}
.fixbar{position:fixed;top:0;left:0;z-index:400;width:100%;}

.add_poster_btn{.mt(10px)}
// right_nav
.nav_rig{.pf;.pt(77px);.none;top:40px;right:10px;.w(146px);.f(19px);.h(200px);background: url("@{pic_url}/images/biz/salePrice/rbg_top.png") no-repeat center top;
	
	a.link{.block;.fc(#fe88a2);.h(37px);.l(34px);.w(100%);.c;background: url("@{pic_url}/images/biz/salePrice/rnavbg.png") no-repeat 30px top;
		&:hover{.fc(#fff);background: url("@{pic_url}/images/biz/salePrice/rnavbg_h.png") no-repeat 30px top;}
	}
	a.current{.fc(#fff);background: url("@{pic_url}/images/biz/salePrice/rnavbg_h.png") no-repeat 30px top;}
	a.back{.pr;.block;.l(18px);.fc(#ff2966);.f(18px);.w(100%);font-weight:bold;.h(70px);background: url("@{pic_url}/images/biz/salePrice/back_11.png") no-repeat 30px -10px;
		span.box{.block;.pa;top:5px;left:45px;text-align:left;.f(16px)}
		&:hover{.fc(#ff2966);background: url("@{pic_url}/images/biz/salePrice/back_11.png") no-repeat 30px -10px;}
	}
	
}
