@import "../block.less";
@import "../window.less";

.fluid;
.page;
.pageNav{ .page > .pageRed; }
//海报
.poster_wall{ .pa;left:-2000px;top:0;}
.poster_grid{ .common_box;}


.main{}
.lev-{
	&bg1{.w(100%);.auto;.pr;.h(651px);background:url("@{pic_url}/images/huodong/candy/bg1.jpg") no-repeat center center;
		.main-cont{.w(900px);.auto;.pr;.h(100%);
			.video{.pa;left:-25px;top:270px;.w(300px);.h(220px);}
		}
	}
	&bg2{background:url("@{pic_url}/images/huodong/candy/lanshu.png") center center no-repeat; .h(2119px);
		.b1{background:url("@{pic_url}/images/huodong/candy/bg222.png") no-repeat center center ;.h(260px);.mt(-3px);}
		.b2{background:url("@{pic_url}/images/huodong/candy/bg31.png") no-repeat;.h(621px);.w(1071px);.auto;.mt(-1px);.pr;
			.upload-box{.pa;left:664px;top:124px;.w(250px);.h(345px);.cursor;
				.next{ .pa; .w(221px); .h(58px); background:url("@{pic_url}/images/huodong/candy/btn.png") no-repeat;bottom:-67px; right:20px; border:0; .cursor; }
			}
			.obolaiUpWapper{ .w(230px); .h(333px);  .cursor; position: static;
				input{ .cursor; .f(295px); .pa; .f(15px);*font-size:60px;left:0; top:84; .h(344px); }
			}
			input{margin: 5px 0 0 0;}
		}
		.b3{background:url("@{pic_url}/images/huodong/candy/bg4.png") no-repeat;.h(621px);.w(1182px);.auto;.pr
		}
		.tip1{background:url("@{pic_url}/images/huodong/candy/tip.png") no-repeat;.h(50px);.w(50px);.pa;left:358px;bottom: 150px;.none}
		.tip2{background:url("@{pic_url}/images/huodong/candy/tip.png") no-repeat;.h(50px);.w(50px);.pa;left:592px;bottom: 284px;.none}
		.tip3{background:url("@{pic_url}/images/huodong/candy/tip.png") no-repeat;.h(50px);.w(50px);.pa;right:276px;bottom: 150px;.none}
		.b4{background:url("@{pic_url}/images/huodong/candy/bg555.png") no-repeat;.h(534px);.pr;.w(1186px);.auto;}
		.b5{background:url("@{pic_url}/images/huodong/candy/bg6.png") no-repeat center center ;.h(83px);}
	}
	&bg3{.mt(-1px);
		.b11{background:url("@{pic_url}/images/huodong/candy/bg9.png") no-repeat center center; .h(140px);}
		.b1{background:url("@{pic_url}/images/huodong/candy/bg7.png") no-repeat center center; .h(340px);}
		.b2{background:url("@{pic_url}/images/huodong/candy/bg8.png") no-repeat center center;.h(127px);}
		.jiao{.w(256px);.h(72px);.pa;right:-73px;top:140px;background:url("@{pic_url}/images/huodong/candy/jiao2.png") no-repeat;}
		.line{.w(129px);.h(824px);.pa;left:-67px;top:140px;background:url("@{pic_url}/images/huodong/candy/line.png") no-repeat;}
		.content_fluid{background:url("@{pic_url}/images/huodong/candy/baishu2.png") center center no-repeat;}
		.hb_box{.w(969px);.h(1161px);.auto;overflow-y: scroll;overflow-x: hidden;background: #fff;}

	}
}


.poster;
.poster_icons;


/* 样式覆盖 */
#goTop{.none !important;}
#maskLayer, .maskLayer {
filter: alpha(opacity=50);
opacity: .5;
}


.step1{.pa;left:210px;top:18px;.f(0);.w(376px);.h(195px);
	span{.i_block;.w(55px);.h(56px);.mr(20px);.f(0);.mb(12px);}
	.s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8,.s9,.s10,.s11,.s12,.s13,.s14,.s15{background:url("@{pic_url}/images/huodong/candy/cbg.jpg") no-repeat; 
		&.cbg{background:url("@{pic_url}/images/huodong/candy/sbg.jpg") no-repeat; }
	}
	.s1{background-position:0 0;
		&.cbg{background-position:0 0;}
	}
	.s2{background-position:-74px 0;
		&.cbg{background-position:-74px 0;}
	}
	.s3{background-position:-148px 0;
		&.cbg{background-position:-148px 0;}
	}
	.s4{background-position:-221px 0;
		&.cbg{background-position:-221px 0;}
	}
	.s5{background-position:-295px 0;
		&.cbg{background-position:-295px 0;}
	}
	.s6{background-position:0 -65px;
		&.cbg{background-position:0 -65px;}
	}
	.s7{background-position:-74px -65px;
		&.cbg{background-position:-74px -65px;}
	}	

	.s8{background-position:-148px -65px;
		&.cbg{background-position:-148px -65px;}
	}	

	.s9{background-position:-221px -65px;
		&.cbg{background-position:-221px -65px;}
	}

	.s10{background-position:-295px -65px;
		&.cbg{background-position:-295px -65px;}
	}	

	.s11{background-position:0 -131px;
		&.cbg{background-position:0 -131px;}
	}	
	.s12{background-position:-74px -131px;
		&.cbg{background-position:-74px -131px;}
	}
	.s13{background-position:-148px -131px;
		&.cbg{background-position:-148px -131px;}
	}	
	.s14{background-position:-221px -131px;
		&.cbg{background-position:-221px -131px;}
	}	
	.s15{background-position:-295px -131px;
		&.cbg{background-position:-295px -131px;}
	}			


}

.step2{.pa;left:206px;top:292px;.f(0);.w(357px);.h(253px);.mr(-2px);
	span{.i_block;.w(87px);.h(121px);.mr(2px);.mb(10px);}
	.s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8{background:url("@{pic_url}/images/huodong/candy/bcbg.jpg") no-repeat; 
		&.cbg{background:url("@{pic_url}/images/huodong/candy/bsbg.jpg") no-repeat; }
	}
	.s1{background-position:0 0;
		&.cbg{background-position:0 0;}
	}
	.s2{background-position:-89px 0;
		&.cbg{background-position:-89px 0;}
	}
	.s3{background-position:-178px 0;
		&.cbg{background-position:-178px 0;}
	}
	.s4{background-position:-267px 0;
		&.cbg{background-position:-267px 0;}
	}
	.s5{background-position:0 -131px;
		&.cbg{background-position:0 -131px;}
	}
	.s6{background-position:-89px -131px;
		&.cbg{background-position:-89px -131px;}
	}
	.s7{background-position:-178px -131px;
		&.cbg{background-position:-178px -131px;}
	}
	.s8{background-position:-267px -131px;
		&.cbg{background-position:-267px -131px;}
	}


}


.candy_pop{.w(626px);.h(419px);background:url('@{pic_url}/images/huodong/candy/tan.png') center center no-repeat;.pr;
	.tpic{.pa;left:300px; top:60px;
	}
	.lpic{.pa;left:36px;top:61px;}
	.close_btn{.pa;.i_block;.w(40px);.h(35px);right:5px;top:5px; }
	#share_sina{.pa;bottom: 93px;right:163px;.w(160px);.h(55px);}
}


























