@import "../block.less";
@import "../plugin/fancybox.less";

.ca_auto(){ .w(948px); .auto; }
.caTop{ background:url('@{pic_url}/images/huodong/canon/pic1.jpg') no-repeat center center;
	.ca_center1{ .ca_auto; .h(602px); .pr; 
		.sina{ .pa; .pa; left:224px; bottom:175px; }
		.weibo{ .block; .w(74px); .h(66px); .pa; left:217px; bottom:105px; }
		.pro{ .block; .w(200px); .h(166px); .pa; right:0; bottom:93px; }
	}
}
.caGroup{ background:url('@{pic_url}/images/huodong/canon/pic2.jpg') no-repeat center center;
	.ca_center2{ .ca_auto; .h(543px); .pr; 
		.groupBox{ .left; margin:187px 38px 0 46px; }
	}
}
.caBuy{ background:url('@{pic_url}/images/huodong/canon/pic10.jpg') no-repeat center center;
	.ca_center22{ .ca_auto; .h(635px); .pr;
		.youhui{ .pa; .w(256px); .h(188px); top:0; right:0; }
		.pink{ .pa; .w(280px); .h(104px); bottom:18px; left:55px; }
		.blue{ .pa; .w(280px); .h(104px); bottom:18px; right:55px; }
		.time{ .pa; bottom:40px; left:366px; .f(26px); .fb; color:#202020; .w(230px); .c;
			.qiang{ .f(44px); .fb; color:#eb5471; }
		}
	}
}
.caWlf{ background:url('@{pic_url}/images/huodong/canon/pic12.jpg') no-repeat center center; .h(498px);
	.ca_center3{ .ca_auto; .h(275px); .hidden; .pr; top:160px; .w(864px);
		ul{ .pa; left:0; .clearfix; .w(1000%); .h(275px);
			li{ .left; .ml(6px); .w(210px); }
		}
	}
}
.caDaren1{ background:url('@{pic_url}/images/huodong/canon/pic5.jpg') no-repeat center center;
	.ca_center4{ .ca_auto; .h(692px); .pr;
		img{ .pa; left:0; top:0; }
	}
}
.caDaren2{ background:url('@{pic_url}/images/huodong/canon/pic6.jpg') no-repeat center center;
	.ca_center5{ .ca_auto; .h(590px); .pr;
		img{ .pa; left:0; top:0; }
	}
}
.caDaren3{ background:url('@{pic_url}/images/huodong/canon/pic7.jpg') no-repeat center center;
	.ca_center6{ .ca_auto; .h(602px); .pr;
		.daren1{ .pa; left:0; top:0; }
		.daren2{ .pa; left:490px; top:0; }
	}
}
.caIntro{ background:url('@{pic_url}/images/huodong/canon/pic8.jpg') no-repeat center center;
	.ca_center8{ .block; .ca_auto; .h(602px); }
}
.caPro{ background:url('@{pic_url}/images/huodong/canon/pic9.jpg') no-repeat center center; .h(673px);
	.ca_center7{ .ca_auto; .h(209px); .hidden; .pr; top:162px;
		ul{ .pa; left:0; top:30px; .clearfix; .w(1000%); .h(209px);
			li{ .left; .ml(6px); .w(229px); }
		}
	}
}
