@import "../block.less";
@import "../window.less";

.poster;
.poster_icons;
.face_pop { .window > .head_float; }
.fluid;
.page;
.pageNav{.page > .pageRed; }
.share_group {
	 .common_shadowBox; .pf; .l(16px); .h(130px); padding: 8px 12px 8px 8px; _position: absolute; right: -4px; top: 150px; width:22px; z-index:20;
	p { .gray; .ml(6px); width: 14px; }
	ul li { .border-1; .common_button; .left; .mt(5px); .hidden; .h(16px); padding: 2px; width: 16px;
	span { .left; .h(16px); padding: 0; width: 16px; }
	}
}

/*new year discount*/
.nyd_bg{ .w(100%); background:url('@{pic_url}/images/huodong/newyear/nyd_bg3.png') top center no-repeat white; .mt(4px);
	ul.nyd_nav { .clearfix; .w(948px); .h(47px); .hidden; .auto;
		li { .w(316px); .h(47px); .left;
			a{ .block; .left; .w(316px); .h(47px);}	
			a.nyd_nav0{ background:url('@{pic_url}/images/huodong/newyear/nyd1_nav.png') no-repeat 0 -47px; 
				&:hover{ background:url('@{pic_url}/images/huodong/newyear/nyd1_nav.png') no-repeat 0 0;}
			}
			a.nyd_nav1{ background:url('@{pic_url}/images/huodong/newyear/nyd1_nav.png') no-repeat -316px -47px;
				&:hover{ background:url('@{pic_url}/images/huodong/newyear/nyd1_nav.png') no-repeat -316px 0;}
			}
			a.nyd_nav2{ background:url('@{pic_url}/images/huodong/newyear/nyd1_nav.png') no-repeat -632px -47px;
				&:hover{ background:url('@{pic_url}/images/huodong/newyear/nyd1_nav.png') no-repeat -632px 0;}
			}
			a.nyd_nav3{ background:url('@{pic_url}/images/huodong/newyear/nyd1_nav.png') no-repeat 0 0;
				&:hover{ background:url('@{pic_url}/images/huodong/newyear/nyd1_nav.png') no-repeat 0 0;}
			}
			a.nyd_nav4{ background:url('@{pic_url}/images/huodong/newyear/nyd1_nav.png') no-repeat -316px 0;
				&:hover{ background:url('@{pic_url}/images/huodong/newyear/nyd1_nav.png') no-repeat -316px 0;}
			}
			a.nyd_nav5{ background:url('@{pic_url}/images/huodong/newyear/nyd1_nav.png') no-repeat -632px 0;
				&:hover{ background:url('@{pic_url}/images/huodong/newyear/nyd1_nav.png') no-repeat -632px 0;}
			}
		}
	}
}
.nyd_top{ background:url('@{pic_url}/images/huodong/newyear/nyd_top3.png') no-repeat; .w(950px); .h(549px); .auto; .pr }
.nyd_h{ .h(2000px); }
a.nyd_mado0{ background:url('@{pic_url}/images/huodong/newyear/sweet3_s.png') no-repeat; .w(143px); .h(424px); .block; .pa; left:38px; top:125px;
}
a.nyd_mado3{ background:url('@{pic_url}/images/huodong/newyear/sweet3_l.png') no-repeat; .w(167px); .h(453px); .block; .pa; left:25px; top:96px; }

a.nyd_mado1{ background:url('@{pic_url}/images/huodong/newyear/queen2_s.png') no-repeat; .w(184px); .h(434px); .block; .pa; left:299px; top:115px;
}
a.nyd_mado4{ background:url('@{pic_url}/images/huodong/newyear/queen6_l.png') no-repeat; .w(198px); .h(453px); .block; .pa; left:294px; top:96px; }
a.nyd_mado2{ background:url('@{pic_url}/images/huodong/newyear/fashion2_s.png') no-repeat; .w(157px); .h(419px); .block; .pa; left:589px; top:130px;
}
a.nyd_mado5{ background:url('@{pic_url}/images/huodong/newyear/fashion6_l.jpg') no-repeat; .w(166px); .h(467px); .block; .pa; left:595px; top:82px; }
.nyd_posi{ .w(948px); .h(47px); .pa; top:458px; left:0; }

/*雅诗兰黛第二波*/
.lauder2_box{ .w(100%); background-color:#0d0819; }
.lauder2_top{ .w(950px); .h(812px); .hidden; .auto; .pr; background:url('@{pic_url}/images/huodong/lauder2/lauder2_top3.jpeg') no-repeat;
	p{ .w(173px); .h(44px); .pa; top:366px; right:38px; .cursor; }
}
.lauder2_step1{ .pr; .w(626px); .h(337px); background:url('@{pic_url}/images/huodong/lauder2/lauder2_step1.jpg') no-repeat; 
	p{ .w(388px); .h(114px); .clearfix; .pa; top:103px; right:20px;
		span{ .left; .w(110px); .h(37px); .l(37px); border:1px solid #c1d3e7; background-color:#c1d3e7; margin:0 15px 15px 0; .f(16px); color:#0c194a; .c; .fb; .cursor; }
		span.yellow{ border:1px solid #f4e3b4; background:url('@{pic_url}/images/huodong/lauder2/lauder2_btnbg.png') repeat-x; .cursor; }
	}
	div{ .w(118px); .h(33px); background:url('@{pic_url}/images/huodong/lauder2/lauder2_next.png') no-repeat; .pa; top:260px; left:343px; .cursor; }
}
.lauder2_step2{ .w(521px); .h(191px); background:url('@{pic_url}/images/huodong/lauder2/lauder2_step2.jpg') no-repeat; }
.lauder2_step3{ .w(729px); .h(416px); .pr; 
	p{ .w(148px); .h(42px); .pa; top:350px; right:214px; .cursor; }
}
.lauder2_fight0{ background:url('@{pic_url}/images/huodong/lauder2/step3_1.jpg') no-repeat; }
.lauder2_fight1{ background:url('@{pic_url}/images/huodong/lauder2/step3_22.jpg') no-repeat; }
.lauder2_fight2{ background:url('@{pic_url}/images/huodong/lauder2/step3_32.jpg') no-repeat; }
.lauder2_fight3{ background:url('@{pic_url}/images/huodong/lauder2/step3_4.jpg') no-repeat; }
.lauder2_fight4{ background:url('@{pic_url}/images/huodong/lauder2/step3_55.jpg') no-repeat; }
.lauder2_fight5{ background:url('@{pic_url}/images/huodong/lauder2/step3_6.jpg') no-repeat; }
.lauder2_step4{ .w(729px); .h(416px); .pr;
	a{ .block; .w(145px); .h(36px); .pa; }
	a.l_detail1{ top:322px; left:133px; }
	a.l_detail2{ top:322px; right:133px; }
}
.lauder2_ok0{ background:url('@{pic_url}/images/huodong/lauder2/ok0.jpg') no-repeat; }
.lauder2_ok1{ background:url('@{pic_url}/images/huodong/lauder2/ok1.jpg') no-repeat; }
.lauder2_ok2{ background:url('@{pic_url}/images/huodong/lauder2/ok2.jpg') no-repeat; }
.lauder2_ok3{ background:url('@{pic_url}/images/huodong/lauder2/ok3.jpg') no-repeat; }
.lauder2_ok4{ background:url('@{pic_url}/images/huodong/lauder2/ok4.jpg') no-repeat; }
.lauder2_ok5{ background:url('@{pic_url}/images/huodong/lauder2/ok5.jpg') no-repeat; }
.lauder2_flash{ .w(950px); .auto; }

/*除夕抽签活动*/
.draw_bg{ .w(100%); .h(1857px); background-color:#fff7f7;
	.draw_inner{ .w(950px); .h(1857px); .auto; .pr; background:url('@{pic_url}/images/huodong/drawLots/draw_bg2.png') no-repeat;
		.draw_step1{ .w(712px); .h(490px); .pa; top:150px; left:116px; background:url('@{pic_url}/images/huodong/drawLots/draw1.png') no-repeat; }
		a.draw_close{ .block; .w(52px); .h(40px); .pa; top:0; right:0; .cursor; }
	}
}
.draw_join{ .block; .w(180px); .h(48px); .pa; top:388px; right:272px; .cursor; }
.draw_step2{ .w(400px); .h(300px); .pa; top:150px; left:274px; }
.draw_s1{ background:url('@{pic_url}/images/huodong/drawLots/draw_ji3.png') no-repeat;}
.draw_s2{ background:url('@{pic_url}/images/huodong/drawLots/draw_ping3.png') no-repeat;}
.draw_s3{ background:url('@{pic_url}/images/huodong/drawLots/draw_shang3.png') no-repeat;}
.draw_jie{ .w(180px); .h(48px); .pa; top:203px; left:119px; .block; .cursor; }
.draw_share{ .w(160px); color:white; .pa; bottom:10px; left:140px; .f(16px); }
.draw_step3{ .w(770px); .h(520px); .pa; top:100px; left:96px; 
	a{ .block; .w(150px); .h(150px); .pa; }
}
.draw_a1{ background:url('@{pic_url}/images/huodong/drawLots/draw2_1.png') no-repeat; }
.draw_a2{ background:url('@{pic_url}/images/huodong/drawLots/draw2_2.png') no-repeat; }
.draw_a3{ background:url('@{pic_url}/images/huodong/drawLots/draw2_3.png') no-repeat; }
.draw_a4{ background:url('@{pic_url}/images/huodong/drawLots/draw2_4.png') no-repeat; }
.draw_a5{ background:url('@{pic_url}/images/huodong/drawLots/draw2_5.png') no-repeat; }
.draw_a6{ background:url('@{pic_url}/images/huodong/drawLots/draw2_6.png') no-repeat; }
.draw_a7{ background:url('@{pic_url}/images/huodong/drawLots/draw2_7.png') no-repeat; }
.draw_a8{ background:url('@{pic_url}/images/huodong/drawLots/draw2_8.png') no-repeat; }
.draw_a9{ background:url('@{pic_url}/images/huodong/drawLots/draw2_9.png') no-repeat; }
.draw_a10{ background:url('@{pic_url}/images/huodong/drawLots/draw2_10.png') no-repeat; }
.draw_l1{ top:118px; right:250px; }
.draw_l2{ top:118px; right:72px; }
.draw_l3{ top:336px; right:250px; }
.draw_l4{ top:336px; right:72px; }

/*converse*/
.converse{ .w(100%); .h(1149px); .pt(14px); background:url('@{pic_url}/images/huodong/converse/c_bg.png') repeat-x left top; }
.convs_top{ .w(950px); .h(341px); .auto;background:url('@{pic_url}/images/huodong/converse/converse_top3.png') no-repeat;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/converse/converse_top3.png', sizingMethod='scale'); _background-image:none; }
.convs_line{ .w(950px); .h(20px); .auto; background:url('@{pic_url}/images/huodong/converse/c_line.png') no-repeat;  }
.convs_bottom{ .w(950px); .auto; 
	a{ .w(699px); .h(631px); .hidden; .left; .ml(-9px); }
}
.convs_left1{ background:url('@{pic_url}/images/huodong/converse/c_left11.png') no-repeat;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/converse/c_left11.png', sizingMethod='scale'); _background-image:none; }
.convs_left2{ background:url('@{pic_url}/images/huodong/converse/c_left22.png') no-repeat;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/converse/c_left22.png', sizingMethod='scale'); _background-image:none; }
.convs_left3{ background:url('@{pic_url}/images/huodong/converse/c_left33.png') no-repeat;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/converse/c_left33.png', sizingMethod='scale'); _background-image:none; }
.convs_left4{ background:url('@{pic_url}/images/huodong/converse/c_left44.png') no-repeat;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/converse/c_left44.png', sizingMethod='scale'); _background-image:none; }
.convs_right{ .w(260px); .right; .mt(8px);
	div{ .w(260px); .h(154px); .cursor; }
}
.c_right1{ background:url('@{pic_url}/images/huodong/converse/c_right1.png') no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/converse/c_right1.png', sizingMethod='scale'); _background-image:none;  }
.c_right2{ background:url('@{pic_url}/images/huodong/converse/c_right2.png') no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/converse/c_right2.png', sizingMethod='scale'); _background-image:none;  }
.c_right3{ background:url('@{pic_url}/images/huodong/converse/c_right3.png') no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/converse/c_right3.png', sizingMethod='scale'); _background-image:none; }
.c_right4{ background:url('@{pic_url}/images/huodong/converse/c_right4.png') no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/converse/c_right4.png', sizingMethod='scale'); _background-image:none;  }
.c_right11{ background:url('@{pic_url}/images/huodong/converse/c_right11.png') no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/converse/c_right11.png', sizingMethod='scale'); _background-image:none;  }
.c_right22{ background:url('@{pic_url}/images/huodong/converse/c_right23.png') no-repeat;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/converse/c_right23.png', sizingMethod='scale'); _background-image:none;  }
.c_right33{ background:url('@{pic_url}/images/huodong/converse/c_right34.png') no-repeat;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/converse/c_right34.png', sizingMethod='scale'); _background-image:none; }
.c_right44{ background:url('@{pic_url}/images/huodong/converse/c_right44.png') no-repeat;  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/converse/c_right44.png', sizingMethod='scale'); _background-image:none;  }

/*orbis*/
.orbis_box{ .w(100%); background-color:white; .pt(14px);
	.orbis_center{ .w(1044px); .auto; }
}
.orbis_top{ .h(515px); background:url('@{pic_url}/images/huodong/orbis/orbis_1.jpg') no-repeat; .pr; }
.orbis_limite{ .h(579px); background:url('@{pic_url}/images/huodong/orbis/orbis_limite_2.jpg') no-repeat left top; .pr;
	a{ .pa; top:276px; right:84px; .w(105px); .h(30px); }
}
.orbis_t2in{ .h(446px); .pr;
	.orbis_miracle{ .pa; .w(505px); .h(446px); background:url('@{pic_url}/images/huodong/orbis/orbis_7.jpg') no-repeat; top:0; left:0;  }
	.orbis_daren{ .pa; .w(539px); top:0; left:505px; 
		div{ .pa; }
		.orbis_meng{ background:rgba(255,255,255,0.8); filter:~"progid:DXImageTransform.Microsoft.gradient(startcolorstr=#80ffffff,endcolorstr=#80ffffff)"; .pa; top:0; left:0;}
		.orbis_d1{ top:10px; left:3px;
			span{ .block; .w(118px); .h(140px); .cursor; }
			.orbis_nd1{ background:url('@{pic_url}/images/huodong/orbis/daren_1.jpg') no-repeat; }
		}
		.orbis_d2{ top:10px; left:138px;
			span{ .block; .w(125px); .h(140px); .cursor; }
			.orbis_nd2{ background:url('@{pic_url}/images/huodong/orbis/daren_2.jpg') no-repeat; }
		}
		.orbis_d4{ top:10px; left:275px; 
			span{ .block; .w(262px); .h(245px); .cursor; }
			.orbis_nd4{ background:url('@{pic_url}/images/huodong/orbis/daren_3.jpg') no-repeat;}
		}
		.orbis_d3{ top:160px; left:3px; 
			span{ .block; .w(262px); .h(245px); .cursor; }
			.orbis_nd3{ background:url('@{pic_url}/images/huodong/orbis/daren_4.jpg') no-repeat;}
		}
		.orbis_d5{ top:264px; left:275px; 
			span{ .block; .w(126px); .h(143px); .cursor; }
			.orbis_nd5{ background:url('@{pic_url}/images/huodong/orbis/daren_5.jpg') no-repeat;}
		}
		.orbis_d6{ top:264px; right:3px; 
			span{ .block; .w(126px); .h(143px); .cursor; }
			.orbis_nd6{ background:url('@{pic_url}/images/huodong/orbis/daren_6.jpg') no-repeat;}
		}
		.orbis_darentext{ .w(260px); padding:4px; .l(18px); .pa; background-color:white; .none; }
		.orbis_dt1{ left:3px; top:161px; }
		.orbis_dt2{ left:275px; bottom:-254px; }
	}
}
.orbis_sales{ .h(54px); background:url('@{pic_url}/images/huodong/orbis/orbis_8.jpg') no-repeat; }
.orbis_nav{ .h(54px); .w(1044px); background:url('@{pic_url}/images/huodong/orbis/orbis_nav4.jpg') no-repeat; bottom:0; .pf; z-index:400; 
	ul{ .clearfix; .ml(80px);
		li{ .left; .mr(18px);
			a{ .block; .h(54px); .l(54px);}
			.orb_hnav0{ .w(148px); background:url('@{pic_url}/images/huodong/orbis/orbi_nav5.jpg') no-repeat;
				&:hover{ background:url('@{pic_url}/images/huodong/orbis/orb_nav2.jpg') no-repeat;}
			}
			.orb_nav0{ .w(148px); background:url('@{pic_url}/images/huodong/orbis/orb_nav2.jpg') no-repeat;
				&:hover{ background:url('@{pic_url}/images/huodong/orbis/orb_nav2.jpg') no-repeat;}
			}
			.orb_hnav1{ .w(133px); background:url('@{pic_url}/images/huodong/orbis/orbi_nav1.jpg') no-repeat;
				&:hover{ background:url('@{pic_url}/images/huodong/orbis/orb_nav3.jpg') no-repeat;}
			}
			.orb_nav1{ .w(133px); background:url('@{pic_url}/images/huodong/orbis/orb_nav3.jpg') no-repeat;
				&:hover{ background:url('@{pic_url}/images/huodong/orbis/orb_nav3.jpg') no-repeat;}
			}
			.orb_hnav2{ .w(208px); background:url('@{pic_url}/images/huodong/orbis/orbi_nav2.jpg') no-repeat;
				&:hover{ background:url('@{pic_url}/images/huodong/orbis/orb_nav4.jpg') no-repeat;}
			}
			.orb_nav2{ .w(208px); background:url('@{pic_url}/images/huodong/orbis/orb_nav4.jpg') no-repeat;
				&:hover{ background:url('@{pic_url}/images/huodong/orbis/orb_nav4.jpg') no-repeat;}
			}
			.orb_hnav3{ .w(133px); background:url('@{pic_url}/images/huodong/orbis/orbi_nav6.jpg') no-repeat;
				&:hover{ background:url('@{pic_url}/images/huodong/orbis/orb_nav7.jpg') no-repeat;}
			}
			.orb_nav3{ .w(133px); background:url('@{pic_url}/images/huodong/orbis/orb_nav7.jpg') no-repeat;
				&:hover{ background:url('@{pic_url}/images/huodong/orbis/orb_nav7.jpg') no-repeat;}
			}
			.orb_hnav4{ .w(162px); background:url('@{pic_url}/images/huodong/orbis/orbi_nav7.jpg') no-repeat;
				&:hover{ background:url('@{pic_url}/images/huodong/orbis/orb_nav6.jpg') no-repeat;}
			}
			.orb_nav4{ .w(162px); background:url('@{pic_url}/images/huodong/orbis/orb_nav6.jpg') no-repeat;
				&:hover{ background:url('@{pic_url}/images/huodong/orbis/orb_nav6.jpg') no-repeat;}
			}
		}
	}
}
.orbis_tpic{ .h(54px); background:url('@{pic_url}/images/huodong/orbis/orbis_3.png') no-repeat;}
.orbis_tpic1{ .h(54px); background:url('@{pic_url}/images/huodong/orbis/orbis_5.png') no-repeat; }
.orbis_tpic2{ .h(54px); background:url('@{pic_url}/images/huodong/orbis/orbis_6.png') no-repeat; }
.orbis_t4in{ .pr; }
.orbis_apo,.kl_apo{ .pa; bottom:0; left:0; .w(1044px); .h(30px); }
.orbis_t3in{ .h(300px); .pr; .pb(10px);
	.orbis_wf{ .pa; top:0; left:0; 
		.btn_apply { .hidden;}
		.wf_ico1, .wf_ico2, .wf_ico3, .wf_ico4 { background: url("@{pic_url}/images/welfare/wf_btn1.png") no-repeat; .h(46px); .w(175px);}
		.wf_ico1 { .bp(0, 0); }
		.wf_ico2 { .bp(0, -52px); }
		.wf_ico3 { .bp(0, -104px); }
		.wf_ico4 { .bp(0, -155px); }
		.wf_msg { .l(20px); .w(144px); .right; .mt(10px); }
	}
	.orbis_sina{ .h(285px); .hidden; .pa; top:14px; left:720px; }
}
.orbis_t4in, .join_kl { .clearfix;
	.orbis_user, .kl_user{  .left; .w(928px); .h(170px); .hidden;
		.wl_she { .inline; .left; .h(74px); margin:8px 10px 0 8px; .w(48px);
			.wl_sheimg {.block; .h(48px); .w(48px); 
				img { .w(48px); .h(48px); }
			}
			.wl_shename { .block; .h(26px); .l(26px); .c; .ellipsis; .w(48px); }
		}
	}
	.orbis_join{ .left; padding:28px 30px; .mt(25px); background-color:#19a6bd; color:white; .f(25px); .fb; .cursor; }
}
.orbis_pro{ .clearfix;
	p{ .f(16px); .l(60px); .pl(30px);
		span{ color:#ff6699; }
	}
	a{ .w(500px); .h(282px); margin:0 0 20px 20px; .left; }
	.orbis_pro1{ background:url('@{pic_url}/images/huodong/orbis/pro5.jpg') no-repeat; }
	.orbis_pro2{ background:url('@{pic_url}/images/huodong/orbis/pro6.jpg') no-repeat; }
	.orbis_pro3{ background:url('@{pic_url}/images/huodong/orbis/pro7.jpg') no-repeat; }
	.orbis_pro4{ background:url('@{pic_url}/images/huodong/orbis/pro8.jpg') no-repeat; }
}


/*yuxi*/
.yuxi_top1{ .w(100%); .h(434px); background:url('@{pic_url}/images/huodong/yuxi/yuxi_top1.jpg') center top no-repeat;  }
.yuxi_top2{ .w(100%); .h(370px); background:url('@{pic_url}/images/huodong/yuxi/yuxi_top2.jpg') center top no-repeat;  }
.yuxi_bg{ .w(100%); .h(685px); background:url('@{pic_url}/images/huodong/yuxi/yuxi_bg1.jpg') center top no-repeat; .pt(20px); .pr;
	.yuxi_one{ .w(480px); .h(335px); background:url('@{pic_url}/images/huodong/yuxi/yuxi_1.png') no-repeat; .auto; .pr;
		span{ .pa; bottom:169px; left:184px; .w(105px); .h(30px); .cursor; }
	}
	.yuxi_two{ .w(465px); .h(383px); background:url('@{pic_url}/images/huodong/yuxi/yuxi_2.png') no-repeat; .auto; .pr; .none;
		input{ .pa; top:180px; left:132px; border:1px solid #ffdeea ; background-color:#fef2f6 ; .h(16px); .l(16px); .border-r(@radius: 4px); }
		select{ .pa; top:206px; left:175px; border:1px solid #ffdeea ; background-color:#fef2f6 ; .h(20px); .l(20px); .w(108px); .border-r(@radius: 4px); }
		span{ .pa; bottom:37px; left:178px; .w(110px); .h(40px); .cursor; }
	}
	.yuxi_three{ .w(466px); .h(383px); background:url('@{pic_url}/images/huodong/yuxi/yuxi_3.png') no-repeat; .auto; .pr; .none;
		a{ .pa; bottom:37px; left:178px; .w(110px); .h(40px); .cursor; }
	}
	.yuxi_guan{ .block; .pa; .w(275px); .h(44px); bottom:76px; .auto; }
}

/*gana*/
.gana_bg1{ .w(1300px); .h(330px); .auto; background:url('@{pic_url}/images/huodong/gana/gana_bg8.jpg') center top no-repeat; .pr;
	a{ .block; .w(80px); .h(34px); .pa; top:172px; right:329px; }
}
.gana_bg2{ .w(1300px); .h(479px); .auto; background:url('@{pic_url}/images/huodong/gana/gana_bg9.jpg') center top no-repeat;
	.gana_tit{ .w(952px); .h(64px); .auto; .mb(10px); background:url('@{pic_url}/images/huodong/gana/gana_tit.jpg') center top no-repeat;}
	ul{ .w(946px); .auto; .pr; .clearfix;
		li{ .left; .pr; .h(390px); .w(235px); .hidden;
			a{ .left; }
		}
		.gana_buy{ background:url('@{pic_url}/images/huodong/gana/focus4.jpg') center top no-repeat; .pr;
			.gana_shiy{ .block; .pa; .w(82px); .h(22px); right:118px; bottom:75px; }
			.gana_mai{ .block; .pa; .w(82px); .h(22px); right:28px; bottom:75px; }
		}
	}
}
.gana_bg3{ .w(1300px); .h(726px); .auto; background:url('@{pic_url}/images/huodong/gana/gana_bg40.jpg') center top no-repeat; .pr;
	.gana_lf{ .block; .w(158px); .h(34px); .pa; top:602px; left:386px; }
}
.gana_bg7{ .w(1300px); .h(1062px); .auto; background:url('@{pic_url}/images/huodong/gana/gana_bg41.jpg') center top no-repeat; }
.gana_bg9{ .w(1300px); .h(984px); .auto; background:url('@{pic_url}/images/huodong/gana/gana_bg42.jpg') center top no-repeat; }
.gana_bg8{ .w(1300px); .h(804px); .auto; background:url('@{pic_url}/images/huodong/gana/gana_bg43.jpg') center top no-repeat; .pr;
	a{ .block; .w(890px); .h(255px); .pa; bottom:70px; left:206px; }
}
.gana_bg4{ .w(1300px); .h(874px); .auto; background:url('@{pic_url}/images/huodong/gana/gana_bg39.jpg') center top no-repeat; .pr;
	a{ .block; .w(890px); .h(255px); .pa; bottom:55px; left:206px; }
}
.gana_bg5{ .w(100%); .h(1011px); .pt(55px); background:url('@{pic_url}/images/huodong/gana/gana_bg38.jpg') center top no-repeat;
	.gana_v{ .w(950px); .auto; .clearfix; }
	.gana_video{ .w(376px); .h(300px); .left; .ml(65px); .mb(10px); }
}
.gana_bg6{ .w(1300px); .h(576px); .auto; background:url('@{pic_url}/images/huodong/gana/gana_bg20.jpg') center top no-repeat; .pr;
	.gana_sina{ .pa; top:158px; right:212px; .w(412px); .h(290px); }
}
.focus_text{ background:rgba(0,0,0,0.75); filter:~"progid:DXImageTransform.Microsoft.gradient(startcolorstr=#75000000,endcolorstr=#75000000)"; color:#ffffff; padding:15px 20px; .w(357px); .h(70px); .pa; bottom:0;left:0; .none;
	p{ .l(20px); .gray;  }
}
.on .focus_text{ bottom:0; }
/*sloggi*/
.sloggi_top { .h(485px);background: url('@{pic_url}/images/huodong/sloggi/topbanner.jpg') center top no-repeat;}
.act_des {.h(95px);background:#245e92;
	.act_txt { .w(958px);.auto;.white;.f(14px);.l(30px);.pl(40px);.pr(20px);.pt(15px); }
	b { .f(16px); }
}
.s_content{ background:#d1e4f1;.pb(40px);
	p { .c; }
	label { .cursor; }
	}
.Q_con {.w(958px);.auto;.white;.l(20px);
	ul {.pl(20px);
		li { .mt(5px);.mb(5px); }
		input {.mr(10px);.left;}
		.l2 {.mb(20px);}
		.l3 { .mb(30px); }
		}
	}
.s_c_1 {.left;.w(476px);.h(422px);background:url('@{pic_url}/images/huodong/sloggi/s_c_01.jpg') no-repeat left top;.white;
	.q1 {.w(150px);.h(195px);.pl(240px);.pt(60px);}
	.q2 { .w(160px);.pb(20px);.pl(290px); }
	}
.s_c_2 {.left;.w(268px);.h(422px);background:url('@{pic_url}/images/huodong/sloggi/s_c_02.jpg') no-repeat left top;
	.q3 {.w(240px);.pt(60px);
		ul { .pl(0); }
		}	
	}
.s_c_3 {.left;.w(214px);.h(422px);background:url('@{pic_url}/images/huodong/sloggi/s_c_03.jpg') no-repeat left top;
	.q4 {.w(170px);.h(180px);.pl(20px);.pt(74px);
		p {.pl(30px);}
		}	
	.q5 { .w(150px); }
	}
.s_c_4{.w(958px);.h(205px);.auto;background:url('@{pic_url}/images/huodong/sloggi/s_c_04.jpg') no-repeat left top;
	.q6 {
		p {.left;.w(120px);.pl(50px);.pt(20px);}
		ul { .left;.w(720px);.pl(56px);.pt(20px);
			li { .left;.w(150px);.c;.mr(25px);
				input { float:none; }
				}
			}
		}
	}
.btn_view {	.w(158px);.h(48px);background:url('@{pic_url}/images/huodong/sloggi/btn_viewanswer.jpg') no-repeat left top;.block;.auto;.indent;.mt(25px);}
.result { .w(450px);.h(228px);.border-r(10px);border:1px solid #fedeed;box-shadow:0 0px 10px rgba(34,25,25,0.5);-webkit-box-shadow:rgba(34,25,25,0.5) 0px 0px 10px; }
.btn_share {.w(162px);.h(30px);background:url('@{pic_url}/images/huodong/sloggi/btn_share.jpg') no-repeat left top;.block;.indent;.right;.pr(35px);.mt(152px); }
.close {.w(17px);.h(18px);.right;background:url('@{pic_url}/images/huodong/sloggi/close.jpg') no-repeat left top;.mt(10px);.mr(10px); }
.num {  color:#245e92;.fb;.pt(15px);.tr;.pr(10px);
	span { .f(16px);color:#f68b1f; }
	}
/*理肤泉*/
.lfq_wapper{ .w(100%); background:white; }
.lfq_box{ .w(1250px); .auto; }
/*舒洁*/
.kleenex_box {background:#45c5f6; border-top:1px solid #e2dfdf;}
.kleenex_center {.w(1044px);.auto;background:#e8f4f5;
	.video {
		.w(520px);.h(428px);left:262px;bottom:11px;.pa; z-index:1;border:2px solid #FFF;.border-r(3px);}
}
.kleenex_banner {.w(1044px);.h(582px);background:url('@{pic_url}/images/huodong/kleenex/topvideo130926.jpg') no-repeat left top;.pr; }
.kleenex_nav, .k_nav0,.k_nav1,.k_nav2,.k_nav3,.k_nav4,.k_hnav0,.k_hnav1,.k_hnav2,.k_hnav3,.k_hnav4 {.w(1044px);.h(54px);background:url('@{pic_url}/images/huodong/kleenex/bg_nav_2.jpg') no-repeat;}
.kleenex_nav {bottom:0;.pf;z-index:500;
	li { .left;.h(54px);
		a {.block;.h(54px;)}
		.k_hnav0 {.w(209px);.bp(0,0);
			&:hover{ .bp(0,-54px); }	
		}
		.k_nav0 {.w(209px); .bp(0,-54px); }
		.k_hnav1 {.w(209px);.bp(209px,-54px);
			&:hover {.bp(-209px,-54px);}	
		}
		.k_nav1 {.w(209px);.bp(-209px;-54px);}
		.k_hnav2 {.w(208px);.bp(418px,-54px);
			&:hover {.bp(-418px,-54px); }
		}  
		.k_nav2 { .w(208px);.bp(-418px,-54px); }
		.k_hnav3 {.w(209px);.bp(626px,-54px);
			&:hover {.bp(-626px,-54px);}
		}
		.k_nav3 { .w(209px);.bp(-626px,-54px); }
		.k_hnav4 {.w(209px);.bp(835px,-54px);
			&:hover {.bp(-835px,-54px);}
		}
		.k_nav4 {.w(209px);.bp(-835px,-54px); }
	}
}
.kl_title1,.kl_title2,.kl_title3,.kl_title4,.kl_title5 {.w(924px);.h(62px);background:url('@{pic_url}/images/huodong/kleenex/kl_title.jpg') no-repeat;margin:0 auto 10px; }
.kl_title1 {.bp(0,0);}
.kl_title2 { .bp(0,-62px);}
.kl_title3 { .bp(0,-124px); }
.kl_title4 { .bp(0,-186px); }
.kl_title5 {.bp(0,-248px);}
.klwf_klweibo { .h(300px);.pr; }
.kl_wf {left:0;top:0;.pa; 
	.btn_apply { .hidden;}
	.wf_ico1, .wf_ico2, .wf_ico3, .wf_ico4 { background: url("@{pic_url}/images/welfare/wf_btn1.png") no-repeat; .h(46px); .w(175px);}
	.wf_ico1 { .bp(0, 0); }
	.wf_ico2 { .bp(0, -52px); }
	.wf_ico3 { .bp(0, -104px); }
	.wf_ico4 { .bp(0, -155px); }
	.wf_msg { .l(20px); .w(144px); .right; .mt(10px); }
}
.kl_weibo { .h(285px);left:720px;.hidden;.pa;top:14px; }
.kl_daren {.w(922px);.h(420px);.pb(10px);.pr;.auto;
	div {.pa;}
	a {.block;.cursor;}
	.kl_meng {background:rgba(255,255,255,0.8);filter:~"progid:DXImageTransform.Microsoft.gradient(startcolorstr=#80ffffff,endcolorstr=#80ffffff)";
	.pa; top:0; left:0;}
	.kl_nd1, .kl_nd2, .kl_nd3, .kl_nd4, .kl_nd5, .kl_nd6 { background:url("@{pic_url}/images/huodong/kleenex/kl_daren130909.jpg") no-repeat; }
	.kl_d1 {left:0;top:0;
		a {.w(230px);.h(205px);}
		.kl_nd1 {.bp(0,0);}
	}
	.kl_d2 { left:0;top:210px;
		a {.w(230px);.h(205px);}
		.kl_nd2 {.bp(0,-210px);}
	}
	.kl_d3 {left:236px;top:0;
		a {.w(215px);.h(415px);}
		.kl_nd3 {.bp(-237px,0);}
	}
	.kl_d4 {left:471px;top:0;
		a {.w(215px);.h(415px);}
		.kl_nd4 {.bp(-471px,0);}
	}
	.kl_d5{left:692px;top:0;
		a {.w(230px);.h(205px);}
		.kl_nd5 {.bp(-692px,0);}
	}
	.kl_d6 {left:692px;top:210px;
		a {.w(230px);.h(205px);}
		.kl_nd6 {.bp(-692px,-210px);}
	}
	.kl_darentext {.w(207px);background:#EEE;padding:4px;.l(18px);.pa;.none;}
	.dt1 {left:236px;bottom:225px;}
	.dt2 {left:236px;bottom:15px;}
	.dt3 {.w(222px);left:0;bottom:15px;}
	.dt4 {.w(222px);right:0;bottom:15px;}
	.dt5 {right:236px;bottom:225px;}
	.dt6 {right:236px;bottom:15px;}
}

.kl_newpro { .w(921px);.h(433px);.auto;.pr;.pb(15px);
	.prolink { .f(14px);.c;.mb(10px);
		a {color:#df4863;.tunder; }
	}
}
.kl_group1,.kl_group2,.kl_group3 {.left;.w(299px);.h(423px);.block;.mr(12px); background:url('@{pic_url}/images/huodong/kleenex/new_pro2.jpg') no-repeat;
	p { color:#4d9acf; .l(18px);padding:65px 25px 0;text-align:justify;text-justify:inter-ideograph}
}
.kl_group1 { .bp(0,0); }
.kl_group2 {.bp(-299px,0);}
.kl_group3 {.bp(-597px,0);.mr(0);}
.spec_pack {.w(1024px);.auto;
	p { color:#60c1f2;.f(16px);.c;.mb(10px);
		span { color:#ff5790; }
	}
	img {.block;.auto;.mt(20px); }
	.g_p_1,.g_p_2,.g_p_3 { .left;.w(335px);.h(220px);.block;background:url('@{pic_url}/images/huodong/kleenex/group_pro3.jpg') no-repeat;.mr(9px);.mt(10px); }
	.g_p_1 { .bp(0, 0); }
	.g_p_2 { .bp(-344px, 0); }
	.g_p_3 { .bp(-687px,0);.mr(0); }
	.g_1,.g_2,.g_3,.g_4 {.left;.w(502px);.h(282px);.block;background:url('@{pic_url}/images/huodong/kleenex/spec_pack130822.jpg') no-repeat;.mb(10px); }
	.g_1 { .bp(0,0);.mr(10px);}
	.g_2 {.bp (0,-282px); }
	.g_3 {.bp(0,-564px);.mr(10px);}
	.g_4 {.bp(0,-846px);}
}
.join_kl { .w(965px);.h(170px);.auto;.pb(10px);.pr;
	.kl_user { .w(870px); }
	.btn_join,.joined {.cursor;.left;.w(84px);.h(85px);background:#63c1f0;border-radius:8px;.f(25px);.fb;.white;.ml(10px);.mt(25px);.c;.pt(15px); }
}
.join_kl .joined { background:#CCC; }

/*上海电影节*/
.btzdnwn_top {.h(790px);background:url('@{pic_url}/images/huodong/btzdnwn/bg_top.jpg') no-repeat top center;
	.top_banner { .w(950px);.auto; }
	.top_title {.h(238px);background:url('@{pic_url}/images/huodong/btzdnwn/top_title.jpg') no-repeat; }
	.top_pho {.w(950px);.h(320px);.block;background:url('@{pic_url}/images/huodong/btzdnwn/top_pho.jpg') no-repeat; }
	.top_txt{.h(232px);background:url('@{pic_url}/images/huodong/btzdnwn/top_txt.jpg') no-repeat;}
}
.btzdnwn_content1 { background:url('@{pic_url}/images/huodong/btzdnwn/bg_c_y.jpg') repeat;
	.bg_change { background:url('@{pic_url}/images/huodong/btzdnwn/bg_c_change.jpg') no-repeat top center;.pt(5px); }
	.content1 {.w(950px);.auto; }
}
.btzdnwn_content2 { background:url('@{pic_url}/images/huodong/btzdnwn/bg_c_y2.jpg') no-repeat top center;
	.content2 { .w(950px);.auto; }
	.g_5_title { .h(300px);background:url('@{pic_url}/images/huodong/btzdnwn/g_5_title.jpg') no-repeat;}
	.g_5_btm {.h(265px);background:url('@{pic_url}/images/huodong/btzdnwn/g_5_btm.jpg') no-repeat; }
}
/*闺蜜月*/
.gmy_box {background:url('@{pic_url}/images/huodong/guimiyue/bg0.jpg') no-repeat top center; }
.gmy_center { .w(950px);.auto;}
.gmy_banner {background:url('@{pic_url}/images/huodong/guimiyue/top_banner.jpg') no-repeat 0 0;.w(950px);.h(423px); }
.gmy_fst {.h(516px);background:url('@{pic_url}/images/huodong/guimiyue/c_fst.jpg') no-repeat 0 0;.pr;
	.link1 { .pa;.w(307px);.h(292px);.block;top:223px;left:208px;}
}
.gmy_sec .lin2 { .pa;.w(318px);.h(263px);.block;top:42px;left:36px; }
.gmy_trd .link3 { .pa;.w(260px);.h(348px);.block;bottom:176px;right:4px; }
.gmy_fth .link4 {.pa;.w(288px);.h(171px);.block;bottom:6px;right:62px;}
.gmy_fst, .gmy_sec, .gmy_trd, .gmy_fth {
	.go_btn, .coming_btn, .cmp_btn { .w(130px);background:url('@{pic_url}/images/huodong/guimiyue/gmy_btn.jpg') no-repeat 0 0; }
	}
.gmy_fst .go_btn, .gmy_fst .cmp_btn {.pa;bottom:22px;right:25px;.h(40px);}
.gmy_fst .go_btn {.bp(0,0);}
.gmy_fst .cmp_btn {.bp(0,-50px); } 
.gmy_trd .coming_btn, .gmy_trd .go_btn, .gmy_trd .cmp_btn {.pa;bottom:15px;right:15px;.h(40px); }
.gmy_trd .coming_btn {.bp(0,-250px);}
.gmy_trd .go_btn {.bp(0,-300px); }
.gmy_trd .cmp_btn {.bp(0,-350px);}
.gmy_sec .coming_btn, .gmy_sec .go_btn, .gmy_sec .cmp_btn {.pa;left:162px;bottom:22px;.h(40px); }
.gmy_sec .coming_btn { .bp(0,-100px); }
.gmy_sec .go_btn { .bp(0,-150px);}
.gmy_sec .cmp_btn {.bp(0,-200px);} 
.gmy_fth .coming_btn, .gmy_fth .go_btn, .gmy_fth .cmp_btn { .pa;.h(40px);bottom:20px;left:46px; }
.gmy_fth .coming_btn {.bp(0,-400px);.h(80px);bottom:10px;}
.gmy_fth .go_btn {.bp(0,-500px);}
.gmy_fth .cmp_btn {.bp(0,-550px);}
.gmy_trd {.left;.w(419px);.h(804px);background:url('@{pic_url}/images/huodong/guimiyue/c_sec_0.jpg') no-repeat 0 0;.pr; }
.gmy_sec {.left;.w(531px);.h(395px);background:url('@{pic_url}/images/huodong/guimiyue/c_trd.jpg') no-repeat 0 0;.pr;
	.pro_1 { .w(120px);.h(150px);.block;.pa;top:0;right:68px; }
	.pro_2 {.w(120px);.h(144px);.block;.pa;top:125px;right:0px;}
	.pro_3 {.w(105px);.h(130px);.block;.pa;bottom:0;right:94px; }
}
.gmy_fth { .left;.w(531px);.h(409px);background:url('@{pic_url}/images/huodong/guimiyue/c_fth.jpg') no-repeat 0 0; .pr;}
.gmy_btm {.h(200px);background:url('@{pic_url}/images/huodong/guimiyue/c_btm.jpg') no-repeat 0 0; }

/*wap闺蜜投票活动落地页*/
.vote_top_box{ background:#e3f5ff; border:2px solid #fff;
	.vote_top_bg{ .w(1280px); .h(371px); .auto; background:url('@{pic_url}/images/huodong/sale_vote/top2.jpg') no-repeat 0 0; }
}
.vote_line{ .w(100%); .h(60px); background:#f1e9ec; }
.vote_wave{ .w(100%); .h(13px); .mt(-4px); background:url('@{pic_url}/images/huodong/sale_vote/wave.png') repeat-x 0 2px; .pr; z-index:2; }
.vote_box{ .w(100%); .hidden; background:#fed1dc; .mt(-10px);
	.vote1{ .w(1280px); .h(506px); .auto;	background:url('@{pic_url}/images/huodong/sale_vote/vote5.jpg') no-repeat 0 0; }
	.vote2{ .w(1280px); .h(360px); .auto;	background:url('@{pic_url}/images/huodong/sale_vote/vote6.jpg') no-repeat 0 0; }
	.vote3{ .w(1280px); .h(564px); .auto;	background:url('@{pic_url}/images/huodong/sale_vote/vote7.jpg') no-repeat 0 0; }
}
/*爱美赏*/
.ams_banner {.w(100%);.h(516px);background:url('@{pic_url}/images/huodong/aimeishang/top_banner.jpg') no-repeat top center; }
.ams_bg {background:#FFF url('@{pic_url}/images/huodong/aimeishang/bg.jpg') repeat-x left top;}
.ams_container {.w(950px);.auto; }
