@import "../block.less";

.content { .bgwhite; }
.item { 
	.w(950px); 
	.auto;
	background-repeat: no-repeat;
	background-position: center top;
}
.top { .w(100%); }
.bottom {
	.pr;
	a { .pa;  .w(98px); .h(23px); }
	.link1 { top: 172px; left: 218px; }
	.link2 { top: 172px; left: 438px; }  
	.link3 { top: 172px; left: 657px; }
	.link4 { top: 269px; left: 328px; }
	.link5 { top: 269px; left: 548px; }
}