@import "../block.less";
.dis1{.w(100%);.h(575px);background:url('@{pic_url}/images/huodong/shopJoin/des5_01.jpg') no-repeat top center;}
.dis2{.w(100%);.h(525px);background:url('@{pic_url}/images/huodong/shopJoin/des5_02.jpg') no-repeat top center;}
.dis3{.w(100%);.h(380px);background:url('@{pic_url}/images/huodong/shopJoin/des5_03.jpg') no-repeat top center;
	.apply_btn{.w(820px);.h(100%);.cursor;.auto}
}
.dis4{.w(100%);.h(480px);background:url('@{pic_url}/images/huodong/shopJoin/des5_04.jpg') no-repeat top center;}
.dis5{.w(100%);.h(265px);background:url('@{pic_url}/images/huodong/shopJoin/des5_05.jpg') no-repeat top center;}
.dis6{.w(100%);.h(555px);background:url('@{pic_url}/images/huodong/shopJoin/des5_06.jpg') no-repeat top center;}
.dis7{.w(100%);.h(168px);background:url('@{pic_url}/images/huodong/shopJoin/des5_07.jpg') no-repeat top center;}
.dis8{.w(100%);.h(600px);background:url('@{pic_url}/images/huodong/shopJoin/des5_08.jpg') no-repeat top center;}
.dis8{.w(100%);.h(600px);background:url('@{pic_url}/images/huodong/shopJoin/des5_08.jpg') no-repeat top center;
	.apply_btn{.w(820px);.h(100%);.cursor;.auto}
}
.dis9{.w(100%);.h(485px);background:url('@{pic_url}/images/huodong/shopJoin/des5_09.jpg') no-repeat top center;}
.dis10{.w(100%);.h(367px);background:url('@{pic_url}/images/huodong/shopJoin/des5_10.jpg') no-repeat top center;
	.main{.pr;.w(840px);.h(100%);.auto;
		.qq1{.pa;left:90px;top:226px;.w(150px);.h(40px);.cursor;}
		.qq2{.pa;left:353px;top:226px;.w(150px);.h(40px);.cursor;}
		.qq3{.pa;left:595px;top:226px;.w(150px);.h(40px);.cursor;}
	}
}


.overblack{.bgc(#000);}
.layer_main{.pr;.h(600px);background:url('@{pic_url}/images/huodong/shopJoin/d_winbg.jpg') no-repeat top center;
	.close_apply{.pa;right:40px;top:40px;.w(40px);.h(30px);.cursor}
	.layer_form{.pa;top:190px;left:3%;.w(94%);.h(400px);
		.form_li{.pr;.mt(10px);.pb(3px);.w(100%);.h(28px);.hidden;.f(16px);
			.add_text{.i_block;.ml(34%);.w(150px);.f(16px);.h(22px);.pt(3px);border:1px solid #d5d5d5;color:#acacac;.bgc(#fff);.pl(5px);}
			.tip{.i_block;.ml(2%);.w(200px);color:#ed3349;.hidden;.f(14px)}
			.add_shop{.add_text;.w(250px);}
			.tip_shop{.i_block;.ml(1%);.w(100px);color:#ed3349;.hidden;.f(14px)}
		}
		.submit_btn{.pa;top:230px;left:34%;.cursor;background:url('@{pic_url}/images/huodong/shopJoin/d_btn.png') no-repeat;.w(156px);.h(52px);}
		.tip_text{.pa;left:65px;top:329px;.f(14px);color:#acacac;}
	}
}
