@import "../block.less";
.lottery_con{.pr;.pb(100px);
	.pic1{
		background:url('@{pic_url}/images/huodong/exo/choujiang_banner.png') center top no-repeat; 
		.w(100%);.h(650px);.auto;
	}
	.pic2,.pic3,.pic4,.pic5{
		.auto;.w(883px);
	}
	.pic2{
		.h(55px);background:url('@{pic_url}/images/huodong/exo/choujiang_title.png') center top no-repeat;
	}
	.pic3{
		.h(405px);background:url('@{pic_url}/images/huodong/exo/choujiang_round.png') center top no-repeat;
	}
	.pic4{
		.h(600px);background:url('@{pic_url}/images/huodong/exo/choujiang_bg1.png') center top no-repeat;
	}
	a{
		.block;.pa;left:50%;
		.w(280px);.h(280px);.ml(-177px);top:793px;
	}
	.view_detail{
		.w(202px);.h(47px);.ml(-101px);top:1740px;
		background:url('@{pic_url}/images/huodong/exo/choujiang_btn.png') center top no-repeat;
	}
}
