@import "../block.less";

.top1{ .w(100%); background:url("@{pic_url}/images/huodong/glmfl2/top1.jpg") no-repeat top center; .h(615px);}
.top2{ .w(100%); background:url("@{pic_url}/images/huodong/glmfl2/top2.jpg") no-repeat top center; .h(670px);}
.item1{ .w(100%); background:url("@{pic_url}/images/huodong/glmfl2/pic1.jpg") no-repeat top center; .h(1427px);
	.inner{ .w(960px); .h(1427px); .auto; .pr;
		.link1{ .pa; .w(850px); .h(530px); top:232px; left:50px; }
		.link2{ .pa; .w(850px); .h(530px); bottom:64px; left:107px; }
	}
}
.item2{ .w(100%); background:url("@{pic_url}/images/huodong/glmfl2/pic2.jpg") no-repeat top center; .h(1723px);
	.inner{ .w(960px); .h(1723px); .auto; .pr; 
		.link1{ .pa; .w(822px); .h(570px); top:310px; left:75px; }
		.link2{ .pa; .w(822px); .h(636px); bottom:149px; left:104px; }
	}
}
.item3{ .w(100%); background:url("@{pic_url}/images/huodong/glmfl2/pic3.jpg") no-repeat top center; .h(868px);
	.inner{ .w(960px); .h(868px); .auto; .pr;
		a{ .pa; .w(850px); .h(501px); top:272px; left:9px; }
	}
}
.item4{ .w(100%); background:url("@{pic_url}/images/huodong/glmfl2/pic4.jpg") no-repeat top center; .h(1044px);
	.inner{ .w(960px); .h(1044px); .auto; .pr; 
		a{ .pa; .w(760px); .h(523px); top:353px; left:131px; }
	}
}
.item5{ .w(100%); background:url("@{pic_url}/images/huodong/glmfl2/pic5.jpg") no-repeat top center; .h(1577px);
	.inner{ .w(960px); .h(1577px); .auto; .pr;
		a{ .pa; .w(850px); .h(1200px); top:333px; left:66px; }
	}
}
.item6{ .w(100%); background:url("@{pic_url}/images/huodong/glmfl2/pic6.jpg") no-repeat top center; .h(1317px);
	.inner{ .w(960px); .h(1317px); .auto; .pr; 
		a{ .pa; .w(850px); .h(686px); top:442px; left:33px; }
	}
}
