@import "../block.less";
@import "../window.less";

.fluid;
.page;
.pageNav{ .page > .pageRed; }
//海报
.poster_wall{ .pa;left:-2000px;top:0;}
.poster_grid{ .common_box;}


//投票海报
.vote_box{ .w(228px); .mt(14px);background: #fff;border:1px solid #ddd;
	.pic_load{ .w(100%); .block; background:url("@{pic_url}/images/group/g_loading1.gif") no-repeat; }
	.info{ .w(100%); .h(160px); }
	.userInfo{ .w(205px); .h(100px); .f(14px); .pr; top:5px; left:10px;
		.face{ .i_block; border:1px solid #fff;img{.w(34px);.h(34px)} }
		.name{ .pl(6px);.i_block;.h(16px);overflow:hidden;.pl(6px);.w(140px);text-overflow: ellipsis;white-space: nowrap;
		}
		.txt_info{ .mt(2px);border-bottom: 1px dashed #e6e6e6;.pt(3px);.pb(3px);
			li{ .l(22px); }
		}

		.person{
			.pb(5px);border-bottom: 1px dashed #e6e6e6;
		}
	}
	.btnBox{ .w(148px); .h(49px); .l(48px); .mt(6px);background:url("@{pic_url}/images/activity/lenovo/bg-icon.png") 0 -440px no-repeat; color:#fff; .f(18px); .c; .cursor;.mr(27px);.pl(12px) }
	.voted{ background-position: 0 -493px;color: #000;}
	.act_vote{background-position: 0 -440px;color: #fff6cc;}
}

.share_pop{ .w(785px); .h(523px); background:url("@{pic_url}/images/activity/lenovo/ltptc.png") no-repeat; .pr; .f(18px);
color:#693e00;
	img{ .pa; top:33px; left:66px; }
	p{ .pa; top:165px; left:320px; .l(24px);color: #fff }
	h3{ .pa; top:285px; left:320px; color: #fff;.f(18px)}
	ul{ .pa; top:320px; left:320px; .clearfix;
		li{ .left; .w(32px); .h(32px); background:url("@{pic_url}/images/huodong/obolai3/share_btn.png") no-repeat; .mr(10px); .cursor; }
		.sina{ background-position:0 0; }
		.sina_s{ background-position:0 -32px; }
		.qzone{ background-position:-32px 0; }
		.qzone_s{ background-position:-32px -32px; }
		.tx{ background-position:-64px 0; }
		.tx_s{ background-position:-64px -32px; }
	}
	.share_btn{ .pa; .w(215px); .h(50px); top:377px; left:321px; .cursor; }
}

.close_btn{ .block; .pa; right:31px; top:33px; .w(47px); .h(47px); .cursor; }
.flayer{.w(148px);.h(367px);.pt(65px);position: fixed;top:250px;left: -5px;background:url('@{pic_url}/images/activity/lenovo/top1.png') no-repeat top center;z-index: 400;
	a{.i_block;.mt(5px);.h(51px);.w(100%)}
}
.main{.w(100%);}
.lev-{
	&bg1{.w(100%);.auto;.pr;}
	&bg1{
		.b1{background:url("@{pic_url}/images/activity/lenovo/bg12.jpg") no-repeat center center;.h(672px); }
		.b2{background:url("@{pic_url}/images/activity/lenovo/bg22.jpg") no-repeat center center;.h(352px);}
		.b3{background:url("@{pic_url}/images/activity/lenovo/bg3.jpg") no-repeat center center; .h(926px);
		.main-cont{.w(900px);.auto;.pr;.h(100%);
			#share_sina{.w(87px);.h(87px);.block;
				.pa;left:278px;bottom: 0;

			}
			#share_qzone{.w(87px);.h(87px);.block;
				.pa;left:404px;bottom: 0;

			}
			#share_qqwb{.w(87px);.h(87px);.block;
				.pa;left:530px;bottom: 0;

			}
			.cloud-bg{.w(200px);.h(132px);.pa;right:-159px;bottom:350px;background: url("@{pic_url}/images/activity/lenovo/come.png") no-repeat center center;}
			.upload-box{.pa;left:649px;top:154px;.w(250px);.h(345px);.cursor;
				.next{ .pa; .w(129px); .h(40px); background:url("@{pic_url}/images/activity/lenovo/bg-icon.png") 0 -38px no-repeat;bottom:-200px; right:5px; border:0; .cursor; }
			}
			.obolaiUpWapper{ .w(244px); .h(545px);  .cursor; background:url('@{pic_url}/images/activity/lenovo/beforeup.jpg') left top no-repeat;position: static;
				input{ .cursor; .f(295px); .pa; .f(15px);*font-size:60px;left:0; top:84; .h(344px); }
				.obolai_reup{ .pa; .w(89px); .h(38px); .hidden; left:0; bottom:0; z-index:3; background:url("@{pic_url}/images/activity/lenovo/bg-icon.png") 0 0no-repeat;
					input{ .h(36px); .f(3px); }
				 }
			}
			input{margin: 5px 0 0 0;}
			.q1-1,.q1-2,.q1-3{.pa;.h(30px);.cursor;.w(309px);left: 5px;}
			.q1-1{top: 281px;}
			.q1-2{top: 324px;}
			.q1-3{top: 368px;}

		}


		}
	}
	&bg2{background:url("@{pic_url}/images/activity/lenovo/bg4.png") no-repeat center center; .h(615px);
		.b4{.pr;.w(1240px);.auto;.h(100%);
		.daren-table{
			.w(854px);.h(290px);.auto;.hidden;.pr;top:178px;
			a{.block;.left;.hidden;}
		}
		.btn-left{display:none;.pa;.w(45px);.h(84px);top:275px;left:129px;background:url("@{pic_url}/images/activity/lenovo/bg-icon.png") no-repeat 0 -351px;}
		.btn-right{display:none;.pa;.w(44px);.h(83px);top:275px;right:129px;background:url("@{pic_url}/images/activity/lenovo/bg-icon.png") no-repeat -50px -352px;}		
		}
		.b1{background:url("@{pic_url}/images/activity/lenovo/bg_qu_04.jpg") no-repeat center center; }
		.b2{background:url("@{pic_url}/images/activity/lenovo/bg_qu_02.jpg") no-repeat center center; }
		.b3{background:url("@{pic_url}/images/activity/lenovo/bg_qu_05.jpg") no-repeat center center; }
	}
	&bg3{background: #ff6299;.pb(20px);
		.b1,.b2{.h(229px);}
		.b1{background:url("@{pic_url}/images/activity/lenovo/bg_wel_01.jpg") no-repeat center center; }
		.b2{background:url("@{pic_url}/images/activity/lenovo/bg_wel_02.jpg") no-repeat center center; }
		.free_box{.auto;.mt(-282px);}
		.hb_box{.w(960px);.h(1200px);.auto;overflow-y: scroll;overflow-x: hidden;background: #fff;}
		.poster-top{.w(987px);.h(118px);.auto;.pr;
		}
	}

	&bg4{background:url("@{pic_url}/images/activity/lenovo/bg5.png") no-repeat center center; .h(719px);
		.main-cont{.auto;.w(1160px);.pr;}
		.darenshow_wrap{.pa;right: 150px;top: 195px;.hidden;background: #64a0f8;
			ul{margin: 20px;}
			li{.mb(20px);}
			a{.cursor;}
		}
		.b1,.b2{.h(225px);}
		.b1{background:url("@{pic_url}/images/activity/lenovo/bg_dr_01.jpg") no-repeat center center; }
		.b2{background:url("@{pic_url}/images/activity/lenovo/bg_dr_02.jpg") no-repeat center center; }
		.b3{.h(280px);
		}
	}
	&bg5{.w(100%);
		#tab{.pt(30px);}
		.len_tab{ .w(950px); .h(50px); .auto; .clearfix; .hidden;
			li{ .w(472px); .h(50px);  background:url('@{pic_url}/images/activity/lenovo/hb_btn.png') no-repeat 0 -50px; .mr(6px); .left; .c; color:white; .l(50px); .f(26px); .cursor; .f(26px);.white;.c;.l(50px); letter-spacing: 26px;}
			.tab_red{ background:url('@{pic_url}/images/activity/lenovo/hb_btn.png') no-repeat; }
		}
		.hb-table{ .w(960px); .auto; .h(1200px); overflow-y:scroll; overflow-x:hidden; .pr; }
	}
	&bg6{.h(713px);
		background:url("@{pic_url}/images/activity/lenovo/bg6.jpg") no-repeat center center;
		a{.block;.w(100%);.h(100%)}
	}
	&bg7{.h(518px);
		background:url("@{pic_url}/images/activity/lenovo/bg73.jpg") no-repeat center center;
		a{.block;.w(978px);.auto;.h(100%);}
	}
	&bg8{.h(521px);
		background:url("@{pic_url}/images/activity/lenovo/bg83.jpg") no-repeat center center;
		a{.block;.w(978px);.auto;.h(100%);}
	}
}





//lenovo_share
.wrapper_bg{ .w(100%); .h(693px); background:url('@{pic_url}/images/activity/lenovo/ltpwrap.png') no-repeat top center;
	.inner{ .w(960px); .h(100%); .auto; .pr;
		img{ .pa; left:180px; top:75px;.w(228px);.h(450px); }
		p{ .pa; left:436px; top:240px; .l(24px); .f(14px); color:#fff; }
		span{ .pa; top:357px; left:431px; }
		a{ .pa; .w(206px); .h(49px); top:356px; left:587px; }
		.btnBox{ .w(148px); .h(49px); .l(46px); background:url('@{pic_url}/images/activity/lenovo/bg-icon.png') no-repeat left top; color:#fff; .f(24px); .c; .cursor; .pl(13px)}
		.voted{ background:url('@{pic_url}/images/activity/lenovo/voted.png') no-repeat left top; color: #000;}
	}
}
.yellow_f{color: #fff200}
.heng1{.w(858px);.h(37px);margin:-1px auto 0;background:url('@{pic_url}/images/activity/lenovo/heng.png') no-repeat left bottom;}
.otip{.pa;bottom: 0px;left:0;height:40px;width: 100%;}
.ootip{.pa;top:665px;left:0;height:40px;width: 100%;}
.oootip{.pa;top:984px;left:0;height:40px;width: 100%;}
.shu1{.w(25px);.h(482px);.pa;left:-9px;top: 150px;background:url('@{pic_url}/images/activity/lenovo/shu.png') no-repeat left bottom;}
.shu2{.w(35px);.h(699px);.pa;right:-22px;top:619px;background:url('@{pic_url}/images/activity/lenovo/shu2.png') no-repeat left bottom;}
.mg-table{.pa; top:180px; left: 130px;
	.groupBox{.left;.mr(30px);}
}
.photos-table{
	.w(10000%);.hidden;.pr;
	img{.left;.mr(11px);}
}
.poster;
.poster_icons;
.face_pop{ .window > .head_float; }

/* 样式覆盖 */
#goTop{.none !important;}
#maskLayer, .maskLayer {
filter: alpha(opacity=50);
opacity: .5;
}
