@import "../block.less";
.poster;
.poster_icons();
.page;
.pageNav{.page > .pageRed; }
.paging_panel{.pt(10px);.pb(30px);}

body{
	background:#ffe6ed;
}
.shareTo{
	.h(42px);
	.l(42px);
	font-size:14px;
	text-align:center;
	color:#6e6e6e;
}
.banner{ .w(100%); .pr; background:url("@{pic_url}/images/huodong/May_sale/top_bg.jpg") top center no-repeat; .h(830px);
	.go_520{top: 343px; .ml(144px); .block; .w(230px); .h(130px); .pa; left:50%;}
	.share{ top: 496px; .ml(-133px); .block; .w(290px); .h(80px); .pa; left:50%; }
}
.wall{
	.container{
		.w(1050px); 
		.auto; background-color:white; .hidden; padding:20px 0; 
		padding-bottom:132px;
	}
	.shop_auto{ .w(980px);.auto; }
	.unit{ .mt(14px); .w(226px); border:1px solid #e6e6e6; .pr; .ml(20px); .left;.bgwhite;
		img{ .cursor; }
		div.desc{.pb(12px); .pt(10px); .w(206px); .auto;.hidden; border-top:1px dotted #e6e6e6;
			a,p{ .block; .left; }
			a{ .mr(8px); }
			p{ .w(156px); 
				span{ .block; }
				.desc{ color:silver; }
			}
		}
		.heart{
			.cursor;
			.c;
			.w(104px);.h(66px);
			.pt(20px);
			color:white;
			font-size:24px;
			.pa; right:4px;
			background:url("@{pic_url}/images/huodong/May_sale/like.png") top center no-repeat;
		}
		.liked{
			background:url("@{pic_url}/images/huodong/May_sale/liked.png") top center no-repeat;
		}
	}
}
.wall_bottom{
	background:url("@{pic_url}/images/huodong/May_sale/wall_bottom2.png") center no-repeat;
	.mt(-112px);
	.h(218px);
}
.footer{
	margin-top:0;
}
.shareTo{
	span{ .cursor; }
}
