@import "../block.less";
@import "../atom.less";
@import "520coupon.less";
.clock{ .pa; .w(100%); text-align:center; color:#ff385e; font-size:18px; top:470px; font-weight:bolder; .l(41px);
	b{
		background:url(http://d02.res.meilishuo.net/img/_o/85/d1/624761452a1dbb94221a4e6f86a4_28_41.c8.png);
		letter-spacing:18px;text-indent:10px;
		*text-indent:0;
		.i_block; .w(56px); .h(41px); color:white; margin:0 5px; 
		text-align:center;
	}
}
.t_main{.w(100%);.pr;.bgc(#fff3e7);
	a{.i_block;.indent;}
	.mp_top{.h(550px);background: url("http://d06.res.meilishuo.net/img/_o/01/69/d502ff66d9c4bec9abbdc3ccf813_2000_550.c8.jpg") no-repeat top center;}
	.mp_time{.h(114px);background:#ff385e url("@{pic_url}/images/biz/phonepriv/mp_time.jpg") no-repeat top center;}
	.t_center{.w(950px);.auto;.hidden;
		.mp_usebtn{.pr;.h(100px);background:url("@{pic_url}/images/biz/phonepriv/mp_usebtn.jpg") no-repeat top center;
			a{.w(200px);.h(52px);.pa;top: 28px;right: 23px;}
		}
		.mp_special{.h(250px);.mt(20px);background:#fff url("@{pic_url}/images/biz/phonepriv/mp_special.jpg") no-repeat top center;
			a{.w(314px);.h(200px);}
		}
	}
	.mp_firlook{.h(120px);background:url("@{pic_url}/images/biz/phonepriv/mp_firlook.jpg") no-repeat top center;}
	.rignav{.none;.pr;.w(198px);.h(564px);.pf; right: 0px; bottom: 50px;
		background:url("http://d03.res.meilishuo.net/img/_o/0b/f3/c1c52aac2f8351e889d8d7a18d74_166_546.c8.png") no-repeat top center;
		.space{.h(153px);}
		.btn_box{.w(130px);.auto;.pr;left: 14px;
			a{
				float:left;
			}
			.btn_b{/*.bgc(#ccc);.opacity(50);*/.block;.w(111px);.h(39px);.mt(1px)}
			.btn_s{/*.bgc(#ccc);.opacity(50);*/.block;.w(54px);.h(20px);.mt(1px)}
			.mb{.mb(2px);.block;}
			.mt{.mt(6px);.block;}
		}
		
	}

}
.list{
	.w(950px);
	.auto;
	.title{ .h(60px); .pr;
		a{ .pa; right:40px; top:18px; .w(100px); .h(26px); }
	}
	.s_list{ padding:20px 0; overflow:hidden; .bgc(white);
		.unit{ .mb(20px); .w(216px); .h(416px); .bgc(#fbfafa); border:1px solid #e6e6e6; .left; .ml(17px); .pr;
			a{ text-indent:0; }
			a img{ border-bottom:1px solid #e6e6e6; }
			.s_title{ .pt(7px); text-align:center; font-size:14px;
				div{ background:url(http://d06.res.meilishuo.net/img/_o/90/97/abaf9036d77571cbdd7fc35f23bd_1_18.c8.png); .i_block; .auto; padding:0px 30px;
					span{ .i_block; .bgc(#fbfafa); padding:0 10px; }
				}
			}
			.c,._l{ .i_block; padding:10px 0;
				.red_f{ font-size:16px; }
			}
			.c{ .w(90px); .pl(20px); }
			.link{
				a{ .block; .auto; .w(83px); .h(23px); background:url(http://d06.res.meilishuo.net/img/_o/e9/83/264b69046b0c64b3aba26b720da7_83_23.c8.png); }
			}
			.cover{ display:none; .pa; top:0; left:0; 
				a{ .w(216px); .h(320px); background:url(http://d05.res.meilishuo.net/img/_o/d7/77/9aba9ec8e2500df4e7cd7d0570c2_217_321.c8.png); }
			}
		}
	}
}
.links{
	background:url(http://d06.res.meilishuo.net/img/_o/cc/e6/83308db8a8b0dd3aef6ed6c40ffc_2000_161.c8.png) top center no-repeat;
	.h(151px);
	.pt(10px);
	.content{
		.w(950px);
		.auto;
		a{
			.i_block;
			.w(132px);
			.h(132px);
			.ml(4px);
		}
		a.first{
			.ml(0);
		}
	}
}
