@import "../block.less";

body{.bgc(#fc5d89);}
.head_bg{background-position: center center;background-repeat: no-repeat;}
.content{
	.w(970px);.auto;.bgc(#fff);.hidden;.c;.mt(-120px);
}
.red_follow, .pink_follow, .mz_icon{background: url('@{pic_url}/images/biz/beautyBox/mz_box_show.png') no-repeat;}
.top_rank{.pl(7px);}
.t_rank{
	.tl;
	.border-1(#D9D9D9);.w(434px);.h(321px);padding: 14px;margin: 7px;.left;.hidden;
	.img_wrap{
		.w(210px);.left;.border-1();.hidden;.pr;
		img{.w(210px);.h(320px);}
		span{.block;.bp(-8px, -218px);.w(80px);.h(80px);.pa;top: 0;left: 0;}
	}
	.tr_con{
		.w(208px);.right;.f(14px);.fc(#666);
		.title{.fc(#fc5d89);}
		.name{.f(30px);.h(30px);.fc(#333);padding: 10px 0 20px 0;.fb;font-family: '微软雅黑';}
		.text_t{.fc(#333);.pb(8px);.fb;}
		.text{.l(20px);.h(136px);.hidden;}
		.like{.bp(-6px, -61px);.pl(20px);margin: 29px 0 10px 0;}
		.like span{.fc(@red);}
		.like i{.pl(20px);font-style: normal;}
		.like_follow{
			.mt(10px);
			a{.bp(-8px, -132px);.left;.h(30px);.l(30px);.w(86px);.c;.fc(#fff);.mr(11px);}
			b{.bp(-8px, 1px);padding: 0 6px;}
		}
	}
}
.rank{.hidden;.pb(20px);.pl(7px);.w(100%);.tl;}
.poster;
.poster_icons;
.poster_grid{margin: 0 4px;}
.page;
.pageNav{.page > .pageRed; }