@import "../block.less";
@import "../window.less";

.page;
.pageNav{.page > .pageRed; }

.reply_list{ .mt(14px); .common_shadowBox; .p13; }
.editorbg { .window > .publishor }
.window > .replyBox;
.approve;
.discus_box{ .w(708px); }

body {.bgwhite;}
.container {.w(950px);.auto;.pb(20px);}
.banner_fit {.h(350px);background:url("@{pic_url}/images/huodong/nike/banner_fit.jpg") no-repeat;}
.nav {.mt(15px);
	img {.left;}
	}
.nav1{ .clearfix; background:url("@{pic_url}/images/huodong/nike/n2/wlf_nav_02.jpg") no-repeat; .mt(15px);
	a{ .left; .w(316px); .h(48px); }
}
.sub_msg{ .w(950px); .h(468px); background:url("@{pic_url}/images/huodong/nike/msg1.jpg") no-repeat; .pr;
	input{ .pa; .f(16px); .w(206px); .pl(4px); .h(36px); .l(36px); border:0; background:none; }
	.iheight{ top:94px; left:141px; }
	.inum{ top:94px; right:244px; }
	.iweight{ left:141px; top:150px }
	.iaddress{ right:244px; top:150px; }
	.isize{ left:141px; top:208px; }
	.iname{ right:244px; top:208px; }
	p{ .w(164px); .h(50px); .cursor; .pa; left:395px; top:279px; }
}
.title_look {.h(235px);.mt(20px);background:url("@{pic_url}/images/huodong/nike/title_look.jpg") no-repeat top center;}
.wear_box {background:url("@{pic_url}/images/huodong/nike/bg_c.jpg") no-repeat;.pl(20px);.pt(30px);.mt(30px);
	img {.block;}
	.l_pic {.left;.mr(20px);}
	}
.group_box {.pl(10px);.mt(10px);
	.pic {margin:0 10px;}
	}
.tips {
	&_c1,&_c2,&_c3,&_c4,&_c5{.h(169px);.mt(10px);}
	&_c1 {background:url("@{pic_url}/images/huodong/nike/c1_tips.jpg") no-repeat;}
	&_c2 {background:url("@{pic_url}/images/huodong/nike/c2_tips.jpg") no-repeat;}
	&_c3 {background:url("@{pic_url}/images/huodong/nike/c3_tips.jpg") no-repeat;}
	&_c4 {background:url("@{pic_url}/images/huodong/nike/c4_tips.jpg") no-repeat;}
	&_c5 {background:url("@{pic_url}/images/huodong/nike/c5_tips.jpg") no-repeat;}
}
