@import "../block.less";
@import "../window.less";

.poster;
.poster_icons;
.face_pop{ .window > .head_float; }
.fluid;
.page;
.pageNav{ .page > .pageRed; }

.panaBg{ background:#e4007f; .w(100%); }
.l_side{ .w(177px); .h(270px); background:url('@{pic_url}/images/huodong/panasonic/l_side1a.png') no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/panasonic/l_side.png', sizingMethod='scale'); _background-image:none; .pf; left:0; top:150px; z-index:10;
	ul{  .w(102px); .auto;
		li{ .c; .f(18px); color:#fff; .l(24px); .w(102px); .h(48px); padding:10px 0; font-family:'黑体';
			span{ .f(12px); }
			a{color:#fc54b2;
				&.notstart{color:#fff;}
				&:hover{ color:#fc54b2; }
			}
		}
	}
}
.r_side{ .w(177px); .h(305px); background:url('@{pic_url}/images/huodong/panasonic/r_side1.png') no-repeat; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/huodong/panasonic/r_side1.png', sizingMethod='scale'); _background-image:none; .pf; right:0; top:150px; z-index:10;
	ul{  .w(148px); .ml(18px); .mt(21px);
		li{ .c; .f(18px); color:#fff; .l(54px); .h(54px); font-family:'黑体';
			a{color:#fff;
				&:hover{ color:#fc54b2; }
			}
		}
		.hlight{ color:#fc54b2; }
	}
}
.pana_top{ .w(950px); .h(509px); background:url('@{pic_url}/images/huodong/panasonic/top2.jpg') no-repeat; .auto; .pr;
	.top_link{ .w(85px); .h(27px); .pa; top:265px; right:33px; .block; }
	.video{ .pa; .w(280px); .h(206px); top: 172px; left:100px;  }
}
.pana_step1{ .w(950px); .h(213px); background:url('@{pic_url}/images/huodong/panasonic/step1_2.jpg') no-repeat; .auto; .pt(142px); }
.lun_box{ .w(932px); .h(208px); .auto; .clearfix;
	.left_btn{ .w(29px); .h(54px); background:url('@{pic_url}/images/huodong/panasonic/left.png') no-repeat; .left; .mt(72px); .cursor; }
	.pics{ .h(208px); .hidden; .pr; .w(872px);
		ul{ .pa; .w(1000%); left:0; .left;
			li{ .left; margin:0 5px; .w(206px); .h(206px); border:1px solid #fff; .cursor;
				img{ .block; .w(206px); .h(206px); }
			}
			.bord{ border:1px solid #e4007f; }
		}
	}
	.right_btn{ .w(29px); .h(54px); background:url('@{pic_url}/images/huodong/panasonic/right.png') no-repeat; .right; .mt(72px); .cursor; }
}
.pana_up{ .w(950px); .h(663px); background:url('@{pic_url}/images/huodong/panasonic/step2_1.jpg') no-repeat; .auto; .pr;
	.back_pic{ .w(244px); .h(344px); top:72px; left:52px; .none; .pa; }
	.sina{ .pa; top:170px; right:136px; }
	.blank{ .pa; bottom:59px; left:0; .h(30px); }
	textarea , .words{ .w(226px); .h(42px); border:1px solid #fff; color:#fff; padding:8px; .pa; left:52px; bottom: 156px; background:#363943; }
	.words{ .none; }
	.sub_btn{ .w(204px); .h(49px); .l(46px); .c; background:url('@{pic_url}/images/huodong/panasonic/btn1.jpg') no-repeat; .pa; left:72px; bottom:88px; .f(20px); color:#fff; .cursor; border:0;  }
}
.panaUpWapper{ .w(244px); .h(344px); top:72px; left:52px; .cursor; background:url('@{pic_url}/images/huodong/panasonic/upbg1.jpg') no-repeat;
    input{ .cursor; .f(295px); .pa; left:-3em; top:0; .h(344px); }
	.pana_reup{.pa; .w(70px); .h(70px); .hidden; right:0; bottom:0; background:url("@{pic_url}/images/huodong/panasonic/change.png") no-repeat; z-index:3;
		input{ .h(70px); .f(32px); }
	}   
}
.pana_tab{ .w(950px); .h(50px); .auto; .clearfix; .hidden; .pa; left:0; bottom:8px;
	li{ .w(458px); .h(46px);  background:url('@{pic_url}/images/huodong/panasonic/tabgray.png') no-repeat; margin:0 8px; .left; .c; color:white; .l(46px); .f(26px); .cursor; }
	.tab_red{ background:url('@{pic_url}/images/huodong/panasonic/tabred.png') no-repeat; }
}
.pana_pro{ .w(950px); .h(951px); .auto; background:url('@{pic_url}/images/huodong/panasonic/pro2.jpg') no-repeat; .pr;
	a{ .block; .pa; }
	.pro0{ .w(138px); .h(38px); top:63px; right:43px; }
	.pro1{ .w(470px); .h(283px); top:104px; left:23px; }
	.pro2{ .w(414px); .h(402px);  top:102px; right:13px; }
	.pro3{ .w(490px); .h(277px);  top:386px; left:52px; }
	.pro4{ .w(367px); .h(434px);  top:504px; right:41px; }
	.pro5{ .w(460px); .h(278px);  top:659px; left:83px; }
}
.pana_group{ .w(950px); .h(397px); .hidden; background:url('@{pic_url}/images/huodong/panasonic/groupbg.jpg') no-repeat; .auto;
	.groupBox{ .left; margin:60px 0 0 68px; }
}
.rule{ .w(625px); .h(316px); background:url('@{pic_url}/images/huodong/panasonic/rule1.jpg') no-repeat; .pr; }
.pana_close{ .block; .pa; right:6px; top:6px; .w(40px); .h(40px); .cursor; }
.len_fixheight{ .w(960px); .auto; .h(1724px); overflow-y:scroll; overflow-x:hidden; .pr; }
.daren{ .w(950px); .h(250px); background:url('@{pic_url}/images/huodong/panasonic/darenbg.jpg') no-repeat; .auto; .pt(75px); }












