@import "../block.less";
@import "../atom.less";
.p_main > div{
	.auto;.pr;.w(950px);background-repeat: no-repeat;background-position: top center;
}
.p_main{.pr; 
	.down_link{ .pa; 
		.iphone,.android{.block;.mt(1px);.w(150px);.h(50px);}
	}
	.head_img{
		.down_link{bottom: 24px; right: 38px;}
	}
	.down_img{
		.down_link{bottom: 24px; right: 110px;}
	}
	.foot_img{
		.go{.block;.w(135px);.h(30px);.pa;top:100px;right:250px;.indent;}
	}
}


