@import "../block.less";
@import "../window.less";
body{.f(14px);}
.main{.h(100%);}
.head_bg{
	background: no-repeat center top;
}
.intro, .rule{
	background: no-repeat center top;
	.h(145px);.auto;
	.pr;z-index: 2;.block;
}
.intro{
	background: url('@{pic_url}/images/biz/reg_feedback/rule_03.jpg') no-repeat center top;
	.h(196px);
}
#maskLayer, .maskLayer {
	filter: alpha(opacity=20);
	opacity: 0.2;
}
.pageMsg{
	.c;padding: 20px 0;
	p{.l(24px);}
}
.btn{
	padding: 10px 20px;.mt(20px);
	.border-r(2px);
	.i_block;
}
.get_coupon{.mt(0);}
.msg_title{.fb;}
.reg_wrap img{
	.auto;.block;
	.mt(15px);
}
.collect_tips{
	text-align: left;
	.i_block;
	ul{.pl(20px);}
	li{list-style: square;.l(24px);}
}

.main {
	.head_top1 { background:url("@{pic_url}/images/activity/ticket/ticket_top1.png")  no-repeat center top; .h(168px); }
	.head_top2 { background:url("@{pic_url}/images/activity/ticket/ticket_top2.png")  no-repeat center top; .h(224px); }
	.head_top3 { background:url("@{pic_url}/images/activity/ticket/ticket_top3.png")  no-repeat center top; .h(90px); }
	// .head_top4 { background:url("@{pic_url}/images/activity/ticket/ticket_top4.jpg")  no-repeat center top; .h(117px); }
	.head_top4 { background:url("@{pic_url}/images/activity/ticket/ticket_top4.png")  no-repeat center top; .h(116px); 
		a { .block; .w(950px); .block; .h(110px); margin: 0 auto;}
	}
}

.recommend_wrap {
	.w (950px); margin: 0 auto;
	.act_title { background: url("@{pic_url}/images/activity/ticket/act_titlebg.jpg") no-repeat; .h(73px);}
	.mod_title { 
		.bgc(#87ccf9); .l(50px); .f(22px); .white;
		.more { .f(14px); .right; .white; .pr(20px);}
	}
	.sping_tit { .bgnone;}
	.title_top { background: url("@{pic_url}/images/activity/ticket/title_bg.jpg") no-repeat; .h(18px);}
	.goods_wrap {
		.bgwhite;
		.good_info {
			.clearfix; border-bottom: 1px solid #fa8ab0;
			.good_img { 
				.left;
				img { .hidden; .w(499px); .h(298px); .hidden;}
			}
			.good_cont { .ml(520px); .pt(45px); .pr(75px);}
			.good_tit { .f(24px); .pb(20px); .l(28px); .h(70px); .hidden;}
			.reason { .f(16px); .l(20px); .h(70px); .hidden;}
			.price { 
			    .f(16px); .clearfix;
				p{ .l(24px);}
			}
			.price_info { .left;}
			.favorable { 
				.red;
				span { .f(24px);}
			 }
			.good_btn { .bgc(#fa8ab0); .c; .white; .right; .w(155px); .l(46px); .f(22px); .block;}
			.good_list {
				.left; .w(225px); .pb(20px); .pl(10px);
				.list_info { 
			 		.border-1(#e6e6e6);
			 		.list_img { border-bottom: 1px solid #e6e6e6; .block;
			 			img { .w(223px); .h(330px); .hidden;}
			 		}
			 	}
			 	.list_cont {
			 		padding: 10px;
			 		.list_tit { .l(18px); .f(12px); .h(36px); .hidden;}
			 		.cost { 
			 			.f(12px); .gray; .pt(5px);
			 			.now { .f(16px); .red; .pr(5px);}
			 			.norml { .t-through;}
			 		}
			 	}
			 	.btn_wrap { .c; .pt(10px;)}
			 	.list_btn { .f(14px); .white; .l(32px); .w(88px); .c; .i_block; .bgc(#fa8ab0);}
			}
		}
		.no_border { .border-n;}
		.list_wrap { .pt(20px); .border-n;}
		.spring { background: url("@{pic_url}/images/activity/ticket/foot_bg.jpg") no-repeat; .h(181px);}
		.more_select {
			.clearfix; .pt(72px); .pl(50px);
			a { .left; .w(188px); .h(83px); .mr(30px); .vm; .l(83px);}
			a.xiezi { .mt(4px);}
			a.peishi { .mt(10px);}
		}

	}
}

.classify_title {
	background: no-repeat center top; 
}
.classify {
	.w(955px); margin: 0 auto; .clearfix; .pb(40px); .pt(25px);
	a{ .block; .left; }
}