@import "../block.less";
/*特卖单宝*/
@import "../doota/shareact_bs_goods.less";
.goods_unit;
.goods_wrap{ .w(936px); .auto; background:#fff; .clearfix; padding:0 7px 10px 7px;
	.productCon{ margin:0 6px; }
}

body{ .bgc(#ffe4e4); }
.top{ .w(100%); .h(448px); background:url('@{pic_url}/images/huodong/sale420/top1.jpg') no-repeat center top; .hidden; .auto;
	.inner{ .w(948px); .h(448px); .auto; .pr;
		.down{ .pa; .c; top:335px; left:303px; .f(20px); color:#ff626d; font-family:SimHei; .fb;
			b{ .w(36px); .h(41px); .l(42px); background:url('@{pic_url}/images/huodong/sale420/timebg.png') no-repeat; color:#fff; margin:0 8px; .f(24px); .i_block; .c; }
		}
		.find{ .pa; .h(40px); .w(40px); right:0; bottom:0; }
	}
}
.coupon_wrap{
	.h(233px);.auto;.hidden;
	background:url('@{pic_url}/images/huodong/sale420/quan_mz1.jpg') no-repeat center top;.bgc(#ff626b);
	.coupon_con{
		.w(967px);.auto;.mt(18px);
		.coupon_now{.left;.w(230px);margin: 135px 8px;}
		.coupon_time{.left;}
	}
	.coupon_num{
		.f(14px);.fc(#fff);.w(100%);.c;.mt(18px);
		span{.fc(#fff2c3);}
	}
	.coupon_time{
		.mt(110px);.ml(8px);.w(456px);
		.btn_status{.left;.w(173px);.mt(24px);.cursor;.ml(35px);}
		.timeStamp_wrap{.fc(#ff626b);.f(32px);.left;.ml(57px); .fb;}
	}
	.can_get{.w(173px);.h(26px);background:url('@{pic_url}/images/huodong/sale420/qiang.png') no-repeat center;.cursor;.auto;}
	.zero{.w(173px);.h(26px);background:url('@{pic_url}/images/huodong/sale420/zero.png') no-repeat center;.auto;}
	.has_get{.w(173px);.h(26px);background:url('@{pic_url}/images/huodong/sale420/get.png') no-repeat center;.auto;}
	.no_start{.w(173px);.h(26px);background:url('@{pic_url}/images/huodong/sale420/nostart.png') no-repeat center;.cursor;.auto;}
}
.wrap{ .w(100%); .pb(100px);
	.tit{ .w(990px); .h(80px); .auto; .clearfix;
		&1{ background:url('@{pic_url}/images/huodong/sale420/tit1.jpg') no-repeat; }
		&2{ background:url('@{pic_url}/images/huodong/sale420/tit2.jpg') no-repeat; }
		&3{ background:url('@{pic_url}/images/huodong/sale420/tit3.jpg') no-repeat; }
		&4{ background:url('@{pic_url}/images/huodong/sale420/tit4.jpg') no-repeat; }
		a{ .right; .w(92px); .h(26px); .mt(16px); .mr(18px); }
	}
}
.sidebar{ .w(117px); .h(396px); background:url('@{pic_url}/images/huodong/sale420/sidebar2.png') no-repeat; .pf; top:218px; left:50%; .ml(505px);
	ul{ .mt(115px);
		li{ .mb(5px);
			a{ .block; .w(100%); .h(31px); }
		}
	}
}
.dw{ .w(100%); .h(40px); background:#ffe4e4; }
