@import "../block.less";

.spring2013 { .mb(-14px);width:100%;background:#ffa9bf url('@{pic_url}/images/huodong/spring2013/bg.jpg') repeat-x top center; }
.sp_topbg, .sp_style, .sp_inner{.w(948px);.auto;}
.sp_topbg{.h(406px);background:url('@{pic_url}/images/huodong/spring2013/top0.jpg');}
.sp_style{
	a{.left;.w(224px);.h(380px);.ml(6px);.mr(6px);}
	.style1{.h(394px);background:url('@{pic_url}/images/huodong/spring2013/img1_01.jpg');}
	.style2{.h(436px);background:url('@{pic_url}/images/huodong/spring2013/img1_02.jpg');}
}
.sp_inner{.pr;
	a{.pa;.h(494px);.w(260px);}
	.sp{
		&_1{top:0px;right:40px;}
		&_2{top:494px;left:40px;}
		&_3{top:494px * 2;right:40px;}
		&_4{top:494px * 3;left:40px;}
		&_5{top:494px * 4;right:40px;}
		&_6{top:494px * 5;left:40px;}
		&_7{top:494px * 6;right:40px;}
		&_8{top:494px * 7;left:40px;}
	}
}
.maga_suc{.f(14px);}

@import "../footer.less";
