@import "../block.less";
@import "../window.less";

.fluid;
.page;
.pageNav{ .page > .pageRed; }
//海报
.poster_wall{ .pa;left:-2000px;top:0;}
.poster_grid{ .common_box;}


.mc-bd{.w(100%);}
.main-cont{.w(960px);.auto;.pr;.h(100%);}
.mc-{
    &bg1{
        .h(672px);
        background:url("@{pic_url}/images/huodong/xuanwuqiji/xwqj-bg1.jpg") no-repeat center center;
    }
    &bg2{
        background:url("@{pic_url}/images/huodong/xuanwuqiji/xwqj-bg2.jpg") no-repeat center center;
       .h(646px); 
       .step_init{
           .pa;
           top:35px;
           .w(930px);
           .h(582px);
            background:url("@{pic_url}/images/huodong/xuanwuqiji/xwqj-zhengjiling.jpg") no-repeat center center;
            z-index:1;
       }
       .xw_check_zjl{
           .pa;
           top:55px;
           left:210px;
           z-index: 3;
           .w(255px);
           .h(60px);
       }
       .xw_jp{
           .pa;
           top:64px;
           right:232px;
           z-index: 3;
           .w(206px);
           .h(45px);
       }
       .xw_join{
           .pa;
           top:190px;
           left: 280px;
           .w(100px);
           .h(30px);
           z-index: 3;
       }
    }
    &bg3{
        background:url("@{pic_url}/images/huodong/xuanwuqiji/xwqj-bg3.jpg") no-repeat center center;
       .h(761px); 
            .step1{
                .pr;
                .pt(145px);
                .w(100%);
                .h(240px);
                .show-type{
                    li.senceCheck{
                        .sence{
                            display: block;
                        }
                    }
                    li{
                        float: left;
                        cursor: pointer;
                        .pr;
                        .h(200px);
                        .w(228px);
                        .ml(15px);
                        img{
                           .pa;
                           .w(228px);
                           .h(145px);
                            border-radius: 10px;
                            top:0;
                            left:0;
                            z-index: 1;
                            }
                        div.sence{
                            .pa;
                            display: none;
                            .w(218px);
                            .h(135px);
                            top:0;
                            left: 0;
                            background: rgba(0,0,0,.7);
                            z-index: 2;
                            border: 5px solid #FFFFFF;
                            border-radius: 5px;
                            .checkImg{
                                display: block;
                                .w(30px);
                                .h(30px);
                                border-radius: 50%;
                                background:url("@{pic_url}/images/huodong/xuanwuqiji/xwqj-check.png") no-repeat center center;
                                margin: 0 auto;
                                .mt(58px);
                            }
                        }
                        h3.desc{
                            .pa;
                            bottom: 0;
                            .w(100%);
                            .h(55px);
                            .l(55px);
                            text-align: center;
                            .f(18px);
                            .fc(000002);
                        }
                    }
                    li:first-child{
                        .ml(0);
                    }
                }
            }
            .step2{
                .pr;
                .w(100%);
                .h(240px);
                margin-top: 67px;
                 .sence_img{
                        .pa;
                        top:0;
                        left: 249px;
                        background:url("http://d04.res.meilishuo.net/img/_o/34/d1/9fb93b7d8150fc354fbd2eb54e56_265_240.cg.png") no-repeat center center;
                        .w(265px);
                        .h(240px);
                        border-radius:5px 0 0 5px ;
                        overflow: hidden;
                        background-size: 100% 100%;
                        .sence_logo{
                            .w(95px);
                            .ml(5px);
                        }
                    }
                  .sence_desc_img{
                        .pa;
                        top:0;
                        left:514px;
                        .w(165px);
                        .h(240px);
                         background:url("http://d03.res.meilishuo.net/img/_o/ef/86/7565c2c00217877d1f946e6d1de8_165_240.cf.png") no-repeat center center;
                    } 
                    .sence_user_img{
                        .mt(10px);
                        .ml(10px);
                        .w(145px);
                        .h(165px);
                         background:url("@{pic_url}/images/huodong/xuanwuqiji/xwqj-default-photo.jpg") no-repeat center center;
                    }
                     .upload_btn{
                        .pa;
                        cursor: pointer;
                        top:0;
                        right:180px;
                        .w(80px);
                        .h(30px);
                        .l(30px);
                        .f(14px);
                        .fc(#FFFFFF);
                        .bgc(#ff6393);
                        border-radius: 5px;
                        text-align: center;
                        z-index: 0;
                     }
                     .create_btn{
                         cursor: pointer;
                         display: none;
                        .pa;
                        top:40px;
                        right:160px;
                        .w(100px);
                        .h(40px);
                        .l(40px);
                        .f(16px);
                        .fc(#FFFFFF);
                        .bgc(#ff6393);
                        border-radius: 5px;
                        text-align: center;
                        z-index: 0;
                     }
               .createImg{
                    .pr;
                    .w(428px);
                    .h(238px);
                    margin-left: 249px;
                    border-radius: 10px;
                    border: 1px solid red;
                    overflow: hidden;
                    
                    .bor{
                        .pa;
                        height: 100%;
                        top:0;
                        right: 0;
                        .w(145px);
                        .h(220px);
                        border: 10px solid #FFFFFF;
                    }
                   
                    .sence_desc_img{
                        .w(145px);
                        .h(55px);
                        .bgc(pink);
                    }
               }
               
                   #share_sina{
                        .pa;
                        display: block;
                        .w(37px);
                        .h(37px);
                        top: 95px;
                        right: 129px;
                    }
                    #share_qzone{
                        .pa;
                        display: block;
                        .w(37px);
                        .h(37px);
                        top: 95px;
                        right: 175px;
                    }
                    #share_qqwb{
                        .pa;
                        display: block;
                        .w(37px);
                        .h(37px);
                        top: 95px;
                        right: 222px;
                    }
               
            }
    }
    &bg4{
        background:url("@{pic_url}/images/huodong/xuanwuqiji/xwqj-bg4.jpg") no-repeat center center;
       .h(691px);
       .step3{
           .pr;
           .w(100%);
           .pt(50px);
           #cate_type{
               .h(40px);
               .l(40px);
               text-align: center;
               a{
                   display: inline-block;
                   .pr;
                   .w(120px);
                   .h(40px);
                   .f(16px);
                   .fc(#ed3971);
                   b{
                       .pa;
                       .w(120px);
                       .h(40px);
                       top:0;
                       left: 0;
                       .fc(#ed3971);
                       z-index: 2;
                   }
                   span{
                       display: block;
                       .pa;
                       top:0;
                       .w(120px);
                       .h(38px);
                        z-index: 1;
                   }
               }
               a.check_cateType{
                   cursor: pointer;
                   .fc(#FFFFFF);
                   .pr;
                   b{
                       .fc(#FFFFFF);
                   }
                   span{
                        -webkit-transform: skew(-20deg);
                        .bgc(#ed3971);
                   }
               }
           }
           #sub_type{
               .h(40px);
               .l(40px);
               text-align: center;
               a{
                   display: inline-block;
                   .f(13px);
                   .h(20px);
                   .fc(#ed3971);
                   margin: 0 25px;
               }
               a.check_subType{
                   span{
                       border-bottom: 1px solid #FFFFFF;
                       .pb(2px);
                   }
               }
           }
       } 
    }
    &bg5{
        background:url("@{pic_url}/images/huodong/xuanwuqiji/xwqj-bg5.jpg") no-repeat center center;
       .h(430px); 
    }
}
.voteWrap{
    .h(470px);
}
.vote_box{
    .w(300px);
    .h(214px);
    float: left;
    .mr(25px);
    .mb(20px);
    border-radius: 5px;
    overflow: hidden;
    .pic_load{ 
        .w(100%); 
        .block; 
        background:url("@{pic_url}/images/group/g_loading1.gif") no-repeat; 
      }
      .showImg{
              .block;
              .w(100%);
              .h(165px);
              border-radius: 5px;
          }
      .info{
          .w(100%);
          .h(32px);
          .mt(10px);
          .pr;
          .userImg{
              .pa;
              top:1px;
              .w(30px);
              .h(30px);
              border-radius: 50%;
          }
          .user-nickname{
              .pa;
              .w(135px);
              .h(32px);
              .l(32px);
              .f(14px);
              .fc(#fb86a1);
              left: 35px;
              font-weight: 100;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
          }
          .user-like{
              .pa;
              .w(110px);
              .h(20px);
              padding: 6px 0;
              .bgc(#FFFFFF);
              right:15px;
              border-radius: 5px;
              .f(14px);
              .fc(#fb86a1);
              .like-btn{
                  display: inline-block;
                  .w(40px);
                  .pl(20px);
                  text-align: center;
                  .fc(#fb86a1);
                  .f(12px);
                  
              }
              .act_vote{
                  background:url("@{pic_url}/images/huodong/xuanwuqiji/xwqj-love.jpg") no-repeat;
                  background-position:8px 2px ;
              }
              .like-no{
                  display: inline-block;
                  .w(45px);
                  .h(20px);
                  .l(20px);
                  .f(12px);
                  text-align: center;
                  border-left: 1px solid #cde8f3;
              }
          }
      }
}
.flayer{
    .w(138px);
    .h(155px);
    position: fixed;
     background:url("@{pic_url}/images/huodong/xuanwuqiji/xwqj-weixin.jpg") no-repeat;
    top:200px;
    right: 25px;
    z-index: 100;
}
.head_bnr{
    display: none!important;
}
