@import "../block.less";
.head_bnr,.adType1{.none}
.shop_pic1{.pr;.w(100%);.h(133px);background: url("http://d03.res.meilishuo.net/pic/_o/0d/85/e230a92e65edf32130415dca4676_1600_133.cf.jpg") no-repeat top center; 
	.main{.pr;.w(1000px);.fc(#fff);.f(1.9em);.auto;.h(100px);
		.clock{.pa;right:0;.w(52%);.pt(50px);
			em{.mr(5px)}
		}
	}
}
.shop_pic2{.pr;.w(100%);.h(710px);background: url("http://d01.res.meilishuo.net/pic/_o/d5/0e/b30121b6f24bb0d78f18b3133257_1600_710.cg.jpg") no-repeat top center;}
.shop_pic3{.pr;.w(100%);.h(345px);background: url("http://d01.res.meilishuo.net/pic/_o/c3/a6/f2703d1c116ee2d7f29f07679246_1600_345.ch.jpg") no-repeat top center;
	.main{.pr;top:40px;.w(486px);.h(298px);.auto;}
}
.shop_pic4{.pr;.w(100%);.h(153px);background: url("http://d01.res.meilishuo.net/pic/_o/32/c6/738ba3f8e03fe831add97055a698_1600_153.cg.jpg") no-repeat top center;
	.main{.pr;.w(1000px);.h(100%);.auto;
		.coupon1{.pa;left:38%;.w(240px);.h(140px);z-index:2;float:left;.block}
		.coupon2{.pa;left:65%;.w(240px);.h(140px);z-index:2;float:left;.block}
	}
}
.shop_pic91{.pr;.w(100%);.h(341px);background: url("http://d01.res.meilishuo.net/pic/_o/cd/3f/f3dbc197888c7fa498bcfc61783b_1600_341.cf.jpg") no-repeat top center;
	.main{.pr;.w(1000px);.h(100%);.auto;
		.coupon1{.pa;left:195px;top:108px;.w(293px);.h(150px);z-index:2;float:left;.block}
		.coupon2{.pa;left:523px;top:108px;.w(293px);.h(150px);z-index:2;float:left;.block}
	}
}



.shop_pic5{.pr;.w(100%);.h(364px);background: url("http://d03.res.meilishuo.net/pic/_o/23/20/42966cd3b9eead1d329b62b96d1e_1600_364.cg.jpg") no-repeat top center;}
.shop_pic6{.pr;.w(100%);.h(298px);background: url("http://d03.res.meilishuo.net/pic/_o/79/58/214ca46e1a1e698bd8d34ad09420_1600_298.cg.jpg") no-repeat top center;}
.shop_pic7{.pr;.w(100%);.h(448px);background: url("http://d05.res.meilishuo.net/pic/_o/39/bf/47fbbe40a8280187e6623c4411f1_1600_448.cg.jpg") no-repeat top center;
	.link{.w(1000px);.h(100%);.block;.auto;.block}
}
.shop_pic8{.pr;.w(100%);.h(479px);background: url("http://d03.res.meilishuo.net/pic/_o/bd/a5/39c8b0bd542dc64f42c0a1d92d30_1600_479.cf.jpg") no-repeat top center;
	.main{.pr;.w(1000px);.h(100%);.auto;clear:both;
		.link1{.h(100%);.w(31%);.block;float:left;.ml(2%);.block}
	}
}
.shop_pic9{.pr;.w(100%);.h(615px);background: url("http://d04.res.meilishuo.net/pic/_o/83/1c/50f03c5105e0fcd3fc427412d071_1600_615.cf.jpg") no-repeat top center;
	.main{.pr;.w(1000px);.h(100%);.auto;clear:both;
		.link1{.h(100%);.w(31%);.block;float:left;.ml(2%);.block}
	}
}
.shop_pic10{.pr;.w(100%);.h(615px);background: url("http://d04.res.meilishuo.net/pic/_o/20/f7/c3a77a0128cb2750db7c5b3bff88_1600_615.cf.jpg") no-repeat top center;
	.main{.pr;.w(1000px);.h(100%);.auto;clear:both;
		.link1{.h(100%);.w(31%);.block;float:left;.ml(2%);.block}
	}
}
.shop_pic11{.pr;.w(100%);.h(615px);background: url("http://d04.res.meilishuo.net/pic/_o/6c/e1/51a883b39b80be26f6dac15bf62a_1600_615.cf.jpg") no-repeat top center;
	.main{.pr;.w(1000px);.h(100%);.auto;clear:both;
		.link1{.h(100%);.w(31%);.block;float:left;.ml(2%);.block}
	}
}
.shop_pic12{.pr;.w(100%);.h(448px);background: url("http://d02.res.meilishuo.net/pic/_o/b8/1c/87420907ae48108cce0c9fc51cc6_1600_448.ch.jpg") no-repeat top center;
	.main{.pr;.w(1000px);.h(100%);.auto;clear:both;
		.link1{.h(100%);.w(31%);.block;float:left;.ml(2%);.block}
	}
}
.shop_pic13{.pr;.w(100%);.h(615px);background: url("http://d03.res.meilishuo.net/pic/_o/87/18/fa6252bd05cd5ba0d02f0c585f44_1600_615.ch.jpg") no-repeat top center;
	.link{.w(1000px);.h(100%);.block;.auto;.block}
}
.shop_pic14{.pr;.w(100%);.h(389px);background: url("http://d05.res.meilishuo.net/pic/_o/9b/0b/14c12df72ed96d5fa582b81c2f80_1600_389.cf.jpg") no-repeat top center;
	.link{.w(1000px);.h(100%);.block;.auto;.block}
}
.shop_pic15{.pr;.w(100%);.h(462px);background: url("http://d01.res.meilishuo.net/pic/_o/b2/f7/f2dbf7b7e1dc0fb4cbafccf98d98_1600_462.cf.jpg") no-repeat top center;
	.main{.pr;.w(1000px);.h(100%);.auto;clear:both;
		.link1{.h(100%);.w(31%);.block;float:left;.ml(2%);.block}
	}
}

.shop_pic16{.pr;.w(100%);.h(314px);background: url("http://d02.res.meilishuo.net/pic/_o/54/0c/996a91e207850ac1ce2d41645096_1600_314.ch.jpg") no-repeat top center;
	.main{.pr;.w(1000px);.h(100%);.auto;
		.coupon1{.pa;left:38%;top:20px;.w(240px);.h(140px);z-index:2;float:left;.block}
		.coupon2{.pa;left:65%;top:20px;.w(240px);.h(140px);z-index:2;float:left;.block}
	}
}
.shop_pic17{.pr;.w(100%);.h(454px);background: url("http://d01.res.meilishuo.net/pic/_o/77/04/ece7d31271f3ea0129c3b1a30f28_1600_454.cg.jpg") no-repeat top center;
	.main{.pr;.w(1000px);.h(100%);.auto;
		object{.pa;left:87px;top:100px;}
		.coupon1{.pa;left:654px;top:102px;.w(270px);.h(140px);z-index:2;float:left;.block}
		.coupon2{.pa;left:654px;top:260px;.w(270px);.h(140px);z-index:2;float:left;.block}
	}
}

