<%# head.html%>
<%
var query = this._Request_query;
var getLink = _extFn.getLink;
var icons = {
	'上衣' : 'rec_item4',
	'裙子' : 'rec_item3',
	'裤子' : 'rec_item2',
	'热门元素' : 'rec_item1',
	'热门风格' : 'rec_item0'
	}
%>
<div class="spinner topSpinner"></div>
<div class="content_fluid v_hidden">
	<%# commerce/ads_top_banner.html%>
	<div class="cata_title">
		<h2><%= this.catalog.currentWord %></h2>
		<%# block/price.html%>
	</div>
	<div class="goods_wall">
		<%if(this.catalog.sub){%>
		<div class="corner_notic">
			<div class="rec_nav red_tb">
				<%
				var catalog_len = this.catalog.sub.group_map.length;
				this.catalog.sub.group_map.map(function(group_name){
					catalog_len--;
					var rec_icon = icons[group_name]
					if (!rec_icon) return
				%>
					<h2><span class="<%= rec_icon%>"></span><%=group_name%></h2>
					<div class="category">
						<%for(var data in this.catalog.sub.group_keywords[group_name]){%>
							<% var group_info = this.catalog.sub.group_keywords[group_name][data]; %>
							<a class="<%if(query.word == group_info.word_id){%>active<%}else{%><%= group_info.isred == 1?'ishot':''%><%}%>" href="<%=getLink({'word':group_info.word_id , 'price' : 'all' , 'page' : '0' , 'section' : 'hot'} , query)%>"><%= group_info.word_name%></a>
						<%}%>
						<div class="clear_f"></div>
					</div>
				<%});%>
					<div class="cate_ser">
						<form action="/search" method="get">
							<span class="text"><input class="searchKeyCatalog" type="text" name="searchKey" value="" placeholder="去其他关键词"></span>
							<span class="btn"><input type="submit" value="搜索"></span>
							<input class="filter" type="hidden" value="goods" name="filter"/>
						</form>
					</div>
				</div>
			</div>
			<%}%>
			<div class="corner_stamp">
				<div class="cata_brands" ></div>
				<div class="poster_ads" ></div>
			</div>
		</div>
	<div class="paging_panel c_f none_f">
	<%#paging.html%>
	</div>
	<div class="spinner botSpinner none_f"></div>
	<div class="clear_f"></div>
	<div class="ads_banner ads_bottom none_f"></div>
</div>
<%#poster.html%>
<script type="text/html" id="poster_price">
<ul class="poster_price add_menu_leo hw76">
	<li><a href="<%=getLink({'price' : 'all' , 'page' : '0'} , query)%>">全部</a></li>
	<li><a href="<%=getLink({'price' : '0~50', 'page' : '0'} , query)%>">0~50</a></li>
	<li><a href="<%=getLink({'price' : '51~100', 'page' : '0'} , query)%>">51~100</a></li>
	<li><a href="<%=getLink({'price' : '101~200', 'page' : '0'} , query)%>">101~200</a></li>
	<li><a href="<%=getLink({'price' : '201~500', 'page' : '0'} , query)%>">201~500</a></li>
	<li><a href="<%=getLink({'price' : '501~10000', 'page' : '0'} , query)%>">500以上</a></li>
</ul>
</script>

<script type="text/html" id="tmp_brand">
 <? $.each(commerce ,function(key , data){ ?>
 <div class="cata_brand">
        <h3 class="f14_f">合作品牌</h3>
        <div class="mt10_f">
            <a class="avatar64_f" href="<?= data.mall_url ?>" target="_blank"><img src="<?= data.avatar_c ?>" /></a>
            <p class="cb_t"><a href="<?= data.mall_url ?>" target="_blank"><?= data.nickname ?> <span class="i_zv" title="美丽说认证品牌">&nbsp;</span></a></p>
            <? if(!data.isFollow){ ?>
                <p class="ml74_f mt14_f"><span  class="red_follow addBrand" fuid="<?= data.user_id ?>">+ 加关注</span></p>
            <?}else{?>
                <p class="ml74_f mt14_f"><span class="pink_follow removeBrand" fuid="<?= data.user_id ?>">已关注</span></p>
            <?}?>
        </div>
        <div class="clear_f"></div>
    </div>
<?});?>
</script>

<script type="text/html" id="tmp_ads">
 <? $.each(ads ,function( key ,data ){?>
<div class="poster_grid alpha omega">
	<div class="new_poster">
		<img src="<%=this.PICTURE_URL%>images/goods/hot.gif" class="hot">
		<div class="ad_pic">
			<a href="<?=data.url ?>" target="_blank"><img title="<?= data.intro ?>" width="200" src="<?= data.pic_url ?>"></a>
		</div>
		<p class="np_share">
			<a href="<?=data.url ?>" target="_blank"><?= data.intro ?></a>
		</p>
	</div>
</div>
<?});?>
</script>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/catalog');
	fml.use('page/poster');
_use:", this._JSstack , this._JSmods ); %>
<%# foot.html%>

