<%#head.html%>
	<section id="wrapper_main" class="wrapper">
		<div class="wlf_wrapBox">
			<h2 class="title">菲诗小铺</h2>
			<p class="wlf_price">¥79.00</p>
			<p class="wlf_applyNo"><span>免费100份</span><span>已有1000人申请</span>
			</p>
			<p class="wlf_desc">
				保湿补水不油腻，菲诗小铺奇异子控油补水面霜，为肌肤补充水分的同时，调节油分，令肌肤保湿嫩滑“零油光”
			</p>
			<a href="javascript:void(0)" class="wlf_linkDesc">商品详情</a>
		</div>
		<div class="wlf_wrapBox">
			<h3 class="wlf_title">试用流程<span></span></h3>
			<p>
				<img src="<%= this.PICTURE_URL%>images/wap/tuan/t_free.png" alt="" />
			</p>
		</div>
		<div class="wlf_wrapBox">
			<h3 class="wlf_title">本店推荐<span></span></h3>
		</div>
	</section>
	<%! $_ENGINE_SELF.callFn( "useModule")( "<<<_use:
        fml.use('wap/page/welcome');
_use:", this._JSstack , this._JSmods ); %>
		<%#foot.html%>