<%#head.html%>
	<section class="reg_wrapper">
		<h2 class="regularT">申请阶段</h2>
		<div class="regular_box">
			<div class="regularBox">
				<h3>如何快速找到试用?</h3>
				<ul>
					<li>路径：手机APP美丽说 > “买”主页> 福利社</li>
				</ul>
			</div>
			<div class="regularBox">
				<h3>申请流程</h3>
				<ul>
					<li>免费申请>中签筛选>公布名单>福利发货>提交报告</li>
				</ul>
			</div>
			<div class="regularBox">
				<h3>具体步骤</h3>
				<ul class="style1">
					<li><span>1.如何申请：</span>
						<p>点击马上关注 > 成功关注福利社群 > 点击提交申请> 耐心等待系统审核</p>
					</li>
					<li><span>2.是否成功：</span>
						<p>活动结束3个工作日后公布中签名单，用户可登陆福利社“我的福利”查询</p>
					</li>
					<li><span>3.如何领取</span>
						<p>① 登陆“我的福利”>“已通过”状态为此次中签 > 获得试用资格 >等待厂商寄出试用品，用户无需承担邮费，无需退还试用品
							<br>② 登陆“我的福利”>“点击兑换”状态为此次中签 > 使用5个金币兑换获得试用资格 > 等待厂商寄出试用品，用户无需承担邮费，无需退还试用品
						</p>
					</li>
				</ul>
			</div>
			<div class="regularBox">
				<h3>重要提示</h3>
				<ul>
					<li>如需使用金币兑换，7天内未兑换领取，则被视为放弃试用资格。</li>
					<li>试用者在申请试用该产品时，表示愿意承担该试用产品质量问题、物流、设计缺陷等风险。</li>
				</ul>
			</div>
		</div>
		<h2 class="regularT">提交报告阶段</h2>
		<div class="regular_box">
			<div class="regularBox">
				<h3>如何在手机端提交试用报告？</h3>
				<ul>
					<li>进入手机美丽说 > 买 > 福利社 > 我的福利 > 提交报告</li>
				</ul>
			</div>
			<div class="regularBox">
				<h3>手机试用报告怎么写？</h3>
				<ul>
					<li>进入手机美丽说 > 买 > 福利社 > 我的福利 > 提交报告</li>
				</ul>
			</div>
			<div class="regularBox">
				<h3>提交报告注意事项</h3>
				<ul class="style2">
					<li><span>1.</span>
						<p>手机提交的试用报告仅支持手机修改，电脑无法修改。</p>
					</li>
					<li><span>2.</span>
						<p>由于网络情况，图片上传速度会有区别，存在上传成功信息滞后可能，请耐心等候。</p>
					</li>
					<li><span>3.</span>
						<p>只有当报告内容中含有内容时，“提交试用报告”按钮才会生效。</p>
					</li>
					<li><span>4.</span>
						<p>如收到试用品后，15日内未提交试用报告或提交垃圾报告，将被取消后续中签资格。</p>
					</li>
				</ul>
			</div>
			<div class="regularBox">
				<h3>什么是垃圾报告？</h3>
				<ul class="style2">
					<li><span>1.</span>
						<p>盗用他人图片或文字的报告。</p>
					</li>
					<li><span>2.</span>
						<p>发表无关联的文字说明或通篇无文字说明的报告。
						</p>
					</li>
					<li><span>3.</span>
						<p>含不雅、低俗照片或含有恶意谩骂的言语的报告。</p>
					</li>
					<li><span>4.</span>
						<p>恶意占位、发布广告、虚假提交的报告。</p>
					</li>
				</ul>
			</div>
			<div class="regularBox">
				<h3>什么是优质报告？</h3>
				<ul class="style2">
					<li><span>1.</span>
						<p>图片必须是实拍图，数量大于5张。①商品整体图，②商品细节图，③场景化试用过程。</p>
					</li>
					<li><span>2.</span>
						<p>详细描述试用感受及产品特性。</p>
					</li>
					<li><span>3.</span>
						<p>给出使用建议，这对商家和其他消费者十分重要。</p>
					</li>
					<li><span>4.</span>
						<p>实事求是，不需要过分美化试用品，也无需过度诋毁廉价商品，客观描述试用感受即可。</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<%#foot.html%>