@import "base.less";

body {
  background-color : #e6e6e6;
}

.shop-form {
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  box-sizing         : border-box;
  height             : 100%;
  padding-top        : 2rem;

  label {
    display        : inline-block;
    width          : 20%;
    color          : #595056;
    font-size      : 2.8rem;
    vertical-align : middle;
    white-space    : nowrap;
  }
  .required {
    position : relative;

    &::before {
      position  : absolute;
      top       : .8rem;
      left      : -2.2rem;
      content   : "★";
      color     : #f66;
      font-size : 1.4rem;
    }
  }

  .item {
    position           : relative;
    margin-bottom      : 2rem;
    padding-bottom     : 2rem;
    border-bottom      : 1px solid #e6e5e6;
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;

    &:last-child {
      margin-bottom : 0;
    }

    input {
      -webkit-box-sizing : border-box;
      -moz-box-sizing    : border-box;
      box-sizing         : border-box;
      width              : 70%;
      margin             : 1rem 0 0 3%;
      border-width       : 0;
      font-size          : 2.4rem;
      line-height        : 2.8rem;
      outline            : 0;
    }
  }

  h3 {
    margin      : 4rem 0 2.2rem 2.6rem;
    font-size   : 3rem;
    font-weight : normal;
    color       : #80737b;
  }

  input::-webkit-input-placeholder {
    color : #ccc2c9;
  }
}

.upload-btn {
  position : absolute;
  left     : 0;
  width    : 80%;
  height   : 4rem;
  z-index  : 10;
}

.inputs-wrap {
  padding            : 3rem 0 0 4rem;
  background-color   : #fff;
  border             : 1px solid #cec9c7;
  border-left-color  : transparent;
  border-right-color : transparent;
}

.upload-pic {
  margin-bottom      : 2rem;
  padding            : 3rem;
  border             : 1px solid #cec9c7;
  border-left-width  : 0;
  border-right-width : 0;
  background-color   : #fff;

  li {
    margin-bottom   : 1.8rem;
    font-size       : 2.4rem;
    color           : #80737b;
    list-style-type : none;
  }
}

.upload-area {
  position        : relative;
  width           : 80%;
  height          : 30rem;
  margin          : 3rem auto 0;
  border          : 1px dashed #f69;
  background      : url(http://d04.res.meilishuo.net/pic/_o/97/4b/1cde72da6bf102b5bf6f6bf7660c_70_57.cg.png) no-repeat center 40%;
  background-size : 7rem 5.7rem;

  span {
    position   : absolute;
    top        : 60%;
    width      : 100%;
    color      : #ff94b7;
    font-size  : 2.8rem;
    text-align : center;
  }
}

.uploaded {
  background-position : center center;
  background-size     : contain;

  span {
    display : none;
  }
}

.btn-wrap {
  padding-bottom   : 2rem;
  border-top       : 1px solid #cec9c7;
  background-color : #fff;

  a {
    display          : block;
    width            : 60%;
    height           : 7.8rem;
    line-height      : 7.8rem;
    margin           : 2rem auto;
    color            : #fff;
    font-size        : 2.8rem;
    border           : 0;
    border-radius    : .6rem;
    background-color : #ff94b7;
    text-align       : center;

    &.disabled, &.created {
      background-color : #ccc2c9;
    }
  }
}
