html {
  font-size : 62.5%; /* 10/16 = 62.5% */
}

@media (-webkit-min-device-pixel-ratio : 1.5), (min-resolution : 1.5dppx) {
  html {
    font-size : 33.33333333%;
  }

  @media (max-width : 500px) {
    html {
      font-size : 31.25%;
    }
  }
}

@media (-webkit-min-device-pixel-ratio : 2), (min-resolution : 2dppx) {
  html {
    font-size : 31.25%; /* 5/16 = 31.25% */
  }
}

@media (-webkit-min-device-pixel-ratio : 3), (min-resolution : 3dppx) {
  html {
    font-size : 20.8333333333%; /* 10/48 = 20.8333333% */
  }
}
