<%# head.html%>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<div class="wrap">
	<div class="logo">
		<img src="http://d01.res.meilishuo.net/pic/_o/b8/ef/88824ae62132ab0be4fbee21822b_240_60.ch.png" />
	</div>
	<h1>请正确填写个人信息，提交成功后于11月27日上午10:00，美丽说APP及钱包入口草莓音乐节活动页面公布中奖名单</h1>
	<div class="info">
		<h2>个人信息</h2>
		<p>
			<label for="name" class="name"></label>
			<input type="text" placeholder="姓名" maxLength="10" class="txt" id="name">
		</p>
		<p>
			<label for="tel" class="tel"></label>
			<input type="tel" placeholder="电话" maxLength="11" class="txt" id="tel">
		</p>
		<p>
			<label for="address" class="address"></label>
			<input type="text" placeholder="所在地" class="txt" id="address">
		</p>
		<h3 id="errorTips" class="errorTips"></h3>
	</div>
	<input type="submit" value="提交" class="submit" id="submit">
	<dl>
		<dt>活动日期</dt>
		<dd>2015/11/23 上午10:00 - 2015/11/26 上午0:00  </dd>
		<dt>名单公布方式</dt>
		<dd>美丽说APP或微信钱包入口进入美丽说“草莓音乐节”活动页面</dd>
		<dd>2015/11/27上午10:00公布名单</dd>
	</dl>
</div>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/music/userInfo');
_use:", this._JSstack, this._JSmods); %>
<%# foot.html%>