@import "../block.less";
.feedback { .auto; .mt(14px); .w(948px);
	.help { .common_shadowBox; .left; .p20; .w(666px); 
		.tle { background: url("@{pic_url}/images/icons/fb_ico.png") no-repeat 6px 1px; 
			.red; .f(28px); .h(36px); .l(36px); .pl(56px); .pb(14px); border-bottom: 1px solid #e6e6e6; 
		}
		.list{ .l(24px);
			h3{ .l(28px); }
			.list-p{ .l(24px); .mt(20px); .mb(40px); }
			.list-head{ .f(20px); }
			.list-head-oth{ .fn; .l(20px);border-bottom: 1px dotted #e6e6e6; .gray; .f(12px); }
			ul{ .mt(24px);.mb(20px);
				li{	.mb(10px);
					.ask{ .cursor; .bgc(#f1f1f1); .border-r(17px); .f(14px);
						padding: 10px 32px; font-weight: 400;
						a{ .right; .red; .cursor; .mt(2px);	}
						a.m2{.mt(-2px); }
					}
					.ask:hover{ .bgc(#ffdee9); }
					.que{ margin: 20px 22px; padding: 0 28px 20px; border-bottom: 1px dotted #e6e6e6; }
				}
			}
		}
		.qa { .clearfix; .mt(15px);
			.avatar48 { .h(48px); .w(48px);
				img { .h(48px); .w(48px); }
			}
			.talk { .border-1c; .border-r(8px); .w(448px); .p10; .pr; 
				.gray_f { .pt(6px); }
				.corner_r , .corner_l { background:url("@{pic_url}/images/window/corner.png") no-repeat; .w(7px); .h(15px); .hidden; .pa;  }
				.corner_r { .bp(-13px,0); top:18px; right:-7px; }
				.corner_l { .bp(0,0); top:18px; left:-7px; }
			}
			.ask { .right; .bgc(#f9f9f9); .mr(14px); }
			.answer { .left; .ml(14px;); }
		}
		.askBox { .bgc(#f1f1f1); .border-1(#e6e6e6); .mt(30px); padding: 10px 20px 20px; 
			.type { .h(26px); .l(26px); .pb(10px);
				select { .border-1(#d2d2d2); .fc(#666); .h(24px); outline: none; }
			}
			textarea { .w(618px); .h(146px); .border-1(#e6e6e6); .gray; .f(14px); }
			.btn { .w(106px); .h(30px); .l(30px); .f(16px); .fb; .block; .mt(20px); }
		}
		.fb_mail { .mt(5px); padding:4px 0; 
			input { .border-1c; .w(260px); .h(20px); .l(20px); .gray; }
		}
	}
	.service { .common_shadowBox; .p13; .right; .w(200px);
		.tle { .f(20px); .red; }
		.fit_tle { .gray; }
		.hotline { border-top: 1px solid #e6e6e6;  .pt(16px); .mt(14px);
          .hotline_ico {.mt(6px); background: url("@{pic_url}/images/doota/@{doota_sale}") no-repeat 0 -72px; .left; .h(36px); .w(36px); }
          .robot{ margin-top:-3px;background: url("@{pic_url}/images/doota/robot.png") no-repeat  !important;}
			p { .ml(44px);
				.tel { .red; .f(16px); .pb(4px); }
			}
		}
		.time { .gray; .f(14px); .pt(14px); }

	}
}
.ms_ico { background: url("@{pic_url}/images/home/maga_zf.gif") no-repeat 0 0; .fb; padding: 2px 0 2px 25px; }
.fb_btn { .mt(14px);
	span { .w(60px); .h(28px); .l(28px); .f(14px); .fb; .block;}	
}
.jumpto{.left;.cursor;.mr(2px);.p5_10;border:1px solid #FC93B6;.fc(#FC93B6);.bgc(#ffe6ec);}
.jumpto:hover,.jumpto:focus{ color:#ffffff;.bgc(#ff80a9); }
.help_in_title{.ml(-2em);.f(1.1em);.fb;.l(3em);}

@import "../footer.less";
