@import "../atom.less";

.help-title(){
	.help-title{ .h(34px); .pt(20px); .pb(15px); border-bottom: 1px solid #e6e6e6;
		.help-logo{ .left; .h(34px); .f(28px); .l(34px); .red; background: url("@{pic_url}/images/icons/fb_ico.png") no-repeat; .pl(47px);}
		.operate-area{ .right; .tr;
			.btn{ .border-r(0); .i_block; .w(86px); .h(30px); .l(30px);}
			.qa-btn, .contact-btn{ .mr(38px); .bgc(#ffa3c2);}
			.notice-icon{ padding: 1px 11px; background: url("@{pic_url}/images/doota/help/help-center-0528.png?fff") no-repeat; .bp(-462px, -140px);}
			.search-box{ .left; .mr(40px); .w(298px); .h(28px); .border-1(#f69);
				.ipt-f, .ipt-s{ .left;}
				.ipt-f{ .w(252px);
					.searchQa{ .h(22px); .mt(2px); .w(220px); border: 0; .l(24px);}
				}
				.qa-search-btn{ .left; .w(46px); .cursor; .c; background: none; .h(28px); .white; .bgred; .border-n;}
				.search-exap{ .bgwhite; .border-1(#f69); .cursor; .hidden; .w(256px); .pa; padding: 1px; top:28px; left: -1px; .none;
					.search_bg { .bgc(#f5f5f5); }
					li { .p5_10;
						.input_words { .red; }
					}	
				}
			}
		}
	}
}

.common-problems(){
	.common-problems{ .border-1(#e6e6e6); .mb(30px);
		.problems-th{ .bgc(#f4f5f6); .h(44px); .l(44px); .f(14); .fc(#333); .clearfix;
			a{ .left; .w(20%); .c; border-bottom: 1px solid #f4f5f6;}
			a.active{ border-bottom: 1px solid #f69; .red;}
		}
		.problems-td{
			ul{ .clearfix; .pt(14px); .pb(20px);}
			li{ .left; .w(50%); .l(30px);
				a{ .ml(14px);}
			}
		}
	}
}

.contact-robot(){
	.btn{ .w(86px); .h(28px); .c; .border-r(0); .i_block; .l(28px);}
	.contact-robot{ .clearfix;
		.list-head-sub{ .border-n;}
		.robot-icon-l{ .left; .w(104px); .h(98px); background: url("@{pic_url}/images/doota/help/help-center-0528.png?fff") no-repeat; .bp(-393px, -4px); .mt(-30px);}
		.robot-online{ .mt(40px); .pr;
			.robot-txt{ .l(24px); .ml(128px); .yahei;}
			.robot-f{ .f(20px); }
			.robot-s{ .f(14px); .fc(#999);}
			.contact-i-btn{ .pa; right: 0; top: 8px; .l(28px);}
		}
	}
}

.contact-mail(){
	.contact-mail-a{
		.mail-list{ .w(335px); .pl(5px); .left;
			dt{ .f(16px); .yahei; .mb(6px);}
			dd{
				p{ .fc(#999); .mb(18px);}
			}
		}
		.mail-list.last{ .w(203px);}
	}
	.contact-mail-b{
		.btn{ .w(86px); .h(28px); .c; .border-r(0); }
		.mail-list{ .h(54px); .pt(15px);
			dl{ .clearfix;
				dt{ .left;}
				dd{ .right; .mt(6px);
					.mail-btn, .suggest-btn{ .i_block; .l(28px);}
				}
			}
			.title-txt{ .f(16px); .yahei;}
		}
		.list-l{ .left; .w(413px); .pr(30px);}
		.list-r{ .right; .w(384px); .pl(60px);}
	}	
}

.suggest-dialog(){
	#dialogLayer{ padding: 0; .bgc(#f1f1f1); .border-r(10px); overflow: hidden; .box-shadow-r(2px, 2px, 10px, #888888);}
	#dialogTitle{ .bgc(#f1f1f1); }
	.advice{ .w(420px); .bgc(#f1f1f1); padding: 0 20px 20px;
		.advice-type{ .h(23px); .l(23px); .border-1(#e6e6e6); outline: none; .bgc(#fcfbfb);}
		.advice-cont{ .w(416px); .h(155px); .l(22px); .bgwhite; .border-1(#e6e6e6); .mt(16px); .gray;}
		.advice-cont-area{ .pb(20px);}
		.advice-mail-area{ .mb(20px);
			.advice-mail{ .w(220px); .h(20px); .l(20px); .fc(#999); .border-1(#e6e6e6);}
		}
		.error_msg{ .red;}
		.subAdvice-btn{ .i_block; .w(106px); .h(30px); .f(16px); .l(30px); .yahei;}
	}
	.ms_ico { background: url("@{pic_url}/images/home/maga_zf.gif") no-repeat 0 0; .fb; padding: 2px 0 2px 25px; }
	.fb_btn { .mt(14px);
		span { .w(60px); .h(28px); .l(28px); .f(14px); .fb; .block;}	
	}
}