<%# head.html%>
<div class="wrap">
	<div class="bnr">
		<img src="<%= this.pageData.rewards_bnr %>"/>
	</div>
	<section class="contract_wrap rewardsWrap" id = "contractWrap"></section>
<%# activity/baoyang/rewardInfo.html%>
<%# activity/baoyang/rule.html%>
	<div class="meTooMt"></div>
	<a class="meToo" href="/wx/baoyang">我也要卖身<span></span></a>
</div>
<%# activity/baoyang/share.html%>
<script type="text/html" id="shareLead">
	<div class="dialog_box">
		<span class="share_pic"></span>
	</div>
</script>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/activity/rewards');
_use:", this._JSstack , this._JSmods ); %>
<%# foot.html%>