<%# head.html%>
<section class="contract_wrap">
	<div class="use_userInfo">
		<span class="top_icon"></span>
		<div class="use_pic">
			<span class="userPic">
				<img src="<%=this.PICTURE_URL%>/images/wap/activity/baoyang/userIcon_bg3.png"/>
			</span>
		</div>
		<p class="nickname"></p>
		<p class="getCoupon">
			<img src="<%=this.PICTURE_URL%>/images/wap/activity/baoyang/getCoupon.jpg" />
		</p>
	</div>
	<div class="coupon">
		<dl>
			<dt class="countPrice">¥ </dt>
			<dd>
				<span>美丽说，购流行</span>
				<span>12.11晚8点—12.14晚24点</span>
			</dd>
		</dl>
		<p>手机专享，无消费金额限制</p>
	</div>
	<div class="check">
		登录美丽说客户端，在“我的优惠券”中查看</br>
		微信用户请使用微信登录
	</div>
	<div>
		<img src="<%=this.PICTURE_URL%>/images/wap/activity/baoyang/useIntro_icon.jpg">
	</div>
	<div class="use_intro">
		<p>• 优惠券仅限手机客户端使用，无满减门槛限制，有效期：12.11晚8点~12.14晚24点</p>
		<p>• 优惠券一旦使用，不可退换</p>
		<p>• 如果优惠券过期未使用，赏钱金额将自动退还给打赏人的原支付账户。</p>
	</div>
	<div class="openApp openBtn">
		<img src="<%=this.PICTURE_URL%>/images/wap/activity/baoyang/open_btn.jpg" />
	</div>
</section>
<%# activity/baoyang/share.html%>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/activity/baoyangCoupon');
_use:", this._JSstack , this._JSmods ); %>
<%# foot.html%>
