@import "../block.less";

body { .bgc(#f4efec);}
.wrap{ .f(12*@f);}
img{ .block; .w(100%);}
.border-d9(@color:#d9d9d9) {border: 1px solid @color;};
.border-td9 (@color:#d9d9d9) {border-top: 1px solid @color;}
.border-bd9 (@color:#d9d9d9) {border-bottom: 1px solid @color;}
.border-rd9 (@color:#d9d9d9) {border-right: 1px solid @color;}
.border-ld9 (@color:#d9d9d9) {border-left: 1px solid @color;}
.border-f69(@color:#F69) {border: 1px solid @color;};
.border-79(@color:#797979) {border: 1px solid @color; };
.border-rad() {.border-r(6*@px); .c;}
.wd_icon () { .left; .mr(16*@px); .vm;}
.mod_pd20 () { .pt(20*@px); .pr(20*@px); .pb(20*@px); .pl(20*@px);}
.mod_pd30 () { .pt(30*@px); .pr(30*@px); .pb(30*@px); .pl(30*@px);}
.mod_info () { .border-td9; .border-bd9; .bgwhite; .mb(20*@px);}
.mod_pd2_3() { .pt(20*@px); .pr(30*@px); .pb(20*@px); .pl(30*@px);}
.mod_mg20 () { .mt(20*@px); .mr(20*@px); .mb(20*@px); .ml(20*@px);}
.wd_title {.f(36*@px); .white; .c; .bgc(#fd70a3); .l(90*@px); .fn;}
.wd_btn_red () {.bgred; .f(28*@px); .c; .i_block; .vm; .border-n; .border-r(10*@px); .white;}
.wd_btn_white () { .c; .i_block; .border-f69; .border-r(10*@px); .red; .f(28*@px);}
.next_icon { .pa; .w(15*@px); .h(25*@px); .cursor; right: 40*@w;}