@import "../block.less";
.sec_nav { .pr; .w(100%); }
.club_nav_bg { 
	.pa; background: #FFF; .w(100%); .h(54px); opacity: 0.9; filter: alpha(opacity=90); left: 0; top: 0;
}
.fM {font-family:Microsoft YaHei,Arial; }
.club_nav {
	.pr; .w(948px); .auto; .h(54px); .f(14px); .fb;
	h2 { .f(24px); .left; .block; .h(28px); .l(28px); .mt(13px);color:#333;.fM;}
	.club_nav_ul {.fM;
		.ml(30px); .h(54px); .left;
		li {.left; .h(26px); .l(26px); .mt(13px); .mr(20px); border: 1px solid #CCC; .border-r(16px); }
		a { .h(26px);.block;padding: 0 15px; }
		.club_select { background:#F69;border-color:#F69;
			a { .white;
				&:hover {.white; }
			}
		}
	}
	.nav_create { .cursor; .f(16px); .right;.w(80px);.pl(15px); .h(32px); background: #F69; color: white; .l(32px); .mt(12px);}
}

.wrap { .auto; .mt(14px); .w(948px); .pr;}

.wraper_r { .w(228px); .right; .mt(14px);
	.redline;
	.sider { .common_shadowBox; .hidden; .w(188px); .pr; padding: 0 20px;
		h2 { .f(18px); .mt(16px);color:#333;.fM; }
		.bigwig { .mt(20px);border-bottom:1px solid #e5e5e5;.pb(20px); 
			img { .left; .mr(20px); .mb(2px);}
		}
		.nickname { .f(14px); .w(120px); .ellipsis;
			a {.red;}
		}
		.desp { .h(18px); .l(18px); .mt(6px); }
		.btn_fol { .w(60px); .h(18px); .i_block; background: #f69; .white; .cursor; .c; .right; }
		.btn_unfol { .w(60px); .h(18px); .i_block; background: #ffdce7; .red; .cursor; .c; .right; }
		.label { .fb; .w(64px); .ellipsis; .i_block; }
		.article { .h(18px); .l(18px); .mt(6px); .w(180px); .ellipsis; }

		.hot_topic { .mt(10px);
			.hot_title { .w(180px); .ellipsis; .i_block;color:#333;}
			.hot_imgs { .mt(12px); }
			img { .left; .mr(1px);}
		}
		.moreTopics { .right; .mt(20px); .red; .mb(20px); }
		.newTopics { .mt(10px); 
			li { .mt(10px); .h(18px); .l(18px); .ellipsis; .w(188px); }
			a { color:#333; }
		}
	}
}