/*guang catalog ads poster*/
.ads_poster() {
	.poster_grid {.pr;}
	.poster_cpt .new_poster,.poster_p4p .new_poster{ .hidden; } 
	.poster_p4p{
		.poster_wall{}
	}
	.provide{ background:#F69;bottom:18px;.h(18px);.l(18px);.p05;.pa;right:15px;color:#FFF;opacity:0.6; filter:alpha(opacity=60);}
	.cpt { .pa;.w(48px);.h(49px);top:0px;left:-7px;z-index:1; background: url("@{pic_url}/images/p4p/cpt.png") no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/p4p/cpt.png', sizingMethod='scale');_background-image:none; }
	.p4p { .pa;.w(42px);.h(42px);top:7px;left:-7px;z-index:1; background: url("@{pic_url}/images/p4p/p4p1.png") no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/p4p/p4p1.png', sizingMethod='scale');_background-image:none; }
	.ads_shadow{.pa;.w(200px);.h(270px);top:30px;left:14px; box-shadow: 0 1px 10px rgba(34,25,25,0.4) inset; -webkit-box-shadow: rgba(34,25,25,0.4) 0px 1px 10px inset;}
	.ads_pic { .w(226px); background:#fff url("@{pic_url}/images/p4p/border0.png"); .bp(-222px,0px); box-shadow: 0 1px 6px rgba(34,25,25,0.1); -webkit-box-shadow: rgba(34,25,25,0.1) 0px 1px 6px;border-bottom: 1px solid #E6E4E4;
		a{ .block;.auto;.w(200px);.mt(3px);.mb(3px);}
		.ads_pic_top, .ads_pic_bottom{ .h(12px); .w(226px);.hidden; background:#fff url("@{pic_url}/images/p4p/border0.png") no-repeat; }
		.ads_pic_top{.bp(3px,4px);}
		.ads_pic_bottom{.bp(3px,-10px);}
	}
	.ads_share { padding: 10px 13px; .gray; .l(18px); .hidden; }
	.ads_user { background: #f9f9f9; padding: 10px 13px; .gray; .l(18px); .hidden;.h(24px); 
		.shop_name{.f(14px);.fb;.l(24px); background:url("@{pic_url}/images/shop/shop_tle.png") no-repeat 0 4px; .pl(24px); .left; .w(78px); .ellipsis; word-wrap:normal; }
		.attention{.l(24px);.w(85px);.h(23px);.c;.border-1(@red);.cursor;.right;.ml(10px);}
		.no_att{.bgred;.white;
			span{.mr(7px);}
		}
		.att{.red;}
	}
}

