.search(){
	.center(){
		.ser_c {
			.bgwhite; .h(24px); .left; .border-1c; .w(233px);
			input { .left; }
			.ipt1, .ipt2{ .h(24px); .left; .hidden; box-shadow: 0 1px rgba(34, 25, 25, 0.05) inset; -webkit-box-shadow: 0 1px rgba(34, 25, 25, 0.05) inset;
				input { .bgnone; .h(18px); .border-n; .mt(2px);}
			}
			.ipt1 { .bgwhite;.pl(3px); .w(206px);
				input { -webkit-appearance: none; .l(18px); .f(12px); .gray; .w(199px);  }
			}
			.ipt2 { background:#FFFFFF url("@{pic_url}/images/header/@{mls_ico}") no-repeat 6px -64px; .w(22px);
				input { .cursor; .ml(2px); .w(18px); }
			}
			.searchType { .w(231px); .border-1c; left: -1px; }
		}
	}
	.searchType {
		.bgwhite; .cursor; .hidden; .pr; padding: 1px;
		.search_bg { background: #F2F0F1; }
		li { padding: 3px 10px;
			.input_words { .red; }
		}	
	}
}
