/**userinfo**/
.user_info(){
	.common_shadowBox; .mt(14px); .p13;
	.brand { background: url("@{pic_url}/images/activity/welfare/welfare.png") no-repeat -748px -1px; .block; .h(39px); .mb(10px); .hidden; .w(200px); .pr; }
	.avatar { .h(128px); .w(128px); .auto; .pr;
		img { .h(128px); .w(128px); }
		.change { background: url("@{pic_url}/images/person/change_face.png") no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='@{pic_url}/images/person/change_face.png', sizingMethod='scale');_background-image:none;.h(30px); .left; .none; .pa; .cursor; bottom: 0; left: 0; .w(128px); }
	}
	.nickname { .c; .h(25px); .l(25px); .hidden; .w(100%); margin: 5px 0;
		a{ .f(14px); .fb;}
	}
	.speclial { .c; padding: 5px 0; .zoom; }
	.status { .hidden;
		li { .w(65px); .h(40px); border-right: 1px solid #ccc; .c; .left; 
			a { .cursor;.left; }
			span { .h(20px); .l(20px); .left; .hidden; .w(65px); }
			.nums { .red; }
		}
		.last { .border-n; }
	}
	.status.big .nums { .f(20px); .fb; }
	.flw_msg { .c; .mt(10px);
		.msg { background: url("@{pic_url}/images/header/@{mls_ico}") no-repeat -73px -257px; .cursor; .red; .ml(20px); .pl(18px); }
	}
	.weibo_url { .border-tc; .c; .mt(10px); .pt(10px); }
	.gomls { .c; .f(14px); margin:10px 0 0; .pt(10px); 
		a { .ml(33px); .left; .red;}
		em { background:url("@{pic_url}/images/home/h_ico1.png") no-repeat scroll 0 -159px transparent; padding:3px 0 0 22px; }
	}
}

/**个人页sidebar**/
.person_bar(){
	.common_shadowBox; .mt(14px); .p13;
	.e_tabs { .border-bc; .mb(12px); .hidden; .pb(12px); width: 100%; 
		.label { .mt(4px); .mb(4px); }
		.btn { .i_block; .fb; .h(26px); .l(26px); .p010; }
		.xy_font { .f(16px); .fb; .l(22px); }
		.dot{
			&left_n, &right_n{
				background: url("@{pic_url}/images/person/beaty4.png") no-repeat;
				.h(11px);.w(15px);.i_block;
			}
			&left_n{.bp(0px,-21px);}
			&right_n{.bp(-19px,-21px);}
		}
		.xy_bg { background: url("@{pic_url}/images/person/beaty4.png") no-repeat top right; .h(18px); }
		.medal {
			a, .medal_pic { height: 45px; .cursor; .left; .hidden; .w(46px); }
			a { .mt(8px); .mr(4px); }
		}
		.labelList .label { cursor: text; }
	}
	.last { .border-n; margin-bottom: 0; padding-bottom: 0; }
}

