@import "../block.less";
html{ .f(10*@f); }
img{ width:100%; .block; }
body{background-color:#fd94b7;}
.section-center{.h(100%);.pr;.ml(95*@w);
	.coupon-btn{.w(76%);.pa;top:175/323*100%;.h(15%);.c;.f(50*@px);left:30*@w;color:#d12a62;
		cursor:pointer;.pt(25/323*100%)
	}
}	
.section-bottom{.h(100%);.pb(70/300*100%)}


