@import "../block.less";
@w:1/640 * 100%;
body { padding:0;margin:0; background: #e5e1e3; }
div{ width: 100%; }
img{ width: 100%; .block;}
.app_mac { .none; }
.top_bnr { .pr; .h(100%); 
	.go_ico { .w(70%); margin: 50*@px auto -5%; }
}
.inner { padding: 6% 15%; .w(70%);
	.pro { .w(80%); margin: 0 auto 5%; }
}
.btn { .act_btn; .border-r(40*@px); .f(40*@px); .h(80*@px); .l(80*@px); .w(100%); }
.info { .w(90%); .auto; .pt(2%);
	.ipt{ .nor_input; }
	.sure { .w(60%); .auto;  }
}

.w_bg { background:#f892b5 url("http://img.meilishuo.net/css/images/wap/activity/act91/bg_pink.jpg") no-repeat; background-size:100%; }
.w_title { .w(391*@w);.auto;.pt(5%);.mb(1%); }
.w_1, .w_2, .w_3 {.w(609*@w);.auto; }
.w_list {.pl(3%);
	li {.left;.w(50%);.white;.f(12px);.mb(3%);
		span{.w(45px);.i_block;}
	}
}
.clear{ clear:both;}
@import "../footer.less";
