@import "../block.less";
body{
	.bgc(#fff);
	.pb(0.46rem);
}

img { .block; .w(100%); }
.title{
	.w(100%);
	.h(1.20rem);
	.f(.3rem);
	.fc(#6e5e61);
	.l(1.2rem);
	.fb;
	background-image: url("http://i.meilishuo.net/css/images/staticbed/tbg.png");	
	background-repeat: no-repeat;
	background-size: 100%;
}

/*页面内容*/
.clothes_test_box{
	.f(.32rem);
	.w(100%);
	.c;
	.item{
		.left;
		.c;
		.w(48%);
	    .f(.24rem);
	    .fc(#000);
	}
	ul{
		.hidden;
	}
}
.page1{.mb(2.9rem);}
.page0{.mb(2.12rem);}
.page2{.mb(0.1rem);}
.page3{.mb(2.17rem);}
// .page4{.mb(1rem);}
.page4{.mb(0.23rem);}
.page3 li:nth-child(3),.page3 li:nth-child(4){
	.mt(.2rem);
}
/*按钮*/
.btns{
	.c;

	.btn_style{
		.fc(#fff);
		.f(0.25rem);
		.bgc(#e8c73d);
		border-radius: 5px;
		border:none;
		.auto;
		.w(1.72rem);
		.h(.49rem);
		.l(.49rem);
		box-shadow: 1px 1px 2px #a5a5a5;
	}
	.btn_success{
		.none
	}

}
/*第一页选择框*/
.select_mask{
   	.pr;
   	.w(4.39rem);
	.h(0.52rem);
	.l(0.52rem);
	.fc(#fff);
   	.bgc(#ffb3bf);
   	.mt(0.1rem);
   	.c;
    .i_block;
    .f(0.22rem);
    .hidden; 
    border:1px solid #ffb3bf;
    -webkit-border-radius:.4rem;
	border-radius: .4rem;
	em{
		background-image: url("http://i.meilishuo.net/css/images/staticbed/xl_ic.png");
		background-repeat: no-repeat;
		background-size:100%;
		.pa;
		right:.23rem;
		.h(.16rem);
		.w(.23rem);
		.i_block;
		top:.17rem;
	}
}
.infos_prompt{
	.f(0.24rem);
	.fc(#666);
	.info_left{
		.left;
		.ml(1.24rem);

	}
	.info_right{
		.right();
		.mr(1.24rem);
	}
}
.p_age,.p_height,.p_weight{
	.pa;
   	.f(.1rem);
   	.w(4.39rem);
	.h(0.62rem);
    right: 0;
    top: 0;
    opacity: 0;
    border:1px solid #ffb3bf; 
    z-index: 30;
}
option{
	.c;
}
.page0_box_center{
	.c;
	margin: .88rem 0;
}

.page4{
	.hidden;
	.c;
	.none;
	.w(initial);
	.more_select_box{
		.mt(1.2rem);
		 .qst_list li{
			.f(0.24rem);
			.w(.95rem);
			.h(.46rem);
			.l(.46rem);
			background-repeat: no-repeat;
			background-size: 100%;
			margin:0.45rem 0;
			.fc(#797979);
			background-image: url("http://i.meilishuo.net/css/images/staticbed/pink_ic2.png");	
		}
		.qst_list ul .on_select{	
			.fc(#fff);
			background-image: url("http://d04.res.meilishuo.net/pic/_o/03/16/b83165a7d9fe42bb070ac2daf82e_93_45.cj.png");
		}
		.q_left ul{
			.pr;
			top:.7rem;
			left:.7rem;
		}
		.q_left{
			.left();
		}
		.q_center{
			.i_block;
			img{
				.w(3rem);
				.h(6.16rem);
				}
		}
		.right{
			.pr;
			.right;
			right:.7rem;
		}

	}
	
}

.windowDrive{
	.dialog{ z-index:100;.pr;.bgwhite;.i_block;.w(5.4rem);.border-r(.16rem);.i_block; .f(.24rem);
		&-con{ 
			padding:.4rem;
		}
		&-btn{
			.l(.9rem);
		}
	}
	.tag{.mt(.1rem);}
	.url-box{ .mt(.3rem);
		.alink{ .w(42%); .h(.6rem); .l(.6rem);  .i_block; .mr(.1rem); .ml(.1rem); .border-r(.1rem); .bgc(#f69); .fc(#fff); }
	}
	
}






