@import "../block.less";


.result_box{
	.pr;
	.pb(0.1rem);
	.result_title{
		.w(100%);
		.h(1.20rem);
		.f(.3rem);
		.fc(#6e5e61);
		.l(1.2rem);
		.fb;
		background-image: url("http://i.meilishuo.net/css/images/staticbed/tbg.png");	
		background-repeat: no-repeat;
		background-size: 100%;
		.c;
	}
	.result_infos{
		.bgc(#fff);
		margin:.3rem;
		border:1px solid #d1d1d1;
		box-shadow: 1px 2px 2px #d1d1d1;
		-webkit-border-radius: .1rem;
		border-radius: .1rem;
		.title_com{
			.f(.24rem);
			em{
				background-repeat: no-repeat;
				background-size: 100%;
				.i_block;
				.mr(0.06rem);
			}	
		}
		.match_box {
			.left;
			//.mr(0.08rem);
			.mt(0.23rem);
			.w(25%);
			.word_style{
				.hidden;
				.w(1.18rem);
				.h(.3rem);
				.c;
				.l(.32rem);
				.bgc(#ff8b8b);
				.f(.2rem);
				.fc(#fff);
				.mt(0.1rem);
				.mb(0.1rem);
				box-shadow: 0 0.02rem 0 #b47373;
				-webkit-border-radius: .2rem;
				border-radius: .2rem;
			}
			img{
				.w(1.18rem);
				.h(1.37rem);
			}
		}
		.ques_title{
			.f(0.3rem);
			.c;
			.fc(#ff8b8b);
			.mt(0.25rem);
			.mb(0.25rem);
			span{
			 	.fc(#6c6c6c);
			 	.ml(0.05rem);
			}
		}
		.aws_title{
			.f(.26rem);
			.fc(#444);
			background-image: url("http://i.meilishuo.net/css/images/staticbed/ye_bg.png");
			background-repeat: no-repeat;
			background-size: 100%;
			.w(2.68rem);
			.h(.48rem);
			.l(.48rem);
			.c;
		}
		/*1*/
		.match_propose{
			.f(0.22rem);
			padding:  0.17rem .3rem .3rem .3rem;
			.match_title{
				.fc(#4b4b4b);
				.mb(0.25rem);
				.heart{
					background-image: url("http://i.meilishuo.net/css/images/staticbed/re_heart.png");
					.w(0.21rem);
					.h(.21rem);
				}
			}
			.match_txt{
				.fc(#818181);

			}
		}
		/*2*/
		.match_key{
			.hidden;
			.w(91%);
			padding: 0 .3rem;
			.key_title{
				.fc(#ff6e6e);
				.yes{
					background-image: url("http://i.meilishuo.net/css/images/staticbed/yes.png");
					.w(0.39rem);
					.h(.21rem);
				}
		}


		}
		/*3*/
		.match_ban{
			.hidden;
			padding: .3rem;
			.ban_title{
				.fc(#909090);
				.no{
					background-image: url("http://i.meilishuo.net/css/images/staticbed/no.png");
					.w(0.24rem);
					.h(.11rem);
				}	
			}
			.no_style{
				.fc(#909090);
				.w(1.18rem);
				.h(.3rem);
				.f(0.2rem);
				.c;
				.l(.3rem);
				.mt(0.1rem);
				.mb(0.1rem);
			}
		}
	}

	.footer_box{
		.c;
		.f(0rem);
		
		.foot_txt{
			.pb(.33rem);
			
			.f(.2rem);
			.fc(#000);
			em{
				.i_block;
				.h(.01rem);
				.bgc(#000);
				.w(1.34rem);
				vertical-align:middle;
			}
			span{
				margin: 0 .15rem;
			}
		}
	}
	
}