@import "../block.less";

html { .f(62.5%); }
html, body { .bgwhite; .h(100%); }

.step1 { 
	.pa; top: 30%; left: 0; .w(100%); .f(1.8rem); 
	.code, #submit { .block; .auto; .c;  border: none; .border-r(4px);  }
	.code { .w(80%); .h(6rem); .pl(1rem); .pr(1rem);.f(2.5rem); .black; .bgc(#f0edef); }
	#submit { .w(12rem); .h(4rem); .mt(4.2rem); .l(4rem); .white; }
	span.active, #submit { .bgc(#ffa4c2); }
	.placeholder { color: #ccc5ca; }
	// ::-webkit-input-placeholder {
	//    text-align: center;
	//    color: #ccc5ca;
	// }

	// :-moz-placeholder { /* Firefox 18- */
	//    text-align: center;  
	//    color: #ccc5ca;
	// }

	// ::-moz-placeholder {  /* Firefox 19+ */
	//    text-align: center; 
	//    color: #ccc5ca; 
	// }

	// :-ms-input-placeholder {  
	//    text-align: center;
	//    color: #ccc5ca; 
	// }
}
.step2 {
	.pr; .none; .w(100%); .pt(70.31%);
	background: url('http://d05.res.meilishuo.net/pic/_o/10/f8/897689ac1bb4d1bd990d032d79ab_604_450.cg.png') top left no-repeat;
	background-size: 100% auto;
	h1, a { .c; .f(1.6rem); }
	h1 { .fc(#80737b); .fn; }
	a { .block; .w(60%); margin: 1.7rem auto; .l(4rem); .border-r(4px);  .white; .bgc(#ff8db3); }
}
.step2-coupon { 
	.pr; .w(23rem); .h(0rem); .pt(54%);  margin: -13.51rem auto 0;
	background: url('http://d05.res.meilishuo.net/pic/_o/5f/42/2cf4b60ccf600e4b676da7df0a38_478_260.cg.png') top left no-repeat;
	background-size: 100% auto;
	.cost, .desc, .time { .pa; left: 1.7rem; .w(19.6rem); }
	.cost { 
		top: 3.5rem; .f(1.8rem); .fc(#ffae12); 
		.cost-sign, .price { .right; }
		.cost-sign { .f(3rem); .mt(-.8rem); }
		.price { .f(5rem); .mt(-2.3rem); .ml(.7rem); font-style: normal; }
	}
	.desc { 
		top: 7.8rem; .f(1.8rem); .fc(#9c9097);
		.num { .right; }
		.clearfix;
	}
	.time { top: 10rem; .f(1.6rem); .fc(#d6cdd3); }
}

/* 对话框样式 */
#dialogLayer {
	.pa; .pt(3rem); .border-r(5px); .f(1.6rem); .bgwhite; z-index: 11;
	#dialogContent { .pl(1rem); .pr(1rem); .c; }
	.closeDialog {
		.block; .mt(3rem); .pt(1.5rem); .pb(1.5rem); border-top: 1px solid #d9d9d9; .fc(#f69); .c;
	}
}
#maskLayer {
	.pa; top: 0; left: 0; right: 0; bottom: 0; .bgc(rgba(0,0,0,.6)); z-index: 10;
}
