@import "../block.less";

body{
	.bgc(#ffa9bf);
}

.first-main{
	.first-bg{
		.block();
		.w(100%);
	}
	.first-btn{
		.w(43%);
		.pa();
		/*top: 60%;*/
		left: 50%;
		transform:translateX(-50%);
		-ms-transform:translateX(-50%); 	/* IE 9 */
		-moz-transform:translateX(-50%); 	/* Firefox */
		-webkit-transform:translateX(-50%); /* Safari 和 Chrome */
		-o-transform:translateX(-50%); 	/* Opera */
	}
	.first-rules{
		.pa();
		top: 0;
		right: 0;
		.w(18%);
		.h(59px);
	}
	.first-popwin{
		.none();
		.pa();
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0,0,0,.6);
		.first-popwin-rules{
			.w(86%);
			.pa();
			top: 4%;
			left: 50%;
			transform:translateX(-50%);
			-ms-transform:translateX(-50%); 	/* IE 9 */
			-moz-transform:translateX(-50%); 	/* Firefox */
			-webkit-transform:translateX(-50%); /* Safari 和 Chrome */
			-o-transform:translateX(-50%); 	/* Opera */
		}
		.first-popwin-know{
			.w(33%);
			.pa();
			top: 71%;
			left: 50%;
			transform:translateX(-50%);
			-ms-transform:translateX(-50%); 	/* IE 9 */
			-moz-transform:translateX(-50%); 	/* Firefox */
			-webkit-transform:translateX(-50%); /* Safari 和 Chrome */
			-o-transform:translateX(-50%); 	/* Opera */
		}
	}
}

.start{
	.w(100%);
	img{
		.block();
		.w(100%);
	}
	.content{
		background: url('http://d05.res.meilishuo.net/pic/_o/6f/e0/d04b31a7486de6f4b90b386096a3_640_230.ch.jpg');
		background-size: 100%;
		.pt(6px);
		.pb(6px);
		.distance{
			.num{
				.left();
				.f(20px);
				.fc(#4a0b07);
			}
			.num1{
				.fc(#ffdae3);
			}
			.jindu{
				.left();
				.w(60%);
				.h(20px);
				.bgc(#ffdae3);
				border-radius: 10px;
				.ml(4px);
				.mr(4px);
				.hidden();
				.have-jindu{
					.w(30%);
					.h(100%);
					.bgc(#ff1616);
				}
			}
		}
		p{
			.f(20px);
			.fc(#4a0b07);
			text-align: center;
			.mt(2px);
			.num2{
				.fc(#da0303);
			}
		}
		.start-btn{
			.w(40%);
			.mt(6px);
			.ml(30%);
			/*.pb(20px);*/
		}
	}
}