@import "../block.less";
@w:1/640 * 100%;
@px:1/2px;
img { .block; .w(100%); }
.count_down {.f(14px);display:inline-block;white-space:nowrap;
	img {.w(20*@px);.left;.mr(3%);.mb(5%);}
	}
.c_f {text-align:center; }
.act_time { .l(160%);.f(12px); }
.bg_pink { .c;color:#666;background:#e3dee0;.auto;.w(616*@w);.l(14px);.pt(1%);.pb(1%);.f(12px);
	#day, #hour, #minute, #seconds { color:#F69; }
}
/*分享*/
.starBox{ .star_box;}
