@import "../block.less";
body,div,img, a { margin: 0; padding: 0; }
body{
	background-color: #e35288;
}
img{
	.w(100%);
}
a{cursor: pointer;}
.show-main{
	.auto;
	position: relative;
	.show-banner{
		position: absolute;
	}
	.show-banner-1{
		.w(46.115702%);
		top: 45%;
		left: -1.8%;
	}
	.show-banner-2{
		.w(16.3%);
		top: 64.7%;
		left: 80%;
	}
	.up{
		position: absolute;
		top: 33%;
		color: white;
		left: 0;
		text-align: center;
		.w(100%);
		input{
			color: white;
			background:none;
			padding:0;
			border:0;
			.f(14px);
			line-height: 28px;
			.w(100%);
			text-align: center;
		}
	}
	.inner{
		.w(93.75%);
		top: 60%;
		left: 4%;
		position: absolute;
		div{
			.left;
			.w(31.6667%);
			.mr(1.6667%);
			a{
				.block;
				.w(100%);
			}
			p{
				text-align: center;
				.f(12px);
				color: #8c8c8c;
				.mt(2%);
			}
		}
	}
}
.show-detail{
	.auto;
	input.back{
		.w(100%);
		.h(15%);
		.pt(3%);
		.pb(3%);
	    -moz-border-radius: 15px;      /* Gecko browsers */
	    -webkit-border-radius: 15px;   /* Webkit browsers */
	    border-radius: 15px;            /* W3C syntax */
	    .mb(5%);
	}
	p{
		.ml(3%);
		color: white;
		.mt(5%);
		.mb(5%);
		input{ 
			color: white;
			background:none;
			padding:0;
			border:0;
			line-height: 28px;
			.f(14px);
			padding-bottom: 1.2%;
		}
	}
}
.show-main-1{
	.w(94.53125%);
	.mt(5%);
}
.show-detail-1{
	.w(88.125%);
}
.show-main-2{
	.w(96.09375%);
	.mt(5%);
}
.show-detail-2{
	.mt(5%);
	.block;
	.w(98.125%);
}
.show-main-3{
	.w(100%);
	.mt(5%);
}
@import "../footer.less";