@import "../block.less";
.banner {
  background: url("@{pic_url}/images/wap/activity/exo_ticket/banner2.jpg") no-repeat; background-size: 100%;
  .pt(767*@w);
  .pr;
  .winners {.pa;right:17%; bottom:2.5%;.pt(5%);.w(24%);}
}
.shortPoster {
  .pr;
  .pt(88*@w);
  background: url("@{pic_url}/images/wap/activity/exo_ticket/shortPoster.jpg") no-repeat; background-size: 100%;
  .fc(#fff);
  .t1 {.pa; left:10%; bottom:0;.pb(88/3*@w); .f(28*@px);}
  .t1 > span {.f(48*@px)}
  .t2 {.pa; right:10%;bottom:0;.pb(88/3*@w); .f(22*@px);}
}

.posterWall {
  background: url("@{pic_url}/images/wap/activity/exo_ticket/posterWall2.jpg") no-repeat; background-size: 100%;
  .pt(1134*@w);.pr;
  .poster {.pa;left:10%;right:10%; top:0; .clearfix};
  .p{.pr;width: 48%; .pt(64%); .mb(4%); }
  .p:nth-child(odd) {float:left}
  .p:nth-child(even) {float:right}
  .p > div {.pa;bottom:0;.w(100%);.h(18px);.f(10px); background: #ff8dad; opacity: 0.6; text-align: center; line-height: 18px}

}
.share {
  .pr;
  background: url("@{pic_url}/images/wap/activity/exo_ticket/share.jpg") no-repeat; background-size: 100%;
  .pt(234*@w);
  .weixin {background: url("@{pic_url}/images/wap/activity/exo_ticket/weixin.png") no-repeat; background-size: 100%;
    .pt(82*@w);
    .w(4%);
    .pa;
    bottom:200px
  }
}
/*分享组件的样式*/
.starBox{ .star_box; }

.findPoster {
  .w(96%);
  .pf;
  z-index: 99;
  bottom:0;
  padding: 2%;
  background: #ff4277;
  & > div {.auto;.w(50%);.pt(11%);background: url("@{pic_url}/images/wap/activity/exo_ticket/btn.jpg") no-repeat; background-size: 100%}
}



.shade {.pf;top:0; bottom: 0; left: 0; right: 0; background: #000000; opacity: 0.5; z-index: 100}
.guide {.pf; top:-100; .w(75%); padding: 12.5%; .pt(10%); z-index: 200;
  .top {.pt(133%);background: url("@{pic_url}/images/wap/activity/exo_ticket/yindaoTop1.png") no-repeat; background-size: 100%}
  .guideBtn {.pt(16.5%); background: url("@{pic_url}/images/wap/activity/exo_ticket/yindao_btn.png") no-repeat; background-size: 100%}
  .close {.pa;top:5%;right:9%;width:8%;padding-top: 14%;background: url(http://i.meilishuo.net/css/images/wap/activity/exo_ticket/close.png) no-repeat; background-size: 100%}
}

.repeat {.pf; top:0; .w(90%);padding: 5%; .pt(10%); z-index: 200;
  .r_top {.pt(16%);background: url("@{pic_url}/images/wap/activity/exo_ticket/rep1.png") no-repeat; background-size: 100%}
  .r_poster {.pr;.w(70%);.auto;.pt(100%); .pb(1%);background: url("@{pic_url}/images/wap/activity/exo_ticket/rep2.png") no-repeat; background-size: 100%};
  .r_poster > img {width: 93%; .pa; top:1%; left: 3%;}
  .r_btn {.w(50%);.auto;.pt(16%);background: url("@{pic_url}/images/wap/activity/exo_ticket/rep3.png") no-repeat; background-size: 100%}
}

.new {.pf; top:0; .w(90%);padding: 5%; .pt(10%); z-index: 200;
  .n_top {.w(80%); .auto; .pt(17%);background: url("@{pic_url}/images/wap/activity/exo_ticket/new1.png") no-repeat; background-size: 100%}
  .n_poster {.pr;.w(70%);.auto;.pt(98%); .pb(1%);background: url("@{pic_url}/images/wap/activity/exo_ticket/rep2.png") no-repeat; background-size: 100%};
  .n_poster > img {width: 93%; .pa; top:1%; left: 3%;}
  .n_btn {.w(50%);.auto;.pt(16%);background: url("@{pic_url}/images/wap/activity/exo_ticket/new2.png") no-repeat; background-size: 100%}
}

.good {.pf; top:0; .w(90%); padding:5%; .pt(10%); z-index:200;
  .g_info {.w(80%); .auto; .f(32*@px); .fc(#fff); line-height: 20px; .pb(30%); .pt(20%);}
  .g_info:first-line {.f(40*@px)}
  .g_btn {.w(50%);.auto;.pt(16%);background: url("@{pic_url}/images/wap/activity/exo_ticket/good.png") no-repeat; background-size: 100%}
}

.nullity {.pf; top:0; .w(90%); padding:5%; .pt(10%); z-index:200;
  .nu_info {.w(85%); .auto; .f(40*@px); .fc(#fff); .pb(40%); .pt(30%);}
  .nu_btn {.w(50%);.auto;.pt(16%);background: url("@{pic_url}/images/wap/activity/exo_ticket/close2.png") no-repeat; background-size: 100%}
}

@import "../footer.less";