@import "../block.less";
html{.f(10*@f);}
body{.bgwhite;}
img{ width: 100%; .block; }
.win_top { .pt(340*@w); background: url("@{pic_url}/images/wap/activity/project/fa_bg1.jpg") no-repeat; background-size: 100%;  }
.main { .pl(20*@w); .pr(20*@w); .pb(40*@w);
	.detail { .red; .f(26*@f); .l(38*@px); .pt(20*@px); }
	.big_pic { .mt(20*@px);
		figcaption { .f(26*@f); .l(36*@px); .pt(12*@px); }
		.pic1 { background: url("@{pic_url}/images/wap/activity/project/pic1.jpg") no-repeat; .pt(928/600*100%); 
			.link1 { right: 30/600*100%; top: 190/928*100%; }
			.link2 { bottom: 10/928*100%; right: 158/600*100%; }
		}
		.pic2 { background: url("@{pic_url}/images/wap/activity/project/pic2.jpg") no-repeat; .pt(762/600*100%); 
			.link1 { right: 160/600*100%; top: 206/762*100%; }
			.link2 { right: 100/600*100%; top: 338/762*100%; }
			.link3 { right: 240/600*100%; top: 480/762*100%; }
			.link4 { bottom: 50/762*100%; right: 170/600*100%; }
		}
		.pic3 { background: url("@{pic_url}/images/wap/activity/project/pic3.jpg") no-repeat; .pt(852/600*100%); 
			.link1 { right: 150/600*100%; top: 62/852*100%; }
			.link2 { right: 150/600*100%; top: 218/852*100%; }
			.link3 { right: 102/600*100%; top: 396/852*100%; }
			.link4 { bottom: 96/852*100%; right: 10/600*100%; }
		}
		.pic4 { background: url("@{pic_url}/images/wap/activity/project/pic4.jpg") no-repeat; .pt(932/600*100%); 
			.link1 { right: 120/600*100%; top: 72/932*100%; }
			.link2 { right: 120/600*100%; top: 178/932*100%; }
			.link3 { right: 160/600*100%; top: 258/932*100%; }
			.link4 { bottom: 412/932*100%; right: 120/600*100%; }
			.link5 { bottom: 10/932*100%; right: 70/600*100%; }
		}
		.pic5 { background: url("@{pic_url}/images/wap/activity/project/pic5.jpg") no-repeat; .pt(794/600*100%); 
			.link1 { right: 160/600*100%; top: 16/794*100%; }
			.link2 { right: 60/600*100%; top: 202/794*100%; }
			.link3 { right: 126/600*100%; top: 486/794*100%; }
			.link4 { bottom: 20/794*100%; right: 76/600*100%; }
		}
		.pic6 { background: url("@{pic_url}/images/wap/activity/project/pic6.jpg") no-repeat; .pt(908/600*100%); 
			.link1 { right: 104/600*100%; top: 52/908*100%; }
			.link2 { right: 92/600*100%; top: 196/908*100%; }
			.link3 { right: 100/600*100%; top: 386/908*100%; }
			.link4 { bottom: 90/908*100%; right: 100/600*100%; }
		}
		.pic7 { background: url("@{pic_url}/images/wap/activity/project/pic7.jpg") no-repeat; .pt(908/600*100%); 
			.link1 { right: 74/600*100%; top: 94/908*100%; }
			.link2 { right: 50/600*100%; top: 372/908*100%; }
			.link3 { bottom: 256/908*100%; right: 0; }
			.link4 { bottom: 132/908*100%; right: 106/600*100%; }
		}
		.load_pic { .pr; background-size: 100%;
			a { .pa; .h(68/820*100%); .w(200/600*100%); }
		}
	}
	
}

