@import "../block.less";
body{
	.bgc(#ED4A42);
}
.wrap{
	.pb(0.5rem);
	.inviteFriend{
		.w(6.4rem);
		.pb(6.2rem);
		background: url('http://d04.res.meilishuo.net/pic/_o/96/8a/0f8c8c79dbbd6cdd7ee9b029aaf4_640_626.ch.png') no-repeat;
		background-size: 6.4rem;
		.inviteDesc{
			.left;
			.mt(0.48rem);
			.ml(1.3rem);
			.w(3.8rem);
			.f(0.38rem);
			.fc(#FFFFFF);
			.c;
			.l(0.5rem);
			font-weight: bold;
		}
		.activityRull{
			.right;
			.mt(0.48rem);
			.mr(0.32rem);
			.f(0.3rem);
			.fc(#FFA3A3);
			.l(0.4rem);
		}
	}
	.shareWrap{
		margin: 0 auto;
		.pb(1rem);
		.w(5.5rem);
		.f(0.22rem);
		border-radius: 5px;
		background : url('http://d04.res.meilishuo.net/pic/_o/0f/5a/c2513090d487815b3e629cdb82f0_558_372.cg.png') no-repeat;
		background-size: 5.5rem;
		.shareText{
			.pt(0.3rem);
			ul{
				.pl(0.5rem);
				.pr(0.3rem);
				list-style: disc;
				text-align: justify;
				.coupon{
					.fc(#F1796D);
				}
				.friRegister{
					.fc(#F06156);
				}
				li{
					.l(0.35rem);
				}
			}
			.shareBtn{
				.pt(0.3rem);
				.wxFriends{
					.left;
					.ml(0.5rem);
					img{
						.w(2rem);
					}
				}
				.friendCircle{
					.left;
					.ml(0.5rem);
					img{
						.w(2rem);
					}
				}
			}
		}
	}
}
.rulewrap{
	.none;
	z-index: 10;
	.w(6.4rem);
	.mask{
		position: fixed;
		bottom: 0;
		top:0;
		left: 0;
		right: 0;
		background-color: RGBA(0,0,0,0.5);
	}
	.ruleInfo{
		.pa;
		top:0.75rem;
		margin: 0 0.4rem;
		padding: 0.45rem 0.45rem 0rem 0.45rem;
		z-index: 10;
		.f(.24rem);
		.bgc(#FFFFFF);
		border-radius: 0.5rem;
		.ruleTitle{
			.pb(0.15rem);
			.c;
			.fc(#FF7760);
			.f(0.3rem);
		}
		.ruleDesc{
			overflow: scroll;
			overflow-x:hidden;
			.pt(0.15rem);
			.w(4.6rem);
			.h(5.5rem);
			.l(0.4rem);
			text-align: justify;
		}
		// 禁掉弹框滚动轴
		.ruleDesc::-webkit-scrollbar{
			.none;
			.w(0);
		}
		.logo{
			margin: 0 auto;
			padding: 0.3rem 0;
			.w(1.3rem);
			.logoImg{
				.block;
				.w(1.3rem);
			}
		}
	}
	.closeImg{
		.block;
		.pa;
		top:0.6rem;
		right: 0.45rem;
		z-index: 11;
		.w(0.45rem);
	}
}