@import "../block.less";

img{ width:100%; .block; }
body{ .bgc(#ed5772); }

.coupon_box{ .w(100%); .pt(1136*@w); .pr;
	img{ .pa; top:0; left:0; }
	.btn_box{ .pa; .w(100%); top: 85%; left: 0; .c; }
	.btn{ color:#fff; border:1px solid #fff; padding:10px 37px; .border-r(18px); .i_block; }
}