@import "../block.less";
body{ background:#fff; }
img{ width:100%; .block; }

.go_shop{
	background: url('@{pic_url}/images/biz/apparel/go_shopwap.png') no-repeat;
}
.cd_left, .cd_right{background: url('@{pic_url}/images/biz/apparel/countdown_wap.png') no-repeat;}
.cd_last, .cd_1200, .cd_1200_end{background: url('@{pic_url}/images/biz/apparel/countdown_1200.png') no-repeat;}
.cd_last{
	.pa;top: 15%;left: 394*@w;.w(100*@w);.pt(54*@w);background-size: 4*100%;.bp(83%, 0);
}
.cd_1200{
	.pa;top: 26%;left: 22.25%;.w(350*@w);.pt(40*@w);background-size: 40/35*100%;.bp(0, 45%);
}
.cd_1200_end{
	.pa;top: 26%;left: 22.25%;.w(350*@w);.pt(40*@w);background-size: 40/35*100%;.bp(0, 75%);
}
.countdown{
	.pr;
	.down{ .pa; .c; top:110/300*100%; left:50*@w; .f(20*@px); color:#ff3c73; font-family:SimHei; .fb;
		b{ .w(30*@px); .h(36*@px); .l(36*@px); background:url('@{pic_url}/images/huodong/sale420/timebg_wapfz.png') no-repeat; background-size:100%; color:#fff; margin:0 3px; .f(22*@px); .i_block; .c;
		}
	}
}
.apparel_wrap{padding: 20*@w;}
.apparel_title{
	.pr;.mb(20*@w);
	a{.pa;top: 0;right: 0;.w(140*@w);.h(100%);.indent;}
}
.apparel_con{.hidden;}
.apparel_box{
	.w(290/600*100%);.left;.mb(20/600*100%);.bgc(#f6e3e9);.c;
	img{border: solid 1px #c6c6c6;border-bottom: none;.w(100%);box-sizing:border-box;}
	em{.w(15px);.h(0);border-top: 1px solid #ccc;.i_block;.mb(6px);}
	p{.f(20*@px);.l(26px);.hidden;.c;.h(26px);}
	span{.f(20px);}
	.box_con{
		height: 95px;border: solid 1px #c6c6c6;box-sizing:border-box;
		a{.f(30*@px);.fc(@darkGray);.l(32px);margin: 0 8px;}
		.goods_num{.h(35px);.l(30px);}
		.go_shop{.w(84px);.h(24px);.auto;.indent;.cursor;.block;background-position: right top;}
		.pre_go_shop{.bp(0, 0);}
	}
}
.odd{.ml(20/600*100%);}

.spring_clothing a{.w(600*@w);.auto;.block;.mb(20*@w);}

/*分享*/
.starBox{ .star_box; }
