@import "../block.less";
img{ width:100%; .block; }

.top{.pa;top: 0;left: 0;.w(100%);}
.shop_wrap{
	padding: 0 20*@w;.pr;z-index: 5;
	.title{margin: 20/600*100% 0;}
}
.shop_con{.hidden;.pr;}
.shop_box{
	.w(290/600*100%);min-height: 290/600*100%;.left;.mb(20/600*100%);.bgc(#f6e3e9);.c;.pr;.border-1(#c6c6c6);box-sizing: border-box;
	img{.w(100%);}
	.mask{.pa;top: 0;left: 0;.h(100%);}
}
.odd{.ml(20/600*100%);}

.spring_clothing a{.block;.mb(20*@w);}

/*dialog*/
.dialog();
.draw_box{ .c; margin:20px 0; }
.toupdate{ 
	p{ margin:20px 0; }
	.btn3zi{ .act_btn; .border-r(40*@px); .f(38*@px); .h(60*@px); .l(60*@px); .w(180*@px); margin:12*@px auto;}
}

/*分享*/
.starBox{ .star_box; }