@import "../block.less";
body,div,img, a { margin: 0; padding: 0; }
img{
	.w(100%);
}
.audio-banner{
	.block;
}
.audio;
body{
	.f(11px);
	color: #666666;
}
.audio-main{
	.pb(20px);
	position: relative;
	overflow: hidden;
	.audio-title{
		position: absolute;
		top: 0px;
		.w(70%);
		p{
			box-shadow: 0px 0px 5px #333;
			-moz-box-shadow: 0px 0px 5px #333; /* 老的 Firefox */
			transform: rotate(-30deg);
			.w(60%);
			.f(16px);
			.mt(10%);
			.pl(14%);
			.pt(2%);
			.pb(2%);
		}
	}
	.audio-left{
		.mt(10%);
		.left;
		.ml(3.75%);
		.mr(3.75%);
		.w(35.9375%);
		.audio-left-up{
			.w(73.043478%);
			.ml(auto);
			.mr(auto);
			.block;
		}
		p{
			text-align: center;
		}
		.audio-content{
			text-align: left;
			text-indent:2em;
			line-height: 1.2em;
		}
		span{
			.block;
		}
	}
	.audio-right{
		box-shadow: 0px 0px 3px #666;
		-moz-box-shadow: 0px 0px 3px #666; /* 老的 Firefox */
		.mt(10%);
		background-color: white;
		position: relative;
		.left;
		.w(53.125%);
		.audio-right-top{
			.w(95.294118%);
			.ml(auto);
			.mr(auto);
			.mt(3%);
			.block;
		}
		.audio-float-block{
			.w(70%);
			text-align: right;
		}
		.audio-talk{
			img{
				.w(10px);
			}
		}
		.audio-price{
			.ml(5%);
		}
		.audio-love{
			img{
				.w(9px);
			}
		}
		div{
			.pb(3px);
		}
	}
}
.audio-down{
	.w(100%);
	text-align: center;
	a{
		.red;
	}
	.h(70px);
	line-height: 70px;
	border-top: 1px solid #ecffeb;
	color: #a17296;
	.f(14px);
}

.audio-color1{
	color: #fffefe;
	background-color: #a27c7c;
}
.audio-backcolor1{
	background-color: #ffe9e3;
}
.audio-color4{
	color: #fffefe;
	background-color: #6c7f67;
}
.audio-backcolor4{
	background-color: #ecffeb;
}
.audio-color2{
	color: #fffefe;
	background-color: #5f82a3;
}
.audio-backcolor2{
	background-color: #e0edff;
}
.audio-color3{
	color: #fffefe;
	background-color: #a17296;
}
.audio-backcolor3{
	background-color: #ffe2eb;
}
.audio-backcolor5{
	background-color: #f3f3f3;
}
.audio-title-color{
	color: #a27c7c;
}
.audio-big{
	.f(20px);
	img{
		.w(22px);
	}
}
.audio-float-left{
	.left;
}
.audio-float-right{
	.right;
}
.audio-state-left{
	left: 0 ;
	p{
		-ms-transform: rotate(-30deg);		/* IE 9 */
		-webkit-transform: rotate(-30deg);	/* Safari and Chrome */
		-o-transform: rotate(-30deg);		/* Opera */
		-moz-transform: rotate(-30deg);		/* Firefox */
		.ml(-15%);
		.pr(15%);
	}
}
.audio-state-right{
	right: 0;
	p{
		-ms-transform: rotate(30deg);		/* IE 9 */
		-webkit-transform: rotate(30deg);	/* Safari and Chrome */
		-o-transform: rotate(30deg);		/* Opera */
		-moz-transform: rotate(30deg);		/* Firefox */
		.ml(20%);
		text-align: right;
		.pr(20%);
	}
}


.audio_control{
	color: black;
	.w(40%);
	left: 30%;
	bottom: 10%;
	.audio_duration{
		.w(50%);
	}
	.start{
		left: 60%;
	}
	.pause{
		left: 60%;
		.mt(-8px);
	}
}
@import "../footer.less";