@import "../block.less";
img{ width:100%; .block; }

.top{ color:#f4f5f3; text-decoration: underline; .pr; .mb(20*@px);
	p{ .pa; top:5%; right:4%; }
}
.goods_box{ .mb(20*@px); .block;
	.lazy_pic{ .w(100%); .pt(742*@w); .block; background-size: cover; }
	.img_box{ .pr; .block;
		p{ .pa; .w(100%); bottom:0; left: 0; background-color: rgba(255, 255, 255, 0.7); color:#333; .c; .f(24*@px); .l(48*@px);  }
	}
	p{ color: #c9c9c9; .c; .f(24*@px);  background-color: #fff;  }
	.padding_box1{ padding:20*@px 0; color:#858585; }
	.padding_box{ padding:28*@px 0; }
	.flag{ background-color: red; color:#fff; .f(20*@px); .pl(4px); .pr(4px); .mr(6px); .border-r(2px); }	
	.price{ color:#000; .f(28*@px); .mr(6px); }
	del{ .f(20*@px); }
	.price_box{ 
		display: -webkit-flex; 
		display: flex; 
		-webkit-flex-flow:row nowrap; 
		flex-flow:row nowrap;
		-webkit-justify-content:center; 
		justify-content:center; .l(20px);
	}
}
.rule{ .pr; min-height: 754*@px;
	.chacha{ .pa; .w(24px); .h(22px); 
		background: url("http://d04.res.meilishuo.net/pic/_o/a0/c7/316bca7339c6c129575f06ac56bb_47_44.cf.jpg") center center transparent no-repeat;
		background-size: 100%; top:2%; right:2%;
	}
	.iknow{ .pa; .w(100%); .h(84/666*100%); bottom: 0; }
}
/*dialog*/
.dialog();
#dialogLayer{ background:none; }
#dialogLayer .dialogTitle{ .none; }

.pullUp;

/*回顶部*/
.gotop{ .pf; right:20px; .w(12.5%); .none;  }
