@import "../block.less";

html,body{
    .h(100%);
    .w(100%);
}
body{
    .h(100%);
    .w(6.4rem);
    min-height: 518px;
    background: url("http://d03.res.meilishuo.net/pic/_o/01/04/6c3c79f739641ef0ac42331b78db_640_1136.cf.jpg");
    background-size:100% 100% ;
}
.main{
    .pa;
    .w(100%);
    .h(100%);
    min-height: 568px;
}
.big_imgs{
    .block;
    .w(6.4rem);
}
.yuyue_wrap{
    .w(5rem);
    .auto;
    li{
        .h(0.52rem);
        .mt(0.1rem);
        .pr;
        .lbl,.txt_box,.select_box{
            .block;
            .pa;
            top:0;
            .h(0.5rem);
            .l(0.5rem);
            text-align: left;
            padding: 0;
        }
        label{
            left: 0;
            .w(1.45rem);
            .f(0.25rem);
            .fc(#ffffff);
            .hidden;
        }
        .txt_box{
            border: 1px solid #f0e7b7;
            .w(3.6rem);
            left: 1.5rem;
            background: transparent;
            border-radius:0 ;
            text-indent: 10px;
            .hidden;
            .fc(#f0e7b7);
            .f(0.22rem);
            input,select{
                display: block;
                .w(3.5rem);
                .h(0.5rem);
                background: transparent;
                border: none;
                appearance:none;
                -moz-appearance:none;
                -webkit-appearance:none;
                text-indent: 10px;
                .fc(#f0e7b7);
                .f(0.22rem);
            }
           
        }
         .btn_yzm{
                .pa;
                top:0;
                left: 1.5rem;
                display: inline-block;
                .w(1.64rem);
                .h(0.52rem);
                background: url("http://d02.res.meilishuo.net/pic/_o/f4/10/2c39c666f6b8ac74fc7968a8f69c_164_55.cg.png") no-repeat;
                background-size:100% 100% ;
                .f(0.24rem);
                .fc(#e7e0d1);
                text-align: center;
                .l(0.52rem);
            }
        .short_txt{
            .w(1.8rem);
            left: 3.28rem!important;
        }
        .select_box{
            .f(0.24rem);
            p{
                .w(1.25rem);
                .h(0.5rem);
                text-align: left;
            }
            .select_arrow{
                .pa;
                top:0.07rem;
                right: 0.1rem;
                .w(0.35rem);
                .h(0.3rem);
            }
            .show_option{
                .pa;
                top: 0.5rem;
                left: 0;
                .w(3.6rem);
                .h(100px);
                background: #FFFFFF;
            }
        }
    }
}
#city{
    background: url("http://d01.res.meilishuo.net/pic/_o/a7/bf/8b63890b3489ae3764ef7bcb5ed4_35_25.ch.png") no-repeat;
    background-size:0.35rem 0.25rem ;
    background-position: 3.1rem center;
}
#shoppe{
    background: url("http://d01.res.meilishuo.net/pic/_o/c3/98/1ed9dd7e9e50e6eeb760e3879356_17_9.ch.png") no-repeat;
    background-size:0.17rem 0.09rem ;
    background-position: 3.2rem center;
}
#data{
    background: url("http://d04.res.meilishuo.net/pic/_o/16/04/7f4854fbc28e311bc41d0234922c_35_25.ch.png") no-repeat;
    background-size:0.35rem 0.25rem ;
    background-position: 3.1rem center
}
.tips{
    .mt(0.2rem);
    .w(5.88rem);
    .fc(#ffffff);
    .f(0.18rem);
    .l(0.26rem);
    .auto;
}
.first_popwin{
    .hidden();
    .close_pop{
        .pa;
        .w(0.56rem);
        right: 2px;
        top:2px;
    }
    .yy_title{
        .f(0.56rem);
        .l(1.15rem);
        .fc(#ffe5a0);
        text-align: center;
    }
    .rules-content{
        .h(7.5rem);
        overflow:auto ;
    }
    .rules{
        .auto;
        .w(90%);
        .pb(0.2rem);
        border-bottom: 1px dashed #ffe5a0;
        li{
            padding-top: 5px;
            .f(0.24rem);
            .fc(#ffffff);
            .l(0.38rem);
        }
        .sub_t{
            .fc(#ffe5a0);
            .f(0.4rem);
        }
        .sub_t_t{
            .f(0.3rem);
            .fc(#ffe5a0);
        }
        .date{
            .f(0.28rem);
            .fc(#ffffff);
        }
        
    }
    .none();
    .pa();
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    .w(5.8rem);
    .h(8rem);
    border: 1px solid #FFFFFF;
    background: url("http://d03.res.meilishuo.net/pic/_o/01/04/6c3c79f739641ef0ac42331b78db_640_1136.cf.jpg") center center;
    border-radius: 4px;
    display: none;
}
#btn_yuyue{
    .block;
    .auto;
    .w(2.15rem);
    img{
        .w(100%);
    }
}
.select_city{
    .w(5rem);
    .auto;
    p{
        .f(0.24rem);
        .r>input::after {
             content: attr(data-value);
        }
    }
    .ul_city{
        li{
            .fc(#ffffff);
            .w(100%);
            .pt(0.2rem);
            .l{
                .f(0.28rem);
                float: left;
                .w(0.5rem);
                .h(0.5rem);
                text-align: center;
                .l(0.5rem);
            }
            .r{
                float: left;
                .w(4.5rem);
                input{
                        -webkit-appearance: none;
                        appearance: none;
                        width: 1.3rem;
                        height: 0.5rem;
                        .l(0.5rem);
                        border: 1px solid #FFFFFF;
                        border-radius: 3px;
                        text-align: center;
                        margin: 0 0.1rem 0.1rem 0;
                        padding: 0;
                        float: left;
                        .fc(#ffffff);
                        .f(0.24rem);
                }
                input::after {
                    .fc(#ffffff);
                    .f(0.24rem);
                    content: attr(data-value);
                }
            }
        }
    }
    
}
.city_wrap{
    .h(6.5rem)!important;
}
.first_rules{
    .w(1.5rem);
    .h(1.5rem);
    .pa;
    top:0;
    right: 0;
}
.tips_small{
    .pa;
    .w(3.9rem);
    .fc(#f0e7b7);
    .f(0.36rem);
    top:2.4rem;
    right: 0.5rem;
}
.success_wrap{
    .w(100%);
    .h(100%);
    background: url("http://d05.res.meilishuo.net/pic/_o/89/5c/26c42391d1ba6916a2e026cda58e_640_1136.cg.jpg") no-repeat;
    background-size: 100% 100%;
}

