@import "../block.less";

body { .bgwhite;}
img { .w(100%); .block;}


header {
	.pt(3%); .c;.w(100%); .pa; top: 0; left: 0; .white;
	.avatar { 
		.w(140*@px); .h(140*@px); border: 5px solid #e25f54; border-radius: 50%; .auto;
		img{ .w(100%); .h(100%); border-radius: 50%; }
	}
	h2 { .f(28*@px); .pt(2%); }
}
.listMain {
	header {
		.intro { .w(80%); .auto; .mt(2%); }
		h3 { 
			.f(26*@px); .fb; .pt(4%);
			span { .fc(#ffe063);}
		}
	}
	ul { 
		.pt(2%); .pl(3%); .pr(3%); .fc(#595056); .pb(45px);
		li {
			.clearfix; .pb(12*@px); 
			.goods_pic { .left; .w(65%); .mr(2%);}
			.infor { .left; .w(33%);}
			h3 { 
				.f(28*@px); .l(34*@px); .pt(1%); .h(32px); .hidden;
				span { .fc(#e56656);}
			}
			p { 
				.c; .mt(5%);
				.icon { 
					.w(76*@px); .h(76*@px); .i_block;
					background: url("http://d03.res.meilishuo.net/pic/_o/ae/61/4ed658be90d7ea14ff83bedfb020_74_74.ch.png") no-repeat;
					background-size: 100%;
				}
				.want_icon { 
					background: url("http://d05.res.meilishuo.net/pic/_o/02/a7/65aaa9098db425ea9bdead2edaf8_74_74.cf.png") no-repeat;
					background-size: 100%;
				}
				.word { .block; .pt(4%); .f(20*@px);}
			}
		}	
	}

	.next { .pf; bottom: 0; left: 0; .w(100%); .bgc(#e46357); .l(90*@px); .c; .white; .f(38*@px); }
	
}

.shareMain {
	.none;
	header {
		.want_list {
			.c; .pt(4%);
			img { .i_block; .w(20%); .mr(2%); .ml(2%);}
		}
	}

	.intro { 
		.f(30*@px); .c; .pt(6%); .l(24px); .fc(#80737b); 
		span { .fc(#ff7373); }
	}

	.shareBtn { .w(85%); .auto; .mt(6%);}
}

/*dialog*/
.dialog();
.dialog {
	#maskLayer { background:rgba(0 ,0 ,0 , 0.9);}
	#dialogLayer { 
		background: none;
		box-shadow: none;
		.dialogTitle { .none;}
	}
}
.dialog_box {
	.mt(-92%); .ml(-12%);
	.share_pic {
		.w(320px); .h(252*@px); .i_block; .bgc(#331621);
		background: url("http://d03.res.meilishuo.net/pic/_o/f7/27/87ee414cc7f77e3ecdab584e4c42_640_241.ch.png") no-repeat;
		background-size: 100% 100%;
	}
}