@import "../block.less";
html{
.f(10*@f);
}
body{.bgc(@white);}
img{.w(100%);.block;}
.dialog;
/*分享*/
.starBox{ .star_box; }
/*lunbo*/

.goods_wall{ 
	.pt(30*@px); .pl(20*@w); .pr(20*@w);
	.poster_grid{
		&:nth-child(2n) { .right;}
		.w(290/600*100%); 
		.mb(20*@px);
		border:1px solid #e6e6e6;
		.left;
		border-radius:5px;

	}
	figcaption{
		.f(1.4rem);
		.h(44*@px);.pt(16*@px);
		.price{
			.left;
			.pl(6%);
		}
		.like{
			.right;
			.pr(6%);
		}
		.icon-heart{ .icon >.heart; }
	}
}
.sliderBanner;
.top_banner{
	.pr;
	li{
		.w(100%);
	}
}
.bottom_cover{
	.w(100%);
	.pa;
	bottom:0;
	z-index:2;
}
.time_wrap{
	.pr;.hidden;.w(100%);
	.num{
		.pa;top: 0;left: 0;.h(100%);.w(100%);.c;
		.time{.fc(@red);.f(42*@px);.mt(2%);}
		.num_wrap{.w(100%);.f(36*@px);.mt(2%);.mb(1%);.l(46*@px);}
		.num_wrap span{.fc(@white);.w(32*@px);.i_block;margin: 0 .3%;background: url("@{pic_url}/images/wap/activity/exo/num_bg.png") no-repeat;background-size: 100%;}
	}
}
.picshow_wrap{
	.pr;
	.banner-slider-wrap li{.w(100%);}
	img{.w(100%);.left;}
	.banner-slider-point{.pa;right: 10%;}
}
.exo_news .exo_box{
	.pr;overflow:hidden;
	.exo_con{
		.pa;top: 0;left: 0;.pt(30*@w);
		img{.w(38%);.ml(13%);.mr(3%);.left;}
		.text{.w(40%);.left;.f(22*@px);.fc(#3b3b3b);}
		.week{.fc(@gray);.right;.l(30*@px);.l(26*@px);.pt(6*@px);text-align: right;.mr(10*@px);}
		.day{.f(60*@px;);.fc(@gray);.right;}
		.news_text{.right;.l(1.5);.pt(5%);}
	}
	a{
		top:0;
		left:0;
		.block;
		.pa;
		.w(100%);
		.h(100%);
		z-index:5;
	}
}

.goods_wrap {
	.pt(30*@px); .pl(20*@w); .pr(20*@w);
	h3{ .fn; .f(30*@px); .red; .pb(10*@px);}
	.goods_list { .clearfix; .pt(20*@px);}
	li { .left; .w(290/600*100%); .pb(20*@px); 
		&:nth-child(2n) { .right;}
	}
	.li_line { .border-1(#d9d9d9); .border-r(10*@px); .bgwhite;}
	.good_img { 
		.block; .w(290/290*100%); border-bottom: 1px solid #d9d9d9; .hidden;
		img { border-top-right-radius: 5px; border-top-left-radius: 5px;}
	}
	.good_info { 
		.pt(20*@px); .pr(20*@w); .pl(20*@w); .f(22*@px); 
		p { .l(32*@px);}
	}
	.good_t { .h(64*@px); .hidden;}
	.good_msg { .fc(#999); .pt(20*@px); .f(20*@px);
		.integral {.red;}
		.good_money { 
			span { .t-through; .fc(#b6b6b6);}
		}
	}
	.btn { 
		.l(46*@px); .f(24*@px); .c; .white; .border-r(10*@px); .block; .mt(20*@px); .mb(20*@px);
	}
	.go {.bgc(#ff8cb3);}
	.have_go { .bgc(#d9d9d9);}
	.confirm { .bgred;}
}

.group{.pl(16px);}
.group_box{
	box-sizing: border-box;
	.w(288*@w);.left;margin: 8*@w;.pl(8*@w);.pr(8*@w);.border-1(rgba(0,0,0,.15));.border-r(5px);
	.title{.f(24*@px);.fc(#000);margin: 10*@px 0;}
	.go_group{.w(120*@px);.h(40*@px);
		.f(20*@px);.l(40*@px);.border-r(5*@px);
		.bgc(@red);.c;.fc(@white);margin: 10*@px auto;
	}
}

.guanzhu a{.w(50%);}

.bg3{.pr;
	a{
		.pa;.block;.w(100%);.pt(72*@w);top:0;
	}
}
.popup{
	.pa;
	top:0;
	z-index:20;
	.w(100%);
	span{
		.pa;
		right:40*@w;
		.w(56*@w);
		.h(56*@w);
		.block;
		top:0;
	}
}
.masker{
	z-index:19;
	top:0;
	.w(100%);
	position:fixed;
	height:100%;
	.bgwhite;
	opacity:.9;
}
.p1,.p2,.p3,.p4{ .pr;
	img{ .w(100%); }
}
.join{.pa; .w(100%); top:0; }
.bg4{.pr;}
.join span{font-size:18px;.i_block;.w(31*@w);.c;color:white;}
.join span:first-child{
	.pl(134*@w);
}
.extended{
	.pr;
	a{
		.pa;
		.block;
	}
	.toggle{
		.w(100%);
		.h(70*@w);
		top:30*@w;
	}
	.link{
		.ml(20*@w);
		.w(600*@w);
		.h(60*@w);
		top:567*@w;
	}
}
.welfare_fan{
	.mt(20*@w);
	.shrinked,.extended{
		.pr;
		div{
			.pa; left:65*@w; .pt(6*@w);top:0; font-size:16px;
			span{ .mr(10*@w); color:@red; font-size:24px; }
		}
	}
}
