@import "../block.less";
@w:1/640 * 100%;
@sw:1/542 * 100%;
body { padding:0;margin:0; background: #efefef; }
.main{.pr;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);backface-visibility: hidden;perspective: 1000;}
.punch_top{ background: no-repeat; background-size:100%;.w(100%);.pt(385*@w);.h(0);.pr;.mb(10*@w);}

.punch_num{ background-repeat: no-repeat; background-size:100%;.w(100%);.hidden;.pt(230*@w);.h(0);.pr;}
	.user_msg{
		.c;.f(14px);.pa;top: 65*@w;.w(100%);.fc(#fff);text-shadow: 0 1px rgba(216,75,122,.75);
		span{.f(16px);padding: 0 5*@w;.fc(#fff1a5);}
	}
	.punch_username{max-width: 135px;.hidden;.i_block;.h(16px);.l(17px);.mb(-2px);}
	.punch_wrap_h{.pa;top: 76/230*100%;.w(100%);}
		.punch_preS_wrap{.pa;.pt(120*@w);}
		.punch_preS{background-repeat: no-repeat;background-size: cover;.w(100%);.h(100%);.pa;top: 0;}
.punch_goods_recommend{
	min-height: 300px;.w(640*@w);.auto;.bgc(#fff);
	img{.w(100%);}
	a.outer{.block;.pb(10*@w);position: relative;}
	.inner{
		position: absolute;
		top: 410*@w;
	}
	.can{
		.w(249*@w);
		left: 295*@w;
	}
	.not{
		.w(298*@w);
		left: 295*@w;
	}
}

.punch_log{
	.w(100%);.pt(150*@w);background-repeat: no-repeat;background-size: 100%;.pr;
}
.punch_msg{
	.fc(#fff);.fb;.w(180*@w);.pt(17*@w);.pb(17*@w);.c;.border-r(3px);.bgc(#f69);-webkit-box-shadow: 0 1px 1px rgba(114,30,58,.75);-moz-box-shadow: 0 1px 1px rgba(114,30,58,.75);box-shadow: 0 1px 1px rgba(114,30,58,.75);.pa;top: 40/150*100%;right: 48*@w;
	&:hover{.fc(#fff);}
}

.punch_goods_title{
	.w(100%);.pt(65*@w);background-repeat: no-repeat;background-size: 100%;
}
.clear{ clear:both;}

/*分享*/
.starBox{ .star_box;
	h2 { .l(150%);.pt(2%); }
}
@import "../footer.less";
