@import "../block.less";

html,body{
	.h(100%);
}

.main{
	.h(100%);
	background:url('http://d03.res.meilishuo.net/pic/_o/c0/0b/1367c0d445dbd818a5dd951efe8c_640_1136.cg.png') no-repeat;
	background-size:100%,100%;
}
.dialog();
.dialog {
	#maskLayer { background:rgba(0 ,0 ,0 , 0.8);}
	#dialogLayer { 
		background: none;
		box-shadow: none;
		.dialogTitle { .none;}
	}
}

.conten{
	.c;
	.w(100%);
	padding-top:138%;		
	.btn{
		.bgc(#ff6599);
		padding:6px 24px;
		color:#fff;
		font-size:18px;
	}
}

	.info{
		.bgwhite;
		.c;
		background-color:#f8f8f8;
		margin-left:auto;
		margin-right:auto;
		border-radius:10px;		
		.submit{
			.border-r(8px);
			.bgc(#ff6599);
			padding:6px 36px;
			border:1px solid #ff6599;
			color:#fff;
		}
		h2{
			.bgc(#ff6599);
			.h(12%);
			color:#fff;
			padding-top:6%;	
			padding-left:10%;	
			border-top-left-radius:10px;
			border-top-right-radius:10px;
			margin-bottom:6%;
		}
		p{
			padding-bottom:10%;
		}
		span{
			font-size:22px;
		}
		.txt{
			border:none;
			padding-left:11px;
			color:#a3a3a3;
			.w(75%);
			.h(30px);
			.l(25px);

		}
		.close{
			padding:3%;
			float:right;
			color:#fff;
			font-size:16px;
		}
		.tips{
			border: 1px solid #ff6599;
		}
	}
