@import "../block.less";
body{ background:#d9ced2; }
img{ width:100%; .block; }
.ios_simple;
.top_bnr{ border-bottom:1px solid #fff; }
/*波浪导航*/
.navTop;
.nav_top{ color:#794053;
	.goods{
		li{ .w(100%/2);
			a{ color:#794053; }
		}	
	}		
}
.poster_grid{.pa;}

.textvc{ .c; .l(@header_nav); .f(24*@px); }
.share{ .w(100%); .pf;bottom:0px;left:0px;z-index:1000; .none; }
/*分享*/
.starBox{ .star_box; .pf; left:0; bottom:0; }
/*2列海报*/
.colFlag{ z-index:2; }
.poster;
.goods_wall{  .pb(180px);
	figcaption{ .pt(15*@px);
		.price{ .h(26*@px);.left;.pr; }
		.like{ .right; }
		.icon-vote{ .icon >.vote; }
	}
}
.pullUp{
	.pullUpDown > .common;.pullUpDown > .loading;
	&:before{
		.nowrap;
		.ml(-10px);
	}
	&[status="tap"]{
		background:0 none;	
		&:before{
			content:"上拉看更多..."	
		}
	}
	&[status="stop"]{
		background:0 none;	
		&:before{
			content:"木有了...";	
		}
	}
}

.btnBox { .auto; .w(80%); .pt(16*@px); .pb(16*@px);
	.btn, .voted { .border-r(12*@px); .f(24*@px); .h(58*@px); .l(58*@px); .w(100%); }
	.btn { .act_btn; }
	.voted { .red; .block; .c; .bgc(#ffe6ef); border: 1px solid #ffc5d8; }
}	

