@import "../block.less";
@w:1/640 * 100%;
@sw:1/542 * 100%;
body { padding:0;margin:0; background: #EEE; .f(16px);}
.main{.pr;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);backface-visibility: hidden;perspective: 1000;}
.mainTitle{.l(45px);.c;.bgc(#F6F6F6);}
.goodsWrap{
	.bgc(#fff);.fc(#2D2D2D);border-top:1px solid #D6D6D6;
	img{.w(100%);}
	.goodsTitle{.fb;.ml(24*@w);.mr(24*@w);.l(20px);.mt(15px);}
	.goodsPrice{.fc(#FF5000);.ml(24*@w);.l(35px);}
}
.buyBtn{
	.l(30px);.bgc(#FF5000);.border-r(5px);.fc(#eee);.c;margin: 20px 10px 0;.block;
	&:hover{.fc(#fff);}
}
.imagesTitle{.fc(#fff);.bgc(#7A8193);.l(40px);.c;border-top:1px solid #D6D6D6;}
.imagesWarp img{.w(100%);}
.show{
	background-color: #ffff73;
	.mb(20px);
	.ml(10px);
	.mr(10px);
	padding: 10px;
	.l(20px);
	.f(8px);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: #444444;
}
.tra{
	width:0px; height:0px;
	border:5px solid;
	border-color:transparent transparent #ffff73 transparent;
	border-style:dashed dashed solid dashed;
	margin: 0 auto;
}
@import "../footer.less";
