@import "../block.less";
@import "../biz/beauty_sale/goods_show.less";
body{.bgc(#fff);}
html{ .f(10*@f); }
img {.w(100%);.block;}
.s_desc{border-top: solid 1px #d9d9d9;
	border-bottom: solid 1px #d9d9d9;
    padding: 9px 10/320*100%;.fc(#646464);.f(22*@px);}
.container{
	.rushtab{
		margin: 10px 0;
		.tab{
            .w(49.8%);.h(60*@px);.bgc(#fea5c3);.left;
            .c;.f(40*@px);.yahei;.fc(#fff);.l(60*@px);;
		}
		.c_tab{ .bgc(#f69);}
		.r_tab{.right;}
		.clearfix; 
	}
	.rushbox{
		.none;
		.rushitem{.mb(10px);}
		hgroup{margin: 3px 10/320*100%;.pr;}
		.line{.w(100%);.h(0px);border-top:solid 1px #ccc;.block;.pa; top:8px;}
		.round{.w(10*@px);.h(10*@px);border-radius:50%;.i_block;.bgc(#ccc);.mt(6px);}
		.l_dot{.left;}.r_dot{.right;}
        h1{.w(60%);.pr;.bgc(#fff);.c;margin:0 auto;
        	.f(40*@px);.fc(#999);.fn;
        }
        .pinkfc{.fc(#f69);}
        .rushtip{.pr;.bgc(#fff);}
        .rushpros{
        	.probox{
        		border-bottom:solid 1px #d9d9d9;
        		figure{
        		.pr;.mt(6%);
        		.tipbg{top:-6%;.pa;.w(188/320*100%);}
        		.tipcontent{
        			i{font-style:normal;}
        			.blackf{.fc(#000);}
        			.w(167/320*100%);.h(8%);.block;.pa;top:-6%;.pt(2%);
        		    .fc(#fff);.f(22*@px);.pl(11/320*100%);
        		    box-shadow: 0 0 0 transparent,0 0 0 transparent,7px 0 0 transparent,0px 2px 7px #9d9898;                    
        		}
        		.progress{
        			.h(8%);.block;.pa;top:-6%;.pt(2%);.bgc(#f69);
        		}
        		span.preload{
        			.w(100%);.pt(110/320*100%);.block;
        			background-image: url("@{pic_url}/images/huodong/tuan/prebg.png");
        			background-size: 100%;
        		}
        	}
        		figcaption{
        			padding:12*@px 20/320*100%;
        			.proTitle {.f(28*@px);.h(14px);.hidden;.remain{.f(24*@px);.fc(#f69);.ml(18*@px);}}
        			.proPrice{
        				.mt(10*@px);
        				.price {.f(60*@px);.fc(#f69);font-family: Arial;.left;.pt(4px);
			        i {font-style:normal;}
			    }
		            .orig_price {.f(24*@px);.fc(#999);.left; .pt(19px);}
		            .clearfix;
		        }
		            .status_btn {

		            	.w(118/320*100%);.h(66*@px);.l(66*@px);.right;.f(28*@px);.white;.border-r(2px);.c;.bgc(#ffac5c);

		            }
		            .clock{
		            background:url('http://i.meilishuo.net/css/images/wap/activity/tuan/whiteclock.png') no-repeat;
		            background-size: 17px;.w(17px);.h(15px); vertical-align: text-bottom;.i_block;.mt(3px);}    
		            span.over_btn{.bgc(#898989);}
		            span.reminded_btn{background:#ccc;}
                    span.empty_btn{.bgc(#b6b6b6);} 
                    span.buy_btn{.bgc(#f69); a{.block;.w(100%);.h(100%); .fc(#fff);}}
        		}
        	}
        }
	}
	.recommendbox{
		.tit{.pr;.mb(20*@px);
		a{ .pa; .w(156*@w); .h(100%); top:0; right:0; }
	}
	}
	.moreBtn{ .w(139/320*100%);.block; .h(60*@px);.l(60*@px); border:solid 1px #f69;
		margin:20*@px auto;.c;.border-r(6px);}
}
/* 特卖单宝 */
.goods_box_wrap { .clearfix;}
.goods_show;
.goods_img{span.bs_load_img{background-image: url("@{pic_url}/images/huodong/tuan/prebg.png");}}
/*dialog*/
.dialog();
#dialogLayer .dialogTitle .close{.none;}
.dialog_box{
	.pt(1rem);.c;
	p{ .l(2rem); .f(1.4rem); }
	.mask_btn{.white; .border-r(40*@px); .border-n; .f(1.6rem); padding: 1% 12px;.w(30%); .left;.ml(5%);.mt(20px);
		}
	.r_btn{.right;.mr(5%);background:#f69;}
	.l_btn{background:#ffad5c;}
}
/* 分享 */
.starBox { .star_box; }