@import "../block.less";
body{
	.bgc(#010F32);
}

img{
	.w(100%);.vm;
}

.middle-wrap{
	background:#010F33 url("http://d02.res.meilishuo.net/pic/_o/ce/95/c4707712aecf69f3f295cd3fdeeb_640_513.cj.png") no-repeat;background-size: 100%;.pr;
	.pb(76%);
	.pic {
		.w(60%);.ml(20%);z-index: 1;.pa;
	}
	.luck{.pa;.hidden;.w(78%); .pt(64%);left:22.5%;top:22%;
		p{  .pa; .w(20%);
			img{
				.w(100%);.ml(0);.pr;
			}
			.gray{
				.pa;top:0;left:0;background:rgba(215,154,153,.7);z-index:333;.w(640*@w);.h(100%);z-index: 0;
			}
			&:nth-child(1){top:7px;left:4.5%;}
			&:nth-child(2){top:7px;left:161*@w;}
			&:nth-child(3){top:8px;left:294*@w;}
			&:nth-child(7){top:27%;left:4.5%;}
			&:nth-child(4){top:27%;left:294*@w;}
			&:nth-child(6){top:52%;left:4.5%;}
			&:nth-child(5){top:52%;left:294*@w;}
		}
		.fire{
			.pa;top:27%;left:163*@w;.f(11px);.fc(#fff);.c;.w(20%);.block;
			background: no-repeat center bottom url('http://d02.res.meilishuo.net/pic/_o/0c/73/1cfc771082a8511700692eb39afb_101_154.cj.jpg');
			background-size: 90% auto;
			.pb(30%);.pt(10%);
		}
		.fire2{
			background:no-repeat left bottom  url("http://d05.res.meilishuo.net/pic/_o/7f/b4/039b954c1f6046497ab4890b1e63_101_154.cj.jpg");
			background-size: 100% auto;
		}
	}
	.opp{
		.pa;bottom:2%;left: 0px;.w(100%);.c;.f(13px);.fc(#fff);
	}
}
.share-wrap{
	overflow: hidden;
	background:#fff url("http://d02.res.meilishuo.net/pic/_o/29/9c/936948525a4eebf753bff24ab55a_640_820.cj.jpg") no-repeat;
	background-size: 100%;
	.pb(118%);.pr;

	.invite{float: left;
		margin-top: 10px;
		margin-left: 10%; width: 34%;
		img{
			width: 100%;
		}
	}
	.main{float: right;
		margin-top: 10px;
		margin-right: 10%; width: 34%;
		img{width: 100%;
		}
	} 
}



.share-wrap1{
	background: url("@{pic_url}/images/wap/web/wx/watch-bg3.jpg") no-repeat center;
	background-size: 100%;.mt(12%);
	.pb(71%);border-top: 1px dashed #fff;
	span{
		.f(28*@px);.fc(#fff);.w(100%);.block;.c;.pt(7%);.l(66*@px);
	}
}

.share-wrap2{
	background: url("@{pic_url}/images/wap/web/wx/coup10-bg2.jpg") no-repeat center;
	background-size: 100%;
	.pb(72.5%);
	span{
		.f(28*@px);.fc(#fff);.w(100%);.block;.c;.pt(4.5%);.l(66*@px);
	}
}
.share-wrap3{
	background: url("@{pic_url}/images/wap/web/wx/coup-bg2.jpg") no-repeat center;
	background-size: 100%;
	.pb(73%);
	span{
		.f(28*@px);.fc(#fff);.w(100%);.block;.c;.pt(6%);.l(66*@px);
	}
}
.shareno-wrap{
	position: relative;
	.invite{
		position: absolute;
		left: 0; top: 0;
		width: 48%; height: 100%;
	}
	.main{
		position: absolute;
		right: 0; top: 0;
		width: 48%; height: 100%;
	}
}


.record-wrap{
	.pr;.mt(10%);
	a{
		.f(28*@px);.fc(#fff);.w(100%);.c;.l(66*@px);.pa;top:14%;left:0;
	}
}
.record-data{
	.fc(#fff);.pb(10%);
	p{
		.c;.l(80*@px);.pb(7%);.pt(10%);
	}
	ul{.hidden;.ml(10%);
		li{
			.left;.l(50*@px);.w(50%);.f(12px);.pl(10%);
		}
	}
}
.dialog();
#maskLayer{background: rgba(0, 0, 0, 0.7);}
#dialogLayer{
	background: url("@{pic_url}/images/wap/web/wx/know.png") no-repeat top center;
	background-size: contain;.border-r(0px);padding: 0px;box-shadow:none;
}

#dialogLayer .dialogTitle .close{
	.pa;top:0;left: 0;.border-n;box-shadow:none;.w(100%);.h(100%);background: transparent;
}

.popup{.fc(#fff);
	p{
		&:nth-child(1){
			.l(30px);.f(30*@px);.pl(5%);.mb(5%);
		}
		i{
			.w(25%);.i_block;.ml(5%);.f(30*@px);
		}
		input{
			.border-n;.l(50*@px);.mb(30*@px);.w(60%);.border-r(6*@px);.pl(24*@px);
		}
		span{
			.l(70*@px);.mb(30*@px);.w(60%);.f(20*@px);
		}
		.sub{
			.w(30%);.ml(36%);.bgc(#fadd23);.fc(#e53d3c);.pl(0);.pr(0);.mb(7%);-webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
		}
	}
	.pop-last{.pr;
		span{
			position: absolute;top: 0px;left: 30%;line-height: 20px;
		}
	}
}



