@import "../block.less";

body{
	background-color: white;
}
.wrap{
	overflow: hidden;
	.imgWrap{
		.c;
		img{
			display: block;
			.left;
			.w(6.4rem);
		}
	}
	.testWrap{
		clear: both;
		.c;
		padding: 0 0.2rem;
		.testTitle{
			.f(0.4rem);
			.pt(0.5rem);
			.pb(0.22rem);
		}
		.testDesc{
			.w(4.12rem);
			margin: 0 auto;
			.fc(#BFB7B7);
			.f(0.2rem);
			.l(0.3rem);
		}
	}
	.inputWrap{
		.c;
		.pt(0.4rem);
		input{
			.block;
			margin: 0 auto;
			border: 1px solid #BFB7B7;
			.w(3.8rem);
			.h(0.75rem);
			.f(0.26rem);
			.c;
			border-radius: 5px;
		}
		.subBtn{
			.block;
			margin: 0 auto;
			.f(0.26rem);
			.w(3.9rem);
			.mt(0.24rem);
			padding: 0.24rem 0;
			.bgc(#FF6666);
			border-radius: 5px;
			.fc(white);
		}
	}
	.testBtn{
		.c;
		.testInfo{
			.mt(0.28rem);
			.f(0.24rem);
			.num{
				.fc(#FF6666);
			}
		}
		.moreTest{
			.pr;
			.f(0.24rem);
			.mt(0.28rem);
			.c;
			.greyLine{
				.pa;
				left: 0;
				top: 0;
				z-index: -1;
				.w(5.74rem);
				.h(0.15rem);
				margin: 0 0.35rem;
				border-bottom:1px solid #D8D8D8 ;
			}
			.moreText{
				.h(0.3rem);
				padding: 0 0.05rem;
				.l(0.3rem);
				.bgc(#FFFFFF);
			}
		}
		.moreTestInfo{
			.mt(0.3rem);
			a{
				img{
					.w(1.22rem);
				}
			}
		}
	}
}
.windowDrive {
  .dialog {
    font-size   : .32rem;
    line-height : 1;
    width       : 70%;
  }
  .dialog-con {
    padding : .3rem 0;
  }
  .dialog-btn {
    line-height : 1;
    span {
      padding : .3rem 0;
    }
  }
}