@import "../../block.less";
@import "../footer.less";

.main{
	// .pa();
	// top: 0;
	// right: 0;
	// bottom: 0;
	// left: 0;
	// -webkit-transition: all 4s linear;
	overflow: hidden;
}
.btn{
	.left();
	.w(33.3%);
	.h(5%);
	.f(20px);
}
img{
	.block();
}
.basketball-board{
	.w(60%);
	.auto();
	.mt(15%);
	.pr();
	z-index: -2;
}
.basket{
	.w(34%);
	.auto();
	.mt(-40px);
}
.basketball{
	.pa();
	.w(25%);
	bottom: 0;
	left: 0;
}