@import "../block.less";
.wrap{
	.btn{
		p{
			.left;.w(33.33333%);.l(60*@px);.c;.bgc(#e4fa2e);.mb(10px);.mt(10px);
			&:nth-child(1){.bgc(#2ed1fa);}
			&:nth-child(3){.bgc(#2ed1fa);}
			.time{.fc(#d40505);}
		}
	}
	ul{
		li{.w(33%);.left;.pb(45%);
			border-bottom: 1px solid #10522e;border-left: 1px solid #10522e;
			background:url('@{pic_url}/images/lark/mouse/hole.gif'); 
			background-size: 100%;
		}
		.on{background:url('@{pic_url}/images/lark/mouse/mouse.gif');background-size: 100%;}
	}
}