@import "../../atom.less";

body{
	background: url('http://d01.res.meilishuo.net/pic/_o/d4/7e/b6203dc5d56a4f62980b250da7f1_651_3.ch.jpg') repeat-y;
	background-size: 100% auto;
}
canvas{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.header{padding: 20px;overflow: hidden; font-size: 20px; color:#fff; line-height: 30px;}
.score{float: left;}
.start{float: right;  height: 30px; padding:0 20px; border:none ; border-radius: 6px; background-color: #46A546; color:#fff; font-size: 20px;  }

