@import "../block.less";

body {
	.bgc(#fff6f5);
}
img {
	.w(100%);
}
.red {
	.fc(#ff0000);
}
.redOne {
	.fc(#94002a);
}
.redOne() { .fc(#94002a);}
.bnr {
	img { .block;}
}
.contract_wrap {
	.rewards_user { .bgc(#ffdab5);}
	.bgc(#ffdab5); .mr(14*@px); .ml(14*@px);
	.user_pic {
		.left; .pr;
		img {
			&:nth-child(1) {
				.w(167*@px); .h(186*@px);
			}
			&:nth-child(2){.pa; top: 24*@px; left: 16*@px; .w(126*@px); .h(116*@px); .block; .border-r(50%);}
		}
	}
	.intro {
		.pb(6*@px); 
	}
	.getMoney {
		.f(30*@px); .fc(#7f3510); .pb(30*@px);
		b {
			.w(24*@px); .h(46*@px); .i_block; .ml(27%);
			background: url("@{pic_url}/images/wap/activity/baoyang/icon_next.png") no-repeat; 
			background-size: 100% 100%;
		}
		p {
			.c; .l(30*@px); .pt(10*@px);
			span {
				.fc(#ff0000);
			}
		}
	}
	.btn {
		.block;
		img {
			.block;
		}
	}

	.reward_btn {
		.c; .pt(36*@px); .pb(30*@px); .f(30*@px); .fc(#7f3510); .pr;
		a { .i_block; .h(98*@px);}
		.now_btn { .w(386*@px); }
		.try_btn { .w(546*@px); }
		.add_btn { .w(386*@px); }
		p {
			.pt(30*@px);
		}
		.rank {
			.pb(10*@px); .pt(0);
			b { .fn;}
		}	
	}
}
.user_wrap {
	.clearfix; .bgc(#fff6f5); .pb(36*@px);
	dd {
		.left; .w(70%);
		p {
			&:nth-child(1){
			.fc(#b25759); .f(28*@px); .l(28*@px);
			}
		}
		.want {
			.pt(10*@px); .w(95%);
		}
	}
}
.select_wrap {
	.ml(14*@px); .mr(14*@px); .fc(#b25759); .f(28*@px); .mt(20*@px);
	li {
		.bgwhite; .border-r(100*@px); .border-1(#f9d09a); .mt(20*@px); .pl(32*@px); .pr(32*@px); .clearfix; .h(78*@px); .pt(30*@px); .l(78*@px);
		span {
			.i_block;
			&:nth-child(1) {
				.left; background-size: 100% 100%;
			}
			&:nth-child(2) {
				.left; .ml(30*@px); .l(40*@px); .pt(6*@px);
			}
			&:nth-child(3) {
				.right; .w(46*@px); .h(46*@px);  background-size: 100% 100%;
			}
		}
		.picture_icon {
			.w(54*@px); .h(50*@px); .mr(6*@px);
			background: url("@{pic_url}/images/wap/activity/baoyang/picture_icon.png") no-repeat;
		}
		.meal_icon {
			.w(60*@px); .h(38*@px);
			background: url("@{pic_url}/images/wap/activity/baoyang/interact_icon.png") no-repeat;
		}
		.video_icon {
			.w(56*@px); .h(36*@px); .mr(4*@px); .mt(8*@px);
			background:  url("@{pic_url}/images/wap/activity/baoyang/video_icon.png") no-repeat;
		}
		.song_icon {
			.w(46*@px); .h(52*@px); .mr(14*@px);
			background: url("@{pic_url}/images/wap/activity/baoyang/song_icon.png") no-repeat; 
		}
		.normal {
			background: url("@{pic_url}/images/wap/activity/baoyang/notSelected.png") no-repeat;
		}
		.selected {
			background: url("@{pic_url}/images/wap/activity/baoyang/selected_icon.png") no-repeat;
		}
	}
}

.rewardsWrap { .bgc(#fff6f5);}

.left_icon {
	.pa; .block; left: -3px; .w(42*@px); .h(66*@px); bottom: 0;
	background: url("@{pic_url}/images/wap/activity/baoyang/left_icon.png") no-repeat;
	background-size: 100% 100%;
}
.right_icon {
	.pa; .block; right: -3px; .w(36*@px); .h(40*@px); bottom: -2px;
	background: url("@{pic_url}/images/wap/activity/baoyang/right_icon.png") no-repeat;
	background-size: 100% 100%;
}

.top_icon { 
	.pa; .w(66*@px); .h(116*@px); top: -3px; right: -4px;
	background: url("@{pic_url}/images/wap/activity/baoyang/top_icon.png") no-repeat;
	background-size: 100% 100%;
}

.rule_wrap {
	.pt(22*@px); .pb(18*@px); .pr;
	img {
		.block;
	}
}


/*===  list_wrap  ===*/

.list_wrap {
	.border-1(#ffdcb2); .bgc(#fff5e9); .border-r(10*@px); .pl(16*@px); .pr(16*@px); .mt(24*@px);
}

.list_info {
	.pb(16*@px);
	li { .clearfix; .pt(40*@px);}
	.user_icon {
		.left; .w(72*@px); .h(72*@px);
	}
	.usre_info {
		.ml(90*@px);
		p {
			.f(24*@px); .fc(#333); .l(34*@px);
			.user_name { .f(28*@px); .fc(#862f09);}
			.money {
				.right;
				span { .fc(#ff0000);}
			} 
			&:nth-child(2) {
				.fc(#cfbaa0); .pt(6*@px); .pb(6*@px);
			}
			&:nth-child(4) {
				.border-1(#f8dbd8); .fc(#862f09); .f(26*@px); .bgwhite; .pl(30*@px); .pr(30*@px); .mt(14*@px); .pt(24*@px); .pb(24*@px);
			}
		}
		.comment {
			word-break:break-all;
		}
	}
}

.plan_wrap {
	.c; .f(30*@px); .fc(#7f3510); .pt(36*@px); 
}
.total_money {
	.tr; .fc(#ff6900); .f(20*@px); .pt(18*@px);
}
.progress {
	.bgc(#ffca63); .h(14*@px); .border-r(50*@px); .mt(30*@px); .pr;
	span {
		.pa; top: 0; .h(14*@px); .block;
		&:nth-child(1) {
			.bgc(#ff6900); .border-r(50*@px);
		}
	}
	.cur_money {
		top: 28*@px; .fc(#ff002d); .border-1(#ffcbc5); .border-r(6*@px); .l(32*@px); .h(30*@px); .f(18*@px); .bgwhite; .pr(10*@px); .pl(10*@px);
		&:before {
			content: ''; .pa; .w(10*@px); .h(10*@px); .bgwhite; top: -4px; left: 40%; -webkit-transform: rotate(45deg); transform: rotate(45deg); border-top: 1px solid #ffcbc5; border-left: 1px solid #ffcbc5;
		}
	}
	.total_money {
		right: 10*@px; top: 20*@px; .fc(#ff0000);
	}
}

.no_money {
	.pt(8*@px); .c; .fc(#7f3510); .pb(46*@px);
	.noBody { .pt(76*@px); .pb(32*@px);}
	.cryIcon { .pl(20%); .pr(20%); }
}

.user_info {
	.pt(46*@px); .pr; .mt(14*@px); .pb(30*@px); .bgc(#ffdab5);
	.user_pic {
		img {
			&:nth-child(1) {
				.w(158*@px); .h(180*@px);
			}
		}
	}
	.user_name { 
		.c; .f(28*@px); .pb(30*@px);
	}
	.user_get {
		.clearfix; .pb(30*@px);
		.get_money {
			.left; .bgc(#fff5e9); .border-1(#ffce93); .border-r(10*@px); .c; .pt(32*@px); .pb(24*@px); .w(70%); .ml(14*@px);
			p {
				&:nth-child(1) {
					.f(48*@px); .l(48*@px); .redOne;
				}
				&:nth-child(2) {
					.f(20*@px); .l(20*@px); .fc(#ce7a5c); .pt(14*@px); .pb(16*@px);
				}
			}
			a {
				.block;
				img{.w(200*@px); .h(50*@px);}
			}
		}
	}

	.listInfo_wrap {
		.pl(20*@px); .pr(20*@px);
	}
}

// use 
.use_userInfo {
	.c;.mt(14*@px); .pr;
	.use_pic {
		.pt(30*@px); .c;
		span { .i_block;}
		img {
			.block;
			&:nth-child(1) {
				.w(214*@px); .h(186*@px);
			}
			&:nth-child(2) {
				.w(126*@px); .h(116*@px); .mt(-162*@px); .ml(46*@px); .border-r(50%);
			}
		}
	}
	.nickname {
		.f(28*@px); .redOne; .pt(54*@px);
	}
	.getCoupon {
		.pt(10*@px); .pb(4*@px);
	}
}

.coupon {
	.pl(14*@px); .pr(14*@px); .pb(30*@px);
	dl {
		.bgc(#ff8cb3); .white; .clearfix; .pt(30*@px); .pb(18*@px); .pl(50*@px); .pr(14*@px);
		dt {
			.left; .f(72*@px);
		}
		dd {
			.right; 
			span {
				.block; .tr;
				&:nth-child(1) {
					.f(36*@px); .pb(16*@px);
				}
				&:nth-child(2) {
					.f(24*@px);
				}
			}
		}
	}
	p {
		.bgwhite; .f(26*@px); .pt(18*@px); .pb(18*@px); .pl(26*@px); .fc(#aaa);
	}
}
.check {
	.f(24*@px); .c; .fc(#b26747); .l(38*@px); .pb(12*@px);
}

.use_intro {
	.pr(14*@px); .pl(14*@px); .pt(30*@px); .fc(#ba7053);
	p {
		.f(24*@px); .l(36*@px); 
	}
}

.openApp {
	.pt(30*@px); .block;
	img { .block;}
}


//pay_wrap 
.pay_wrap {
	.pl(30*@px); .pr(30*@px); .pt(40*@px); .pb(40*@px); .mt(14*@px); .pr; 
}

.userInfo_pay {
	.clearfix;
	.user_pic { .right; .mr(20*@px);}
	.money { .f(36*@px); .fc(#c43a4d);}
	dd{
		.left; .f(24*@px); .fc(#333);
		.txt {
			.w(240*@px); .h(96*@px); .c; .bgwhite; .l(96*@px); .f(72*@px); .fc(#c43a4d); .border-n; .vm; .mt(22*@px); .mr(10*@px); vertical-align: bottom;
		}
		p {
			&:nth-child(3) {
				.pt(20*@px);
			}
		}
	}
}

.msg {
	.pt(30*@px);
	p {
		.pr; .pt(26*@px); .redOne; .pb(26*@px);
		span {
			.pa; right: 0; top: 10*@px; .w(94*@px); .h(78*@px);
			background: url("@{pic_url}/images/wap/activity/baoyang/msg_icon.png") no-repeat;
			background-size: 100% 100%;

		}
		&:before {
			content: ''; .pa; top: 39px; left: 20px; .w(20*@px); .h(20*@px); .bgwhite; border-top: 1px solid #ffe8d0; border-left: 1px solid #ffe8d0; -webkit-transform: rotate(45deg); transform: rotate(45deg);
		}
	}
	.txtarea {
		.border-1(#ffe8d0); .bgwhite; .border-r(10*@px); .w(91%); .pt(20*@px); .pl(24*@px); .pr(24*@px); .pb(20*@px); .l(38*@px); .fc(#999);
	}

	a {
		.pl(25%); .pr(25%); .block; .pt(34*@px); .pb(20*@px);
	}
}

.meTooMt {
	.h(100*@px); .w(100%);
}
.meToo {
	.pf; bottom: 0; left: 0; .w(100%); .h(90*@px); .l(90*@px); .c; .bgc(#ab2541); .white; .f(30*@px); 
	span {
		.i_block; .w(0); .h(0); .ml(20*@px); border-top: 6px solid transparent; border-left: 12px solid white; border-bottom: 6px solid transparent;
	}
}
.paySuccess {
	.mt(20*@px);
	img { .block;}
	p { .pt(40*@px); .pb(34*@px); .f(30*@px); .fc(#942a00); .l(50*@px); .c; }
}
.pt20 { .pt(40*@px);}

/*dialog*/
.dialog();
.dialog {
	#maskLayer { background:rgba(0 ,0 ,0 , 0.7);}
	#dialogLayer { 
		background: none;
		box-shadow: none;
		.dialogTitle { .none;}
	}
}
.dialog_box {
	.c; .mt(-300*@px);
	.share_pic {
		.w(494*@px); .h(514*@px); .i_block; .bgc(#331621);
		background: url("@{pic_url}/images/wap/activity/baoyang/shareLead.png");
		background-size: 100% 100%;
	}
}