@import "../block.less";
html,body { background: #fff6bc}
.banner {.pt(82%); background: url("@{pic_url}/images/wap/activity/coupon/banner10.jpg") no-repeat;
  background-size: 100%;}
.btn {display: block;.auto;.w(40%); .pt(15%);background: #fff6bc}
.staticPic {.pt(52%); background: url("@{pic_url}/images/wap/activity/coupon/coupon10.jpg") no-repeat;
  background-size: 100%;}