@import "../block.less";

body {
  font-size: 14px;
} 
a{-webkit-tap-highlight-color: rgba(0,0,0,0);}

.fl{float: left;}.fr{float: right;}

.warp{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.index{
	width: 100%;
	height: 100%;
	background:#000 url('http://d02.res.meilishuo.net/pic/_o/fe/b9/dd1bf67fdb66af8f596890fb458f_640_1138.ch.jpg') left top no-repeat;
	background-size: 100% auto;
	overflow: hidden;
	
}

.foot{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #fff;
	padding: ;
	
	.start_but{
		display: block;
		margin:0 auto .7rem auto ;
		width: 1.2rem;
		height: .37rem;
		line-height: .37rem;
		text-align: center;
		background-color: #FBE603;
		font-size: .2rem;
		color: #0D070F;
	}

	.link{
		width: 75%;
		overflow: hidden;
		margin:0 auto 0.13rem auto;
		a{
			font-size: .13rem;
			color:#fff;
			border-bottom: 1px solid #fff;
		}
	}

	.addressBut{display: block;
		font-size: .13rem;
		text-align: center;
		margin-bottom: .1rem;
		color: #fff;
		
	}
	.addressBut:hover{
		color: #fff;
	}

	.text{
		font-size: .11rem;
		line-height: .18rem;
		text-align: center;
		margin-bottom: .07rem;
	}
}

.game{
	display: none;
	width: 100%;
	height: 100%;
	background:url('http://d05.res.meilishuo.net/pic/_o/1e/3b/a336db0b570c646f57fa4a04a4eb_640_1138.ch.jpg') left top no-repeat;
	background-size: 100% auto;
	overflow: hidden;

	.time{
		position: relative;
		margin:.8rem auto 0 auto ;
		width: 70%;
		img{
			display: block;
			width: 100%;
		}
		.time_box{
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 16.5%;
			text-align: center;
			line-height: .37rem;
			font-size: .13rem;
		}
	}
	
	.game_box{
		position: relative;
		margin: .26rem auto;
	}
}


.address{
	display: none;
	width: 100%;
	height: 100%;
	background-color:#fff;
	overflow: hidden;
	
	.inputWarp{
		margin:5px .15rem;
		height:.45rem;
		border-bottom:1px solid  #EAEAEA;
		font-size: .14rem;
		overflow: hidden;
		.name{
			float: left;
			width: .73rem;
			height: 100%;
			line-height: .45rem;
			color: #B9B3B7;
		}
		.inputBox{
			height: .35rem;
			padding-top: .05rem;
			margin-left:.73rem;
			
			input{
				display: block;
				width: 100%;
				height: .35rem;
				line-height: .35rem;
				font-size: .14rem;
				outline: none;
				border: none;
			}
		}
	}
	.submitBut{
		margin:.5rem auto ;
	}
}

.countDown{
	position: absolute;
	width: 240px;
	height: 100px;
	margin-left: -120px;
	left:50% ;
	top: 1rem;
	z-index: 66;
	line-height: 100px;
	font-size: 60px;
	text-align: center;
	color: #ffd200;
	font-weight: bold;	
 	
}


.but{
	display: block;
	margin:0 auto;
	width: .9rem;
	height: .25rem;
	font-size: .14rem;
	text-align: center;
	line-height: .25rem;
	color: #3B3411;
	background-color: #FBE602;
	border-radius: .14rem;	
}


.mypopbox{
	display: none;
	position: fixed;
	z-index: 999;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 160%;
	overflow-x: hidden;
	

	.wxGuide{
		display: none;
		position: absolute;
		z-index: 100;
		top: 1rem ;
		left: 15% ;
		width: 70% ;
		img{
			display: block;
			width: 100%;
		}
	}

 
	.dialog {
		display: none;
		position: absolute;
		z-index: 100;
		top: 100px;
		background: #fff;
		width: 2.2rem;
		left: 50%;
		margin-left: -1.1rem;
		border-radius: 6px;
		padding-top: 8px;
		
		.tit{
			display: block;
			width:100%;
			img{
				display: block;
				width:100%;
			}
		}
		.con{
			margin:0 .1rem;
			overflow: hidden;
			overflow-y: auto;
			p{	width: 100%;
				color: #8D8D8D;
				border-bottom: #F2F3F7 1px solid;
				padding: .04rem 0;
 				font-size: .1rem;
				line-height:.12rem;
			}


		}
		.text{
			margin:0 .15rem;
			overflow: hidden;
			font-size: .12rem;
			color: #8D8D8D;
			text-align: center;
			
			.fz1{font-size: .12rem;}
			.fz2{font-size: .15rem;}
			.fz3{font-size: .20rem;}
			.red{ color: #FF4949;}
		}
		.gifts{
			padding:5px 0;
			img{
				display: block;
				width: 100%;	
			}
		}
		
		.bottom{
			overflow: hidden;
			padding:.17rem ;
		}
	}

	.overlay{
		position: absolute;
		z-index: 90;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		background-color: rgba(0, 0, 0, 0.5);
	}
}


@media screen and (min-width:320px) and (max-width:360px){html{font-size: 100px;}}
@media screen and (min-width:360px) and (max-width:375px){html{font-size: 112.5px;}}
@media screen and (min-width:375px) and (max-width:414px){html{font-size: 117.18px;}}
@media screen and (min-width:414px) and (max-width:480px){html{font-size: 129.37px;}}
@media screen and (min-width:480px) and (max-width:640px){html{font-size: 150px;}}
@media screen and (min-width:640px){html{font-size: 200px;}}






