@import "../block.less";

body {
	.bgc(#f6eccf);
}
img {
	.w(100%); .block;
}

.content {
	.pl(18*@px); .pr(18*@px); .fc(#b1853a); .f(22*@px);
	.video { 
		.mt(24*@px); .border-1(#d5b361); border-width: 10*@px;
	}
	.info {
		.l(40*@px); .pt(20*@px); 
		.intro { text-indent: 2em;}
	}
	.cartBtn {
		.block; .pt(30*@px); .c;
		img { .w(446*@px); .h(84*@px); .i_block;}
	}
	.cartNum { .pt(10*@px); .c; .fc(#c9a85b); .pb(90*@px);}
}
.question {
	.mt(32*@px); .bgc(#efdeac);
	.top { .ml(-2%);}
	.qstn_list {
		.c; .pb(50*@px);
		p {
			.f(24*@px); .l(40*@px);
		}
	}
	.qstn {
		li {
			.clearfix; .bgc(#d5b361); .h(66*@px); .l(66*@px); .border-r(100*@px); .pl(50*@px); .pr(50*@px); .mt(20*@px); .tl; .w(470/620*100%); .auto;
			.cnt { 
				.f(26*@px); .white;
			}
			.normal {
				.bgc(#f6eccf); .w(38*@px); .h(38*@px); .block; .right; .border-r(50%); .mt(14*@px);
			}
			.selected {
				background: url("@{pic_url}/images/wap/activity/exo/selectedIcon.png") no-repeat; 
				background-size: 100% 100%;
			}
		}
	}
}

//userInfo
.info { 
	.ml(30*@px); .mr(30*@px); .mt(2%);
	.ipt{ 
		.pt(28*@px); .pb(28*@px); .l(30*@px); .border-r(16*@px); .border-1(#eee3c1); .bgc(#fffefd); .mb(30*@px); .w(97%); .pl(20*@px); .fc(#666); .f(30*@px);
	}  
	.info_form {
		.pl(26*@px); .pr(26*@px); .pt(11%); .pb(50*@px); .bgc(#fdfbef); .mt(-6%); border-bottom-right-radius: 30*@px; border-bottom-left-radius: 30*@px; 
		p {
			.f(24*@px); .fc(#c9a550); .pb(6*@px); .l(30*@px);
		}
	}
	.sure {
		.pt(50*@px); .c;
	}
	.sureBtn { 
		.w(424*@px); .h(80*@px); .border-n; .i_block;
		background: url("@{pic_url}/images/wap/activity/exo/submitBtn.png") no-repeat;
		background-size: 100% 100%;
	}

}

/*dialog*/
.dialog();
.dialog {
	#maskLayer { background:rgba(0 ,0 ,0 , 0.7);}
	#dialogLayer { 
		background: none;
		box-shadow: none;
		.dialogTitle { .none;}
	}
}
.dialog_box {
	.c; .pr;
	.closeBtn {
		.pa; .w(50*@px); .h(50*@px); top: 0; right: 0; .cursor;
		background: url("@{pic_url}/images/wap/activity/exo/closeBtn.png") no-repeat;
		background-size: 100% 100%;
	} 
	.have {
		background: url("@{pic_url}/images/wap/activity/exo/haveGet.png") no-repeat;
	}
	.no {
		background: url("@{pic_url}/images/wap/activity/exo/noBuy.png") no-repeat;
	}
	.wrong {
		background: url("@{pic_url}/images/wap/activity/exo/wrong.png") no-repeat;
	}
	.nothing {
		background: url("@{pic_url}/images/wap/activity/exo/nothing1.png") no-repeat;
	}
	.tips {
		.w(512*@px); .h(316*@px); .i_block;
		background-size: 100% 100%;
	}
}
