@import "../block.less";
html{ .f(10*@f); }
img{ width:100%; .block; }
body{background-color:#f0edee;}

.bd{.pr;padding: 20*@w 20*@w 0;
	video{
	} 
	.m-title{
		.f(36*@px);.mb(20*@px);.c;
	}
	.guideword{
		.f(24*@px);
		.pt(20*@px);.pb(20*@px);
	}
	.tip{
		.f(20*@px);
		.pt(10*@px);.pb(25*@px);
	}
}




