


@import "../block.less";

@import "../block.less";

html{.f(100px);}

body {
  font-size: 12px;
  overflow-x: hidden;
  .bgc(#D83334);
}
button{
	border: none;
}

.warp{
	.w(100%);
	position: relative;
	overflow: hidden;
	background:#D83334;
}


.main{
	.w(100%);
	position: relative;
	overflow: hidden;
	background-color: #D83334;

	.header_img{
		display: block;
		width: 100%;
	}
	.quan{
		position: relative;
		width: 100%;
		margin: .3rem 0;
	}

	.quan-img{
		display: block;
		width: 100%;
	}

	.quan_con{
		position: absolute;
		z-index: 2;
		left: 10%;
		top: 0;
		width: 80%;
		height: 100%;
		overflow: hidden;
		text-align: center;
		background: url('http://d02.res.meilishuo.net/pic/_o/2e/94/5dd38f2e25cf44dbcc67fd6f13d8_574_277.ch.png');
		background-size: 100% 100%;
	}
	

	.quan_cover{
		position: absolute;
		left: 2.5%;
		top: 10%;
		z-index: 2;
		width: 95%;	
		height: 80%;
		canvas{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	
	
	
}

.quan_text{
	width: 100%;	
	height: 100%;
	line-height: 1.42rem;
	color: #474747;
	font-size:.22rem;

	.quan_nub{
		color: #ff4b56;
		font-size: .4rem;
	}
}


.result{
	.w(100%);
	position: relative;
	overflow: hidden;
	background-color: #D3353A;
	 h2{
	 	padding:.35rem  .35rem  .15rem .35rem;
	 	text-align: center;
	 	color: #fff;
	 	line-height: 1.1rem;
	 	font-size: .42rem;
	 }
	 .quanresult{
	 	position: relative;
		padding:0  .35rem ;
		img{
			display: block;
			width: 100%;
		}

		.quan_text{
			position: absolute;
			top: 0;
			left: 0;
			text-align: center;
			width: 100%;
			line-height: .9rem;
		}
	}


	 .text{
	 	padding: .20rem  0 .05rem;
	 	text-align: center;
	 	font-size: .16rem;
	 	color: #fff;
	 	line-height: .35rem;
	 }
	 .text2{
	 	padding: .1rem .1rem .05rem;
	 	text-align: center;
	 	font-size: .13rem;
	 	color: #fff;
	 	line-height: .22rem;
	 }
	 
	 .but{
	 	display: block;
	 	width: 70%;
	 	margin: 0 auto;
		padding: 0  .12rem ;
		overflow: hidden;
		img{
			display: block;
			width: 100%;
		}
	 }



}

.share{
	width: 100%;
	padding:.05rem  0  0 0;
}

.share_but{
	display: block;
	margin: 0 auto;
	width: 100% ;
	img{
		display: block;
		width: 100%;
	}
}

.rule_but{
	width: 100%;
	height: .4rem;
	line-height: .32rem;
	text-align: center;
	padding-bottom: .4rem;
	background: no-repeat url('http://d02.res.meilishuo.net/pic/_o/7b/2a/dce517ebc50315c7df660ed92f96_1242_156.cg.png');
	background-size: 100% auto;
	a{
		color: #fff;
		font-size: .14rem;
	}
}
.rule{
	position: relative;
	color: #fff;
	padding: 0 .27rem;
	background-color: #D83334;
	h2{
		padding: .42rem 0 0 0  ;
		height: .55rem;
		line-height: .55rem;
		font-size: .24rem;
		text-align: center;
		
	}
	.rule_text{
		line-height: .2rem;
		font-size: .14rem;
		text-indent: .14rem;

		.tit{
			font-size: .17rem;
		}
	}

}

.rule_text{
	margin:.2rem 0;

}

.rule_close{ 
	position: absolute;
	top: 30px;
	right: 30px;
	width:.3rem ;
	height: .3rem;
	background:no-repeat url('http://d05.res.meilishuo.net/pic/_o/76/6b/1e3bbda5889ae5202006c3e458ab_69_69.cg.jpg') ;
	background-size: 100% 100%;
}




.mypopbox{
	display: none;
	position: fixed;
	z-index: 999;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 200%;
	overflow-x: hidden;
	
	.prompt{
		
		position: absolute;
		z-index: 95;
		padding: .15rem;
		img{
			display: block;
			.w(100%);
		}

	}

	.dialog {
		position: absolute;
		z-index: 100;
		background: #ffffff;
		width: 270px;
		left: 50%;
		margin-left: -135px;
		border-radius: 8px;
	}

	.overlay{
		position: absolute;
		z-index: 90;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		background-color: rgba(0, 0, 0, 0.7);
	}

}





@media screen and (min-width:320px) and (max-width:360px){html{font-size: 100px;}}
@media screen and (min-width:360px) and (max-width:375px){html{font-size: 112.5px;}}
@media screen and (min-width:375px) and (max-width:414px){html{font-size: 117.18px;}}
@media screen and (min-width:414px) and (max-width:480px){html{font-size: 129.37px;}}
@media screen and (min-width:480px) and (max-width:640px){html{font-size: 150px;}}
@media screen and (min-width:640px){
	html{font-size: 200px;}
	.warp {
  		width: 640px;
  		max-width: 640px;
  		margin: 0 auto;
	}
}







