@import "../block.less";
@import "../biz/beauty_sale/goods_show.less";
html{ .f(10*@f); }
img{ width:100%; .block; }

/* 特卖单宝 */
.goods_show;
.goods_wrap{ .clearfix; }
/* 分享 */
.starBox { .star_box; }
.top{ .pr;
	.down{ .pa; .c; top:233/372*100%; left:170*@w; .f(20*@px); color:#ff626d; font-family:SimHei; .fb;
		b{ .w(30*@px); .h(36*@px); .l(36*@px); background:url('@{pic_url}/images/huodong/sale420/timebg_wap.png') no-repeat; background-size:100%; color:#fff; margin:0 3px; .f(22*@px); .i_block; .c;
		}
	}
}
.main_box{ .w(100%); background:#fff; .pb(30*@w);
	.tit{ .pr;
		a{ .pa; .w(156*@w); .h(100%); top:0; right:0; }
	}
	.moreBtn{ .mb(30*@w); .block; .w(541*@w); .auto; }
	.moreBtn1{ .mb(30*@w); .block; .w(620*@w); .auto; }
	.banPic{ .mb(30*@w); .block; .w(600*@w); .auto; }
}
.btn_status{
	background: url('@{pic_url}/images/huodong/sale420/mbtn.png') no-repeat;
}
.coupon_wrap{
	.bgc(#ff626d); .pb(20*@w);
	.coupon_box{
		.pr;.mb(20/600*100%); .w(620*@w); .auto;
		.coupon_con{
			.w(50%);.h(100%);.c;.f(30*@px);.fc(#b95e05);.hidden;
			p{.pt(20/300*100%);.pb(10/300*100%);}
			span{.fc(#ff3477);}
			.btn_status{
				.w(55%);.pt(64/300*100%);background-size: 100%;.auto;.bp(0, 35%);
			}
			.pa;top: 0;right: 0;
		}
		.has_get .btn_status{.bp(0, 109%);}
		.zero .btn_status{.bp(0, 73%);}
	}
	.coupon_100{
		.pr;.w(620*@w); .auto;
		.timeStamp_wrap{
			.pa;top: 58%;right: 8%;.w(37%);.c;
			.f(50*@px);.fc(#de3743);.fb;
		}
		.coupon_con{.w(50%);.h(100%);.pa;top: 0;right: 0;}
		.btn_status{
			.w(55%);.pt(20%);
			.bp(0, 0);background-size: 100%;.auto;
			.pa;top: 24%;right: 70/300*100%;
		}
		.can_get .btn_status{.bp(0, 30%);}
		.has_over .btn_status{.bp(0, 72%);}
		.has_get .btn_status{.bp(0, 108%);}
	}
}
/*dialog*/
.dialog();
.draw_box{ .c; margin:20px 0; }
.toupdate{ 
	p{ margin:20px 0; .f(1.4rem);}
	.btn3zi{ .act_btn; .border-r(40*@px); .f(38*@px); .h(60*@px); .l(60*@px); .w(180*@px); margin:12*@px auto;}
}
