@import "../block.less";

body{
	.bgc(#fffde5);
}
.head{
	background:url("http://d04.res.meilishuo.net/pic/_o/6d/20/b679c7531d17d103aa802bad2083_640_1179.ch.png") no-repeat;
	background-size: 100%;
	.pt(30*@px);
	.pb(24*@px);
	.c();
	.head-img{
		.w(140*@px);
		.h(140*@px);
		border: 5px solid #e25f54;
		border-radius: 50%;
		margin-right: auto;
		margin-left: auto;
		img{
			.w(100%);
			.h(100%);
			border-radius: 50%;
		}
	}
	.name{
		.f(28*@px);
		.fc(#fff);
		.mt(12*@px);
	}
	.rectangle{
		.w(80%);
		.ml(10%);
		.mt(12*@px);
		background-size: 100%;
		img{
			.w(100%);
			display: block;
		}
		p{
			.f(24*@px);
			.fc(#80737b);
			background:url("@{pic_url}/images/activity/weixinRedpaper/rectangle-center.png") no-repeat;
		}
	}
	.red-paper{
		.w(58%);
		margin-left: auto;
		margin-right: auto;
		.pr();
		.mt(22*@px);
		img{
			.w(100%);
		}

		.paper_info { .pa; top: 10%; .w(100%); .auto;}

		.money{
			.auto;
			.fc(#ec695d);
			.f(26*@px);
			.symbol{
				.f(60*@px);
			}
			.count{
				.f(108*@px);
			}
		}
		.receive{
			.w(34%);
			.pa();
			top: -18%;
			right: 8%;
		}
		.describe{
			.f(22*@px);
			.fc(#595056);
			.l(34*@px);
			.describe-time{
				.f(20*@px);
				.fc(#c8c3ad);
			}
		}
		.expression{
			.w(32%);
		}

		.checkBox{
			.l(58*@px); .pt(30*@px); 
			input{ .bgwhite; .border-1(#f2eeb7); .w(35%); .mr(2%); .i_block; .h(24px); .vm; .pl(4%); .fc(#8e888c); .fc(26*@px);}
		}
		.checkImage{
			.i_block; .w(30%);
			span{ .w(100%); .h(56*@px); .bgc(#f8f4c0); .vm; .i_block; }	
		}
		.error { .fc(#ec695d);}	
		.word { .pt(10*@px);}

	}
	.button,.get_red{
		.pr();
		.w(72%);
		margin-left: auto;
		margin-right: auto;
		.mt(16*@px);
		background:url("@{pic_url}/images/activity/weixinRedpaper/button.png") no-repeat;
		background-size: 100%;
		.f(36*@px);
		.fc(#eb3939);
		.pt(5%);
		.pb(7%);
	}
	.get_red { .fc(#f9ca55);}
	.where { 
		.f(22*@px); .fc(#813832); .pl(3%); .tl; .l(36*@px);
		span { .white; }
	}
}
.list{
	.w(90%);
	.ml(5%);
	.mt(42*@px);
	.h(200px);
	.pt(26*@px);
	.list-title{
		.w(100%);
		.line{
			.w(20%);
			.h(2*@px);
			.bgc(#dc5648);
			.mt(16*@px);
		}
		.line-left{
			.left();
		}
		.line-right{
			.right();
		}
		.look-luck{
			.c();
			.fc(#dc5648);
		}
	}
	li{
		border-bottom: 1px solid #d4cdaf;
		border-style: dashed;
		.pt(24*@px);
		.pb(26*@px);
		.hidden();
		.friend-picture{
			.w(80*@px);
			.h(80*@px);
			.left();
			border-radius: 50%;
		}
		img{
			.w(100%);
			.h(100%);
			border-radius: 50%;
		}
		.content{
			.w(83%);
			.pt(8*@px);
			.right();
			.fc(#2e2e2e);
			.friend-name{
				.f(24*@px);
				.friend-nickname{
					width:50px;
					text-overflow:ellipsis;  
					white-space:normal;  
					*white-space:nowrap;  
					overflow:hidden;  
				}
			}
			.friend-time{
				.f(20*@px);
				.ml(5%);
			}
			.friend-money{
				.f(24*@px);
				.fc(#d65142);
				.right();
			}
			.friend-say{
				.mt(22*@px);
				.f(22*@px);
			}
		}
	}
	.get-redpaper{
		.fc(#dc5648);
		.f(28*@px);
		.c();
		.mt(30*@px);
	}
}
