@import "../block.less";
html{.f(10*@f);}
img{ width: 100%; .block; }
.ios_simple;
.poster_simple;
.wrap { border-left: 2*@px solid #ccb0b9; margin: 0 19*@w; .pl(20*@w); .pb(20*@w); 
	figure { 
		figcaption { .fc(#804055); .f(32*@px); .h(70*@px); .l(70*@px); .pt(20*@w); 
			.disc { .left; .h(24*@px); .w(20*@px); .bgc(#f5edf0); .pr; left: -29*@w; top: 22*@px;
				&:before{ content:""; border: 2*@px solid #804055; .border-r(8*@px); .bgc(#804055); .pa; top: 6*@px; .w(8*@px); .h(8*@px); }
			}
		}
		a { .box-shadow-r(@x:0px, @y:1px, @d:5px, @c:rgba(34,25,25,0.5)); .block; .hidden; .border-r(8*@px); .pt(292/578*100%); .pr; 
			img { .border-r(8*@px); .pa; top: 0; }
		}
	}
}
.season { .pr; .pt(340*@w); 
	.audio(1);
	.audio_box { bottom: 5%; .ml(30*@w); }
	.time_box { .w(240*@w); .pa; top: 0; right: 3%;
		.time_bg { .bgred; .white; .c; padding: 12*@px 26*@w 6*@px;
			hgroup{ border-bottom: 1px solid #ffb3cc;
				h1 { .fn; .f(22*@f); .h(36*@px); }
			}
			.time { .pt(10*@px); }
		}
	}
}
.main { .bgwhite;
	.detail { padding: 3%; .f(24*@f); .l(38*@px); }
	.frend { .hidden; .w(100%);
		figure{ border-bottom: 1px dotted #000; .left; .ml(3%); .mt(3%); .w(45.5%);
			.f_pic { .pt(520/290*100%); .block; .hidden; .pr; 
				img { .pa; top: 0; left: 0; .w(100%); }
			}
			figcaption{ .f(20*@f); .h(104*@px); .l(26*@px); .pt(18*@px); .mb(18*@px); .hidden; 
				.ico { background: url("@{pic_url}/images/wap/activity/season/heart.gif") no-repeat 0 4*@px; background-size: 20*@px 20*@px;
					.left;.h(20*@px); .w(20*@px); }
			}
			&:nth-child(3), &:nth-child(4) { .border-n; }
		}
	}
	.attr_tle { .f(24*@f); .l(38*@px); padding: 3% 3% 0; }
	.attr { .c; .f(32*@f); .l(56*@px); .pt(20*@px); .pb(20*@px);
		span { .i_block; .ml(20*@px); .mr(20*@px); }
	}
	.goods_wall { .hidden; .pb(3%); .w(100%);
		.poster_grid { .w(47%); .ml(2%); .mt(3%); .left;.pr;
			figure { .ml(0); .mt(0);
				.pic_load { .pt(392/290*100%;); 
					.issaled { background: url("@{pic_url}/images/wap/activity/season/saled.png") no-repeat; background-size: 157*@px 147*@px;
						.left; .h(147*@px); .w(157*@px); .pa; left: 0; top: 0; z-index: 9;
					}
				}
			}
		}
		figcaption { .h(156*@px);
			.con { .hidden; .f(18*@f); .h(84*@px); .l(28*@px); margin: 14*@px 10*@px 14*@px 20*@px; }
			.price { .h(26*@px);.left;.pr; }
			.l_price { .fc(#925e6f); .l(28*@px); .ml(10*@px); .t-through; }
		}
	}
	.poster;
	.title1, .title2, .title3 { 
		background: url("@{pic_url}/images/wap/activity/season/sea_f.png"); background-size: 100% 300%;
		.pt(34*@w); .h(0); .indent; .hidden;
	}
	.title1 { .bp(0,0); }
	.title2 { .bp(0,50%); }
	.title3 { .bp(0,100%); }
}
.bot_box{ .pr; 
	&:before{ .line; }
	.pic_box { padding: 3% 3% 0; }
	.keywords{ .keyword; }
}
.tle2 { .fn; .f(22*@f); .fc(#7F3F55); .pl(3%); .pt(3%); }
.shop_logo { 
	.hidden; .pb(3%); 
	a { .left; .ml(3%); .mt(3%); .h(86*@px); .w(86*@px); }
}
.starBox { .star_box; }
@import "../footer.less";
