@import "../block.less";

.main {
  .pr;

  background:url("@{pic_url}/images/wap/activity/turntable/main_bg.jpg") no-repeat top center; background-size: 100%;
}

.top {
  .pr;
  .pt(30%);
  .banner {
    .block; .pa; top:0; .w(100%);
  }
}

.middle {
  .pr;
  .pt(92%);

  .turntableWrap {
    .pa; .w(100%); top:0;overflow: hidden
  }
  .turntable {.block; .auto; .w(92%); }
  .pointerWraper {.pa; .w(100%); top:0; padding-top: 30%}
  .pointer {.block;.auto; .w(20%) ;}
}

.bottom {
  .pr;
  .pt(68%);
  .bottomWrap {
    .pa; top:0; .w(100%);
    .ins { padding:4%;color:#fff; text-align: center; .f(28*@px);}
    .btn_show_one_share {.w(55%); .auto; .pt(14%);background:url("http://d05.res.meilishuo.net/img/_o/b8/ae/114976359214eff1032e1cc29ca9_331_85.ch.png") no-repeat top center; background-size: 100%;}
    .bigWiner {.pr;color:#fff; text-align: center; .f(28*@px);
      .firstHeadPic {.pr;.w(15%);  border-radius: 50% ; .pt(15%); float:left;  margin-top: 6%;margin-left:15%; margin-right:0%;display: none;
        img {.pa;top:-25%; left:4%; .w(94%);}
      }
      .noFirstTip {.block;padding-top: 8%;}
      .firstTip {.block; .w(55%); float: left; padding-left: 3%; text-align: left}

    }
    .winners {.pr;.w(96%); .auto; .pt(11%);.mt(4%);background:url("@{pic_url}/images/wap/activity/turntable/winers.png") no-repeat top center; background-size: 100%;
      overflow: hidden;
      .winners_info {.w(100%);  .pa; top:0%; .c; .f(28*@px);
        p {.w(100%);.pt(11%);.pr;
          span{.w(100%);.pa;top:0;left:0; padding-top: 4%; .c;}
        }
      }
    }

  }
}

.shade{.pf;top:0;left:0;z-index:10;.w(100%);.h(100%);background:rgba(0,0,0,.5);}
.dialogBox {.pf; top:0; .pt(30%); right:10%; left:10%; z-index:20;
  .noPrizeControl {
    .pa; top:0; .w(100%); .pt(108%);
  }

  .prizeControl {
    .pa; top:0; .w(100%); .pt(120%);
  }

  .dialogShare {.block; .auto; .w(60%); .pt(15%); border:0px solid red;}
  .dialogClose {.block;.auto; .w(40%); .pt(10%); .mt(4%); border:0px solid red;}
}