<!doctype html>
<html >
<head>
	<title>KEVIN's puzzle</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	
	<meta content="telephone=no" name="format-detection" />
    
    
	<link rel="apple-touch-icon-precomposed" href="http://stc-tx.meiliworks.com/css/images/wap/web/apple-touch-icon-114x114-precomposed-touch.png" sizes="114x114"/>
	<link rel="apple-touch-icon-precomposed" href="http://stc-tx.meiliworks.com/css/images/wap/web/apple-touch-icon-72x72-precomposed-touch.png" sizes="72x72"/>
	<link rel="apple-touch-icon-precomposed" href="http://stc-tx.meiliworks.com/css/images/wap/web/apple-touch-icon-60x60-precomposed-touch.png"/>
	

<style>
* {
	margin:0; padding:0;
	}
html,body{
	height:100%;
	}
.piece {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%) sepia() brightness(.4) contrast(1)  blur(2px) opacity(.4);
	}
.bp {
	float : left;
	}
.dp{
	position:absolute;
	}
#box{
	}
#box2{
	position:relative;
	}
</style>
</head>
<body >

<div id="box" ></div>	
 <input type="file" accept="image/*" capture="camera" id="file" />
<div id="animate" style="width:100%;position:absolute;z-index:500;">
<svg id="ballons"  width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
 <g cx="100" stroke=".2" fill="red" stroke-width=".5">
	<ellipse cx="50" cy="50" rx="40" ry="45" stroke="black"  fill="rgba(124,240,10,0.1)"/>
	<polyline points="50,95  50,103 55,140  " fill="black"  />
</g>

</svg>
</div>
</body>
<script src="<%= this.JCSTATIC_BASE  %>/js/open/puzzle.js?<%= this.SVERSION%>"></script>
</html>


