@import "dootablock.import.less";
.container {padding:0;}
.addressee {.pl(40*@w);.pr(40*@w);.l(18px);.pt(9%);
			background:url("@{pic_url}/images/wap/doota/bg_mail.png") no-repeat top;background-size:100%;
	.name,.tel {.left;.mr(20px);
		i {.w(13px);.h(13px);.left;.mr(5px);.mt(2px);}
	}
	.name i {background:url("@{pic_url}/images/wap/doota/i_user.png") no-repeat;background-size:100%;}	
	.tel i {.w(12px);background:url("@{pic_url}/images/wap/doota/i_tel.png") no-repeat;background-size:100%;}
	.address {clear:both;}
}
.mail_btm {.pt(40*@w);
			background:url("@{pic_url}/images/wap/doota/bg_mail.png") no-repeat bottom;background-size:100%;
}
.payment {.h(43px);.l(43px);padding:0 40*@w;.mt(10px);.bgwhite;.border-1(@color:#d1cecd);border-width:1px 0;
	i {.w(14px);.h(14px);.mr(8px);.left;.mt(14px);
		background:url("@{pic_url}/images/wap/doota/i_money.png") no-repeat; background-size:100%;
	}	
}
.order_status {.h(16px);padding:15px 0;.c;border-bottom:1px solid #d0cecd;.pl(30*@w);.pr(30*@w);
	.txt {.bgc(#F5EDF0);padding:0 7px;.i_block;.l(16px);
		i {.w(13px);.h(16px);.left;.mr(7px);
			background:url("@{pic_url}/images/wap/doota/i_book.png") no-repeat; background-size:100%;
		}
	}
	.grayLine {.h(1px);.bgc(#d0cecc);.mt(-8px);}
}
.status_txt {.bgwhite;.c;.pl(40*@w);.pr(40*@w);.pt(15px);.pb(15px);.l(18px);border-bottom:1px solid #d9d9d9;}
.order_detail {.bgwhite;.pt(15px);
	.shop_info {.ml(40*@w);.mr(40*@w);.pb(15px);border-bottom:1px solid #d9d9d9;}
	.r {.right;}
	.name {
			i {.w(14px);.h(12px);.left;.mr(8px);
				background:url("@{pic_url}/images/wap/doota/i_store.png") no-repeat; background-size:100%;
			}
		}
	.contact_QQ, .enter_shop {.mt(15px);.w(268/560*100%);.h(24px);.l(24px);.c;.i_block;.border-1(@color:#F69);.border-r(@radius:5px);.red;
		span {.i_block;}
		i {.left;.mr(5px);.mt(4px);}
	}
	.contact_QQ {
			i {.w(13px);.h(14px);
				background:url("@{pic_url}/images/wap/doota/i_QQ.png") no-repeat; background-size:100%;
			}
		}
	.enter_shop {.right;
			i {.w(14px);.h(12px);.mt(5px);
				background:url("@{pic_url}/images/wap/doota/i_store.png") no-repeat; background-size:100%;
			}
		}
}
.order_list {.ml(40*@w);.mr(40*@w);
	table {.w(100%);}
	td {.pt(15px);.pb(15px);border-bottom:1px solid #d9d9d9;vertical-align:top;}
	img {.w(60px);.h(60px);}
	.pic {.pr(10px);}
	.info {.l(14px);}
	.title {.h(28px);.hidden;.mb(4px);}
	.spec {.gray;
		span {.mr(30px);}
		}
	.gray_btn {.h(24px);.l(24px);.border-1(@color:#8c8c8c);.border-r(@radius:3px);.i_block;.c;padding:0 10px;}
	.last {.c;vertical-align:middle;}
}
.total {.ml(40*@w);.mr(40*@w);.pt(15px);.pb(15px);border-bottom:1px solid #d9d9d9;
	.fare {
			i {.w(13px);.h(12px);.left;.mr(5px);
				background:url("@{pic_url}/images/wap/doota/i_fare.png") no-repeat;background-size:100%;
		}
	}
	.total_count {.right;}
}
.buyer_message {.l(18px);.ml(40*@w);.mr(40*@w);.pt(15px);.pb(15px);}
