<%# head_simple.html %>
<% var mobile = this.userInfo.mobile; var isMobileBind = mobile ? true : false; if(isMobileBind){ var mobileInfo =  mobile.slice(0,-4).replace(/\d/g,'*') + mobile.slice(-4); } %>
<script>
	fml.vars.isMobileBind = <%= isMobileBind %>;
</script>
<div class="main">
	<div class="header"><a href="/"></a></div>
	<div class="content">
		<div class="active_account">
			<h2>请完成安全验证</h2>
			<% if(isMobileBind){ %>
			<div class="notice">
				<p>系统判断您的账号存在安全风险或者异常</p>
				<p>请通过预留的手机号进行验证，验证完成后可进行正常操作</p>
			</div>
			<div class="inputs">
				<div class="active_box">
					<p class="phone_info">已绑定手机号<span><%= mobileInfo %></span></p>
					<!-- <input class="phone" type="hidden" value="<%= this.userInfo.mobile %>" > -->
					<span class="status1 pass"></span>
				</div>
			<% }else{ %>
			<div class="notice">
				<p>系统判断您的账号存在安全风险或者异常</p>
				<p>为确保您的账号安全，需要绑定并验证手机后再进行操作</p>
			</div>
			<div class="inputs">
				<div class="active_box">
					<input class="phone" type="text" placeholder="输入要绑定的手机号">
					<span class="tel_icon"></span>
					<span class="status1"></span>
				</div>
				<p class="err err1"></p>
			<% } %>
				<div class="active_box">
					<input class="ms_code" type="text" placeholder="短信验证码"> 
					<span class="ms_code_icon"></span>
					<input class="re_get" type="button" value="获取短信验证码">
					<span class="status2"></span>
				</div>
				<p class="err err2"></p>
				<div class="active_box">
					<input class="code" type="text" placeholder="输入验证码">
					<span class="code_icon"></span>
					<div class="checkImage" onselectstart="return false;">
										<img width="90" height="36" src="<%= this.PICTURE_URL %>images/register/blank.jpg"><span class="refresh"></span>
									</div>
				</div>
				<p class="err err3"></p>
				<div class="active_box"><input id="active_now" type="button" value="马上<%if(isMobileBind){%>验证<%}else{%>激活<%}%>"></div>
			</div>
		</div>
	</div>
</div>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
        fml.use('page/active_account');
_use:", this._JSstack , this._JSmods ); %>

<%# foot_simple.html %>