<%# head.html%>
<body>
<div id="container">
        <p class="intro">美丽特卖，为爱美丽们提供完整的快乐购物体验，所以，特别推出“7天无条件退货”政策。让爱美丽们在爱美之余，更无后顾之忧哦~</p>
	<p class="agreement_heading">7天无条件退货</p>
            <p class="agreement_content_1">1) 满足以下条件，可以申请无条件退货：</p>
                <p class="agreement_content_2">（1）商品签收后7天内（以快递公司的送货单上的签收日期为准）；</p>
                <p class="agreement_content_2">（2）商品及商品本身包装保持美丽说特卖活动出售时原状且配件齐全，不影响二次销售，吊牌保持原样，未经拆洗、商品未经人为破坏。</p>
            <p class="agreement_content_1">2) 退货申请流程：</p>
                <p class="agreement_content_2">（1）满足以上条件的前提下，在美丽说后台申请，或通过美丽说客服中心申请退货；</p>
                <p class="agreement_content_2">（2）在包裹中加入“美丽说特卖活动，订单号：*****”字样的字条；</p>
                <p class="agreement_content_2">（3）使用快递，将商品包裹寄回商家库房（请与美丽说客服确认回寄地址），请注意：</p>
                    <p class="agreement_content_3">A、请使用快递，不要使用平邮；</p>
                    <p class="agreement_content_3">B、请不要使用到付，否则无法为您办理退货。您预付的退货运费，美丽说将会以10元运费补贴的方式，打至您的美丽说购物付款原账户；</p>
                    <p class="agreement_content_3">C、请不要将包裹寄至美丽说，请根据美丽说客服和后台提示将包裹回寄至正确地址；</p>
                <p class="agreement_content_2">（4）请在退货申请批准后的7天内寄出退货商品，如超过期限仍未寄出，我们将自动取消您的退货申请；</p>
                <p class="agreement_content_2">（5）请在退货商品发出后，及时将包裹单号及物流公司填写到后台或告知美丽说客服，以便我们及时核实信息为您办理退款。</p>
            <p class="agreement_content_1">3) 以下情况，不能为您办理退货：</p>
                <p class="agreement_content_2">（1）超过退货有效期限（订单签收后7天内）的退货商品，不予退货；</p>
                <p class="agreement_content_2">（2）未经网上申请，或未通过美丽说客服中心申请退货，自行寄回至美丽说或商家仓库的，不予退货；</p>
                <p class="agreement_content_2">（3）任何因非正常使用、保管或个人原因造成的商品损坏（如自行修改尺寸，洗涤，皮具表面刮花、打油，刺绣，水洗、碰酸、碱、油或者触硬物，雨天穿着，长时间穿着，五金配件缺少等），不予退货；</p>
                <p class="agreement_content_2">（4）商品吊牌、发货单、商品配件（如配饰挂坠、肩带、小卡包等）、说明书、保修单、标签等丢失，不予退货；</p>
                <p class="agreement_content_2">（5）美容化妆类、贴身商品（内衣、文胸、泳衣等）、食品类及黄金珠宝类等特殊商品，无质量问题，拆封后不予退换；</p>
                <p class="agreement_content_2">（6）未使用快递，或使用快递到付，或未将商品寄至正确地址的，不予退货。</p>
            <p class="agreement_content_1">4) 退货运费：</p>
                <p class="agreement_content_2">（1）所有返还运费，为退货补贴，不是运费的实际报销，因此无论您实际支付了多少返程运费，美丽说的运费补贴统一为10元。多次恶意退货的用户，我们将视情况取消您的运费补贴。</p>

    </div>
</body>
