<%#head.html%>
<div class="contain">
	<h3 class="f24">安装书签栏拾宝工具</h3>
	<div class="use_left">
		<div class="ml72">
			<div class="f16n">把这个拖到你的浏览器书签</div>
			<div class="mt10">
				<a class="pickup_tool pr block ml10" href="javascript:void((function(){var%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://s.meilishuo.net/script-min/app/meilishuo.js?v='+(new Date).getTime());document.body.appendChild(e)})());">✚ 美丽说</a>
			</div>
		</div>
		<div class="ml14 mt20">
			<img src="http://imgtest.meiliworks.com/css/images/goods/screen.jpg" alt="美丽说拾宝贝工具">
		</div>
	</div>
</div>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use("page/pickup");
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>