@import "../block.less";
.mc-bd{
    .w(100%);
    .h(100%);
    background: url("@{pic_url}/images/wap/activity/free_m/free_m_bg.jpg");
    background-size:100% 100%;
    text-align:center;
}
.mc-bg1{
    .pa;
    .w(268px);
    .h(396px);
    left:50%;
    top:50%;
    .ml(-134px);
    .mt(-198px);
    background: url("@{pic_url}/images/wap/activity/free_m/free_m_game.png");
    background-size:100% 100%;
    .game_tips{
         .pa;
         .w(230px);
         .h(25px);
         .l(25px);
         top:118px;
         left:16px;
         .bgc(#ff4866);
         .f(12px);
         .fc(#ffffff);
         text-align: center;
    }
    .time_down{
        display: none;
        .w(138px);
        .h(24px);
        .l(24px);
        background: url("@{pic_url}/images/wap/activity/free_m/free_countdown.png");
        background-size:100% 100%;
    }
     .game_con{
         .pa;
         .w(231px);
         .h(231px);
         bottom: 13px;
         left: 16px;
         background: url("http://d02.res.meilishuo.net/pic/_o/ad/a3/01552812b917aac7f6a38d948acd_462_462.cf.png");
         background-size: 100%;
     }
}
.dialog_box{
    .w(100%);
    .h(100%);
    position: fixed;
    top:0;
    left:0;
    background: rgba(0,0,0,.7);
    z-index: 9999;
    .dialog_con{
        position: absolute;
        .auto;
        left:0;
        right:0;
        border-radius: 5px;
        text-align: center;
    }
    .steps{
        display: none;
    }
/*拼图完成第一步弹窗样式*/
    .dia_style1{
        .pa;
        .auto;
        left:0;
        .w(100%);
        .h(330px);
        .step1,.step1_1{
            .h(213px);
            .bgc(#ff4866);
        }
        p.game_result{
            .w(70%);
            .f(14px);
            .l(18px);
            .fc(#ffffff);
            text-align: center;
            .auto;
            .pt(40px);
            .pb(35px);
        }
        p.game_tips{
            .f(12px);
            .fc(#ffffff);
            .pt(10px);
        }
        .btnWrap{
            text-align: center;
            .h(39px);
            text-align: center;
            .shareBtn{
                 display: inline-block;
                text-align: center;
                .w(72px);
                .h(39px);
                .l(39px);
                .f(20px);
                .fc(#ffffff);
                background: url("@{pic_url}/images/wap/activity/free_m/free_share_icon.png");
                background-size:100%;
                .mr(15px);
            }
            .luckyBtn{
                display: inline-block;
                text-align: center;
                .w(143px);
                .h(39px);
                .l(39px);
                .f(20px);
                .fc(#ff4866);
                background: url("@{pic_url}/images/wap/activity/free_m/free_lucky_icon.png");
                background-size:100%;
            }
        }
    }
/*拼图完成第二步弹窗样式*/
    .step2,.step3{
        .w(100%px);
        .h(100%);
        .step2_con{
            .w(320px);
            .h(250px);
            .auto;
            background: url("@{pic_url}/images/wap/activity/free_m/free_prizebg.png");
            background-size:100%;
            border-radius:50%;
        }
       .no_addres{
           .w(175px);
           text-align: center;
           .pt(135px);
           .auto;
           .f(14px);
           .fc(#ffffff);
           .l(20px);
       }
       .address_btn{
           .w(100%);
           .h(35px);
           text-align: center;
           .btn_show{
               display: inline-block;
           }
           .btn_style{
                   display: none;
                   .w(108px);
                   .h(35px);
                   .l(35px);
                   .f(17px);
                   text-align: center;
            }
            .btn_style1{
                .bgc(#ffffff);
                .fc(#fe6054);
            }
            .btn_style2{
                .bgc(#ffffff);
                .fc(#666666);
            }
       }
    }
/*end*/
}
.countDown{
    position: absolute;
    width: 240px;
    height: 100px;
    left:50% ;
    top: 50%;
    .ml(-120px);
    .mt(10px);
    z-index: 66;
    line-height: 100px;
    font-size: 60px;
    text-align: center;
    color: #ff4866;
    font-weight: bold;  
    
}
.start_btn{
    position: absolute;
    cursor: pointer;
    .w(80px);
    .h(80px);
    .l(80px);
    .fc(#ffffff);
    background: #ff4866;
    border-radius: 50%;
    left:50% ;
    top: 50%;
    .ml(-50px);
    .mt(10px);
    z-index: 66;
    font-size: 30px;
    text-align: center;
    font-weight: bold;  
    border: 2px solid #FFFFFF;
    
}
