<%
	var is_prom = this.type == 'share' ? false : true;
	this.goods.forEach(function(goods_data){
		var goods_link = '';
		if(goods_data.link){
			goods_link = goods_data.link;
		} else {
			goods_link = '/' + ((1 == goods_data.is_cosmetic && is_prom) ? 'prom': 'share') + '/item/' + goods_data.twitter_id + '?d_r=' + goods_data.d_r;
		}
%>
	<a href="<%= goods_link %>" target="_blank" class="productCon">
		<%var _l = 0;%>
		<% if(this.is_start){ %>
			<div class="notstart"></div>
		<%} else if(goods_data.is_end == 1){%>
			<div class="soldend"></div>
		<% } else if(goods_data.repertory == 0){%>
			<div class="soldout"></div>
		<% } else { %>
			<% goods_data.marks.forEach(function(v1 , k1){ %>
				<div class="new-png"  style="left:<%=6 + _l%>px"><img src="<%= v1.img_url%>" /></div>
				<%_l += (+v1.img_width + 2);%>
			<% });%>
		<% } %>
		<div class="proImg">
			<img width="220" src="<%=goods_data.image%>" />
		</div>
		<div class="proTitle">
			<%=goods_data.goods_title%>
		</div>
		<div class="proPrice">
			<b><em>￥</em><%=goods_data.price%></b>
			<% if(goods_data.original_price){ %>
				<span class="original_price">￥<%=goods_data.original_price%></span>
				<%
					var sale_price = '' + Math.round(goods_data.price/goods_data.original_price*100)/10;
					if(sale_price.indexOf('.')<0){
						sale_price += '.0';
					}
				%>
				<span class="sale_price"><%= sale_price %>折</span>
			<% } %>
		</div>
		<div class="proStatus">
			<%=goods_data.sell_num%><%= this.is_start ? "人已喜欢" : "人在抢购" %>
		</div>
	</a>
<% }); %>