@import '../block.less';
.banner{ img{ .w(100%); } }
.couponsWrapper{
	.bgwhite;
	.coupons{
		padding: 10px 15px 15px 15px;
		min-width: 276px;
		div{ 
			.i_block; 
			.pr;
			.w(138px); 
			.h(56px);
			background: url(http://i.meilishuo.net/css/images/shop/activity/coupon_get.png) no-repeat left top; 
			background-size: 100%;
			span{ .pa; }
			span.full{ .f(9px); .fc(#fbd2d2); top: 5px; left:13px;}
			span.cost{ .f(16px); .fc(#ffffff); top: 27px; left:27px; }
		}
		div.c_left{ 
			.left; 
		}
		div.c_right{ 
			.right; 

		}
		div.got{
			background: url(http://i.meilishuo.net/css/images/shop/activity/coupon_got.png) no-repeat left top; 
			background-size: 100%;
			span.full{ .fc(#a7a0a4); }
			span.cost{ .fc(#80737b); }
		}
		.clearfix;
	}
	.applySteps{ .pb(15px); img{ .w(100%); } }
}
.goodsWall{
	.separate_tape{ .h(10px); /*border-top: 1px solid rgba(0,0,0,0.1); border-bottom: 1px solid rgba(0,0,0,0.1);*/  }
	.goods{
		img{ .w(100%); }
	}	
}
