@import '../block.less';
html,body{  .bgc(#ffffff); }
.header{ 
	.w(100%); 
	.h(86px); 
	.bgc(#ff6699);
	.pr();
	border-bottom: 4px solid #fa4989;
	img{ .block(); .pa(); top: 22.5px; left: 10%; z-index:1; }
	a{ .block(); .pa(); .l(90px); right: 10%; z-index:0; color: #ffffff; .f(14px); }
 }
.content{
	.w(100%);
	.pr();
	min-width: 1200px;
	max-width: 1600px;
	margin:0 auto;
	//.w(1600px);
	.h(600px);
	//min-width: 960px;
	background: #ffffff url(http://i.meilishuo.net/css/images/jobs/campus_bg.png?preview=1) no-repeat center top;
	background-size: auto 100%;
	.btn{
		.pa();
		//.w(510px);
		//.h(100px);
		left: 50%;
		top: 70%;
		background-color: rgba(0,0,0,0);
		a{
			.il-block();
			.f(16px);
			.pr();
			//.left();
			.w(250px);
			.h(100px);
			color: #ffffff;
			.c();
			span{ .block(); .l(2em); }

		}
		#company_info{ 
			span{ .pl(2.2em); .pa(); left: 55px; top: 35px; }
			.mr(25px); 
			span{ background: url(http://i.meilishuo.net/css/images/jobs/btn_1.png) no-repeat left center; background-size: auto 100%;}
			background-color: rgba(255,132,173,0.7); 
		};
		#jobs{ 
			span{ .pl(3em); .pa(); left: 55px; top: 35px;}
			background-color: #ff84ad;
			span{ background: url(http://i.meilishuo.net/css/images/jobs/btn_2.png) no-repeat left center; background-size: auto 100%;}
		}
		//.clearfix();		
	}

}
.footer{ margin: 0; padding:0; .w(100%); .l(70px); .c(); color: #aaaaaa;  border: none; .bgc(#ffffff); }