@import "../block.less";
html{.f(10*@f);}
body{.bgc(#dd6590);}
img{width:100%;.block;}

.c_div{
	.w(100%);.h(500px);.f(30px);.white;
}
.c_1{.bgc(#000);}
.c_2{.bgc(#333);}
.c_3{.bgc(#666);}
.c_4{.bgc(#999);}

.fix_nav_wrap{
	.pf;top: -40px;left: 0;.w(100%);.bgc(rgba(255,255,255,1));
	-webkit-transition: all .3s ease-out;opacity: 0;
}
.fix_nav_wrap a{
	.fc(#000);.block;
	.w(100%);.h(40px);.c;.l(40px);
}
.tc{
	.left;.w(25%);box-sizing:border-box;.c;.hidden;
}
.fix_nav_wrap_hover{
	top: 0;opacity: 1;
}