@import "../block.less";
html{.f(10*@f);}
body{.bgc(#dd6590);}
img{width:100%;.block;}

.c_div{
	.w(100%);.h(500px);.f(30px);.white;
}
.c_1{.bgc(#000);}
.c_2{.bgc(#333);}
.c_3{.bgc(#666);}
.c_4{.bgc(#999);}

.fix_nav_wrap{
	.pf;bottom: 20px;right: 20px;
}
.fix_nav_wrap a{
	.fc(#fff);.block;
	.w(40px);.h(40px);.c;.l(40px);.bgc(@red);.border-r(50%);
}
.tc_1, .tc_2, .tc_3, .tc_4{
	.pa;right: 0;bottom: 0;
}
.fix_nav_wrap .tc_1, .fix_nav_wrap .tc_2, .fix_nav_wrap .tc_3, .fix_nav_wrap .tc_4{
	-webkit-transform: rotate(0deg) translate(0, 0);
}
.fix_nav_wrap_hover .tc_1{
	-webkit-transform: rotate(630deg) translate(0, -80px);
}
.fix_nav_wrap_hover .tc_2{
	-webkit-transform: rotate(660deg) translate(0, -80px);
}
.fix_nav_wrap_hover .tc_3{
	-webkit-transform: rotate(690deg) translate(0, -80px);
}
.fix_nav_wrap_hover .tc_4{
	-webkit-transform: rotate(720deg) translate(0, -80px);
}
.fix_nav_wrap_hover .tc{
	-webkit-transition: all .3s ease-out;
}
.fix_nav_wrap .tc{
	-webkit-transition: all .3s ease-out;
}
.fix_nav_btn{
	.w(40px);.h(40px);.bgc(#ff0);.border-r(20px);
	.pa;bottom: 0;right: 0;
	z-index: 100;
}