@import "sq.less";

.bg_set() {
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: contain;
}
html,
body { .h(100%); .bgwhite; }

.wall {
	min-height: 100%;
	padding: .05rem .1rem;
	.clearfix;
	figure {
		.left;
		.w(1.55rem);

		a {
			.block;
			.h(1.22rem);
			margin: .1rem .15rem;
			.bg_set;
		}
		figcaption { 
			.mb(.3rem);
			.f(.24rem);
			.black;
			.c; 
		}
	}
}
