@import "sq.less";
body{.bgc(#f0edee);}
.pullUp{
	.pullUpDown > .common;.pullUpDown > .loading;
	&:before{
		.nowrap;
		.ml(-32px);
	}
	&[status="tap"]{
		background:0 none;	
		/*
		&:before{
			content:"上拉看更多..."	
		}
		*/
	}
	&[status="stop"]{
		background:0 none;
		.h(2px);
		
		&:before{.i_block;
			content:"没有更多内容了...";
		}
	}
}
.frame{
	.pr;
}
.goTop();
#goTop{bottom: 10px;}
.new_goods{
	.pr;
	.mt(10px);
	.clearfix;
	.goods_li{
		.pa;
		.w(50%);
		.hidden;
		.li_border{
			.ml(10*@w);
			.mr(10*@w);
		}
	}
	.li_border {
		.pr;.border-1(#d9d9d9);.mb(20*@w); .bgwhite;
		.list_img {.block;background-size:100%;.hidden;
		}
		.list_title {.f(24*@px);.fc(#000); .l(32*@px);.hidden;}
	}
	.img_bt { border-bottom: 1px solid #ddd;}
	.list_info { .pt(20*@px); .pl(20*@px); .pb(20*@px); .pr(20*@px);}
	.list_cost {.pt(20*@px); .pb(10*@px);}
	.money_now {.f(30*@px); .pr(10*@px);}
	.money_normal {.f(22*@px); .t-through;}
	// .goods_type {.pa; top: 0; left: 10*@px; .w(70*@px); .h(34*@px); .l(34*@px); .white; .c; .border-r(0 0 6*@px 6*@px);}
	.goods_type{.pa; top: -4*@px;; left: 10*@px;.l(34*@px); .white; .c; .border-r(0 0 6*@px 6*@px);
		img{.i_block;
			// &:first-of-type{.ml(10*@px);}
		}
	}
	.two_type { left: 90*@px;}
	.new {.bgc(#ff96b9);}
	.hot {.bgc(#ff6f80);}
}
.wrap{
	.w(100%);
	.s_top{
		.w(100%);
		image{
			.w(100%);
		}
		.s_banner{
			.w(100%);
		}
		.s_info{
			// background-image: url('@{pic_url}/images/wap/web/sq/qq_first_info_bg.png');
			div{
				h2{
					font-size: 24px;
					line-height: 42px;
				}
				line-height: 20px;
				color: white;
				.pl(10px);.pr(10px);
				.pt(10px);
				.pb(10%);
				background-color: #ff6c7e;
				
				a{
					border-bottom: 1px dashed;
					float: right;
					color: white;
					text-align:	right;
				}
				a:hover{
					color: white;
				}
			}
		}
	}
}