@import "../block.less";

.lf(@var){left:@var;}
.top(@var){top:@var;}

html{.f(#333);}
body{.bgc(#f0edee);}
.msgList{ .mt(20*@px);}
.item{.h(139*@px); .l(139*@px); .mt(2*@px); .bgc(white);}
.item_icon{.h(88*@px); .w(88*@px); .border-r(88*@px); .vm; }
.unreadNum{
    .bgc(#ff8cb3);
    .h(30*@px);
    .w(30*@px);
    .border-r(15*@px);
    .pr; .left; .lf(95*@px); .top(20*@px);
    .fc(white); .f(26*@px); .l(30*@px); .c;

}
.nickName{
    .f(30*@px); .fc(#333);
    .pr; .lf(140*@px); .top(-100*@px);
    .w(30%); .l(30*@px);
    text-overflow:ellipsis; .nowrap; .hidden;
}
.status{
    .bgc(#78e000);
    .h(20*@px);
    .w(20*@px);
    .border-r(10*@px);
    .pr; .lf(95*@px); .top(-70*@px);
}
.msg{
    .f(26*@px); .fc(#999);
    .pr; .lf(140*@px); .top(-100*@px);
    .w(55%); .l(30*@px);
    text-overflow:ellipsis; .nowrap; .hidden;
}
.time{
    .f(24*@px); .fc(#666); .tr;
    .pr; .top(-180*@px);
    .w(95%); .l(30*@px);
    text-overflow:ellipsis; .nowrap; .hidden;
}
.msgNull{
    .w(100%); .c(); .mt(40%);
    .fc(#595056);
}
.nullBtn{
    .mt(10%); .mr(auto); .ml(auto);
    .fc(#fff); .bgc(#ff6699);
    .w(200*@px); .h(60*@px); .block(); .c(); .l(60*@px);
    .border-r();
}