@import "../block.less";

html{.f(10*@f);}
body{.bgc(#f7f4f3);}
.order_none{
	.icon{.block;.auto;.mt(40%);.w(68*@px);.h(86*@px);
		background:url("@{pic_url}/images/wap/web/im/order_none_icon.png");
		background-size:100% 100%;
	}	
	background-size:100% 100%;
	p{.f(28*@f);.red;.c;.mt(48*@w);}
}
.order_list{
	&>div{
		.f(22*@f);.l(1.3);.fc(#333);.bgwhite;
		border-top:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf;
		.mb(20*@px);
		.pl(30*@px);.pr(30*@px);	
		&>div{
			border-top:1px solid #dfdfdf;.pt(8*@px);.pb(12*@px);	
			&:nth-child(1){border-top:0 none;}
			&>p:nth-child(1){.f(24*@f);.l(1.8);.fc(#666);}
		}
	}
	.o_goods{
		li{.clearfix;.pb(12*@px);.pt(12*@px);}
		.goods_img{.left;.w(120*@px);.h(120*@px);}
		.o_txt_wrapper{.ml(130*@px);.l(30*@px);
			&>p{.h(60*@px);}
			&>div{.fc(#999);}
		}
	}
}
.pullUp;
