@import "../block.less";
html{.f(10*@f);}
body{.bgc(#f7f4f3);}
.green_f{.fc(#89c997);}
.shop_title{.pl(30*@px);.bgwhite;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	padding:14*@px 30*@px;
	img{.w(62*@px);.h(62*@px);.left;}
	span{.f(28*@f);.ml(20*@px);.l(60*@px);}
}
h3{
	.l(44*@px);.pl(30*@px);.f(20*@f);
}
.base_info{
	table{.w(100%);.bgwhite;border-top:1px solid #dfdfdf;
		td{.w(33.33%);.c;padding: 26*@px 0; border-bottom: 1px solid #dfdfdf;.l(24*@f);
			h4{.fc(@gray);.f(20*@f);}
			p{.f(28*@f);.mt(10*@px);.red;}
		}
	}
}
.plat_info{.hidden;
	.content_wrapper{
		border-top: 1px solid #dfdfdf;
		border-bottom: 1px solid #dfdfdf;
		.clearfix;
		.f(20*@f);
	}
	.f_l{.w(50%);.left;.h(200*@px);.bgwhite;}
	.f_r{.w(50%);.right;.h(200*@px);.bgwhite;
		p{.c;
			&:first-child{.pt(15px);}
			&:nth-child(2n){.mt(4px);.mb(12px);}
		}
	}
}
.post_list{
	ul{.bgwhite;border-top: 1px solid #dfdfdf;.f(20*@f);
		li{.l(86*@px);border-bottom: 1px solid #dfdfdf;.pr;
			a{.ellipsis;.w(400*@px);.ml(30*@px);.block;}
			.date{.fc(#999);.pa;right:0px;.mr(30*@px);top:0px;}
		}

	}
}
svg{
	.text_title{.fc(#666);}
	.text_percent{.mt(4px);.fc(#999);}
}
