@import "../block.less";
html{ .f(12px); }
body{ .bgc(#ffffff); }
.banner{
	background: url("@{pic_url}/images/wap/korea/b_xiaobao.png") no-repeat;
	background-size: 100%;
	.w(100%);
	.pt(193*@w);
}
.content{
	margin: 1% 1%;
	padding: 20*@w 16*@w 20*@w 20*@w;

	.fc(#80737b);
	p,b{
		.l(150%);
	};
	h3{
	 	.f(14px); 
	 	.fc(#595056); 
	 	.bgc(#ebe7e9); 
	 	.l(150%); 
	 	.pl(12px);
	 	.pt(12px);
	 	.pb(12px);
	};
	h4{
		.f(13px);
		.l(150%);
		font-weight: 300;
	};
	b{ .fc(#80737b); };
	div.part{
		.bp(top,left);
		background-repeat: no-repeat;
		//background-origin: border-box;
		background-size: 45px 45px;
		min-height: 45px;
		p{ 
			.pl(56px);
		 };
		b{
			.fc(#595056);
		};
	};
	.part1{ background-image: url("@{pic_url}/images/wap/korea/part1.png?preview=1") };
	.part2{ background-image: url("@{pic_url}/images/wap/korea/part2.png?preview=1") };
	.part3{ background-image: url("@{pic_url}/images/wap/korea/part3.png?preview=1") };
	.part4{ background-image: url("@{pic_url}/images/wap/korea/part4.png?preview=1") };
	.part5{ background-image: url("@{pic_url}/images/wap/korea/part5.png?preview=1") };
	.line{ .border-bc(solid); };
	ul{ .ml(8px); };
	li{ .pl(18px);.l(150%);.pb(6px);border-left: 1px solid #dedcdd;};
	li:last-child{ border-left: none; };
	li span.step{
		.block();
		.left();
		.ml(-26px);
		.pl(0.9px);
		.mt(1px);
		.w(12.5px);
		.l(12.5px);
		.c();
		.border-r(7px);
		color: #dedcdd;
		border: 1px solid #dedcdd; 
		.gray();
		.bgc(#fff);
	};
	p.item{
		.pl(8px);
		b{ .ml(-16px); };
		span.dot{ .ml(-7px);.fb(); };
	};

}