<script type="text/html" id="pktai">
	<? this.pktai.forEach(function(pktai){ ?>
		<? if(pktai.img){ ?>
			<div class="pk_item">
				<div class="img_wrap">
					<a href="<?= pktai.url ?>" class="pk_img js_show_img"><img src="<?= pktai.img ?>"></a>
					<div class="title"><div class="avatar"><img src="<?= pktai.avatar_e || 'http://d05.res.meilishuo.net/img/_o/70/d1/2a7dc6f679bb4c728335796a2155_60_60.cf.png' ?>"></div><?= pktai.title ?></div>
				</div>
				<p>已有<?= pktai.total ?>人参加</p>
			</div>
		<? } ?>
	<? }); ?>
</script>