<%# head_simple.html%>
</head>
<body>
<style>div,img{float: left;} div{width:100%; margin: 0 auto; }</style>
<div><img src="<%= this.PICTURE_URL%>images/wap/activity/macaron/i1.jpg" /></div>
<div><a href="/activity/macaron/goods/?top=pink"><img src="<%= this.PICTURE_URL%>images/wap/activity/macaron/i2.jpg" /></a></div>
<div><a href="/activity/macaron/goods/?top=green"><img src="<%= this.PICTURE_URL%>images/wap/activity/macaron/i3.jpg" /></a></div>
<div><a href="/activity/macaron/goods/?top=yellow"><img src="<%= this.PICTURE_URL%>images/wap/activity/macaron/i4.jpg" /></a></div>
<div><a href="/activity/macaron/goods/?top=purple"><img src="<%= this.PICTURE_URL%>images/wap/activity/macaron/i5.jpg" /></a></div>
<div><a href="/activity/macaron/goods/?top=blue"><img src="<%= this.PICTURE_URL%>images/wap/activity/macaron/i6.jpg" /></a></div>
<div>
	<div class="bg_pic">
		<img src="<%= this.PICTURE_URL%>images/wap/activity/macaron/i9.jpg" />
		<div class="shop_logo">
			<% this.logo && this.logo.map(function(data) { %>
				<a href="<%=data.taobao_wap_url%>"><img title="<%=data.shop_name%>" src="<%=data.img_url%>" /></a>
			<% }); %>
		</div>
	</div>
</div>

<%# foot_simple.html%>
