@import "../block.less";
html{.f(10*@f);}
body{background:#EFE7EA;}
img{width:100%;.block;}

.ios_simple;
.poster_simple;
.poster > ._pa;

.colFlag{ z-index: 2; }
.corner_notic{
	.w(50%);	
}
.pullUp{
	.pullUpDown > .common;.pullUpDown > .loading;
	&:before{
		.nowrap;
		.ml(-10px);
	}
	&[status="tap"]{
		background:0 none;	
		&:before{
			content:"上拉看更多..."	
		}
	}
	&[status="stop"]{
		background:0 none;	
		&:before{
			content:"木有了...";	
		}
	}
}

.go_meitukiss{.pa;.h(100%);.w(100%);top:0px;left:0px;}
.top_bnr, .upload_bg, .pic_bg {
	.bgwhite;.pr;
	background-repeat:no-repeat;background-position:center center;background-size: 100%;
}
.top_bnr{.box-shadow-r(@x:0px, @y:0px, @d:5px, @c:rgba(34,25,25,0.4));.w(100%);.pr;.pt(300*@w);}
.upload_bg{.t-shadow;}

.vote_show { .bgc(#ffeef4); border: 2px solid #feb3cc; .border-r(12*@px); .ml(10/2*@px);.mr(10/2*@px);
	.show_bg{.pr;
		img{.w(100%);.pa;top:0px;left:0px;.border-r-tr(6*@px);.border-r-tl(6*@px);}	
	}
	.user_info{ background: url("@{pic_url}/images/wap/activity/girl/hua1.png") no-repeat bottom; background-size: 100%; }
	.pic_bg { .pr;.pt(375/296 *100%); 
		background-image:url("@{pic_url}/images/wap/activity/girl/pic2.gif");
		p{ padding: 0 5%; .w(90%); .pa; top: 50%; }
		img{.w(100%);.pa;top:0px;left:0px;}
	}
	.btn{.f(28*@f);}
}
.user_info {
	.h(160*@px);
	.face { .left; .h(76*@px); .w(76*@px); border: 4px*@px solid #fff; box-shadow:0px 3px 3px rgba(128,64,85,0.2);
		.border-r(76*@px); .pr; top: -20*@px; left: 4*@px;
		img { .h(76*@px); .w(76*@px); .border-r(76*@px); }
	}
	.txt_info { .pt(4*@px); .pl(30%);
		li { .f(18*@px); .h(26*@px); .l(26*@px); .ellipsis; .w(100%); }	
	}
	.btnBox { .auto; .w(80%); .pt(8*@px); .pb(16*@px);
		.btn, .voted { .border-r(12*@px); .f(28*@px); .h(48*@px); .l(48*@px); .w(100%); }
		.btn { .act_btn; }
		.voted { .red; .block; .c; .bgc(#ffe6ef); border: 1px solid #ffc5d8; }
	}	
}
/*ul list*/
.num_info { .hidden; .pt(5%); .c; 
	li { .i_block; border-right: 1px solid #ccc; padding: 0 3%; 
		&:last-child { .border-n; }
		span, b { .block; .h(50%); }
		span { .f(20*@px); }
		b { .f(24*@px); .red; .mt(8*@px); }
	}	
}



.mtb { .mt(3%);.hidden; }


.suc_bg{
	&_invite{
		background: url("@{pic_url}/images/wap/activity/girl/suc_bg5.jpg") no-repeat;
		.pt(440*@w);
		.pic_con{
			top:66/492 * 100%;
		}
	}
	&_success {
		background: url("@{pic_url}/images/wap/activity/girl/suc_bg0.jpg") no-repeat;
		.pt(470*@w);
		.pic_con{
			top:80/492 * 100%;
		}
	}
	&_invite, &_success{background-size: 100%;
		.pr;
		.pic_con{
			.w(224*@w);.pa;left:56*@w;.pt(292*@w);.hidden;
			img{.w(100%);.pa;top:0px;left:0px;}
		}
		article{
			.pa;left:340*@w;top:66/492 * 100%;.pr(50*@w);
			.tle{.red;.f(28*@f);.pb(30*@px);.l(1.4);}	
			.info { .hidden;.l(1.6); 
				p{
					.f(24*@f); 
					strong { .red;}
				}	
			}
		}
	}
}

.starBox { .star_box; .pf;bottom:0px;}
.appBox {  background: url("@{pic_url}/images/wap/activity/girl/app_bg.jpg") repeat;.pl(50*@w);.pr(50*@w);.pb(30*@w);
	.pic { background: url("@{pic_url}/images/wap/activity/girl/pic_bg.png") no-repeat; background-size: 100%;
		.w(336*@w); padding: 30*@w 80*@w 50*@w 54*@w; .auto; 
		.p_con { .pt(440/336*100%); .pr; .hidden; 
			img { .pa; top: 0; left: 0; .w(100%); }
		}
	}
	.tle { .c; .f(36*@px); .l(70*@px); }
}
.top_des { .pr;
	.btn_view {.w(536*@w);.h(82/521*100%);.pa;bottom:11/521*100%;left:51*@w;.block; }
}


.meitukiss{
	div{
		background-size: 100%;
		&:nth-child(1){ .pt(300*@w);background-image: url("@{pic_url}/images/wap/activity/girl/MeituKiss_01.jpg");}
		&:nth-child(2){ .pt(240*@w);background-image: url("@{pic_url}/images/wap/activity/girl/MeituKiss_02.jpg");}
		&:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6),
		&:nth-child(7), &:nth-child(8), &:nth-child(9){.pt(434*@w);}
		&:nth-child(3){ background-image: url("@{pic_url}/images/wap/activity/girl/MeituKiss_03.jpg");}
		&:nth-child(4){ background-image: url("@{pic_url}/images/wap/activity/girl/MeituKiss_04.jpg");}
		&:nth-child(5){ background-image: url("@{pic_url}/images/wap/activity/girl/MeituKiss_05.jpg");}
		&:nth-child(6){ background-image: url("@{pic_url}/images/wap/activity/girl/MeituKiss_06.jpg");}
		&:nth-child(7){ background-image: url("@{pic_url}/images/wap/activity/girl/MeituKiss_07.jpg");}
		&:nth-child(8){ background-image: url("@{pic_url}/images/wap/activity/girl/MeituKiss_08.jpg");}
		&:nth-child(9){ background-image: url("@{pic_url}/images/wap/activity/girl/MeituKiss_09.jpg");}
	}	
	.bgwhite;.pb(120*@w);	
}

@import "../footer.less";
