<%# demo/head.html%>

<section class="page">
	<h2>Dialog</h2>

	<dl>
		<dt>特点：</dt>
		<dd></dd>
		<dt>less：</dt>
		<dd>.windowDrive;</dd>
		<dt>html：</dt>
		<dd>< % # block/dialog.html % ></dd>
		<dt>js：</dt>
		<dd>wap/ui/alert, wap/ui/confirm, wap/ui/dialog</dd>
	</dl>

	<div class="demo-btn">
		<span id="showAlert">Alert</span>
		<span id="showConfirm">Confirm</span>
		<span id="showDialog">Dialog</span>
	</div>

</section>
<%# block/dialog.html %>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('m/page/demo/dialog');
_use:", this._JSstack , this._JSmods ); %>
<%# demo/foot.html%>
