@import "block.less";

@bg_icon: 'http://d03.res.meilishuo.net/pic/_o/c6/fc/9b0ba6f3238a9af4b4b576ebe6d6_580_678.cf.png';
.icon_bg(@x:0, @y:0){
	background: url(@bg_icon) no-repeat;
	background-size: 2.9rem;
	background-position: @x @y;
}

.page_head;
.page_head .right_btn{ .none; }

.wap_foot;

body{
	.bgc(#f8f8f8);.w(6.4rem);.f(.24rem);
}

.coupon_tabs{
	.f(.26rem);
	.bgc(#fff);
	.pt(.26rem);
	.pb(.18rem);
	a{
		.left;
		.w(17%);
		.fc(#7a7378);
		.pb(.08rem);
		.ml(8%);
		.mr(8%);
		.c;
	}
	.active{
		.fc(#f69);
		border-bottom: solid 1px #f69;
	}
	.clearfix;
}
.coupon_list{
	.pl(.06rem);
	.pr(.06rem);
	.pb(.2rem);
	.clearfix;
	.empty{
		.f(.12rem);
		.c;
		.fc(#999);
		.mt(.8rem);
	}
}
.item{
	.left;
	.w(50%);
	.mt(.2rem);
}
.item>div{
	.ml(.06rem);
	.mr(.06rem);
	padding: .18rem .15rem .24rem .26rem;
	.info{
		.f(.25rem);
		.h(.9rem);
		overflow: hidden;
		border-bottom: solid 1px #e5e5e5;
		.flex{
			.l(1.1rem);
		}
		.price{
			.right;
			.mt(.13rem);
			strong{
				font-weight: normal;
				.f(.60rem);
				.ml(.04rem);
			}
		}
	}
	.desc{
		.f(.22rem);

		.mt(.13rem);
		.mb(.11rem);
		span{.right;}
	}
	.date{
		.f(.2rem);
	}
}
.item{
	.pr;
	.expired{
		background: url(http://d05.res.meilishuo.net/pic/_o/88/85/f1da376c5d8b008091317de822f9_302_189.cg.png) no-repeat;
		background-size: 100% 100%;
		.fc(#ccc)
	}
	.expired:before{
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		left: 2%;
		top: 0;
		background: url(http://d04.res.meilishuo.net/pic/_o/db/91/26d3ca946a8ee1b6d6b3de164fa7_132_121.cg.png) no-repeat -3% -40%;
		background-size: 50%;
	}
	.available{
		.desc{
			.fc(#666);
		}
		.date{
			.fc(#ccc);
		}
	}
	.used{
		.fc(#ccc);
	}
}
.shop{
	>div{
		background: url(http://d01.res.meilishuo.net/pic/_o/b4/8b/d46e016b1453ea7899b7ab2224bc_302_189.cg.png) no-repeat;
		background-size: 100% 100%;
	}
	.available{
		.info{
			.fc(#f63631);
		}
	}
	.used{
		.info{
			.fc(#fbadac);
		}
	}
	.used:before{
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		left: 2%;
		top: 0;
		background: url(http://d03.res.meilishuo.net/pic/_o/82/d8/758fc173759cbc1d2af376d77159_136_126.cf.png) no-repeat -3% -40%;
		background-size: 50%;
	}
}
.platform{
	>div{
		background: url(http://d02.res.meilishuo.net/pic/_o/e0/77/5ab9743c0d03295c277f8cd5d8af_302_189.ch.png) no-repeat;
		background-size: 100% 100%;
	}
	.available{
		.info{
			.fc(#ffae12);
		}
	}
	.used{
		.info{
			.fc(#ffd9a6);
		}
	}
	.used:before{
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		left: 2%;
		top: 0;
		background: url(http://d02.res.meilishuo.net/pic/_o/bd/91/d6bc0228765502b6e77160e36081_136_126.ch.png) no-repeat -3% -40%;
		background-size: 50%;
	}
}

