@import "block.less";

body { .bgc(#f8f8f8);}

.frame_simple;
.navBan;
.slide;

.findPwd {
	// .mt(@header_top);
	fieldset { 
		form{
			div.input_wrapper{  .pl(40*@px); .bgwhite;border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb;  }
			input{.block;.f(26*@px);.fc(#ccc);.h(88*@px);margin: 0;border:none;.w(600*@w);}
			p{
				.l(88*@px);.f(26*@px);.fc(#80737b);
				.title{ .fc(#999);.f(26*@px);.pl(40*@px); .bgc(#f8f8f8);} 
			 }
			.checkBox{
				.pr;
				.bgwhite;
				input{.w(50%);}
			}
			.checkImage{
				.pa;top:5px;right:20*@px;
				span{.il-block;.right;.cursor;}	
			}
			.captchaBox{
				.pr;
				.bgwhite;
				input{.w(50%);.pl(40*@px);}
				.timeBox{.pa;top:30*@px;right:20*@px;.f(160%);.ml(10px);.cursor;}
				border-top: 1px solid #e6e5e6;border-bottom: 1px solid #e6e5e6;
			}
			.errorMessage{.red;.mt(40*@px);.c;.f(12px);}
			.submitBox {.hidden;margin: 40*@px 20*@px 20*@px 20*@px;
				.button{.common_button; .common_button > .redBtn; .border-n; .f(200%);.fb;.l(78*@px);.w(100%); background-color: #ff94b7; .fn; .f(28*@px); .border-r(8*@px);}
			}
			.line{ .h(0); .w(100%);  border-bottom: 1px solid #e6e5e6; }
			.loginNow { .block; .c; .common_button; .common_button > .redBtn; .border-n; .f(200%);.fb;.l(78*@px);.w(100%); background-color: #ff94b7; .fn; .f(28*@px); .border-r(8*@px);}
		}
	}
}
