@import "block.less";
.frame;
//.ios;
.slide;
.header;.header > .a;
.foot;

.wrapper{
	.mt(64*@px);
	&.normal{
		.mt(0);
	}
}
//.navBread;
.navRoute;

.navTopBan;
.navBan;

.search;


.poster;
.poster > ._pa;
.poster_pa;

.goods_wall{ 
	background-color: white;
	.poster_grid{
        border-radius: 0;

		figure{
			border: 0;
			.pic_load{
				.border-r-tr(0*@px);.border-r-tl(0*@px);
				img{
					.border-r-tr(0*@px);.border-r-tl(0*@px);
				}
			}
		}
	}
	.clothesTitle{
		padding: 0 7/155*100%;
		color:#80737A;
		.pt(5/155*100%);
		.f(1.2rem);
		.w(90%); 
		.ellipsis;
	}
	figcaption{
		.h(44*@px);.pt(16*@px);
		.f(1.2rem);
		.price{
			.left;
			color:#FF6597;

		}
		.like{
			.pl(15/155*100%);
			.ml(12/155*100%);
			.mr(2*@px);
			color:#999;
			background:url("http://d04.res.meilishuo.net/pic/_o/0b/af/01f834bdf72c210229a9d6277440_27_24.cg.jpg") no-repeat;
			background-size: 24*@px 20*@px;
			background-position: 0 38%;
		}
		.likecounts{
			color: #999;
		}
	}
}
.show { display: block; }
.hide { display: none; }
.pullUp{
	.pullUpDown > .common;.pullUpDown > .loading;
	&:before{
		.nowrap;
		.ml(-10px);
	}
	&[status="tap"]{
		background:0 none;	
		&:before{
			content:"上拉看更多..."	
		}
	}
	&[status="stop"]{
		background:0 none;	
		&:before{
			content:"木有了...";	
		}
	}
}


