@import 'block.less';
* {
	padding: 0;
	margin: 0;
}

body {
	background: #fff;
	text-align: center;
	width: 6.4rem;
}

img {
	display: block;
	width: 100%;
}

.input_msg {
	position: relative;
	width: 442*@w;
	margin: auto;
	text-align: center;
	.box {
		height: .8rem;
		border-radius: 12*@px;
		font-size: .28rem;
	}
	.require {
		background: #fff;
		border:4*@px solid #cccccc;
		.pl(.3rem);
	}
	.phonenum {
		width: 100%;
		box-sizing: border-box;
		.pl(.3rem);
	}
	.cell {
		margin-top: .3rem;
	}
	.code {
		width: 240/455*100%;
		display: inline-block;
		position: absolute;
		left: 0;
	}
	.red_btn {
		line-height: .8rem;
		background: #fd7251;
		border:4*@px solid #fd7251;
		color: #fff;
		border-radius: 6px;
	}
	.send_btn {
		width: 160/455*100%;
		display: inline-block;
		position: absolute;
		right: 0;
	}
	.apply_btn {
		margin: 1.4rem auto .5rem;
		font-size: .32rem;
	}	
}

.btn {
	width: 440*@w;
	height: .8rem;
	line-height: .8rem;
	font-size: .32rem;
	text-align: center;
	border-radius: 6px;
	color: #fff;
}

.download_btn {
	background: #fe5458;
	margin: .3rem auto 0;
}

.share_btn {
	background: #fd7251;
	margin: .18rem auto .78rem;
}

.result {
	font-size: .28rem;
	margin-top: .54rem;
	.in_notice {
		color: #666;
	}
	.mobile {
		color: #fd7251;
	}
}

.logo {
	width: 132*@w;
	margin: .54rem auto;
}

.share_mask {
	width: 100%;
	height: 100%;
	background: rgba( 0, 0, 0, .8 );
	position: fixed;
	top: 0;
	.word {
		color: #fff;
		font-size: .32rem;
		text-align: center;
		padding-top: 2.24rem;
		letter-spacing: .04rem;
	}
	p:nth-child(2) {
		padding: .22rem;
	}
	.share_arrow {
		width: 116*@w;
		position: absolute;
		top: .5rem;
		right: 48*@w;
	}
	.share_kiss {
		width: 266*@w;
		margin: .48rem auto 0;
	}
}

// .footer {
// 	.note {
// 		padding: 0 .48rem;
// 		font-size: .24rem;
// 		text-align: left;
// 		color: #666;
// 	}
// 	p {
// 		line-height: .4rem;
// 	}
// 	.left {
// 		margin-left: .44rem;
// 	}
// }

.note_pic {
	width: 100%;
}

//覆盖引入的默认alert的样式
.windowDrive {
	.dialog {
		font-size: .32rem;
		line-height: 1;
		width: 70%;
	}
	.dialog-con {
		padding: .4rem 0;
	}
	.dialog-btn span {
		padding: .2rem 0;
	}
}
