@import "block.less";

html { .star_box; .bgc(#F5EDF0);  padding:0;}

.wrapper{ .ml(60*@w); .mr(60*@w); .fc(#804055); font-family: "黑体";
	h1{ .f(48*@f); .c(); .mt(60*@w); .mb(60*@w);
		.line{ .w(30%); .h(25px); .i_block;  vertical-align:top; border-bottom:2px solid #804055;}
	}
	.content{ .mb(50*@w); .f(28*@f);.l(32*@f);
		p{ .mb(50*@w); text-align: justify;}
	}
}

.btn_wrapper{ .mt(150*@w); .mb(30*@w);}
.btn { .act_btn; .border-r(40*@px); .f(40*@px); .h(80*@px); .l(80*@px); .w(100%);  }

