@import "block.less";
* {
	padding: 0;
	margin: 0;
}

img {
	.block();
}

.play {
	.w(100%);
	.bgc (#ff3c3e);
}

.begain {
	.pr();
	.bgc(#ff3c3e);
	.content {
		.w(100%);
		.pr();
		img {
		.w(100%);
		}
		.start_btn {
			.w(100%);
			.pa();
			bottom: (140/1010*100%);
			img {
				.w(300/640*100%);
				.auto();
			}
		}
	}
}

.result {
	.bgc(#fff);
	.content {
		.pr();
		img {
			.w(100%);
		}
		.banner {
			.w(100%);
			.pa();
			top: 0;
			left: 0;
			.surpass {
				.pa();
				.fc(#2e2e33);
				.f(1.8rem);
				.w(150/640*100%);
				top: (94/380*100%);
				left: (44%);
				text-align: center;
			}
		}
		.msg {
			.w(100%);
			.fc(#fff);
			.pa();
			span {
				.f(1.2rem);
				.pa();
				.c();
			}
		}
		.cur_msg {
			top: (460/1010*100%);
		}
		.his_msg {
			top: (540/1010*100%);
		}
		span.score {
			left: (226/640*100%);
			.w(88/640*100%);
		}
		span.time {
			left: (440/640*100%);
			.w(120/640*100%);
		}
		.operate {
			.w(100%);
			.pa();
			top: (780/1010*100%);
			.buyer_btn {
				.w(560/640*100%);
				margin: 0 auto (38/1010*100%);
			}
			ul {
				.c();
			}
			li {
				.w(270/640*100%);
				.i_block();
			}
			.share_btn {
				.ml(10/640*100%);
			}
			.again_btn {
				.ml(-10/640*100%);
			}
		}
		
	}
	.share {
		.w(100%);
		.h(100%);
		.pf();
		top:0;
		left: 0;
		.bgc(rgba(0,0,0,.8));
		img {
			.w(420/640*100%);
			.ml(170/640*100%);
			.mt(40/640*100%);
		}
	}
}

.recommand {
	.bgc(#d2d2d2);
	.content {
		.pr();
	}
	img {
		.w(100%);
	}
	.rec_msg {
		.w(100%);
		.pa();
		top: 0;
		input {
			.w(560/640*100%);
			.bgc(#fff);
			border: 1px solid #cecece;
			.ml(40/640*100%);
			.f(1.1rem);
			padding: 0.5rem 0;
			text-indent: (0.8rem);
		}
		.wrong {
			display: none;
		}
	}
	.rec_btn {
		.pa();
		.w(100%);
		top:(462/1010*100%);
		img {
			.w(560/640*100%);
			margin: 0 auto;
		}
	}
	.mask {
		.pf();
		top: 0;
		.w(100%);
		.h(100%);
		.bgc(rgba(0,0,0,.8));
		.mask_content {
			.pa();
			.w(560/640*100%);
			.bgc(#ffea50);
			left: (40/640*100%);
			top: 50%;
			.border-r(5px);
			.success_info {
				padding: (60/560*100%) 0;
			}
			.know{
				.w(100%);
				padding-bottom: (70/560*100%);
				.know_btn, .back_btn {
					.auto();
					.w(256/560*100%);
				}
			}
		}
	}
}

.download {
	display: none;
	.w(100%);
	.h(100%);
	.bgc(#fff);
	.content{
		.pr();
		img {
			.w(100%);
		}
		ul {
			.w(100%);
			text-align: center;
			.pa();
			bottom: (100/1010*100%);
		}
		li {
			.w(270/640*100%);
			display: inline-block;			
		}
		.higo_btn {
			.ml(-10/640*100%);
		}
		.again_btn {
			.ml(10/640*100%);
		}
	}
}







