@import 'block.less';

body{ color:#6b3536; .w(6.4rem); .f(.3rem); }


/*lunbo banner*/
.sliderBanner;
.banner-slider{ .pr; .gpu;  
	li{ .w(100%); }
}
.banner-slider-point{ .pa; .w(100%); left:0; .mb(8px);
	li{ float: none; .i_block; background-color:#fff; .vm; .w(5px); .h(5px); .mr(2px); }
	.curr{ background-color:transparent; border:1px solid #fff; }
}

.title{ .w(100%); .block; }
.rm_news{ .mb(.14rem); }
.news_box{ .w(100%); background-color: #fff; 
	tr{ .h(2.2rem); }
	td{ .c; vertical-align: middle; }
	.dot_box{ .w(.68rem); }
	.dot{ .w(.24rem); .h(.24rem); .border-r(50%); background-color: #6b3536; .right; }
	.time{ .w(1.5rem); .f(.24rem); .fb; }
	.pic{ .w(1.7rem); .hidden;
		img{ .w(1.5rem); .block; }
	}
	.content{ .l(.28rem); .tl; }
	p{ .f(.18rem); }
	p.title{ .f(.24rem); }
	
}
.same_box{ padding: 0 .1rem; .clearfix; background-color: #fff; 
	.single_box{ .w(2.9rem); .h(4rem);  margin: .1rem; .left; .pr; 
		img{ .pa; .w(2.9rem); .h(4rem); left: 0; top: 0; }
		.bottom{ .pa; left: 0; bottom: 0; .w(2.9rem); .h(1rem); background: rgba(255, 255, 255, 0.85); .l(.36rem); 
			p{ color:#6b3536; .f(.18rem); padding: 0 .1rem; .ellipsis; }
			.name{ .f(.28rem); .mt(.2rem); }
		}

	}
}