@import "block.less";

html,body{.h(100%);.w(100%);.hidden;.bgwhite;}
body{.h(100%);.w(6.4rem);.pa; }

.wrap, .main,.page{.w(100%);.h(100%);.auto;}
.main{ .pr; .hidden; 
	background: url('http://d05.res.meilishuo.net/pic/_o/15/bc/43f1712042f11d5f19ef8dc84df5_640_1136.cj.png') no-repeat; 
	background-size: 100%; 
	textarea{ .pa; left: 1.2rem; top: 2.48rem; .w(3.8rem); .h(.8rem); color: #ff83ba; background: none; border: none; .f(.2rem); }
	.sub_btn{ .w(1.72rem); .h(.54rem); .pa; left: .79rem; top: 3.76rem; }
	.dream_box{ .w(4.88rem); .h(3.46rem); .pa; left: .79rem; top: 5rem; overflow-y: scroll; 
		.info_box{ .w(100%); .h(.56rem); .f(.2rem); color: #fd5da5; margin: .36rem 0; 
			img{ .w(.56rem); .h(.56rem); .border-r(50%); .left; .mr(.1rem); }
			.talk{ .l(.26rem); .mt(.1rem); 
				.cont{ .w(4.2rem); .h(.26rem); .ellipsis; }
			}
		}
	}
	.tShareBtn{ .w(3.76rem); .h(.56rem); .pa; left: 1.37rem; top: 8.95rem; }
}

/*微信分享引导蒙层*/
.mask{ .pa; top:0px; left:0px; right:0px; bottom:0px; z-index:99; .none; background:rgba(0,0,0,0.68) url("http://i.meilishuo.net/css/images/wap/activity/baoyang/shareLead.png") center 6% no-repeat; background-size:68%; }

/*dialog*/
.dialog();
.windowDrive .dialog{ .w(70%); }
.windowDrive .dialog .dialog-btn{ .none; }
/* 分享 */
.starBox { .star_box; border-top: 0; 
	.share_ico{
		.icons_box{ .w(100%); } 
		a{ background-size: 496%; .w(1rem); .pt(1.1rem); .f(.22rem); .mr(.1rem); .ml(.1rem); }
		.btncontain { .mt(.28rem);
			.btn{ .h(.7rem); .l(.7rem); .f(.36rem); }
		}
			
	}
	
}


