@import "block.less";
.header;
.search;
.frame;
.navTopBan;
.navBan;
.foot;
.sliderBanner;
.banner-slider-point{.none;}

.slide;

.fleft{left:0;}

.header[status="search"] .search {
	-webkit-transition: right 0.2s ease-out 0.4s;
	width: 100%;
	right: 0%;
}

body{.bgc(#f4f1f0);}
.header{ .pr;}
.wrapper{
	.mt(66*@px);
	.clothes{clear:both;.left;.ml(20*@px);.h(50*@px);.w(105*@px);.mt(38/2*@px);.mb(38/2*@px);
		background-size:100%;background-repeat:no-repeat;
		&+a{.right; .l(88*@px);.f(160%);.fc(#000);.mr(20*@px);
			&:after{
				content:">";
				.fc(@red);	
				.ml(8*@px);
			}
		}
	}	
	nav{
		clear:both;
		border-top:1px solid #d2d0cf;
		border-bottom:1px solid #d2d0cf;
		.bgwhite;
		min-height:250*@px;

		.example{.w(180*@w);max-width:180*@px;.left;.mr(10*@w);}
		.hotExample{.w(180*@w);max-width:180*@px;.left;.mr(10*@w);.ml(2*@px);.mt(30*@px);}
		ul{
			.hidden;
			li{.left;.f(140%);.w(78% / 3);.mt(30*@px);.c;
				a{
					.block;.w(90%);.ellipsis;
				}
				&:nth-child(4n+1){
					.tl;.w(22%);
					&:after{
						content:"";
					}
				}	
			}
			&+a{
				.f(160%);.c;.mt(30*@px);
				.red;clear:both;
				.i_block;.l(2);
				&:after{
					.fc(@red);	
					.ml(8*@px);
				}
			}
		}
		
	}
	h3{
		clear:both;.left;.ml(20*@px);.h(50*@px);.mt(38/2*@px);.mb(38/2*@px);
		.hotlogo{
			.w(50%);
		}
	}	
	
	.hotsale{

	}
}



