@import "block.less";
@import "iscroll.less";
	
.welcome{
	&_main{
		.pa;.w(100%);.h(100%);z-index:20;top:0px;left:0px;background-color:#f2f2f0;
		@footer_h : 42px;
		@header_h : 42px;
		.header{.h(@header_h);.l(@header_h);
			nav{
				li{.left;.w(50%);.c;
					border-bottom:1px solid #ccc;
				}
			}
		}
		.footer{.h(@footer_h);
			.bgwhite;opacity:0.9;
		}
		.pullUp{
			.mb(@footer_h);
		}
		.wrapper{top:@header_h;bottom:0px;left:-9999px;
		}
		.wrapperInner{
		}
	}	
}

.goods_wall{.pr;.pb(4px);
	.poster_grid{.left;}
	.new_poster{.pr;.ml(2px);.mr(2px);}
	.price{.pa;bottom:10px;right:0px;padding:2px 4px;.white;
			background-color:#000;
			opacity:0.6;
	}
	.pic_load{
		img{.w(100%);.h(100%);}
	}
}


@import "footer.less";
