@import "block.less";

html{ .f(18*@f);  }
img{ .block; .w(100%); }

/*welfare_show*/
.wauto(){ .w(580*@w); .auto; }
.title{ .red; .c; text-shadow:0 2px 2px rgba(255, 255, 255, 0.65); padding:20*@w; .fn; }
.goods_img{ .bgwhite; .border-1c; padding:8*@w; .wauto; }
.priceinfo_section{ .wauto; .clearfix; .f(14*@f); margin:20*@w auto;
	p:first-child{ .mr(60*@w); }
}
.time{ .wauto; margin:20*@w auto; .f(15*@f); }
.allw{ .c; color:#fff; .f(19*@f); text-shadow:2px 0 2px rgba(0, 0, 0, 0.2); .l(45px); margin:20*@w auto; }
a.allw{ .block;
	&:hover { color:#fff; }
}
.redbg{ .bgred; }.graybg{ background:rgba(0, 0, 0, 0.1); }
.section{ .wauto;
	.subtitle{ .c; .red; margin:20*@w 0;}
	p:last-child{ .l(24px); }
}
.dot{ .w(30%); .h(9px); .i_block; .border-bc(dashed); vertical-align:top; }
hr{ .wauto; margin:20*@w auto; }
.exit_push{ .c; .pb(40*@w);
	p{ margin:20*@w 0;}
}
.redbtn{ .f(12*@f); color:#fff; padding:4px 10px; .border-r(4px); .bgred; }
.subed{ .wauto; .border-1c; background:#F8F5F5; .notice(); padding:8*@w; }
.list{ .wauto; .clearfix; .w(100%); .h(124px); .hidden; 
	li{ .w(48%); .left; .tl; .ellipsis; .l(24px);
		&:nth-child(even){ .ml(4%); }
	}
}
.flex{ .c; margin:40*@w 0; .f(14*@f);
	.flex_btn{ .red; padding:4px 10px; border:1px solid #ff6699; .border-r(4px); }
	.angle{ border-top:10px solid #ff6699; border-left:10px solid #F5EDF0; border-right:10px solid #F5EDF0; .w(0); .h(0); margin:10px auto; }
}

/*welfare_questionnaire*/
.cred{ .c; .red; margin:40*@w 0; }
.qa{ .c; .l(22px); .f(14*@f);
	dt{ margin:10px 0; }
	dd{ .w(60%); .tl; margin:10px auto; }
	input{ .w(20px); .h(20px); margin:-1px 8px 0 0; }
}

/*welfare_apply*/
.tip{ .c; .f(12*@f); .red; .l(22px); margin:20*@w 0; }
.userinfo{ margin:20*@w 20*@w 60*@w 20*@w; .f(14*@f); .bgwhite; .border-1c; .border-r(6px); padding:10px;
	p{ border-collapse:collapse; .border-bc(solid);
		span{ .border-rc(solid); padding:5px; border-collapse:collapse;  }
		input{ .w(70%); .h(30px); .f(16*@f); border:0; border-collapse:collapse; }
		&:last-child{ border:none; }
	}
}
.userinfo_tips{ .none; .c(); .fc(red);}
.weibo{ .c; margin:10px 0; .f(14*@f); color:#888; }

/*welfare_submit*/
.notice{ .c;
	p{ .f(26*@f); .fb; text-shadow:2px 0 2px rgba(255,255,255,0.65); padding:40*@w 0; 
		img{ .w(51px); vertical-align:middle; .i_block; }
		span{ vertical-align:middle; }
	}
	.main_no{ .f(14*@f); }
	.sub_no{ .f(12*@f); .l(28px); }
}
.dui{ padding:0px 16px; background:url("@{pic_url}/images/wap/activity/project/dui.png") no-repeat; }
.info_sure{ .wauto; .mt(20*@w);
	dt{ background:#F8F5F5; .c; .l(40px); .border-1c; border-top-left-radius:6px; border-top-right-radius:6px;
		.modify{ .right; .mr(7px); }
	}
	dd{ .bgwhite; .f(14*@f); padding:12px; .border-1c; .mt(-1px);
		&:last-child{ border-bottom-left-radius:6px; border-bottom-right-radius:6px; .l(22px); }
	}
}

/*show_trial_report*/
.report_wapper{ .wauto;
	h3{ margin:20*@w; }
	.report_list{ .bgwhite; .border-1c; .border-r(8px); padding:5px; .mt(20*@w);
		.more{ .c; padding:10px; border-top:1px dotted #ddd; .border-r(0 0 8px 8px); text-shadow:0 2px 0 #fff; }
	}
}

/*dialog*/
.dialog();
#dialogContent{
	.list{ .h(124px); overflow-y:scroll; }
}
