<div class="clear_f"></div>
<div class="footer">
	<div class="foot_con">
			Copyright ©<%= new Date().getFullYear()%> Meilishuo.com &nbsp;<a href="<%= this.PICTURE_URL%>images/about/licenseIPC.jpg" target="_blank">电信与信息服务业务经营许可证100798号</a>&nbsp; <a href="<%= this.PICTURE_URL%>images/about/licenseGS.jpg" target="_blank">企业法人营业执照</a>&nbsp; 京ICP备11031139号&nbsp; 京公网安备110108006045&nbsp;</br>客服邮箱：kefu@meilishuo.com&nbsp;&nbsp;客服电话：400-080-0577&nbsp; 文明办网文明上网举报电话：010-82615762 &nbsp;<a href="http://net.china.com.cn/index.htm" target="_blank">违法不良信息举报中心</a>&nbsp;<a href="http://www.mps.gov.cn/n16/n983040/n3967568/n4038844/n4110655/toupiao.html" target="_blank">我最喜爱的人民警察评选>></a>	
	</div>
</div>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
fml.use('page/common/global');
_use:", this._JSstack , this._JSmods ); %>
<%# foot_simple.html%>
