<%# head_simple.html%>
<div id="panel">
	<p class="time-block">
		<span>剩余时间:</span>
		<span id="time">500</span>
		<span>完成:</span>
		<span id="score">0</span>
	</p>
	<p id="show"></p>
	<p class="tip-block">
		根据上面的字的颜色从下面选择正确的字，选择正确自动开始游戏! 
		<span id="tip"></span>
	</p>
	<p id="select">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</p>
</div>
<div id="mask">
	<a href="javascript:void(0)" id="restart">重新开始</a>
</div>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/lark/color');
_use:", this._JSstack , this._JSmods ); %>
<%# foot_simple.html%>
