<%# head.html%>
<style>
	.ddl_box{
		width:100%; 
		background:#FFD9DA url('http://d01.res.meilishuo.net/pic/_o/99/b9/ac16934afb79b7fcfbe18cbc34d0_640_217.ch.jpg') repeat-y;
		background-size: 100% auto;
	}
</style>

<div id="count" style="background:#fff;position: absolute;z-index: 100; left: 0; top:0;  ">
	
</div>



<div id="start" style="background:#fff;position: absolute;z-index: 100; right:100px; top:0;  ">
	start
</div>



<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/lark/wood2-use');
_use:", this._JSstack , this._JSmods ); %>
<%# foot.html%>