<%# head_simple.html%>
<div id="container">	
		<div id="content"></div>
		<div id="side">
			<input type="button" id="start" value="开始"></input>
			<input type="button" id="top" value="向上"></input>
			<input type="button" id="right" value="向右"></input>
			<input type="button" id="bottom" value="向下"></input>
			<input type="button" id="left" value="向左"></input>
		</div>
	</div>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/lark/diamond');
_use:", this._JSstack , this._JSmods ); %>
<%# foot_simple.html%>
