<%# head.html%>
<input type="button" value="变" id="bian">
<canvas id="canvas"></canvas>
<img id="cropbox" src="http://i3.sinaimg.cn/ty/temp/up/2013-08-18/U5536P6T64D93893F1091DT20130818072948.jpg">

<div id="canvas_txt" style="display:relative;"> 
	<h2>文字水印</h2>
	<canvas width=200 height=200 id="thecanvas" ></canvas> 
    <button id="save_txt">保存文字</button> 
	<button id="saveImageBtn">保存图片</button> 
</div> 
<div> 
    <h2>图片水印</h2>
    <canvas width=200 height=200 id="thecanvas1" ></canvas> 
    <button id="saveImageBtn1">保存图片</button> 
</div> 
<img id="img1" style="display:none;" src="http://i.meilishuo.net/css/images/wap/sq/egg-1.png">
<img id="img2" style="display:none;" src="http://i.meilishuo.net/css/images/wap/sq_coupon/10.png">
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/lark/filter');
_use:", this._JSstack, this._JSmods); %>
<%# foot.html%>