<%# head_simple.html%>
<div id="ground"></div>
	<img src="<%=this.PICTURE_URL%>/images/lark/football/door2.png" alt="" id="door">
	<img id="goalkeeper" src="<%=this.PICTURE_URL%>/images/lark/football/goalkeeper.png">
	<div id="shoot"></div>
	<hr/>
	<img src="<%=this.PICTURE_URL%>/images/lark/football/football.png" alt="" id="football">

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/lark/football');
_use:", this._JSstack , this._JSmods ); %>
<%# foot_simple.html%>

<!-- 
	外层：div id = ground
	球门：img id = ball_door
	足球： img id = footerball
	守门员：div  id = goalkeeper 
	射门员： div id  = shoot
 -->