<%# head_simple.html%>
<div class="main" style="overflow:hidden;position:reletive">
	<div class="banner">
		<img src="<%=this.PICTURE_URL%>/images/lark/pt/top_pt.png" alt="">
	</div>
	<input type="file" id="abc"/>
</div>
<!-- <div class="popwin"></div>
<button class="btn">click</button>
<div class="demo">
	<p class="test">美丽说美丽说美丽说美丽说美丽说美丽说</p>
</div> -->

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/lark/pt_new');
_use:", this._JSstack , this._JSmods ); %>
<%# foot_simple.html%>