<%# head_simple.html%>
</head>
<body>
	<div class="time" >
		倒计时：<span id="time" >10.0</span>
	</div>

	<div class="click">
		<div class="click-prompt">
			<img src="http://d01.res.meilishuo.net/pic/_o/cd/e7/8752d7c5025620ec2d43a517fcfd_489_185.cg.png" alt="点击屏幕，开始游戏">
		</div>
		<div class="click-but"></div>
		<div class="click-finger"></div>
	</div>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/page/lark/run');
_use:", this._JSstack , this._JSmods ); %>
<%# foot_simple.html%>
