<%#head.html%>
<div class="bg">
	<div class="bg1">
	</div>
	<div class="bg2"></div>
	<div class="bg3">
		<div class="main">
			<a href="
http://www.meilishuo.com/share/item/2993048439?d_r=6_1999_0-1-1-7" class="a1" target="_blank"></a>
			<a href="
http://www.meilishuo.com/share/item/2952408155?d_r=6__0-1-1-8" class="a2" target="_blank"></a>
			<a href="http://detail.tmall.com/item.htm?spm=a220o.1000855.0.0.iEKlPT&id=35078419480&acm=03037.1003.1.87774&uuid=RI4py4Qn&abtest=_AB-LR24-PR24&scm=1003.1.03037.ITEM_35078419480_87774&pos=6" class="a3" target="_blank"></a>
			<a href="http://www.meilishuo.com/share/item/3019735577?d_r=6_1999_0-1-1-5" class="a4" target="_blank"></a>
			<a href="http://www.meilishuo.com/share/item/2976677245?d_r=6__0-1-1-12" class="a5" target="_blank"></a>
		</div>
	</div>
	<div class="bg4">
		<div class="main">
			<a href="
http://www.meilishuo.com/share/item/2902939307?d_r=6__0-1-1-1" class="a1" target="_blank"></a>
			<a href="
http://detail.tmall.com/item.htm?spm=a1z10.15.w4011-3550416203.173.j5
JOxl&id=38567593482&rn=e550b36532f0ad010047454a43c12bad" class="a2" target="_blank"></a>
			<a href="
http://www.meilishuo.com/share/item/2994671899?d_r=6__0-1-1-1" class="a3" target="_blank"></a>
			<a href="http://www.meilishuo.com/share/item/2858286441?d_r=6__0-1-1-10" class="a4" target="_blank"></a>
			<a href="http://www.meilishuo.com/share/item/2871067297?d_r=6__0-1-1-2" class="a5" target="_blank"></a>
		</div>
	</div>
	<div class="bg5">
		<div class="main">
			<a href="
http://www.meilishuo.com/share/item/2895315451?d_r=6__0-1-2-17" class="a1" target="_blank"></a>
			<a href="http://item.jd.com/941679.html" class="a2" target="_blank"></a>
			<a href="http://www.meilishuo.com/share/item/2894880755?d_r=6__0-1-2-20" class="a3" target="_blank"></a>
			<a href="http://www.meilishuo.com/share/item/2832389199?d_r=6__0-1-1-6" class="a4" target="_blank"></a>
			<a href="http://www.meilishuo.com/share/item/2547787545?d_r=6__0-1-1-3" class="a5" target="_blank"></a>
		</div>
	</div>
	<div class="bg6">
		<div class="main">
			<a href="http://detail.tmall.com/item.htm?spm=a1z10.15.w4011-3550416203.173.j5JOxl&id=38567593482&rn=e550b36532f0ad010047454a43c12bad" target="_blank"></a>
		</div>
	</div>
	<div class="bg7">
		<a href="http://item.jd.com/941679.html" target="_blank"></a>
	</div>

	<div class="dbg2">

	</div>
	<div class="dbg1">
		<div class="main">
			<div class="crest-wb">
<iframe width="322" height="397" frameborder="0" scrolling="no" src="http://widget.weibo.com/livestream/listlive.php?language=zh_cn&width=322&height=397&uid=1247004030&skin=1&refer=1&appkey=&pic=0&titlebar=1&border=1&publish=1&atalk=1&recomm=0&at=0&atopic=%E6%88%91%E7%9A%84%E7%82%AB%E7%99%BD%E7%BA%A6%E4%BC%9A%E5%BF%83%E6%84%BF&ptopic=%E6%88%91%E7%9A%84%E7%82%AB%E7%99%BD%E7%BA%A6%E4%BC%9A%E5%BF%83%E6%84%BF&dpc=1"></iframe>
				<div class="wbg"></div>
			</div>
			<div class="crest_daren">
				<div class="dr1">
					<div class="drcont1"></div>
					<div class="dr_meng"></div>
				</div>
				<div class="dr2">
					<div class="drcont2"></div>
					<div class="dr_meng"></div>
				</div>
				<div class="dr3">
					<div class="drcont3"></div>
					<div class="dr_meng"></div>
				</div>
				<div class="dr4">
					<div class="drcont4"></div>
					<div class="dr_meng"></div>
				</div>
				<div class="dr5">
					<div class="drcont5"></div>
					<div class="dr_meng"></div>
				</div>
				<div class="dr_text"></div>
			</div>
		</div>
	</div>

</div>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/huodong/crest');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>

