<%#head.html%>
<div class="topbg"></div>
<div class="shipin">
	<div class="inner">
		<a href="http://www.meilishuo.com/u/ENg2qt?frm=maybelline01" target="_blank" class="wei2" onclick="gajc(\"/more\");floodlight(\"NMNFI\");"></a>
		<ul class="tab1">
			<li></li>
			<li></li>
		</ul>
		<div class="vedio1">
			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="575" height="322">
				<param name="movie" value="http://player.youku.com/player.php/sid/XNjI3Njg0NzA4/v.swf?VideoIDS=XNjI3Njg0NzA4&isAutoPlay=true" />
				<param name="quality" value="high" />
				<param name="wmode" value="transparent" />
				<embed src="http://player.youku.com/player.php/sid/XNjI3Njg0NzA4/v.swf?VideoIDS=XNjI3Njg0NzA4&isAutoPlay=true" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" width="575" height="322">
				</embed>
			</object>
		</div>
		<div class="vedio2 none_f">
			<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="575" height="322">
				<param name="movie" value="http://player.youku.com/player.php/sid/XNjI3Njg1Njg4/v.swf?VideoIDS=XNjI3Njg1Njg4&isAutoPlay=true" />
				<param name="quality" value="high" />
				<param name="wmode" value="transparent" />
				<embed src="http://player.youku.com/player.php/sid/XNjI3Njg1Njg4/v.swf?VideoIDS=XNjI3Njg1Njg4&isAutoPlay=true" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" width="575" height="322">
				</embed>
			</object>
		</div>
		<p class="share" id="standardSelector"></p>
		<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=463778370" type="text/javascript" charset="utf-8"></script>
	</div>
</div>
<div class="daren">
	<div class="inner">
		<a href="http://www.meilishuo.com/u/ENg2qt?frm=maybelline04" target="_blank" onclick="gajc(\"/more\");floodlight(\"NMNFI\");"></a>
		<ul>
			<li><img src="<%= this.PICTURE_URL%>images/huodong/mbl_makeup/daren1.jpg" /></li>
			<li><img src="<%= this.PICTURE_URL%>images/huodong/mbl_makeup/daren2.jpg" /></li>
		</ul>
	</div>
</div>
<div class="mday">
	<div class="inner">
		<ul class="tab3">
			<li></li>
			<li></li>
		</ul>
		<p class="star1">
			<a href="http://www.meilishuo.com/u/ENg2qt?frm=maybelline05" target="_blank" class="learn" onclick="gajc(\"/more\");floodlight(\"NMNFI\");"></a>
			<span class="join" onclick="gajc(\"/more\");floodlight(\"ACTION\");"></span>
		</p>
		<p class="star2 none_f">
			<a href="http://www.meilishuo.com/u/ENg2qt?frm=maybelline05" target="_blank" class="learn" onclick="gajc(\"/more\");floodlight(\"NMNFI\");"></a>
			<span class="join" onclick="gajc(\"/more\");floodlight(\"ACTION\");"></span>
		</p>
	</div>
</div>
<div class="shes">
	<%#biz/huodong/basic.html%>
	<p class="logo"></p>
</div>
<script type="text/html" id="pop0">
<div class="pop0" id="win0">
	<span class="close_btn"></span>
	<a href="http://www.meilishuo.com/u/ENg2qt?frm=maybelline03" target="_blank" class="link" onclick="gajc(\"/more\");floodlight(\"NMNFI\");"></a>
</div>
</script>
<script type="text/html" id="pop1">
<div class="pop1" id="win0">
	<span class="close_btn"></span>
	<a href="http://www.meilishuo.com/u/ENg2qt?frm=maybelline03" target="_blank" class="link" onclick="gajc(\"/more\");floodlight(\"NMNFI\");"></a>
</div>
</script>
<script type="text/html" id="poppp1">
<div class="popwin1">
	<span class="close_btn"></span>
	<a href="http://www.meilishuo.com/u/ENg2qt?frm=maybelline02" target="_blank" class="link"></a>
</div>
</script>
<script type="text/html" id="poppp2">
<div class="joinbox">
	<span class="close_btn"></span>
	<a href="http://www.meilishuo.com/u/ENg2qt?frm=maybelline06" target="_blank" class="link" onclick="gajc(\"/more\");floodlight(\"NMNFI\");"></a>
	<div class="upload_wraper pa_f hidden_f mblUpWapper">
	    <img class="preview none_f">
	</div>
	<div class="out line1">
		<div class="bac"></div>
		<div class="inner1"></div>
	</div>
	<div class="out line2">
		<div class="bac"></div>
		<div class="inner1"></div>
	</div>
	<div class="out line3">
		<div class="bac"></div>
		<div class="inner1"></div>
	</div>
	<div class="upload_area">
		<form action="/imageupload/CustomActivity_image_upload" class="upload_pho" method="POST" enctype="multipart/form-data" target="upload_iframe" >
			<input type="file" name="attach" size="1" class="attach_photo" style="opacity:0; filter: alpha(opacity:0);"/>
		</form>
	    <iframe class="upload_iframe none_f" name="upload_iframe" frameborder="0"></iframe>
	</div>
	<button class="sub1" onclick="gajc(\"/more\");floodlight(\"SUB\");">完成，并提交</button>
</div>
<div class="name_box none_f">
	<span class="close_btn"></span>
	<img src="" />
	<input type="text" class="inp1" />
	<input type="text" class="inp2" />
	<button class="sub2" onclick="gajc(\"/more\");floodlight(\"FINISH\");">提交，并完成活动</button>
</div>
<div class="success_box none_f">
	<span class="close_btn"></span>
	<img src="" />
	<a href="http://www.meilishuo.com/u/ENg2qt?frm=maybelline07" target="_blank" class="link" onclick="gajc(\"/more\");floodlight(\"NMNFI\");" ></a>
</div>
</script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-45732451-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript" src="http://www.google-analytics.com/analytics.js"></script>
<script type="text/javascript">
function gajc(ga_src){
	ga('send', 'event', 'button', 'click', ga_src);
}
function floodlight(fl_src){
	var axel = Math.random() + "";
	var a = axel * 10000000000000;
	$("body").append('<iframe src="http://3163598.fls.doubleclick.net/activityi;src=3163598;type=MBL_N---;cat=' + fl_src + '-;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
}
</script>
<img src="http://ad-apac.doubleclick.net/imp;v1;f;242406840;0-0;0;65262840;1|1;42588893|42606680|1;;cs=k;%3fhttp://ad.cn.doubleclick.net/dot.gif?[timestamp]" width="1" height="1" />
<noscript>
<iframe src="http://3163598.fls.doubleclick.net/activityi;src=3163598;type=MLSRJ-;cat=ACTIO-;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
<iframe src="http://3163598.fls.doubleclick.net/activityi;src=3163598;type=MLSRJ-;cat=FINIS-;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
<iframe src="http://3163598.fls.doubleclick.net/activityi;src=3163598;type=MLSRJ-;cat=NMNFB-;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
<iframe src="http://3163598.fls.doubleclick.net/activityi;src=3163598;type=MLSRJ-;cat=SUBVe-;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
<iframe src="http://3163598.fls.doubleclick.net/activityi;src=3163598;type=MLSRJ-;cat=VIDEO-;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('page/huodong/mbl_makeup');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>
