<%#head.html%>
<div class="p_main">
	<div class="top1"></div>
	<div class="top2">
		<div class="a_btn">
			<a href="http://www.meilishuo.com/u/DhoJy9" target="_blank" class="iphone"></a>
			<a href="http://m.meilishuo.com/download/latest/web" target="_blank" class="android"></a>
		</div>
		
	</div>
	<div class="cen1">
		<div class="exo_cen">
			<div class="bg_box">
				<div class="phe phone1"></div>
				<div class="phe phone2">
				<a href="http://www.meilishuo.com/u/DhoJy9" target="_blank" class="iphone"></a>
				<a href="http://m.meilishuo.com/download/latest/web" target="_blank" class="android"></a>
			</div>
			</div>
			
		</div>
	</div>
	<div class="cen2"></div>
</div>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
     fml.use('page/huodong/niuniu');
_use:", this._JSstack , this._JSmods ); %>

<%#foot.html%>
