<%#head.html%>
<div class="tb-bd">
	<div class="top"></div>
	<div class="video-area">
		<div class="main-cont">
			<div class="video">
				<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="storage" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="514" height="289">
					<param name="movie" value="http://player.youku.com/player.php/sid/XNzEyMzc0MzUy/v.swf?VideoIDS=XNzEyMzc0MzUy&isAutoPlay=true" />
					<param name="quality" value="high" />
					<param name="wmode" value="transparent" />
					<embed src="http://player.youku.com/player.php/sid/XNzEyMzc0MzUy/v.swf?VideoIDS=XNzEyMzc0MzUy&isAutoPlay=true" id="cache2" quality="high" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" allowScriptAccess="always" allowFullScreen="false" type="application/x-shockwave-flash" width="514" height="289"></embed>
				</object>
			</div>
			<a href="http://www.meilishuo.com/u/EVw0Db" target="_blank" class="c20"></a>
			<a href="http://www.meilishuo.com/u/EVw0BT" target="_blank" class="c10"></a>
		</div>

	</div>
	<div class="beauty-area">
		<div class="main-cont">
			<a class="a1" href="http://www.meilishuo.com/share/item/2508923943" target="_blank"></a>
			<a class="a2" href="http://www.meilishuo.com/share/item/2837171296" target="_blank"></a>
			<div id="face" data-status="0" pid="1166740695"></div>
			<div id="body" data-status="0" pid="1166741691"></div>
			<div class="changepic"></div>
		</div>		
	</div>

	<div class="daren-wxq">
		<div class="main-cont">
			<a href="http://www.meilishuo.com/share/item/2509009057" target="_blank"></a>
		</div>		
	</div>

	<div class="sharedr1">
		<div class="main-cont tb-dr1">
			<div class="tb-d1">
				<a class="tb-c1" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
				<a class="tb-meng" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
			</div>

			<div class="tb-d2">
				<a class="tb-c2" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
				<a class="tb-meng" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
			</div>

			<div class="tb-d3">
				<a class="tb-c3" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
				<a class="tb-meng" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
			</div>

			<div class="tb-d4">
				<a class="tb-c4" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
				<a class="tb-meng" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
			</div>

			<div class="tb-d5">
				<a class="tb-c5" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
				<a class="tb-meng" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
			</div>

			<div class="tb-d6">
				<a class="tb-c6" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
				<a class="tb-meng" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
			</div>

			<div class="tb-darentext"></div>
		</div>		
	</div>
	<div class="dr-jxj">
		<div class="main-cont">
			<a href="http://www.meilishuo.com/share/item/2837171296" target="_blank"></a>
		</div>	
	</div>
	<div class="sharedr2">
		<div class="main-cont tb-dr2">
			<div class="tb-d1">
				<a class="tb-c1" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
				<a class="tb-meng" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
			</div>

			<div class="tb-d2">
				<a class="tb-c2" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
				<a class="tb-meng" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
			</div>

			<div class="tb-d3">
				<a class="tb-c3" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
				<a class="tb-meng" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
			</div>

			<div class="tb-d4">
				<a class="tb-c4" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
				<a class="tb-meng" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
			</div>

			<div class="tb-d5">
				<a class="tb-c5" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
				<a class="tb-meng" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
			</div>

			<div class="tb-d6">
				<a class="tb-c6" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
				<a class="tb-meng" href="http://www.meilishuo.com/group/116963963" target="_blank"></a>
			</div>

			<div class="tb-darentext2"></div>
		</div>		
	</div>

	<div class="bt">
		<div class="main-cont">
			<a href="http://www.meilishuo.com/share/item/2508605933" target="_blank" class="jy"></a>
			<a href="http://www.meilishuo.com/share/item/2508286983" target="_blank" class="bs"></a>
			<a href="http://www.meilishuo.com/share/item/2508177191" target="_blank" class="kyh"></a>
			<a href="http://www.meilishuo.com/share/item/2508451797" target="_blank" class="mj"></a>
			<a href="http://www.meilishuo.com/share/item/2508345375" target="_blank" class="mbb"></a>
			<a href="http://www.meilishuo.com/share/item/2509026559" target="_blank" class="ss"></a>
			<a href="http://www.meilishuo.com/share/item/2508923943" target="_blank" class="cxb"></a>
		</div>			
	</div>	

</div>


<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
     fml.use('page/huodong/teabeauty');
_use:", this._JSstack , this._JSmods ); %>
<%#foot.html%>