<%#head.html%>
<% this.headName = '订单确认'; %>
<%# head_share.html%>

<div class="confirm_area c_page">
	<div class="address_add"></div>

	<div class="order_add"></div>

	
	<div class="order_bank"></div>

	<div class="order_confirm"></div>
</div>

<script type="text/html" id="addressInfo">
	<?if(this.addrInfo && this.addrInfo.length == 0){?>
		<a href="/address/new" class="add_addr">添加地址</a>
	<?}?>
	<ul class="addrShow">
	<?if(this.addrInfo){?>
		<? this.addrInfo.map(function(a){?>
		<?if(a.is_default == '1'){?>
		<li class="unit adrl_list" addr_id="<?= a.addr_id ?>">
			<a href="/address/">
				<p><span><?= a.nickname?></span><span class="adrl_phone"><?= a.phone?></span></p>	
				<p><span><?= a.address ?></span></p>
			</a>
		</li>
		<?}?>
		<?});?>
	<?}else{?>
		<li class="unit adrl_new">
			<p><a href="/address/new">添加地址</a></p>
		</li>
	<?}?>
	</ul>
</script>

<script type="text/html" id="orderInfo">
	<ul>
		<? this.info && this.info.goods.map(function(order){ ?>
		<li class="order_goods">
			<div class="order_info">
				<span>商家：<?= order.shop_name?></span>
			</div>
			<? var goods = order.goods; ?>
			<ul class="order_goods_list">
				<? goods && goods.map(function(goods, i){ ?>
				<li id="goods_<?= goods.sid ?>">
					<div class="last">
						<p class="price u_price"><?= goods.price || goods.goods_activity_price ?></p>
						<p class="num">X&nbsp;<?= goods.amount?></p>
						<p class="status"><?= goods.goods_text || (Number(goods.amount)*Number(goods.price || goods.goods_activity_price)).toFixed(2) ?></p>
					</div>
					<a href="/share/<?if(goods.is_doota == '1'){?>item/<?}?><?= goods.twitter_id ?>">
						<img class="pic" src="<?= goods.b_pic_url?>"/>
						<div class="middle">
							<p class="title"><?= goods.goods_title?></p>
							<p class="prop">
								<? goods.prop && goods.prop.map(function(prop){ ?>
								<?if(prop.is_show){?>
								<span><?= prop.name?>：<?= prop.value?></span>
								<?}?>
								<?});?>
							</p>
						</div>
					</a>
				</li>
				<?});?>
			</ul>

			<div class="total">
				<div class="msg">
					<input type="text" name="comment[]" value="" class="comment" id="comment_<?= order.shop_id ?>" placeholder="购买留言"/>
				</div>
				<div><?= order.freight.indexOf('免运费')===-1 ? ('运费：'+order.freight) : order.freight ?></div>
				<div>店铺合计：<?= order.total_price ?></div>
			</div>
		</li>
		<? }); ?>
	</ul>
</script>

<script type="text/html" id="order_bankInfo">
	<? if(this.data.platform.length){ ?>
	<div class="c_field">
		<div class="c_select checked">
			<div class="c_s_label">
				<span class="icon-check"></span>
			</div>
			<div class="c_s_con">
				<span><?= this.data.platform[0].bankName ?></span>
				<input class="c_s_radio" name="pay_type" type="radio" id="platform" value="platform" checked/>
				<select class="list" name="pay_id">
					<? this.data.platform.forEach(function(o,i){ ?>
					<option data-name="<?= o.bankName ?>" <?= i===0 ? 'selected' : '' ?> value="<?= o.bankCode ?>__<?= o.pmCode ?>"><?= o.bankName ?></option>
					<? }); ?>
				</select>
			</div>
		</div>
	</div>
	<? } ?>
	<? if(this.data.debit.length){ ?>
	<div class="c_field">
		<div class="c_select">
			<div class="c_s_label">
				<label for="debit">使用储蓄卡支付</label>
				<span class="icon-check"></span>
			</div>
			<div class="c_s_con">
				<span><?= this.data.debit[0].bankName ?></span>
				<input class="c_s_radio" name="pay_type" type="radio" id="debit" value="debit"/>
				<select class="list" name="pay_id">
					<? this.data.debit.forEach(function(d){ ?>
					<option data-name="<?= d.bankName ?>" value="<?= d.bankCode ?>__<?= d.pmCode ?>" id=""><?= d.bankName ?></option>
					<? }); ?>
				</select>
			</div>
		</div>
	</div>
	<? } ?>
	<? if(this.data.credit.length){ ?>
	<div class="c_field">
		<div class="c_select">
			<div class="c_s_label">
				<label for="credit">使用信用卡支付</label>
				<span class="icon-check"></span>
			</div>
			<div class="c_s_con">
				<span><?= this.data.credit[0].bankName ?></span>
				<input class="c_s_radio" name="pay_type" type="radio" id="credit" value="credit"/>
				<select name="pay_id">
					<? this.data.credit.forEach(function(d){ ?>
					<option data-name="<?= d.bankName ?>" value="<?= d.bankCode ?>__<?= d.pmCode ?>" id=""><?= d.bankName ?></option>
					<? }); ?>
				</select>
			</div>
		</div>
	</div>
	<? } ?>
</script>

<script type="text/html" id="order_confirmInfo">
	<?
		var coupon_list = this.info.plat_coupon_info;
		var credit = 0;
	?>
	<?if(coupon_list && coupon_list.length){?>
	<span>使用优惠券</span>
	<select id="coupon">
		<? for(var i=0;i<coupon_list.length;i++){ ?>
		<? var coupon = coupon_list[i]; ?>
		<option value="<?= coupon.coupon_id ?>" data-save="<?= coupon.credit ?>" <?if(coupon.is_check){?>selected<?}?>>
			<?= coupon.title ?>
		</option>
		<?if(coupon.is_check){credit = coupon.credit;}?>
		<? } ?>
	</select>
	<span>优惠券扣减：<span id="coupon_save" class="credit"><?= credit ?></span>元</span>
	<? } ?>
	<? if ('share' != '<%= this._Request_query.ori %>'){ ?>
	<p><a class="cartBtn" href="/cart">&lt;&lt;返回购物车</a></p>
	<? } ?>
	<span>商品总价：￥</span><span id="total_price"><?= this.info.total_price ?></span>
	<a href="javascript:;" class="go_charge" id="charge">提交订单</a>
</script>

<form action="/order/create/" method="post" class="none_f" id="confirm_form"></form>
<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('m/page/doota/confirm');
_use:", this._JSstack , this._JSmods ); %>
<%#foot_simple.html%>
