@import "../block.less";

.frame_simple;
.navBan;

.c_page{.common_page;}
.c_select{.common_select;
//	.c_s_con{
		.f(140%);
//	}
}

.doota;
.doota > .icon;

.confirm{
	&_area{.hidden;}
}
.addrShow{
	.address > .common;
	.address > .default;
}

.order_goods_list{.eventNone;}

.order{
	&_goods{
		.common_box;.common_box > .lra;
		.mt(20*@px);
		.doota > .list;
		.total{
			.f(140%);
			&>div{
				border-top:1px solid #ccc;
				padding:20*@px;
			}	
		}
		.comment{
			.common_input;.f(100%);
		}
	}
	&_confirm{
		.hidden; .mt(40*@px);.ml(20*@px);.mr(20*@px);.f(160%);.red;.fb;.l(38px);.pb(20px);
		.go_charge{
			.common_button; .common_button > .redBtn;.fb;.right;.pl(20*@px);.pr(20*@px);
		}
	}
	&_bank{
//		.common_box;.common_box > .lra;
		.mt(20*@px);.ml(20*@px);.mr(20*@px);
		.platform,.credit,.debit{
		}
	}
}



.pay_dlg{
	height:25px;
	line-height:25px;
	padding:50px 0 30px 0;
	span{
		.i_block;
		.l(25px);
	}
	.icon{
		width:25px;
		height:25px;
		background:url("@{pic_url}/images/doota/small_correct_icon.png");
		.mr(10px);
		.ml(65px);
	}
}
.pay_dlg_btn{
	padding-bottom:60px;
	.btn{.w(115px);border:0;.h(42px);background:url("@{pic_url}/images/doota/pay_success.png");.ml(34px);}
	.cancel{.w(209px);border:0;.h(42px);background:url("@{pic_url}/images/doota/pay_fail.png");.ml(18px)}
}

.cartBtn{.red;}

.add_addr {
	.block; .bgwhite; box-shadow: 0 1px 1px rgba(128,64,85,0.2); .ml(20*@px); .mr(20*@px); .border-r(8*@px); .hidden; padding: 10*@px 20*@px; .l(1.6); .f(1.4em);
}
