<%#head.html%>
	<!--头图部分-->
	<%# biz/sale/sale_tophead.html%>
	<div id="coupon" class="gl">
		<p><a href="http://www.meilishuo.com/biz/huodong/meili99sed/?banner_id=bdd6515074970005e2b034c52ec288fa&view=1" target="_blank"></a></p>
	</div>
	<!--fix侧栏竖导航-->
	<%# biz/sale/sale_sidebar.html%>
	<!--优惠券-->
	<div style="background:<%= this.beauty_sale_goods_section.bgcolor%>">
		<%# biz/huodong/520coupon.html %>
	</div>
	<!--美妆特卖 商品展示 分类模块-->
	<%# biz/sale/beauty_sale_goods_section.html%>
<%#foot.html%>
