		<div class="intro">
			<div class="toggle_btn">
				<b class="intro_icon <%=this.force_hide ? 'hide' : 'show'%>"></b>
				<%if(this.force_hide){%>
				<h3>积分兑换介绍</h3>
				<%}else{%>
				<h3>会员积分介绍</h3>
				<%}%>
			</div>
			<div class="intro_main"<%if(this.force_hide){%> style="display:none"<%}%>>
				<span class="list_icon">1</span>美丽说用户均可免费领取10积分，每用户限领一次；</br>
				<span class="list_icon">2</span>会员购物可再获积分，实际支付每满10元可获得一个积分，不满10元不计（积分需确认收货后方可获得）；</br>
				<span class="list_icon">3</span>已购物的会员会根据你交易成功的历史支付额度计入积分，每10元计1积分，最高可获得1000初始积分；</br>
				<span class="list_icon">4</span>兑换商品时减去所需积分，每件商品，每用户仅能兑换一次；</br>
				<span class="list_icon">5</span>积分不可转让或出售，如经发现并证实的，积分将予以作废处理；</br>
				<span class="list_icon">6</span>如发现商家有刷单等作弊行为，将被限制参与美丽说的一切商家活动，且积分将予以作废处理。
			</div>
		</div>
