@import "../block.less";
html{.f(10*@f);}
@w:1/640 * 100%;
body { padding:0;margin:0; background: #e5e1e3; }
.main { .pt(20*@px); .pl(5%); .pr(5%); .w(90%);
	#fb_content { .h(130*@px); }
	.ipt,#fb_content { .block; .border-n; .gray; .f(24*@px); padding: 4% 2%; .border-r(16*@px); .w(96%);
		.mt(20*@px); box-shadow: 0px 1px 5px rgba(0,0,0,0.5); 
	}
	.sure { .w(60%); .auto; .pt(40*@px); .pb(40*@px);
		.btn { .act_btn; .border-r(40*@px); .f(40*@px); .h(80*@px); .l(80*@px); .w(100%); }
	}
	.info { background:url("@{pic_url}/images/wap/activity/fb_line.png") repeat-x top;background-size:10*@px 12*@px;
		.f(24*@px); .l(40*@px); .pt(40*@px);
		.qqbox { .gray; .pt(6*@px); .pb(6*@px); }
		.qq,.tel { background:url("@{pic_url}/images/wap/activity/qqtel.png") no-repeat;background-size:28*@px 62*@px; }
		.qq { .bp(0,0); .pl(40*@px); .mr(10*@px); }
		.tel { .bp(0,100%); .pl(30*@px); }
	}
}

