@import "../block.less";

html{ .f(10*@f); }
body{ background:#fff; }
img{ .block; .w(100%); }
a{outline: none;}

.top{.pb(60/640*100%);}
.odd_buyer{
	.pr;
	a{.pa;top: 0;left: 0;.w(58%);.h(100%);}
}
.buyer{
	.pr;
	a{.pa;top: 0;left: 42%;.w(58%);.h(100%);}
}
.shop{.pb(50/640*100%);}

/*分享*/
.starBox{ .star_box;}
