@import "../block.less";
body{
    .bgc(#fff);
    }
img{
    .w(100%);
    .block;
    }
.topBanner{
     .pr;
    .w(100%);
    .pt(168%);
    background: url("@{pic_url}/images/wap/biz/oppo_mob/oppo_mob_newbg_01.jpg") no-repeat top center;
    background-size:100%;
    .buyLink{
        .block;
       .pa;
       .w(50%);
       .pt(7%);
       top:32%;
       left: 10%;
    }
}
.main_con{
    .pr;
    .w(100%);
    .pt(190%);
    background: url("@{pic_url}/images/wap/biz/oppo_mob/oppo_mob_newbg_05.jpg") no-repeat top center;
    background-size:100%;
    .buyLink{
       .block;
       .pa;
       .w(30%);
       .pt(10%);
       top:33%;
       left: 17%; 
    }
    .activityRule{
        .block;
        .pa;
        .w(28%);
        top:39%;
        .pt(5%);
        left: 17%;
    }
    .cj_box{
        .w(84%);
        .pt(84%);
        .pa;
        .ml(8%);
        bottom: 13%;
        background: url("@{pic_url}/images/wap/biz/oppo_mob/oppo_cj_bg.jpg") no-repeat top center;
        background-size:100%;
        .cj_area{
            .w(88%);
            .pt(88%);
            .pa;
            top:6%;
            left: 6%;
            background: url("@{pic_url}/images/wap/biz/oppo_mob/oppo_luhan_jgg.jpg") no-repeat top center;
            background-size:100% 100%;
        }
    }
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    opacity: .5;
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    opacity: 0;
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    opacity: .5;
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    opacity: 0;
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}

.dialog_box{
    .w(100%);
    .h(100%);
    position: fixed;
    top:0;
    left:0;
    background: rgba(0,0,0,.7);
    z-index: 9999;
    .dialog_con{
        position: absolute;
        margin: auto;
        top:0;
        bottom:0;
        text-align: center;
    }
    .steps{
        display: none;
    }
/*拼图完成第一步弹窗样式*/
    .dia_ruleStyle{
        .w(300px);
        .h(230px);
        margin: auto;
        left: 0;
        right: 0;
        background: url("@{pic_url}/images/wap/biz/oppo_mob/oppo_newrule.jpg") no-repeat top center;
        background-size:100% 100%;
        .closeBtn{
            .pa;
            top:0;
            right: 0;
            .w(40px);
            .h(40px);
            .block;
            cursor: pointer;
        }
    }
    .dia_style1{
        .w(100%);
        .h(330px);
        .step1,.step1_1{
            .h(213px);
            .bgc(#ff4866);
        }
        p.game_result{
            .w(70%);
            .f(14px);
            .l(18px);
            .fc(#ffffff);
            text-align: center;
            .auto;
            .pt(40px);
            .pb(35px);
        }
        p.game_tips{
            .f(12px);
            .fc(#ffffff);
            .pt(10px);
        }
        .btnWrap{
            text-align: center;
            .h(39px);
            text-align: center;
            .shareBtn{
                 display: inline-block;
                text-align: center;
                .w(72px);
                .h(39px);
                .l(39px);
                .f(20px);
                .fc(#ffffff);
                background: url("@{pic_url}/images/wap/activity/free_m/free_share_icon.png");
                background-size:100%;
                .mr(15px);
            }
            .luckyBtn{
                display: inline-block;
                text-align: center;
                .w(143px);
                .h(39px);
                .l(39px);
                .f(20px);
                .fc(#ff4866);
                background: url("@{pic_url}/images/wap/activity/free_m/free_lucky_icon.png");
                background-size:100%;
            }
        }
    }
/*拼图完成第二步弹窗样式*/
    .step2,.step3{
        .w(100%px);
        .h(100%);
        .step2_con{
            .w(320px);
            .h(250px);
            .auto;
            background: url("@{pic_url}/images/wap/activity/free_m/free_prizebg.png");
            background-size:100%;
            border-radius:50%;
            .jpTips{
                .bgc(#FF4866);
                .mt(10px);
                .pa;
                .w(200px);
                .h(20px);
                .l(20px);
                .f(15px);
                .fc(#ffffff);
                margin: auto;
                left: 0;
                right: 0;
                top: 110px;
                border-radius: 5px;
                b{
                    .f(18px);
                    .fc(#fee503);
                    font-weight: 100;
                }
            }
        }
       .no_addres{
           .w(175px);
           text-align: center;
           .pt(135px);
           .auto;
           .f(14px);
           .fc(#ffffff);
           .l(20px);
       }
       .address_btn{
           .w(100%);
           .h(35px);
           text-align: center;
           .btn_show{
               display: inline-block;
           }
           .btn_style{
                   display: none;
                   .w(108px);
                   .h(35px);
                   .l(35px);
                   .f(17px);
                   text-align: center;
            }
            .btn_style1{
                .bgc(#ffffff);
                .fc(#fe6054);
            }
            .btn_style2{
                .bgc(#ffffff);
                .fc(#666666);
            }
       }
    }
/*end*/
}
