<%#head.html%>
<% 	var pageData = this.pageData;
	var apparelData = [];
	['coat', 'skirt', 'trousers', 'shoes', 'bag', 'accessories', 'good_apparel'].forEach(function(cat, index){
		if(pageData[cat] && pageData[cat].length){
			var apparelTmpe = {
				type : cat,
				content : pageData[cat],
				morelink : pageData.morelink[cat],
				pid : pageData.pid[cat]
			}
			apparelData.push(apparelTmpe)
		}
	});

	var getTimeRemain = function(time){
        if(time && time > this.cur_time){
            return time - this.cur_time;
        }else{
            return ''; 
        }
    }
	var getPosterLink = function(pid){
		var poster_link = "/activity/March_sale/guang/?pid=" + pid + "&type=mob";
		if(this.app_access_token){
			poster_link += '&app_access_token=' + this.app_access_token;
		}
		return poster_link;
	}
%>
<div class="top">
	<% pageData.head.forEach(function(data){ %>
		<img src="<%= data.img_src %>" />
	<% }); %>
</div>
<% if(pageData.countdown_bg.img_src){ %>
<div class="countdown">
	<img src="<%= pageData.countdown_bg. img_src %>" />
	<% if(this.start_time && this.end_time){ %>
		<div class="down">
			<% if(this.status == 'nostart'){ %>
				距离热卖&nbsp;还有<span class="time" remain="<%= getTimeRemain(this.start_time)%>">-天--时--分</span>
			<%}else if(this.status == 'saling'){%>
				距离结束&nbsp;还有<span class="time" remain="<%= getTimeRemain(this.end_time)%>">-天--时--分</span>
			<%}else{%>
				活动已结束
			<%}%>
		</div>
	<%}%>
</div>
<%}%>
<div class="coupon_link">
	<a href="<%= pageData.top_link.link %>"><img src="<%= pageData.top_link.img_src %>" alt=""></a>
</div>

<div class="apparel_wrap">
	<div class="title"><img src="<%= pageData.type_title.img_src %>" alt=""><a href="<%= pageData.type_title.link %>"></a></div>
	<div class="content">
		<% apparelData.forEach(function(data){ %>
			<div class="apparel_title <%= data.type %>"><img src="<%= data.morelink %>" alt=""><a href="<%= getPosterLink(data.pid); %>" class="apparel_title_more">更多</a></div>
			<div class="apparel_con">
				<% data.content.forEach(function(sec_data, index){ %>
					<div class="apparel_box <%= index%2 ? 'odd' : ''%>">
						<a href="<%= getPosterLink(sec_data.pid); %>" class="goods_img">
							<img src="<%= sec_data.img_src %>" alt="">
						</a>
						<div class="box_con">
							<p><em></em><a href="<%= getPosterLink(sec_data.pid); %>" class="goods_title"><%= sec_data.title %></a><em></em></p>
							<p class="goods_num">精选<span class="red_f"><%= sec_data.num %></span>款&nbsp;&nbsp;&nbsp;&nbsp;全场<span class="red_f"><%= sec_data.sale_num %></span>折起</p>
							<a class="go_shop<%= this.status == 'saling' ? '' : ' pre_go_shop' %>" href="<%= getPosterLink(sec_data.pid); %>">去抢购</a>
						</div>
					</div>
				<% });%>
			</div>
		<% });%>
	</div>
</div>
<div class="spring_clothing">
	<% pageData.bottom_links.forEach(function(data){ %>
		<a href="<%= data.link %>"><img src="<%= data.img_src %>" alt=""></a>
	<% }); %>
</div>
<% if(this.share){ %>
	<%= requireFn('wapShare.html')({
		'share' : this.share 
	    , 'shareTitle' : '选择分享到'
	    , '_JSstack' : this._JSstack
		, '_JSmods' : this._JSmods
	}); %>
<%}%>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
     fml.use('wap/app/hackWeixin');
_use:", this._JSstack , this._JSmods ); %>
<% if(this.cid == '775'){ %>
	<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
		fml.use('wap/page/activity/mz420');
	_use:", this._JSstack , this._JSmods); %>
<%}%>
<%#foot_simple.html%>
