	<dl class="timeStamp <%= this.timeStyle%>" end-date="<%= this.end_date%>" now="<%=this.now %>">
		<dt><%= this.timewords%></dt>
		<dd><span id="day0">-</span></dd>
		<dd><span id="day1">-</span></dd>
		<dt>天</dt>
		<dd><span id="hour0">-</span></dd>
		<dd><span id="hour1">-</span></dd>
		<dt class="bigmao">:</dt>
		<dd><span id="minute0">-</span></dd>
		<dd><span id="minute1">-</span></dd>
		<dt class="bigmao">:</dt>
		<dd><span id="seconds0">-</span></dd>
		<dd><span id="seconds1">-</span></dd>
	</dl>

<%! $_ENGINE_SELF.callFn("useModule")("<<<_use:
	fml.use('wap/app/countdown2' , function(){
		this();  
	});
_use:", this._JSstack , this._JSmods);%>
