@import "../../block.less";
@import "region99_block.less";

.main{ padding: .1rem; .clearfix;
	.goodsList{ .left; .w(3.06rem); .mr(.08rem);
		figure{ .pr;}	
		.bs_load_img{ .block; opacity: .75; .w(100%); .pt(119%);
			background-image: url("@{pic_url}/images/huodong/tuan/pre1.png");
			background-size: cover;
		}
		.countdown{ .pa; bottom: 0; left: 0; .w(100%); .c; .white; .h(.36rem); .l(.36rem); z-index: 10;}
		.progress{ .pa; bottom: 0; .h(.36rem);}
		.pasted{ opacity: 0.72; .bgc(#ff5f5f);}
		.future{ opacity: 0.43; .bgc(#000);}
		figcaption{ padding: .15rem .05rem .2rem;}
		.title{ .f(.22rem); .c; .hidden; .ellipsis;}
		.price{ padding: .16rem 0 .22rem; .c;
			.newprice{ .fc(#ff5f5f); .mr(.2rem);}
			.discount{ .white; .bgc(#ff5f5f); .f(.16rem); padding: .06rem;}
		}
		.num{ .f(.22rem); .gray; .c;}
	}
	.goodsList:nth-child(even){ .mr(0);}
}