@import "../block.less";
@import "rules.less";

// wrap
.wrap{
	.pb(10px);
}
// header
.header{background:#fff url('http://d06.res.meilishuo.net/img/_o/b2/26/8b23291c61c1bc6a3afdb84e879d_538_472.cg.png') 55% 0 no-repeat;background-size: 85% 85%;.pr;
	.box{.pa;.c;left:0;top:5%;.w(100%)}
	h3{.fc(#f23456);.f(2.6rem);.fb;.mb(2%)}
	p{.fc(#000);.f(1.5rem);
		span{.bgc(#ffed26);padding:.1rem .6rem;.border-r(100%);.fc(#f23456)}
	}
	img{}
}
.header2{background:#fff url('http://d05.res.meilishuo.net/img/_o/02/44/2d02586971ffc09cb7683b5bb7fb_537_490.cf.png') 55% 0 no-repeat;background-size: 85% 85%;}
// list
.list{.hidden;.w(100%);
	li{
		.w(19%);.left;.ml(10.75%);
		p{.fc(#818181);.f(1.2rem);.mt(5px);.c;.ellipsis;}
		img{.border-r(100%)}
	}
}
// phone-box
.phone-box{.w(80%);.auto;.mt(5%);.mb(5%);.pr;
	input{.bgc(#fff);.border-r(4px);border:none;.pt(10px);.pb(10px);.mb(10px);.w(100%);.f(1.6rem);text-indent:5px;.left;box-sizing:border-box;
		&:focus{outline:none}
	}
	.box{.hidden;.w(100%)}
	.code{.w(60%)}
	span{.f(1.6rem);.fc(#fff);padding:12px 0;.border-r(4px);.left;.c;.w(38%);.ml(2%);.mt(2px)}
	.get-code{.bgc(#fdbc19)}
	.countdown{.bgc(#767676);.none;}
	.tips{.tr;.f(1.2rem);}
	.popup{.pa;.f(1.4rem);.c;background:rgba(0,0,0,.5);.fc(#fff);.l(3);.border-r(4px);.w(80%);left:10%;top:23%;.none;}
}
// btn
.btn{.block;.w(80%);.bgc(#f23456);.c;.f(2rem);.fc(#fff);.l(2.5);.fb;.border-r(30px);.auto;}
// onsale-dialog
.onsale-dialog{background:rgba(0 ,0 ,0 , 0.8);.pf;left:0;top:0;.none;.w(100%);.h(100%);z-index:1000;
}