<%#head.html%>
<div class="container_ydt">
	<div class="content_ydt">
		<div class="frame_ydt">
			<h1>易点通宝贝审核通关秘籍</h1>
			<div>在美丽说推广的宝贝一定要符合美丽说页面整体风格</div>
			<dl id="one">
				<dt>一、宝贝审核须知：</dt>
				<dd>1、凡参与美丽说易点通推广的宝贝，均需要系统+人工进行审核，符合审核标准的宝贝方能上线推广。美容、家居类宝贝不会出现在热榜。</dd>
				<dd>2、审核时间：宝贝审核需1个工作日，自上传时间起，请耐心等待</dd>
			</dl>
			<dl id="two">
				<dt>二、宝贝审核标准：</dt>
				<dd>
					<dl id="three">
						<dt>1、图片要求：</dt>
						<dd>A、长宽尽量保持一致，图片略大，正方形最好，宽不超过长的两倍，建议尺寸400X400</dd>
						<dd>B、清晰度、亮度、颜色</dd>
						<dd>C、宝贝主题突出</dd>
						<dd>清晰度</dd>
						<dd>要求：无噪点，像素高，商品清晰</dd>
						<dd>拒绝：模糊、像素低、重印商品</dd>
						<dd>拒绝案例：</dd>
						<dd><img src="<%= this.PICTURE_URL %>images/cpc/ydt_img1.jpg" /></dd>
						<dd>亮度</dd>
						<dd>要求：光线均匀，明亮</dd>
						<dd>拒绝：昏暗，光线太闪</dd>
						<dd>拒绝案例：</dd>
						<dd><img src="<%= this.PICTURE_URL %>images/cpc/ydt_img2.jpg" /></dd>
						<dd>颜色</dd>
						<dd>要求：宝贝颜色饱和</dd>
						<dd>拒绝：饱和度过高，刺眼或者灰暗</dd>
						<dd>拒绝案例：</dd>
						<dd><img src="<%= this.PICTURE_URL %>images/cpc/ydt_img3.jpg" /></dd>
					</dl>
					<dl id="four">
						<dt>2、背景：</dt>
						<dd>A、干净简洁，以纯色，暖色调为主。（如纯白、浅灰等）</dd>
						<dd>拒绝：颜色过于鲜艳，抢眼。</dd>
						<dd>C、宝贝主题突出</dd>
						<dd>拒绝案例：</dd>
						<dd><img src="<%= this.PICTURE_URL %>images/cpc/ydt_img4.jpg" /></dd>
					</dl>
					<dl id="five">
						<dt>3、水印</dt>
						<dd>A、水印分为两种：附着于商品上和不在商品上</dd>
						<dd>B、水印的方式有如下几种：</dd>
						<dd>a.细长条+链接+店铺名</dd>
						<dd>b.设计组合+美化文字</dd>
						<dd>c.纯文字</dd>
						<dd>d.方形</dd>
						<dd>要求：不超过整个图片水印的1/9，不遮挡商品，主体靠下</dd>
						<dd>拒绝：含有（包含但不仅限于下面几种），包邮 、免邮 、满xx送xx 、团购 、最低、xx同款、买x送x，店铺名、地址、注释、水印无美化，遮挡物品过多等</dd>
						<dd>拒绝案例：</dd>
						<dd><img src="<%= this.PICTURE_URL %>images/cpc/ydt_img5.jpg" /></dd>
					</dl>
					<dl id="six">
						<dt>4、展示手法</dt>
						<dd>要求：悬挂、模特拍、平铺图</dd>
						<dd>拒绝：拼图、自拍、杂志图</dd>
						<dd>A、悬挂</dd>
						<dd>要求：悬挂商品对称，整洁</dd>
						<dd>拒绝：摆放随意、不对称、类似晒货图</dd>
						<dd>拒绝案例：</dd>
						<dd><img src="<%= this.PICTURE_URL %>images/cpc/ydt_img6.jpg" /></dd>
						<dd>B、模特</dd>
						<dd>要求：尽量多以展示服装为主，有一定时尚度</dd>
						<dd>拒绝：与美丽说定位不符，过于陈旧，老气</dd>
						<dd>拒绝案例： </dd>
						<dd><img src="<%= this.PICTURE_URL %>images/cpc/ydt_img18.jpg" /></dd>
						<dd>C、平铺</dd>
						<dd>要求：平铺摆放整齐，拍摄清晰，明亮</dd>
						<dd>拒绝：干扰物品过多，堆放随意</dd>
						<dd>拒绝案例：</dd>
						<dd><img src="<%= this.PICTURE_URL %>images/cpc/ydt_img8.jpg" /></dd>
					</dl>
				</dd>
			</dl>
			<dl id="seven">
				<dt>三、优秀案例展示：</dt>
				<dd>
					<dl id="eight">
						<dt>1、衣服类</dt>
						<dd><img src="<%= this.PICTURE_URL %>images/cpc/ydt_img9.jpg" /></dd>
					</dl>
				</dd>
				<dd>
					<dl id="nine">
						<dt>2、鞋子类</dt>
						<dd><img src="<%= this.PICTURE_URL %>images/cpc/ydt_img10.jpg" /></dd>
					</dl>
				</dd>
				<dd>
					<dl id="ten">
						<dt>3、包包</dt>
						<dd><img src="<%= this.PICTURE_URL %>images/cpc/ydt_img11.jpg" /></dd>
					</dl>
				</dd>
				<dd>
					<dl id="eleven">
						<dt>4、配饰</dt>
						<dd><img src="<%= this.PICTURE_URL %>images/cpc/ydt_img12.jpg" /></dd>
					</dl>
				</dd>
				<dd>
					<dl id="twelve">
						<dt>5、美容</dt>
						<dd><img src="<%= this.PICTURE_URL %>images/cpc/ydt_img13.jpg" /></dd>
					</dl>
				</dd>
				<dd>
					<dl id="thirteen">
						<dt>6、内衣、泳装</dt>
						<dd><img src="<%= this.PICTURE_URL %>images/cpc/ydt_img19.jpg" /></dd>
					</dl>
				</dd>
				<dd>
					<dl id="fourteen">
						<dt>7、家居类</dt>
						<dd><img src="<%= this.PICTURE_URL %>images/cpc/ydt_img15.jpg" /></dd>
					</dl>
				</dd>
			<dl>
		</div>
	</div>
	<div class="sidebar_ydt">
		<div class="frame_ydt">
			<a href="#one">一、审核须知</a>
			<a href="#two">二、宝贝审核标准</a>
			<a href="#three">1、图片要求</a>
			<a href="#four">2、背景</a>
			<a href="#five">3、水印</a>
			<a href="#six">4、展示手法</a>
			<a href="#seven">三、优秀案例展示</a>
			<a href="#eight">1、衣服</a>
			<a href="#nine">2、鞋子</a>
			<a href="#ten">3、包包</a>
			<a href="#eleven">4、配饰</a>
			<a href="#twelve">5、美容</a>
			<a href="#thirteen">6、内衣、泳装</a>
			<a href="#fourteen">7、家居</a>
		</div>
	</div>
</div>

<%#foot.html%>
