<%#head.html%>
<div class="content">
<a name="cs"></a>
<h3>测试研发工程师</h3>
<p>
<b>工作职责：</b> <br/> 
1 设计搭建数据统计测试框架，完成测试实施执行<br/> 
2 提供创新的手动或自动化测试手段，降低问题发生率，提高产品质量<br/>  
3 进行相关性能测试，制定方案，带领进行测试脚本的开发与实施，分析测试结果<br/>  
4 研究新技术，应用于实际工作，并在团队中传递与分享<br/>  
5 与项目相关人员就项目进度和问题进行沟通。<br/> 

<br/><b>职位要求：</b> <br/>  
1 本科及以上学历，计算机相关专业，至少3年经验，1年开发经验<br/> 
2 熟悉hadoop，python，PHP等其中一种或多种编程语言<br/> 
3 对数据库、开发架构、分布式、集群测试，性能测试有正确的理解<br/>  
4 完成测试用例设计、测试环境的搭建，实施测试，分析与定位测试发现的问题 <br/> 
5 了解掌握功能测试、性能测试、接口测试、单元测试等测试方法  <br/> 
6 自主编写或利用自动化测试工具对所测内容进行测试策略设计及实施测试<br/>  
7 熟悉业界商业/开源的自动化测试框架/工具并能熟练应用和二次开发。<br/> 
</p>
<br/><br/>
<div class="line"></div>
<a name="gj_cs"></a>
<h3>高级测试工程师</h3>
<p>
<b>工作职责：</b> <br/>
1 熟悉PHP编程语言，熟悉面向对象的软件设计方法<br/> 
2 熟悉CSS、javascript等页面技术 <br/>
3 对数据库、开发架构、分布式、性能测试有正确的理解 <br/>
4 能够独立完成测试用例设计、环境的搭建，分析与定位测试发现的问题 <br/>
5 了解掌握功能测试、性能测试、接口测试、单元测试等测试方法  <br/>
6 能够利用自动化测试工具或平台（如QTP/Selenium/Loadrunner等）对服务器接口进行测试策略设计及实施测试<br/> 
7 熟悉业界商业/开源的自动化测试框架/工具并能熟练应用和二次开发 <br/>
8 具备3年以上的互联网行业(尤其是API接口)测试经验。<br/> 

<br/><b>职位要求：</b> <br/>
1 本科及以上学历，计算机相关专业，至少3年经验，1年开发经验 <br/>
2 设计搭建自动化测试框架，带领完成自动化测试实施执行 <br/>
3 创新的自动化测试手段，降低全网回归自动化的成本，提高自动化测试的效率<br/> 
4 能够进行相关性能测试，制定方案，带领进行测试脚本的开发与实施 <br/>
5 研究新技术，应用于实际工作，并在团队中传递与分享。<br/>
</p>
<br/><br/>
<div class="line"></div>
<a name="sjfx"></a>	
<h3>数据分析工程师</h3>
<p>
<b>工作职责：</b><br/>
1 大数据平台的数据采集、清理和集成<br/>
2 Web网站及无线关键指标统计、可视化展示及深入分析<br/>
3 对接商业、产品、市场、运营等业务部门<br/>
4 采用统计分析/数学建模/数据挖掘等方法<br/>
5 提供有价值的商业数据、模型、算法支持。<br/>
 
<br/><b>职位要求：</b><br/>
1 本科及以上学历，计算机相关专业<br/>
2 对电子商务、社区、新媒体、移动互联网的数据分析有浓厚兴趣<br/>
3 扎实的编程基础，能够熟练使用某种脚本语言，如python<br/>
4 熟悉某种数据库，能够书写较为复杂的SQL查询语句<br/>
5 有Hadoop等分布式平台经验优先<br/>
6 有统计学、数学建模、数据挖掘知识<br/>
7 有相关工具软件的使用经验优先，如R, Weka, SPSS等。<br/>
</p>
<br/><br/>
<div class="line"></div>	
<a name="sjpt"></a>
<h3>数据平台工程师</h3>
<p>
<b>职位描述：</b><br/>
1 负责公司内部大数据存储计算平台等基础设施的搭建、维护、优化、改造，如hadoop, storm等 <br/>
2 负责各种数据源的处理流程，并提供基础数据服务 <br/>
3 协同数据仓库的设计 <br/>
4 能够根据需求设计和实现底层通用性工具。<br/>
 
<br/><b>职位要求：</b><br/>
1 本科及以上学历，计算机相关专业<br/>
2 工程能力强，基础扎实，使用Java/C++/C/Python等编写过足量代码<br/>
3 Hadoop/Hbase/Hive/Pig开发维护经验，熟悉Map/Reduce编程<br/>
4 对常见开源系统的架构设计有研究<br/>
5 喜欢钻研新技术、新系统、新工具。<br/>
</p>
<br/><br/>
<div class="line"></div>
<a name="sfsj"></a>	
<h3>算法设计/数据挖掘工程师</h3>
<p>
<b>职位描述：</b><br/>
1 网站内容及日志的数据挖掘及分析，个性化推荐算法的研发<br/>
2 信息分类、搜索算法优化、反作弊核心算法的研发<br/>
3 适于海量数据处理的分布式数据挖掘算法的研究及开发。<br/>
 
<br/><b>职位要求：</b><br/>
1 本科及以上学历，计算机相关专业<br/>
2 算法基础扎实，熟悉数据挖掘、机器学习常见算法<br/>
3 2年以上linux下开发经验，熟悉python编程，熟悉C++/Java两者之一<br/>
4 有分布式计算开发经验、熟悉hadoop原理优先<br/>
5 有计算广告、推荐系统、信息检索、反作弊领域工作经验或学术成果尤佳。<br/>
</p>
<br/><br/>
<div class="line"></div>
<a name="wxcs"></a>	
<h3>无线测试工程师</h3>
<p>
<b>工作职责：</b> <br/>
1 参与测试的全流程，包括需求分析、设计评审，制定测试计划并评估风险<br/> 
2 独立执行项目测试，构建测试环境，设计和执行测试用例，进行缺陷跟踪<br/>
3 与项目组成员进行积极有效沟通，推动问题解决<br/>
4 执行测试流程，并对工作流程的改进提出建设性的意见。<br/>

<br/><b>职位要求：</b> <br/>
1 本科及以上学历，1年以上测试相关工作经验<br/>
2 有移动互联网测试经验更佳，熟悉APP、WAP的测试<br/>
3 熟悉ios、android、winphone系统，熟悉基于这些系统的测试特点与方法<br/>
4 对项目过程控制、测试模型和实践（例如敏捷）有较好的理解和经历<br/>
5 有自动化测试经验（优先）。<br/>
</p>
<br/><br/>
<div class="line"></div>	
<a name="yw"></a>
<h3>运维工程师</h3>
<p>
<b>工作职责：</b> <br/>
1 带领2-3人的小组完成用户产品及商业产品两条产品线的的运维工作 <br/> 
2 对所负责的产品线认识深刻，和研发、产品一起解决产品线遇到的问题 <br/> 
3 每月制定产品线的运维工作计划, 对上月工作进行总结分析 <br/> 
4 审核产品线的资源情况, 提出产品线的资源调整计划(增加, 减少, 变更等) <br/> 
5 合理调整/分配组内工程师的工作内容, 指导工程师进行工作方法的优化 <br/> 
6 运维流程改进 ，产品线的监控与监测, 服务质量分析与改进 <br/> 
7 业务线的安全与数据冗余。<br/> 

<br/><b>职位要求：</b> <br/>
1 本科及以上学历，计算机相关专业，5年以上工作经验 <br/> 
2 coding能力: 能读懂C/C++, 熟练掌握python/php, 精通SHELL <br/> 
3 熟悉 TCP协议, 了解网络编程, 能够对线上出现的问题进行分析追查 <br/> 
4 了解Linux底层实现, 熟练掌握CentOS及其下的应用，熟悉 HTTP 协议<br/> 
5 有服务意识, 爱学习, 爱思考，能够承受压力 <br/>
6 良好的沟通能力，有带领团队工作的经验更佳 。<br/>
</p>
<br/><br/>
<div class="line"></div>
<a name="android"></a>
<h3>Android工程师</h3>
<p>
<b>工作职责：</b><br/>
1 根据产品需求开发相关的移动产品 <br/>
2 验证和修正测试中发现的问题 <br/>
3 学习和研究新技术以满足产品的需求 <br/>
4 根据开发过程中的体验对产品提出改进建议 <br/>
5 配合市场等其他部门，提供产品相关技术支持 。<br/>
 
<b>岗位要求：</b><br/>
1 计算机或相关专业本科以上学历<br/>
2 熟悉Android SDK，并且开发过1－2款成熟产品<br/>
3 熟悉 Android 应用打包、签名、验证和安装机制<br/>
4 对Android系统应用管理、进程管理、内存管理机制有深入理解熟悉Anddroid平台网络数据传输，本地数据存储，以及UI框架部分<br/>
5 有jni,framework或者iOS,wp开发经历优先考虑，有手机内置经验优先考虑。<br/>
</p>
<br/><br/>
<div class="line"></div>
<a name="gj_ios"></a>	
<h3>IOS高级工程师</h3>
<p>
<b>工作职责：</b><br/>
1 负责客户端项目的开发和推进
2 熟悉iOS环境下的多线程、App运行生命周期、内存管理等<br/>
3 熟悉HTTP协议，有客户端网络编程经验<br/>
4 熟练使用Xcode和Instruments进行调试、测试<br/>
5 常用的手机是iOS或Android系统<br/>
6 有Web开发经验的优先。<br/>

<br/><b>职位要求：</b><br/>
1 本科及以上学历，3年以上面向对象开发经验（非Object也可）<br/>
2 熟练使用UIKit进行界面开发，1年以上iOS平台开发经验<br/>
3 具有独立思考、解决问题的能力<br/>
4 具有良好的沟通、团队合作能力<br/>
5 有独立开发App的经验（有提交App Store的App更好）<br/>
6 经常使用各种新鲜的互联网产品，尤其是移动端产品。<br/>
</p>
<br/><br/>
<div class="line"></div>
<a name="mysql_dba"></a>	
<h3>MYSQL DBA</h3>
<p>
<b>工作职责：</b> <br/>
1 负责审核美丽说所有应用的数据库设计,SQL审核，建立索引 <br/>
2 负责收集并监控线上数据库状态，并及时处理，保证系统24*7小时稳定运行<br/> 
3 数据库的性能调优、权限管理、数据备份等。<br/> 

<br/><b>职位要求：</b> <br/>
1 大学本科及以上学历，计算机或相关专业 <br/>
2 具备良好关系数据库理论基础 <br/>
3 一年以上维护和管理大型集群数据库经验<br/> 
4 精通MySQL数据库管理及熟悉MySQL replication配置管理，精通Mysql系统性能优化 <br/>
5 熟悉Linux操作系统，熟悉Shell脚本编程及常用Linux系统管理命令<br/> 
6 掌握一门或多门mysql应用开发语言（php/python/perl）<br/> 
7 优秀的心理素质和抗压能力。<br/>
</p>
<br/><br/>
<div class="line"></div>
<a name="gj_php"></a>	
<h3>PHP高级开发工程师</h3>
<p>
<b>工作职责：</b><br/>
1 能与产品，业务，测试等其他同事方良好的协作，构建相关业务系统<br/>
2 承担美丽说****开发和维护，保证用户体验和性能<br/>
3 配合其他业务部门完成相关项目的开发任务。<br/>

<br/><b>职位要求：</b><br/>
1 本科及以上学历 <br/>
2 团队合作意识强、责任感强、主动性强。<br/>
3 熟悉Linux下的开发环境，有PHP开发MVC项目经验。<br/>
4 对互联网有有热情，喜欢处理复杂的业务逻辑。<br/>
5 能高效地处理多项任务，有较好的逻辑思维能力。<br/>
6 有大型项目开发经验，系统调优经验者优先<br/>
7 对新技术、软件开发、设计有浓厚兴趣。<br/>
</p>
<br/><br/>
<div class="line"></div>	
<a name="fe"></a>
<h3>web前端工程师</h3>
<p>
<b>工作内容：</b><br/>
1 公司web及mob网站开发<br/>
2 配合团队实现产品界面和功能<br/>
3 对已有项目重构优化。<br/>

<br/><b>职位要求：</b><br/>
1 了解各种Web前端技术，对符合web标准的网站重构有经验<br/>
2 熟练掌握DIV+CSS网页布局，并且对模板化、模块化有一定理解,熟悉 HTML5/CSS3<br/>
3 熟练掌握JavaScript语言核心技术DOM、BOM、Ajax、JSON等，对javascript框架（如prototype/jQuery/YUI/Ext等）有一定的经验<br/>
4 对css/JavaScript性能优化、解决多浏览器兼容性问题有一定的经验<br/>
5 熟悉nodejs、LESS/SASS者优先<br/>
6 理解Web标准，对可用性、可访问性等相关知识有实际的了解和实践经验<br/>
7 对用户体验、交互操作流程、及用户需求有一定了解<br/>
8 具备良好的责任心、较强的学习能力、优秀的团队沟通与协作能力<br/><br/><br/><br/>
</p>
</div>
<%#foot.html%>