@import "../block.less";
body{min-height: 9.4rem;.f(.24rem);background: url("http://d05.res.meilishuo.net/pic/_o/98/1a/8fa8a8a9d3ea13d35ecbdc32ebcb_640_1008.cg.jpg") repeat-y;background-size: 6.4rem auto;}
.empty_red{background: url("http://d02.res.meilishuo.net/pic/_o/66/b7/09da60dc5da00fe1aa3514e28721_423_442.ch.png") no-repeat center bottom;.w(4.23rem);.h(5.36rem);background-size: 4.23rem auto;.auto;.mt(.7rem);.hidden;.pr;
	&.opend{background-image: url("http://d04.res.meilishuo.net/pic/_o/75/af/1c63b554efd08193626747323f7b_423_506.ch.png");
		&:after{.pa;
			content:'';
			background:url('http://d03.res.meilishuo.net/pic/_o/a1/87/0a86dcc999695a85593275addab0_423_396.ch.png') no-repeat; .w(4.23rem);.h(3.96rem);left: 0;bottom: -.02rem;
			background-size: 4.23rem auto;
			z-index: 10;
		}
	}
	.prize_img{.pa;top: 6rem;left: .1rem;.w(4.03rem);.h(4.83rem);background-size: 4.03rem auto;background-position: center top;background-repeat: no-repeat;z-index: 1;}
	.tip_wrapper{.f(.28rem);.fc(#ffe345);.l(.48rem);.c;.pa;left: 0;bottom: 1.4rem;.w(100%);opacity: 0; z-index: 11;}
	.mobile_input{.c;.pa;.w(3.52rem);.h(.6rem);padding: 0;margin: 0;background: #fffdd4;.border-r(.3rem);border:none;.f(.24rem);top: 3.3rem;left: .35rem;z-index:20; outline: none;
		&::input-placeholder{ text-align: center; }
		&::-webkit-input-placeholder{ text-align: center; }
	}
	&.opend{
		.prize_img{top:0rem;
			transition:all 0.6s;
			-webkit-transition:all 0.6s;
		}
		.tip_wrapper{opacity: 1;
			transition:all 0.6s;
		    -webkit-transition:all 0.6s;
		}
		.mobile_input{.none;}
	}
}
.open_btn,.get_coupon_btn, .go_to_mls{.block;.mt(.6rem);.w(4.22rem);.h(.84rem);.l(.84rem);.auto;.white;.border-r(.08rem);}
.open_btn{background: url("http://d03.res.meilishuo.net/pic/_o/81/57/44940bd7b7aedb80e13fdbb785d7_422_84.ch.png") no-repeat;background-size: 4.22rem auto;}
.get_coupon_btn, .go_to_mls{background: #d02927;.c;.f(.36rem);}


