@import "../block.less";
body{.bgwhite;.f(.24rem);}
.container{.pr;
	.bg{
		&1{.h(4rem);background: url("http://d06.res.meilishuo.net/pic/_o/9a/ad/47a1274b6f0285c66abae9845d46_640_400.cf.png") no-repeat;}
		&2{.h(4rem);background: url("http://d03.res.meilishuo.net/pic/_o/e3/b1/54e2940a3a2303a566f766015280_640_400.cf.png") no-repeat;}
		&3{.h(4rem);background: url("http://d03.res.meilishuo.net/pic/_o/4b/2a/f39c4548cbf16420bb1161e91376_640_400.cg.png") no-repeat;}
		&4{.h(4rem);background: url("http://d03.res.meilishuo.net/pic/_o/d9/01/9ce8633ea5d9ca4f2cd3ccbecc42_640_400.cf.png") no-repeat;}
		&5{.h(4rem);background: url("http://d03.res.meilishuo.net/pic/_o/62/72/d5f14a71b1a551d581065570a906_640_400.ch.png") no-repeat;}
		&6{.h(4rem);background: url("http://d05.res.meilishuo.net/pic/_o/12/6c/b6c20671db051113704dda0c7ca4_640_400.cf.png") no-repeat;}
		&7{.h(3.76rem);background: url("http://d05.res.meilishuo.net/pic/_o/30/09/d76026ac83321a35171866b9cd4e_640_376.cf.png") no-repeat;}
		&1,&2,&3,&4,&5,&6,&7{
			background-size: 6.4rem 4rem;
		}
	}
	.vote_btn{.w(1.55rem);.h(.49rem);.pa;background: url("http://d03.res.meilishuo.net/pic/_o/94/c2/e66bf936433909f34064a2702ff1_155_49.cf.png") no-repeat;
		background-size: 1.55rem .49rem;
		&.runner2{top: 9.58rem;left: .94rem;}
		&.runner4{top: 12.61rem;left: .94rem;}
		&.runner3{top: 15.72rem;left: .94rem;}
		&.runner5{top: 18.83rem;left: .94rem;}
		&.runner9{top: 21.95rem;left: .94rem;}
		&.runner1{top: 8.63rem;left: 3.64rem;}
		&.runner7{top: 11.62rem;left: 3.64rem;}
		&.runner6{top: 14.63rem;left: 3.64rem;}
		&.runner8{top: 17.75rem;left: 3.64rem;}
		&.runner10{top: 20.86rem;left: 3.64rem;}
		&.runner11{top: 23.90rem;left: 3.64rem;}
	}
}
.pop_win{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.7);.c;.white;
	.win_content{.w(4.42rem);.h(5.3rem);.bgc(#730d8b);.border-r(.08rem);.pa;
		left: 50%;top: 50%;margin-top: -2.65rem;margin-left: -2.21rem;
		.close_btn{.pa;top: -.50rem;right: -.56rem;
			img{.block;.w(.56rem);.h(.56rem);}
		}
	}
	h3{.f(.36rem);.l(1.2rem);}
	table{border-collapse: collapse;.w(3.1rem);.auto;
		td{.c;padding: .06rem;vertical-align: middle;
			&:first-child{.f(.44rem);.fb;font-style: italic;}
		}
	}
	.focus_label{.fc(#ffcae1);.f(.2rem);.l(.48rem);.mt(.2rem);.block;vertical-align: middle;
		input{vertical-align: middle;padding: 0;margin: 0;margin-left: .05rem;.w(.20rem);.h(.20rem);.border-r(0);border:1px solid #ffcae1;background: #730d8b; }
	}
	.head_icon{vertical-align: middle; .w(.66rem);.h(.66rem);.border-r(50%);border: .03rem solid #994eaa;}
	.i_block_f{.i_block;vertical-align: middle;}
	.go_to_get{.i_block;vertical-align: middle;.w(2.46rem);.h(.48rem);.l(.48rem);.f(.28rem);.fc(#470157);.fb;.border-r(.03rem);.bgc(#fcff00);}
	.btn_wrapper{.mt(.3rem);}
	
}