@import "wx-rem.less";

body{.bgc(#f8f8f8);}
li{
	list-style: none;  
}
.doota;
.doota > .list;
.doota > .numBox;

.like-box{
	.bgwhite; .f(.2rem); .border-td9(#dbdbdb); .pt(.3rem); .pl(.2rem);  .clearfix;
	.box-name{ font-weight: normal; .f(.26rem); .mb(.2rem); }
	.item{ .w(1.43rem); .mb(.28rem); .left; .mr(.1rem);
		.a-img{ .block; .w(100%); .pt(130%); background-size: 100%; background-repeat: no-repeat; background-position: center; }
		.title{ .l(.26rem); .mt(.15rem); .mb(.1rem); .h(.5rem); .hidden; }
	}
	.price{.red;}
}

.gap{.h(1.18rem);}
.numBox{
	.mt(.1rem);
	.w(1.6rem);
	.h(.44rem);
	.minus, .plus{
		.w(.44rem);
		.h(.44rem);
		.f(.26rem);
		.l(.44rem);
	}
	.nums{
		.f(.2rem);
		.h(.2rem);
		.pt(.08rem);

	}
}

.cart_null{  .mb(.67rem);
	.auto();
	.c(); 
	.shoppingCart{
		.w(1rem);
		.auto();
		.mt(.7rem);
	}
	.content{
		.f(.36rem);
		.mt(.40rem);
	}
	.goMallButton{
		.auto();
		.w(3.6rem);
		.h(.78rem);
		.border-r();
		.bgc(#ff6699);
		.mt(.6rem);
		.buttonContent{
			.f(.30rem);
			.l(.78rem);
			.fc(#ffffff);
		}
	}
}

.alert{
	.f(.2rem);
	.w(20%);
	.hidden();
	.l(.20rem);
	.h(.20rem);
	.block();
	.ml(.65rem);
	.fc(#b71414);
	.c();
	.pr();
	top:-0.10rem;
}

.cart{
	.header{
		.h(.82rem); 
		.delButton{
			.f(.32rem);
			.fc(#2d91e8);
			.right();.l(.80rem);
			.mr(.40rem);.ml(.30rem);
		}
		.b_red{.right(); .pr(.30rem);.fc(#ee4f4f); .l(.40rem); .h(.40rem);.mt(.20rem); .border-rc(solid);}
	}
	.shopThings{
		.hidden;
		.bgc(#ffffff);
		.mb(.2rem);
		.shop-info{
			.h(1.05rem);
			.ml(.4rem);
			.pr;
			p{
				.fc(#666);
				.pl(.70rem);
				.pt(.42rem);
				.f(.28rem);
				.ellipsis;
				span{
					.fc(#666);
				}

			}
			.select-all{
				.pa();
				left: -0.1rem;
				top: .36rem;
				.w(.44rem);
				.h(.44rem);
			}
			.null{
				background: url("@{pic_url}/images/wap/web/sq/cart/null.png") no-repeat;
				background-size: .44rem;
			}
			.right{
				background: url("@{pic_url}/images/wap/web/sq/cart/right.png") no-repeat;
				background-size: .44rem;
			}
		}
		.singleThing{
			.pr();
			.h(1.8rem);
			.ml(.4rem);
			.select{
				.pa();
				left: -0.20rem;
				top: .53rem;
				padding: .1rem;
				.w(.44rem);
				.h(.44rem);
			}
			.null{
				background: url("@{pic_url}/images/wap/web/sq/cart/null.png") no-repeat;
				background-size: .44rem;
				background-origin: content-box;
			}
			.right{
				background: url("@{pic_url}/images/wap/web/sq/cart/right.png") no-repeat;
				background-size: .44rem;
				background-origin: content-box;
			}
			img{
				.left();
				.w(1.2rem);
				// .h(120*@px);
				.ml(.70rem);
				.mt(.30rem);
			}
			.thingInfo{
				.w(65%);	
				.left();
				.pt(.30rem);
				.pl(.20rem);
				.f(.20rem);
				.thingName{
					.fc(#666);
					.l(.28rem);
					.f(.24rem);
					.hidden();
					.mb(.10rem);
					span{
						.fc(#ff7a9a); .mr(.3rem);
					}
				}
				.secondLine{
					.h(.48rem);
					.thingOther{
						.h(.44rem);
						.l(.44rem);
					}
					//.mt(10*@px);
					.del{
						padding: .2rem;	 .mr(.3rem);				
						// .w(.3rem); 
						.h(.32rem);
						background: url('http://d03.res.meilishuo.net/pic/_o/8b/69/1f5454cff154a4aac727c6dc8908_34_31.cf.png') center center no-repeat;
						background-size: cover;
						background-origin: content-box;
					}
				}
				.thingOther{
					.fc(#999);
					.vm();
					.f(.24rem);
					.i_block();
					.break-all();
				}
				.otherOne{
					.hidden();
				}
				.otherThree{
					.w(50%);
					.h(.44rem);
					.l(.44rem);
					.hidden();
				}
				.otherTwo{
					float: right; .mr(.3rem);
					text-decoration: line-through;
					.hidden();
					.f(.20rem);
				}
				.otherFive{
					.pl(.20rem);
				}
			}
		}
		.lastThing{
			.border-n();
		}
		.shopBt {
			background: #f0edee url("@{pic_url}/images/wap/web/wx/huabian.png") repeat-x;
			.h(.1rem);
		}
		.line{
			 opacity: 0.5;
			 .w(100%);
  			.h(.2rem);
  			.bgc(#eaeaea);
		}
		.bt-main{
			.w(100%);
			.pr;
			.hidden;
			.h(.9rem);.l(0.4rem);
			.shop-num{
				.pl(.30rem);
				.fc(#999);
				.f(.28rem);
			}
			.shop-total{
				.mt(.27rem);
				.fc(#797979);
				.pr(.30rem);
				span{
					.fc(#ff7a9a);
				}
				.f(.28rem);
			}
		}
		.del-all{
			.w(2.05rem);
			.f(.26rem);
			.h(.60rem);
			.auto;
			.mt(.25rem);
			.mb(.25rem);
			.border-r(.1rem);
			.l(.6rem);
			.c;
			.border-1(#999);
			.fc(#a49fa2);
		}
	}
	.shopThings-del{
		.singleThing{
			img, .thingName, .thingOther{
				opacity: 0.5;
			}
			.thingInfo{
				.pr;
				.secondLine{
					.pa;
					right: 0;
					top: .6rem;
				}
			}
		}
	}
	.floatRight{
			.right;
		}
	
	.float_ctrl{ .f(.24rem);
		.h(.98rem);.pf;bottom:1rem;.w(100%);background:rgba(255,255,255,1);border-top:1px solid #e1e1e1;
		.selectAll{
			background: url("@{pic_url}/images/wap/web/sq/cart/null.png") no-repeat left;
			background-size: .44rem;
		}
		.cancleAll{
			background: url("@{pic_url}/images/wap/web/sq/cart/right.png") no-repeat left;
			background-size: .44rem;
		}
		li{
			.left;
			&:nth-child(1){
				.w(17%);.c; .f(.28rem);
				// background: url("@{pic_url}/images/wap/web/sq/cart/right.png") no-repeat left;
				.l(.9rem);
				.ml(.3rem); 
				.pl(.3rem);
			}
			&:nth-child(2){
				.w(39%);
				p{
					&:nth-child(1){
					.fc(#fd6699); .f(.26rem);.mt(.2rem);.mb(.1rem);
					// .l(.6rem);
					}
					&:nth-child(2){
						.f(.2rem);.fc(#b3b3b3);
					}
				}
			}
			&:nth-child(3){
				.w(30%);
				.go_buy_none{
					.bgc(#d1d1d1);
				}
				a{
					.block;.bgc(#ff7a9a);.border-r(.12rem);.fc(#fff);.c;.l(.72rem);.mt(.12rem); .f(.26rem);
				}
			}
		}
	}
}

nav.nav-c{
	.nav-c-new();
}
div.m50{ .h(1rem); }





