@import "wx.less";
body{
	.bgc(@white);
}

.content{
	.w(100%);
	.c;
	.mt(60*@px);
	overflow: hidden;
}

	
ul a{
	.w(25%);
	.left;
}

.title{
	position: relative;


	.txt{
		.bgc(@white);
		position: relative;
		.w(30%);
		.auto;
		z-index: 1000;
	}
}
.english{
		.fc(#ff7a9a);
		.f(20*@px);
		.i_block;
	}

.line{
	height:1px;
	position: absolute;
	top:10px;
	background:#ccc;
	z-index: 0;
	.w(85%);
	.auto;	
	.ml(46*@px);
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}
.class-img,.goods_wall img{
	.w(109*@px);
	.h(109*@px);
	.auto;
	.mb(20*@px);
	.mt(25*@px);
	border-radius:50%;
}
.cover{
	background:rgba(0,0,0,.6);
}
.cover,.cover-1{
	color:white;
	font-size:11px;
	.w(109*@px);
	.h(109*@px);
	.mb(20*@px);
	.mt(25*@px);
	.ml(-54.5*@px);
	.pa;
	line-height:109*@px;
	border-radius:50%;
	z-index:2;
	left:50%;
}
.content a{
	.block;
	.pr;
}
 .class-title{
	.f(24*@px);
	.block;
	.h(24*@px);
	.hidden;
	.fc(#666666);

 }
