@import "wx-rem.less";

body{ .bgc(#fff);}

.tc{.c;}
.c-gray{ .fc(#b2b2b2);}

.warp{ padding: .3rem 0.02rem;   .pt(0); .hidden;
	.cp-item{.w(3.02rem); .h(1.8rem); .f(.26rem); .left; .ml(0.08rem); .mr(0.08rem); .pl(.24rem); box-sizing: border-box;-webkit-box-sizing:border-box; .mt(.3rem); .pr;

		.shop-name{.i_block; .w(75%); text-align: left; .ellipsis; vertical-align: text-bottom; .left;} 
	}

	.cp-top{  .mt(.5rem); .mb(.36rem);  .pr; .fc(#bcbcbc); }
	.price{ .pa; right: .20rem; top: -0.3rem; }
	.num{ font-style: normal; .f(.64rem); }
	.c-gray{ .mb(.07rem); .tr; .pr(.16rem); .vm;}
	.tc{.f(.24rem); .w(3rem); .pr(0);  .pa; left: -0.15rem;  }

	.yellow{ background: url(http://d05.res.meilishuo.net/pic/_o/37/1e/a19368039f8528a07a751703c2e8_302_180.cg.png) no-repeat center center; background-size: contain; 
		.cp-top{
			.fc(#f2b744);
		}
	}

	.red{ background: url(http://d03.res.meilishuo.net/pic/_o/dc/0c/a4a1bc1db8c39b8bf9a507999511_302_180.cf.png) no-repeat center center; background-size: contain; 
		.cp-top{
			.fc(#f86263);
		}
	}

	.gray-store{
		background: url(http://d05.res.meilishuo.net/pic/_o/8a/56/2df604e733167bed1899834c21ab_302_180.ch.png) no-repeat center center; background-size: contain; 

	}
	
	.gray-mls{
		background: url(http://d01.res.meilishuo.net/pic/_o/0b/6e/4e4b25885676330d5896b1cf66d8_302_180.ch.png) no-repeat center center; background-size: contain; 
	}

}

.over-date{ .f(.32rem); border-top: 1px solid #cccccc; .fc(#999);
	.w(5.38rem);  margin: .45rem auto; .mt(.58rem); .pr;

	.title{ .i_block; .pa; left: 50%; top: -0.15rem;  .c;
		transform:translateX(-50%);
		-ms-transform:translateX(-50%);/* IE 9 */
		-moz-transform:translateX(-50%);	/* Firefox */
		-webkit-transform:translateX(-50%);/* Safari 和 Chrome */
		-o-transform:translateX(-50%); 	/* Opera */ 
		.bgc(#fff); .w(2.05rem); .h(.3rem); 
	}
}



.quanshow{
    .w(2.4rem);
    .h(2.4rem);
    margin: 47vh 2rem 0;
    -webkit-transform: translate(0,-50%);
    background: url(http://d05.res.meilishuo.net/pic/_o/09/6d/7256426b8587abc7f23b4d8ec0ea_205_200.cg.png) no-repeat;
    background-size: contain;
}

nav.nav-c{
    .nav-c-new();
}